<template>
  <div>
    <section class="section is-main-section">
      <server-table-component
        ref="table"
        :row-class="setRowStateStyle"
        :data-url="getBasePath"
        :locale="$i18n.locale"
        :selectable="true"
        v-bind="tableDefs"
        :custom-headers="true"
        :selected.sync="selected"
        @cleanFilters="cleanAllFilters"
        @before-form-open="cleanForm()"
        @checkedRows="checkedRows"
        @update:selected="(v) => $emit('selected-results', v)"
        @open-column-filter="showFilterForm"
        @container-contextmenu="
          (ev) => {
            if (ev) ev.preventDefault()
            rowInCtx = null
            ctxOpen = !ctxOpen
          }
        "
        @contextmenu="
          (ev, row) => {
            if (ev) ev.preventDefault()
            if (row.requestState === 3) showDelete = false
            else showDelete = true
            rowInCtx = row
            ctxOpen = !ctxOpen
          }
        "
      >
        <template #right-extra-header-content>
          <b-tooltip
            type="is-primary"
            :label="$t('filter')"
            size="is-small"
            class="filter-button"
          >
            <b-button
              class="table-buttons"
              :rounded="true"
              :outlined="true"
              icon-left="filter"
              type="is-primary is-light"
              @click="showFilterForm"
            >
              <span v-show="filtersCount > 0" class="filter-badge">{{
                filtersCount
              }}</span>
            </b-button>
          </b-tooltip>
        </template>
        <template #extra-row-buttons="record">
          <b-tooltip
            type="is-primary"
            :label="$t('editButton')"
            position="is-top"
          >
            <b-button
              v-if="record.record.createdBy === $auth.$state.user.userName"
              class="table-buttons"
              :rounded="true"
              :outlined="false"
              icon-left="pencil"
              type="is-primary"
              size="is-small"
              @click="editRequest(record.record)"
            />
          </b-tooltip>
          <b-tooltip
            v-if="
              (!isSystemAdmin && record.record.requestState !== 3) ||
              (isSystemAdmin && record.record.requestState === 4)
            "
            type="is-danger"
            :label="$t('deleteButton')"
            position="is-top"
          >
            <b-button
              class="table-buttons"
              :rounded="true"
              :outlined="false"
              icon-left="delete"
              type="is-danger"
              size="is-small"
              @click="deleteRequest(record.record)"
            />
          </b-tooltip>
        </template>
      </server-table-component>
      <ctx />
    </section>
  </div>
</template>

<script>
import {
  AdvancedFilterComponent,
  ContentSelectColumnComponent,
  DateColumnComponent,
  MediaVisualizerColumnComponent,
  LargeTextColumnComponent,
  SelectComponent
} from 'premium-tesh-ui-lib'

import contentChannelMixin from '~/mixins/contentChannelMixin'
import genericFiltersMixin from '~/mixins/genericFiltersMixin'
import tableContextMenuMixin from '~/mixins/tableContextMenuMixin'
import utilitiesMixin from '~/mixins/utilitiesMixin'

export default {
  auth: true,
  name: 'ContentChannelRquest',
  mixins: [
    contentChannelMixin,
    genericFiltersMixin,
    utilitiesMixin,
    tableContextMenuMixin
  ],
  middleware: 'guest',
  // eslint-disable-next-line require-await
  async asyncData({ $axios, app }) {
    const result = await $axios.get(`/RequestContentChannel/admin/states`)
    const arr = []
    Object.keys(result.data).forEach((key) => {
      arr.push({
        requestState: result.data[key],
        name: key
      })
    })
    return { requestStates: arr }
  },
  data() {
    return {
      showDelete: true,
      modalAdd: false,
      selected: null,
      requestStates: [],
      tableDefs: {
        vtable: {
          checkable: this.checkable,
          draggable: false,
          headers: [
            {
              text: 'Id',
              value: 'id',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'id'
              }
            },
            {
              text: this.$t('logoLabel'),
              value: 'logoPath',
              align: 'left',
              sortable: false,
              render: {
                type: MediaVisualizerColumnComponent,
                props: {
                  showDisplayButton: true,
                  fallbackMimeType: 'application/x-mpegur',
                  locale: this.$i18n.locale,
                  basePath: `${this.$store.state.APP_BASE_URL}${this.$store.state.API_DATA_PREFIX}`,
                  blankPageUrl: '/media-preview'
                },
                rendervalue: (v) => {
                  return v
                    ? {
                        title: '',
                        media: v,
                        preview: v || undefined
                      }
                    : ''
                }
              },
              filter: {
                useFilter: false
              }
            },
            {
              text: this.$tc('imageLabel'),
              value: 'presentationImagePath',
              align: 'left',
              sortable: false,
              render: {
                type: MediaVisualizerColumnComponent,
                props: {
                  showDisplayButton: true,
                  fallbackMimeType: 'application/x-mpegur',
                  locale: this.$i18n.locale,
                  basePath: `${this.$store.state.APP_BASE_URL}${this.$store.state.API_DATA_PREFIX}`,
                  blankPageUrl: '/media-preview'
                },
                rendervalue: (v) => {
                  return v
                    ? {
                        title: '',
                        media: v,
                        preview: v || undefined
                      }
                    : ''
                }
              },
              filter: {
                useFilter: false
              }
            },
            {
              text: this.$t('nameLabel'),
              value: 'name',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'name'
              }
            },
            {
              text: this.$t('descriptionLabel'),
              value: 'description',
              align: 'left',
              sortable: false,
              render: {
                type: LargeTextColumnComponent,
                props: {
                  showDisplayButton: true,
                  content: this.$t('descriptionLabel'),
                  locale: this.$i18n.locale,
                  textLenght: 30,
                  tooltipPosition: 'is-right'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'description'
              }
            },
            {
              text: this.$t('stateLabel'),
              value: 'requestState',
              align: 'center',
              sortable: true,
              cellClass: 'state-column',
              render: {
                type: ContentSelectColumnComponent,
                props: {
                  optionItems: [],
                  optionId: 'requestState',
                  optionName: 'name',
                  locale: this.$i18n.locale
                },
                events: {
                  'selection-update': (state) => {
                    if (
                      this.selected !== null &&
                      this.selected.requestState !== state &&
                      state !== undefined
                    ) {
                      this.changeState(state)
                      this.selected.requestState = state
                    }
                  }
                }
              },
              filter: {
                useFilter: false
              }
            },
            {
              text: this.$t('createdBy'),
              value: 'createdBy',
              align: 'left',
              sortable: true,
              custom: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'createdBy'
              }
            },
            {
              text: this.$t('createDateTime'),
              value: 'createdDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'createdDate'
              }
            },
            {
              text: this.$t('modifiedBy'),
              value: 'modifiedBy',
              align: 'left',
              sortable: true,
              custom: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'modifiedBy'
              }
            },
            {
              text: this.$t('modifyDateTime'),
              value: 'modifiedDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'modifiedDate'
              }
            },
            {
              text: this.$t('actions'),
              value: '',
              fixed: true,
              tdAttrs: this.addAttrs,
              sortable: false,
              cellClass: 'actions-column',
              action: true,
              filter: {
                useFilter: false
              }
            }
          ]
        },
        vbtn: {
          create: {
            show: true,
            type: 'is-info is-light',
            icon: 'plus',
            tooltip: this.$t('create', { element: '' }),
            tooltipType: 'is-info',
            props: {
              rounded: true,
              outlined: true,
              class: 'table-buttons'
            }
          }
        },
        vicon: {
          roundedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          edit: {
            show: false,
            name: 'pencil',
            type: 'is-primary',
            tooltip: {
              label: this.$t('edit', { element: this.$t('requestSimp') }),
              type: 'is-primary',
              position: 'is-top'
            }
          },
          delete: {
            show: false,
            name: 'delete',
            type: 'is-danger',
            tooltip: {
              label: this.$t('delete', { element: this.$t('requestSimp') }),
              type: 'is-danger',
              position: 'is-left'
            }
          }
        },
        title: this.$t('cardTitle'),
        modalTitle: this.$t('cardTitle'),
        headerIcon: 'movie-edit',
        findOneUrl: '/RequestContentChannel',
        deleteUrl: '/RequestContentChannel',
        createUrl: '/RequestContentChannel',
        updateUrl: '/RequestContentChannel',
        form: {}
      },
      filterForm: {},
      filters: '',
      filtersConstants: {
        Id: 'id',
        Name: 'name',
        Description: 'description',
        OwnerId: 'ownerId',
        CreatedDate: 'createdDate',
        ModifiedDate: 'modifiedDate',
        Ranking: 'ranking',
        ChannelExclusiveBandwidth: 'channelExclusiveBandwidth'
      },
      filtersCount: 0,
      reload: false,
      isAvailableShare: false,
      checkedRowsItems: [],
      stateField: {
        type: SelectComponent,
        default: 1,
        'field-wrapper': { class: 'is-12' },
        'field-input': {
          isRequired: true,
          label: this.$t('stateLabel'),
          expanded: true,
          placeholder: this.$t('placeholderSelect', {
            key: this.$t('stateLabel').toLowerCase()
          }),
          optionId: 'requestState',
          optionName: 'name',
          optionItems: []
        }
      },
      vbtnForm: {
        close: {
          icon: 'close',
          label: this.$t('closeButton'),
          props: {
            outlined: true
          },
          show: true
        },
        save: {
          icon: 'content-save',
          label: this.$t('saveButton'),
          props: {
            type: 'is-primary',
            outlined: false
          },
          show: true
        }
      }
    }
  },
  head() {
    return {
      title: this.$config.appName
    }
  },
  computed: {
    titleStack() {
      return ['Admin', 'Tables']
    },
    getBasePath() {
      return this.reload
        ? ''
        : this.filters !== ''
        ? this.isSystemAdmin
          ? `/RequestContentChannel/admin?filters=${this.filters}`
          : `/RequestContentChannel?filters=${this.filters}`
        : this.isSystemAdmin
        ? `/RequestContentChannel/admin`
        : `/RequestContentChannel`
    },
    requestForm() {
      return Object.assign({}, this.Form, {
        requestState: this.stateField
      })
    },
    ctxOptions() {
      const opt = [
        { id: 'add', icon: 'plus', name: this.$t('addButton') },
        { id: 'edit', icon: 'pencil', name: this.$t('editButton') },
        { id: 'delete', icon: 'trash-can', name: this.$t('deleteButton') }
      ]

      return this.rowInCtx
        ? !this.showDelete
          ? opt.slice(0, 2)
          : opt
        : opt.slice(0, 1)
    }
  },
  watch: {
    imageLogo(newVal) {
      if (
        ((!this.imageLogo && !this.imageLogoUploaded) ||
          (this.imageLogo && this.imageLogoUploaded)) &&
        ((!this.imagePresentation && !this.imagePresentationUploaded) ||
          (this.imagePresentation && this.imagePresentationUploaded))
      ) {
        this.vbtnForm.save.show = true
      } else this.vbtnForm.save.show = false
    },
    imageLogoUploaded(newVal) {
      if (
        ((!this.imageLogo && !this.imageLogoUploaded) ||
          (this.imageLogo && this.imageLogoUploaded)) &&
        ((!this.imagePresentation && !this.imagePresentationUploaded) ||
          (this.imagePresentation && this.imagePresentationUploaded))
      ) {
        this.vbtnForm.save.show = true
      } else this.vbtnForm.save.show = false
    },
    imagePresentation(newVal) {
      if (
        ((!this.imageLogo && !this.imageLogoUploaded) ||
          (this.imageLogo && this.imageLogoUploaded)) &&
        ((!this.imagePresentation && !this.imagePresentationUploaded) ||
          (this.imagePresentation && this.imagePresentationUploaded))
      ) {
        this.vbtnForm.save.show = true
      } else this.vbtnForm.save.show = false
    },
    imagePresentationUploaded(newVal) {
      if (
        ((!this.imageLogo && !this.imageLogoUploaded) ||
          (this.imageLogo && this.imageLogoUploaded)) &&
        ((!this.imagePresentation && !this.imagePresentationUploaded) ||
          (this.imagePresentation && this.imagePresentationUploaded))
      ) {
        this.vbtnForm.save.show = true
      } else this.vbtnForm.save.show = false
    }
  },
  created() {
    this.filterForm = Object.assign({}, this.FilterFormCChannel)
    // Assign request states values
    this.assignRquestStates(this.requestStates)

    if (!this.isSystemAdmin) {
      // Delete untouchable fields
      delete this.filterForm.ContentChannelFilter.fields.OwnerId
      delete this.tableDefs.vtable.headers[5].render
      this.tableDefs.vtable.headers[5].rendervalue = (v) => {
        const arr = this.requestStates.filter((item) => item.requestState === v)
        return (arr[0] && arr[0].name) || v
      }
    }
    this.tableDefs.form = this.requestForm
    if (!this.isSystemAdmin) {
      this.requestForm.requestState['field-wrapper'].style = 'display: none'
    }
  },
  methods: {
    addAttrs(row, column) {
      if (column.label === this.$t('actions')) {
        if (
          row.createdBy !== this.$auth.$state.user.userName ||
          (!this.isSystemAdmin && row.requestState !== 3) ||
          (this.isSystemAdmin && row.requestState === 4)
        ) {
          return {
            style: { 'content-visibility': 'hidden' }
          }
        }
      }
      return null
    },
    showFilterForm(field) {
      const ffield = field && field.useFilter ? field : null
      this.assignColumnFilterForm(ffield)

      this.$buefy.modal.open({
        parent: this,
        component: AdvancedFilterComponent,
        props: {
          form: ffield ? ffield.filterForm : this.filterForm,
          isInModal: true,
          filterType: 'audioStream',
          stickyInside: true,
          locale: this.$i18n.locale,
          cardTitle: this.$t('cardTitle'),
          cardSubtitle: this.$t('filter'),
          enableAdvancedSearch: false,
          modalWidth: ffield ? 500 : 850,
          simpleMode: !!ffield,
          utc: true
        },
        events: {
          'filters-updated': this.updateFilters,
          'count-results': (q) => this.countResults(q, this.getBasePath),
          'filters-count': (v) => (this.filtersCount = v)
        },
        hasModalCard: true,
        destroyOnHide: true,
        trapFocus: true
      })
    },
    checkedRows(val) {
      this.checkedRowsItems = val
      if (this.checkedRowsItems.length !== 0) {
        this.isAvailableShare = true
      } else {
        this.isAvailableShare = false
      }
    },
    assignRquestStates(data) {
      if (data && data.length)
        data.forEach((key) => {
          key.name = this.$t(key.name)
          if (this.tableDefs.vtable.headers[5].render)
            this.tableDefs.vtable.headers[5].render.props.optionItems.push(key)
          this.stateField['field-input'].optionItems.push(key)
        })
    },
    changeState(state) {
      const record = {
        requestId: this.selected.id,
        requestState: state
      }
      this.$axios
        .put(
          `/RequestContentChannel/admin/state?requestId=${record.requestId}&requestState=${record.requestState}`,
          record
        )
        .then((result) => {
          this.$buefy.toast.open({
            message: this.$t('changeStated'),
            type: 'is-success'
          })
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err && err.data ? err.data.message : 'Error',
            type: 'is-danger'
          })
        })
    },
    setRowStateStyle(row) {
      switch (row.requestState) {
        case 1:
          return 'state-is-info'
        case 2:
          return 'state-is-warning'
        case 3:
          return 'state-is-success'
        case 4:
          return 'state-is-danger'
      }
    },
    cleanAllFilters() {
      this.reload = true
      this.filters = ''
      setTimeout(() => {
        this.reload = false
      }, 1000)
      this.filtersCount = 0
    },
    deleteRequest(record) {
      this.$refs.table.deleteRecord(
        record[this.$refs.table.idName],
        record[this.$refs.table.rowName]
      )
    },
    editRequest(record) {
      this.$refs.table.formOpen(record[this.$refs.table.idName])
    },
    handleCtxMenuClicked(option, record) {
      if (option) {
        if (option.id === 'add') this.$refs.table.formOpen(null)
        else if (option.id === 'delete' && record) {
          this.$refs.table.deleteRecord(
            record[this.$refs.table.idName],
            record[this.$refs.table.rowName]
          )
        } else if (option.id === 'edit' && record) {
          this.$refs.table.formOpen(record[this.$refs.table.idName])
        }
      }
    },
    cleanForm() {
      this.tableDefs.form.id.value = ''
      this.tableDefs.form.logoPath.value = ''
      this.tableDefs.form.presentationImagePath.value = ''
      this.tableDefs.form.name.value = ''
      this.tableDefs.form.description.value = ''
    }
  }
}
</script>
<i18n>
{
  "en": {
    "cardTitle": "Channel creation requests",
    "nameLabel": "Name",
    "descriptionLabel": "Description",
    "stateLabel": "State",
    "rankingLabel": "Ranking",
    "channelExclusiveBandwidthLabel": "Exclusive Bandwidth",
    "ownerIdLabel": "Owner",
    "subscribeNotify": "subscribe notification | subscribe notifications",
    "selectChannel": "Select Content Channel",
    "changeStated" : "Changed status",
    "approved" : "Approved",
    "rejected" : "Rejected",
    "requestSimp": "Request",
    "Created": "Created",
    "Pending": "Pending",
    "Approved": "Approved",
    "Denied": "Denied"
  },
  "es": {
    "cardTitle": "Solicitudes de creación de Canales",
    "nameLabel": "Nombre",
    "descriptionLabel": "Descripción",
    "stateLabel": "Estado",
    "rankingLabel": "Ranking",
    "channelExclusiveBandwidthLabel": "Ancho de Banda Exclusivo",
    "ownerIdLabel": "Propietario",
    "subscribeNotify": "notificacion de suscripción | notificaciones de suscripción",
    "selectChannel": "Seleccione un Canal de Contenido",
    "changeStated" : "Estado cambiado",
    "approved" : "Aprobado",
    "rejected" : "Rechazado",
    "requestSimp": "Solicitud",
    "Created": "Creada",
    "Pending": "Pendiente",
    "Approved": "Aprobada",
    "Denied": "Denegada"
  }
}
</i18n>
