<template>
  <div>
    <section class="section is-main-section">
      <server-table-component
        ref="table"
        :data-url="getBasePath"
        :locale="$i18n.locale"
        v-bind="tableDefs"
        :modal-width="500"
        :custom-headers="true"
        @cleanFilters="cleanAllFilters"
        @open-column-filter="showFilterForm"
        @container-contextmenu="
          (ev) => {
            if (ev) ev.preventDefault()
            rowInCtx = null
            ctxOpen = !ctxOpen
          }
        "
        @contextmenu="
          (ev, row) => {
            if (ev) ev.preventDefault()
            rowInCtx = row
            ctxOpen = !ctxOpen
          }
        "
      >
        <template #extra-row-buttons="record">
          <div
            class="columns is-gapless is-mobile"
            style="display: inline-flex"
          >
            <b-tooltip
              type="is-primary"
              :label="$t('editButton')"
              position="is-top"
            >
              <b-button
                class="table-buttons"
                :rounded="true"
                :outlined="false"
                icon-left="pencil"
                type="is-primary"
                size="is-small"
                @click="editCchannelSM(record.record)"
              />
            </b-tooltip>
            <b-tooltip
              type="is-danger"
              :label="$t('deleteButton')"
              position="is-top"
            >
              <b-button
                class="table-buttons"
                :rounded="true"
                :outlined="false"
                icon-left="delete"
                type="is-danger"
                size="is-small"
                @click="deleteCchannelSM(record.record)"
              />
            </b-tooltip>
            <b-tooltip type="is-white" :label="$t('goTo')" size="is-small">
              <b-button
                tag="a"
                :href="record.record.socialMediaAccount"
                class="table-buttons"
                :rounded="true"
                :outlined="false"
                icon-left="arrow-right-top"
                type="is-white"
              />
            </b-tooltip>
          </div>
        </template>
        <template #right-extra-header-content>
          <b-tooltip
            type="is-primary"
            :label="$t('filter')"
            size="is-small"
            class="filter-button"
          >
            <b-button
              class="table-buttons"
              :rounded="tableDefs.vbuttons.roundedButtons"
              :outlined="tableDefs.vbuttons.outlinedButtons"
              icon-left="filter"
              type="is-primary is-light"
              @click="showFilterForm"
            >
              <span v-show="filtersCount > 0" class="filter-badge">{{
                filtersCount
              }}</span>
            </b-button>
          </b-tooltip>
        </template>
      </server-table-component>
      <ctx />
    </section>
  </div>
</template>

<script>
import {
  DynamicForm,
  AdvancedFilterComponent,
  DateColumnComponent,
  IconColumnComponent,
  TYPE_FULLDATETIME,
  TYPE_TEXT,
  UrlComponent
} from 'premium-tesh-ui-lib'

import tableContextMenuMixin from '~/mixins/tableContextMenuMixin'
import genericFiltersMixin from '~/mixins/genericFiltersMixin'

export default {
  name: 'ChannelSocialMedias',
  mixins: [genericFiltersMixin, tableContextMenuMixin],
  middleware: 'guest',
  data() {
    return {
      reload: false,
      tableDefs: {
        vtable: {
          draggable: false,
          headers: [
            {
              text: 'Id',
              value: 'id',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'id'
              }
            },
            {
              text: this.$t('iconLabel'),
              value: 'socialMediaIcon',
              align: 'left',
              sortable: true,
              render: {
                type: IconColumnComponent,
                props: {
                  iconname: ''
                }
              },
              filter: {
                useFilter: false
              }
            },
            {
              text: this.$t('nameLabel'),
              value: 'socialMediaName',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'socialMediaName'
              }
            },
            {
              text: this.$t('accountLabel'),
              value: 'account',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'account'
              }
            },
            {
              text: this.$t('createdBy'),
              value: 'createdBy',
              align: 'left',
              sortable: true,
              custom: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'createdBy'
              }
            },
            {
              text: this.$t('createDateTime'),
              value: 'createdDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'createdDate'
              }
            },
            {
              text: this.$t('modifiedBy'),
              value: 'modifiedBy',
              align: 'left',
              sortable: true,
              custom: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'modifiedBy'
              }
            },
            {
              text: this.$t('modifyDateTime'),
              value: 'modifiedDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'modifiedDate'
              }
            },
            {
              text: this.$t('actions'),
              value: '',
              fixed: true,
              sortable: false,
              cellClass: 'actions-column',
              action: true,
              filter: {
                useFilter: false
              }
            }
          ]
        },
        vicon: {
          roundedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          edit: {
            show: false,
            name: 'pencil',
            type: 'is-primary',
            tooltip: {
              label: this.$t('editButton'),
              type: 'is-primary',
              position: 'is-top'
            }
          },
          delete: {
            show: false,
            name: 'delete',
            type: 'is-danger',
            tooltip: {
              label: this.$t('deleteButton'),
              type: 'is-danger',
              position: 'is-top'
            }
          }
        },
        vbtn: {
          create: {
            show: false
          }
        },
        vbuttons: {
          roundedButtons: true,
          outlinedButtons: false,
          size: 'is-small',
          class: 'table-buttons',
          buttons: [
            {
              show: true,
              type: 'is-white',
              icon: 'arrow-right-top',
              tooltip: {
                label: this.$t('goTo'),
                type: 'is-white',
                position: 'is-top'
              }
            }
          ]
        },
        rowName: 'account',
        title: this.$t('cardTitle'),
        modalTitle: this.$t('cardTitle'),
        editModalTitle: this.$t('cardTitle'),
        headerIcon: 'web',
        updateUrl: '/RequestContentChannel',
        createUrl: '/RequestContentChannel',
        form: {
          id: {
            type: null,
            'field-wrapper': { style: 'display: none' },
            'field-input': {
              isRequired: false
            }
          },
          account: {
            type: UrlComponent,
            value: '',
            default: '',
            'field-wrapper': { class: 'is-12' },
            'field-input': {
              label: this.$t('accountLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('accountLabel').toLowerCase()
              })
            }
          }
        }
      },
      vrowButtons: {
        roundedButtons: true,
        outlinedButtons: false,
        size: 'is-small',
        class: 'table-buttons',
        buttons: []
      },
      filterForm: {
        SocialMediaFilter: {
          title: this.$t('cardTitle'),
          icon: 'web',
          fields: {
            Id: {
              fieldType: TYPE_TEXT,
              label: 'Id',
              placeholder: this.$t('placeholder', {
                key: 'id'
              }),
              activeOperator: '=='
            },
            SocialMediaName: {
              fieldType: TYPE_TEXT,
              label: this.$t('socialMediaLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('socialMediaLabel').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            Account: {
              fieldType: TYPE_TEXT,
              label: this.$t('accountLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('accountLabel').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            }
          }
        },
        UsersFilter: {
          title: this.$t('users'),
          icon: 'account-group',
          form: {
            CreatedBy: {
              fieldType: TYPE_TEXT,
              label: this.$t('createdBy'),
              placeholder: this.$t('placeholder', {
                key: this.$t('createdBy').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            ModifiedBy: {
              fieldType: TYPE_TEXT,
              label: this.$t('modifiedBy'),
              placeholder: this.$t('placeholder', {
                key: this.$t('modifiedBy').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            }
          }
        },
        DatesFilter: {
          title: this.$tc('date', 2),
          icon: 'calendar',
          form: {
            CreatedDate: {
              fieldType: TYPE_FULLDATETIME,
              label: this.$t('createDateTime'),
              placeholder: this.$t('placeholder', {
                key: this.$t('createDateTime').toLowerCase()
              }),
              value: null
            },
            ModifiedDate: {
              fieldType: TYPE_FULLDATETIME,
              label: this.$t('modifyDateTime'),
              placeholder: this.$t('placeholder', {
                key: this.$t('modifyDateTime').toLowerCase()
              }),
              value: null
            }
          }
        }
      },
      filters: '',
      filtersConstants: {
        Id: 'id',
        SocialMediaName: 'socialMediaName',
        Account: 'account',
        CreatedDate: 'createdDate',
        ModifiedDate: 'modifiedDate'
      },
      filtersCount: 0,
      socialMediaSelect: false
    }
  },
  head() {
    return {
      title: this.$config.appName
    }
  },
  computed: {
    titleStack() {
      return ['Admin', 'Tables']
    },
    getBasePath() {
      return this.reload
        ? ''
        : this.filters !== ''
        ? `ContentChannelSocialMedia?filters=${this.filters}`
        : `ContentChannelSocialMedia`
    },
    isAdmin({ app }) {
      return app.store.getters.userIsAdmin
    },
    ctxOptions() {
      const opt = [
        { id: 'edit', icon: 'pencil', name: this.$t('editButton') },
        { id: 'delete', icon: 'trash-can', name: this.$t('deleteButton') },
        { id: 'goTo', icon: 'arrow-right-top', name: this.$t('goTo') }
      ]
      return this.rowInCtx ? opt : []
    }
  },
  methods: {
    showFilterForm(field) {
      const ffield = field && field.useFilter ? field : null
      this.assignColumnFilterForm(ffield)

      this.$buefy.modal.open({
        parent: this,
        component: AdvancedFilterComponent,
        props: {
          form: ffield ? ffield.filterForm : this.filterForm,
          isInModal: true,
          filterType: 'audioStream',
          stickyInside: true,
          locale: this.$i18n.locale,
          cardTitle: this.$t('cardTitle'),
          cardSubtitle: this.$t('filter'),
          enableAdvancedSearch: false,
          modalWidth: ffield ? 500 : 850,
          simpleMode: !!ffield,
          utc: true
        },
        events: {
          'filters-updated': this.updateFilters,
          'count-results': (q) => this.countResults(q, this.getBasePath),
          'filters-count': (v) => (this.filtersCount = v)
        },
        hasModalCard: true,
        destroyOnHide: true,
        trapFocus: true
      })
    },
    handleCtxMenuClicked(option, record) {
      if (option && this.$refs.table) {
        if (option.id === 'add') this.$refs.table.formOpen(null)
        else if (option.id === 'edit' && record) this.editCchannelSM(record)
        else if (option.id === 'delete' && record) this.deleteCchannelSM(record)
        else if (option.id === 'goTo' && record)
          window.location.href = record.socialMediaAccount
      }
    },
    editCchannelSM(record) {
      this.tableDefs.form.id.default = record.id
      this.tableDefs.form.account.default = record.account
      this.$buefy.modal.open({
        parent: this,
        component: DynamicForm,
        props: {
          form: this.tableDefs.form,
          cardTitle: this.$t('cardTitle'),
          cardSubtitle: this.$t('editButton'),
          preventSubmit: true,
          isInModal: true,
          cardWidth: 700,
          locale: this.$i18n.locale,
          closeOnSubmit: false
        },
        events: {
          onSubmit: (values, parent) => {
            this.$axios
              .put(
                `contentchannel/${record.contentChannelId}/ContentChannelSocialMedia`,
                {
                  id: values.id,
                  account: values.account
                }
              )
              .then(() => {
                this.reload = true
                parent.close()
                this.$buefy.toast.open({
                  message: this.$t('editSuccess'),
                  type: 'is-success'
                })
                setTimeout(() => {
                  this.reload = false
                }, 1000)
              })
              .catch((err) => {
                this.toastError(err)
              })
          }
        },
        hasModalCard: true,
        trapFocus: true,
        canCancel: ['escape', 'x']
      })
    },
    deleteCchannelSM(record) {
      this.$refs.table.$refs.cdialog.confirm({
        title: this.$t('cardTitle'),
        subtitle: this.$t('delete', { element: '' }),
        message: this.$t('confirmMssg'),
        type: 'is-danger',
        cancelText: this.$t('cancelButton'),
        confirmText: this.$t('deleteButton'),
        onConfirm: () => {
          this.$axios
            .delete(
              `contentchannel/${record.contentChannelId}/ContentChannelSocialMedia/${record.id}`
            )
            .then(() => {
              this.reload = true
              this.$buefy.toast.open({
                message: this.$t('deleteSuccess'),
                type: 'is-success'
              })
              setTimeout(() => {
                this.reload = false
              }, 1000)
            })
            .catch((err) => {
              this.toastError(err)
            })
        }
      })
    },
    cleanAllFilters() {
      this.reload = true
      this.filters = ''
      setTimeout(() => {
        this.reload = false
      }, 1000)
      this.filtersCount = 0
    }
  }
}
</script>
<i18n>
{
  "en": {
    "cardTitle": "Social Media Profiles",
    "nameLabel": "Name",
    "iconLabel": "Icon",
    "propertiesLabel": "Properties",
    "isActiveLabel": "Active",
    "accountLabel": "Account",
    "socialMediaLabel": "Social Media"
  },
  "es": {
    "cardTitle": "Perfiles de Redes Sociales",
    "nameLabel": "Nombre",
    "iconLabel": "Ícono",
    "propertiesLabel": "Propiedades",
    "isActiveLabel": "Activo",
    "accountLabel": "Cuenta",
    "socialMediaLabel": "Red Social"
  }
}
</i18n>
