<template>
  <div style="height: 100%">
    <section class="section is-main-section channel-view backimg">
      <b-loading
        v-model="loading"
        :is-full-page="false"
        :can-cancel="false"
      ></b-loading>
      <div class="columns is-multiline">
        <c-channel-portait
          :show-suscribe-button="false"
          :content-channel="contentChannel"
          class="column"
        >
          <template #top-contents>
            <div class="channel-detail-shadowed">
              <b-image
                :src="
                  presentationImgErr
                    ? require('@/static/noimage.jpg')
                    : parseServerURL(contentChannel.presentationImagePath)
                "
                class="image-overlay has-text-light"
                placeholder=".png"
                :lazy="true"
                ratio="37by6"
                @error="presentationImgErr = true"
              ></b-image>
            </div>
          </template>
          <template v-if="loggedIn" #admin-extra-content>
            <!-- For channel admins with permissions -->
            <b-button
              v-if="
                permissions.includes('DomainAdmin') ||
                permissions.includes('ContentChannel') ||
                permissions.includes('ContentChannelUpdate')
              "
              style="align-self: center; cursor: pointer"
              position="is-right"
              type="is-info is-light"
              icon-left="pencil"
              class="ml-1 icon-only"
              :class="{ 'expand-hover': !isMobileOrTablet }"
              @click.stop="updateChannel(contentChannel.id)"
              >{{ $t('edit', { element: $tc('channelLabel') }) }}</b-button
            >
            <b-button
              v-if="
                permissions.includes('DomainAdmin') ||
                permissions.includes('ContentChannelDelete')
              "
              style="align-self: center; cursor: pointer"
              position="is-right"
              type="is-danger is-light"
              icon-left="trash-can-outline"
              class="ml-1 icon-only"
              :class="{ 'expand-hover': !isMobileOrTablet }"
              @click.stop="deleteChannel(contentChannel.id)"
              >{{ $t('delete', { element: $tc('channelLabel') }) }}</b-button
            >
          </template>
        </c-channel-portait>
        <!-- CChannel contents Section -->
        <div class="column is-12 is-channel-section">
          <edition-tabs
            :content-channel="contentChannel"
            :permissions="permissions"
            :rtmp-destinations="rtmpDestinations"
          />
        </div>
      </div>
    </section>
    <custom-dialog ref="cdialog" />
  </div>
</template>

<script>
import { CheckboxPicker } from 'premium-tesh-ui-lib'

import CChannelPortait from '~/components/ContentChannelTabs/CChannelPortait.vue'
import EditionTabs from '~/components/ContentChannelTabs/EditionTabs.vue'
import utilitiesMixin from '~/mixins/utilitiesMixin'

export default {
  auth: true,
  name: 'ContentChannelView',
  components: {
    EditionTabs,
    CChannelPortait
  },
  mixins: [utilitiesMixin],
  middleware: 'guest',
  // eslint-disable-next-line require-await
  async asyncData({ params, $axios, app }) {
    const contentChannel = await $axios
      .get(`/ContentChannel/` + params.id)
      .catch(() => {
        app.router.go(-1)
      })

    let permissions = []
    await $axios
      .get(`/contentchannel/${params.id}/ContextedRole/user`)
      .then((response) => {
        permissions = response.data.permissions
        if (
          !permissions.includes('DomainAdmin') &&
          !permissions.includes('ContentChannel') &&
          !permissions.includes('ContentChannelUpdate') &&
          !permissions.includes('ContentChannelConfigAllow') &&
          !permissions.includes('ContentChannelConfig') &&
          !permissions.includes('ContentChannelDelete')
        )
          app.router.push('/forbidden')
      })
      .catch(() => {
        app.router.go(-1)
      })

    let rtmpDestinations = []
    await $axios
      .get('/RtmpDestination?PageSize=100')
      .then((response) => {
        rtmpDestinations = [...response.data.results]
      })
      .catch(() => {
        app.router.go(-1)
      })

    return {
      contentChannel: contentChannel.data,
      permissions,
      rtmpDestinations
    }
  },
  data() {
    return {
      isTextExpanded: true,
      contentChannel: {},
      numberSuscribers: 0,
      itemsRecent: [],
      isShareActive: false,
      currentCategories: [],
      showLiveTV: true,
      showLiveRadio: true,
      activeDisLike: false,
      activeLike: false,
      valorationOff: false,
      categoryLoading: false,
      publicationLoading: false,
      disableSubscription: false,
      hideSubscription: false,
      subscribed: false,
      loading: false,
      presentationImgErr: false,
      logoImgErr: false,
      contentChannelConfig: {
        type: CheckboxPicker,
        default: [],
        'field-wrapper': {
          class: 'is-12 group-is-block'
        },
        'field-input': {
          label: this.$tc('permission', 2),
          horizontal: false,
          options: {
            allowVisualizeComments: this.$t('allow', {
              key: this.$tc('comment', 2).toLowerCase()
            }),
            allowVisualizeLikes: this.$t('allow', { key: 'likes' }),
            allowVisualizeSubscribe: this.$t('allow', {
              key: this.$tc('subscribe', 2)
            }),
            allowVisualizeSubscribeNotifications: this.$t('allow', {
              key: this.$tc('subscribeNotify', 2)
            })
          }
        },
        save: (v) => {
          return {
            allowVisualizeLikes: v.length && v.includes('allowVisualizeLikes'),
            allowVisualizeComments:
              v.length && v.includes('allowVisualizeComments'),
            allowVisualizeSubscribe:
              v.length && v.includes('allowVisualizeSubscribe'),
            allowVisualizeSubscribeNotifications:
              v.length && v.includes('allowVisualizeSubscribeNotifications')
          }
        }
      }
    }
  },
  computed: {
    publicationUrl() {
      return `/contentchannel/${this.contentChannel.id}/Publication`
    },
    liveTvUrl() {
      return `${this.publicationUrl}?filters=mediaType==1,streamType==0`
    },
    liveRadioUrl() {
      return `${this.publicationUrl}?filters=mediaType==0,streamType==0`
    },
    hasRecents() {
      return !this.categoryLoading ? this.itemsRecent.length : true
    }
  },
  methods: {
    updateChannel(id) {
      this.$store.commit('updateCChannelOnEdition', this.contentChannel)
      this.$router.push(`/contentChannel/new-edit/${id || ''}`)
    },
    deleteChannel(id) {
      this.$refs.cdialog.confirm({
        title: this.$tc('channelLabel'),
        subtitle: this.$t('deleteButton'),
        message: this.$t('confirmDelete', {
          key: this.contentChannel.name
        }),
        cancelText: this.$t('cancelButton'),
        confirmText: this.$t('deleteButton'),
        type: 'is-danger',
        onConfirm: () => {
          this.$axios
            .delete(`ContentChannel/${id}`)
            .then((response) => {
              this.$buefy.toast.open({
                message: this.$t('deleteSuccess'),
                type: 'is-success'
              })
              this.$router.push('/contentChannel/mine')
            })
            .catch((err) => {
              this.toastError(err)
            })
        }
      })
    }
  }
}
</script>
<i18n>
{
  "en": {
    "subscribeNotify": "subscribe notification | subscribe notifications",
    "unsubscribeSuccess": "Subscription canceled",
    "subscribed": "Subscription completed",
    "confirmUnsuscribe": "Do you want to unsubscribe?",
    "subscribers": "No suscribers yet | 1 suscriber | {n} suscribers"
  },
  "es": {
    "subscribeNotify": "notificación de suscripción | notificaciones de suscripción",
    "unsubscribeSuccess": "Suscripción cancelada",
    "subscribed": "Suscripción completada",
    "confirmUnsuscribe": "¿Quiere cancelar su suscripción?",
    "subscribers": "Ningún suscriptor | 1 suscriptor | {n} suscriptores"
  }
}
</i18n>
