<template>
  <div style="height: 100%">
    <section class="section is-main-section channel-view backimg">
      <div class="columns is-multiline is-flex">
        <div class="column is-8 is-inline-flex align-items-bottom">
          <p class="title is-text-white is-3 pt-2">
            {{ $t('myChannels') }}
          </p>
        </div>
        <div class="p-3 column is-4 is-flex" style="align-items: end">
          <text-searcher @search="(t) => (searchText = t)" />
          <div
            class="is-text-white is-align-items-center is-mobile is-flex mx-3"
          >
            <b-icon
              class="is-clickable mr-1"
              :type="itemView ? 'is-primary' : ''"
              icon="view-module"
              size="is-medium"
              @click.native="viewChange(true)"
            >
            </b-icon>
            <b-icon
              class="is-clickable"
              :type="!itemView ? 'is-primary' : ''"
              icon="view-list"
              size="is-medium"
              @click.native="viewChange(false)"
            >
            </b-icon>
          </div>
        </div>
        <hr class="custom-white-bkg my-3 mt-1" />
        <infinite-loading-container
          v-if="itemView"
          :component="Item"
          :wrapper="{ class: 'columns is-multiline m-3' }"
          :to-load-size="10"
          :data-url="mineChannelUrl"
          class="has-custom-scroll is-fullwidth"
          max-height="80vh"
        />
        <content-channel v-else :is-user-cchannels="true" style="width: 100%" />
      </div>
    </section>
  </div>
</template>

<script>
import CardTitledPicture from '@/components/Cards/CardTitledPicture'
import InfiniteLoadingContainer from '~/components/InfiniteLoadingContainer.vue'
import TextSearcher from '~/components/Inputs/TextSearcher.vue'
import utilitiesMixin from '~/mixins/utilitiesMixin'
import ContentChannel from '~/pages/contentChannel/index.vue'

export default {
  name: 'ContentChannelList',
  components: { InfiniteLoadingContainer, ContentChannel, TextSearcher },
  mixins: [utilitiesMixin],
  middleware: 'guest',
  data() {
    return {
      itemView: true,
      searchText: null,
      search: false
    }
  },
  computed: {
    mineChannelUrl() {
      return this.searchText
        ? `/ContentChannel/MyContentChannel?SearchText=${this.searchText}`
        : `/ContentChannel/MyContentChannel`
    },
    customClass() {
      return {
        'column is-12 is-text-white': this.$mq === 'mobile',
        'column is-6 is-text-white': this.$mq === 'tablet',
        'column is-4 is-text-white': this.isDesktop,
        'column is-3 is-text-white': this.isFullHD
      }
    },
    Item() {
      return {
        type: CardTitledPicture,
        props: {
          showTitlesOnSide: true,
          isRounded: true,
          itemPropNames: {
            image: 'logoPath',
            subtitle: 'description',
            title: 'name'
          },
          class: this.customClass,
          fallbackItemImage: require('@/static/noimage.jpg'),
          onItemClick: this.goToContentChannel,
          onItemTitleClick: this.goToContentChannel
        }
      }
    }
  },
  watch: {
    searchText(newVal, oldVal) {
      if (newVal === '' || !newVal) this.search = false
    }
  },
  methods: {
    goToContentChannel(channelId) {
      this.$router.push('/contentChannel/mine/' + channelId)
    },
    viewChange(val) {
      if (val) {
        this.itemView = true
      } else {
        this.itemView = false
      }
    }
  }
}
</script>
