<template>
  <div style="height: 100%">
    <section class="section is-main-section channel-view backimg">
      <b-loading
        v-model="loading"
        :is-full-page="false"
        :can-cancel="false"
      ></b-loading>
      <div class="columns is-multiline">
        <div class="column is-12 is-channel-section">
          <admin-tabs :permissions="permissions" :systemId="systemId" />
        </div>
      </div>
    </section>
    <custom-dialog ref="cdialog" />
  </div>
</template>

<script>
import AdminTabs from '~/components/SystemTabs/AdminTabs.vue'
import utilitiesMixin from '~/mixins/utilitiesMixin'

export default {
  auth: true,
  name: 'ContentChannelView',
  components: {
    AdminTabs
  },
  mixins: [utilitiesMixin],
  middleware: 'guest',
  meta: { requiresAdmin: true },

  // eslint-disable-next-line require-await
  async asyncData({ params, $axios, app, $auth }) {
    let permissions = []
    if ($auth.user) permissions = $auth.user.userPermissions.systemPermissions
    else app.router.go(-1)

    let systemId = null
    await $axios
      .get(`/System`)
      .then((response) => {
        systemId = response.data.contextId
      })
      .catch(() => {
        this.$router.push('/')
      })

    return {
      permissions,
      systemId
    }
  },
  data() {
    return {
      subscribed: false,
      loading: false,
      permissions: []
    }
  }
}
</script>
<i18n>
{
  "en": {
    "subscribeNotify": "subscribe notification | subscribe notifications",
    "unsubscribeSuccess": "Subscription canceled",
    "subscribed": "Subscription completed",
    "confirmUnsuscribe": "Do you want to unsubscribe?",
    "subscribers": "No suscribers yet | 1 suscriber | {n} suscribers"
  },
  "es": {
    "subscribeNotify": "notificación de suscripción | notificaciones de suscripción",
    "unsubscribeSuccess": "Suscripción cancelada",
    "subscribed": "Suscripción completada",
    "confirmUnsuscribe": "¿Quiere cancelar su suscripción?",
    "subscribers": "Ningún suscriptor | 1 suscriptor | {n} suscriptores"
  }
}
</i18n>
