<template>
  <div>
    <section class="section is-main-section">
      <SocialMediaRTMPAccounts :url="getBasePath" />
    </section>
  </div>
</template>

<script>
import SocialMediaRTMPAccounts from '~/components/SocialMediaRTMPAccounts.vue'

export default {
  name: 'StreamTarget',
  components: { SocialMediaRTMPAccounts },
  middleware: 'guest',
  meta: { requiresAdmin: false },
  data() {
    return {}
  },
  head() {
    return {
      title: this.$config.appName
    }
  },
  computed: {
    titleStack() {
      return ['Admin', 'Tables']
    },
    getBasePath() {
      return `SocialMediaAccountForRtmp?Filters=createdBy==${this.$auth.user.userName}`
    }
  }
}
</script>
