<template>
  <div>
    <section class="section is-main-section">
      <server-table-component
        ref="table"
        :data-url="getBasePath"
        :locale="$i18n.locale"
        v-bind="tableDefs"
        :custom-headers="true"
        @cleanFilters="cleanAllFilters"
        @open-column-filter="showFilterForm"
        @container-contextmenu="
          (ev) => {
            if (ev) ev.preventDefault()
            rowInCtx = null
            ctxOpen = !ctxOpen
          }
        "
        @contextmenu="
          (ev, row) => {
            if (ev) ev.preventDefault()
            rowInCtx = row
            ctxOpen = !ctxOpen
          }
        "
      >
        <template #extra-header-buttons>
          <b-tooltip
            type="is-info"
            :label="$t('manualSync')"
            position="is-right"
            size="is-small"
          >
            <b-button
              class="table-buttons"
              :rounded="tableDefs.vbuttons.roundedButtons"
              :outlined="false"
              icon-left="sync"
              :class="{
                'animate__animated animate__bounceIn': enabledManualSyncAnim
              }"
              :loading="reload"
              type="is-info is-light"
              @click="requestManualSync"
            />
          </b-tooltip>
        </template>
        <template #right-extra-header-content>
          <b-tooltip
            type="is-primary"
            :label="$t('filter')"
            size="is-small"
            class="filter-button"
          >
            <b-button
              class="table-buttons"
              :rounded="tableDefs.vbuttons.roundedButtons"
              :outlined="tableDefs.vbuttons.outlinedButtons"
              icon-left="filter"
              type="is-primary is-light"
              @click="showFilterForm"
            >
              <span v-show="filtersCount > 0" class="filter-badge">{{
                filtersCount
              }}</span>
            </b-button>
          </b-tooltip>
        </template>
      </server-table-component>
      <ctx />
    </section>
  </div>
</template>

<script>
import {
  AdvancedFilterComponent,
  axiosToastErrorsMixin,
  BoolToTextColumnComponent,
  DateColumnComponent,
  NumberComponent,
  RadioPicker,
  TextComponent,
  TYPE_FULLDATETIME,
  TYPE_TEXT
} from 'premium-tesh-ui-lib'

import tableContextMenuMixin from '~/mixins/tableContextMenuMixin'
import genericFiltersMixin from '~/mixins/genericFiltersMixin'

export default {
  name: 'StreamTargetReplic',
  mixins: [genericFiltersMixin, axiosToastErrorsMixin, tableContextMenuMixin],
  middleware: 'guest',
  meta: { requiresAdmin: true },
  data() {
    return {
      tableDefs: {
        vtable: {
          draggable: false,
          headers: [
            {
              text: 'Id',
              value: 'id',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'id'
              }
            },
            {
              text: this.$t('nameLabel'),
              value: 'streamTargetName',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'streamTargetName'
              }
            },
            {
              text: this.$t('sourceLabel'),
              value: 'sourceStreamName',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'sourceStreamName'
              }
            },
            {
              text: this.$t('enabledLabel'),
              value: 'enabled',
              align: 'left',
              sortable: true,
              render: {
                type: BoolToTextColumnComponent,
                props: {
                  trueText: this.$t('trueText'),
                  falseText: this.$t('falseText')
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'enabled'
              }
            },
            {
              text: this.$t('destinationApplicationLabel'),
              value: 'destinationApplicationName',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'destinationApplicationName'
              }
            },
            {
              text: this.$t('destinationHostLabel'),
              value: 'destinationHost',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'destinationHost'
              }
            },
            {
              text: this.$t('destinationPortLabel'),
              value: 'destinationPort',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'destinationPort'
              }
            },
            {
              text: this.$t('destinationStreamNameLabel'),
              value: 'destinationStreamName',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'destinationStreamName'
              }
            },
            {
              text: this.$t('useSSLLabel'),
              value: 'useSSL',
              align: 'left',
              sortable: true,
              render: {
                type: BoolToTextColumnComponent,
                props: {
                  trueText: this.$t('trueText'),
                  falseText: this.$t('falseText')
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'useSSL'
              }
            },
            {
              text: this.$t('isExternalLabel'),
              value: 'isExternal',
              align: 'left',
              sortable: true,
              render: {
                type: BoolToTextColumnComponent,
                props: {
                  trueText: this.$t('trueText'),
                  falseText: this.$t('falseText')
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'isExternal'
              }
            },
            {
              text: this.$t('createdBy'),
              value: 'createdBy',
              align: 'left',
              sortable: true,
              custom: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'createdBy'
              }
            },
            {
              text: this.$t('createDateTime'),
              value: 'createdDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'createdDate'
              }
            },
            {
              text: this.$t('modifiedBy'),
              value: 'modifiedBy',
              align: 'left',
              sortable: true,
              custom: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'modifiedBy'
              }
            },
            {
              text: this.$t('modifyDateTime'),
              value: 'modifiedDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'modifiedDate'
              }
            }
          ]
        },
        vbtn: {
          create: {
            show: false
          }
        },
        vicon: {
          roundedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          edit: {
            show: false
          },
          delete: {
            show: false
          }
        },
        vbuttons: {
          roundedButtons: true,
          outlinedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          buttons: []
        },
        title: this.$t('cardTitle'),
        modalTitle: this.$t('cardTitle'),
        editModalTitle: this.$t('cardTitle'),
        headerIcon: 'cast-connected',
        form: {}
      },
      reload: false,
      filterForm: {
        StreamTargetReplFilter: {
          title: this.$t('cardTitle'),
          icon: 'cast-connected',
          form: {
            Id: {
              fieldType: TYPE_TEXT,
              label: 'Id',
              placeholder: this.$t('placeholder', {
                key: 'id'
              }),
              activeOperator: '=='
            },
            StreamTargetName: {
              type: TextComponent,
              'field-wrapper': { class: 'is-12' },
              'field-input': {
                isRequired: false,
                label: this.$t('nameLabel'),
                placeholder: this.$t('placeholder', {
                  key: this.$t('nameLabel').toLowerCase()
                }),
                showClearIcon: true
              },
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            SourceStreamName: {
              type: TextComponent,
              'field-wrapper': { class: 'is-12' },
              'field-input': {
                isRequired: false,
                label: this.$t('sourceLabel'),
                placeholder: this.$t('placeholder', {
                  key: this.$t('sourceLabel').toLowerCase()
                }),
                showClearIcon: true
              },
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            DestinationApplicationName: {
              type: TextComponent,
              'field-wrapper': { class: 'is-12' },
              'field-input': {
                isRequired: false,
                label: this.$t('destinationApplicationLabel'),
                placeholder: this.$t('placeholder', {
                  key: this.$t('destinationApplicationLabel').toLowerCase()
                }),
                showClearIcon: true
              },
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            DestinationStreamName: {
              type: TextComponent,
              'field-wrapper': { class: 'is-12' },
              'field-input': {
                isRequired: false,
                label: this.$t('destinationStreamNameLabel'),
                placeholder: this.$t('placeholder', {
                  key: this.$t('destinationStreamNameLabel').toLowerCase()
                }),
                showClearIcon: true
              },
              operators: ['==', '@=*'],
              activeOperator: '=='
            }
          }
        },
        PropertiesFilter: {
          title: this.$t('propertiesLabel'),
          icon: 'newspaper-variant-outline',
          form: {
            DestinationHost: {
              type: TextComponent,
              'field-wrapper': { class: 'is-12' },
              'field-input': {
                isRequired: false,
                label: this.$t('destinationHostLabel'),
                placeholder: this.$t('placeholder', {
                  key: this.$t('destinationHostLabel').toLowerCase()
                }),
                showClearIcon: true
              },
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            DestinationPort: {
              type: NumberComponent,
              default: 0,
              'field-wrapper': { class: 'is-12' },
              'field-input': {
                isRequired: false,
                label: this.$t('destinationPortLabel'),
                placeholder: this.$t('placeholder', {
                  key: this.$t('destinationPortLabel').toLowerCase()
                }),
                showClearIcon: true
              }
            },
            Enabled: {
              type: RadioPicker,
              default: null,
              'field-wrapper': { class: 'is-12' },
              'field-input': {
                label: this.$t('enabledLabel'),
                placeholder: this.$t('placeholder', {
                  key: this.$t('enabledLabel').toLowerCase()
                }),
                options: {
                  true: this.$t('trueText'),
                  false: this.$t('falseText'),
                  null: this.$t('anyLabel')
                },
                customClass: 'group-is-block'
              },
              save: (v) => {
                return v !== 'null' ? v : null
              }
            },
            UseSSL: {
              type: RadioPicker,
              default: null,
              'field-wrapper': { class: 'is-12' },
              'field-input': {
                label: this.$t('useSSLLabel'),
                placeholder: this.$t('placeholder', {
                  key: this.$t('useSSLLabel').toLowerCase()
                }),
                options: {
                  true: this.$t('trueText'),
                  false: this.$t('falseText'),
                  null: this.$t('anyLabel')
                },
                customClass: 'group-is-block'
              },
              save: (v) => {
                return v !== 'null' ? v : null
              }
            },
            IsExternal: {
              type: RadioPicker,
              default: null,
              'field-wrapper': { class: 'is-12' },
              'field-input': {
                label: this.$t('isExternalLabel'),
                placeholder: this.$t('placeholder', {
                  key: this.$t('isExternalLabel').toLowerCase()
                }),
                options: {
                  true: this.$t('trueText'),
                  false: this.$t('falseText'),
                  null: this.$t('anyLabel')
                },
                customClass: 'group-is-block'
              },
              save: (v) => {
                return v !== 'null' ? v : null
              }
            }
          }
        },
        UsersFilter: {
          title: this.$t('users'),
          icon: 'account-group',
          form: {
            CreatedBy: {
              fieldType: TYPE_TEXT,
              label: this.$t('createdBy'),
              placeholder: this.$t('placeholder', {
                key: this.$t('createdBy').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            ModifiedBy: {
              fieldType: TYPE_TEXT,
              label: this.$t('modifiedBy'),
              placeholder: this.$t('placeholder', {
                key: this.$t('modifiedBy').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            }
          }
        },
        DatesFilter: {
          title: this.$tc('date', 2),
          icon: 'calendar',
          form: {
            CreatedDate: {
              fieldType: TYPE_FULLDATETIME,
              label: this.$t('createDateTime'),
              placeholder: this.$t('placeholder', {
                key: this.$t('createDateTime').toLowerCase()
              }),
              value: null
            },
            ModifiedDate: {
              fieldType: TYPE_FULLDATETIME,
              label: this.$t('modifyDateTime'),
              placeholder: this.$t('placeholder', {
                key: this.$t('modifyDateTime').toLowerCase()
              }),
              value: null
            }
          }
        }
      },
      filters: '',
      filtersConstants: {
        Id: 'id',
        StreamTargetName: 'streamTargetName',
        SourceStreamName: 'sourceStreamName',
        DestinationApplicationName: 'destinationApplicationName',
        DestinationHost: 'destinationHost',
        DestinationStreamName: 'destinationStreamName',
        Enabled: 'enabled',
        UseSSL: 'useSSL',
        IsExternal: 'isExternal',
        DestinationPort: 'destinationPort',
        CreatedBy: 'createdBy',
        CreatedDate: 'createdDate',
        ModifiedBy: 'modifiedBy',
        ModifiedDate: 'modifiedDate'
      },
      filtersCount: 0,
      enabledManualSyncAnim: false
    }
  },
  head() {
    return {
      title: this.$config.appName
    }
  },
  computed: {
    titleStack() {
      return ['Admin', 'Tables']
    },
    getBasePath() {
      return this.reload
        ? ''
        : this.filters !== ''
        ? `/StreamTargetRepl?filters=${this.filters}`
        : `/StreamTargetRepl`
    },
    ctxOptions() {
      const opt = [{ id: 'sync', icon: 'sync', name: this.$t('manuelSync') }]
      return opt
    }
  },
  methods: {
    handleCtxMenuClicked(option, record) {
      if (option && this.$refs.table) {
        if (option.id === 'sync') this.requestManualSync()
      }
    },
    showFilterForm(field) {
      const ffield = field && field.useFilter ? field : null
      this.assignColumnFilterForm(ffield)

      this.$buefy.modal.open({
        parent: this,
        component: AdvancedFilterComponent,
        props: {
          form: ffield ? ffield.filterForm : this.filterForm,
          isInModal: true,
          filterType: 'audioStream',
          stickyInside: true,
          locale: this.$i18n.locale,
          cardTitle: this.$t('cardTitle'),
          cardSubtitle: this.$t('filter'),
          enableAdvancedSearch: false,
          modalWidth: ffield ? 500 : 850,
          simpleMode: !!ffield,
          utc: true
        },
        events: {
          'filters-updated': this.updateFilters,
          'count-results': (q) => this.countResults(q, this.getBasePath),
          'filters-count': (v) => (this.filtersCount = v)
        },
        hasModalCard: true,
        destroyOnHide: true,
        trapFocus: true
      })
    },
    requestManualSync() {
      this.enabledManualSyncAnim = true
      setTimeout(() => {
        this.enabledManualSyncAnim = false
      }, 1000)

      this.$axios
        .post('/StreamTargetRepl/ManualSynchronization')
        .then(() => {
          this.reload = true
          setTimeout(() => {
            this.reload = false
          }, 1000)
        })
        .catch((err) => {
          this.toastError(err)
        })
    },
    cleanAllFilters() {
      this.reload = true
      this.filters = ''
      setTimeout(() => {
        this.reload = false
      }, 1000)
      this.filtersCount = 0
    }
  }
}
</script>
<i18n>
{
  "en": {
    "cardTitle": "Stream Target Replicas",
    "nameLabel": "Name",
   "sourceLabel": "Stream Source",
    "enabledLabel": "Enabled",
    "disabledLabel": "Disabled",
    "destinationApplicationLabel": "Destination Application",
    "destinationHostLabel": "Destination Host",
    "destinationPortLabel": "Port",
    "destinationStreamNameLabel": "Destination Stream",
    "useSSLLabel": "Use SSL",
    "isExternalLabel": "Is External",
    "propertiesLabel": "Properties"
  },
  "es": {
    "cardTitle": "Réplicas de Destino de Transmisión",
    "nameLabel": "Nombre",
    "sourceLabel": "Flujo de Entrada",
    "enabledLabel": "Activo",
    "disabledLabel": "Desactivada",
    "destinationApplicationLabel": "Aplicación de Destino",
    "destinationHostLabel": "Host",
    "destinationPortLabel": "Puerto",
    "destinationStreamNameLabel": "Destino del Flujo",
    "useSSLLabel": "Usa SSL",
    "isExternalLabel": "Es Externa",
    "propertiesLabel": "Propiedades"
  }
}
</i18n>
