<template>
  <div>
    <section class="section is-main-section">
      <server-table-component
        ref="table"
        :data-url="getBasePath"
        :locale="$i18n.locale"
        v-bind="tableDefs"
        :custom-headers="true"
        @cleanFilters="cleanAllFilters"
        @open-column-filter="showFilterForm"
        @container-contextmenu="
          (ev) => {
            if (ev) ev.preventDefault()
            rowInCtx = null
            ctxOpen = !ctxOpen
          }
        "
        @contextmenu="
          (ev, row) => {
            if (ev) ev.preventDefault()
            rowInCtx = row
            ctxOpen = !ctxOpen
          }
        "
      >
        <template #right-extra-header-content>
          <b-tooltip
            type="is-primary"
            :label="$t('filter')"
            size="is-small"
            class="filter-button"
          >
            <b-button
              class="table-buttons"
              :rounded="tableDefs.vbuttons.roundedButtons"
              :outlined="tableDefs.vbuttons.outlinedButtons"
              icon-left="filter"
              type="is-primary is-light"
              @click="showFilterForm"
            >
              <span v-show="filtersCount > 0" class="filter-badge">{{
                filtersCount
              }}</span>
            </b-button>
          </b-tooltip>
        </template>
      </server-table-component>
      <ctx />
    </section>
  </div>
</template>

<script>
import {
  AdvancedFilterComponent,
  axiosToastErrorsMixin,
  BoolToTextColumnComponent,
  DateColumnComponent,
  LargeTextColumnComponent,
  NumberComponent,
  RadioPicker,
  SwitchComponent,
  TextComponent,
  TYPE_FULLDATETIME,
  TYPE_NUMBER,
  TYPE_TEXT
} from 'premium-tesh-ui-lib'

import genericFiltersMixin from '~/mixins/genericFiltersMixin'
import tableContextMenuMixin from '~/mixins/tableContextMenuMixin'

export default {
  name: 'RtmpDestination',
  mixins: [genericFiltersMixin, axiosToastErrorsMixin, tableContextMenuMixin],
  middleware: 'guest',
  meta: {
    requiresAdmin: true
  },
  async asyncData({ params, $axios, app }) {
    const data = await $axios.get(`/System`).catch(() => {
      app.router.go(-1)
    })
    const systemId = data.data.contextId
    return {
      systemId
    }
  },
  data() {
    return {
      systemId: null,
      reload: false,
      isModalActive: false,
      tableDefs: {
        vtable: {
          draggable: false,
          headers: [
            {
              text: 'Id',
              value: 'id',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'id'
              }
            },
            {
              text: this.$t('nameLabel'),
              value: 'name',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'name'
              }
            },
            {
              text: this.$t('applicationName'),
              value: 'application',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'application'
              }
            },
            {
              text: this.$t('host'),
              value: 'host',
              align: 'left',
              sortable: true,
              render: {
                type: LargeTextColumnComponent,
                props: {
                  showCopyButton: true,
                  content: this.$t('host'),
                  locale: this.$i18n.locale,
                  textLenght: 30
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'host'
              }
            },
            {
              text: this.$t('portLabel'),
              value: 'port',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'port'
              }
            },
            {
              text: 'SSL',
              value: 'useSSL',
              align: 'left',
              sortable: true,
              render: {
                type: BoolToTextColumnComponent,
                props: {
                  trueText: this.$t('trueText'),
                  falseText: this.$t('falseText')
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'useSSL'
              }
            },
            {
              text: this.$t('createdBy'),
              value: 'createdBy',
              align: 'left',
              sortable: true,
              custom: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'createdBy'
              }
            },
            {
              text: this.$t('createDateTime'),
              value: 'createdDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'createdDate'
              }
            },
            {
              text: this.$t('modifiedBy'),
              value: 'modifiedBy',
              align: 'left',
              sortable: true,
              custom: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'modifiedBy'
              }
            },
            {
              text: this.$t('modifyDateTime'),
              value: 'modifiedDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'modifiedDate'
              }
            },
            {
              text: this.$t('actions'),
              value: '',
              fixed: true,
              sortable: false,
              cellClass: 'actions-column',
              action: true,
              filter: {
                useFilter: false
              }
            }
          ]
        },
        vbtn: {
          create: {
            show: true,
            type: 'is-info is-light',
            icon: 'plus',
            tooltip: this.$t('create', { element: '' }),
            tooltipType: 'is-info',
            props: {
              rounded: true,
              outlined: true,
              class: 'table-buttons'
            }
          }
        },
        vicon: {
          roundedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          edit: {
            show: true,
            name: 'pencil',
            type: 'is-primary',
            tooltip: {
              label: this.$t('editButton'),
              type: 'is-primary',
              position: 'is-top'
            }
          },
          delete: {
            show: true,
            name: 'delete',
            type: 'is-danger',
            tooltip: {
              label: this.$t('deleteButton'),
              type: 'is-danger',
              position: 'is-left'
            }
          }
        },
        vbuttons: {
          roundedButtons: true,
          outlinedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          buttons: []
        },
        rowName: 'name',
        title: this.$t('cardTitle'),
        modalTitle: this.$t('cardTitle'),
        editModalTitle: this.$t('cardTitle'),
        headerIcon: 'web',
        form: {
          id: {
            type: null,
            'field-wrapper': { style: 'display: none' },
            'field-input': {
              isRequired: false
            }
          },
          name: {
            type: TextComponent,
            value: '',
            default: '',
            'field-wrapper': { class: 'is-12' },
            'field-input': {
              label: this.$t('nameLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('nameLabel').toLowerCase()
              })
            }
          },
          application: {
            type: TextComponent,
            value: '',
            default: '',
            'field-wrapper': { class: 'is-12' },
            'field-input': {
              label: this.$t('applicationName'),
              placeholder: this.$t('placeholder', {
                key: this.$t('applicationName').toLowerCase()
              })
            }
          },
          host: {
            type: TextComponent,
            value: '',
            default: '',
            'field-wrapper': { class: 'is-12' },
            'field-input': {
              label: this.$t('host'),
              placeholder: this.$t('placeholder', {
                key: this.$t('host').toLowerCase()
              })
            }
          },
          port: {
            type: NumberComponent,
            default: 0,
            'field-wrapper': { class: 'is-12' },
            'field-input': {
              isRequired: true,
              label: this.$t('portLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('portLabel').toLowerCase()
              })
            }
          },
          useSSL: {
            type: SwitchComponent,
            default: '',
            'field-wrapper': { class: 'is-12' },
            'field-input': {
              isRequired: false,
              label: 'SSL',
              trueObject: {
                value: true,
                label: '',
                tooltip: this.$t('isActiveLabel')
              },
              falseObject: {
                value: false,
                tooltip: this.$t('isActiveLabel')
              }
            },
            save: (v) => {
              if (v === true) {
                return true
              } else {
                return false
              }
            }
          }
        }
      },
      filterForm: {
        RtmpdestinationFilter: {
          title: this.$t('cardTitle'),
          icon: 'television-classic',
          fields: {
            Id: {
              fieldType: TYPE_TEXT,
              label: 'Id',
              placeholder: this.$t('placeholder', {
                key: 'id'
              }),
              activeOperator: '=='
            },
            Name: {
              fieldType: TYPE_TEXT,
              label: this.$t('nameLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('nameLabel').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            ApplicationName: {
              fieldType: TYPE_TEXT,
              label: this.$t('applicationName'),
              placeholder: this.$t('placeholder', {
                key: this.$t('applicationName').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            Host: {
              fieldType: TYPE_TEXT,
              label: this.$t('host'),
              placeholder: this.$t('placeholder', {
                key: this.$t('host').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            Port: {
              fieldType: TYPE_NUMBER,
              label: this.$t('portLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('portLabel').toLowerCase()
              }),
              operators: ['<', '==', '>'],
              activeOperator: '=='
            },
            useSSL: {
              type: RadioPicker,
              default: null,
              'field-wrapper': { class: 'is-12' },
              'field-input': {
                label: 'SSL',
                options: {
                  true: this.$t('trueText'),
                  false: this.$t('falseText'),
                  null: this.$t('anyLabel')
                },
                customClass: 'group-is-block'
              },
              save: (v) => {
                return v !== 'null' ? v : null
              }
            }
          }
        },
        UsersFilter: {
          title: this.$t('users'),
          icon: 'account-group',
          fields: {
            CreatedBy: {
              fieldType: TYPE_TEXT,
              label: this.$t('createdBy'),
              placeholder: this.$t('placeholder', {
                key: this.$t('createdBy').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            ModifiedBy: {
              fieldType: TYPE_TEXT,
              label: this.$t('modifiedBy'),
              placeholder: this.$t('placeholder', {
                key: this.$t('modifiedBy').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            }
          }
        },
        DatesFilter: {
          title: this.$tc('date', 2),
          icon: 'calendar',
          fields: {
            CreatedDate: {
              fieldType: TYPE_FULLDATETIME,
              label: this.$t('createDateTime'),
              placeholder: this.$t('placeholder', {
                key: this.$t('createDateTime').toLowerCase()
              }),
              value: null
            },
            ModifiedDate: {
              fieldType: TYPE_FULLDATETIME,
              label: this.$t('modifyDateTime'),
              placeholder: this.$t('placeholder', {
                key: this.$t('modifyDateTime').toLowerCase()
              }),
              value: null
            }
          }
        }
      },
      filters: '',
      filtersConstants: {
        Id: 'id',
        Name: 'name',
        ApplicationName: 'application',
        Host: 'host',
        Port: 'port',
        UseSSL: 'useSSL',
        CreatedDate: 'createdDate',
        ModifiedDate: 'modifiedDate'
      },
      filtersCount: 0,
      cChannelSelected: null,
      cChannelsChacked: [],
      audioSelect: false
    }
  },
  head() {
    return {
      title: this.$config.appName
    }
  },
  computed: {
    titleStack() {
      return ['Admin', 'Tables']
    },
    getBasePath() {
      return this.filters !== ''
        ? `/RtmpDestination?filters=${this.filters}`
        : `/RtmpDestination`
    },
    ctxOptions() {
      const opt = [
        { id: 'add', icon: 'plus', name: this.$t('addButton') },
        { id: 'edit', icon: 'pencil', name: this.$t('editButton') },
        { id: 'delete', icon: 'trash-can', name: this.$t('deleteButton') }
      ]
      return this.rowInCtx ? opt : opt.slice(0, 1)
    }
  },
  methods: {
    showFilterForm(field) {
      const ffield = field && field.useFilter ? field : null
      this.assignColumnFilterForm(ffield)

      this.$buefy.modal.open({
        parent: this,
        component: AdvancedFilterComponent,
        props: {
          form: ffield ? ffield.filterForm : this.filterForm,
          isInModal: true,
          filterType: 'audioStream',
          stickyInside: true,
          locale: this.$i18n.locale,
          cardTitle: this.$t('cardTitle'),
          cardSubtitle: this.$t('filter'),
          enableAdvancedSearch: false,
          modalWidth: ffield ? 500 : 850,
          simpleMode: !!ffield,
          utc: true
        },
        events: {
          'filters-updated': this.updateFilters,
          'count-results': (q) => this.countResults(q, this.getBasePath),
          'filters-count': (v) => (this.filtersCount = v)
        },
        hasModalCard: true,
        destroyOnHide: true,
        trapFocus: true
      })
    },
    handleCtxMenuClicked(option, record) {
      if (option && this.$refs.table) {
        if (option.id === 'add') this.$refs.table.formOpen(null)
        else if (option.id === 'edit' && record)
          this.$refs.table.formOpen(record[this.$refs.table.idName])
        else if (option.id === 'delete' && record)
          this.$refs.table.deleteRecord(
            record[this.$refs.table.idName],
            record[this.$refs.table.rowName]
          )
      }
    },
    cleanAllFilters() {
      this.reload = true
      this.filters = ''
      setTimeout(() => {
        this.reload = false
      }, 1000)
      this.filtersCount = 0
    }
  }
}
</script>
<i18n>
{
  "en": {
    "cardTitle": "Predefined RTMP Destinations",
    "applicationName": "Destiny Application",
    "portLabel": "Port",
    "host": "Host",
    "rtmpDestination": "Predefined RTMP Destination | Predefined RTMP Destinations"
  },
  "es": {
    "cardTitle": "Destinos RTMP Predefinidos",
    "applicationName": "Aplicación de destino",
    "portLabel": "Puerto",
    "host": "Host",
    "rtmpDestination": "Destino RTMP Predefinido | Destinos RTMP Predefinidos"
  }
}
</i18n>
