<template>
  <div>
    <section class="section is-main-section">
      <server-table-component
        ref="table"
        :data-url="getBasePath"
        :locale="$i18n.locale"
        v-bind="tableDefs"
        :modal-width="500"
        :custom-headers="true"
        @cleanFilters="cleanAllFilters"
        @open-column-filter="showFilterForm"
        @container-contextmenu="
          (ev) => {
            if (ev) ev.preventDefault()
            rowInCtx = null
            ctxOpen = !ctxOpen
          }
        "
        @contextmenu="
          (ev, row) => {
            if (ev) ev.preventDefault()
            rowInCtx = row
            ctxOpen = !ctxOpen
          }
        "
      >
        <template #extra-row-buttons="record">
          <div
            class="columns is-gapless is-mobile"
            style="display: inline-flex"
          >
            <div
              v-for="(button, key) in vrowButtons.buttons"
              :key="key"
              class="column"
            >
              <b-tooltip
                :type="button.tooltip.type"
                :label="button.tooltip.label"
                :position="button.tooltip.position"
              >
                <b-button
                  v-bind="button.props"
                  :class="vrowButtons.class"
                  :rounded="vrowButtons.roundedButtons"
                  :outlined="vrowButtons.outlinedButtons"
                  icon-left="share"
                  :type="button.type"
                  :size="vrowButtons.size"
                  @click="button.action(record)"
                />
              </b-tooltip>
            </div>
          </div>
        </template>
        <template #right-extra-header-content>
          <b-tooltip
            type="is-primary"
            :label="$t('filter')"
            size="is-small"
            class="filter-button"
          >
            <b-button
              class="table-buttons"
              :rounded="tableDefs.vbuttons.roundedButtons"
              :outlined="tableDefs.vbuttons.outlinedButtons"
              icon-left="filter"
              type="is-primary is-light"
              @click="showFilterForm"
            >
              <span v-show="filtersCount > 0" class="filter-badge">{{
                filtersCount
              }}</span>
            </b-button>
          </b-tooltip>
        </template>
      </server-table-component>
      <ctx />
    </section>
  </div>
</template>

<script>
import {
  AdvancedFilterComponent,
  DateColumnComponent,
  IconColumnComponent,
  LargeTextColumnComponent,
  TextComponent,
  TYPE_FULLDATETIME,
  TYPE_TEXT,
  UrlComponent
} from 'premium-tesh-ui-lib'

import IconPicker from '~/components/Inputs/IconPicker.vue'
import tableContextMenuMixin from '~/mixins/tableContextMenuMixin'
import genericFiltersMixin from '~/mixins/genericFiltersMixin'

export default {
  name: 'SocialMedia',
  mixins: [genericFiltersMixin, tableContextMenuMixin],
  middleware: 'guest',
  meta: {
    requiresAdmin: true
  },
  data() {
    return {
      reload: false,
      tableDefs: {
        vtable: {
          draggable: false,
          headers: [
            {
              text: 'Id',
              value: 'id',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'id'
              }
            },
            {
              text: this.$t('iconLabel'),
              value: 'icon',
              align: 'left',
              sortable: true,
              render: {
                type: IconColumnComponent,
                props: {
                  iconname: ''
                }
              },
              filter: {
                useFilter: false
              }
            },
            {
              text: this.$t('nameLabel'),
              value: 'name',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'name'
              }
            },
            {
              text: this.$t('urlLabel'),
              value: 'urlBase',
              align: 'left',
              sortable: true,
              render: {
                type: LargeTextColumnComponent,
                props: {
                  showDisplayButton: true,
                  content: this.$t('urlLabel'),
                  locale: this.$i18n.locale,
                  textLenght: 30
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'urlBase'
              }
            },
            {
              text: this.$t('createdBy'),
              value: 'createdBy',
              align: 'left',
              sortable: true,
              custom: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'createdBy'
              }
            },
            {
              text: this.$t('createDateTime'),
              value: 'createdDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'createdDate'
              }
            },
            {
              text: this.$t('modifiedBy'),
              value: 'modifiedBy',
              align: 'left',
              sortable: true,
              custom: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'modifiedBy'
              }
            },
            {
              text: this.$t('modifyDateTime'),
              value: 'modifiedDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'modifiedDate'
              }
            },
            {
              text: this.$t('actions'),
              value: '',
              fixed: true,
              sortable: false,
              cellClass: 'actions-column',
              action: true,
              filter: {
                useFilter: false
              }
            }
          ]
        },
        vicon: {
          roundedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          edit: {
            show: true,
            name: 'pencil',
            type: 'is-primary',
            tooltip: {
              label: this.$t('editSocialMedia'),
              type: 'is-primary',
              position: 'is-top'
            }
          },
          delete: {
            show: true,
            name: 'delete',
            type: 'is-danger',
            tooltip: {
              label: this.$t('deleteButton'),
              type: 'is-danger',
              position: 'is-left'
            }
          }
        },
        vbtn: {
          create: {
            show: true,
            type: 'is-info is-light',
            icon: 'plus',
            tooltip: this.$t('create', { element: '' }),
            tooltipType: 'is-info',
            props: {
              rounded: true,
              outlined: true,
              class: 'table-buttons'
            }
          }
        },
        vbuttons: {
          roundedButtons: true,
          outlinedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          buttons: []
        },
        title: this.$t('cardTitle'),
        modalTitle: this.$t('cardTitle'),
        editModalTitle: this.$t('cardTitle'),
        headerIcon: 'web',
        form: {
          id: {
            type: null,
            'field-wrapper': { style: 'display: none' },
            'field-input': {
              isRequired: false
            }
          },
          name: {
            type: TextComponent,
            value: '',
            default: '',
            'field-wrapper': { class: 'is-12' },
            'field-input': {
              label: this.$t('nameLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('nameLabel').toLowerCase()
              })
            }
          },
          urlBase: {
            type: UrlComponent,
            value: '',
            default: '',
            'field-wrapper': { class: 'is-12' },
            'field-input': {
              label: this.$t('urlLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('urlLabel').toLowerCase()
              })
            }
          },
          icon: {
            type: IconPicker,
            value: '',
            default: '',
            'field-wrapper': { class: 'is-12' },
            'field-input': {
              label: this.$t('iconLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('iconLabel').toLowerCase()
              }),
              position: 'is-up',
              buttonLabel: this.$t('uploadLabel'),
              deleteLabel: this.$t('deleteLabel'),
              itemList: null
            },
            render: (v) => {
              if (v.includes('base64')) {
                return v
              }
              return v.split('mdi mdi-')[1]
            },
            save: (v) => {
              if (v.includes('base64')) {
                return v
              }
              return 'mdi mdi-' + v
            }
          }
        }
      },
      vrowButtons: {
        roundedButtons: true,
        outlinedButtons: false,
        size: 'is-small',
        class: 'table-buttons',
        buttons: []
      },
      filterForm: {
        SocialMediaFilter: {
          title: this.$t('cardTitle'),
          icon: 'web',
          fields: {
            Id: {
              fieldType: TYPE_TEXT,
              label: 'Id',
              placeholder: this.$t('placeholder', {
                key: 'id'
              }),
              activeOperator: '=='
            },
            Name: {
              fieldType: TYPE_TEXT,
              label: this.$t('nameLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('nameLabel').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            Url: {
              fieldType: TYPE_TEXT,
              label: this.$t('urlLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('urlLabel').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            }
          }
        },
        UsersFilter: {
          title: this.$t('users'),
          icon: 'account-group',
          form: {
            CreatedBy: {
              fieldType: TYPE_TEXT,
              label: this.$t('createdBy'),
              placeholder: this.$t('placeholder', {
                key: this.$t('createdBy').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            ModifiedBy: {
              fieldType: TYPE_TEXT,
              label: this.$t('modifiedBy'),
              placeholder: this.$t('placeholder', {
                key: this.$t('modifiedBy').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            }
          }
        },
        DatesFilter: {
          title: this.$tc('date', 2),
          icon: 'calendar',
          form: {
            CreatedDate: {
              fieldType: TYPE_FULLDATETIME,
              label: this.$t('createDateTime'),
              placeholder: this.$t('placeholder', {
                key: this.$t('createDateTime').toLowerCase()
              }),
              value: null
            },
            ModifiedDate: {
              fieldType: TYPE_FULLDATETIME,
              label: this.$t('modifyDateTime'),
              placeholder: this.$t('placeholder', {
                key: this.$t('modifyDateTime').toLowerCase()
              }),
              value: null
            }
          }
        }
      },
      filters: '',
      filtersConstants: {
        Id: 'id',
        Name: 'name',
        Url: 'urlBase',
        CreatedDate: 'createdDate',
        ModifiedDate: 'modifiedDate'
      },
      filtersCount: 0,
      socialMediaSelect: false
    }
  },
  head() {
    return {
      title: this.$config.appName
    }
  },
  computed: {
    titleStack() {
      return ['Admin', 'Tables']
    },
    getBasePath() {
      return this.reload
        ? ''
        : this.filters !== ''
        ? `/SocialMedia?filters=${this.filters}`
        : `/SocialMedia`
    }
  },
  methods: {
    showFilterForm(field) {
      const ffield = field && field.useFilter ? field : null
      this.assignColumnFilterForm(ffield)

      this.$buefy.modal.open({
        parent: this,
        component: AdvancedFilterComponent,
        props: {
          form: ffield ? ffield.filterForm : this.filterForm,
          isInModal: true,
          filterType: 'audioStream',
          stickyInside: true,
          locale: this.$i18n.locale,
          cardTitle: this.$t('cardTitle'),
          cardSubtitle: this.$t('filter'),
          enableAdvancedSearch: false,
          modalWidth: ffield ? 500 : 850,
          simpleMode: !!ffield,
          utc: true
        },
        events: {
          'filters-updated': this.updateFilters,
          'count-results': (q) => this.countResults(q, this.getBasePath),
          'filters-count': (v) => (this.filtersCount = v)
        },
        hasModalCard: true,
        destroyOnHide: true,
        trapFocus: true
      })
    },
    cleanAllFilters() {
      this.reload = true
      this.filters = ''
      setTimeout(() => {
        this.reload = false
      }, 1000)
      this.filtersCount = 0
    }
  }
}
</script>
<i18n>
{
  "en": {
    "cardTitle": "Social Media",
    "nameLabel": "Name",
    "urlLabel": "Base Url",
    "iconLabel": "Icon",
    "editSocialMedia": "Edit Social Media",
    "deleteSocialMedia": "Delete Social Media",
    "propertiesLabel": "Properties",
    "isActiveLabel": "Active",
    "uploadLabel": "Upload Icon",
    "deleteLabel": "Delete Icon"
  },
  "es": {
    "cardTitle": "Redes Sociales",
    "nameLabel": "Nombre",
    "urlLabel": "Url Base",
    "iconLabel": "Ícono",
    "editSocialMedia": "Editar Red Social",
    "deleteSocialMedia": "Eliminar Red Social",
    "propertiesLabel": "Propiedades",
    "isActiveLabel": "Activo",
    "uploadLabel": "Subir Ícono",
    "deleteLabel": "Eliminar Ícono"
  }
}
</i18n>
