<template>
  <div>
    <section class="section is-main-section">
      <div class="columns is-mobile">
        <div class="column"></div>
        <div class="column is-9">
          <div class="box privacy">
            <h1 class="title has-text-centered">{{ $t('titleLabel') }}</h1>
            <p class="is-size-5 has-text-justified pb-2">{{ $t('text1') }}</p>
            <p class="is-size-5 has-text-justified pb-2">{{ $t('text2') }}</p>
            <p class="is-size-5 has-text-justified pb-2">{{ $t('text3') }}</p>
            <p class="is-size-5 has-text-justified ml-4">{{ $t('text4') }}</p>
            <p class="is-size-5 has-text-justified ml-4">{{ $t('text5') }}</p>
            <p class="is-size-5 has-text-justified ml-4">{{ $t('text6') }}</p>
            <p class="is-size-5 has-text-justified ml-4">{{ $t('text7') }}</p>
          </div>
        </div>
        <div class="column"></div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: 'PrivacyPolicy',
  data() {
    return {}
  },
  head() {
    return {
      title: this.$config.appName
    }
  },
  computed: {},
  created() {},
  beforeDestroy() {},
  methods: {
    customizeHomeStyles() {}
  }
}
</script>
<i18n>
{
  "en": {
    "titleLabel": "Privacy Policy",
    "text1": "Esta Política de Privacidad establece los términos en que se utiliza y protege la información y los datos personales que son proporcionados por los usuarios, al momento de su publicación en este servicio. A los efectos de la presente Política, se entiende por USUARIO a la persona que voluntariamente se registre en teveo, mediante los formularios establecidos por esta aplicación, en tanto VISITANTE es aquella persona que accede libremente a la información disponible en este sitio Web sin necesidad de registrarse previamente.",
    "text2": "El Instituto Cubano de Radio y Televisión, en lo adelante el ICRT, y el USUARIO asumen la obligación de mantener el principio de confidencialidad de dicha información, así como de utilizar ésta exclusivamente en los términos pactados en el correspondiente contrato, reservándose el derecho mutuo de establecer la acción por indemnización de daños y perjuicios que sea procedente en caso de su incumplimiento.",
    "text3": "El tratamiento a la información y los datos personales que se realiza en teveo, se rige por las siguientes reglas:",
    "text4": "Los datos personales de los USUARIOS serán utilizados para el cumplimiento de los fines indicados en el formulario correspondiente y siempre dentro de la competencia y atribuciones del ICRT.",
    "text5": "El ICRT asegurará la confidencialidad de los datos personales de los USUARIOS, requeridos para su registro en teveo. Así como de la información recolectada durante la utilización de los servicios provistos por teveo.",
    "text6": "El ICRT realizará el filtrado y tratamiento de datos mediante mecanismos automatizados, con el objetivo de generar registros de la actividad de los VISITANTES y registros de audiencia, y sólo utilizará dicha información para la elaboración de informes que cumplan con los objetivos de evaluación del comportamiento del servicio en cuestión. En ningún caso realizará operaciones que impliquen asociar dicha información a algún USUARIO identificado o identificable o relacionar a este con otro sitio web sin su consentimiento.",
    "text7": "El ICRT, se compromete a notificar a los Usuarios con respecto a cualquier cambio o actualización en lo referente a las presentes políticas de privacidad."
  },
  "es": {
    "titleLabel": "Política de Privacidad",
    "text1": "Esta Política de Privacidad establece los términos en que se utiliza y protege la información y los datos personales que son proporcionados por los usuarios, al momento de su publicación en este servicio. A los efectos de la presente Política, se entiende por USUARIO a la persona que voluntariamente se registre en teveo, mediante los formularios establecidos por esta aplicación, en tanto VISITANTE es aquella persona que accede libremente a la información disponible en este sitio Web sin necesidad de registrarse previamente.",
    "text2": "El Instituto Cubano de Radio y Televisión, en lo adelante el ICRT, y el USUARIO asumen la obligación de mantener el principio de confidencialidad de dicha información, así como de utilizar ésta exclusivamente en los términos pactados en el correspondiente contrato, reservándose el derecho mutuo de establecer la acción por indemnización de daños y perjuicios que sea procedente en caso de su incumplimiento.",
    "text3": "El tratamiento a la información y los datos personales que se realiza en teveo, se rige por las siguientes reglas:",
    "text4": "Los datos personales de los USUARIOS serán utilizados para el cumplimiento de los fines indicados en el formulario correspondiente y siempre dentro de la competencia y atribuciones del ICRT.",
    "text5": "El ICRT asegurará la confidencialidad de los datos personales de los USUARIOS, requeridos para su registro en teveo. Así como de la información recolectada durante la utilización de los servicios provistos por teveo.",
    "text6": "El ICRT realizará el filtrado y tratamiento de datos mediante mecanismos automatizados, con el objetivo de generar registros de la actividad de los VISITANTES y registros de audiencia, y sólo utilizará dicha información para la elaboración de informes que cumplan con los objetivos de evaluación del comportamiento del servicio en cuestión. En ningún caso realizará operaciones que impliquen asociar dicha información a algún USUARIO identificado o identificable o relacionar a este con otro sitio web sin su consentimiento.",
    "text7": "El ICRT, se compromete a notificar a los Usuarios con respecto a cualquier cambio o actualización en lo referente a las presentes políticas de privacidad."
  }
}
</i18n>
