<template>
  <card-titled-picture
    :item="item"
    :has-item-actions="hasItemActions"
    :is-loading="isLoading"
    image-ratio="16by9"
    image-class="publication-image"
    :show-titles-on-side="showTitlesOnSide"
    :item-prop-names="{
      image: 'presentationImagePath',
      subtitle: 'description'
    }"
    class="publication"
    :class="{ 'is-mobile': $mq === 'mobile', 'is-tablet': $mq === 'tablet' }"
    :custom-class="customClass"
    :on-item-title-click="goToPublication"
    :on-item-click="goToPublication"
    :show-subtitle="false"
    :fallback-item-image="require('@/static/teveoLogo_white.webp')"
    :lazy-loading="lazyLoading"
  >
    <template #picture-extra-addons>
      <b-tag
        v-if="item.streamType === 0"
        icon="broadcast"
        type="is-danger is-light"
        style="position: absolute; top: 0.4rem; left: 0.2rem"
        >{{ $t('live') }}</b-tag
      >
    </template>
    <template #item-shadow-content>
      <div class="right-actions">
        <b-button
          icon-left="pencil"
          class="mr-1 mb-1 icon-only"
          size="is-small"
          @click.stop="$emit('edit', item.id)"
        />
        <b-button
          icon-left="trash-can"
          class="icon-only mr-1"
          size="is-small"
          @click.stop="$emit('delete', item, $attrs.index)"
        />
      </div>
    </template>
    <template #extra-titles-content>
      <span style="display: grid">
        <h6
          class="channel-link"
          style="
            color: white;
            cursor: pointer;
            margin-bottom: unset;
            font-weight: 100;
          "
          @click="goToCChannel"
        >
          {{ item.contentChannelName }}
        </h6>
        <b-tooltip v-if="areViewingCount" :label="publicatedAt" type="is-dark">
          <b-icon type="is-white" icon="play" size="is-small" class="ml-0 mr-1">
          </b-icon
          >{{ areViewing }}
        </b-tooltip>
        <b-tooltip :label="publicatedAt" type="is-dark">
          <b-icon
            type="is-white"
            :icon="item.reproductionsCount ? 'eye-outline' : 'eye-off-outline'"
            size="is-small"
            class="ml-0 mr-1"
          >
          </b-icon
          >{{ reproductions }}
        </b-tooltip>
      </span>
    </template>
  </card-titled-picture>
</template>

<script>
import dayjs from 'dayjs'

import CardTitledPicture from '~/components/Cards/CardTitledPicture.vue'
require('dayjs/locale/es')
const relativeTime = require('dayjs/plugin/relativeTime')
dayjs.extend(relativeTime)

export default {
  name: 'CardPublication',
  components: { CardTitledPicture },
  props: {
    item: {
      type: Object,
      default: () => {}
    },
    isLoading: {
      type: Boolean,
      default: false
    },
    hasItemActions: {
      type: Boolean,
      default: false
    },
    showTitlesOnSide: {
      type: Boolean,
      default: false
    },
    itemPropNames: {
      type: Object,
      default: undefined
    },
    customClass: {
      type: [String, Object],
      default: ''
    },
    onItemTitleClick: {
      type: Function,
      default: undefined
    },
    lazyLoading: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      dateOfLastReproduction: '',
      reproductionsCount: 0,
      areViewingCount: 0,
      isHovered: false
    }
  },
  computed: {
    areViewing() {
      return this.areViewingCount >= 1000000
        ? this.$t('viewingM', {
            n: Math.round(this.areViewingCount / 1000000)
          })
        : this.areViewingCount >= 1000
        ? this.$t('viewingK', {
            n: Math.round(this.areViewingCount / 1000)
          })
        : this.$tc('viewing', this.areViewingCount)
    },
    reproductions() {
      return this.reproductionsCount >= 1000000
        ? this.$t('viewedM', {
            n: Math.round(this.reproductionsCount / 10000000)
          }) +
            ' - ' +
            this.createdFromNow
        : this.reproductionsCount >= 1000
        ? this.$t('viewedK', {
            n: Math.round(this.reproductionsCount / 1000)
          }) +
          ' - ' +
          this.createdFromNow
        : this.$tc('viewed', this.reproductionsCount) +
          ' - ' +
          this.createdFromNow
    },
    createdFromNow() {
      return this.item.streamType === 0
        ? `${this.$t('broadcastingFrom', {
            time: dayjs(this.item.createdDate).fromNow()
          })}`
        : dayjs(this.item.createdDate).fromNow()
    },
    publicatedAt() {
      return this.$t('publicated', {
        date: dayjs(this.item.createdDate).format('D MMMM YYYY H:m:s a')
      })
    }
  },
  watch: {
    item(newVal) {
      // Initiate info about Publication
      this.dateOfLastReproduction = newVal.dateOfLastReproduction
      this.reproductionsCount = newVal.reproductionsCount
      this.areViewingCount = newVal.areViewingCount
    }
  },
  created() {
    dayjs.locale(this.$i18n.locale)
  },
  mounted() {
    // Initiate info about Publication
    this.dateOfLastReproduction = this.item.dateOfLastReproduction
    this.reproductionsCount = this.item.reproductionsCount
    this.areViewingCount = this.item.areViewingCount

    // Update publication Views
    this.$nuxt.$on('publication-reproductions', (payload) => {
      if (payload.publicationId === this.item.id) {
        this.reproductionsCount = payload.views
        this.dateOfLastReproduction = payload.lastReproductionDate
      }
    })
    // Update publication Viewing
    this.$nuxt.$on('publication-are-viewing', (payload) => {
      if (payload.publicationId === this.item.id) {
        this.areViewingCount = payload.areViewing
      }
    })
  },
  methods: {
    goToPublication(publicationId) {
      if (this.item) this.$router.push(`/publication/` + publicationId)
    },
    goToCChannel() {
      if (this.item)
        this.$router.push(`/contentChannel/` + this.item.contentChannelId)
    }
  }
}
</script>
<i18n>
{
  "en": {
    "viewing": "0 viewing | 1 is viewing | {n} are viewing",
    "viewingK": "{n} K are viewing",
    "viewingM": "{n} M are viewing",
    "viewed": "0 views | 1 view | {n} views",
    "viewedK": "{n} K views",
    "viewedM": "{n} M of views",
    "lastView": "a {t} ago | {n} {t} ago",
    "publicated": "Publicated at {date}",
    "broadcastingFrom": "Broadcasting from {time}"
  },
  "es": {
    "viewing": "0 viendo | 1 lo está viendo | {n} lo están viendo",
    "viewingK": "{n} K lo están viendo",
    "viewingM": "{n} M lo están viendo",
    "viewed": "0 vistas | 1 vista | {n} vistas",
    "viewedK": "{n} K vistas",
    "viewedM": "{n} M de vistas",
    "lastView": "hace 1 {t} | hace {n} {t}",
    "publicated": "Publicado el {date}",
    "broadcastingFrom": "Transmitiendo {time}"
  }
}
</i18n>
