<template>
  <div class="comments-grid has-text-light">
    <span v-if="showCount && hasComments" style="font-size: larger">{{
      commentsCount
    }}</span>
    <slot name="extra-headers" />
    <b-field
      v-if="showCommentInput && $auth.user"
      grouped
      class="user-comment-input mx-3 ml-5 is-flex"
    >
      <div class="card-image is-rounded">
        <b-image
          :src="imageURL"
          :rounded="true"
          ratio="4by4"
          placeholder=".png"
          lazy
          @error="imageLoadError = true"
        ></b-image>
      </div>
      <p class="input-control ml-3">
        <b-input
          v-model="newComment"
          :placeholder="
            $t(hasComments ? 'commentPlaceholder' : 'firstComment', {
              user: $auth.user.userName
            })
          "
          rounded
          class="comment-input m-0"
          :class="{ 'is-focused': isFocused }"
          icon-right="send"
          type="textarea"
          :rows="1"
          :icon-right-clickable="true"
          @icon-right-click="sendComment(newComment)"
          @focus="isFocused = true"
          @blur="isFocused = false"
        />
        <span class="down-comment-area">
          <slot name="down-comment-area" />
        </span>
      </p>
    </b-field>
    <infinite-loading-container
      :component="Item"
      :wrapper="{ class: 'columns is-multiline m-3' }"
      :to-load-size="itemsToLoad"
      :data-url="url"
      :items="items"
      class="has-custom-scroll"
      :max-height="$attrs.maxHeight"
      :max-width="$attrs.maxWidth"
      :refresh.sync="refreshItems"
      @items-available="
        (n) => {
          commentsCount = n
          $emit('items-available', n)
        }
      "
    >
    </infinite-loading-container>
  </div>
</template>

<script>
import CardComment from './CardComment.vue'
import InfiniteLoadingContainer from '~/components/InfiniteLoadingContainer.vue'
import badWordsList from '~/mixins/badWordsList'

const Filter = require('badwords-filter')

export default {
  name: 'CardGridComments',
  components: { InfiniteLoadingContainer },
  mixins: [badWordsList],
  props: {
    showCount: {
      type: Boolean,
      default: true
    },
    showLikeDislike: {
      type: Boolean,
      default: false
    },
    showCommentInput: {
      type: Boolean,
      default: true
    },
    items: {
      type: Array,
      default: () => []
    },
    idProp: {
      type: String,
      default: 'id'
    },
    textProp: {
      type: String,
      default: 'text'
    },
    dateTimeProp: {
      type: String,
      default: 'dateTime'
    },
    userAvatarProp: {
      type: String,
      default: 'userAvatar'
    },
    userNameProp: {
      type: String,
      default: 'userName'
    },
    likeProp: {
      type: String,
      default: 'like'
    },
    dislikeProp: {
      type: String,
      default: 'dislike'
    },
    replysProp: {
      type: String,
      default: 'replys'
    },
    url: {
      type: String,
      default: null
    },
    itemsToLoad: {
      type: Number,
      default: 10
    },
    useBadWordFilter: {
      type: Boolean,
      default: true
    },
    // for bad word replace character
    badWordReplace: {
      type: String,
      default: '*'
    },
    onLoadReplys: {
      type: [Promise, Function],
      default: null
    },
    onComment: {
      type: [Promise, Function],
      default: null
    },
    onUserReact: {
      type: [Promise, Function],
      default: null
    }
  },
  data() {
    return {
      count: 0,
      imageLoadError: false,
      newComment: '',
      isFocused: false,
      refreshItems: false,
      BWfilter: null
    }
  },
  computed: {
    commentsCount: {
      get() {
        const c = this.count || this.items.length
        return c > 1000000
          ? this.$t('m-comments', {
              n: Math.round(c / 1000000)
            })
          : c > 1000
          ? this.$t('k-comments', {
              n: Math.round(c / 1000)
            })
          : this.$tc('comments', c)
      },
      set(v) {
        this.count = v
        this.$emit('aviable-comments', v)
      }
    },
    hasComments() {
      return this.count > 0 || this.items.length > 0
    },
    imageURL() {
      return (
        (this.$auth.user && this.$auth.user.avatar) ||
        `https://avatars.dicebear.com/v2/initials/${
          (this.$auth.user && this.$auth.user.userName) || 'unknown'
        }.svg`
      )
    },
    Item() {
      return {
        type: CardComment,
        props: {
          class: 'column is-12 has-text-light',
          textProp: this.textProp,
          dateTimeProp: this.dateTimeProp,
          replysProp: this.replysProp,
          userNameProp: this.userNameProp,
          userAvatarProp: this.userAvatarProp,
          likeProp: this.likeProp,
          dislikeProp: this.dislikeProp,
          showLikeDislike: this.showLikeDislike,
          allowReplys: this.showCommentInput,
          idProp: this.idProp,
          loadAsync: this.url !== null,
          useBadWordFilter: this.useBadWordFilter,
          badWordReplace: this.badWordReplace,
          onLoadReplys: this.onLoadReplys,
          onComment: this.onComment,
          onUserReact: this.onUserReact
        }
      }
    }
  },
  created() {
    // Load Bad Words Filter
    if (this.useBadWordFilter)
      this.BWfilter = new Filter({
        list: badWordsList,
        cleanWith: this.badWordReplace,
        useRegex: false
      })
  },
  methods: {
    sendComment(newComment) {
      if (newComment) {
        if (this.useBadWordFilter) newComment = this.BWfilter.clean(newComment)
        this.onComment(null, null, newComment).then(() => {
          this.refreshItems = true
        })
      }
      this.newComment = ''
    }
  }
}
</script>
<i18n>
{
  "en": {
    "comments": "1 comment | {n} comments",
    "k-comments": "{n}K comments",
    "m-comments": "{n}M of comments",
    "cancel": "Cancel",
    "comment": "Comment",
    "commentPlaceholder": "{user} write a public comment here...",
    "firstComment": "{user} be the first to comment..."
  },
  "es": {
    "comments": "1 comentario | {n} comentarios",
    "k-comments": "{n}K comentarios",
    "m-comments": "{n}M de comentarios",
    "cancel": "Cancelar",
    "comment": "Comentar",
    "commentPlaceholder": "{user} escribe tu comentario aquí...",
    "firstComment": "{user} se el primero en comentar..."
  }
}
</i18n>
