<template>
  <div
    :id="`card-titled-picture-${_uid}`"
    class="card-titled-picture card"
    :class="{ 'has-horizontal-contents': showTitlesOnSide }"
  >
    <div class="card-image" :class="{ 'is-rounded': isRounded }">
      <b-image
        style="cursor: pointer"
        :src="imageURL"
        :rounded="isRounded"
        :ratio="imageRatio"
        :lazy="false"
        alt=""
        @error="imageLoadError = true"
        @click.native="onItemClick(item && item[currentItemProps.id])"
      ></b-image>
      <span v-if="hasItemActions" class="item-shadow fadeIn animated faster">
        <slot name="item-shadow-content" v-bind="item" />
      </span>
      <slot name="picture-extra-addons" v-bind="item" />
    </div>
    <div class="card-content p-1">
      <div class="content">
        <h2
          v-if="showTitle"
          class="title is-4 overflow-ellipsis-2"
          style="color: white; cursor: pointer"
          @click.stop="onItemTitleClick(item && item[currentItemProps.id])"
        >
          {{ (item && item[currentItemProps.title]) || '' }}
        </h2>
        <slot name="extra-titles-content" />
        <p
          v-if="showSubtitle"
          class="subtitle is-6"
          :class="{
            'overflow-ellipsis-3': !isTextExpanded
          }"
        >
          {{ item[currentItemProps.subtitle] || '' }}
        </p>
        <p
          v-show="descriptionIsOverflowing"
          class="show-more-toogle has-text-light is-6 p-1 is-clickable"
          style="text-align: right"
          @click="isTextExpanded = !isTextExpanded"
        >
          {{ $t(isTextExpanded ? 'showLess' : 'showMore').toUpperCase() }}
        </p>
        <slot name="extra-titles-bottom-content" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CardTitledPicture',
  props: {
    item: {
      type: Object,
      default: () => {}
    },
    isLoading: {
      type: Boolean,
      default: false
    },
    isServerImage: {
      type: Boolean,
      default: true
    },
    imageRatio: {
      type: String,
      default: '4by4'
    },
    imageClass: {
      type: String,
      default: ''
    },
    hasItemActions: {
      type: Boolean,
      default: false
    },
    showTitlesOnSide: {
      type: Boolean,
      default: false
    },
    itemPropNames: {
      type: Object,
      default: undefined
    },
    fallbackItemImage: {
      type: String,
      default: undefined
    },
    itemIsUser: {
      type: Boolean,
      default: false
    },
    onItemClick: {
      type: Function,
      default: (itemId) => {}
    },
    onItemTitleClick: {
      type: Function,
      default: (itemId) => {}
    },
    customClass: {
      type: [String, Object],
      default: ''
    },
    isRounded: {
      type: Boolean,
      default: false
    },
    showTitle: {
      type: Boolean,
      default: true
    },
    showSubtitle: {
      type: Boolean,
      default: true
    },
    lazyLoading: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      loading: false,
      imageLoadError: false,
      itemProps: {
        id: 'id',
        title: 'title',
        subtitle: 'subtitle',
        image: 'image'
      },
      isTextExpanded: false
    }
  },
  computed: {
    currentItemProps() {
      return this.itemPropNames
        ? Object.assign({}, this.itemProps, this.itemPropNames)
        : this.itemProps
    },
    fallbackImage() {
      return this.item && !this.fallbackItemImage
        ? `https://avatars.dicebear.com/v2/${
            this.itemIsUser ? 'initials' : 'jdenticon'
          }/${this.item[this.currentItemProps.title] || 'random'}.svg`
        : this.fallbackItemImage ||
            'https://avatars.dicebear.com/v2/jdenticon/random.svg'
    },
    imageURL() {
      return this.item && !this.imageLoadError
        ? `${this.isServerImage ? this.$store.state.APP_BASE_URL : ''}${
            this.$store.state.API_DATA_PREFIX
          }${
            this.item[this.currentItemProps.image]
              ? this.item[this.currentItemProps.image]
              : this.fallbackImage
          }`
        : this.fallbackImage
    },
    imgClasses() {
      return `${this.imageClass ? this.imageClass : ''} ${
        !this.showTitlesOnSide ? 'item-skeleton-image' : ''
      }`
    },
    descriptionIsOverflowing() {
      const textEl = document.querySelector(
        `#card-titled-picture-${this._uid} div.card-content> div.content > p.subtitle`
      )
      return textEl && textEl.clientHeight < textEl.scrollHeight
    }
  },
  watch: {
    isLoading(newVal) {
      this.loading = newVal
    }
  },
  created() {
    this.loading = this.isLoading
  },
  mounted() {
    const shadowDiv = document.querySelector(
      `#card-titled-picture-${this._uid} div.card-image > span.item-shadow`
    )
    if (shadowDiv && this.onItemClick)
      shadowDiv.addEventListener(
        'click',
        () => {
          this.onItemClick(this.item && this.item[this.currentItemProps.id])
        },
        false
      )
  }
}
</script>
<i18n>
{
  "en": {
    "showMore": "Show More",
    "showLess": "Show Less"
  },
  "es": {
    "showMore": "Mostrar Más",
    "showLess": "Mostrar Menos"
  }
}
</i18n>
