<template>
  <div class="card-titled-picture is-paddingless" :class="customClass">
    <article
      class="column is-text-white"
      :class="{ columns: showTitlesOnSide }"
    >
      <div class="card-image column is-paddingless noShadows">
        <VideoPlayer class="video-player" :media="item.mediaSourcePath" />
        <span v-if="hasItemActions" class="item-shadow fadeIn animated faster">
          <div class="right-actions">
            <b-tooltip :label="$t('associationLabel')">
              <b-button
                icon-left="vector-combine"
                class="mr-1 mb-1 icon-only"
                size="is-small"
                @click.stop="$emit('associate', item)"
              />
            </b-tooltip>
            <b-tooltip :label="$t('share')">
              <b-button
                icon-left="share"
                class="icon-only mr-1"
                size="is-small"
                @click.stop="$emit('share', item)"
              />
            </b-tooltip>
          </div>
        </span>
      </div>
      <div
        class="column is-paddingless pt-1 item-skeleton-text"
        :class="{ 'is-12': !showTitlesOnSide, 'is-6 pl-3': showTitlesOnSide }"
      >
        <b-button
          type="is-text"
          class="title has-text-light m-0 mb-2 p-0 overflow-ellipsis-2"
          :class="showTitlesOnSide ? 'is-7 has-text-wrapp' : 'is-5'"
          style="justify-self: left"
          @click.stop="onItemTitleClick(item && item.id)"
        >
          {{ item && item.mediaTitle }}
        </b-button>
      </div>
    </article>
  </div>
</template>

<script>
import { VideoPlayer } from 'premium-tesh-ui-lib'

export default {
  name: 'CardMedia',
  components: { VideoPlayer },
  props: {
    item: {
      type: Object,
      default: () => {}
    },
    isLoading: {
      type: Boolean,
      default: false
    },
    hasItemActions: {
      type: Boolean,
      default: false
    },
    showTitlesOnSide: {
      type: Boolean,
      default: false
    },
    itemPropNames: {
      type: Object,
      default: undefined
    },
    customClass: {
      type: [String, Object],
      default: ''
    },
    onItemClick: {
      type: Function,
      default: (itemId) => {}
    },
    onItemTitleClick: {
      type: Function,
      default: (itemId) => {}
    }
  },
  data() {
    return {}
  },
  methods: {}
}
</script>
