<template>
  <card-titled-picture
    :item="item"
    image-ratio="4by4"
    :is-server-image="false"
    :item-is-user="true"
    :is-rounded="true"
    :show-titles-on-side="true"
    :item-prop-names="{
      image: userAvatarProp,
      title: userNameProp,
      subtitle: textProp
    }"
    class="comment-item"
    :show-subtitle="true"
  >
    <template #extra-titles-content>
      <span class="comment-relative-time">{{ fromNow }}</span>
    </template>
    <template #extra-titles-bottom-content>
      <span
        v-if="showLikeDislike || allowReplys"
        class="comment-actions is-flex"
      >
        <b-tooltip
          v-if="showLikeDislike"
          :label="$t('likeLabel')"
          position="is-top"
        >
          <b-button
            type="is-ghost"
            :icon-left="activeLike ? 'thumb-up' : 'thumb-up-outline'"
            :style="
              !loggedIn
                ? 'cursor: default; box-shadow: none'
                : 'box-shadow: none'
            "
            :class="{
              'animate__animated animate__jello': activeLike || enableLikeAnim
            }"
            @click="sendLike(true)"
          >
            {{ likes || 0 }}
          </b-button>
        </b-tooltip>
        <b-tooltip
          v-if="showLikeDislike"
          :label="$t('dislikeLabel')"
          position="is-top"
        >
          <b-button
            type="is-ghost"
            :icon-left="activeDisLike ? 'thumb-down' : 'thumb-down-outline'"
            :style="!loggedIn ? 'cursor: default' : ''"
            :class="{
              'animate__animated animate__jello':
                activeDisLike || enableDisLikeAnim
            }"
            @click="sendLike(false)"
          >
            {{ dislikes || 0 }}
          </b-button>
        </b-tooltip>
        <b-input
          v-if="allowReplys && $auth.loggedIn"
          v-model="newReply"
          :placeholder="$t('reply')"
          rounded
          class="reply-input"
          icon-right="send"
          type="textarea"
          :rows="1"
          :icon-right-clickable="true"
          @icon-right-click="sendReply(newReply)"
        />
      </span>
      <span
        v-show="allowReplys && tItems > 0"
        class="is-clickable"
        @click="showReplys = !showReplys"
      >
        <b-icon :icon="showReplys ? 'menu-up' : 'menu-down'" />
        {{ $tc(showReplys ? 'hidde' : 'show', tItems).toUpperCase() }}
      </span>
      <div
        v-if="allowReplys"
        v-show="showReplys"
        class="grid-comment-replys mt-1"
      >
        <template v-for="(reply, i) in innerReplys">
          <Reply
            :key="i"
            :item="reply"
            :parent-id="item[idProp]"
            :text-prop="textProp"
            :date-time-prop="dateTimeProp"
            :user-avatar-prop="userAvatarProp"
            :user-name-prop="userNameProp"
            :like-prop="likeProp"
            :dislike-prop="dislikeProp"
            :replys-prop="replysProp"
            :show-like-dislike="showLikeDislike"
            :allow-replys="allowReplys && $auth.loggedIn"
            :on-load-replys="onLoadReplys"
            :on-comment="onComment"
            :on-user-react="onUserReact"
            class="has-text-light"
          />
        </template>
        <span v-show="tPages > page" class="is-clickable" @click="loadMore">
          <b-icon icon="subdirectory-arrow-right" />
          {{ $t('show-more').toUpperCase() }}
        </span>
      </div>
    </template>
  </card-titled-picture>
</template>

<script>
import dayjs from 'dayjs'

import CardTitledPicture from './CardTitledPicture.vue'
import badWordsList from '~/mixins/badWordsList'

require('dayjs/locale/es')
const relativeTime = require('dayjs/plugin/relativeTime')
dayjs.extend(relativeTime)
const Filter = require('badwords-filter')

export default {
  name: 'Reply',
  components: {
    CardTitledPicture
  },
  mixins: [badWordsList],
  props: {
    item: {
      type: Object,
      default: null
    },
    parentId: {
      type: [String, Number],
      default: null
    },
    idProp: {
      type: String,
      default: 'id'
    },
    textProp: {
      type: String,
      default: 'text'
    },
    dateTimeProp: {
      type: String,
      default: 'dateTime'
    },
    userAvatarProp: {
      type: String,
      default: 'userAvatar'
    },
    userNameProp: {
      type: String,
      default: 'userName'
    },
    likeProp: {
      type: String,
      default: 'like'
    },
    dislikeProp: {
      type: String,
      default: 'dislike'
    },
    replysProp: {
      type: String,
      default: 'replys'
    },
    showLikeDislike: {
      type: Boolean,
      default: false
    },
    allowReplys: {
      type: Boolean,
      default: true
    },
    useBadWordFilter: {
      type: Boolean,
      default: true
    },
    // for bad word replace character
    badWordReplace: {
      type: String,
      default: '*'
    },
    loadAsync: {
      type: Boolean,
      default: false
    },
    itemsToLoad: {
      type: Number,
      default: 10
    },
    totalReplys: {
      type: Number,
      default: 0
    },
    onLoadReplys: {
      type: [Promise, Function],
      default: null
    },
    onComment: {
      type: [Promise, Function],
      default: null
    },
    onUserReact: {
      type: [Promise, Function],
      default: null
    }
  },
  data() {
    return {
      likes: 0,
      dislikes: 0,
      activeDisLike: false,
      activeLike: false,
      enableLikeAnim: false,
      enableDisLikeAnim: false,
      newReply: '',
      isFocused: false,
      showReplys: false,
      innerReplys: [],
      page: 0,
      tItems: 0,
      tPages: 1,
      BWfilter: null
    }
  },
  computed: {
    fromNow() {
      return dayjs(this.item[this.dateTimeProp]).fromNow()
    },
    loggedIn() {
      return this.$auth.loggedIn
    },
    noMoreData() {
      return this.page > this.tPages
    }
  },
  created() {
    dayjs.locale(this.$i18n.locale)
    this.loadMore()
    // Load Bad Words Filter
    if (this.useBadWordFilter)
      this.BWfilter = new Filter({
        list: badWordsList,
        cleanWith: this.badWordReplace,
        useRegex: false
      })
  },
  methods: {
    sendLike(val) {
      if (this.loggedIn) {
        this.onUserReact(this.item, val, this.likes, this.dislikes)
      } else {
        this.$buefy.toast.open({
          duration: 5000,
          message: this.$t('askLoggin'),
          type: 'is-info'
        })
      }
    },
    sendReply(newReply) {
      if (newReply) {
        if (this.useBadWordFilter) newReply = this.BWfilter.clean(newReply)
        this.onComment(this.item, this.item[this.idProp], newReply).then(() => {
          this.loadMore(true)
        })
      }
      this.newReply = ''
    },
    loadMore(reload = false) {
      if (!reload) this.page++
      if (this.loadAsync && !this.noMoreData)
        this.onLoadReplys(
          this.item,
          this.item[this.idProp],
          this.page,
          this.itemsToLoad
        ).then((response) => {
          this.tItems = response.data.records
          this.tPages = response.data.total
          this.innerReplys = reload
            ? response.data.results
            : this.innerReplys.concat(response.data.results)
        })
      else {
        this.tPages = Math.ceil(this.tItems / this.itemsToLoad)
        if (!this.noMoreData) {
          const end =
            this.tItems > this.itemsToLoad
              ? this.itemsToLoad * this.page
              : this.itemsToLoad
          this.innerReplys = this.item[this.replysProp].slice(0, end)
        }
      }
    }
  }
}
</script>
<i18n>
{
  "en": {
    "comments": "Comments",
    "cancel": "Cancel",
    "comment": "Comment",
    "likeLabel": "Like",
    "dislikeLabel": "Dislike",
    "askLoggin": "Please LogIn to commit this action",
    "reply": "Reply",
    "show": "Show 1 reply | Show {n} replys",
    "hidde": "Hidde 1 reply | Hidde {n} replys",
    "show-more": "Show More",
    "show-less": "Show Less"
  },
  "es": {
    "comments": "Comentarios",
    "cancel": "Cancelar",
    "comment": "Comentar",
    "likeLabel": "Me gusta",
    "dislikeLabel": "No me gusta",
    "askLoggin": "Por favor, autentíquese para realizar esta acción",
    "reply": "Responder",
    "show": "Mostrar 1 respuesta | Mostrar {n} respuestas",
    "hidde": "Ocultar 1 respuesta | Ocultar {n} respuestas",
    "show-more": "Mostrar Más",
    "show-less": "Mostrar Menos"
  }
}
</i18n>
