<template>
  <b-message
    :class="customClass"
    :type="type"
    :closable="closable"
    :active.sync="item[currentItemProps.active]"
    class="category-card premium-shadow"
    aria-close-label="controls"
  >
    <template #header>
      {{ item[currentItemProps.name] }}
      <b-field v-if="$auth.loggedIn" position="is-right" class="controls">
        <b-button
          icon-left="pencil"
          class="mr-1"
          @click.stop="$emit('edit', item)"
        />
        <b-button icon-left="trash-can" @click="$emit('delete', item)" />
      </b-field>
    </template>
    <span class="overflow-ellipsis-5">
      {{ item[currentItemProps.description] }}
    </span>
  </b-message>
</template>

<script>
export default {
  name: 'CategoryCard',
  props: {
    type: {
      type: String,
      default: ''
    },
    customClass: {
      type: String,
      default: ''
    },
    closable: {
      type: Boolean,
      default: false
    },
    propNames: {
      type: Object,
      default: () => {}
    },
    item: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      itemProps: {
        id: 'id',
        name: 'name',
        description: 'description',
        active: 'active'
      }
    }
  },
  computed: {
    currentItemProps() {
      return this.propNames
        ? Object.assign({}, this.itemProps, this.propNames)
        : this.itemProps
    }
  }
}
</script>

<style lang="scss" scoped>
article.category-card {
  min-width: 15rem;
  max-width: 20rem;
}
.premium-shadow {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}
</style>
