<template>
  <div class="advanced-cropper">
    <b-loading
      v-model="loading"
      :is-full-page="false"
      :can-cancel="false"
    ></b-loading>

    <cropper
      v-if="!error && image && image !== 'null'"
      :id="`advanced-cropper-container-${$refs[`cropper-${_uid}`]}`"
      :ref="`cropper-${_uid}`"
      class="advanced-cropper-container"
      :stencil-component="stencilComponent"
      :src="image"
      :default-boundaries="boundaries"
      :stencil-props="stencilProps"
      :stencil-size="stencilSize"
      :resize-image="{
        adjustStencil: isResizable
      }"
      :min-height="minHeight"
      :min-width="minWidth"
      :max-height="maxHeight"
      :max-width="maxWidth"
      :image-restriction="imageRestriction"
      @ready="loading = false"
      @error="gotError"
      @change="onChange"
    />
    <div v-if="showPreview && !error && currentImage" class="results__wrapper">
      <div class="results__coordinates">
        <p class="results__coordinates-title">Result:</p>
        <p class="results__coordinates-value">Width: {{ coordinates.width }}</p>
        <p class="results__coordinates-value">
          Height: {{ coordinates.height }}
        </p>
        <p class="results__coordinates-value">Left: {{ coordinates.left }}</p>
        <p class="results__coordinates-value">Top: {{ coordinates.top }}</p>
      </div>
      <div
        class="results__preview"
        :class="{ preview_circle: stencilComponent === 'circle-stencil' }"
      >
        <img :src="currentImage" alt />
      </div>
    </div>

    <div
      v-if="!error && image && image !== 'null'"
      class="cropper-actions advanced-accesibility-actions"
    >
      <b-tooltip :label="tr('zoomIn')" type="is-light">
        <b-icon
          icon="magnify-plus-outline"
          type="is-white"
          :size="loadIcon.size"
          @click.native="zoom(2)"
        />
      </b-tooltip>
      <b-tooltip :label="tr('zoomOut')" type="is-light">
        <b-icon
          icon="magnify-minus-outline"
          type="is-white"
          :size="loadIcon.size"
          @click.native="zoom(0.5)"
        />
      </b-tooltip>
      <b-tooltip :label="tr('center')" type="is-light">
        <b-icon
          icon="image-filter-center-focus-weak"
          type="is-white"
          :size="loadIcon.size"
          @click.native="center"
        />
      </b-tooltip>
    </div>
    <div
      v-if="!error && image && image !== 'null'"
      class="cropper-actions advanced-cropper-actions"
    >
      <b-tooltip :label="tr('load')" type="is-light">
        <b-icon
          :icon="loadIcon.icon"
          :type="loadIcon.type"
          :size="loadIcon.size"
          @click.native="simulateFileInputClick"
        />
      </b-tooltip>
      <b-tooltip v-if="searchFromChannel" :label="tr('load')" type="is-light">
        <b-icon
          :icon="searchIcon.icon"
          :type="searchIcon.type"
          :size="searchIcon.size"
          @click.native="openSearch"
        />
      </b-tooltip>
      <b-tooltip :label="tr('deleteButton')" type="is-light">
        <b-icon
          v-if="image"
          icon="trash-can-outline"
          type="is-danger"
          :size="cropIcon.size"
          @click.native="deleteImages"
        />
      </b-tooltip>
      <b-tooltip
        v-if="(uploadWithUppy && file) || modified"
        :label="tr('upload')"
        type="is-light"
        always
      >
        <b-icon
          :icon="cropIcon.icon"
          :type="cropIcon.type"
          :size="cropIcon.size"
          @click.native="crop"
        />
      </b-tooltip>
    </div>
    <b-upload
      v-if="allowUpload"
      v-show="!image || image === 'null'"
      :ref="`fileInput-${_uid}`"
      drag-drop
      :expanded="$attrs.expanded"
      :accept="accept"
      :disabled="$attrs.disabled"
      class="uploader fadeIn animated slow"
      style="width: 100%; heigth: 100%"
      @change.native="previewImage"
    >
      <b-icon
        class="m-6"
        icon="image-search-outline"
        :type="error ? 'is-danger' : 'is-primary'"
        custom-size="mdi-48px"
        style="display: contents"
      />
      {{ $attrs.placeholder }}
    </b-upload>
    <b-button
      v-if="allowUpload && searchFromChannel"
      v-show="!image"
      size="is-large"
      class="search-from-cchannel"
      @click="openSearch"
    >
      <b-icon
        icon="magnify-scan"
        :type="error ? 'is-danger' : 'is-primary'"
        custom-size="mdi-36px"
        style="text-align: center"
      />
    </b-button>
    <b-icon
      v-if="!allowUpload"
      v-show="error || image === 'null' || loading"
      icon="image-off-outline"
      :type="error ? 'is-danger' : 'is-primary'"
      custom-size="mdi-48px"
      style="text-align: center"
    />
  </div>
</template>

<script>
// eslint-disable-next-line simple-import-sort/imports
import 'vue-advanced-cropper/dist/style.css'

import Tus from '@uppy/tus'
import Vue from 'vue'
import { Cropper } from 'vue-advanced-cropper'
import VueI18n from 'vue-i18n'

import messages from '../messages'
import CarouselSearcher from '@/components/CarouselSearcher'

Vue.use(VueI18n)

const i18n = new VueI18n({
  locale: 'en',
  fallbackLocale: 'en',
  vueI18nLoader: true,
  messages
})
const Uppy = require('@uppy/core')
const Spanish = require('@uppy/locales/lib/es_ES')

const generateId = () => Math.random().toString(36).substr(2, 18)

export default {
  name: 'AdvancedCropper',
  components: {
    Cropper
  },
  props: {
    value: {
      type: String,
      default: ''
    },
    basePath: {
      type: String,
      default: ''
    },
    isResizable: {
      type: Boolean,
      default: false
    },
    allowUpload: {
      type: Boolean,
      default: true
    },
    uploadWithUppy: {
      type: Boolean,
      default: false
    },
    tusEndpoint: {
      type: String,
      default: '/api-data/files'
    },
    // MIME Types to upload
    accept: {
      type: String,
      default: 'image/*'
    },
    aspectRatio: {
      type: Number,
      default: 1
    },
    minHeight: {
      type: Number,
      default: undefined
    },
    minWidth: {
      type: Number,
      default: undefined
    },
    maxHeight: {
      type: Number,
      default: undefined
    },
    maxWidth: {
      type: Number,
      default: undefined
    },
    // Width and Height of stencil
    stencilSize: {
      type: Object,
      default: undefined
    },
    // Change mode between rectangle and circle
    stencilComponent: {
      type: String,
      default: 'rectangle-stencil'
    },
    showPreview: {
      type: Boolean,
      default: false
    },
    searchFromChannel: {
      type: Boolean,
      default: false
    },
    // Width and Height of boundaries
    boundaries: {
      type: String,
      default: 'fill'
    },
    imageRestriction: {
      type: String,
      default: 'stencil'
    },
    loadIcon: {
      type: Object,
      default: () => {
        return {
          icon: 'folder-open-outline',
          type: 'is-primary',
          size: 'is-default',
          class: ''
        }
      }
    },
    searchIcon: {
      type: Object,
      default: () => {
        return {
          icon: 'magnify-scan',
          type: 'is-primary',
          size: 'is-default',
          class: ''
        }
      }
    },
    cropIcon: {
      type: Object,
      default: () => {
        return {
          icon: 'upload',
          type: 'is-primary',
          size: 'is-default',
          class: ''
        }
      }
    },
    // Locale string {en, es ...} for display language on component
    locale: {
      type: String,
      default: 'en'
    },
    filtersDefs: {
      type: Object,
      default: () => {}
    },
    filterResultsDefs: {
      type: Object,
      default: () => {}
    },
    contentChannelId: { type: String, default: '' }
  },
  data() {
    return {
      change: false,
      coordinates: {
        width: 0,
        height: 0,
        left: 0,
        top: 0
      },
      result: {
        coordinates: null,
        image: null
      },
      size: {
        width: null,
        height: null
      },
      image: null,
      currentImage: null,
      file: null,
      error: false,
      loading: true,
      id: null,
      uppy: {},
      modified: false
    }
  },
  computed: {
    stencilProps() {
      return this.isResizable
        ? {
            aspectRatio: this.aspectRatio
          }
        : {
            handlers: {},
            movable: false,
            scalable: false,
            aspectRatio: this.aspectRatio,
            'max-width': this.maxWidth,
            'max-height': this.maxHeight
          }
    }
  },
  watch: {
    value(newVal) {
      this.currentImage = newVal
    },
    currentImage(newVal) {
      this.$emit('input', newVal)
    },
    image(newVal) {
      if (newVal === 'null') this.error = true
    }
  },
  created() {
    this.currentImage = this.value
    this.image = this.basePath + this.value
    i18n.locale = this.locale
  },
  mounted() {
    const cropper = document.querySelector(
      `#advanced-cropper-container-${this._uid}>.vue-advanced-cropper__boundaries`
    )
    const cropperActions = document.getElementsByClassName(`cropper-actions`)
    if (cropper && cropperActions.length)
      for (let index = 0; index < cropperActions.length; index++) {
        const element = cropperActions[index]
        cropper.appendChild(element)
      }
    if (!this.src) this.loading = false
    else
      setTimeout(() => {
        this.loading = false
      }, 30000)

    // Config Uppy
    if (this.uploadWithUppy) {
      this.uppy = new Uppy({
        autoProceed: true,
        restrictions: {
          allowedFileTypes: [this.accept],
          maxNumberOfFiles: 1
        },
        locale: this.locale === 'es' && Spanish
      })
      this.uppy.use(Tus, {
        endpoint: this.tusEndpoint,
        removeFingerprintOnSuccess: true,
        headers: { authorization: `${this.$auth.strategy.token.get()}` },
        onAfterResponse: this.parseTUSResponse
      })
      this.uppy.on('file-removed', () => {
        if (
          this.$refs[`fileInput-${this._uid}`] &&
          this.$refs[`fileInput-${this._uid}`].$refs.input
        )
          this.$refs[`fileInput-${this._uid}`].$refs.input.value = null
      })

      this.uppy.on('complete', () => {
        if (
          this.$refs[`fileInput-${this._uid}`] &&
          this.$refs[`fileInput-${this._uid}`].$refs.input
        )
          this.$refs[`fileInput-${this._uid}`].$refs.input.value = null
        this.loading = false
      })
      this.uppy.on('upload-success', (file, response) => {})
    }
  },
  methods: {
    crop() {
      const { coordinates, canvas } =
        this.$refs[`cropper-${this._uid}`].getResult()
      const result = this.$refs[`cropper-${this._uid}`].getResult()

      this.coordinates = coordinates

      canvas.toBlob((blob) => {
        const file = new File(
          [blob],
          this.file ? this.file.name : `${generateId()}.png`,
          {
            type: blob.type
          }
        )
        this.file = file

        // Cancel all uploads, reset progress and remove all files.
        try {
          this.loading = true
          this.uppy.cancelAll()
          // Update the file content with cropped image
          this.file.data = result.canvas.toDataURL()
          this.file.fileId = this.uppy.addFile({
            name: this.file.name || '',
            type: this.file.type || 'image/jpeg',
            size: this.file.size,
            data: this.file, // file blob
            preview: this.file.data,
            meta: {
              relativePath: this.file.webkitRelativePath
            },
            isRemote: false,
            source: 'file input'
          })
          this.currentImage = this.file.data
        } catch (error) {
          if (error.isRestriction)
            this.$buefy.toast.open({
              message: error.message,
              type: 'is-warning'
            })
          // eslint-disable-next-line no-console
          else console.error(error)
          this.loading = false
        }
      })
    },
    gotError() {
      this.loading = false
      this.error = true
      this.image = null
    },
    previewImage(event) {
      const { files } = event.target
      if (files && files.length) {
        // 1. Revoke the object URL, to allow the garbage collector to destroy the uploaded before file
        if (this.image) {
          URL.revokeObjectURL(this.image)
        }
        this.currentImage = ''
        // 2. Create the blob link to the file to optimize performance:
        const blob = URL.createObjectURL(files[0])
        this.file = files[0]
        // Create a new FileReader to read this image binary data
        const reader = new FileReader()
        // Define a callback function to run, when FileReader finishes its job
        reader.onload = (e) => {
          // Note: arrow function used here, so that "this.image" refers to the image of Vue component
          this.image = blob
          this.error = false
        }
        // Start the reader job - read file as a data url (base64 format)
        reader.readAsArrayBuffer(files[0])
        this.change = true
      }
    },
    onChange({ coordinates, image, canvas }) {
      this.result = {
        coordinates,
        image
      }

      this.coordinates = coordinates
      if (this.change) {
        this.$emit('image-saved')
        this.modified = true
      }
      this.updateSize(coordinates)
      // Get a cropped image
      if (canvas && !this.uploadWithUppy) this.currentImage = canvas.toDataURL()
      this.change = true
    },
    simulateFileInputClick() {
      if (
        this.$refs[`fileInput-${this._uid}`] &&
        this.$refs[`fileInput-${this._uid}`].$refs.input
      ) {
        // eslint-disable-next-line no-unused-vars
        const innerFInput = this.$refs[`fileInput-${this._uid}`].$refs.input
        innerFInput.click()
      }
    },
    deleteImages() {
      this.image = null
      this.currentImage = null
      this.$emit('image-saved')
    },
    tr(key, param = null) {
      return i18n.t(key, param)
    },
    updateSize(coordinates) {
      this.size.width = Math.round(coordinates.width)
      this.size.height = Math.round(coordinates.height)
      this.change = true
    },
    zoom(factor) {
      this.$refs[`cropper-${this._uid}`].zoom(factor)
      this.change = true
      this.modified = true
    },
    center() {
      this.$refs[`cropper-${this._uid}`].setCoordinates(
        ({ coordinates, imageSize }) => ({
          left: imageSize.width / 2 - coordinates.width / 2,
          top: imageSize.height / 2 - coordinates.height / 2
        })
      )
      this.change = true
      this.modified = true
    },
    flip(x, y) {
      if (this.$refs[`cropper-${this._uid}`].customImageTransforms)
        if (
          this.$refs[`cropper-${this._uid}`].customImageTransforms.rotate %
            180 !==
          0
        ) {
          this.$refs[`cropper-${this._uid}`].flip(!x, !y)
        } else {
          this.$refs[`cropper-${this._uid}`].flip(x, y)
        }
      this.change = true
      this.modified = true
    },
    move(direction) {
      if (direction === 'left') {
        this.$refs[`cropper-${this._uid}`].move(-this.size.width / 4)
      } else if (direction === 'right') {
        this.$refs[`cropper-${this._uid}`].move(this.size.width / 4)
      } else if (direction === 'top') {
        this.$refs[`cropper-${this._uid}`].move(0, -this.size.height / 4)
      } else if (direction === 'bottom') {
        this.$refs[`cropper-${this._uid}`].move(0, this.size.height / 4)
      }
      this.change = true
      this.modified = true
    },
    parseTUSResponse(request, response) {
      if (response) {
        const data = response.getHeader('mediainfofull')
        if (data) this.$emit('image-uploaded', JSON.parse(data))
      }
    },
    openSearch() {
      this.$buefy.modal.open({
        parent: this,
        component: CarouselSearcher,
        props: {
          locale: this.locale,
          dataUrl: `contentchannel/${this.contentChannelId}/MediaContext1?filters=mediaType==2,streamType==1`,
          cardTitle: this.filtersDefs.title,
          cardWidth: 600,
          filtersDefs: this.filtersDefs,
          resultsDefs: this.filterResultsDefs
        },
        events: {
          'selected-results': (newVal) => {
            this.image = this.basePath + newVal.mediaSourcePath
            this.$emit('change-foto', newVal.mediaSourcePath)
            this.error = false
          },
          'clear-form': () => {
            this.$emit('clear-form')
          }
        },
        hasModalCard: true,
        destroyOnHide: true,
        trapFocus: true,
        canCancel: ['escape', 'x']
      })
    }
  }
}
</script>
