<template>
  <tag-list-component
    v-model="localvalue"
    v-bind="$attrs"
    :data-url="getBasePath"
    :field="field"
    :horizontal="horizontal"
    :icon="icon"
    :is-required="isRequired"
    :is-autocomplete="true"
    :open-on-focus="openOnFocus"
    :append-to-body="true"
    :label-on-border="labelOnBorder"
    :label-inside="labelInside"
  >
    <template #extra-right-content>
      <b-dropdown
        ref="dropdownCategory"
        position="is-top-left"
        append-to-body
        aria-role="menu"
        trap-focus
        @active-change="showCategory = !showCategory"
      >
        <template #trigger>
          <b-button :icon-left="iconButton"></b-button>
        </template>

        <b-dropdown-item
          class="createCategory"
          aria-role="menu-item"
          :focusable="false"
          custom
          paddingless
        >
          <div style="width: 300px">
            <div v-if="showCategory">
              <dynamic-form
                id="formCreateCategoryPub"
                :submit-url="dataUrl"
                :edition-mode="false"
                :is-in-modal="false"
                :form="form"
                :card-title="$tc('categoryLabel')"
                :card-subtitle="$t('create', { element: '' })"
                :card-width="700"
                :prevent-submit="false"
                :close-on-submit="true"
                :locale="$i18n.locale"
                @form-saved="reload"
                @form-close="close"
              />
            </div>
          </div>
        </b-dropdown-item>
      </b-dropdown>
    </template>
  </tag-list-component>
</template>

<script>
import { DynamicForm } from 'premium-tesh-ui-lib'
export default {
  name: 'CategoryListInput',
  components: {},
  props: {
    value: {
      type: Array,
      default: () => []
    },
    horizontal: {
      type: Boolean,
      default: true
    },
    icon: {
      type: String,
      default: 'label'
    },
    isRequired: {
      type: Boolean,
      default: true
    },
    openOnFocus: {
      type: Boolean,
      default: true
    },
    allowDuplicates: {
      type: Boolean,
      default: false
    },
    field: {
      type: String,
      default: 'value'
    },
    dataUrl: {
      type: String,
      default: undefined
    },
    autocompleteData: {
      type: Array,
      default: () => []
    },
    appendToBody: {
      type: Boolean,
      default: false
    },
    customRule: {
      type: RegExp,
      default: undefined
    },
    labelInside: {
      type: Boolean,
      default: false
    },
    labelOnBorder: {
      type: Boolean,
      default: false
    },
    showButtonModal: {
      type: Boolean,
      default: false
    },
    iconButton: {
      type: String,
      default: 'tag-plus'
    },
    form: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      data: [],
      showCategory: false,
      refresh: false
    }
  },
  computed: {
    localvalue: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('input', val)
      }
    },
    getBasePath() {
      return this.refresh ? '' : this.dataUrl
    }
  },
  methods: {
    reload() {
      this.refresh = true
      setTimeout(() => {
        this.refresh = false
      }, 1000)
    },
    showAddModal() {
      this.$buefy.modal.open({
        parent: this,
        component: DynamicForm,
        props: {
          form: this.form,
          isInModal: true,
          locale: this.$i18n.locale,
          cardTitle: this.$tc('categoryLabel'),
          cardSubtitle: this.$t('create', { element: '' }),
          cardWidth: 700,
          preventSubmit: false,
          editionMode: false,
          submitUrl: this.dataUrl
        },
        hasModalCard: true,
        destroyOnHide: true,
        trapFocus: true,
        canCancel: ['escape', 'x']
      })
    },
    close() {
      this.$refs.dropdownCategory.isActive = false
    }
  }
}
</script>
