<template>
  <div>
    <div v-for="(param, index) in params" :key="index" class="columns m-0">
      <div
        class="columns is-mobile is-multiline m-0 mr-5 column is-10 fields-column"
        v-bind="$attrs"
      >
        <template v-for="(field, i) in param">
          <div
            v-if="i !== 'duplicated'"
            :key="`${index}-${i}`"
            class="column"
            v-bind="field['field-wrapper']"
          >
            <component
              :is="field.type"
              v-model="field.value"
              v-bind="field['field-input']"
              :vid="`${index}-${i}`"
              :disabled="$attrs.disabled || field.readonly"
              :locale="locale"
              v-on="onMethods(params, field, index)"
              @input="innerValue"
            />
          </div>
        </template>
      </div>
      <div
        class="column is-narrow is-2 buttons-column"
        :class="buttonsColumnClass"
      >
        <b-button
          :disabled="$attrs.disabled || params.length === 1"
          type="is-danger"
          @click.stop="deleteParam(index)"
        >
          <b-icon :icon="deleteFieldIcon" :size="iconsSize" />
        </b-button>
        <b-button
          v-show="!params[index].duplicated"
          :disabled="$attrs.disabled"
          type=""
          @click.stop="addNewParam(index)"
        >
          <b-icon :icon="addFieldIcon" :size="iconsSize" />
        </b-button>
      </div>
    </div>
  </div>
</template>

<script>
import cellViewMixin from '@/mixins/cellViewMixin'

export default {
  name: 'DynamicField',
  mixins: [cellViewMixin],
  props: {
    parameters: {
      type: Array,
      required: true,
      default: null
    },
    addFieldIcon: {
      type: String,
      default: 'plus'
    },
    deleteFieldIcon: {
      type: String,
      default: 'minus'
    },
    iconsSize: {
      type: String,
      default: 'is-small'
    },
    buttonsColumnClass: {
      type: String,
      default: 'is-flex'
    },
    value: {
      type: null,
      default: null
    },
    locale: {
      type: String,
      default: 'en'
    }
  },
  data() {
    return {
      params: []
    }
  },
  watch: {
    value(newVal) {
      if (!newVal) this.cleanParams()
    }
  },
  created() {
    this.params = [...this.parameters] || []
    if (this.value) this.setValues(this.value)
    else this.cleanParams()
  },
  mounted() {
    for (const key in this.params) {
      for (const field in this.params[key]) {
        if (typeof this.params[key][field] === 'object')
          this.params[key][field].value = this.params[key][field].render
            ? this.params[key][field].render(this.params[key][field].value)
            : this.params[key][field].value ||
              this.params[key][field].default ||
              null
      }
    }
  },
  methods: {
    onMethods(parameters, field, index) {
      return typeof field.events === 'function'
        ? field.events(parameters, index)
        : field.events
    },
    addNewParam(index) {
      const newField = {}
      Object.keys(this.params[index]).forEach((element) => {
        if (element !== 'duplicated') {
          newField[element] = Object.assign({}, this.params[index][element])
          newField[element].value = null
        }
      })
      this.params.splice(index + 1, 0, newField)
      this.params[index].duplicated = true
    },
    deleteParam(index) {
      this.params.splice(index, 1)
      if (index > 0) this.params[index - 1].duplicated = false
    },
    innerValue() {
      this.$emit('input', this.params)
    },
    cleanParams() {
      for (const key in this.params) {
        for (const field in this.params[key]) {
          if (typeof this.params[key][field] === 'object')
            this.params[key][field].value = null
          else this.params[key][field] = false
        }
      }
    },
    setValues(newVal) {
      if (typeof newVal === 'object') {
        Object.keys(newVal).forEach((index) => {
          if (typeof newVal[index] === 'object') {
            Object.keys(newVal[index]).forEach((key) => {
              if (this.params.length <= index) this.addNewParam(index - 1)
              this.params[index][key].value = newVal[index][key]
            })
          }
        })
      } else {
        this.cleanParams()
      }
    }
  }
}
</script>

<style scoped>
.columns.is-vbottom {
  align-items: flex-end;
}
.column.is-narrow > button {
  margin-bottom: 3px;
}
.columns > .column {
  padding: 0.75rem 0.25rem;
}
.fields-column {
  justify-content: space-between;
  align-items: center;
}
.buttons-column {
  align-self: center;
  justify-content: center;
  display: grid;
}
</style>
