<template>
  <b-dropdown ref="dropdown" aria-role="menu" :class="$attrs.position" expanded>
    <template #trigger>
      <ValidationProvider
        v-slot="{ errors, valid, untouched }"
        :vid="vid || $attrs.vid || $attrs.name || $attrs.label"
        :name="$attrs.name || $attrs.label"
        :rules="rules"
        :mode="validationMode"
      >
        <b-field
          v-bind="$attrs"
          horizontal
          :label="$attrs.name || $attrs.label"
          :type="inputType(errors, untouched, valid)"
          :message="errors"
          class="form-group social-media"
        >
          <div class="control has-icons-right">
            <b-input
              id="inputIcon"
              ref="picker"
              v-model="search"
              :custom-class="$attrs.customClass"
              :placeholder="$attrs.placeholder"
              :read-only="file !== null"
              icon-right="close"
              :icon-right-clickable="true"
              expanded
              @click.native="show"
              @blur="blur"
              @icon-right-click="deleteSelectedIcon"
            >
            </b-input>
          </div>

          <div class="file is-white" :class="{ 'has-name': !!file }">
            <b-field>
              <b-tooltip
                type="is-white"
                :label="$attrs.buttonLabel"
                position="is-top"
              >
                <b-upload
                  v-model="file"
                  accept="image/*"
                  style="cursor: pointer"
                  @change.native="previewImage"
                  @click.native="uploadChange"
                >
                  <span class="file-cta" style="border-color: #f1f2f2">
                    <b-icon
                      class="file-icon"
                      icon="folder"
                      style="padding-left: 0.5em"
                    ></b-icon>
                  </span>
                </b-upload>
              </b-tooltip>
            </b-field>
          </div>
        </b-field>
      </ValidationProvider>
    </template>

    <b-dropdown-item v-if="!file && !uploadOpen" :focusable="false" paddingless>
      <div>
        <div
          :class="[
            'previewer',
            'rounded',
            { 'custom-shadow-sm': !hoverPanel },
            { 'custom-shadow': hoverPanel }
          ]"
          @mouseover="hoverPanel = true"
          @mouseout="hoverPanel = false"
        >
          <div
            v-for="(i, index) in icons"
            :key="index"
            class="icon-preview"
            @click="select(i)"
          >
            <div
              :class="[
                'icon-wrapper',
                'rounded',
                'shadow-sm',
                { selected: i.title == selected }
              ]"
            >
              <i :class="'mdi mdi-' + i.title" />
            </div>
          </div>
        </div>
      </div>
    </b-dropdown-item>
  </b-dropdown>
</template>

<script>
import { extend, ValidationProvider } from 'vee-validate'
import { required } from 'vee-validate/dist/rules'
import Vue from 'vue'
import VueI18n from 'vue-i18n'

import messages from '../messages'

Vue.use(VueI18n)

const i18n = new VueI18n({
  locale: 'en',
  fallbackLocale: 'en',
  vueI18nLoader: true,
  messages
})

const list =
  '{"icons":[{"title":"android"},{"title":"apple"},{"title":"box"},{"title":"dropbox"},{"title":"evernote"},{"title":"google-drive"},{"title":"linkedin"}' +
  ',{"title":"reddit"},{"title":"apple-ios"},{"title":"apple-finder"},{"title":"twitch"},{"title":"deviantart"},{"title":"facebook"},{"title":"facebook-gaming"},{"title":"facebook-messenger"}' +
  ',{"title":"facebook-workplace"},{"title":"github"},{"title":"gitlab"},{"title":"instagram"},{"title":"snapchat"},{"title":"steam"},{"title":"twitter"},{"title":"sony-playstation"}' +
  ',{"title":"pandora"},{"title":"pinterest"},{"title":"send"},{"title":"qqchat"},{"title":"microsoft-windows"},{"title":"microsoft-onedrive"},{"title":"sina-weibo"},{"title":"send"},{"title":"slack"},{"title":"skype"}' +
  ',{"title":"spotify"},{"title":"soundcloud"},{"title":"trello"},{"title":"microsoft-teams"},{"title":"vimeo"},{"title":"wordpress"},{"title":"whatsapp"},{"title":"wechat"}' +
  ',{"title":"microsoft-xbox"},{"title":"youtube"},{"title":"youtube-gaming"},{"title":"youtube-studio"},{"title":"youtube-subscription"}]}'

const iconList = JSON.parse(list).icons
export default {
  name: 'IconPicker',
  components: {
    ValidationProvider
  },
  props: {
    vid: {
      type: String,
      default: undefined
    },
    value: {
      type: null,
      default: null
    },
    isRequired: {
      type: Boolean,
      default: true
    },
    locale: {
      type: String,
      default: 'en'
    },
    validationMode: {
      type: String,
      default: 'aggressive'
    },
    customRule: {
      type: String,
      default: undefined
    },
    hideValidation: {
      type: Boolean,
      default: false
    },
    itemList: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      icons: null,
      hoverPanel: false,
      search: '',
      beforeSelect: '',
      selected: '',
      file: null,
      uploadOpen: false
    }
  },
  computed: {
    rules() {
      if (this.customRule) {
        const rules = {
          required: this.isRequired,
          custom: this.customRule
        }
        return rules
      }
      return this.isRequired ? 'required' : ''
    }
  },
  watch: {
    value(newVal) {
      if (this.file === null) {
        this.search = newVal
      }
    },
    search(newValue) {
      if (newValue) {
        const array =
          this.itemList !== null ? JSON.parse(this.itemList).icons : iconList

        const filter = array.filter((option) => {
          return option.title
            .toString()
            .toLowerCase()
            .includes(newValue.toLowerCase())
        })

        if (filter.length === 0) {
          this.icons = array
        } else {
          this.icons = filter
        }

        this.$emit('input', newValue)
      }
    }
  },
  created() {
    i18n.locale = this.locale
    if (this.value) {
      this.search = this.value
    } else {
      this.search = ''
    }
    this.icons =
      this.itemList !== null ? JSON.parse(this.itemList).icons : iconList
    extend('required', {
      ...required,
      message: `{_field_} ${i18n.t('required')}`
    })
  },
  methods: {
    uploadChange() {
      this.uploadOpen = true
    },
    hide() {
      this.$refs.dropdown.isActive = false
    },
    show() {
      this.uploadOpen = false
      this.$refs.dropdown.isActive = false
    },
    select(icon) {
      if (icon) {
        if (this.search !== this.selected) this.beforeSelect = this.search
        this.selected = icon.title
        this.search = icon.title
      }
    },
    blur() {
      setTimeout(() => {
        const array =
          this.itemList !== null ? JSON.parse(this.itemList).icons : iconList
        const found = this.existIcon(array, this.search)
        if (!found && this.file === null) {
          this.search = ''
        }
      }, 1000)
    },
    previewImage(event) {
      const { files } = event.target
      if (files && files.length) {
        // 1. Revoke the object URL, to allow the garbage collector to destroy the uploaded before file
        if (this.image) {
          URL.revokeObjectURL(this.image)
        }
        this.currentImage = ''
        // 2. Create the blob link to the file to optimize performance:
        const blob = URL.createObjectURL(files[0])
        this.file = files[0]
        // Create a new FileReader to read this image binary data
        const reader = new FileReader()
        // Define a callback function to run, when FileReader finishes its job
        reader.onload = (e) => {
          this.$emit('input', reader.result)
          this.image = blob
          this.error = false
        }
        // Start the reader job - read file as a data url (base64 format)
        this.search = files[0].name
        this.selected = ''

        reader.readAsDataURL(files[0])
      }
    },
    deleteSelectedIcon() {
      if (this.file != null || (this.search != null && this.selected != null)) {
        this.file = null
        this.search = ''
        this.icons =
          this.itemList !== null ? JSON.parse(this.itemList).icons : iconList
      }
    },
    inputType(errors, untouched, valid) {
      if (this.hideValidation) return undefined
      else
        return {
          'is-danger': errors[0],
          '': untouched,
          'is-success': valid
        }
    },
    existIcon(array, newValue) {
      let found = false
      if (array.length)
        found =
          array.filter(
            (icon) => icon.title.toLowerCase() === newValue.toLowerCase()
          ).length > 0
      return found
    }
  }
}
</script>
