<template>
  <vue-simple-suggest
    ref="suggest"
    v-model="selectedValue"
    style="width: 100%"
    v-bind="$attrs"
    :display-attribute="optionName"
    :value-attribute="optionId"
    :list="getData"
    :filter-by-query="filterByQuery"
    :max-suggestions="maxSuggestions"
    :min-length="minLengthToShowList"
    :debounce="debounce"
    :nullable-select="false"
    :placeholder="$attrs.placeholder"
    mode="select"
    @suggestion-click="onSuggestClick"
    @select="onSuggestSelect"
    @hover="onSuggestHover"
    @focus="onFocus"
    @blur="onBlur"
    @request-start="onRequestStart"
    @request-done="onRequestDone"
    @request-failed="onRequestFailed"
    @show-list="onShowList"
    @hide-list="onHideList"
  >
    <template slot="misc-item-above" slot-scope="{ suggestions, query }">
      <div
        v-if="loading"
        class="misc-item is-flex columns is-multiline is-gapless search-header m-0 p-0"
      >
        <div class="column is-12 is-flex" style="justify-content: center">
          <b-icon
            v-show="loading"
            icon="loading"
            custom-size="mdi-48px"
            :class="{ 'search-loading': loading }"
          />
        </div>
        <div class="column is-flex" style="justify-content: center">
          <span>{{ tr('searchFor', { param: query }) }}</span>
        </div>
      </div>

      <!-- Sub-template if have any suggestions -->
      <template v-if="suggestions.length > 0">
        <div
          class="misc-item mb-0 is-flex search-header"
          style="justify-content: center"
        >
          <span>{{ tc('resultData', suggestions.length) }}</span>
        </div>
        <hr class="m-0" />
      </template>

      <!-- Show "No result" otherwise, if not loading new ones -->
      <div
        v-else-if="!loading"
        class="misc-item columns is-multiline is-gapless search-header pt-4"
      >
        <div
          class="column is-12 is-flex"
          style="justify-content: center; min-height: 30px"
        >
          <b-icon icon="emoticon-sad-outline" custom-size="mdi-48px" />
        </div>
        <div class="column is-flex" style="justify-content: center">
          <span>{{ tr('noData') }}</span>
        </div>
      </div>
    </template>
    <div class="suggest-custom columns is-gapless">
      <div class="column __input" :class="{ 'is-10': showExtraContent }">
        <text-component
          v-model="innerValue"
          v-bind="$attrs"
          :is-required="isRequired"
          :show-clear-icon="showClearIcon"
          :hide-validation="hideValidation"
          :is-loading="loading"
          :label-position="labelPos"
          :horizontal="horizontal"
          :label="$attrs.name || $attrs.label"
          :custom-class="$attrs.customClass"
          :locale="locale"
        />
      </div>
      <slot name="extra-right-content" class="column __extra" />
    </div>
  </vue-simple-suggest>
</template>

<script>
import 'vue-simple-suggest/dist/styles.css'

import { TextComponent } from 'premium-tesh-ui-lib'
import Vue from 'vue'
import VueI18n from 'vue-i18n'
import VueSimpleSuggest from 'vue-simple-suggest'

import messages from '../messages'

Vue.use(VueI18n)

const i18n = new VueI18n({
  locale: 'en',
  fallbackLocale: 'en',
  vueI18nLoader: true,
  messages
})

export default {
  name: 'InputSuggest',
  components: {
    VueSimpleSuggest,
    TextComponent
  },
  props: {
    value: {
      type: null,
      default: null
    },
    labelInside: {
      type: Boolean,
      default: false
    },
    labelOnBorder: {
      type: Boolean,
      default: false
    },
    // 	The property in a suggestion object to display in a list. Supports dotted paths.
    optionName: {
      type: String,
      default: undefined
    },
    // The property in a suggestion object to use as a unique key. Supports dotted paths.
    optionId: {
      type: String,
      default: undefined
    },
    // Whether to filter the resulting suggestions by input's text query (make it a search component).
    filterByQuery: {
      type: Boolean,
      default: false
    },
    // The maximum amount of suggestions to display. Set to 0 for infinite suggestions.
    maxSuggestions: {
      type: Number,
      default: 10
    },
    // The minimum amount of symbols in input to trigger suggestion list. Starts behaving as a dropdown menu, if the value is 0.
    minLengthToShowList: {
      type: Number,
      default: 1
    },
    // Determines the list debounce (a time between the input event and a function execution).
    debounce: {
      type: Number,
      default: 200
    },
    // Url for search data
    dataUrl: {
      type: String,
      default: undefined
    },
    // Param for URL filter
    filterParam: {
      type: String,
      default: 'SearchText'
    },
    // Data items used for filter if not dataUrl
    optionItems: {
      type: Array,
      default: () => []
    },
    clearIconSize: {
      type: String,
      default: 'is-small'
    },
    clearIconCustomClass: {
      type: String,
      default: ''
    },
    showClearIcon: {
      type: Boolean,
      default: false
    },
    // Show right input side slot
    showExtraContent: {
      type: Boolean,
      default: false
    },
    // Hide validation styles
    hideValidation: {
      type: Boolean,
      default: false
    },
    horizontal: {
      type: Boolean,
      default: true
    },
    isRequired: {
      type: Boolean,
      default: true
    },
    // Locale string {en, es ...} for display language on component
    locale: {
      type: String,
      default: 'en'
    }
  },
  data() {
    return {
      innerValue: '',
      selectedValue: null,
      valueSelected: false,
      loading: false,
      items: []
    }
  },
  computed: {
    labelPos() {
      if (this.labelInside) {
        return 'inside'
      } else if (this.labelOnBorder) {
        return 'on-border'
      }
      return ''
    }
  },
  watch: {
    innerValue(newVal) {
      if (!newVal) this.selectedValue = null
    },
    selectedValue(newVal) {
      this.innerValue =
        newVal && typeof newVal === 'object' ? newVal[this.optionName] : newVal
      this.$emit('input', newVal)
    },
    value(newVal) {
      this.selectedValue = newVal
    }
  },
  created() {
    i18n.locale = this.locale
    if (this.value) {
      if (typeof this.value === 'object') {
        this.selectedValue = this.value
      } else {
        this.$watch(
          () => this.items,
          (newVal) => {
            if (typeof this.value === 'object')
              this.selectedValue =
                newVal.filter(
                  (item) => item[this.optionId] === this.value
                )[0] || this.value
          }
        )
        if (!this.selectedValue) this.innerValue = this.value
      }
    }
  },
  methods: {
    onFocus(e) {
      this.$emit('focus', e)
    },
    onBlur(e) {
      this.$emit('blur', e)
    },
    onShowList() {
      this.$emit('show-list')
    },
    onHideList() {
      this.$emit('hide-list')
      if (!this.valueSelected && !this.selectedValue) {
      } else this.valueSelected = false
    },
    onSuggestClick(suggest, e) {
      this.$emit('suggestion-click', suggest, e)
    },
    onSuggestSelect(suggest) {
      this.$emit('select', suggest)
      this.valueSelected = true
      this.selectedValue = suggest
    },
    onSuggestHover(suggestion) {
      this.$emit('hover', suggestion)
    },
    onRequestStart(value) {
      this.loading = true
      this.$emit('request-start', value)
    },
    onRequestDone(e) {
      this.loading = false
      this.$emit('request-done', e)
    },
    onRequestFailed(e) {
      this.loading = false
      this.$emit('request-failed', e)
    },
    getData(query) {
      if (this.selectedValue) return this.items
      else
        return this.dataUrl
          ? this.$axios
              .get(
                `${this.dataUrl}${this.dataUrl.includes('?') ? '&' : '?'}${
                  this.filterParam
                }=${query}`
              )
              .then((records) => {
                this.items = records.data.results
                return records.data.results
              })
          : this.optionItems
    },
    tr(key, param = null) {
      return i18n.t(key, param)
    },
    tc(key, param = null) {
      return `${i18n.tc(key, param === 1 ? 1 : param, {
        count: param
      })}`
    }
  }
}
</script>
