<template>
  <ValidationProvider
    v-slot="{ errors, valid, untouched }"
    :vid="$attrs.vid || $attrs.name || $attrs.label"
    :name="$attrs.name || $attrs.label"
    :rules="rules"
  >
    <b-field
      v-bind="$attrs"
      :label-position="labelPos"
      :horizontal="horizontal"
      :label="$attrs.name || $attrs.label"
      :type="{
        'is-danger': error,
        '': untouched,
        'is-succes': !error && valid
      }"
      :message="errors"
      :custom-class="$attrs.customClass"
      :class="{
        'has-tooltip': $attrs.tooltip
      }"
    >
      <template #label><slot name="input-label" /></template>
      <vue-phone-number-input
        v-model="phoneNumber"
        clearable
        :valid-color="validColor"
        :error-color="errorColor"
        :disabled="$attrs.disabled || $attrs.readonly"
        :default-country-code="defaultCountryCode"
        :size="size"
        :preferred-countries="preferredCountries"
        :only-countries="onlyCountries"
        :ignored-countries="ignoredCountries"
        :translations="translations"
        :no-validator-state="noValidatorState"
        :no-flags="noFlags"
        :no-example="noExample"
        :required="isRequired"
        :error="error"
        :fetch-country="fetchCountry"
        :no-country-selector="noCountrySelector"
        :show-code-on-list="showCodeOnList"
        v-bind="$attrs"
        @update="($event) => (formatNumber = $event)"
        @phone-number-blur="updateNumber"
      />
    </b-field>
  </ValidationProvider>
</template>

<script>
import 'vue-phone-number-input/dist/vue-phone-number-input.css'
import { required } from 'vee-validate/dist/rules'

import { extend, ValidationProvider } from 'vee-validate'
import VuePhoneNumberInput from 'vue-phone-number-input'
// https://github.com/LouisMazel/vue-phone-number-input#readme
export default {
  name: 'PhoneNumberInput',
  components: {
    VuePhoneNumberInput,
    ValidationProvider
  },
  props: {
    value: { type: null, default: null },
    defaultCountryCode: { type: String, default: 'CU' },
    validColor: { type: String, default: '#48c78e' },
    errorColor: { type: String, default: '#f14668' },
    locale: { type: String, default: 'en' },
    size: { type: String, default: null },
    preferredCountries: { type: Array, default: null },
    onlyCountries: { type: Array, default: null },
    ignoredCountries: { type: Array, default: Array },
    noValidatorState: { type: Boolean, default: false },
    noFlags: { type: Boolean, default: false },
    noExample: { type: Boolean, default: false },
    isRequired: { type: Boolean, default: false },
    countriesHeight: { type: Number, default: 30 },
    noUseBrowserLocale: { type: Boolean, default: true },
    fetchCountry: { type: Boolean, default: false },
    noCountrySelector: { type: Boolean, default: false },
    showCodeOnList: { type: Boolean, default: false },
    returnPlainNumber: { type: Boolean, default: false },
    horizontal: {
      type: Boolean,
      default: true
    },
    labelInside: {
      type: Boolean,
      default: false
    },
    labelOnBorder: {
      type: Boolean,
      default: false
    },
    rules: {
      type: [Object, String],
      default: ''
    }
  },
  data() {
    return {
      phoneNumber: null,
      formatNumber: null
    }
  },
  computed: {
    labelPos() {
      if (this.labelInside) {
        return 'inside'
      } else if (this.labelOnBorder) {
        return 'on-border'
      }
      return ''
    },
    translations() {
      return this.locale === 'es'
        ? {
            countrySelectorLabel: 'Código del país',
            countrySelectorError: 'Seleccione un país',
            phoneNumberLabel: 'Número de teléfono',
            example: 'Ejemplo :'
          }
        : {
            countrySelectorLabel: 'Country code',
            countrySelectorError: 'Pick a country',
            phoneNumberLabel: 'Phone number',
            example: 'Example :'
          }
    },
    error() {
      return (
        (this.isRequired && !this.phoneNumber) ||
        (this.formatNumber &&
          typeof this.formatNumber === 'object' &&
          !this.formatNumber.isValid)
      )
    }
  },
  watch: {
    formatNumber(newVal) {
      if (newVal)
        this.phoneNumber =
          typeof newVal === 'object' ? newVal.phoneNumber : newVal
    },
    value(newVal) {
      this.formatNumber = newVal
    }
  },
  created() {
    if (this.value) {
      this.formatNumber = Array.isArray(this.value)
        ? this.value[0]
        : this.returnPlainNumber
        ? this.value.substring(2)
        : typeof this.value === 'object'
        ? this.value.phoneNumber
        : this.value
    }
    extend('required', {
      ...required,
      message: `{_field_} requerido`
    })
  },
  methods: {
    updateNumber() {
      if (this.formatNumber && this.formatNumber.isValid) {
        if (this.returnPlainNumber) {
          this.$emit('input', this.formatNumber.formattedNumber)
        } else this.$emit('input', this.formatNumber)
      }
    }
  }
}
</script>
