<template>
  <b-field id="searcher" class="m-0" style="width: 100%">
    <b-input
      v-model="searchText"
      v-bind="$attrs"
      :class="
        hasIconRight && searchText === ''
          ? 'transparent cleaner-icon hide'
          : hasIconRight && searchText !== ''
          ? 'transparent cleaner-icon show'
          : 'transparent'
      "
      custom-class="is-text-white"
      :placeholder="$t('search')"
      rounded
      type="search"
      icon="magnify"
      icon-clickable
      @keydown.enter.native="$emit('search', searchText)"
      @icon-click="$emit('search', searchText)"
      @icon-right-click="hasIconRight ? cleanText() : $emit('icon-right-click')"
    >
    </b-input>
    <span
      v-if="!hasIconRight"
      v-show="searchText != ''"
      class="icon is-right is-clickable cleaner-add"
      ><i @click="cleanText" class="mdi mdi-close mdi-24px"></i
    ></span>
  </b-field>
</template>

<script>
export default {
  name: 'TextSearcher',
  props: {
    value: {
      type: String,
      default: ''
    },
    hasIconRight: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      search: false,
      searchText: ''
    }
  },
  watch: {
    value: {
      handler(newVal) {
        this.searchText = newVal
      },
      inmediate: true
    },
    searchText(newVal) {
      if (!newVal) this.$emit('search', '')
    }
  },
  mounted() {
    if (!this.hasIconRight) {
      const inputParent = document.querySelector('.transparent')
      const icon = document.getElementsByClassName(`cleaner-add`)
      inputParent.appendChild(icon[0])
    }
  },
  methods: {
    cleanText() {
      this.searchText = ''
    }
  }
}
</script>
