<template>
  <b-field v-bind="$attrs">
    <div
      class="tree-node-list column tree-scrolls-styled"
      style="height: inherit"
    >
      <b-loading
        v-model="loading"
        :is-full-page="false"
        :can-cancel="false"
      ></b-loading>
      <tree
        ref="tree"
        :style="
          !treeData || (treeData && treeData.length === 0) || treeEmpty
            ? 'height: auto'
            : 'height: 100%'
        "
        :data="treeData"
        :options="treeOptions"
        @node:selected="onNodeSelected"
        @node:unselected="onNodeUnselected"
        @node:checked="onNodeChecked"
        @node:unchecked="onNodeUnchecked"
        @tree:mounted="onTreeMounted"
        @node:dblclick="
          (node) => {
            if (node.expanded()) node.collapse()
            else node.expand()
          }
        "
        @node:dragging:start="onNodeDragStart"
        @node:dragging:finish="onNodeDragFinish"
      >
        <span
          slot-scope="{ node }"
          class="tree-text"
          :draggable="allowCustomDrag"
          @dragstart="onDragStart($event, node)"
          @contextmenu="
            (event) => {
              ctxOpen = false
              if (ctxMenuAllowedDepth <= node.depth) {
                event.preventDefault()
                handleItemCtx(event, node)
                ctxOpen = true
              }
            }
          "
        >
          <template v-if="!node.hasChildren()">
            <b-icon
              :icon="
                node.selected()
                  ? setIcon(node, itemSelectedIcon)
                  : setIcon(node)
              "
              :size="iconSize"
              style="width: auto"
            />
            {{ node.text }}
          </template>

          <template v-else>
            <b-icon
              :icon="
                node.expanded()
                  ? setIcon(node, itemExpandedIcon)
                  : setIcon(node, itemCollapsedIcon)
              "
              :size="iconSize"
              style="width: auto"
            />
            {{ node.text }}
          </template>
        </span>
      </tree>
      <section
        v-if="!treeData || (treeData && treeData.length === 0) || treeEmpty"
        class="section p-3"
        style="min-height: 100%; display: grid; align-content: center"
      >
        <div class="content has-text-grey has-text-centered">
          <p>
            <b-icon icon="emoticon-sad" size="is-large"></b-icon>
          </p>
          <p>{{ $t('noDataMssg') }}</p>
        </div>
      </section>
      <!-- Context Menu -->
      <context-menu
        v-if="ctxMenuItems && ctxMenuItems.length"
        id="treenode-selector-context-menu"
        :options="ctxMenuItems"
        :open="ctxOpen"
        @ctx-close="ctxOpen = false"
        @ctx-cancel="
          () => {
            nodeInCtx = null
            ctxOpen = false
          }
        "
        @optionClicked="handleCtxMenuClicked"
      />
    </div>
  </b-field>
</template>

<script>
import LiquorTree from 'liquor-tree'
import { ContextMenu } from 'premium-tesh-ui-lib'

export default {
  name: 'TreeNodeSelectorComponent',
  components: {
    [LiquorTree.name]: LiquorTree,
    ContextMenu
  },
  props: {
    treeData: {
      type: [Array, Promise],
      default: () => []
    },
    // Redefines internal tree structure Ex: {'text': 'customName','children': 'kids'}
    propertyNames: {
      type: Object,
      default: () => {
        return null
      }
    },
    multipleSelection: {
      type: Boolean,
      default: false
    },
    checkbox: {
      type: Boolean,
      default: false
    },
    checkOnSelect: {
      type: Boolean,
      default: false
    },
    autoCheckChildren: {
      type: Boolean,
      default: true
    },
    itemIcon: {
      type: String,
      default: ''
    },
    itemSelectedIcon: {
      type: String,
      default: ''
    },
    itemExpandedIcon: {
      type: String,
      default: ''
    },
    itemCollapsedIcon: {
      type: String,
      default: ''
    },
    iconSize: {
      type: String,
      default: 'is-small'
    },
    allowDrag: {
      type: Boolean,
      default: false
    },
    allowCustomDrag: {
      type: Boolean,
      default: false
    },
    rootExpanded: {
      type: Boolean,
      default: false
    },
    isLoading: {
      type: Boolean,
      default: true
    },
    ctxMenuAllowedDepth: {
      type: Number,
      default: 1
    },
    ctxMenuOptions: {
      type: Array,
      default: null
    },
    ctxMenuItemOptions: {
      type: Array,
      default: null
    },
    // Locale string {en, es ...} for display language on component
    locale: {
      type: String,
      default: 'en'
    }
  },
  data: () => ({
    innerValue: null,
    loading: true,
    treeEmpty: false,
    ctxOpen: false,
    nodeInCtx: null,
    ctxOptions: [],
    selected: null,
    ctxSelectionClear: {
      id: 'selection-clear',
      icon: 'selection-off',
      name: 'Unselect'
    }
  }),
  computed: {
    treeOptions() {
      const options = {}
      options.multiple = this.multipleSelection
      options.parentSelect = true
      options.dnd = this.allowDrag
      options.checkbox = this.checkbox
      options.checkOnSelect = this.checkOnSelect
      options.autoCheckChildren = this.autoCheckChildren

      if (this.propertyNames) options.propertyNames = this.propertyNames
      return options
    },
    tree() {
      return this.$refs.tree
    },
    ctxMenuItems: {
      get() {
        return this.ctxOptions && this.ctxOptions.length
          ? this.ctxOptions.concat(this.selected ? this.ctxSelectionClear : [])
          : this.ctxMenuOptions
          ? this.ctxMenuOptions.concat(
              this.selected ? this.ctxSelectionClear : []
            )
          : this.selected
          ? this.ctxSelectionClear
          : []
      },
      set(newVal) {
        this.ctxOptions = newVal
      }
    }
  },
  watch: {
    treeData(newVal) {
      this.defineTreeData(newVal)
    },
    isLoading(newVal) {
      this.loading = newVal
    },
    ctxMenuAllowedDepth(newVal) {
      this.ctxOpen = false
    },
    nodeInCtx(newVal) {
      if (!newVal) this.ctxMenuItems = this.ctxMenuOptions
    }
  },
  created() {
    this.loading = this.isLoading
  },
  mounted() {
    this.tree.$on('node:editing:stop', (node, oldText) => {
      this.$emit('onNodeEditingStop', node, oldText)
    })
    if (this.$parent) {
      this.$parent.$on('contextmenu', ($event) => {
        this.ctxOpen = false
        this.handleCtxOpen($event)
      })
    }
    this.ctxSelectionClear.name = this.$t('clearSelection')
  },
  methods: {
    onTreeMounted(tree) {
      this.selectRoot(tree)
    },
    nodeTreePath(node) {
      return node.parent
        ? `${this.nodeTreePath(node.parent)}${this.pathSeparator}${node.text}`
        : `${node.text}`
    },
    onNodeSelected(node) {
      this.selected = node
      this.$emit('onNodeSelected', node, this.tree)
    },
    onNodeChecked(node) {
      this.$emit('onNodeChecked', node, this.tree.checked())
    },
    onNodeUnselected(node) {
      if (this.selected === node) this.selected = null
      this.$emit('onNodeUnselected', node, this.tree)
    },
    onNodeUnchecked(node) {
      this.$emit('onNodeUnchecked', node, this.tree.checked())
    },
    async selectRoot(tree) {
      const root = await tree.tree.model[0]
      if (tree.tree.model && tree.tree.model.length > 0) {
        this.treeEmpty = false
        this.loading = false
      } else {
        this.treeEmpty = !Array.isArray(this.treeData)
        this.loading = false
      }
      if (root) {
        this.$emit('treeMounted', root)
        if (this.rootExpanded) {
          root.expand()
          this.tree.$emit('node:selected', root)
        }
      }
    },
    defineTreeData(treeDataForNode) {
      this.loading = true
      this.tree.setModel(treeDataForNode)
      this.selectRoot(this.tree)
    },
    onDragStart(event, node) {
      event.stopPropagation()
      this.$emit('onDragStart', event, node)
    },
    onDragFinish(targetNode, destinationNode) {
      this.$emit('onDragFinish', targetNode, destinationNode)
    },
    onNodeDragStart(event, node) {
      this.$emit('node-drag-start', event, node)
    },
    onNodeDragFinish(targetNode, destinationNode) {
      this.$emit('node-drag-finish', targetNode, destinationNode)
    },
    setIcon(node, presetIcon = null) {
      if (presetIcon && presetIcon !== '') return presetIcon
      if (node && node.data) return node.data.icon || this.itemIcon
    },
    handleCtxOpen(event) {
      event.stopPropagation()
      event.preventDefault()
      this.itemInContext = null
      this.ctxOpen = true
    },
    handleItemCtx(event, item) {
      this.nodeInCtx = item
      this.ctxMenuItems = this.ctxMenuItemOptions
    },
    handleCtxMenuClicked(option) {
      if (option.id === 'selection-clear') {
        this.selected.unselect()
        this.selected = null
      } else this.$emit('ctxOptionClicked', option, this.nodeInCtx)
      this.nodeInCtx = null
    },
    expandNode(node) {
      const res = this.tree.find({ id: node.id })
      if (res && res.length) {
        this.expandAllParents(res[0])
        res[0].select()
      } else return false
    },
    expandAllParents(node) {
      if (node && node.parent) {
        this.expandAllParents(node.parent)
        node.parent.expand()
      } else if (node) node.expand()
    }
  }
}
</script>
