<template>
  <autocomplete-input
    v-if="maxNumberOfFiles === 1"
    v-model="innerValue"
    v-bind="$attrs"
    class="ultra-file-uploader"
    :is-required="isRequired"
    :allow-add="false"
    :expanded="$attrs.expanded"
    :option-name="optionName"
    :option-id="optionId"
    :label-inside="labelInside"
    :label-on-border="labelOnBorder"
    :horizontal="horizontal"
    :open-on-focus="openOnFocus"
    :debounce="debounce"
    :data-url="dataUrl"
    :locale="locale"
    :filter-param="filterParam"
  >
    <template #extra-right-content>
      <b-button
        v-if="enableFilterModal"
        icon-left="magnify-scan"
        @click="showFilterModal"
      ></b-button>
      <b-button
        v-if="enableUppyUploader"
        :id="`uppy-uploader-trigger-${$parent._uid}`"
        icon-left="view-dashboard"
        :loading="uppyLoading"
      ></b-button>
      <uppy-file-uploader
        :is-in-modal="true"
        :uppy-id="uppyId || `${$parent._uid}`"
        :trigger="`#uppy-uploader-trigger-${$parent._uid}`"
        :tus-endpoint="tusEndpoint"
        :allowed-file-types="allowedFileTypes"
        :max-number-of-files="maxNumberOfFiles"
        :min-number-of-files="minNumberOfFiles"
        :max-file-size="maxFileSize"
        :meta-fields-form="metaFieldsForm"
        :locale="locale"
        :placeholder="uppyPlaceholder"
        :before-file-added="uppyBeforeFileAdded"
        :before-files-upload="uppyBeforeFilesUpload"
        @uppy-close="showUppy = false"
        @upload-complete="updateUppyVal"
      />
    </template>
  </autocomplete-input>
  <tag-list-component
    v-else
    v-model="innerValue"
    v-bind="$attrs"
    class="ultra-file-uploader"
    :is-required="isRequired"
    :allow-new="false"
    :expanded="$attrs.expanded"
    :field="optionName"
    :label-inside="labelInside"
    :label-on-border="labelOnBorder"
    :horizontal="horizontal"
    :data-url="dataUrl"
    :locale="locale"
    :open-on-focus="openOnFocus"
  >
    <template #extra-right-content>
      <b-button
        v-if="enableFilterModal"
        icon-left="magnify-scan"
        @click="showFilterModal"
      ></b-button>
      <b-button
        v-if="enableUppyUploader"
        :id="`uppy-uploader-trigger-${$parent._uid}`"
        icon-left="view-dashboard"
        :loading="uppyLoading"
      ></b-button>
      <uppy-file-uploader
        :is-in-modal="true"
        :uppy-id="uppyId || `${$parent._uid}`"
        :trigger="`#uppy-uploader-trigger-${$parent._uid}`"
        :tus-endpoint="tusEndpoint"
        :allowed-file-types="allowedFileTypes"
        :max-number-of-files="maxNumberOfFiles"
        :min-number-of-files="minNumberOfFiles"
        :max-file-size="maxFileSize"
        :meta-fields-form="metaFieldsForm"
        :locale="locale"
        :placeholder="uppyPlaceholder"
        :before-file-added="uppyBeforeFileAdded"
        :before-files-upload="uppyBeforeFilesUpload"
        @input="updateUppyVal"
        @uppy-close="showUppy = false"
        @upload-complete="updateUppyVal"
      />
    </template>
  </tag-list-component>
</template>

<script>
// eslint-disable-next-line simple-import-sort/imports
import Vue from 'vue'
import VueI18n from 'vue-i18n'

import messages from '../messages'
import CarouselSearcher from '@/components/CarouselSearcher'
import UppyFileUploader from '~/components/Inputs/UppyFileUploader.vue'

Vue.use(VueI18n)

const i18n = new VueI18n({
  locale: 'en',
  fallbackLocale: 'en',
  vueI18nLoader: true,
  messages
})
export default {
  name: 'UltraFileUploader',
  components: { UppyFileUploader },
  props: {
    value: {
      type: null,
      default: null
    },
    labelInside: {
      type: Boolean,
      default: false
    },
    labelOnBorder: {
      type: Boolean,
      default: false
    },
    // 	The property in a suggestion object to display in a list. Supports dotted paths.
    optionName: {
      type: String,
      default: ''
    },
    // The property in a suggestion object to use as a unique key. Supports dotted paths.
    optionId: {
      type: String,
      default: undefined
    },
    // Determines the list debounce (a time between the input event and a function execution).
    debounce: {
      type: Number,
      default: 200
    },
    // Url for search data
    dataUrl: {
      type: String,
      default: undefined
    },
    // Url to read uploaded medias Info
    mediaInfoUrl: {
      type: String,
      default: '/MediaInfo'
    },
    // Param for URL filter
    filterParam: {
      type: String,
      default: 'SearchText'
    },
    showClearIcon: {
      type: Boolean,
      default: false
    },
    // Hide validation styles
    hideValidation: {
      type: Boolean,
      default: false
    },
    horizontal: {
      type: Boolean,
      default: true
    },
    isRequired: {
      type: Boolean,
      default: true
    },
    // Locale string {en, es ...} for display language on component
    locale: {
      type: String,
      default: 'en'
    },
    //  Array of wildcards image/*, exact mime types image/jpeg, or file extensions
    allowedFileTypes: {
      type: Array,
      default: () => ['image/*', 'video/*']
    },
    maxNumberOfFiles: {
      type: Number,
      default: null
    },
    minNumberOfFiles: {
      type: Number,
      default: null
    },
    openOnFocus: {
      type: Boolean,
      default: false
    },
    closeOnFinish: {
      type: Boolean,
      default: true
    },
    //  Maximum file size in bytes for each individual file
    maxFileSize: {
      type: Number,
      default: null
    },
    metaFieldsForm: {
      type: Object,
      default: () => {}
    },
    tusEndpoint: {
      type: String,
      default: '/api-data/files'
    },
    enableUppyUploader: {
      type: Boolean,
      default: true
    },
    enableFilterModal: {
      type: Boolean,
      default: true
    },
    filterModalWidth: {
      type: Number,
      default: 550
    },
    // Max number of tries to await media notifications
    awaitMediaTries: {
      type: Number,
      default: 3
    },
    // Defines Uppy instance ID
    uppyId: {
      type: String,
      default: null
    },
    // Defines Uppy instance ID
    uppyPlaceholder: {
      type: String,
      default: null
    },
    // Perform an operation with (currentFile, files,message) before add to Uppy
    uppyBeforeFileAdded: {
      type: Function,
      default: null
    },
    // Perform an operation with (files,message) before upload by Uppy
    uppyBeforeFilesUpload: {
      type: Function,
      default: null
    },
    readonlyMode: {
      type: Boolean,
      default: true
    },
    tooltipSave: { type: String, default: 'Select' }
  },
  data() {
    return {
      innerValue: '',
      showUppy: false,
      filtersDefs: {},
      resultsDefs: {},
      uppyLoading: false,
      tries: 3
    }
  },
  watch: {
    innerValue(newVal) {
      this.$emit('input', newVal)
    },
    value(newVal) {
      this.innerValue = newVal
    }
  },
  created() {
    i18n.locale = this.locale
    this.filtersDefs = Object.assign(
      this.filtersDefs,
      this.$attrs.filtersDefs || {}
    )
    this.resultsDefs = Object.assign(
      this.resultsDefs,
      this.$attrs.filterResultsDefs || {}
    )
    if (this.value) this.innerValue = this.value
    else this.innerValue = this.maxNumberOfFiles > 1 ? [] : null
    this.tries = this.awaitMediaTries
  },
  methods: {
    showFilterModal() {
      this.$buefy.modal.open({
        parent: this,
        component: CarouselSearcher,
        props: {
          locale: this.locale,
          dataUrl: this.dataUrl,
          cardTitle: this.filtersDefs.title,
          cardWidth: this.filterModalWidth,
          filtersDefs: this.filtersDefs,
          resultsDefs: this.resultsDefs
        },
        events: {
          'selected-results': (newVal) => {
            this.innerValue = newVal
            this.$emit('mediainfo-selected', this.innerValue)
          },
          'clear-form': () => {
            this.$emit('clear-form')
          }
        },
        hasModalCard: true,
        destroyOnHide: true,
        trapFocus: true,
        canCancel: ['escape', 'x']
      })
    },
    tr(key, param = null) {
      return i18n.t(key, param)
    },
    getFileId(response) {
      const str = response.uploadURL.split(`${this.tusEndpoint}/`)
      return str && str.length > 1 ? str[1] : null
    },
    // Get all media Info and metadata from endpoint after media Upload
    getMediaInfo(files) {
      if (files) {
        this.uppyLoading = true
        // After max number of tries perform request for Media Info
        // Keep tracking notification to know media status
        if (this.tries > 0) {
          // Get all files Ids uploaded by Uppy and GET MedaInfo
          let filters = ``
          if (files && files.length) {
            filters = '?Filters=fileId=='
            files.forEach((f, index) => {
              filters += `${index > 0 ? '|' : ''}${f.fileId}`
            })
          } else if (typeof files === 'object') filters = `/${files.fileId}`
          this.$axios
            .get(`${this.mediaInfoUrl}${filters}`)
            .then((response) => {
              this.innerValue = response.data.results || response.data
              this.uppyLoading = false
              this.tries = this.awaitMediaTries
            })
            .catch((error) => {
              // eslint-disable-next-line no-console
              console.log(error)
              this.innerValue = null
              setTimeout(() => {
                this.tries--
                this.getMediaInfo(files)
              }, 1000)
            })
        } else this.uppyLoading = false
      }
    },
    updateUppyVal(v) {
      if (v) {
        if (Array.isArray(v)) {
          v.forEach((element) => {
            if (!v[this.optionName])
              v[this.optionName] = v.name || v.Name || v.Title
          })
        } else if (!v[this.optionName])
          v[this.optionName] = v.name || v.Name || v.Title
        this.innerValue = v
        this.$emit('mediainfo-uploaded', this.innerValue)
      }
    }
  }
}
</script>

<style></style>
