<template>
  <div
    class="uppy-preview custom-preview columns is-gapless is-multiline"
    :class="{ 'show-only-header': addMore }"
  >
    <header v-if="files && files.length > 0" class="uppy-DashboardContent-bar">
      <b-button type="is-ghost" @click="$emit('clear-files')">{{
        tr('cancelButton')
      }}</b-button>
      <p class="ml-3 is-size-5">
        {{
          editingMeta
            ? tr('editingMeta', { file: fileOnEdition.name })
            : tc('selectedFiles', files.length)
        }}
      </p>
      <b-button
        v-if="!maxNumberOfFiles || maxNumberOfFiles > 1"
        type="is-ghost"
        @click="addMore = true"
        >{{ tr('addMoreButton') }}</b-button
      >
    </header>
    <section
      v-if="files && files.length === 0"
      class="section p-3 is-flex"
      style="min-height: 3rem; width: 100%"
    >
      <div class="content has-text-grey has-text-centered">
        <p>
          <b-icon icon="emoticon-sad" size="is-large"></b-icon>
        </p>
        <p>{{ $t('noDataMssg') }}</p>
      </div>
    </section>
    <section
      v-show="!addMore && !editingMeta"
      class="uppy-contents columns is-multiline"
    >
      <template v-for="(file, i) in files">
        <div :key="`${i}-${file.name}`" class="column preview-container m-2">
          <div class="item-preview is-flex">
            <b-image
              v-if="file.type.includes('image') && file.preview"
              :src="file.preview"
              lazy
              :alt="`uploaded-image-${file.name}`"
              :placeholder="`${file.name}`"
              class="preview-image"
              @load="onLoad"
              @error="onError"
            />
            <b-icon
              v-else
              :icon="`file-${typeIcon(file.type)}outline`"
              custom-class="is-very-large"
            />
          </div>
          <div class="uppy-item-fileInfoAndButtons" style="width: 100%">
            <span>{{ file.name }}</span>
            <div class="buttons">
              <b-tooltip
                v-if="metaFieldsForm"
                :label="tr('editMeta')"
                type="is-info"
              >
                <b-button
                  type="is-ghost"
                  class="icon-buttons"
                  outlined
                  icon-right="pencil"
                  @click="editFileMeta(file)"
                />
              </b-tooltip>
              <b-tooltip :label="tr('deleteButton')" type="is-danger">
                <b-button
                  type="is-ghost is-danger"
                  class="icon-buttons"
                  outlined
                  icon-right="delete"
                  @click="deleFile(file)"
                />
              </b-tooltip>
            </div>
          </div>
        </div>
      </template>
    </section>
    <section v-show="!addMore && editingMeta" class="edit-form-section">
      <dynamic-form
        :is-in-modal="false"
        card-icon=""
        card-title=""
        :prevent-submit="true"
        :locale="$i18n.locale"
        :form="metaFieldsForm"
        :vbtn="vbtn"
        card-custom-class="gosht-card"
        @onSubmit="(meta) => addMetaonFile(meta, fileOnEdition)"
        @form-close="editingMeta = false"
      ></dynamic-form>
    </section>
  </div>
</template>

<script>
import '@uppy/core/dist/style.css'
import '@uppy/dashboard/dist/style.css'

import { DynamicForm } from 'premium-tesh-ui-lib'
import Vue from 'vue'
import VueI18n from 'vue-i18n'

import messages from '../messages'
// const ThumbnailGenerator = require('@uppy/thumbnail-generator')

Vue.use(VueI18n)

const i18n = new VueI18n({
  locale: 'en',
  fallbackLocale: 'en',
  vueI18nLoader: true,
  messages
})
export default {
  name: 'UppyFileEditor',
  components: { DynamicForm },
  props: {
    value: {
      type: null,
      default: null
    },
    // Locale string {en, es ...} for display language on component
    locale: {
      type: String,
      default: 'en'
    },
    maxNumberOfFiles: {
      type: Number,
      default: 1
    },
    minNumberOfFiles: {
      type: Number,
      default: 1
    },
    closeOnFinish: {
      type: Boolean,
      default: true
    },
    metaFieldsForm: {
      type: Object,
      default: null
    },
    formWidth: {
      type: Number,
      default: 500
    },
    uppyFiles: {
      type: Array,
      default: () => [],
      required: true
    }
  },
  data() {
    return {
      innerValue: '',
      files: [],
      showImage: false,
      addMore: false,
      editingMeta: false,
      fileOnEdition: null,
      vbtn: {
        close: {
          icon: 'close',
          label: this.$t('cancelButton'),
          props: {}
        }
      }
    }
  },
  watch: {
    uppyFiles(newVal) {
      this.addMore = false
      this.files = [...newVal]
    }
  },
  created() {
    i18n.locale = this.locale
  },
  mounted() {},
  methods: {
    tr(key, param = null) {
      return i18n.t(key, param)
    },
    tc(key, param = null) {
      return `${i18n.tc(key, param === 1 ? 1 : param, {
        count: param
      })}`
    },
    onLoad(image) {},
    onError(error) {
      // eslint-disable-next-line no-console
      console.log(error)
    },
    editFileMeta(file) {
      if (file && this.metaFieldsForm) {
        this.editingMeta = true
        this.fileOnEdition = file
      }
    },
    addMetaonFile(meta, file) {
      this.$emit('file-meta-add', file, meta)
    },
    deleFile(file) {
      const index = this.files.findIndex((f) => f.id === file.id)
      if (index !== -1) {
        this.files.splice(index, 1)
        this.$emit('delete-file', file.id)
      }
    },
    typeIcon(type) {
      let value = ''
      const t = type.split('/')
      if (t[0] !== 'application') value = t[0].replace('audio', 'music') + '-'
      else if (t[1].includes('ms-')) value = t[1].split('ms-')[1] + '-'
      else if (t[1].includes('zip')) {
        value = 'zip-box-'
      } else if (t[1].includes('pdf')) {
        value = 'pdf-'
      } else value = ''
      return value
    }
  }
}
</script>
