<template>
  <div
    v-bind="$attrs['field-wrapper']"
    :class="`uppy-dashboard custom-dashboard uppy-uploader-target-${_uid} ${customClass}`"
  >
    <UppyFileEditor
      v-if="showCustomEditor"
      v-show="!uppyClosed && files && files.length > 0"
      :id="`uppy-editor-${_uid}`"
      class="uppy-dashboard-editor"
      :class="{
        'is-in-modal': isInModal
      }"
      :locale="locale"
      :uppy-files="files"
      :max-number-of-files="maxNumberOfFiles"
      :meta-fields-form="metaFieldsForm"
      @delete-file="deleFile"
      @file-meta-add="setFileMeta"
      @clear-files="clearUppy"
    />
  </div>
</template>

<script>
// eslint-disable-next-line simple-import-sort/imports
import '@uppy/core/dist/style.css'
import '@uppy/dashboard/dist/style.css'
import '@uppy/webcam/dist/style.css'
import '@uppy/url/dist/style.css'
import '@uppy/image-editor/dist/style.css'

import Vue from 'vue'
import VueI18n from 'vue-i18n'

import messages from '../messages'
import UppyFileEditor from '~/components/Inputs/UppyFileEditor.vue'

const Uppy = require('@uppy/core')
const Dashboard = require('@uppy/dashboard')
const Webcam = require('@uppy/webcam')
const ImageEditor = require('@uppy/image-editor')
const ThumbnailGenerator = require('@uppy/thumbnail-generator')
const Tus = require('@uppy/tus')
const Url = require('@uppy/url')
const Spanish = require('@uppy/locales/lib/es_ES')
let uppy = null

Vue.use(VueI18n)

const i18n = new VueI18n({
  locale: 'en',
  fallbackLocale: 'en',
  vueI18nLoader: true,
  messages
})

export default {
  name: 'UppyFileUploader',
  components: {
    UppyFileEditor
  },
  props: {
    value: {
      type: null,
      default: null
    },
    horizontal: {
      type: Boolean,
      default: true
    },
    isRequired: {
      type: Boolean,
      default: true
    },
    // Locale string {en, es ...} for display language on component
    locale: {
      type: String,
      default: 'en'
    },
    isInModal: {
      type: Boolean,
      default: false
    },
    //  Array of wildcards image/*, exact mime types image/jpeg, or file extensions
    allowedFileTypes: {
      type: Array,
      default: () => ['image/*', 'video/*']
    },
    maxNumberOfFiles: {
      type: Number,
      default: null
    },
    minNumberOfFiles: {
      type: Number,
      default: null
    },
    closeOnFinish: {
      type: Boolean,
      default: true
    },
    showCustomEditor: {
      type: Boolean,
      default: false
    },
    //  Maximum file size in bytes for each individual file
    maxFileSize: {
      type: Number,
      default: null
    },
    metaFieldsForm: {
      type: [Object, Array],
      default: () => null
    },
    metaData: {
      type: Object,
      default: () => {}
    },
    tusEndpoint: {
      type: String,
      default: '/api-data/files'
    },
    // Selector for uppy container trigger when Uppy Dashboard is in modal
    trigger: {
      type: String,
      default: null
    },
    // Add a class for uppy container
    customClass: {
      type: String,
      default: ''
    },
    // Perform an operation with (currentFile, files,message) before add to Uppy
    beforeFileAdded: {
      type: Function,
      default: null
    },
    // Perform an operation with (files,message) before upload by Uppy
    beforeFilesUpload: {
      type: Function,
      default: null
    },
    // Defines Uppy instance ID
    uppyId: {
      type: String,
      default: null
    },
    uppyDashboardWidth: {
      type: Number,
      default: 750
    },
    uppyDashboardHeight: {
      type: Number,
      default: 550
    },
    onUploadComplete: {
      type: Function,
      default: undefined
    }
  },
  data() {
    return {
      innerValue: [],
      files: [],
      lastUploadedFileHeaders: {},
      uppyClosed: false
    }
  },
  computed: {
    u: () => uppy,
    metaFields() {
      return [
        {
          id: 'name',
          name: this.$t('name'),
          placeholder: this.$t('placeholder', { key: this.$t('name') })
        },
        {
          id: 'description',
          name: this.$t('descriptionLabel'),
          placeholder: this.$t('placeholder', {
            key: this.$t('descriptionLabel')
          }),
          type: 'textarea'
        }
      ]
    }
  },
  watch: {
    innerValue(newVal) {
      // Still has to fetch MediaInfo
      this.$emit('input', newVal)
    },
    value(newVal) {
      this.innerValue = newVal
      if (!newVal && this.maxNumberOfFiles > 1) this.innerValue = []
    }
  },
  created() {
    i18n.locale = this.locale
  },
  mounted() {
    uppy = new Uppy({
      id: this.uppyId || `dashboard-${this._uid}`,
      debug: false,
      autoProceed: false,
      meta: this.metaData,
      allowMultipleUploadBatches: !this.closeOnFinish,
      locale: this.locale === 'es' && Spanish,
      restrictions: {
        maxFileSize: this.maxFileSize,
        maxNumberOfFiles: this.maxNumberOfFiles,
        minNumberOfFiles: this.minNumberOfFiles,
        allowedFileTypes: this.allowedFileTypes
      },
      onBeforeFileAdded: (currentFile, files) => {
        if (this.beforeFileAdded) {
          if (this.beforeFileAdded(currentFile, files)) {
            return true
          } else {
            uppy.info(
              {
                message: this.tr('uppyFileNotAllowed'),
                details: this.tr('uppyFileNotAllowedDetail')
              },
              'error',
              5000
            )
            return false
          }
        }
      },
      onBeforeUpload: (files) => {
        if (this.beforeFilesUpload) {
          if (this.beforeFilesUpload(files)) {
            return true
          } else {
            uppy.info(
              {
                message: this.tr('uppyUploadNotAllowed'),
                details: this.tr('uppyUploadNotAllowedDetail')
              },
              'error',
              5000
            )
            return false
          }
        }
      },
      logger: Uppy.debugLogger
    })
      .use(Dashboard, {
        trigger: this.trigger,
        inline: !this.isInModal,
        width: this.uppyDashboardWidth,
        height: this.uppyDashboardHeight,
        target: `.uppy-uploader-target-${this._uid}`,
        replaceTargetContent: false,
        showProgressDetails: true,
        proudlyDisplayPoweredByUppy: false,
        closeModalOnClickOutside: true,
        locale: this.locale === 'es' && Spanish,
        animateOpenClose: true,
        browserBackButtonClose: false,
        note:
          this.$attrs.placeholder ||
          this.tr('Note', { params: this.allowedFileTypes }),
        closeAfterFinish: this.isInModal && this.closeOnFinish,
        showSelectedFiles: !this.showCustomEditor,
        hideUploadButton: false,
        metaFields: this.metaFieldsForm || this.metaFields,
        doneButtonHandler: () => {
          uppy.reset()
          this.files = []
          if (this.isInModal) uppy.getPlugin('Dashboard').closeModal()
        }
      })
      .use(Webcam, {
        target: Dashboard,
        showRecordingLength: true,
        showVideoSourceDropdown: true,
        countdown: true,
        modes: ['video-audio', 'video-only', 'audio-only', 'picture'],
        locale: this.locale === 'es' && Spanish
      })
      .use(ImageEditor, {
        target: Dashboard,
        locale: this.locale === 'es' && Spanish,
        viewMode: 1,
        background: false,
        autoCropArea: 1,
        responsive: true
      })
      .use(ThumbnailGenerator, {
        id: 'ThumbnailGenerator',
        thumbnailWidth: 200,
        thumbnailHeight: 200,
        thumbnailType: 'image/png',
        waitForThumbnailsBeforeUpload: true
      })
      .use(Url, {
        target: Dashboard,
        companionUrl: 'https://premiumtesh.com/',
        locale: this.locale === 'es' && Spanish
      })
      .use(Tus, {
        endpoint: this.tusEndpoint,
        removeFingerprintOnSuccess: true,
        chunkSize: 1048560,
        headers: { authorization: `${this.$auth.strategy.token.get()}` },
        onAfterResponse: this.parseTUSResponse
      })

    uppy.on('dashboard:modal-open', () => {
      this.uppyClosed = false
      this.files = uppy.getFiles()
    })
    uppy.on('dashboard:modal-closed', () => {
      this.uppyClosed = true
      this.$emit('uppy-close')
    })
    uppy.on('file-added', (file) => {
      if (file.extension === 'mxf') {
        file.type = 'video/mp4'
        file.meta.type = 'video/mp4'
      }
      if (file && !file.type.includes('image')) this.files = uppy.getFiles()
    })
    uppy.on('files-added', (files) => {
      if (files && files.length > 0)
        setTimeout(() => {
          this.files = uppy.getFiles()
        }, 750)
    })
    uppy.on('thumbnail:generated', (file, preview) => {
      if (file.id) this.files.push(file)
    })
    uppy.on('progress', (progress) => {})
    uppy.on('upload-success', (file, response) => {})
    uppy.on('complete', (result) => {
      // Default Uppy response handler for successful completed upload
      if (result) {
        if (result.successful && result.successful.length)
          this.$emit('upload-complete', this.innerValue, result.failed)
      }
    })
    if (this.showCustomEditor) this.reInsertUppyEdditor()
  },
  beforeDestroy() {
    uppy.close()
  },
  methods: {
    tr(key, param = null) {
      return i18n.t(key, param)
    },
    tc(key, param = null) {
      return `${i18n.tc(key, param === 1 ? 1 : param, {
        count: param
      })}`
    },
    deleFile(fileId) {
      uppy.removeFile(fileId)
      this.files = uppy.getFiles()
    },
    setFileMeta(file, meta) {
      uppy.setFileMeta(file.id, meta)
    },
    clearUppy() {
      this.files = []
      uppy.cancelAll()
    },
    reInsertUppyEdditor() {
      const editor = document.getElementById(`uppy-editor-${this._uid}`)
      const uppyInnerWrapp = document.getElementsByClassName(
        'uppy-Dashboard-innerWrap'
      )
      if (uppyInnerWrapp && uppyInnerWrapp.length)
        uppyInnerWrapp[0].appendChild(editor)
    },
    parseTUSResponse(request, response) {
      if (response) {
        const data = response.getHeader('mediainfofull')
        if (data) {
          if (this.maxNumberOfFiles > 1 || !this.maxNumberOfFiles) {
            this.innerValue.push(JSON.parse(data))
            this.$emit('upload-success', JSON.parse(data))
          } else this.innerValue = JSON.parse(data)
        }
      }
    }
  }
}
</script>
