<template>
  <div>
    <section class="section is-main-section">
      <server-table-component
        ref="table"
        :data-url="getBasePath"
        :locale="$i18n.locale"
        v-bind="tableDefs"
        :custom-headers="true"
        @cleanFilters="cleanAllFilters"
        @open-column-filter="showFilterForm"
        @container-contextmenu="
          (ev) => {
            if (ev) ev.preventDefault()
            rowInCtx = null
            ctxOpen = !ctxOpen
          }
        "
        @contextmenu="
          (ev, row) => {
            if (ev) ev.preventDefault()
            rowInCtx = row
            ctxOpen = !ctxOpen
          }
        "
      >
        <template #right-extra-header-content>
          <b-tooltip
            type="is-primary"
            :label="$t('filter')"
            size="is-small"
            class="filter-button"
          >
            <b-button
              class="table-buttons"
              :rounded="vbuttons.roundedButtons"
              :outlined="vbuttons.outlinedButtons"
              icon-left="filter"
              type="is-primary is-light"
              @click="showFilterForm"
            >
              <span v-show="filtersCount > 0" class="filter-badge">{{
                filtersCount
              }}</span>
            </b-button>
          </b-tooltip>
        </template>
        <template #extra-header-buttons>
          <b-tooltip
            type="is-info"
            :label="$t('create', { element: '' })"
            size="is-small"
          >
            <b-button
              class="table-buttons"
              :rounded="vbuttons.roundedButtons"
              :outlined="vbuttons.outlinedButtons"
              icon-left="plus"
              type="is-info is-light"
              @click="addComment"
            />
          </b-tooltip>
        </template>
        <template #extra-row-buttons="record">
          <div
            class="columns is-gapless is-mobile"
            style="display: inline-flex"
          >
            <div
              v-for="(button, key) in vbuttons.buttons"
              :key="key"
              class="column"
            >
              <b-tooltip
                :type="button.tooltip.type"
                :label="button.tooltip.label"
                :position="button.tooltip.position"
              >
                <b-button
                  v-bind="button.props"
                  :class="vbuttons.class"
                  :rounded="vbuttons.roundedButtons"
                  :outlined="vbuttons.outlinedButtons"
                  :icon-left="button.icon"
                  :type="button.type"
                  :size="vbuttons.size"
                  @click="button.action(record.record)"
                />
              </b-tooltip>
            </div>
          </div>
        </template>
      </server-table-component>
      <ctx />
    </section>
  </div>
</template>

<script>
import {
  AdvancedFilterComponent,
  AutocompleteInput,
  BoolToTextColumnComponent,
  DateColumnComponent,
  DynamicForm,
  LargeTextColumnComponent,
  TextAreaComponent,
  TYPE_AUTOCOMPLETE,
  TYPE_FULLDATETIME,
  TYPE_TEXT,
  axiosToastErrorsMixin
} from 'premium-tesh-ui-lib'

import tableContextMenuMixin from '~/mixins/tableContextMenuMixin'
import genericFiltersMixin from '~/mixins/genericFiltersMixin'

export default {
  name: 'UserComment',
  mixins: [genericFiltersMixin, tableContextMenuMixin, axiosToastErrorsMixin],
  middleware: 'guest',
  meta: {
    requiresAdmin: true
  },
  data() {
    return {
      reload: false,
      tableDefs: {
        vtable: {
          draggable: false,
          headers: [
            {
              text: 'Id',
              value: 'id',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'id'
              }
            },
            {
              text: this.$t('publicationLabel'),
              value: 'publicationTitle',
              align: 'left',
              sortable: true,
              rendervalue: (v) => {
                return v || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'publicationId'
              }
            },
            {
              text: this.$t('commentLabel'),
              value: 'comment',
              align: 'left',
              sortable: true,
              render: {
                type: LargeTextColumnComponent,
                props: {
                  appendToBody: true,
                  showDisplayButton: true,
                  showCopyButton: false,
                  content: this.$t('commentLabel'),
                  locale: this.$i18n.locale,
                  textLenght: 40,
                  tooltipPosition: 'is-right'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'comment'
              }
            },
            {
              text: this.$t('isReply'),
              value: 'publicationUserCommentParentId',
              align: 'left',
              sortable: true,
              render: {
                type: BoolToTextColumnComponent,
                props: {
                  trueText: this.$t('trueText'),
                  falseText: this.$t('falseText')
                },
                rendervalue: (v) => {
                  return !!v
                }
              },
              filter: {
                useFilter: false
              }
            },
            {
              text: this.$t('createdBy'),
              value: 'createdBy',
              align: 'left',
              sortable: true,
              custom: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'createdBy'
              }
            },
            {
              text: this.$t('createDateTime'),
              value: 'createdDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'createdDate'
              }
            },
            {
              text: this.$t('modifiedBy'),
              value: 'modifiedBy',
              align: 'left',
              sortable: true,
              custom: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'modifiedBy'
              }
            },
            {
              text: this.$t('modifyDateTime'),
              value: 'modifiedDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'modifiedDate'
              }
            },
            {
              text: this.$t('actions'),
              value: '',
              fixed: true,
              sortable: false,
              cellClass: 'actions-column',
              action: true,
              filter: {
                useFilter: false
              }
            }
          ]
        },
        vicon: {
          roundedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          edit: {
            show: false,
            name: 'pencil',
            type: 'is-primary',
            tooltip: {
              label: this.$t('editAudio'),
              type: 'is-primary',
              position: 'is-top'
            }
          },
          delete: {
            show: true,
            name: 'delete',
            type: 'is-danger',
            tooltip: {
              label: this.$t('deleteButton'),
              type: 'is-danger',
              position: 'is-top'
            }
          }
        },
        vbtn: {
          create: {
            show: false
          }
        },
        title: this.$t('cardTitle'),
        modalTitle: this.$t('cardTitle'),
        editModalTitle: this.$t('cardTitle'),
        headerIcon: 'comment-account-outline',
        form: {
          id: {
            type: null,
            'field-wrapper': { style: 'display: none' },
            'field-input': {
              isRequired: false
            }
          },
          publicationUserCommentParentId: {
            type: null,
            default: '',
            'field-wrapper': { style: 'display: none' }
          },
          publicationId: {
            type: AutocompleteInput,
            default: '',
            'field-wrapper': { class: 'is-12' },
            'field-input': {
              isRequired: true,
              label: this.$t('publicationLabel'),
              expanded: true,
              placeholder: this.$t('placeholderSelect', {
                key: this.$t('publicationLabel').toLowerCase()
              }),
              dataUrl: '/Publication',
              optionId: 'id',
              optionName: 'title',
              allowAdd: false
            },
            save: (v) => {
              return v && typeof v === 'object' ? v.id : v
            }
          },
          comment: {
            type: TextAreaComponent,
            value: '',
            default: '',
            'field-wrapper': { class: 'is-12' },
            'field-input': {
              label: this.$t('commentLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('commentLabel').toLowerCase()
              })
            }
          }
        }
      },
      vbuttons: {
        roundedButtons: true,
        outlinedButtons: false,
        size: 'is-small',
        class: 'table-buttons',
        buttons: [
          {
            icon: 'comment',
            type: 'is-white',
            tooltip: {
              label: this.$t('reply'),
              type: 'is-white',
              position: 'is-top'
            },
            action: (row) => {
              this.replyComment(row)
            }
          },
          {
            icon: 'arrow-right-top',
            type: 'is-white',
            tooltip: {
              label: this.$t('goTo'),
              type: 'is-white',
              position: 'is-top'
            },
            action: (row) => {
              this.$router.push(`/publication/` + row.publicationId)
            }
          }
        ]
      },
      filterForm: {
        CommentFilter: {
          title: this.$t('cardTitle'),
          icon: 'comment-account-outline',
          form: {
            Id: {
              fieldType: TYPE_TEXT,
              label: 'Id',
              placeholder: this.$t('placeholder', {
                key: 'id'
              }),
              activeOperator: '=='
            },
            Comment: {
              fieldType: TYPE_TEXT,
              label: this.$t('commentLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('commentLabel').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            Publication: {
              fieldType: TYPE_AUTOCOMPLETE,
              label: this.$t('publicationLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('publicationLabel').toLowerCase()
              }),
              props: {
                optionId: 'mediaId',
                optionName: 'mediaTitle',
                dataUrl: `Publication`,
                isRequired: false
              },
              save: (v) => {
                return v ? v.id : v
              },
              operators: ['==', '@=*'],
              activeOperator: '=='
            }
          }
        },
        UsersFilter: {
          title: this.$t('users'),
          icon: 'account-group',
          form: {
            CreatedBy: {
              fieldType: TYPE_TEXT,
              label: this.$t('createdBy'),
              placeholder: this.$t('placeholder', {
                key: this.$t('createdBy').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            ModifiedBy: {
              fieldType: TYPE_TEXT,
              label: this.$t('modifiedBy'),
              placeholder: this.$t('placeholder', {
                key: this.$t('modifiedBy').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            }
          }
        },
        DatesFilter: {
          title: this.$tc('date', 2),
          icon: 'calendar',
          form: {
            CreatedDate: {
              fieldType: TYPE_FULLDATETIME,
              label: this.$t('createDateTime'),
              placeholder: this.$t('placeholder', {
                key: this.$t('createDateTime').toLowerCase()
              }),
              value: null
            },
            ModifiedDate: {
              fieldType: TYPE_FULLDATETIME,
              label: this.$t('modifyDateTime'),
              placeholder: this.$t('placeholder', {
                key: this.$t('modifyDateTime').toLowerCase()
              }),
              value: null
            }
          }
        }
      },
      filters: '',
      filtersConstants: {
        Id: 'id',
        UserId: 'userId',
        Comment: 'comment',
        Publication: 'publicationId',
        CreatedDate: 'createdDate',
        ModifiedDate: 'modifiedDate'
      },
      filtersCount: 0
    }
  },
  head() {
    return {
      title: this.$config.appName
    }
  },
  computed: {
    titleStack() {
      return ['Admin', 'Tables']
    },
    getBasePath() {
      return this.reload
        ? ''
        : this.filters !== ''
        ? `/PublicationUserComment?filters=${this.filters}`
        : `/PublicationUserComment`
    },
    ctxOptions() {
      const opt = [
        { id: 'add', icon: 'plus', name: this.$t('addButton') },
        { id: 'delete', icon: 'trash-can', name: this.$t('deleteButton') },
        { id: 'reply', icon: 'comment', name: this.$t('reply') },
        { id: 'goTo', icon: 'arrow-right-top', name: this.$t('goTo') }
      ]
      return this.rowInCtx ? opt : opt.slice(0, 1)
    }
  },
  methods: {
    showFilterForm(field) {
      const ffield = field && field.useFilter ? field : null
      this.assignColumnFilterForm(ffield)

      this.$buefy.modal.open({
        parent: this,
        component: AdvancedFilterComponent,
        props: {
          form: ffield ? ffield.filterForm : this.filterForm,
          isInModal: true,
          filterType: 'audioStream',
          stickyInside: true,
          locale: this.$i18n.locale,
          cardTitle: this.$t('cardTitle'),
          cardSubtitle: this.$t('filter'),
          enableAdvancedSearch: false,
          modalWidth: ffield ? 500 : 850,
          simpleMode: !!ffield,
          utc: true
        },
        events: {
          'filters-updated': this.updateFilters,
          'count-results': (q) => this.countResults(q, this.getBasePath),
          'filters-count': (v) => (this.filtersCount = v)
        },
        hasModalCard: true,
        destroyOnHide: true,
        trapFocus: true
      })
    },
    handleCtxMenuClicked(option, record) {
      if (option && this.$refs.table) {
        if (option.id === 'add') this.$refs.table.formOpen(null)
        else if (option.id === 'delete' && record)
          this.$refs.table.deleteRecord(
            record[this.$refs.table.idName],
            record[this.$refs.table.rowName]
          )
        else if (option.id === 'reply' && record) this.replyComment(record)
        else if (option.id === 'goTo' && record)
          this.$router.push(`/publication/` + record.publicationId)
      }
    },
    addComment() {
      this.$buefy.modal.open({
        parent: this,
        component: DynamicForm,
        props: {
          form: this.tableDefs.form,
          isInModal: true,
          locale: this.$i18n.locale,
          cardTitle: this.$tc('cardTitle'),
          cardSubtitle: this.$t('create', { element: '' }),
          cardWidth: 500,
          preventSubmit: true
        },
        events: {
          'form-saved': () => {
            this.$buefy.toast.open({
              message: this.$t('createSuccess'),
              type: 'is-success'
            })
          },
          onSubmit: (values, parent) => {
            this.$axios
              .post('PublicationUserComment', {
                comment: values.comment,
                publicationId: values.publicationId,
                publicationUserCommentParentId:
                  values.publicationUserCommentParentId
              })
              .then(() => {
                this.reloadInner = true
                parent.close()
                this.$buefy.toast.open({
                  message: this.$t('createSuccess'),
                  type: 'is-success'
                })
                setTimeout(() => {
                  this.reloadInner = false
                }, 1000)
              })
              .catch((err) => {
                if (
                  err.response.status === 400 &&
                  err.response.data.Message.includes(
                    'no permite Comentarios en sus Publicaciones'
                  )
                )
                  this.$buefy.toast.open({
                    message: this.$t('genericError', {
                      error: err.response.data.Message
                    }),
                    type: 'is-danger',
                    duration: 5000
                  })
                else this.toastError(err)
              })
          }
        },
        hasModalCard: true,
        destroyOnHide: true,
        trapFocus: true,
        canCancel: ['escape', 'x']
      })
    },
    replyComment(comment) {
      this.tableDefs.form.publicationUserCommentParentId.value = comment.id
      this.tableDefs.form.publicationId['field-wrapper'].style = 'display: none'
      this.tableDefs.form.publicationId.value = comment.publicationId

      this.$buefy.modal.open({
        parent: this,
        component: DynamicForm,
        props: {
          form: this.tableDefs.form,
          isInModal: true,
          locale: this.$i18n.locale,
          cardTitle: this.$tc('cardTitle'),
          cardSubtitle: this.$t('reply'),
          cardWidth: 700,
          submitUrl: 'PublicationUserComment'
        },
        events: {
          'form-saved': () => {
            this.$buefy.toast.open({
              message: this.$t('createSuccess'),
              type: 'is-success'
            })
          },
          'form-close': () => {
            this.tableDefs.form.publicationId['field-wrapper'].style =
              'display: inherit'
          }
        },
        hasModalCard: true,
        destroyOnHide: true,
        trapFocus: true,
        canCancel: ['escape', 'x']
      })
    },
    cleanAllFilters() {
      this.reload = true
      this.filters = ''
      setTimeout(() => {
        this.reload = false
      }, 1000)
      this.filtersCount = 0
    }
  }
}
</script>
<i18n>
{
  "en": {
    "cardTitle": "User Comment",
    "userLabel": "User",
    "commentLabel": "Comment",
    "contentChannelIdLabel": "Content Channel",
    "placeholderSelect": "Select a {key}...",
    "filter": "Filter Comment",
    "dates": "Comment Dates",
    "editAudio": "Edit Comment",
    "deleteAudio": "Delete Comment",
    "publicationLabel": "Publication",
    "isReply": "Is comment reply",
    "reply": "Reply comment",
    "approve": "Approve"
  },
  "es": {
    "cardTitle": "Comentario de Usuario",
    "userLabel": "Usuario",
    "commentLabel": "Comentario",
    "contentChannelIdLabel": "Canal de Contenido",
    "placeholderSelect": "Seleccione una {key}...",
    "filter": "Filtrar Comentario",
    "dates": "Fechas de Comentario",
    "editAudio": "Editar Comentario",
    "deleteAudio": "Eliminar Comentario",
    "publicationLabel": "Publicación",
    "isReply": "Respuesta a otro comentario",
    "reply": "Responder comentario",
    "approve": "Aprobar"
  }
}
</i18n>
