<template>
  <div>
    <section class="section is-main-section">
      <context-menu
        :open="ctxOpen"
        :options="ctxOptions"
        @ctx-close="
          () => {
            ctxOpen = false
          }
        "
        @ctx-cancel="
          () => {
            rowInCtx = null
            ctxOpen = false
          }
        "
        @optionClicked="(opt) => handleCtxMenuClicked(opt, rowInCtx)"
      />
      <server-table-component
        ref="table"
        :data-url="getBasePath"
        :locale="$i18n.locale"
        v-bind="tableDefs"
        :custom-headers="true"
        @cleanFilters="cleanAllFilters"
        @open-column-filter="showFilterForm"
        @contextmenu="
          (ev, row) => {
            if (ev) ev.preventDefault()
            rowInCtx = row
            ctxOpen = !ctxOpen
          }
        "
      >
        <template #right-extra-header-content>
          <b-tooltip
            type="is-primary"
            :label="$t('filter')"
            size="is-small"
            class="filter-button"
          >
            <b-button
              class="table-buttons"
              :rounded="tableDefs.vbuttons.roundedButtons"
              :outlined="tableDefs.vbuttons.outlinedButtons"
              icon-left="filter"
              type="is-primary is-light"
              @click="showFilterForm"
            >
              <span v-show="filtersCount > 0" class="filter-badge">{{
                filtersCount
              }}</span>
            </b-button>
          </b-tooltip>
        </template>
        <template #extra-row-buttons="record">
          <div class="columns is-gapless is-mobile">
            <div
              v-for="(button, key) in vrowButtons.buttons"
              :key="key"
              class="column"
            >
              <b-tooltip
                :type="button.tooltip.type"
                :label="button.tooltip.label"
                :position="button.tooltip.position"
              >
                <b-button
                  v-bind="button.props"
                  :class="vrowButtons.class"
                  :rounded="vrowButtons.roundedButtons"
                  :outlined="vrowButtons.outlinedButtons"
                  :icon-left="button.icon"
                  :type="button.type"
                  :size="vrowButtons.size"
                  @click="button.action(record)"
                />
              </b-tooltip>
            </div>
          </div>
        </template>
      </server-table-component>
    </section>
  </div>
</template>

<script>
import dayjs from 'dayjs'

import {
  AdvancedFilterComponent,
  axiosToastErrorsMixin,
  ButtonColumnComponent,
  LargeTextColumnComponent,
  FileSizeColumnComponent,
  DurationColumnComponent,
  MediaVisualizerColumnComponent,
  ObfuscateDetailComponent,
  ContextMenu
} from 'premium-tesh-ui-lib'

import multimediaMixin from '@/mixins/multimediaMixin'
import utilitiesMixin from '~/mixins/utilitiesMixin'
import genericFiltersMixin from '~/mixins/genericFiltersMixin'
import tableContextMenuMixin from '~/mixins/tableContextMenuMixin'
// import FileSizeColumnComponent from '~/components/FileSizeColumnComponent'
// import DurationColumnComponent from '~/components/DurationColumnComponent'
const duration = require('dayjs/plugin/duration')
dayjs.extend(duration)

export default {
  name: 'Media',
  components: { ContextMenu },
  mixins: [
    multimediaMixin,
    genericFiltersMixin,
    axiosToastErrorsMixin,
    utilitiesMixin,
    tableContextMenuMixin
  ],
  meta: {
    requiresAdmin: true
  },
  middleware: 'guest',
  data() {
    return {
      tableDefs: {
        vtable: {
          draggable: false,
          headers: [
            {
              text: 'Id',
              value: 'id',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'id'
              }
            },
            {
              text: this.$t('visualizeMedia'),
              value: 'displayPath',
              align: 'left',
              sortable: false,
              custom: true,
              render: {
                type: MediaVisualizerColumnComponent,
                props: {
                  showDisplayButton: true,
                  fallbackMimeType: 'audio/ogg',
                  locale: this.$i18n.locale,
                  basePath: `${this.$store.state.APP_BASE_URL}${this.$store.state.API_DATA_PREFIX}`,
                  blankPageUrl: '/media-preview'
                },
                rendervalue: (v) => {
                  return v
                    ? {
                        title: v.name,
                        media: v.displayPath,
                        preview:
                          v.thumbnail ||
                          this.getStaticMediaThumbnail(v.mediaType) ||
                          undefined
                      }
                    : ''
                }
              },
              filter: {
                useFilter: false
              }
            },
            {
              text: this.$t('nameLabel'),
              value: 'name',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'name'
              }
            },
            {
              text: this.$t('descriptionLabel'),
              value: 'description',
              align: 'left',
              sortable: true,
              render: {
                type: LargeTextColumnComponent,
                props: {
                  showDisplayButton: true,
                  content: this.$t('descriptionLabel'),
                  locale: this.$i18n.locale,
                  textLenght: 30,
                  tooltipPosition: 'is-right'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'description'
              }
            },
            {
              text: this.$t('sourceLabel'),
              value: 'displayPath',
              align: 'left',
              sortable: true,
              render: {
                type: LargeTextColumnComponent,
                props: {
                  showDisplayButton: true,
                  content: this.$t('sourceLabel'),
                  locale: this.$i18n.locale,
                  textLenght: 15,
                  tooltipPosition: 'is-right'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'displayPath'
              }
            },
            {
              text: this.$t('fileSize'),
              value: 'size',
              align: 'left',
              sortable: true,
              render: {
                type: FileSizeColumnComponent,
                props: {
                  content: this.$t('fileSize'),
                  locale: this.$i18n.locale,
                  textLenght: 15,
                  tooltipPosition: 'is-top'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'size'
              }
            },
            {
              text: this.$t('durationLabel'),
              value: 'duration',
              align: 'left',
              sortable: true,
              custom: true,
              render: {
                type: DurationColumnComponent,
                props: {
                  content: this.$t('durationLabel'),
                  locale: this.$i18n.locale,
                  textLenght: 15,
                  tooltipPosition: 'is-top'
                }
              },
              // rendervalue: (value) => {
              //   if (value && value > 0) {
              //     const time = dayjs.duration(value)
              //     return time.format('HH:mm:ss')
              //   }
              //   return '---'
              // },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'duration'
              }
            },
            {
              text: this.$t('resolutionLabel'),
              value: 'resolution',
              align: 'left',
              sortable: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'resolution'
              }
            },
            {
              text: this.$t('extension'),
              value: 'extension',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'extension'
              }
            }
          ]
        },
        vicon: {
          roundedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          edit: {
            show: false,
            name: 'pencil',
            type: 'is-primary',
            tooltip: {
              label: this.$t('edit', { element: null }),
              type: 'is-primary',
              position: 'is-top'
            }
          },
          delete: {
            show: false,
            name: 'delete',
            type: 'is-danger',
            tooltip: {
              label: this.$t('delete', { element: null }),
              type: 'is-danger',
              position: 'is-top'
            }
          }
        },
        vbtn: {
          create: {
            show: false
          }
        },
        vbuttons: {
          roundedButtons: true,
          outlinedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          buttons: []
        },
        title: this.$t('cardTitle'),
        modalTitle: this.$t('cardTitle'),
        editModalTitle: this.$t('cardTitle'),
        headerIcon: 'pump',
        form: {},
        modalWidth: 700
      },
      vrowButtons: {
        roundedButtons: true,
        outlinedButtons: false,
        size: 'is-small',
        class: 'table-buttons',
        buttons: [
          {
            show: true,
            icon: 'file-sync-outline',
            type: 'is-info',
            tooltip: {
              label: this.$t('reprocess'),
              type: 'is-info',
              position: 'is-top'
            },
            action: (record) => {
              this.reprocess(record.record)
            }
          },
          {
            show: true,
            icon: 'download',
            type: 'is-info',
            tooltip: {
              label: this.$t('download'),
              type: 'is-info',
              position: 'is-top'
            },
            action: (record) => {
              this.downloadMedia(record.record)
            }
          }
        ]
      },
      filterForm: {},
      filters: '',
      filtersConstants: {
        Id: 'id',
        Title: 'title',
        MediaDescription: 'description',
        Duration: 'duration',
        Resolution: 'resolution',
        MediaSourcePath: 'displayPath',
        StreamType: 'streamType',
        Subtitles: 'subtitles',
        CreatedDate: 'createdDate',
        ModifiedDate: 'modifiedDate',
        Extension: 'extension',
        LocalPath: 'localPath',
        DisplayPath: 'displayPath',
        Category: 'category',
        Size: 'size',
        MediaType: 'mediaType',
        Thumbnail: 'thumbnail',
        MediaTitle: 'name'
      },
      filtersCount: 0,
      actions: {
        text: this.$t('actions'),
        value: '',
        fixed: true,
        sortable: false,
        class: 'pa-1',
        action: true,
        filter: {
          useFilter: false
        }
      },
      detailsColumn: {
        text: this.$t('details'),
        value: '',
        align: 'left',
        sortable: false,
        custom: true,
        render: {
          type: ButtonColumnComponent,
          props: {
            icon: 'monitor',
            tooltip: { label: this.$t('details'), type: 'is-white' },
            content: 'streamTypeStr'
          },
          events: {
            confirm: (v) => this.showOfuscatedCols(v)
          }
        },
        filter: {
          useFilter: false
        }
      },
      allowedFileTypes: ['audio/*', 'video/*', 'image/*'],
      reload: false,
      rowInCtx: null,
      ctxOpen: false
    }
  },
  head() {
    return {
      title: this.$config.appName
    }
  },
  computed: {
    titleStack() {
      return ['Admin', 'Tables']
    },
    ctxOptions() {
      const opt = [
        {
          id: 'reprocess',
          icon: 'file-sync-outline',
          name: this.$t('reprocess')
        }
      ]
      return this.rowInCtx ? opt : []
    },
    getBasePath() {
      return this.reload
        ? ''
        : this.filters !== ''
        ? `/MediaInfo?filters=${this.filters}`
        : '/MediaInfo'
    }
  },
  created() {
    this.tableDefs.vtable.headers.splice(5, 0, this.HeadersMedia[1])
    this.tableDefs.vtable.headers.splice(6, 0, this.HeadersMedia[2])
    this.tableDefs.vtable.headers = [
      ...this.tableDefs.vtable.headers,
      ...this.HeadersMedia.slice(3, 7)
    ]
    this.tableDefs.vtable.headers.splice(
      this.tableDefs.vtable.headers.length,
      0,
      this.actions
    )
    this.tableDefs.vtable.headers.splice(
      this.tableDefs.vtable.headers.length - 5,
      0,
      this.detailsColumn
    )
  },
  methods: {
    downloadMedia(record) {
      const extension =
        record.extension === '' ? `.${record.codec}` : record.extension
      const fileId = record.fileId
      this.$axios
        .get(`${record.path}`, { responseType: 'blob' })
        .then((response) => {
          const FILE = window.URL.createObjectURL(new Blob([response.data]))
          const docUrl = document.createElement('a')
          docUrl.href = FILE
          docUrl.setAttribute('download', `${fileId}.${extension}`)
          document.body.appendChild(docUrl)
          docUrl.click()
        })
    },
    handleCtxMenuClicked(option, record) {
      if (option && this.$refs.table) {
        if (option.id === 'reprocess' && record) this.reprocess(record)
      }
    },
    reprocess(record) {
      this.$axios
        .post(`/MediaInfo/${record.id}`)
        .then((response) => {
          this.suscribeNotificationGoup(record.fileId)

          this.$buefy.toast.open({
            message: `${this.$t('reprocess')} OK`,
            type: 'is-success'
          })
          this.reload = true
          setTimeout(() => {
            this.reload = false
          }, 1000)
        })
        .catch((err) => {
          this.toastError(err)
        })
    },
    resetForm() {
      this.filters = ''
    },
    showOfuscatedCols(row) {
      this.$buefy.modal.open({
        parent: this,
        component: ObfuscateDetailComponent,
        props: {
          locale: this.$i18n.locale,
          title: row.name,
          originalDataDefs: {
            title: this.$t('details'),
            headerIcon: 'text-box-outline',
            headers:
              row.mediaType === 0
                ? this.AudioAndVideoHeaders
                : row.mediaType === 1
                ? this.ImageAndVideoHeaders.concat(
                    this.AudioAndVideoHeaders.slice(-1)
                  )
                : this.ImageAndVideoHeaders,
            records: [row]
          }
        },
        hasModalCard: true,
        destroyOnHide: true,
        trapFocus: true
      })
    },
    showFilterForm(field) {
      const ffield = field && field.useFilter ? field : null
      this.assignColumnFilterForm(ffield)

      this.$buefy.modal.open({
        parent: this,
        component: AdvancedFilterComponent,
        props: {
          form: ffield ? ffield.filterForm : this.filterForm,
          isInModal: true,
          filterType: 'audioStream',
          stickyInside: true,
          locale: this.$i18n.locale,
          cardTitle: this.$t('cardTitle'),
          cardSubtitle: this.$t('filter'),
          enableAdvancedSearch: false,
          modalWidth: ffield ? 500 : 850,
          simpleMode: !!ffield,
          utc: true
        },
        events: {
          'filters-updated': this.updateFilters,
          'count-results': (q) => this.countResults(q, this.getBasePath),
          'filters-count': (v) => (this.filtersCount = v)
        },
        hasModalCard: true,
        destroyOnHide: true,
        trapFocus: true
      })
    },
    cleanAllFilters() {
      this.reload = true
      this.filters = ''
      setTimeout(() => {
        this.reload = false
      }, 1000)
      this.filtersCount = 0
    }
  }
}
</script>
<i18n>
{
  "en": {
    "cardTitle": "Medias",
    "placeholderSelect": "Select a {key}...",
    "editAudio": "Edit Media",
    "deleteAudio": "Delete Media",
    "userLabel": "User",
    "fileLabel": "file",
    "fileSize": "File Size",
    "pixelFormat": "Pixel Format",
    "details": "Details",
    "audioBitrate": "Audio Bitrate",
    "audioChannels": "Audio Channels",
    "audioCodec": "Audio Codec",
    "audioLanguage": "Audio Language",
    "audioSampleRate": "Audio Sample Rate",
    "bitrate": "Bitrate",
    "sourceLabel": "Source",
    "reprocess": "Reprocess",
    "download": "Download"
  },
  "es": {
    "cardTitle": "Medias",
    "placeholderSelect": "Seleccione una {key}...",
    "editAudio": "Editar Medias",
    "deleteAudio": "Eliminar Medias",
    "userLabel": "Usuario",
    "fileLabel": "Archivo",
    "fileSize": "Tamaño del Archivo",
    "pixelFormat": "Formato de Píxeles",
    "details": "Detalles",
    "audioBitrate": "Tasa de Bits de Audio",
    "audioChannels": "Canales de Audio",
    "audioCodec": "Codec de Audio",
    "audioLanguage": "Lenguaje de Audio",
    "audioSampleRate": "Frecuencia de Muestreo de Audio",
    "bitrate": "Tasa de Bits",
    "sourceLabel": "Ruta",
    "reprocess": "Reprocesar",
    "download": "Descargar"
  }
}
</i18n>
