<template>
  <div>
    <section class="section is-main-section">
      <b-loading
        :is-full-page="false"
        :active.sync="isLoadingElement"
        :can-cancel="false"
      ></b-loading>

      <span>{{ $config.baseURL }}</span>

      <div v-if="!isLoadingElement">
        <card-form-submit-component
          v-for="(card, key) in form"
          :key="key"
          :card-title="card.title"
          :submit-url="card.submitUrl"
          :submit-disabled="systemIsReadOnlyState"
          :form="card.form"
          :locale="$i18n.locale"
          class="config-cards"
        />
      </div>
    </section>
  </div>
</template>

<script>
import {
  NumberComponent,
  PasswordComponent,
  SwitchComponent,
  TextComponent,
  TimeComponent,
  UnitSelectorNumberComponent,
  UrlComponent
} from 'premium-tesh-ui-lib'

export default {
  name: 'Configuration',
  meta: { requiresAdmin: true },
  components: {},
  data() {
    return {
      isLoadingElement: false,
      form: {
        Redes: {
          title: this.$t('redes'),
          submitUrl: '/config',
          form: {
            Bandwidth: {
              type: UnitSelectorNumberComponent,
              default: null,
              // render: (v) => parseInt(v, 10),
              save: (v) => v.toString(),
              'field-wrapper': { class: 'is-12' },
              'field-input': {
                label: this.$t('bandwidthLabel'),
                placeholder: this.$t('placeholder', {
                  key: this.$t('bandwidthLabel').toLowerCase()
                }),
                expanded: true,
                controls: false,
                units: ['b/s', 'kb/s', 'Mb/s', 'Gb/s', 'Tb/s'],
                baseUnit: 'b/s',
                converter: 'digital',
                unit: 'b/s',
                min: 0
              }
            }
          }
        },
        WowzaSincronization: {
          title: this.$t('wowzaSincronization'),
          submitUrl: '/config',
          form: {
            StreamTargetLocalInterval: {
              type: TimeComponent,
              default: null,
              save: (v) => v.toString(),
              'field-wrapper': { class: 'is-12' },
              'field-input': {
                label: this.$t('streamIntervalLabel'),
                placeholder: this.$t('placeholder', {
                  key: this.$t('streamIntervalLabel').toLowerCase()
                }),
                expanded: true,
                convertUnit: 'seconds'
              }
            },
            RunningStateST: {
              type: SwitchComponent,
              value: '',
              default: '',
              'field-wrapper': { class: 'is-12' },
              'field-input': {
                label: this.$t('runningStateSTLabel'),
                placeholder: this.$t('placeholder', {
                  key: this.$t('runningStateSTLabel').toLowerCase()
                }),
                trueObject: {
                  value: '1',
                  label: '',
                  tooltip: this.$t('running')
                },
                falseObject: {
                  value: '0',
                  label: '',
                  tooltip: this.$t('stopped')
                },
                min: 0
              },
              events: { input: this.changeRunningStateST }
            },
            IncomingStreamInterval: {
              type: TimeComponent,
              default: null,
              save: (v) => v.toString(),
              'field-wrapper': { class: 'is-12' },
              'field-input': {
                label: this.$t('incomingStreamIntervalLabel'),
                placeholder: this.$t('placeholder', {
                  key: this.$t('incomingStreamIntervalLabel').toLowerCase()
                }),
                expanded: true,
                convertUnit: 'seconds'
              }
            },
            RunningState: {
              type: SwitchComponent,
              value: '',
              default: '',
              'field-wrapper': { class: 'is-12' },
              'field-input': {
                label: this.$t('runningStateLabel'),
                placeholder: this.$t('placeholder', {
                  key: this.$t('runningStateLabel').toLowerCase()
                }),
                trueObject: {
                  value: '1',
                  label: '',
                  tooltip: this.$t('running')
                },
                falseObject: {
                  value: '0',
                  label: '',
                  tooltip: this.$t('stopped')
                },
                min: 0
              },
              events: { input: this.changeRunningState }
            }
          }
        },
        WowzaConnection: {
          title: this.$t('wowzaConnection'),
          submitUrl: '/config',
          form: {
            Host: {
              type: TextComponent,
              value: '',
              default: '',
              'field-wrapper': { class: 'is-12' },
              'field-input': {
                label: this.$t('hostLabel'),
                placeholder: this.$t('placeholder', {
                  key: this.$t('hostLabel').toLowerCase()
                }),
                isHostName: true
              }
            },
            HasSecurity: {
              type: SwitchComponent,
              value: '',
              default: '',
              'field-wrapper': { class: 'is-12' },
              'field-input': {
                label: this.$t('hasSecurityLabel'),
                placeholder: this.$t('placeholder', {
                  key: this.$t('hasSecurityLabel').toLowerCase()
                }),
                trueObject: {
                  value: '1',
                  label: '',
                  tooltip: this.$t('yesLabel')
                },
                falseObject: {
                  value: '0',
                  label: '',
                  tooltip: 'No'
                },
                min: 0
              },
              events: { input: this.changeHasSecurity }
            },
            HasPort: {
              type: SwitchComponent,
              value: '',
              default: '',
              'field-wrapper': { class: 'is-12' },
              'field-input': {
                label: this.$t('hasPortLabel'),
                placeholder: this.$t('placeholder', {
                  key: this.$t('hasPortLabel').toLowerCase()
                }),
                trueObject: {
                  value: '1',
                  label: '',
                  tooltip: this.$t('yesLabel')
                },
                falseObject: {
                  value: '0',
                  label: '',
                  tooltip: 'No'
                },
                min: 0
              },
              events: { input: this.changeHasPort }
            },
            Port: {
              type: NumberComponent,
              value: '',
              default: '',
              render: (v) => parseInt(v, 10),
              save: (v) => v.toString(),
              'field-wrapper': { class: 'is-12' },
              'field-input': {
                label: this.$t('portLabel'),
                placeholder: this.$t('placeholder', {
                  key: this.$t('portLabel').toLowerCase()
                }),
                min: 0
              }
            },
            Server: {
              type: TextComponent,
              value: '',
              default: '',
              'field-wrapper': { class: 'is-12' },
              'field-input': {
                label: this.$t('serverLabel'),
                placeholder: this.$t('placeholder', {
                  key: this.$t('serverLabel').toLowerCase()
                })
              }
            },
            VHost: {
              type: TextComponent,
              value: '',
              default: '',
              'field-wrapper': { class: 'is-12' },
              'field-input': {
                label: this.$t('vHostLabel'),
                placeholder: this.$t('placeholder', {
                  key: this.$t('vHostLabel').toLowerCase()
                })
              }
            },
            ApplicationName: {
              type: TextComponent,
              value: '',
              default: '',
              'field-wrapper': { class: 'is-12' },
              'field-input': {
                label: this.$t('applicationNameLabel'),
                placeholder: this.$t('placeholder', {
                  key: this.$t('applicationNameLabel').toLowerCase()
                })
              }
            },
            ApplicationInstance: {
              type: TextComponent,
              value: '',
              default: '',
              'field-wrapper': { class: 'is-12' },
              'field-input': {
                label: this.$t('appInstanceLabel'),
                placeholder: this.$t('placeholder', {
                  key: this.$t('appInstanceLabel').toLowerCase()
                })
              }
            },
            User: {
              type: TextComponent,
              value: '',
              default: '',
              'field-wrapper': { class: 'is-12' },
              'field-input': {
                label: this.$t('usernameLabel'),
                placeholder: this.$t('placeholder', {
                  key: this.$t('usernameLabel').toLowerCase()
                }),
                isUserName: true
              }
            },
            Password: {
              type: PasswordComponent,
              value: '',
              default: '',
              'field-wrapper': { class: 'is-12' },
              'field-input': {
                label: this.$t('passwordLabel'),
                placeholder: this.$t('placeholder', {
                  key: this.$t('passwordLabel').toLowerCase()
                }),
                isUserName: true
              }
            }
          }
        },
        SocialMedia: {
          title: this.$t('socialMedia'),
          submitUrl: '/config',
          form: {
            YouTube: {
              type: UrlComponent,
              value: '',
              default: '',
              'field-wrapper': { class: 'is-12' },
              'field-input': {
                label: this.$t('youTubeLabel'),
                placeholder: this.$t('customPlaceholderLabel', {
                  key: this.$t('youTubeLabel').toLowerCase()
                }),
                isRequired: false
              }
            },
            Facebook: {
              type: UrlComponent,
              value: '',
              default: '',
              'field-wrapper': { class: 'is-12' },
              'field-input': {
                label: this.$t('facebookLabel'),
                placeholder: this.$t('customPlaceholderLabel', {
                  key: this.$t('facebookLabel').toLowerCase()
                }),
                isRequired: false
              }
            },
            Twitter: {
              type: UrlComponent,
              value: '',
              default: '',
              'field-wrapper': { class: 'is-12' },
              'field-input': {
                label: this.$t('twitterLabel'),
                placeholder: this.$t('customPlaceholderLabel', {
                  key: this.$t('twitterLabel').toLowerCase()
                }),
                isRequired: false
              }
            },
            Telegram: {
              type: UrlComponent,
              value: '',
              default: '',
              'field-wrapper': { class: 'is-12' },
              'field-input': {
                label: this.$t('telegramLabel'),
                placeholder: this.$t('customPlaceholderLabel', {
                  key: this.$t('telegramLabel').toLowerCase()
                }),
                isRequired: false
              }
            }
          }
        }
      }
    }
  },
  head() {
    return {
      title: this.$config.appName
    }
  },
  computed: {
    titleStack() {
      return ['Admin', 'Tables']
    },
    systemIsReadOnlyState() {
      return this.$store.state.systemReadOnlyState
    }
  },
  mounted() {
    this.loadAsyncData()
  },
  methods: {
    async loadAsyncData() {
      // loadAsyncData() {
      try {
        this.isLoadingElement = true
        const { data } = await this.$axios.get('/config')
        // eslint-disable-next-line no-console
        if (data) {
          for (const card in this.form) {
            for (const key in this.form[card].form) {
              this.form[card].form[key].value = this.form[card].form[key].render
                ? this.form[card].form[key].render(data[key])
                : data[key]
            }
          }
        }
        this.isLoadingElement = false
      } catch (e) {
        this.isLoadingElement = false
        let msg = ''
        if (e.respone) {
          msg = e.respone.data
        } else if (e.request) {
          msg = e.toJSON().message
        }
        this.$buefy.toast.open({
          message: msg,
          type: 'is-danger',
          queue: false
        })
      }
    }
  }
}
</script>
<i18n>
{
  "es": {
    "redes": "Redes",
    "bandwidthLabel": "Ancho de banda",
    "wowzaSincronization": "Sincronización Wowza: automatización",
    "streamIntervalLabel": "Destino de transmisión local: intervalo de ejecución",
    "runningStateSTLabel": "Destino de transmisión local: estado de ejecución",
    "incomingStreamIntervalLabel": "Flujo de entrada: intervalo de ejecución",
    "runningStateLabel": "Flujo de entrada: estado de ejecución",
    "wowzaConnection": "Conexión Wowza",
    "hostLabel": "Host",
    "portLabel": "Puerto",
    "usernameLabel": "Usuario",
    "passwordLabel": "Contraseña",
    "socialMedia": "Redes sociales",
    "youTubeLabel": "YouTube",
    "facebookLabel": "Facebook",
    "twitterLabel": "Twitter",
    "telegramLabel": "Telegram",
    "customPlaceholderLabel": "Introduzca una cuenta de {key}",
    "seconds": "segundos",
    "minutes": "minutos",
    "hours": "horas",
    "days": "días",
    "appInstanceLabel": "Instancia de aplicación",
    "hasSecurityLabel": "Tiene seguridad",
    "hasPortLabel": "Tiene puerto",
    "yesLabel": "Sí",
    "serverLabel": "Servidor",
    "vHostLabel": "VHost",
    "applicationNameLabel": "Application name",
    "running": "Ejecutando",
    "stopped": "Detenido"
  },
  "en": {
    "redes": "Redes",
    "bandwidthLabel": "Bandwidth",
    "wowzaSincronization": "Wowza Sincronization: automatization",
    "streamIntervalLabel": "Stream target local: execution interval",
    "runningStateSTLabel": "Stream target local: running state",
    "incomingStreamIntervalLabel": "Incoming stream: execution interval",
    "runningStateLabel": "Incoming stream: running state",
    "wowzaConnection": "Wowza connection",
    "hostLabel": "Host",
    "portLabel": "Port",
    "usernameLabel": "User",
    "passwordLabel": "Password",
    "socialMedia": "Social Media",
    "youTubeLabel": "YouTube",
    "facebookLabel": "Facebook",
    "twitterLabel": "Twitter",
    "telegramLabel": "Telegram",
    "customPlaceholderLabel": "Enter a {key} account",
    "seconds": "seconds",
    "minutes": "minutes",
    "hours": "hours",
    "days": "days",
    "appInstanceLabel": "Application instance",
    "hasSecurityLabel": "Has security",
    "hasPortLabel": "Has port",
    "yesLabel": "Yes",
    "serverLabel": "Server",
    "vHostLabel": "VHost",
    "applicationNameLabel": "Nombre de aplicación",
    "running": "Running",
    "stopped": "Stopped"
  }
}
</i18n>
