<template>
  <b-tabs
    v-if="editionMode"
    position="is-centered"
    class="block section-tabs edition-tabs border-botton-less"
    :size="isMobileOrTablet ? '' : 'is-large'"
  >
    <b-tab-item
      :label="$t('mediasLabel') + ` ${totalMedias ? `(${totalMedias})` : ''}`"
    >
      <div class="column is-12 p-0">
        <section
          v-show="!currentMedias || !currentMedias.length"
          class="column is-12 p-3"
        >
          <b-tabs
            :size="!isMobileOrTablet ? 'is-medium' : 'is-small'"
            class="block section-tabs border-botton-less border-botton-vertical-less multimediaTabs"
            :vertical="isMobileOrTablet ? false : true"
            :position="!isMobileOrTablet ? '' : 'is-centered'"
            animation="slide-next"
          >
            <b-tab-item
              :label="
                $tc('video', 2) + ` ${totalVideos ? `(${totalVideos})` : ''}`
              "
              icon="video"
            >
              <system-media
                :id="'video'"
                :title-label="$tc('video', 2)"
                :icon-header="'video'"
                :myfilters="'mediaType==1,streamType==1'"
                :systemId="systemId"
                @items-available="
                  (n) => {
                    totalVideos = n || 0
                  }
                "
              />
            </b-tab-item>
            <b-tab-item
              :label="
                $tc('audio', 2) + ` ${totalAudios ? `(${totalAudios})` : ''}`
              "
              icon="volume-high"
            >
              <system-media
                :id="'audio'"
                :title-label="$tc('audio', 2)"
                :icon-header="'volume-high'"
                :myfilters="'mediaType==0,streamType==1'"
                :systemId="systemId"
                @items-available="
                  (n) => {
                    totalAudios = n || 0
                  }
                "
              />
            </b-tab-item>
            <b-tab-item
              :label="
                $tc('imageLabel', 2) + ` ${totalImg ? `(${totalImg})` : ''}`
              "
              icon="image"
            >
              <system-media
                :id="'image'"
                :title-label="$tc('imageLabel', 2)"
                :icon-header="'image'"
                :myfilters="'mediaType==2,streamType==1'"
                :systemId="systemId"
                @items-available="(n) => (totalImg = n || 0)"
              />
            </b-tab-item>
            <b-tab-item
              :label="
                $tc('videoStreamLabel', 2) +
                ` ${totalVideoStream ? `(${totalVideoStream})` : ''}`
              "
              icon="video-box"
            >
              <system-media
                :id="'videoStream'"
                :title-label="$tc('videoStreamLabel', 2)"
                :icon-header="'video-box'"
                :myfilters="'mediaType==1,streamType==0'"
                :systemId="systemId"
                @items-available="
                  (n) => {
                    totalVideoStream = n || 0
                  }
                "
              />
            </b-tab-item>
            <b-tab-item
              :label="
                $tc('audioStreamLabel', 2) +
                ` ${totalAudioStream ? `(${totalAudioStream})` : ''}`
              "
              icon="music-box-outline"
            >
              <system-media
                :id="'audioStream'"
                :title-label="$tc('audioStreamLabel', 2)"
                :icon-header="'music-box-outline'"
                :myfilters="'mediaType==0,streamType==0'"
                :systemId="systemId"
                @items-available="
                  (n) => {
                    totalAudioStream = n || 0
                  }
                "
              />
            </b-tab-item>
          </b-tabs>
        </section>
      </div>
    </b-tab-item>
    <b-tab-item
      :label="$tc('member', 2) + ` ${totalMembers ? `(${totalMembers})` : ''}`"
    >
      <admins-tab
        :edition-mode="false"
        :permissions="permissions"
        @items-available="
          (n) => {
            totalMembers = n
          }
        "
      />
    </b-tab-item>
    <b-tab-item
      :label="$tc('rtmpAccount', 2) + ` ${totalRTMP ? `(${totalRTMP})` : ''}`"
    >
      <div class="columns is-flex is-multiline m-3">
        <SocialMediaRTMPAccounts
          class="ml-3 is-fullwidth"
          :reload="reloadRTMPAccounts"
          :permissions="permissions"
          :rtmp-destinations="rtmpDestinations"
          url="/SocialMediaAccountForRtmp"
          @items-available="
            (n) => {
              totalRTMP = n
            }
          "
        />
      </div>
    </b-tab-item>
    <b-tab-item
      :label="
        $tc('streamTargetLabel', 2) +
        ` ${totalStreamT ? `(${totalStreamT})` : ''}`
      "
    >
      <stream-targets
        ref="s_targets"
        url="/StreamTargetLocal"
        :permissions="permissions"
        @items-available="
          (n) => {
            totalStreamT = n
          }
        "
      />
    </b-tab-item>
  </b-tabs>
</template>

<script>
import SocialMediaRTMPAccounts from '~/components/SocialMediaRTMPAccounts.vue'
import StreamTargets from '~/components/StreamTargets.vue'
import AdminsTab from '~/components/SystemTabs/AdminsTab.vue'
import SystemMedia from '~/components/SystemTabs/SystemMedia.vue'
import utilitiesMixin from '~/mixins/utilitiesMixin'

export default {
  name: 'AdminTabs',
  components: {
    AdminsTab,
    SocialMediaRTMPAccounts,
    StreamTargets,
    SystemMedia
  },
  mixins: [utilitiesMixin],
  provide() {
    return {
      permissions: this.permissions
    }
  },
  middleware: 'guest',
  props: {
    contentChannel: {
      type: Object,
      required: false,
      default: null
    },
    editionMode: {
      type: Boolean,
      default: true
    },
    permissions: {
      type: Array,
      default: () => []
    },
    rtmpDestinations: {
      type: Array,
      default: () => []
    },
    systemId: {
      type: String,
      default: null
    }
  },
  data() {
    return {
      itemView: false,
      isLoading: false,
      saveChanges: false,
      reloadCategory: false,
      reloadRTMPAccounts: false,
      reloadStreamTargets: false,
      reloadIncomingStream: false,
      rtmpAccounts: [],
      totalVideos: '',
      totalAudios: '',
      totalImg: '',
      totalVideoStream: '',
      totalAudioStream: '',
      totalPublications: 0,
      totalCategories: 0,
      totalStreamT: 0,
      totalRTMP: 0,
      totalMembers: 0,
      totalSocialN: 0,
      totalIncomingStream: 0
    }
  },
  computed: {
    currentMedias() {
      return []
    },
    currentMembers() {
      return []
    },
    totalMedias() {
      return (
        this.totalVideos +
        this.totalAudios +
        this.totalImg +
        this.totalVideoStream +
        this.totalAudioStream
      )
    }
  },
  mounted() {
    if (this.$refs.s_targets && this.$refs.s_targets.tableDefs) {
      const form = this.$refs.s_targets.tableDefs.form
      form.incomingStreamId[
        'field-input'
      ].dataUrl = `/IncomingStream?Filters=markToDelete==false`
      form.incomingStreamId['field-input'].optionId = 'id'
      form.incomingStreamId['field-input'].optionName = 'displayName'

      form.socialMediaAccountRtmpId[
        'field-input'
      ].dataUrl = `SocialMediaAccountForRtmp?Filters=createdBy==${this.$auth.user.userName}`
    }
  }
}
</script>
<i18n>
{
  "en": {
    "rankingLabel": "Ranking",
    "socialMediaNameLabel": "Social Media Account Name",
    "destinationAppLabel": "Destination Application",
    "hostLabel": "Host",
    "portLabel": "Port",
    "destinationStreamLabel": "Destination Stream",
    "placeholderSelect": "Select a {key}...",
    "useSSLLabel": "SSL",
    "propertiesLabel": "Properties",
    "rankingLabel": "Ranking",
    "sourceLabel": "Source",
    "enabledLabel": "Enabled",
    "iconLabel": "Icon",
    "phoneNumberLabel": "Phone Number",
    "userNameLabel": "User Name",
    "custom": "Custom"
  },
  "es": {
    "rankingLabel": "Ranking",
    "ownerIdLabel": "Propietario",
    "socialMediaNameLabel": "Nombre de la cuenta de RS",
    "destinationAppLabel": "Aplicación de Destino",
    "hostLabel": "Host",
    "portLabel": "Puerto",
    "destinationStreamLabel": "Clave de Transmisión",
    "placeholderSelect": "Seleccione una {key}...",
    "useSSLLabel": "SSL",
    "propertiesLabel": "Propiedades",
    "rankingLabel": "Ranking",
    "sourceLabel": "Fuente",
    "enabledLabel": "Activo",
    "iconLabel": "Ícono",
    "phoneNumberLabel": "Número de teléfono",
    "userNameLabel": "Nombre de usuario",
    "custom": "Personalizado"
  }
}
</i18n>
