<template>
  <div class="members-tab">
    <table-component
      header-icon="account-multiple"
      :locale="$i18n.locale"
      :title="tableDefs.title"
      :records="records"
      :headers="tableDefs.vtable.headers"
      :paginated="true"
      :pagination-simple="true"
      :per-page="5"
      :show-search-filter="true"
      :custom-headers="true"
      :is-loading="loading"
      :show-table-configurations="true"
      @open-column-filter="showFilterForm"
      @cleanFilters="cleanAllFilters"
    >
      <template #right-header-content>
        <b-tooltip
          type="is-primary"
          :label="$t('reloadButton')"
          :size="tableDefs.vbuttons.size"
          position="is-top"
        >
          <b-button
            :class="tableDefs.vbuttons.class"
            :rounded="tableDefs.vbuttons.roundedButtons"
            :outlined="tableDefs.vbuttons.outlinedButtons"
            icon-left="reload"
            type="is-primary is-light"
            @click="loadData"
          />
        </b-tooltip>
        <b-tooltip
          type="is-primary"
          :label="$t('filter')"
          size="is-small"
          class="filter-button"
        >
          <b-button
            class="table-buttons"
            :rounded="tableDefs.vbuttons.roundedButtons"
            :outlined="tableDefs.vbuttons.outlinedButtons"
            icon-left="filter"
            type="is-primary is-light"
            @click="showFilterForm"
          >
            <span v-show="filtersCount > 0" class="filter-badge">{{
              filtersCount
            }}</span>
          </b-button>
        </b-tooltip>
      </template>
    </table-component>
    <ctx />
  </div>
</template>

<script>
import {
  AdvancedFilterComponent,
  axiosToastErrorsMixin,
  ImageColumnComponent,
  TYPE_TEXT
} from 'premium-tesh-ui-lib'

import genericFiltersMixin from '~/mixins/genericFiltersMixin'
import tableContextMenuMixin from '~/mixins/tableContextMenuMixin'

export default {
  name: 'AdminsTab',
  mixins: [genericFiltersMixin, tableContextMenuMixin, axiosToastErrorsMixin],
  inject: ['permissions'],
  props: {
    isLoading: {
      type: Boolean,
      default: false
    },
    editionMode: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      records: [],
      reload: false,
      loading: false,
      tableDefs: {
        vtable: {
          draggable: false,
          headers: [
            {
              text: 'Avatar',
              value: 'avatar',
              align: 'left',
              sortable: false,
              render: {
                type: ImageColumnComponent,
                props: { basePath: null }
              },
              filter: {
                useFilter: false
              }
            },
            {
              text: this.$t('nameLabel'),
              value: 'fullName',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'fullName'
              }
            },
            {
              text: this.$t('userNameLabel'),
              value: 'userName',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'userName'
              }
            },
            {
              text: this.$t('email'),
              value: 'email',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'email'
              }
            }
          ]
        },
        vbtn: { create: { show: false } },
        vicon: {
          roundedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          edit: {
            show: false
          },
          delete: {
            show: false
          }
        },
        vbuttons: {
          roundedButtons: true,
          outlinedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          buttons: []
        },
        idName: 'email',
        rowName: 'fullName',
        title: this.$tc('member', 2),
        modalTitle: this.$tc('member', 2),
        headerIcon: 'account-multiple',
        form: {}
      },
      filterForm: {
        MembersFilter: {
          title: this.$tc('member', 2),
          icon: 'account-multiple',
          fields: {
            Name: {
              fieldType: TYPE_TEXT,
              label: this.$t('nameLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('nameLabel').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            Username: {
              fieldType: TYPE_TEXT,
              label: this.$t('userNameLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('userNameLabel').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            Email: {
              fieldType: TYPE_TEXT,
              label: this.$t('email'),
              placeholder: this.$t('placeholder', {
                key: this.$t('email').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            }
          }
        }
      },
      filters: '',
      filtersConstants: {
        Name: 'fullName',
        Username: 'userName',
        Email: 'email',
        CreatedDate: 'createdDate',
        ModifiedDate: 'modifiedDate',
        CreatedBy: 'createdBy',
        ModifiedBy: 'modifiedBy'
      },
      filtersCount: 0
    }
  },
  async fetch() {
    await this.loadData()
    this.$emit('items-available', this.records.length)
  },
  watch: {
    isLoading(newVal) {
      this.loading = newVal
    },
    filters(newVal) {
      this.loadData()
    }
  },
  methods: {
    showFilterForm(field) {
      const ffield = field && field.useFilter ? field : null
      this.assignColumnFilterForm(ffield)

      this.$buefy.modal.open({
        parent: this,
        component: AdvancedFilterComponent,
        props: {
          form: ffield ? ffield.filterForm : this.filterForm,
          isInModal: true,
          filterType: 'members',
          stickyInside: true,
          locale: this.$i18n.locale,
          cardTitle: this.$tc('member', 2),
          cardSubtitle: this.$t('filter'),
          enableAdvancedSearch: false,
          modalWidth: ffield ? 500 : 850,
          simpleMode: !!ffield,
          utc: true
        },
        events: {
          'filters-updated': this.updateFilters,
          'count-results': (q) => this.countResults(q, this.getBasePath),
          'filters-count': (v) => (this.filtersCount = v),
          'clear-filters': this.resetForm
        },
        hasModalCard: true,
        destroyOnHide: true,
        trapFocus: true
      })
    },
    cleanAllFilters() {
      this.reload = true
      this.filters = ''
      setTimeout(() => {
        this.reload = false
      }, 1000)
      this.filtersCount = 0
    },
    async loadData() {
      this.records = []
      this.loading = true
      await this.$axios
        .get(
          `/ContextedRole/allsystemuser${
            this.filters !== '' ? `?filters=${this.filters}` : ''
          }`
        )
        .then((response) => {
          response.data.results.forEach((user) => {
            if (
              user.permissions.includes('AccessAll') ||
              user.permissions.includes('SystemAdmin')
            )
              this.records.push(user)
          })
        })
        .catch(() => {
          this.$router.push('/')
        })
      this.loading = false
    },
    resetForm() {
      this.filters = ''
      this.searchText = ''
      this.loadData()
    }
  }
}
</script>
<i18n>
{
  "en": {
    "addCchannelUser": "User {key} added successfully"
  },
  "es": {
    "addCchannelUser": "Usuario {key} añadido satisfactoriamente"
  }
}
</i18n>
