<template>
  <div
    class="channel-media-tab"
    :style="$mq !== 'mobile' && $mq !== 'tablet' ? 'max-width: 75vw' : ''"
  >
    <publication-skeleton
      :active="loading"
      :publications-number="skeletonsNumber"
    />
    <server-table-component
      ref="table"
      :data-url="getBasePath"
      :locale="$i18n.locale"
      v-bind="tableDefs"
      :custom-headers="true"
      @cleanFilters="cleanAllFilters"
      @open-column-filter="showFilterForm"
      @available-records="(n) => $emit('items-available', n)"
      @container-contextmenu="
        (ev) => {
          if (ev) ev.preventDefault()
          rowInCtx = null
          ctxOpen = !ctxOpen
        }
      "
      @contextmenu="
        (ev, row) => {
          if (ev) ev.preventDefault()
          if (row.isOwner) showActions = true
          else showActions = false
          rowInCtx = row
          ctxOpen = !ctxOpen
        }
      "
    >
      <template #extra-header-buttons>
        <b-tooltip
          type="is-info"
          :label="$t('add', { element: '' })"
          size="is-small"
        >
          <b-button
            class="table-buttons"
            :rounded="true"
            :outlined="true"
            icon-left="plus"
            type="is-info is-light"
            @click="addMedia"
          />
        </b-tooltip>
      </template>
      <template #right-extra-header-content>
        <b-tooltip
          type="is-primary"
          :label="$t('filter')"
          size="is-small"
          class="filter-button"
        >
          <b-button
            class="table-buttons"
            :rounded="tableDefs.vbuttons.roundedButtons"
            :outlined="tableDefs.vbuttons.outlinedButtons"
            icon-left="filter"
            type="is-primary is-light"
            @click="showFilterForm"
          >
            <span v-show="filtersCount > 0" class="filter-badge">{{
              filtersCount
            }}</span>
          </b-button>
        </b-tooltip>
      </template>
      <template #extra-row-buttons="record">
        <div class="columns is-gapless is-mobile" style="display: inline-flex">
          <b-tooltip
            v-if="record.record.isOwner"
            type="is-primary"
            :label="$t('editButton')"
            size="is-small"
          >
            <b-button
              class="table-buttons"
              :rounded="true"
              :outlined="false"
              icon-left="pencil"
              type="is-primary"
              @click="updateMedia(record.record)"
            />
          </b-tooltip>
          <b-tooltip
            v-if="record.record.isOwner"
            type="is-danger"
            :label="$t('deleteButton')"
            size="is-small"
          >
            <b-button
              class="table-buttons"
              :rounded="true"
              :outlined="false"
              icon-left="delete"
              type="is-danger"
              @click="deleteMedia(record.record)"
            />
          </b-tooltip>
          <b-tooltip
            v-if="record.record.isOwner"
            type="is-info"
            :label="$t('share')"
            size="is-small"
          >
            <b-button
              class="table-buttons"
              :rounded="true"
              :outlined="false"
              icon-left="share"
              type="is-info"
              @click="shareMedia(record.record)"
            />
          </b-tooltip>
          <b-tooltip type="is-info" :label="$t('reprocess')" size="is-small">
            <b-button
              class="table-buttons"
              :rounded="true"
              :outlined="false"
              icon-left="file-sync-outline"
              type="is-info"
              @click="reprocess(record.record)"
            />
          </b-tooltip>
          <b-tooltip
            type="is-info"
            :label="$t('download')"
            size="is-small"
            position="is-left"
          >
            <b-button
              id="share"
              class="table-buttons"
              :rounded="true"
              :outlined="false"
              icon-left="download"
              type="is-info"
              @click="downloadMedia(record.record)"
            />
          </b-tooltip>
        </div>
      </template>
    </server-table-component>
    <ctx />
  </div>
</template>

<script>
import dayjs from 'dayjs'
import {
  AdvancedFilterComponent,
  axiosToastErrorsMixin,
  BitrateColumnComponent,
  ButtonColumnComponent,
  DurationColumnComponent,
  DynamicForm,
  FileSizeColumnComponent,
  LargeTextColumnComponent,
  MediaVisualizerColumnComponent,
  ObfuscateDetailComponent,
  TextAreaComponent,
  TextComponent,
  TYPE_TEXT
} from 'premium-tesh-ui-lib'

import multimediaMixin from '@/mixins/multimediaMixin'
import PublicationSkeleton from '~/components/Publications/PublicationSkeleton.vue'
import TabsComponent from '~/components/TabsComponent.vue'
import genericFiltersMixin from '~/mixins/genericFiltersMixin'
import tableContextMenuMixin from '~/mixins/tableContextMenuMixin'
import utilitiesMixin from '~/mixins/utilitiesMixin'
const duration = require('dayjs/plugin/duration')
dayjs.extend(duration)

export default {
  name: 'SystemMedia',
  components: {
    PublicationSkeleton
  },
  mixins: [
    multimediaMixin,
    genericFiltersMixin,
    axiosToastErrorsMixin,
    tableContextMenuMixin,
    utilitiesMixin
  ],
  inject: ['suscribeNotificationGoup'],
  meta: { requiresAdmin: true },
  props: {
    myfilters: {
      type: String,
      default: ''
    },
    iconHeader: {
      type: String,
      default: ''
    },
    titleLabel: {
      type: String,
      default: ''
    },
    skeletonsNumber: {
      type: Number,
      default: 6
    },
    editionMode: {
      type: Boolean,
      default: false
    },
    id: {
      type: String,
      default: ''
    },
    systemId: {
      type: String,
      default: null
    }
  },
  data() {
    return {
      showActions: false,
      tableDefs: {
        vtable: {
          draggable: false,
          headers: [
            {
              text: 'Id',
              value: 'id',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'id'
              }
            },
            {
              text: this.$t('visualizeMedia'),
              value: 'mediaSourcePath',
              align: 'left',
              sortable: false,
              custom: true,
              render: {
                type: MediaVisualizerColumnComponent,
                props: {
                  showDisplayButton: true,
                  fallbackMimeType: 'audio/ogg',
                  locale: this.$i18n.locale,
                  basePath: `${this.$store.state.APP_BASE_URL}${this.$store.state.API_DATA_PREFIX}`,
                  blankPageUrl: '/media-preview'
                },
                rendervalue: (v) => {
                  return v
                    ? {
                        title: v.mediaTitle,
                        media: v.mediaSourcePath,
                        preview:
                          v.thumbnail ||
                          this.getStaticMediaThumbnail(v.mediaType) ||
                          undefined
                      }
                    : ''
                }
              },
              filter: {
                useFilter: false
              }
            },
            {
              text: this.$t('nameLabel'),
              value: 'mediaTitle',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'mediaTitle'
              }
            },
            {
              text: this.$t('descriptionLabel'),
              value: 'mediaDescription',
              align: 'left',
              sortable: true,
              render: {
                type: LargeTextColumnComponent,
                props: {
                  showDisplayButton: true,
                  showCopyButton: false,
                  content: this.$t('descriptionLabel'),
                  locale: this.$i18n.locale,
                  textLenght: 30,
                  tooltipPosition: 'is-right'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'mediaDescription'
              }
            },
            {
              text: this.$t('sourceLabel'),
              value: 'mediaSourcePath',
              align: 'left',
              sortable: true,
              render: {
                type: LargeTextColumnComponent,
                props: {
                  showDisplayButton: true,
                  content: this.$t('sourceLabel'),
                  locale: this.$i18n.locale,
                  textLenght: 15,
                  tooltipPosition: 'is-right'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'mediaSourcePath'
              }
            },
            {
              text: this.$t('fileSize'),
              value: 'size',
              align: 'left',
              sortable: true,
              render: {
                type: FileSizeColumnComponent,
                props: {
                  content: this.$t('fileSize'),
                  locale: this.$i18n.locale,
                  textLenght: 15,
                  tooltipPosition: 'is-top'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'size'
              }
            },
            {
              text: this.$t('durationLabel'),
              value: 'allMetaDataDuration',
              align: 'left',
              sortable: true,
              custom: true,
              render: {
                type: DurationColumnComponent,
                props: {
                  content: this.$t('durationLabel'),
                  locale: this.$i18n.locale,
                  textLenght: 15,
                  tooltipPosition: 'is-top'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'allMetaDataDuration'
              }
            },
            {
              text: this.$t('resolutionLabel'),
              value: 'allMetaDataResolution',
              align: 'left',
              sortable: true,
              rendervalue: (value, row) => {
                if (row && row.allMetaData && row.allMetaData.resolution) {
                  return row.allMetaData.resolution
                }
                return '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'allMetaDataResolution'
              }
            },
            {
              text: this.$t('extension'),
              value: 'extension',
              align: 'left',
              sortable: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'extension'
              }
            },
            {
              text: this.$t('bitrate'),
              value: 'allMetaData',
              align: 'left',
              sortable: true,
              render: {
                type: BitrateColumnComponent,
                props: {
                  content: this.$t('bitrate'),
                  locale: this.$i18n.locale,
                  textLenght: 15,
                  tooltipPosition: 'is-top'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'allMetaDataBitrate'
              }
            }
          ]
        },
        vicon: {
          roundedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          edit: {
            show: false,
            name: 'pencil',
            type: 'is-primary',
            tooltip: {
              label: this.$t('editButton'),
              type: 'is-primary',
              position: 'is-top'
            }
          },
          delete: {
            show: false,
            name: 'delete',
            type: 'is-danger',
            tooltip: {
              label: this.$t('deleteButton'),
              type: 'is-danger',
              position: 'is-top'
            }
          }
        },
        vbtn: {
          create: {
            show: false
          }
        },
        vbuttons: {
          roundedButtons: true,
          outlinedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          buttons: []
        },
        title: this.titleLabel,
        modalTitle: this.$t('cardTitle'),
        editModalTitle: this.$t('cardTitle'),
        headerIcon: this.iconHeader,
        createUrl: `system/${this.systemId}/MediaContext1`,
        form: {},
        formEdit: {
          id: {
            type: null,
            'field-wrapper': { style: 'display: none' },
            'field-input': {}
          },
          title: {
            type: TextComponent,
            value: '',
            default: '',
            'field-wrapper': { class: 'is-12' },
            'field-input': {
              label: this.$t('nameLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('nameLabel').toLowerCase()
              }),
              isUserName: false
            }
          },
          description: {
            type: TextComponent,
            value: '',
            default: '',
            'field-wrapper': { class: 'is-12' },
            'field-input': {
              label: this.$t('descriptionLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('descriptionLabel').toLowerCase()
              }),
              isUserName: false,
              isRequired: false
            }
          }
        },
        modalWidth: 700
      },
      filterForm: {
        PropertiesFilter: {
          title: this.$t('propertiesLabel'),
          icon: 'newspaper-variant-outline',
          fields: {
            Id: {
              fieldType: TYPE_TEXT,
              label: 'Id',
              placeholder: this.$t('placeholder', {
                key: 'id'
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            }
          }
        }
      },
      filters: '',
      filtersConstants: {
        Id: 'id',
        MediaTitle: 'mediaTitle',
        MediaDescription: 'mediaDescription',
        Duration: 'allMetaDataDuration',
        Resolution: 'allMetaDataResolution',
        MediaSourcePath: 'mediaSourcePath',
        Bitrate: 'allMetaDataBitrate',
        Subtitles: 'subtitles',
        CreatedDate: 'createdDate',
        ModifiedDate: 'modifiedDate',
        Extension: 'extension',
        LocalPath: 'localPath',
        DisplayPath: 'displayPath',
        Category: 'category',
        Size: 'size',
        Thumbnail: 'thumbnail'
      },
      filtersCount: 0,
      detailsColumn: {
        text: this.$t('details'),
        value: '',
        align: 'left',
        sortable: false,
        custom: true,
        tdAttrs: this.addAttrs,
        render: {
          type: ButtonColumnComponent,
          props: {
            icon: 'monitor',
            tooltip: { label: this.$t('details'), type: 'is-white' }
          },
          events: {
            confirm: (v) => this.showOfuscatedCols(v)
          }
        },
        filter: {
          useFilter: false
        }
      },
      StreamedMediaForm: {
        id: {
          type: null,
          'field-wrapper': { style: 'display: none' },
          'field-input': {
            isRequired: false
          }
        },
        mediaTitle: {
          type: TextComponent,
          value: '',
          default: '',
          'field-wrapper': { class: 'is-12' },
          'field-input': {
            label: this.$t('nameLabel'),
            placeholder: this.$t('placeholder', {
              key: this.$t('nameLabel').toLowerCase()
            })
          }
        },
        mediaDescription: {
          type: TextAreaComponent,
          value: '',
          default: '',
          'field-wrapper': { class: 'is-12' },
          'field-input': {
            label: this.$t('descriptionLabel'),
            placeholder: this.$t('placeholder', {
              key: this.$t('descriptionLabel').toLowerCase()
            }),
            isRequired: false
          }
        },
        sourcePath: {
          type: TextComponent,
          value: '',
          default: '',
          'field-wrapper': { class: 'is-12' },
          'field-input': {
            label: this.$t('sourceLabel'),
            placeholder: this.$t('placeholder', {
              key: this.$t('sourceLabel').toLowerCase()
            })
          }
        },
        aspectRatio: {
          default: '1:1',
          type: null,
          'field-wrapper': { style: 'display: none' },
          'field-input': {
            isRequired: false
          }
        }
      },
      reload: false
    }
  },
  head() {
    return {
      title: this.$config.appName
    }
  },

  computed: {
    titleStack() {
      return ['Admin', 'Tables']
    },
    ctxOptions() {
      const opt = [
        { id: 'add', icon: 'plus', name: this.$t('addButton') },
        { id: 'edit', icon: 'pencil', name: this.$t('editButton') },
        { id: 'delete', icon: 'trash-can', name: this.$t('deleteButton') },
        { id: 'share', icon: 'share', name: this.$t('share') },
        {
          id: 'reprocess',
          icon: 'file-sync-outline',
          name: this.$t('reprocess')
        },
        {
          id: 'download',
          icon: 'download',
          name: this.$t('download')
        }
      ]
      return this.rowInCtx && this.showActions ? opt : opt.slice(0, 1)
    },
    getBasePath() {
      return this.reload
        ? ''
        : this.filters !== ''
        ? `/system/${this.systemId}/MediaContext1?filters=${this.myfilters},${this.filters}`
        : `/system/${this.systemId}/MediaContext1?filters=${this.myfilters}`
    },
    metaData() {
      return {}
    },
    allowedFileTypes() {
      return this.myfilters
        ? this.myfilters.includes('mediaType==0')
          ? ['audio/*']
          : this.myfilters.includes('mediaType==1')
          ? ['video/*']
          : ['image/*']
        : null
    },
    isStreamedContent() {
      return this.myfilters && this.myfilters.includes('streamType==0')
    }
  },
  created() {
    const addHeaders = this.isStreamedContent
      ? this.tableDefs.vtable.headers.slice(0, 5)
      : this.tableDefs.vtable.headers

    this.tableDefs.vtable.headers = [
      ...addHeaders,
      ...this.HeadersMedia.slice(1)
    ]

    this.tableDefs.vtable.headers.splice(
      this.tableDefs.vtable.headers.length - 5,
      0,
      this.detailsColumn
    )
    this.MediaForm.media.events = {
      'upload-success': (file) => this.onMediaUploadComplete(file)
    }
    this.tableDefs.form = Object.assign(this.MediaForm, {
      username: {
        type: null,
        'field-wrapper': { style: 'display: none' },
        default: this.$auth.user.userName
      }
    })

    if (this.id === 'videoStream' || this.id === 'audioStream') {
      this.tableDefs.vtable.headers[5].filter.useFilter = false
    } else {
      this.tableDefs.vtable.headers[10].filter.useFilter = false
    }

    const stream = this.myfilters.split(',')[1].split('==')[1]
    this.filterForm.MediaFilter.fields.StreamType.value = stream
    this.filterForm.MediaFilter.fields.StreamType['field-input'].disabled = true
  },
  methods: {
    downloadMedia(record) {
      const extension =
        record.extension === '' ? `.${record.codec}` : record.extension
      const fileId = record.mediaTitle.split(extension)[0]
      this.$axios
        .get(`${record.downloadPath}`, { responseType: 'blob' })
        .then((response) => {
          const FILE = window.URL.createObjectURL(new Blob([response.data]))
          const docUrl = document.createElement('a')
          docUrl.href = FILE
          docUrl.setAttribute('download', `${fileId}${extension}`)
          document.body.appendChild(docUrl)
          docUrl.click()
        })
    },
    addAttrs(row, column) {
      if (!row.mediaInfoId) {
        if (column.label === this.$t('details')) {
          return {
            style: { 'content-visibility': 'hidden' }
          }
        }
      }
      return null
    },
    resetForm() {
      this.filters = ''
    },
    showOfuscatedCols(row) {
      this.$axios
        .get(`/MediaInfo/${row.mediaInfoId}`)
        .then((record) => {
          this.$buefy.modal.open({
            parent: this,
            component: ObfuscateDetailComponent,
            props: {
              locale: this.$i18n.locale,
              title: row.title,
              originalDataDefs: {
                title: this.$t('details'),
                headerIcon: 'text-box-outline',
                headers:
                  row.mediaType === 0
                    ? this.AudioAndVideoHeaders
                    : row.mediaType === 1
                    ? this.ImageAndVideoHeaders.concat(
                        this.AudioAndVideoHeaders.slice(-1)
                      )
                    : this.ImageAndVideoHeaders,
                records: [record.data]
              }
            },
            hasModalCard: true,
            destroyOnHide: true,
            trapFocus: true
          })
        })
        .catch(() => {
          this.$buefy.dialog.alert({
            title: this.$t('details'),
            message: this.$t('emptyDetails'),
            type: 'is-danger',
            confirmText: this.$t('closeButton')
          })
        })
    },
    showFilterForm(field) {
      const ffield = field && field.useFilter ? field : null
      this.assignColumnFilterForm(ffield)

      this.$buefy.modal.open({
        parent: this,
        component: AdvancedFilterComponent,
        props: {
          form: ffield ? ffield.filterForm : this.filterForm,
          isInModal: true,
          filterType: 'audioStream',
          stickyInside: true,
          locale: this.$i18n.locale,
          cardTitle: this.$t('cardTitle'),
          cardSubtitle: this.$t('filter'),
          enableAdvancedSearch: false,
          modalWidth: ffield ? 500 : 850,
          simpleMode: !!ffield,
          utc: true
        },
        events: {
          'filters-updated': this.updateFilters,
          'count-results': (q) => this.countResults(q, this.getBasePath),
          'filters-count': (v) => (this.filtersCount = v)
        },
        hasModalCard: true,
        destroyOnHide: true,
        trapFocus: true
      })
    },
    shareMedia(media) {
      this.$buefy.modal.open({
        parent: this,
        component: TabsComponent,
        props: {
          cardTitle: this.$t('mediasLabel'),
          cardSubtitle: this.$t('share'),
          preventSubmit: false,
          isInModal: true,
          cardWidth: 800,
          action: 'share',
          media,
          tabs: [
            {
              id: 0,
              label: this.$tc('contentChannelLabel', 2)
            }
          ]
        },
        events: {
          'share-cChannel': (channelList) => {
            const channelsId = channelList
            this.$axios
              .post(
                `system/${this.systemId}/MediaContext1/ContentChannelsToMedia`,
                {
                  contentChannelId: channelsId,
                  mediaEntityId: media.mediaEntityId
                }
              )
              .then((response) => {
                this.reload = true
                setTimeout(() => {
                  this.reload = false
                }, 1000)
                this.$buefy.toast.open({
                  message: this.$t('shareSuccess'),
                  type: 'is-success'
                })
              })
              .catch((err) => {
                this.toastError(err)
              })
          }
        },
        hasModalCard: true,
        trapFocus: true,
        canCancel: ['escape', 'x']
      })
    },
    addMedia() {
      this.StreamedMediaForm.mediaTitle.value = null
      this.StreamedMediaForm.mediaDescription.value = null
      this.StreamedMediaForm.sourcePath.value = null

      if (this.id === 'video')
        this.MediaForm.media['field-input'].allowedFileTypes = [
          'video/*',
          '.mkv',
          '.mxf'
        ]

      this.MediaForm.media['field-input'].metaData = {
        contextedType: 'system',
        contextedId: this.systemId
      }

      this.$buefy.modal.open({
        parent: this,
        component: DynamicForm,
        props: {
          form: this.isStreamedContent
            ? this.StreamedMediaForm
            : this.MediaForm,
          cardTitle: this.titleLabel,
          cardSubtitle: this.$t('add', { element: null }),
          submitUrl: `system/${this.systemId}/MediaContext1`,
          preventSubmit: this.isStreamedContent,
          isInModal: true,
          cardWidth: 700,
          vbtn: {
            save: {
              icon: 'content-save',
              label: this.$t('saveButton'),
              props: {
                type: 'is-primary'
              },
              show: this.isStreamedContent
            }
          },
          locale: this.$i18n.locale,
          closeOnSubmit: false
        },
        events: {
          onSubmit: (values, parent) => {
            this.$axios
              .post(`system/${this.systemId}/MediaContext1`, {
                name: values.mediaTitle,
                description: values.mediaDescription,
                displayPath: values.sourcePath,
                mediaType: parseInt(
                  this.myfilters
                    .split(',')[0]
                    .split('mediaType')[1]
                    .split('==')[1]
                )
              })
              .then(() => {
                this.reload = true
                parent.close()
                this.$buefy.toast.open({
                  message: this.$t('createSuccess'),
                  type: 'is-success'
                })
                setTimeout(() => {
                  this.reload = false
                }, 1000)
              })
              .catch((err) => {
                this.toastError(err)
              })
          }
        },
        hasModalCard: true,
        trapFocus: true,
        canCancel: ['escape', 'x']
      })
    },
    onMediaUploadComplete(successful, failed) {
      if (successful) {
        // eslint-disable-next-line no-console
        console.log('systemmedia subscribe')
        // eslint-disable-next-line no-console
        console.log(successful)

        // Suscribe to media notifications
        this.suscribeNotificationGoup(successful.FileId)

        this.reload = true
        // this.$emit('close')
        this.$buefy.toast.open({
          message: this.$t('createSuccess'),
          type: 'is-success'
        })
        setTimeout(() => {
          this.reload = false
        }, 2000)
      }
    },
    deleteMedia(record) {
      this.$refs.table.$refs.cdialog.confirm({
        title: this.$t('cardTitle'),
        subtitle: this.$t('delete', { element: '' }),
        message: this.$t('confirmMssg'),
        type: 'is-danger',
        cancelText: this.$t('cancelButton'),
        confirmText: this.$t('deleteButton'),
        onConfirm: () => {
          this.$axios
            .delete(`system/${this.systemId}/MediaContext1/${record.id}`)
            .then(() => {
              this.reload = true
              this.$buefy.toast.open({
                message: this.$t('deleteSuccess'),
                type: 'is-success'
              })
              setTimeout(() => {
                this.reload = false
              }, 1000)
            })
            .catch((err) => {
              this.toastError(err)
            })
        }
      })
    },
    updateMedia(record) {
      this.tableDefs.formEdit.id.value = record.id
      this.tableDefs.formEdit.title.value = record.mediaTitle
      this.tableDefs.formEdit.description.value = record.mediaDescription

      this.$buefy.modal.open({
        parent: this,
        component: DynamicForm,
        props: {
          form: this.tableDefs.formEdit,
          cardTitle:
            record.mediaType === 1
              ? this.$tc('video', 2)
              : record.mediaType === 0
              ? this.$tc('audio', 2)
              : this.$tc('imageLabel', 2),
          cardSubtitle: this.$t('edit', { element: '' }),
          preventSubmit: true,
          isInModal: true,
          cardWidth: 700,
          locale: this.$i18n.locale,
          closeOnSubmit: false
        },
        events: {
          onSubmit: (values, parent) => {
            this.$axios
              .put(`system/${this.systemId}/MediaContext1`, {
                id: values.id,
                title: values.title,
                description: values.description
              })
              .then(() => {
                this.reload = true
                parent.close()
                this.$buefy.toast.open({
                  message: this.$t('editSuccess'),
                  type: 'is-success'
                })
                setTimeout(() => {
                  this.reload = false
                }, 1000)
              })
              .catch((err) => {
                this.toastError(err)
              })
          }
        },
        hasModalCard: true,
        trapFocus: true,
        canCancel: ['escape', 'x']
      })
    },
    handleCtxMenuClicked(option, record) {
      if (option && this.$refs.table) {
        if (option.id === 'add') this.addMedia(null)
        if (option.id === 'edit') this.updateMedia(record)
        else if (option.id === 'delete' && record) this.deleteMedia(record)
        else if (option.id === 'share' && record) this.shareMedia(record)
        else if (option.id === 'reprocess' && record) this.reprocess(record)
        else if (option.id === 'download' && record) this.downloadMedia(record)
      }
    },
    cleanAllFilters() {
      this.reload = true
      this.filters = ''
      setTimeout(() => {
        this.reload = false
      }, 1000)
      this.filtersCount = 0
    },
    reprocess(record) {
      this.$refs.table.$refs.cdialog.confirm({
        title: this.titleLabel,
        subtitle: this.$t('reprocess'),
        message: this.$t('confirmMssg'),
        type: 'is-success',
        cancelText: this.$t('cancelButton'),
        confirmText: this.$t('reprocess'),
        onConfirm: () => {
          this.$axios
            .post(`/MediaInfo/${record.mediaInfoId}`)
            .then((response) => {
              this.suscribeNotificationGoup(record.fileId)
              this.$buefy.toast.open({
                message: `${this.$t('reprocess')} OK`,
                type: 'is-success'
              })
              this.reload = true
              setTimeout(() => {
                this.reload = false
              }, 1000)
            })
            .catch((err) => {
              this.toastError(err)
            })
        }
      })
    }
  }
}
</script>
<i18n>
{
  "en": {
    "cardTitle": "System Medias",
    "placeholderSelect": "Select a {key}...",
    "editAudio": "Edit Media",
    "deleteAudio": "Delete Media",
    "userLabel": "User",
    "fileLabel": "file",
    "fileSize": "File Size",
    "pixelFormat": "Pixel Format",
    "details": "Details",
    "audioBitrate": "Audio Bitrate",
    "audioChannels": "Audio Channels",
    "audioCodec": "Audio Codec",
    "audioLanguage": "Audio Language",
    "audioSampleRate": "Audio Sample Rate",
    "bitrate": "Bitrate",
    "emptyDetails": "This media have no details to show",
    "reprocess": "Reprocess",
    "download": "Download"
  },
  "es": {
    "cardTitle": "Medias del sistema",
    "placeholderSelect": "Seleccione una {key}...",
    "editAudio": "Editar Medias",
    "deleteAudio": "Eliminar Medias",
    "userLabel": "Usuario",
    "fileLabel": "Archivo",
    "fileSize": "Tamaño del Archivo",
    "pixelFormat": "Formato de Píxeles",
    "details": "Detalles",
    "audioBitrate": "Tasa de Bits de Audio",
    "audioChannels": "Canales de Audio",
    "audioCodec": "Codec de Audio",
    "audioLanguage": "Lenguaje de Audio",
    "audioSampleRate": "Frecuencia de Muestreo de Audio",
    "bitrate": "Tasa de Bits",
    "emptyDetails": "Esta media no tiene detalles para mostrar",
    "reprocess": "Reprocesar",
    "download": "Descargar"
  }
}
</i18n>
