<template>
  <div style="height: 100%">
    <section class="section is-main-section channel-view backimg">
      <div class="columns is-multiline">
        <div class="column is-12">
          <p class="title is-text-white is-3 pt-2">
            {{ $tc('contentChannelLabel', 1) }}
          </p>
          <p class="subtitle has-text-light is-5">
            {{
              $t(editionMode ? 'edit' : 'request', {
                element: $tc('channelLabel')
              })
            }}
          </p>
        </div>
        <hr class="custom-white-bkg my-3" />
        <div
          class="column"
          :class="{
            'is-7 is-aligned-center': !isMobileOrTablet,
            'is-10': !editionMode
          }"
        >
          <p class="title is-text-white is-3">{{ $t('channelInfo') }}</p>
          <dynamic-form
            :locale="$i18n.locale"
            :submit-url="editionMode ? baseUrl : '/RequestContentChannel'"
            :edition-mode="editionMode"
            :is-in-modal="false"
            :form="Form"
            :clear-on-close="false"
            :vbtn="formBtns"
            class="ghost-card is-text-white"
            @form-saved="channelBasicInfoUpdate"
            @form-close="$router.go(-1)"
          />
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { DynamicForm } from 'premium-tesh-ui-lib'
import contentChannelMixin from '@/mixins/contentChannelMixin'
import utilitiesMixin from '~/mixins/utilitiesMixin'
import publicationMixin from '~/mixins/publicationMixin'

export default {
  name: 'ContentChannelEdition',
  mixins: [contentChannelMixin, utilitiesMixin, publicationMixin],
  components: { DynamicForm },
  middleware: 'guest',
  async asyncData({ params, $axios, app }) {
    const contentChannel = params.id
      ? app.store.getters.cChannelOnEdition ||
        (await $axios.get(`/ContentChannel/` + params.id).catch(() => {
          app.router.go(-1)
        }))
      : {}

    let permissions = []
    await $axios
      .get(`/contentchannel/${params.id}/ContextedRole/user`)
      .then((response) => {
        permissions = response.data.permissions
        if (
          !permissions.includes('DomainAdmin') ||
          (!permissions.includes('ContentChannelAdd') && !params.id)
        )
          app.router.push('/forbidden')
      })
      .catch(() => {
        app.router.go(-1)
      })
    return {
      contentChannel: contentChannel.data || contentChannel,
      permissions
    }
  },
  data() {
    return {
      contentChannel: {},
      isLoading: false,
      saveChanges: false,
      uppy: {}
    }
  },
  computed: {
    baseUrl() {
      return `/ContentChannel/${this.contentChannel.id}`
    },
    editionMode() {
      return (
        this.$route.params &&
        this.$route.params.id &&
        this.$route.params.id !== undefined &&
        this.$route.params.id !== null
      )
    }
  },
  beforeDestroy() {
    this.$store.commit('updateCChannelOnEdition', null)
  },
  created() {
    this.formBtns.save.show = false
    this.Form.logoPath.value = this.contentChannel.logoPath
    this.Form.presentationImagePath.value =
      this.contentChannel.presentationImagePath
    this.Form.name.value = this.contentChannel.name
    this.Form.description.value = this.contentChannel.description

    this.Form.presentationImagePath['field-input'].searchFromChannel = true
    this.Form.logoPath['field-input'].searchFromChannel = true
    this.Form.presentationImagePath['field-input'].contentChannelId =
      this.contentChannel.id
    this.Form.logoPath['field-input'].contentChannelId = this.contentChannel.id
    this.Form.presentationImagePath['field-input'].filtersDefs =
      this.PublicationForm.media['field-input'].filtersDefs
    this.Form.logoPath['field-input'].filtersDefs =
      this.PublicationForm.media['field-input'].filtersDefs
    this.Form.presentationImagePath['field-input'].filterResultsDefs =
      this.PublicationForm.media['field-input'].filterResultsDefs
    this.Form.logoPath['field-input'].filterResultsDefs =
      this.PublicationForm.media['field-input'].filterResultsDefs
  },
  methods: {
    channelBasicInfoUpdate(data) {
      this.$buefy.toast.open({
        message: this.$t(this.editionMode ? 'editSuccess' : 'requestSuccess'),
        type: 'is-success'
      })
      if (!this.editionMode) {
        this.$router.push('/contentChannel/mine')
      }
    }
  }
}
</script>
<i18n>
{
  "en": {
    "cardTitle": "Content Channel",
    "logoLabel": "Logo",
    "rankingLabel": "Ranking",
    "channelExclusiveBandwidthLabel": "Exclusive Bandwidth",
    "ownerIdLabel": "Owner",
    "subscribeNotify": "subscribe notification | subscribe notifications",
    "requestSuccess": "Your request was received successfully"
  },
  "es": {
    "cardTitle": "Canal de Contenido",
    "logoLabel": "Logo",
    "rankingLabel": "Ranking",
    "channelExclusiveBandwidthLabel": "Ancho de Banda Exclusivo",
    "ownerIdLabel": "Propietario",
    "subscribeNotify": "notificacion de suscripción | notificaciones de suscripción",
    "requestSuccess": "Su solicitud fue recibida exitosamente"
  }
}
</i18n>
