<template>
  <div>
    <section class="section is-main-section">
      <div class="columns is-mobile">
        <div class="column"></div>
        <div class="column is-9">
          <div class="box mb-6 terms">
            <h1 class="title has-text-centered">{{ $t('titleLabel') }}</h1>
            <p
              class="is-size-4 has-text-justified has-text-weight-semibold pb-2"
            >
              {{ $t('text1') }}
            </p>
            <p class="is-size-5 has-text-justified pb-2">{{ $t('text2') }}</p>
            <p class="is-size-5 has-text-justified pb-2">{{ $t('text3') }}</p>
            <p class="is-size-5 has-text-justified pb-2">{{ $t('text4') }}</p>
            <p
              class="is-size-4 has-text-justified has-text-weight-semibold pb-2"
            >
              {{ $t('text5') }}
            </p>
            <p class="is-size-5 has-text-justified pb-2">{{ $t('text6') }}</p>
            <p class="is-size-5 has-text-justified pb-2">{{ $t('text7') }}</p>
            <p class="is-size-5 has-text-justified pb-2">{{ $t('text7') }}</p>
            <p
              class="is-size-4 has-text-justified has-text-weight-semibold pb-2"
            >
              {{ $t('text8') }}
            </p>
            <p class="is-size-5 has-text-justified pb-2">{{ $t('text9') }}</p>
            <p
              class="is-size-4 has-text-justified has-text-weight-semibold pb-2"
            >
              {{ $t('text10') }}
            </p>
            <p class="is-size-5 has-text-justified pb-2">{{ $t('text11') }}</p>
            <p class="is-size-5 has-text-justified pb-2">{{ $t('text12') }}</p>
            <p class="is-size-5 has-text-justified pb-2">{{ $t('text13') }}</p>
            <p class="is-size-5 has-text-justified pb-2">{{ $t('text14') }}</p>
            <div class="card">
              <p class="is-size-5 has-text-justified py-2 px-5">
                {{ $t('text17') }}
              </p>
            </div>
            <p
              class="is-size-4 has-text-justified has-text-weight-semibold pb-2"
            >
              {{ $t('text15') }}
            </p>
            <p class="is-size-5 has-text-justified pb-2">{{ $t('text16') }}</p>
          </div>
        </div>
        <div class="column"></div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: 'PrivacyPolicy',
  data() {
    return {}
  },
  head() {
    return {
      title: this.$config.appName
    }
  },
  computed: {},
  created() {
    this.customizeHomeStyles()
  },
  beforeDestroy() {},
  methods: {
    customizeHomeStyles() {
      document.documentElement.classList.add('has-custom-scroll-right')
    }
  }
}
</script>
<i18n>
{
  "en": {
    "titleLabel": "Terms and Conditions",
    "text1": "Generales",
    "text2": "Los presentes Términos y Condiciones de Uso reglamentan el acceso y uso de los usuarios a teveo, gestionado por, y en representación del Instituto Cubano de Radio y Televisión, en lo adelante ICRT.",
    "text3": "El ICRT podrá actualizar, en cualquier momento que lo entienda pertinente, lo aquí dispuesto así como emitir las disposiciones o reglamentos que signifiquen, según el caso, sustituir, completar y/o modificar lo aquí instituido.",
    "text4": "El acceso y/o utilización de un usuario final o entidad proveedora de servicios tercerizados a cualquiera de los recursos y medios provistos por este servicio y sus aplicaciones asociadas implica la aceptación, sin reservas, de los presentes Términos y Condiciones de Uso.",
    "text5": "Condiciones de uso",
    "text6": "El usuario se compromete a utilizar el servicio únicamente con fines legítimos y de modo que no infrinja, restrinja o inhiba la utilización y disfrute de los contenidos y/o servicios, así como no utilizarlos para la realización de actividades contrarias a las disposiciones legales establecidas, la moral, las buenas costumbres o al orden público instituido.",
    "text7": "El usuario también se compromete a no acceder o intentar acceder a ninguno de los servicios utilizando mecanismos que puedan dañar o afectar la integridad del mismo, incluidos y no limitados a secuencias de comandos o rastreadores web. De igual modo se compromete a no involucrarse en ninguna actividad que interfiera, sobrecargue o interrumpa las funciones normales de los servidores y redes de datos que componen teveo o su infraestructura asociada.",
    "text8": "Disponibilidad",
    "text9": "El ICRT garantizará la disponibilidad y accesibilidad del servicio, de acuerdo a las condiciones normales de funcionamiento del mismo. No obstante, ante determinadas situaciones que impliquen la suspensión del acceso o utilización de teveo por parte de los usuarios finales o proveedores tercerizados de servicios asociados al ICRT, pudiendo ser las mismas atribuibles al ICRT o sus proveedores de infraestructura, podrán producirse interrupciones temporales en la prestación de parte o todos los servicios asociados a teveo.",
    "text10": "Propiedad intelectual y derecho de autor",
    "text11": "Los contenidos, información, marcas, logotipos, signos distintivos, lemas, nombres comerciales, modelos de utilidad, diseños industriales, texto, gráficos, dibujos, fotografías, videos, audiovisuales, audios, nombres de dominios, y obras protegidas por el derecho de autor, incluidos en teveo, sus aplicaciones y servicios asociados, constituyen propiedad del Instituto Cubano de Radio y Televisión, o de terceros que, por mandato legal o autorización expresa, han conferido al ICRT autorización de uso o de explotación de los mismos.",
    "text12": "No se permite la reproducción, modificación, derivación, venta, distribución, exhibición pública o cualquier otra utilización directa o indirecta con fines comerciales o de lucro de los materiales y contenidos aquí disponibles. Los usos antes descritos, pero realizados con carácter no comercial, serán autorizados única y exclusivamente por parte del ICRT a terceros siempre que respeten las normas y disposiciones legales y técnicas emitidas por el ICRT. Estas normas exigen, pero no se limitan, a la utilización por parte de distribuidores tercerizados de contenido, del reproductor oficial de teveo, para la inclusión del contenido del mismo en cualquier sistema, aplicación o plataforma que pretenda beneficiarse de la información, los contenidos o servicios provistos por teveo.",
    "text13": "Todo uso de la información, contenido y/o servicios provistos por teveo o cualquiera de sus aplicaciones o plataformas asociadas, con fines comerciales o lucrativos, requerirá de la previa y expresa autorización del ICRT y/o de los respectivos titulares, según sea el caso, de no ser así constituye una violación de las normas de derecho de autor, y el infractor estará sujeto a acciones legales iniciadas por el ICRT, o en su defecto un representante legal del titular de los derechos.",
    "text14": "Ninguna de las estipulaciones contenidas en estos Términos y Condiciones de Uso se interpretará como consentimiento implícito, licencia o derecho de uso para fines distintos a los aquí declarados.",
    "text15": "Modificación de los contenidos y servicios",
    "text16": "El ICRT (como parte interesada emisora de los contenidos y servicios y en representación legal de teveo) se reserva en exclusiva el derecho de modificar, alterar o limitar, en cualquier momento y sin previo aviso, la presentación, configuración, diseño y acceso a la información, los contenidos y servicios en cualquier modo asociados a teveo y su plataforma de servicios y aplicaciones. Así como de las imágenes, multimedias, audio y video, tanto bajo demanda como en flujo que en teveo se alojan, publican y/o emiten. El usuario final así como cualquier tercero beneficiario de esta información, contenidos y servicios, reconoce y acepta expresamente la autoría, y derecho de teveo en cualquier instante a modificar, interrumpir, desactivar y/o cancelar una parte o la totalidad de los contenidos y/o servicios disponibles, a discreción de teveo, especialmente en caso de incumplimiento de los presentes Términos y Condiciones de Uso. Estos Términos y Condiciones de Uso, así como las medidas legales que de ellos se desprenden, son de obligatorio cumplimiento por parte de los usuarios finales y de terceros que intervengan o se beneficien de los recursos, contenidos, información o servicios provistos por teveo. Los cuales aceptan y asumen la total y exclusiva autoridad del ICRT en representación legal de teveo sobre los medios, información y contenidos aquí descritos.",
    "text17": "La integración de la aplicación nativa para Android™ con Google Play está siendo gestionada por Carlos A. Carnero Delgado, carloscarnero@gmail.com. También, y en representación de teveo ante Google Play, tiene licencia para distribuir el contenido por medio de dicha aplicación, cu.teveo."
  },
  "es": {
    "titleLabel": "Términos y Condiciones",
    "text1": "Generales",
    "text2": "Los presentes Términos y Condiciones de Uso reglamentan el acceso y uso de los usuarios a teveo, gestionado por, y en representación del Instituto Cubano de Radio y Televisión, en lo adelante ICRT.",
    "text3": "El ICRT podrá actualizar, en cualquier momento que lo entienda pertinente, lo aquí dispuesto así como emitir las disposiciones o reglamentos que signifiquen, según el caso, sustituir, completar y/o modificar lo aquí instituido.",
    "text4": "El acceso y/o utilización de un usuario final o entidad proveedora de servicios tercerizados a cualquiera de los recursos y medios provistos por este servicio y sus aplicaciones asociadas implica la aceptación, sin reservas, de los presentes Términos y Condiciones de Uso.",
    "text5": "Condiciones de uso",
    "text6": "El usuario se compromete a utilizar el servicio únicamente con fines legítimos y de modo que no infrinja, restrinja o inhiba la utilización y disfrute de los contenidos y/o servicios, así como no utilizarlos para la realización de actividades contrarias a las disposiciones legales establecidas, la moral, las buenas costumbres o al orden público instituido.",
    "text7": "El usuario también se compromete a no acceder o intentar acceder a ninguno de los servicios utilizando mecanismos que puedan dañar o afectar la integridad del mismo, incluidos y no limitados a secuencias de comandos o rastreadores web. De igual modo se compromete a no involucrarse en ninguna actividad que interfiera, sobrecargue o interrumpa las funciones normales de los servidores y redes de datos que componen teveo o su infraestructura asociada.",
    "text8": "Disponibilidad",
    "text9": "El ICRT garantizará la disponibilidad y accesibilidad del servicio, de acuerdo a las condiciones normales de funcionamiento del mismo. No obstante, ante determinadas situaciones que impliquen la suspensión del acceso o utilización de teveo por parte de los usuarios finales o proveedores tercerizados de servicios asociados al ICRT, pudiendo ser las mismas atribuibles al ICRT o sus proveedores de infraestructura, podrán producirse interrupciones temporales en la prestación de parte o todos los servicios asociados a teveo.",
    "text10": "Propiedad intelectual y derecho de autor",
    "text11": "Los contenidos, información, marcas, logotipos, signos distintivos, lemas, nombres comerciales, modelos de utilidad, diseños industriales, texto, gráficos, dibujos, fotografías, videos, audiovisuales, audios, nombres de dominios, y obras protegidas por el derecho de autor, incluidos en teveo, sus aplicaciones y servicios asociados, constituyen propiedad del Instituto Cubano de Radio y Televisión, o de terceros que, por mandato legal o autorización expresa, han conferido al ICRT autorización de uso o de explotación de los mismos.",
    "text12": "No se permite la reproducción, modificación, derivación, venta, distribución, exhibición pública o cualquier otra utilización directa o indirecta con fines comerciales o de lucro de los materiales y contenidos aquí disponibles. Los usos antes descritos, pero realizados con carácter no comercial, serán autorizados única y exclusivamente por parte del ICRT a terceros siempre que respeten las normas y disposiciones legales y técnicas emitidas por el ICRT. Estas normas exigen, pero no se limitan, a la utilización por parte de distribuidores tercerizados de contenido, del reproductor oficial de teveo, para la inclusión del contenido del mismo en cualquier sistema, aplicación o plataforma que pretenda beneficiarse de la información, los contenidos o servicios provistos por teveo.",
    "text13": "Todo uso de la información, contenido y/o servicios provistos por teveo o cualquiera de sus aplicaciones o plataformas asociadas, con fines comerciales o lucrativos, requerirá de la previa y expresa autorización del ICRT y/o de los respectivos titulares, según sea el caso, de no ser así constituye una violación de las normas de derecho de autor, y el infractor estará sujeto a acciones legales iniciadas por el ICRT, o en su defecto un representante legal del titular de los derechos.",
    "text14": "Ninguna de las estipulaciones contenidas en estos Términos y Condiciones de Uso se interpretará como consentimiento implícito, licencia o derecho de uso para fines distintos a los aquí declarados.",
    "text15": "Modificación de los contenidos y servicios",
    "text16": "El ICRT (como parte interesada emisora de los contenidos y servicios y en representación legal de teveo) se reserva en exclusiva el derecho de modificar, alterar o limitar, en cualquier momento y sin previo aviso, la presentación, configuración, diseño y acceso a la información, los contenidos y servicios en cualquier modo asociados a teveo y su plataforma de servicios y aplicaciones. Así como de las imágenes, multimedias, audio y video, tanto bajo demanda como en flujo que en teveo se alojan, publican y/o emiten. El usuario final así como cualquier tercero beneficiario de esta información, contenidos y servicios, reconoce y acepta expresamente la autoría, y derecho de teveo en cualquier instante a modificar, interrumpir, desactivar y/o cancelar una parte o la totalidad de los contenidos y/o servicios disponibles, a discreción de teveo, especialmente en caso de incumplimiento de los presentes Términos y Condiciones de Uso. Estos Términos y Condiciones de Uso, así como las medidas legales que de ellos se desprenden, son de obligatorio cumplimiento por parte de los usuarios finales y de terceros que intervengan o se beneficien de los recursos, contenidos, información o servicios provistos por teveo. Los cuales aceptan y asumen la total y exclusiva autoridad del ICRT en representación legal de teveo sobre los medios, información y contenidos aquí descritos.",
    "text17": "La integración de la aplicación nativa para Android™ con Google Play está siendo gestionada por Carlos A. Carnero Delgado, carloscarnero@gmail.com. También, y en representación de teveo ante Google Play, tiene licencia para distribuir el contenido por medio de dicha aplicación, cu.teveo."
  }
}
</i18n>
