<template>
  <div>
    <section class="section is-main-section">
      <system-health-component
        :system-status-url="$store.getters.appHealthUrl"
        :locale="$i18n.locale"
      ></system-health-component>
    </section>
  </div>
</template>

<script>
export default {
  name: 'SystemHealth',
  meta: { requiresAdmin: true },
  data() {
    return {}
  },
  head() {
    return {
      title: this.$config.appName
    }
  }
}
</script>
