<template>
  <div class="categories-tab">
    <div v-if="!loading">
      <server-table-component
        ref="table"
        :data-url="getBasePath"
        :locale="$i18n.locale"
        v-bind="tableDefs"
        :custom-headers="true"
        @cleanFilters="cleanAllFilters"
        @available-records="(n) => $emit('items-available', n)"
        @open-column-filter="showFilterForm"
        @container-contextmenu="
          (ev) => {
            if (ev) ev.preventDefault()
            rowInCtx = null
            ctxOpen = !ctxOpen
          }
        "
        @contextmenu="
          (ev, row) => {
            if (ev) ev.preventDefault()
            rowInCtx = row
            ctxOpen = !ctxOpen
          }
        "
      >
        <template #right-extra-header-content>
          <b-tooltip
            type="is-primary"
            :label="$t('filter')"
            size="is-small"
            class="filter-button"
          >
            <b-button
              class="table-buttons"
              :rounded="tableDefs.vbuttons.roundedButtons"
              :outlined="tableDefs.vbuttons.outlinedButtons"
              icon-left="filter"
              type="is-primary is-light"
              @click="showFilterForm"
            >
              <span v-show="filtersCount > 0" class="filter-badge">{{
                filtersCount
              }}</span>
            </b-button>
          </b-tooltip>
          <ctx />
        </template>
      </server-table-component>
    </div>
    <b-modal v-model="publications">
      <publication
        :is-in-modal="true"
        :is-readonly="true"
        :category="category"
      />
    </b-modal>
  </div>
</template>

<script>
import {
  AdvancedFilterComponent,
  DateColumnComponent,
  LargeTextColumnComponent,
  TYPE_FULLDATETIME,
  TYPE_NUMBER,
  TYPE_TEXT,
  ContentButtonColumnComponent
} from 'premium-tesh-ui-lib'

import categoryMixin from '~/mixins/categoryMixin'
import tableContextMenuMixin from '~/mixins/tableContextMenuMixin'
import genericFiltersMixin from '~/mixins/genericFiltersMixin'
import Publication from '~/pages/publication/index.vue'

export default {
  name: 'CategoriesTab',
  components: { Publication },
  mixins: [categoryMixin, genericFiltersMixin, tableContextMenuMixin],
  inject: ['permissions'],
  props: {
    isLoading: {
      type: Boolean,
      default: false
    },
    editionMode: {
      type: Boolean,
      default: false
    },
    contentChannelId: {
      type: String,
      default: undefined
    }
  },
  data() {
    return {
      reload: false,
      publications: false,
      category: null,
      loading: false,
      tableDefs: {
        vtable: {
          draggable: false,
          headers: [
            {
              text: 'Id',
              value: 'id',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'id'
              }
            },
            {
              text: this.$t('nameLabel'),
              value: 'name',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: false
              }
            },
            {
              text: this.$t('descriptionLabel'),
              value: 'description',
              align: 'left',
              sortable: true,
              render: {
                type: LargeTextColumnComponent,
                props: {
                  showDisplayButton: true,
                  content: this.$t('descriptionLabel'),
                  locale: this.$i18n.locale,
                  textLenght: 30,
                  tooltipPosition: 'is-top'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'description'
              }
            },
            {
              text: this.$t('publicationsExistCount'),
              value: '',
              align: 'left',
              sortable: false,
              custom: true,
              cellClass: 'pr-5',
              render: {
                type: ContentButtonColumnComponent,
                props: {
                  content: 'publicationCount',
                  textLenght: 15,
                  button: {
                    isRounded: true,
                    icon: 'monitor',
                    type: 'is-white',
                    tooltip: {
                      label: this.$t('publicationsExistCount'),
                      type: 'is-white'
                    }
                  }
                },
                events: {
                  'button-clicked': (v) => this.publicationsOpen(v)
                }
              },
              filter: {
                useFilter: false
              }
            },
            {
              text: this.$t('createdBy'),
              value: 'createdBy',
              align: 'left',
              sortable: true,
              custom: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'createdBy'
              }
            },
            {
              text: this.$t('createDateTime'),
              value: 'createdDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'createdDate'
              }
            },
            {
              text: this.$t('modifiedBy'),
              value: 'modifiedBy',
              align: 'left',
              sortable: true,
              custom: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'modifiedBy'
              }
            },
            {
              text: this.$t('modifyDateTime'),
              value: 'modifiedDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'modifiedDate'
              }
            },
            {
              text: this.$t('actions'),
              value: '',
              fixed: true,
              sortable: false,
              cellClass: 'actions-column',
              action: true,
              filter: {
                useFilter: false
              }
            }
          ]
        },
        vbtn: {
          create: {
            show: true,
            type: 'is-info is-light',
            icon: 'plus',
            tooltip: this.$t('create', { element: '' }),
            tooltipType: 'is-info',
            props: {
              rounded: true,
              outlined: true,
              class: 'table-buttons'
            }
          }
        },
        vicon: {
          roundedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          edit: {
            show: this.hasCrudAccess,
            name: 'pencil',
            type: 'is-primary',
            tooltip: {
              label: this.$t('editButton'),
              type: 'is-primary',
              position: 'is-top'
            }
          },
          delete: {
            show: this.hasCrudAccess,
            name: 'delete',
            type: 'is-danger',
            tooltip: {
              label: this.$t('deleteButton'),
              type: 'is-danger',
              position: 'is-left'
            }
          }
        },
        vbuttons: {
          roundedButtons: true,
          outlinedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          buttons: []
        },
        title: this.$tc('category', 2),
        modalTitle: this.$tc('category', 2),
        headerIcon: 'tag-multiple-outline',
        form: {}
      },
      filterForm: {
        CategoryFilter: {
          title: this.$tc('category'),
          icon: 'tag',
          fields: {
            Id: {
              fieldType: TYPE_TEXT,
              label: 'Id',
              placeholder: this.$t('placeholder', {
                key: 'id'
              }),
              activeOperator: '=='
            },
            Name: {
              fieldType: TYPE_TEXT,
              label: this.$t('nameLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('nameLabel').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            Description: {
              fieldType: TYPE_TEXT,
              label: this.$t('descriptionLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('descriptionLabel').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            PublicationCount: {
              fieldType: TYPE_NUMBER,
              default: 0,
              label: this.$t('publicationsExistCount'),
              operators: ['==', '<', '>'],
              activeOperator: '=='
            }
          }
        },
        UsersFilter: {
          title: this.$t('users'),
          icon: 'account-group',
          form: {
            CreatedBy: {
              fieldType: TYPE_TEXT,
              label: this.$t('createdBy'),
              placeholder: this.$t('placeholder', {
                key: this.$t('createdBy').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            ModifiedBy: {
              fieldType: TYPE_TEXT,
              label: this.$t('modifiedBy'),
              placeholder: this.$t('placeholder', {
                key: this.$t('modifiedBy').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            }
          }
        },
        DatesFilter: {
          title: this.$tc('date', 2),
          icon: 'calendar',
          form: {
            CreatedDate: {
              fieldType: TYPE_FULLDATETIME,
              label: this.$t('createDateTime'),
              placeholder: this.$t('placeholder', {
                key: this.$t('createDateTime').toLowerCase()
              }),
              value: null
            },
            ModifiedDate: {
              fieldType: TYPE_FULLDATETIME,
              label: this.$t('modifyDateTime'),
              placeholder: this.$t('placeholder', {
                key: this.$t('modifyDateTime').toLowerCase()
              }),
              value: null
            }
          }
        }
      },
      filters: '',
      filtersConstants: {
        Id: 'id',
        Name: 'name',
        Description: 'description',
        PublicationCount: 'publicationCount',
        CreatedDate: 'createdDate',
        ModifiedDate: 'modifiedDate'
      },
      filtersCount: 0
    }
  },
  computed: {
    ctxOptions() {
      const opt = [
        { id: 'add', icon: 'plus', name: this.$t('addButton') },
        { id: 'edit', icon: 'pencil', name: this.$t('editButton') },
        { id: 'delete', icon: 'trash-can', name: this.$t('deleteButton') }
      ]

      if (!this.hasCrudAccess) {
        opt.splice(2, 1)
        opt.splice(1, 1)
      }
      return this.rowInCtx ? opt : opt.slice(0, 1)
    },
    getBasePath() {
      return this.reload
        ? ''
        : this.filters !== ''
        ? `contentChannel/${this.contentChannelId}/ContentChannelCategory?filters=${this.filters}`
        : `contentChannel/${this.contentChannelId}/ContentChannelCategory`
    }
  },
  watch: {
    isLoading(newVal) {
      this.loading = newVal
    }
  },
  created() {
    this.tableDefs.form = this.CategoryForm
    if (!this.hasCrudAccess) this.tableDefs.vbtn = { create: { show: false } }

    if (!this.ctxOptions.length > 0) this.tableDefs.vtable.headers.splice(-1, 1)
  },
  methods: {
    hasCrudAccess() {
      return (
        this.permissions.includes('DomainAdmin') ||
        this.permissions.includes('AccessAll') ||
        this.permissions.includes('ContentChannelCategory')
      )
    },
    showFilterForm(field) {
      const ffield = field && field.useFilter ? field : null
      this.assignColumnFilterForm(ffield)

      this.$buefy.modal.open({
        parent: this,
        component: AdvancedFilterComponent,
        props: {
          form: ffield ? ffield.filterForm : this.filterForm,
          isInModal: true,
          filterType: 'category',
          stickyInside: true,
          locale: this.$i18n.locale,
          cardTitle: this.$tc('category', 2),
          cardSubtitle: this.$t('filter'),
          enableAdvancedSearch: false,
          modalWidth: ffield ? 500 : 850,
          simpleMode: !!ffield,
          utc: true
        },
        events: {
          'filters-updated': this.updateFilters,
          'count-results': (q) => this.countResults(q, this.getBasePath),
          'filters-count': (v) => (this.filtersCount = v)
        },
        hasModalCard: true,
        destroyOnHide: true,
        trapFocus: true
      })
    },
    handleCtxMenuClicked(option, record) {
      if (option && this.$refs.table) {
        if (option.id === 'add') this.$refs.table.formOpen(null)
        else if (option.id === 'edit' && record)
          this.$refs.table.formOpen(record[this.$refs.table.idName])
        else if (option.id === 'delete' && record)
          this.$refs.table.deleteRecord(
            record[this.$refs.table.idName],
            record[this.$refs.table.rowName]
          )
      }
    },
    publicationsOpen(row) {
      this.publications = true
      this.category = row.id
    },
    cleanAllFilters() {
      this.reload = true
      this.filters = ''
      setTimeout(() => {
        this.reload = false
      }, 1000)
      this.filtersCount = 0
    }
  }
}
</script>
<i18n>
{
  "en": {
    "publicationsExistCount": "Associated publications"
  },
  "es": {
    "publicationsExistCount": "Publicaciones asociadas"
  }
}
</i18n>
