<template>
  <div class="is-channel-portait">
    <slot name="top-contents" />
    <!-- CChannel Logo and Title with actions -->
    <span class="logo-title mt-5 is-flex">
      <b-image
        :src="
          logoImgErr
            ? require('@/static/noimage.jpg')
            : contentChannel.logoPath === ''
            ? require('@/static/noimage.jpg')
            : parseServerURL(contentChannel.logoPath)
        "
        class="has-text-light"
        rounded
        :lazy="true"
        @error="logoImgErr = true"
      ></b-image>
      <span class="titles ml-3">
        <p
          class="title has-text-light is-3 pt-2"
          style="cursor: pointer; width: fit-content"
          @click="$router.push('/contentChannel/' + contentChannel.id)"
        >
          {{ contentChannel.name }}
        </p>
        <p
          v-if="
            (contentChannel.allowVisualizeSubscribe ||
              contentChannel.name.includes('Patrón')) &&
            contentChannel.subcribersCount > 1
          "
          class="subtitle has-text-light is-5"
        >
          {{ $tc('subscribers', { n: contentChannel.subcribersCount }) }}
        </p>
        <p
          v-else-if="
            contentChannel.allowVisualizeSubscribe ||
            contentChannel.name.includes('Patrón')
          "
          class="subtitle has-text-light is-5"
        >
          {{ $tc('subscribers', contentChannel.subcribersCount) }}
        </p>
      </span>
      <b-button
        v-if="showSuscribeButton && contentChannel.allowVisualizeSubscribe"
        style="align-self: center; cursor: pointer"
        position="is-right"
        type="is-primary"
        class="fadeIn animated slow"
        :class="{
          'suscribe is-disabled': suscribed
        }"
        :loading="sLoading"
        @click.stop="suscribed ? unsubscribe() : subscribeUser()"
        >{{
          suscribed
            ? $t('subscribed').toUpperCase()
            : $tc('subscribe').toUpperCase()
        }}</b-button
      >
      <!-- Extra contents for CChannel administration -->
      <slot name="admin-extra-content" />
    </span>
    <!-- CChannel toogle Description -->
    <p
      class="subtitle is-text-large has-text-light is-5 m-0 p-1"
      :class="{
        'overflow-ellipsis-2': !isTextExpanded
      }"
    >
      {{ contentChannel.description }}
    </p>
    <p
      v-show="descriptionIsOverflowing"
      class="show-more-toogle has-text-light is-5 p-1 is-clickable"
      @click="isTextExpanded = !isTextExpanded"
    >
      {{ $t(isTextExpanded ? 'showLess' : 'showMore').toUpperCase() }}
    </p>
    <hr class="custom-white-bkg my-3" />
    <custom-dialog ref="dialog" />
  </div>
</template>

<script>
import { axiosToastErrorsMixin } from 'premium-tesh-ui-lib'

import utilitiesMixin from '~/mixins/utilitiesMixin'

export default {
  name: 'CChannelPortait',
  mixins: [utilitiesMixin, axiosToastErrorsMixin],
  props: {
    showSuscribeButton: {
      type: Boolean,
      default: false
    },
    contentChannel: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      isTextExpanded: false,
      suscribed: false,
      logoImgErr: false,
      sLoading: false,
      textEl: null
    }
  },
  computed: {
    descriptionIsOverflowing() {
      return (
        this.textEl &&
        (this.textEl.clientWidth < this.textEl.scrollWidth ||
          this.textEl.clientHeight < this.textEl.scrollHeight)
      )
    }
  },
  watch: {
    user(newVal) {
      if (newVal && this.showSuscribeButton) this.amISuscribed()
    },
    $mq(newVal) {
      this.textEl = document.querySelector('p.subtitle.is-text-large')
    }
  },
  mounted() {
    if (this.showSuscribeButton) this.amISuscribed()
    this.textEl = document.querySelector('p.subtitle.is-text-large')
  },
  methods: {
    amISuscribed() {
      this.sLoading = true
      this.$axios
        .get(`contentchannel/${this.contentChannel.id}/AmISubscribed`)
        .then((response) => {
          this.suscribed = true
        })
        .catch(() => {
          this.suscribed = false
        })
        .finally(() => {
          this.sLoading = false
        })
    },
    subscribeUser() {
      this.sLoading = true
      this.$axios
        .post(`contentchannel/${this.contentChannel.id}/SubscribedUser`)
        .then((response) => {
          this.suscribed = true
        })
        .catch((err) => {
          this.toastError(err)
        })
        .finally(() => {
          this.sLoading = false
        })
    },
    unsubscribe() {
      this.$refs.dialog.confirm({
        type: 'is-danger',
        title: this.$t('suscription'),
        message: this.$t('confirmUnsuscribe', {
          key: this.contentChannel.name
        }),
        cancelText: this.$t('cancelButton'),
        confirmText: this.$t('acceptButton'),
        onCancel: () => {},
        onConfirm: () => {
          this.ssLoading = true
          this.$axios
            .delete(`contentchannel/${this.contentChannel.id}/SubscribedUser`)
            .then((response) => {
              this.$buefy.toast.open({
                message: this.$t('unsuscribeSuccess'),
                type: 'is-success'
              })
              this.suscribed = false
            })
            .catch((err) => {
              this.toastError(err)
            })
            .finally(() => {
              this.sLoading = false
            })
        }
      })
    }
  }
}
</script>
<i18n>
{
  "en": {
    "suscription": "Suscription",
    "subscribeNotify": "subscribe notification | subscribe notifications",
    "unsuscribeSuccess": "Subscription canceled",
    "suscribed": "Subscription completed",
    "confirmUnsuscribe": "Do you want to cancel your subscription for {key}?",
    "subscribers": "No suscribers yet | 1 suscriber | {n} suscribers",
    "showMore": "Show More",
    "showLess": "Show Less",
    "subscribed": "Subscribed"
  },
  "es": {
    "suscription": "Suscripción",
    "subscribeNotify": "notificación de suscripción | notificaciones de suscripción",
    "unsuscribeSuccess": "Suscripción cancelada",
    "suscribed": "Suscripción completada",
    "confirmUnsuscribe": "¿Desea anular su suscripción en {key}?",
    "subscribers": "Ningún suscriptor | 1 suscriptor | {n} suscriptores",
    "showMore": "Mostrar Más",
    "showLess": "Mostrar Menos",
    "subscribed": "Suscrito"
  }
}
</i18n>
