<template>
  <div
    class="channel-media-tab"
    :style="$mq !== 'mobile' && $mq !== 'tablet' ? 'max-width: 75vw' : ''"
  >
    <publication-skeleton
      :active="loading"
      :publications-number="skeletonsNumber"
    />
    <div v-if="!editionMode && !loading" class="channel-media-tab-content">
      <infinite-loading-container
        :component="Item"
        :wrapper="{ class: 'columns is-flex is-multiline m-3' }"
        :to-load-size="itemsToLoad"
        :data-url="url"
        :items="items"
        class="has-custom-scroll"
        :max-height="maxHeight"
        :max-width="maxWidth"
        @items-available="(n) => $emit('items-available', n)"
      >
      </infinite-loading-container>
    </div>
    <div v-else-if="!loading">
      <server-table-component
        ref="table"
        :data-url="getBasePath"
        :locale="$i18n.locale"
        v-bind="tableDefs"
        :custom-headers="true"
        @cleanFilters="cleanAllFilters"
        @available-records="(n) => $emit('items-available', n)"
        @open-column-filter="showFilterForm"
        @container-contextmenu="
          (ev) => {
            if (ev) ev.preventDefault()
            rowInCtx = null
            ctxOpen = !ctxOpen
          }
        "
        @contextmenu="
          (ev, row) => {
            if (ev) ev.preventDefault()
            if (row.isOwner) showActions = true
            else showActions = false
            rowInCtx = row
            ctxOpen = !ctxOpen
          }
        "
      >
        <template #extra-header-buttons>
          <b-tooltip
            v-if="hasCrudAccess"
            type="is-info"
            :label="$t('addButton')"
            size="is-small"
          >
            <b-button
              class="table-buttons"
              :rounded="tableDefs.vbuttons.roundedButtons"
              :outlined="tableDefs.vbuttons.outlinedButtons"
              icon-left="plus"
              type="is-info is-light"
              @click="showAddForm"
            />
          </b-tooltip>
        </template>
        <template #right-extra-header-content>
          <b-tooltip
            type="is-primary"
            :label="$t('filter')"
            size="is-small"
            class="filter-button"
          >
            <b-button
              class="table-buttons"
              :rounded="tableDefs.vbuttons.roundedButtons"
              :outlined="tableDefs.vbuttons.outlinedButtons"
              icon-left="filter"
              type="is-primary is-light"
              @click="showFilterForm"
            >
              <span v-show="filtersCount > 0" class="filter-badge">{{
                filtersCount
              }}</span>
            </b-button>
          </b-tooltip>
        </template>
        <template #extra-row-buttons="record">
          <b-tooltip
            v-if="isStreamedContent && hasCrudAccess && record.record.isOwner"
            type="is-primary"
            :label="$t('editButton')"
            size="is-small"
          >
            <b-button
              class="table-buttons"
              :rounded="true"
              :outlined="false"
              icon-left="pencil"
              type="is-primary"
              @click="editMedia(record.record)"
            />
          </b-tooltip>
          <b-tooltip
            v-else-if="storedAccess && record.record.isOwner"
            type="is-primary"
            :label="$t('editButton')"
            size="is-small"
          >
            <b-button
              class="table-buttons"
              :rounded="true"
              :outlined="false"
              icon-left="pencil"
              type="is-primary"
              @click="editMedia(record.record)"
            />
          </b-tooltip>
          <b-tooltip
            v-if="isStreamedContent && hasCrudAccess && record.record.isOwner"
            type="is-danger"
            :label="$t('deleteButton')"
            size="is-small"
          >
            <b-button
              class="table-buttons"
              :rounded="true"
              :outlined="false"
              icon-left="delete"
              type="is-danger"
              @click="deleteCChannelMedia(record.record.id)"
            />
          </b-tooltip>
          <b-tooltip
            v-else-if="storedAccess && record.record.isOwner"
            type="is-danger"
            :label="$t('deleteButton')"
            size="is-small"
          >
            <b-button
              class="table-buttons"
              :rounded="true"
              :outlined="false"
              icon-left="delete"
              type="is-danger"
              @click="deleteCChannelMedia(record.record.id)"
            />
          </b-tooltip>
          <b-tooltip
            v-if="hasCrudAccess"
            type="is-white"
            :label="$t('associationLabel')"
            size="is-small"
          >
            <b-button
              class="table-buttons"
              :rounded="true"
              :outlined="false"
              icon-left="vector-combine"
              type="is-white"
              @click="$emit('associate', record.record)"
            />
          </b-tooltip>
          <!-- <b-tooltip
            v-if="isStreamedContent && hasCrudAccess && !record.record.isOwner"
            type="is-info"
            :label="$t('shareOffLabel')"
            size="is-small"
          >
            <b-button
              class="table-buttons"
              :rounded="true"
              :outlined="false"
              icon-left="share-off"
              type="is-info"
              @click="deleteCChannelMedia(record.record.id)"
            />
          </b-tooltip>
          <b-tooltip
            v-else-if="storedAccess && !record.record.isOwner"
            type="is-info"
            :label="$t('shareOffLabel')"
            size="is-small"
          >
            <b-button
              class="table-buttons"
              :rounded="true"
              :outlined="false"
              icon-left="share-off"
              type="is-info"
              @click="deleteCChannelMedia(record.record.id)"
            />
          </b-tooltip> -->
          <b-tooltip
            v-if="hasCrudAccess"
            type="is-info"
            :label="$t('share')"
            size="is-small"
          >
            <b-button
              id="share"
              class="table-buttons"
              :rounded="true"
              :outlined="false"
              icon-left="share"
              type="is-info"
              @click="shareMediaToChannels(record.record)"
            />
          </b-tooltip>
          <b-tooltip
            v-if="!isStreamedContent && hasCrudAccess"
            type="is-info"
            :label="$t('reprocess')"
            size="is-small"
          >
            <b-button
              class="table-buttons"
              :rounded="true"
              :outlined="false"
              icon-left="file-sync-outline"
              type="is-info"
              @click="reprocess(record.record)"
            />
          </b-tooltip>
          <b-tooltip
            v-if="!isStreamedContent && hasCrudAccess"
            type="is-info"
            :label="$t('download')"
            size="is-small"
            position="is-left"
          >
            <b-button
              class="table-buttons"
              :rounded="true"
              :outlined="false"
              icon-left="download"
              type="is-info"
              @click="downloadMedia(record.record)"
            />
          </b-tooltip>
        </template>
      </server-table-component>
      <ctx />
    </div>
  </div>
</template>

<script>
import dayjs from 'dayjs'

import {
  axiosToastErrorsMixin,
  BoolToTextColumnComponent,
  ButtonColumnComponent,
  DateColumnComponent,
  DynamicForm,
  LargeTextColumnComponent,
  MediaVisualizerColumnComponent,
  ObfuscateDetailComponent,
  FileSizeColumnComponent,
  DurationColumnComponent,
  BitrateColumnComponent,
  TextAreaComponent,
  TextComponent
} from 'premium-tesh-ui-lib'

import CardPublication from '~/components/Cards/CardPublication.vue'
import InfiniteLoadingContainer from '~/components/InfiniteLoadingContainer.vue'
import PublicationSkeleton from '~/components/Publications/PublicationSkeleton.vue'
// import DurationColumnComponent from '~/components/DurationColumnComponent.vue'
// import BitrateColumnComponent from '~/components/BitrateColumnComponent.vue'
import genericFiltersMixin from '~/mixins/genericFiltersMixin'
import multimediaMixin from '~/mixins/multimediaMixin'
import tableContextMenuMixin from '~/mixins/tableContextMenuMixin'
const duration = require('dayjs/plugin/duration')
dayjs.extend(duration)

export default {
  name: 'CChannelMediaTab',
  components: {
    PublicationSkeleton,
    InfiniteLoadingContainer
  },
  mixins: [
    multimediaMixin,
    genericFiltersMixin,
    axiosToastErrorsMixin,
    tableContextMenuMixin
  ],
  inject: ['permissions', 'suscribeNotificationGoup'],
  props: {
    items: {
      type: Array,
      default: () => []
    },
    itemsToLoad: {
      type: Number,
      default: 10
    },
    showTitlesOnSide: {
      type: Boolean,
      default: false
    },
    isLoading: {
      type: Boolean,
      default: false
    },
    customClass: {
      type: [String, Object],
      default: ''
    },
    skeletonsNumber: {
      type: Number,
      default: 6
    },
    editionMode: {
      type: Boolean,
      default: false
    },
    maxHeight: {
      type: String,
      default: undefined
    },
    maxWidth: {
      type: String,
      default: undefined
    },
    url: {
      type: String,
      default: undefined
    },
    contentChannelId: {
      type: String,
      default: undefined
    },
    myfilters: {
      type: String,
      default: ''
    },
    titleLabel: {
      type: String,
      default: ''
    },
    iconHeader: {
      type: String,
      default: ''
    },
    id: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      showActions: false,
      loading: false,
      reload: false,
      Item: {
        type: CardPublication,
        props: {
          customClass: this.customClass,
          hasItemActions: this.editionMode && this.$auth.loggedIn,
          showTitlesOnSide: this.showTitlesOnSide,
          itemPropNames: {
            image: 'presentationImagePath',
            subtitle: 'description'
          },
          class: 'mb-3'
        },
        events: {
          edit: (item) => this.$emit('addOrEdit', item),
          delete: (item, index) => this.$emit('delete', item, index)
        }
      },
      tableDefs: {
        vtable: {
          draggable: false,
          headers: [
            {
              text: 'Id',
              value: 'id',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'id'
              }
            },
            {
              text: this.$t('visualizeMedia'),
              value: 'mediaSourcePath',
              align: 'left',
              sortable: false,
              custom: true,
              render: {
                type: MediaVisualizerColumnComponent,
                props: {
                  showDisplayButton: true,
                  fallbackMimeType: 'audio/ogg',
                  locale: this.$i18n.locale,
                  basePath: `${this.$store.state.APP_BASE_URL}${this.$store.state.API_DATA_PREFIX}`,
                  blankPageUrl: '/media-preview'
                },
                rendervalue: (v) => {
                  return v
                    ? {
                        title: v.mediaTitle,
                        media: v.mediaSourcePath,
                        preview:
                          v.thumbnail ||
                          this.getStaticMediaThumbnail(v.mediaType) ||
                          undefined
                      }
                    : ''
                }
              },
              filter: {
                useFilter: false
              }
            },
            {
              text: this.$t('tittleLabel'),
              value: 'mediaTitle',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'mediaTitle'
              }
            },
            {
              text: this.$t('descriptionLabel'),
              value: 'mediaDescription',
              align: 'left',
              sortable: true,
              render: {
                type: LargeTextColumnComponent,
                props: {
                  showDisplayButton: true,
                  content: this.$t('descriptionLabel'),
                  locale: this.$i18n.locale,
                  textLenght: 30,
                  tooltipPosition: 'is-top'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'mediaDescription'
              }
            },
            {
              text: this.$t('sourceLabel'),
              value: 'mediaSourcePath',
              align: 'left',
              sortable: true,
              render: {
                type: LargeTextColumnComponent,
                props: {
                  showDisplayButton: true,
                  content: this.$t('sourceLabel'),
                  locale: this.$i18n.locale,
                  textLenght: 15,
                  tooltipPosition: 'is-top'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'mediaSourcePath'
              }
            },
            {
              text: this.$t('typeMediaLabel'),
              value: 'mediaType',
              align: 'left',
              sortable: true,
              rendervalue: (value) => {
                return value === 1
                  ? this.$tc('video', 1)
                  : value === 2
                  ? this.$tc('imageLabel', 1)
                  : this.$tc('audio', 1)
              },
              filter: {
                useFilter: false
              }
            },
            {
              text: this.$t('typeStreamLabel'),
              value: 'streamType',
              align: 'left',
              sortable: true,
              rendervalue: (value) => {
                return value === 1 ? this.$t('stored') : this.$t('streamed')
              },
              filter: {
                useFilter: false
              }
            },
            {
              text: this.$t('createdBy'),
              value: 'mediaEntityCreatedBy',
              align: 'left',
              sortable: true,
              custom: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'mediaEntityCreatedBy'
              }
            },
            {
              text: this.$t('createDateTime'),
              value: 'mediaEntityCreatedDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'mediaEntityCreatedDate'
              }
            },
            {
              text: this.$t('modifiedBy'),
              value: 'mediaEntityModifiedBy',
              align: 'left',
              sortable: true,
              custom: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'mediaEntityModifiedBy'
              }
            },
            {
              text: this.$t('modifyDateTime'),
              value: 'mediaEntityModifiedDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'mediaEntityModifiedDate'
              }
            },
            {
              text: this.$t('actions'),
              value: '',
              fixed: true,
              sortable: false,
              cellClass: 'actions-column',
              action: true,
              filter: {
                useFilter: false
              }
            }
          ]
        },
        vbtn: {
          create: {
            show: false
          }
        },
        vicon: {
          roundedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          edit: {
            show: false
          },
          delete: {
            show: false
          }
        },
        vbuttons: {
          roundedButtons: true,
          outlinedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          buttons: []
        },
        title: this.titleLabel,
        modalWidth: 600,
        headerIcon: this.iconHeader,
        form: {},
        deleteUrl: `contentchannel/${this.contentChannelId}/MediaContext1`
      },
      StreamedMediaForm: {
        id: {
          type: null,
          'field-wrapper': { style: 'display: none' },
          'field-input': {
            isRequired: false
          }
        },
        mediaTitle: {
          type: TextComponent,
          value: '',
          default: '',
          'field-wrapper': { class: 'is-12' },
          'field-input': {
            label: this.$t('nameLabel'),
            placeholder: this.$t('placeholder', {
              key: this.$t('nameLabel').toLowerCase()
            })
          }
        },
        mediaDescription: {
          type: TextAreaComponent,
          value: '',
          default: '',
          'field-wrapper': { class: 'is-12' },
          'field-input': {
            label: this.$t('descriptionLabel'),
            placeholder: this.$t('placeholder', {
              key: this.$t('descriptionLabel').toLowerCase()
            }),
            isRequired: false
          }
        },
        sourcePath: {
          type: TextComponent,
          value: '',
          default: '',
          'field-wrapper': { class: 'is-12' },
          'field-input': {
            label: this.$t('sourceLabel'),
            placeholder: this.$t('placeholder', {
              key: this.$t('sourceLabel').toLowerCase()
            })
          }
        },
        aspectRatio: {
          default: '1:1',
          type: null,
          'field-wrapper': { style: 'display: none' },
          'field-input': {
            isRequired: false
          }
        }
      },
      StreamedMediaDetailsHeaders: [
        {
          text: 'Id',
          value: 'id',
          align: 'left',
          sortable: false
        },
        {
          text: this.$t('titleLabel'),
          value: 'title',
          align: 'left',
          sortable: true
        },
        {
          text: this.$t('descriptionLabel'),
          value: 'description',
          align: 'left',
          sortable: true,
          render: {
            type: LargeTextColumnComponent,
            props: {
              showDisplayButton: true,
              content: this.$t('descriptionLabel'),
              locale: this.$i18n.locale,
              textLenght: 30
            }
          }
        },
        {
          text: this.$t('isActiveLabel'),
          value: 'isActive',
          align: 'left',
          sortable: true,
          render: {
            type: BoolToTextColumnComponent,
            props: {
              trueText: this.$t('trueText'),
              falseText: this.$t('falseText')
            }
          }
        },
        {
          text: this.$t('sourceLabel'),
          value: 'sourcePath',
          align: 'left',
          sortable: true,
          render: {
            type: LargeTextColumnComponent,
            props: {
              showDisplayButton: true,
              showCopyButton: true,
              content: this.$t('sourceLabel'),
              locale: this.$i18n.locale,
              textLenght: 30,
              tooltipPosition: 'is-top'
            }
          }
        }
      ],
      StoredMediaForm: {
        id: {
          type: null
        },
        title: {
          type: TextComponent,
          default: '',
          'field-wrapper': { class: 'is-12' },
          'field-input': {
            label: this.$t('tittleLabel'),
            placeholder: this.$t('placeholder', {
              key: this.$t('tittleLabel').toLowerCase()
            })
          }
        },
        description: {
          type: TextAreaComponent,
          default: '',
          'field-wrapper': { class: 'is-12' },
          'field-input': {
            label: this.$t('descriptionLabel'),
            placeholder: this.$t('placeholder', {
              key: this.$t('descriptionLabel').toLowerCase()
            }),
            isRequired: false
          }
        }
      },
      detailsColumn: {
        text: this.$t('details'),
        value: '',
        align: 'left',
        sortable: false,
        custom: true,
        render: {
          type: ButtonColumnComponent,
          props: {
            icon: 'monitor',
            tooltip: { label: this.$t('details'), type: 'is-white' },
            content: 'streamTypeStr'
          },
          events: {
            confirm: (v) => this.showOfuscatedData(v)
          }
        },
        filter: {
          useFilter: false
        }
      },
      size: {
        text: this.$t('fileSize'),
        value: 'size',
        align: 'left',
        sortable: true,
        render: {
          type: FileSizeColumnComponent,
          props: {
            content: this.$t('fileSize'),
            locale: this.$i18n.locale,
            textLenght: 15,
            tooltipPosition: 'is-top'
          }
        },
        filter: {
          useFilter: true,
          isActive: false,
          field: 'size'
        }
      },
      duration: {
        text: this.$t('durationLabel'),
        value: 'allMetaDataDuration',
        align: 'left',
        sortable: true,
        custom: true,
        render: {
          type: DurationColumnComponent,
          props: {
            content: this.$t('durationLabel'),
            locale: this.$i18n.locale,
            textLenght: 15,
            tooltipPosition: 'is-top'
          }
        },
        // rendervalue: (value, row) => {
        //   if (row && row.allMetaData && row.allMetaData.duration) {
        //     const time = dayjs.duration(row.allMetaData.duration)
        //     return time.format('HH:mm:ss')
        //   }
        //   return '---'
        // },
        filter: {
          useFilter: true,
          isActive: false,
          field: 'duration'
        }
      },
      resolution: {
        text: this.$t('resolutionLabel'),
        value: 'allMetaDataResolution',
        align: 'left',
        sortable: true,
        rendervalue: (value, row) => {
          if (row && row.allMetaData && row.allMetaData.resolution) {
            return row.allMetaData.resolution
          }
          return '---'
        },
        filter: {
          useFilter: true,
          isActive: false,
          field: 'allMetaDataResolution'
        }
      },
      extension: {
        text: this.$t('extension'),
        value: 'extension',
        align: 'left',
        sortable: true,
        rendervalue: (value) => {
          return value || '---'
        },
        filter: {
          useFilter: true,
          isActive: false,
          field: 'extension'
        }
      },
      bitrate: {
        text: this.$t('bitrate'),
        value: 'allMetaData',
        align: 'left',
        sortable: true,
        render: {
          type: BitrateColumnComponent,
          props: {
            content: this.$t('bitrate'),
            locale: this.$i18n.locale,
            textLenght: 15,
            tooltipPosition: 'is-top'
          }
        },
        // rendervalue: (value, row) => {
        //   if (row && row.allMetaData && row.allMetaData.format.bitRate) {
        //     return row.allMetaData.format.bitRate
        //   }
        //   return '---'
        // },
        filter: {
          useFilter: true,
          isActive: false,
          field: 'allMetaDataBitrate'
        }
      },
      filtersConstants: {
        Id: 'id',
        MediaTitle: 'mediaTitle',
        MediaDescription: 'mediaDescription',
        MediaSourcePath: 'mediaSourcePath',
        CreatedBy: 'mediaEntityCreatedBy',
        CreatedDate: 'mediaEntityCreatedDate',
        ModifiedBy: 'mediaEntityModifiedBy',
        ModifiedDate: 'mediaEntityModifiedDate',
        Size: 'size',
        Duration: 'duration',
        Resolution: 'resolution',
        Extension: 'extension',
        Bitrate: 'allMetaDataBitrate'
      },
      vbtn: {
        close: {
          icon: 'close',
          label: this.$t('closeButton'),
          props: {
            outlined: true
          },
          show: true
        },
        save: {
          icon: 'content-save',
          label: this.$t('saveButton'),
          props: {
            type: 'is-primary',
            outlined: false
          },
          show: true
        }
      }
    }
  },
  computed: {
    storedAccess() {
      return (
        this.permissions.includes('DomainAdmin') ||
        this.permissions.includes('AccessAll') ||
        this.permissions.includes('ContentChannelMedia') ||
        this.permissions.includes('AudioStored') ||
        this.permissions.includes('ImageStored') ||
        this.permissions.includes('VideoStored')
      )
    },
    hasCrudAccess() {
      return (
        this.permissions.includes('DomainAdmin') ||
        this.permissions.includes('AccessAll') ||
        this.permissions.includes('ContentChannelMedia')
      )
    },

    ctxOptions() {
      const opt = [
        { id: 'add', icon: 'plus', name: this.$t('addButton') },
        { id: 'edit', icon: 'pencil', name: this.$t('editButton') },
        { id: 'delete', icon: 'trash-can', name: this.$t('deleteButton') },
        {
          id: 'associate',
          icon: 'vector-combine',
          name: this.$t('associationLabel')
        },
        {
          id: 'share',
          icon: 'share',
          name: this.$t('share')
        },
        {
          id: 'reprocess',
          icon: 'file-sync-outline',
          name: this.$t('reprocess')
        }
      ]
      if (
        !this.permissions.includes('DomainAdmin') &&
        !this.permissions.includes('ContentChannelMedia')
      ) {
        opt.splice(4, 1)
        opt.splice(3, 1)
        opt.splice(2, 1)
        opt.splice(1, 1)
        opt.splice(0, 1)
      }

      if (!this.showActions) {
        opt.splice(4, 1)
        opt.splice(2, 1)
        opt.splice(1, 1)
        opt.splice(0, 1)
      }

      return this.rowInCtx ? opt : opt.slice(0, 1)
    },
    getBasePath() {
      return this.reload
        ? ''
        : this.filters !== ''
        ? `contentchannel/${this.contentChannelId}/MediaContext1?filters=${this.myfilters},${this.filters}`
        : `contentchannel/${this.contentChannelId}/MediaContext1?filters=${this.myfilters}`
    },
    allowedFileTypes() {
      return this.myfilters
        ? this.myfilters.includes('mediaType==0')
          ? ['audio/*']
          : this.myfilters.includes('mediaType==1')
          ? ['video/*']
          : ['image/*']
        : null
    },
    isStreamedContent() {
      return this.myfilters && this.myfilters.includes('streamType==0')
    },
    isImage() {
      return (
        this.myfilters && this.myfilters.includes('mediaType==2,streamType==1')
      )
    },
    isAudio() {
      return (
        this.myfilters && this.myfilters.includes('mediaType==0,streamType==1')
      )
    }
  },
  watch: {
    isLoading(newVal) {
      this.loading = newVal
    },
    customClass(newVal) {
      this.Item.props.customClass = newVal
    }
  },
  created() {
    if (!this.isStreamedContent) {
      this.tableDefs.vtable.headers.splice(7, 0, this.size)
      if (!this.isImage)
        this.tableDefs.vtable.headers.splice(8, 0, this.duration)
      if (!this.isAudio)
        this.tableDefs.vtable.headers.splice(
          !this.isImage ? 9 : 8,
          0,
          this.resolution
        )
      this.tableDefs.vtable.headers.splice(
        this.isAudio ? 9 : !this.isImage ? 10 : 9,
        0,
        this.extension
      )
      if (!this.isImage)
        this.tableDefs.vtable.headers.splice(
          this.isAudio ? 10 : !this.isImage ? 11 : 10,
          0,
          this.bitrate
        )
      this.tableDefs.vtable.headers.splice(
        this.tableDefs.vtable.headers.length - 5,
        0,
        this.detailsColumn
      )
      this.MediaForm.media.events = {
        'upload-success': (file) => this.onMediaUploadComplete(file)
      }
    }

    if (!this.ctxOptions.length > 0) this.tableDefs.vtable.headers.splice(-1, 1)
  },
  methods: {
    downloadMedia(record) {
      const extension =
        record.extension === '' ? `.${record.codec}` : record.extension
      const fileId = record.mediaTitle.split(extension)[0]
      this.$axios
        .get(`${record.downloadPath}`, { responseType: 'blob' })
        .then((response) => {
          const FILE = window.URL.createObjectURL(new Blob([response.data]))
          const docUrl = document.createElement('a')
          docUrl.href = FILE
          docUrl.setAttribute('download', `${fileId}${extension}`)
          document.body.appendChild(docUrl)
          docUrl.click()
        })
    },
    showAddForm() {
      this.StreamedMediaForm.mediaTitle.value = null
      this.StreamedMediaForm.mediaDescription.value = null
      this.StreamedMediaForm.sourcePath.value = null

      if (this.id === 'video')
        this.MediaForm.media['field-input'].allowedFileTypes = [
          'video/*',
          '.mkv',
          '.mxf'
        ]

      this.MediaForm.media['field-input'].metaData = {
        contextedType: 'contentchannel',
        contextedId: this.contentChannelId
      }

      this.$buefy.modal.open({
        parent: this,
        component: DynamicForm,
        props: {
          form: this.isStreamedContent
            ? this.StreamedMediaForm
            : this.MediaForm,
          cardTitle: this.titleLabel,
          cardSubtitle: this.$t('add', { element: null }),
          submitUrl: `contentchannel/${this.contentChannelId}/MediaContext1`,
          preventSubmit: this.isStreamedContent,
          isInModal: true,
          cardWidth: 700,
          vbtn: {
            save: {
              icon: 'content-save',
              label: this.$t('saveButton'),
              props: {
                type: 'is-primary'
              },
              show: this.isStreamedContent
            }
          },
          locale: this.$i18n.locale,
          closeOnSubmit: false
        },
        events: {
          onSubmit: (values, parent) => {
            // eslint-disable-next-line no-console
            console.log(values)
            this.$axios
              .post(`contentchannel/${this.contentChannelId}/MediaContext1`, {
                name: values.mediaTitle,
                description: values.mediaDescription,
                displayPath: values.sourcePath,
                mediaType: parseInt(
                  this.myfilters
                    .split(',')[0]
                    .split('mediaType')[1]
                    .split('==')[1]
                )
              })
              .then(() => {
                this.reload = true
                parent.close()
                this.$buefy.toast.open({
                  message: this.$t('createSuccess'),
                  type: 'is-success'
                })
                setTimeout(() => {
                  this.reload = false
                }, 1000)
              })
              .catch((err) => {
                this.toastError(err)
              })
          }
        },
        hasModalCard: true,
        trapFocus: true,
        canCancel: ['escape', 'x']
      })
    },
    onMediaUploadComplete(successful, failed) {
      if (successful) {
        // eslint-disable-next-line no-console
        console.log('cchannel media subscribe')
        // eslint-disable-next-line no-console
        console.log(successful)
        // Suscribe to media notifications
        this.suscribeNotificationGoup(successful.FileId)

        this.reload = true
        this.vbtn.save.show = false
        this.$buefy.toast.open({
          message: this.$t('createSuccess'),
          type: 'is-success'
        })
        setTimeout(() => {
          this.reload = false
        }, 1000)
      }
    },
    showOfuscatedData(row) {
      this.$axios
        .get(`/MediaInfo/${row.mediaInfoId}`)
        .then((record) => {
          this.$buefy.modal.open({
            parent: this,
            component: ObfuscateDetailComponent,
            props: {
              locale: this.$i18n.locale,
              title: row.mediaTitle,
              originalDataDefs: {
                title: this.$t('details'),
                headerIcon: 'text-box-outline',
                headers:
                  row.mediaType === 0
                    ? this.AudioAndVideoHeaders
                    : row.mediaType === 1
                    ? this.ImageAndVideoHeaders.concat(
                        this.AudioAndVideoHeaders.slice(-1)
                      )
                    : this.ImageAndVideoHeaders,
                records: [record.data]
              }
            },
            hasModalCard: true,
            destroyOnHide: true,
            trapFocus: true
          })
        })
        .catch((err) => {
          this.toastError(err)
        })
    },
    editMedia(media) {
      this.StoredMediaForm.id.value = media.id
      this.StoredMediaForm.title.value = media.mediaTitle
      this.StoredMediaForm.description.value = media.mediaDescription

      this.$buefy.modal.open({
        parent: this,
        component: DynamicForm,
        props: {
          form: this.StoredMediaForm,
          cardTitle: this.titleLabel,
          cardSubtitle: this.$t('edit', { element: null }),
          submitUrl: `contentchannel/${this.contentChannelId}/MediaContext1`,
          isInModal: true,
          cardWidth: 700,
          locale: this.$i18n.locale,
          editionMode: true
        },
        events: {
          'form-saved': (element) => {
            this.reload = true
            this.$buefy.toast.open({
              message: this.$t('editSuccess'),
              type: 'is-success'
            })
            setTimeout(() => {
              this.reload = false
            }, 1000)
          },
          'form-close': () => {
            Object.keys(this.StoredMediaForm).forEach((field) => {
              this.StoredMediaForm[field].value = null
            })
          }
        },
        hasModalCard: true,
        trapFocus: true,
        canCancel: ['escape', 'x']
      })
    },
    deleteCChannelMedia(id) {
      this.$refs.table.$refs.cdialog.confirm({
        title: this.titleLabel,
        subtitle: this.$t('delete', { element: '' }),
        message: this.$t('confirmMssg'),
        type: 'is-danger',
        cancelText: this.$t('cancelButton'),
        confirmText: this.$t('deleteButton'),
        onConfirm: () => {
          this.$axios
            .delete(
              `contentchannel/${this.contentChannelId}/MediaContext1/${id}`
            )
            .then(() => {
              this.reload = true
              this.$buefy.toast.open({
                message: this.$t('deleteSuccess'),
                type: 'is-success'
              })
              setTimeout(() => {
                this.reload = false
              }, 1000)
            })
            .catch((err) => {
              this.toastError(err)
            })
        }
      })
    },
    handleCtxMenuClicked(option, record) {
      if (option && this.$refs.table) {
        if (option.id === 'add') this.showAddForm()
        else if (option.id === 'edit' && record) {
          if (this.isStreamedContent) this.editMedia(record)
          else this.editMedia(record)
        } else if (option.id === 'delete' && record)
          this.deleteCChannelMedia(record.id)
        else if (option.id === 'share' && record && record.isOwner)
          this.shareMediaToChannels(record)
        else if (option.id === 'associate' && record)
          this.$emit('associate', record)
        else if (option.id === 'reprocess' && record) this.reprocess(record)
      }
    },
    shareMediaToChannels(media) {
      this.$emit('share', media)
      this.reload = true
      setTimeout(() => {
        this.reload = false
      }, 1000)
    },
    cleanAllFilters() {
      this.reload = true
      this.filters = ''
      setTimeout(() => {
        this.reload = false
      }, 1000)
      this.filtersCount = 0
    },
    reprocess(record) {
      this.$refs.table.$refs.cdialog.confirm({
        title: this.titleLabel,
        subtitle: this.$t('reprocess'),
        message: this.$t('confirmMssg'),
        type: 'is-success',
        cancelText: this.$t('cancelButton'),
        confirmText: this.$t('reprocess'),
        onConfirm: () => {
          this.$axios
            .post(`/MediaInfo/${record.mediaInfoId}`)
            .then((response) => {
              this.suscribeNotificationGoup(record.fileId)
              this.$buefy.toast.open({
                message: `${this.$t('reprocess')} OK`,
                type: 'is-success'
              })
              this.reload = true
              setTimeout(() => {
                this.reload = false
              }, 1000)
            })
            .catch((err) => {
              this.toastError(err)
            })
        }
      })
    }
  }
}
</script>
<i18n>
{
  "en": {
    "cardTitle": "Publication",
    "tittleLabel": "Name",
    "descriptionLabel": "Description",
    "likesLabel": "Likes",
    "dislikesLabel": "Dislikes",
    "visitsLabel": "Visits",
    "areViewingLabel": "Are Viewing",
    "presentationImageLabel": "Imagen",
    "mediaLabel": "Media",
    "propertiesLabel": "Properties",
    "isActiveLabel": "Active",
    "details": "Details",
    "reprocess": "Reprocess",
    "bitrate": "Bitrate",
    "fileSize": "File Size",
    "pixelFormat": "Pixel Format",
    "download": "Download",
    "shareOffLabel": "Stop Sharing"
  },
  "es": {
    "cardTitle": "Publicación",
    "tittleLabel": "Nombre",
    "descriptionLabel": "Descripción",
    "likesLabel": "Likes",
    "dislikesLabel": "No le Gusta",
    "visitsLabel": "Visitas",
    "areViewingLabel": "Están Viendo",
    "presentationImageLabel": "Póster",
    "mediaLabel": "Media",
    "propertiesLabel": "Propiedades",
    "isActiveLabel": "Activo",
    "details": "Detalles",
    "reprocess": "Reprocesar",
    "bitrate": "Tasa de Bits",
    "fileSize": "Tamaño del Archivo",
    "pixelFormat": "Formato de Pixelado",
    "download": "Descargar",
    "shareOffLabel": "Dejar de Compartir"
  }
}
</i18n>
