<template>
  <b-tabs
    v-if="editionMode"
    position="is-centered"
    class="block section-tabs edition-tabs border-botton-less"
    :size="isMobileOrTablet ? '' : 'is-large'"
  >
    <b-tab-item
      v-if="
        permissions.includes('ContentChannelMedia') ||
        permissions.includes('AudioStored') ||
        permissions.includes('ImageStored') ||
        permissions.includes('VideoStored') ||
        permissions.includes('DomainAdmin')
      "
      :label="$t('mediasLabel') + ` ${totalMedias ? `(${totalMedias})` : ''}`"
    >
      <div class="column is-12 p-0">
        <section
          v-show="!currentMedias || !currentMedias.length"
          class="column is-12 p-3"
        >
          <b-tabs
            :size="!isMobileOrTablet ? 'is-medium' : 'is-small'"
            class="block section-tabs border-botton-less border-botton-vertical-less multimediaTabs"
            :vertical="isMobileOrTablet ? false : true"
            :position="!isMobileOrTablet ? '' : 'is-centered'"
            animation="slide-next"
          >
            <b-tab-item
              v-if="
                permissions.includes('VideoStored') ||
                permissions.includes('ContentChannelMedia') ||
                permissions.includes('DomainAdmin')
              "
              :label="
                $tc('video', 2) + ` ${totalVideos ? `(${totalVideos})` : ''}`
              "
              icon="video"
            >
              <c-channel-media-tab
                :id="'video'"
                :title-label="$tc('video', 2)"
                :icon-header="'video'"
                :myfilters="'mediaType==1,streamType==1'"
                :edition-mode="loggedIn"
                :content-channel-id="contentChannel.id || ''"
                @associate="associateMedia"
                @share="shareMedia"
                @items-available="
                  (n) => {
                    totalVideos = n || 0
                  }
                "
              />
            </b-tab-item>
            <b-tab-item
              v-if="
                permissions.includes('AudioStored') ||
                permissions.includes('ContentChannelMedia') ||
                permissions.includes('DomainAdmin')
              "
              :label="
                $tc('audio', 2) + ` ${totalAudios ? `(${totalAudios})` : ''}`
              "
              icon="volume-high"
            >
              <c-channel-media-tab
                :id="'audio'"
                :title-label="$tc('audio', 2)"
                :icon-header="'volume-high'"
                :myfilters="'mediaType==0,streamType==1'"
                :edition-mode="loggedIn"
                :content-channel-id="contentChannel.id || ''"
                @associate="associateMedia"
                @share="shareMedia"
                @items-available="
                  (n) => {
                    totalAudios = n || 0
                  }
                "
              />
            </b-tab-item>
            <b-tab-item
              v-if="
                permissions.includes('ImageStored') ||
                permissions.includes('ContentChannelMedia') ||
                permissions.includes('DomainAdmin')
              "
              :label="
                $tc('imageLabel', 2) + ` ${totalImg ? `(${totalImg})` : ''}`
              "
              icon="image"
            >
              <c-channel-media-tab
                :id="'image'"
                :title-label="$tc('imageLabel', 2)"
                :icon-header="'image'"
                :myfilters="'mediaType==2,streamType==1'"
                :edition-mode="loggedIn"
                :content-channel-id="contentChannel.id || ''"
                @associate="associateMedia"
                @share="shareMedia"
                @items-available="(n) => (totalImg = n || 0)"
              />
            </b-tab-item>
            <b-tab-item
              v-if="
                permissions.includes('ContentChannelMedia') ||
                permissions.includes('DomainAdmin')
              "
              :label="
                $tc('videoStreamLabel', 2) +
                ` ${totalVideoStream ? `(${totalVideoStream})` : ''}`
              "
              icon="video-box"
            >
              <c-channel-media-tab
                :title-label="$tc('videoStreamLabel', 2)"
                :icon-header="'video-box'"
                :myfilters="'mediaType==1,streamType==0'"
                :edition-mode="loggedIn"
                :content-channel-id="contentChannel.id || ''"
                @associate="associateMedia"
                @share="shareMedia"
                @items-available="
                  (n) => {
                    totalVideoStream = n || 0
                  }
                "
              />
            </b-tab-item>
            <b-tab-item
              v-if="
                permissions.includes('ContentChannelMedia') ||
                permissions.includes('DomainAdmin')
              "
              :label="
                $tc('audioStreamLabel', 2) +
                ` ${totalAudioStream ? `(${totalAudioStream})` : ''}`
              "
              icon="music-box-outline"
            >
              <c-channel-media-tab
                :title-label="$tc('audioStreamLabel', 2)"
                :icon-header="'music-box-outline'"
                :myfilters="'mediaType==0,streamType==0'"
                :edition-mode="loggedIn"
                :content-channel-id="contentChannel.id || ''"
                @associate="associateMedia"
                @share="shareMedia"
                @items-available="
                  (n) => {
                    totalAudioStream = n || 0
                  }
                "
              />
            </b-tab-item>
          </b-tabs>
        </section>
      </div>
    </b-tab-item>
    <b-tab-item
      v-if="
        permissions.includes('Publication') ||
        permissions.includes('DomainAdmin')
      "
      :label="
        $tc('publication', 2) +
        ` ${totalPublications ? `(${totalPublications})` : ''}`
      "
    >
      <publications-tab
        :edition-mode="loggedIn"
        :content-channel-id="contentChannel.id || ''"
        @items-available="
          (n) => {
            totalPublications = n
          }
        "
      />
    </b-tab-item>
    <b-tab-item
      v-if="
        permissions.includes('ContentChannelCategory') ||
        permissions.includes('DomainAdmin')
      "
      :label="
        $tc('category', 2) + ` ${totalCategories ? `(${totalCategories})` : ''}`
      "
    >
      <categories-tab
        :is-loading="false"
        :edition-mode="loggedIn"
        :content-channel-id="contentChannel.id || ''"
        @items-available="
          (n) => {
            totalCategories = n
          }
        "
      />
    </b-tab-item>
    <b-tab-item
      v-if="
        permissions.includes('SubscribedUserGetAll') ||
        permissions.includes('DomainAdmin')
      "
      :label="$tc('member', 2) + ` ${totalMembers ? `(${totalMembers})` : ''}`"
    >
      <members-tab
        :edition-mode="loggedIn"
        :content-channel-id="contentChannel.id || ''"
        @items-available="
          (n) => {
            totalMembers = n
          }
        "
      />
    </b-tab-item>
    <b-tab-item
      v-if="
        permissions.includes('SocialMedia') ||
        permissions.includes('ContentChannelSocialMedia') ||
        permissions.includes('DomainAdmin')
      "
      :label="
        $tc('socialNetworks', 2) + ` ${totalSocialN ? `(${totalSocialN})` : ''}`
      "
    >
      <social-networks-tab
        :content-channel-id="contentChannel.id || ''"
        @items-available="
          (n) => {
            totalSocialN = n
          }
        "
      />
    </b-tab-item>
    <b-tab-item
      v-if="
        permissions.includes('ContentChannelSocialMediaAccountForRtmp') ||
        permissions.includes('DomainAdmin')
      "
      :label="$tc('rtmpAccount', 2) + ` ${totalRTMP ? `(${totalRTMP})` : ''}`"
    >
      <div class="columns is-flex is-multiline m-3">
        <SocialMediaRTMPAccounts
          class="ml-3 is-fullwidth"
          :content-channel-id="contentChannel.id || ''"
          :reload="reloadRTMPAccounts"
          :permissions="permissions"
          :rtmp-destinations="rtmpDestinations"
          @items-available="
            (n) => {
              totalRTMP = n
            }
          "
        />
      </div>
    </b-tab-item>
    <b-tab-item
      v-if="
        permissions.includes('ContentChannelStreamTargetLocal') ||
        permissions.includes('ContentChannelStreamTargetLocalPlay') ||
        permissions.includes('ContentChannelStreamTargetLocalStop') ||
        permissions.includes('DomainAdmin')
      "
      :label="
        $tc('streamTargetLabel', 2) +
        ` ${totalStreamT ? `(${totalStreamT})` : ''}`
      "
    >
      <div class="columns is-flex is-multiline m-3">
        <stream-targets
          class="ml-3 is-fullwidth"
          :content-channel-id="contentChannel.id || ''"
          :reload="reloadStreamTargets"
          :permissions="permissions"
          @items-available="
            (n) => {
              totalStreamT = n
            }
          "
        />
      </div>
    </b-tab-item>
    <b-tab-item
      v-if="
        permissions.includes('ContentChannelIncomingStream') ||
        permissions.includes('ContentChannelIncomingStreamGet') ||
        permissions.includes('DomainAdmin')
      "
      :label="
        $tc('incomingStreamLabel', 2) +
        ` ${totalIncomingStream ? `(${totalIncomingStream})` : ''}`
      "
    >
      <div class="columns is-flex is-multiline m-3">
        <incoming-streams-tab
          class="ml-3 is-fullwidth"
          :content-channel-id="contentChannel.id || ''"
          :reload="reloadIncomingStream"
          @items-available="
            (n) => {
              totalIncomingStream = n
            }
          "
        />
      </div>
    </b-tab-item>
  </b-tabs>
</template>

<script>
import CategoriesTab from '~/components/ContentChannelTabs/CategoriesTab.vue'
import CChannelMediaTab from '~/components/ContentChannelTabs/CChannelMediaTab.vue'
import IncomingStreamsTab from '~/components/ContentChannelTabs/IncomingStreamsTab.vue'
import MembersTab from '~/components/ContentChannelTabs/MembersTab.vue'
import PublicationsTab from '~/components/ContentChannelTabs/PublicationsTab.vue'
import SocialNetworksTab from '~/components/ContentChannelTabs/SocialNetworksTab.vue'
import SocialMediaRTMPAccounts from '~/components/SocialMediaRTMPAccounts.vue'
import StreamTargets from '~/components/StreamTargets.vue'
import TabsComponent from '~/components/TabsComponent.vue'
import utilitiesMixin from '~/mixins/utilitiesMixin'

export default {
  name: 'EditionTabs',
  components: {
    SocialNetworksTab,
    CategoriesTab,
    MembersTab,
    PublicationsTab,
    SocialMediaRTMPAccounts,
    StreamTargets,
    CChannelMediaTab,
    IncomingStreamsTab
  },
  mixins: [utilitiesMixin],
  provide() {
    return {
      permissions: this.permissions
    }
  },
  middleware: 'guest',
  props: {
    contentChannel: {
      type: Object,
      required: true
    },
    editionMode: {
      type: Boolean,
      default: true
    },
    permissions: {
      type: Array,
      default: () => []
    },
    rtmpDestinations: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      itemView: false,
      isLoading: false,
      saveChanges: false,
      reloadCategory: false,
      reloadRTMPAccounts: false,
      reloadStreamTargets: false,
      reloadIncomingStream: false,
      rtmpAccounts: [],
      totalVideos: '',
      totalAudios: '',
      totalImg: '',
      totalVideoStream: '',
      totalAudioStream: '',
      totalPublications: 0,
      totalCategories: 0,
      totalStreamT: 0,
      totalRTMP: 0,
      totalMembers: 0,
      totalSocialN: 0,
      totalIncomingStream: 0
    }
  },
  computed: {
    baseUrl() {
      return '/MediaContext1'
    },
    currentMedias() {
      return []
    },
    currentMembers() {
      return []
    },
    totalMedias() {
      return (
        this.totalVideos +
        this.totalAudios +
        this.totalImg +
        this.totalVideoStream +
        this.totalAudioStream
      )
    }
  },
  watch: {
    loggedIn(newVal) {
      if (!newVal) this.$router.push('/')
    }
  },
  methods: {
    goToPublication(id) {
      this.$router.push('/publication/' + id)
    },
    associateMedia(media) {
      const tabs = [
        {
          id: 0,
          label: this.$tc('publication', 2)
        }
      ]

      this.$buefy.modal.open({
        parent: this,
        component: TabsComponent,
        props: {
          cardTitle: 'Multimedia',
          cardSubtitle: this.$t('associationLabel'),
          preventSubmit: true,
          isInModal: true,
          cardWidth: 700,
          action: 'association',
          contentChannelId: this.contentChannel.id,
          media,
          tabs
        },
        events: {
          'form-saved': () => {
            this.$emit('close')
          }
        },
        hasModalCard: true,
        trapFocus: true,
        canCancel: ['escape', 'x']
      })
    },
    shareMedia(media) {
      this.$buefy.modal.open({
        parent: this,
        component: TabsComponent,
        props: {
          cardTitle: this.$t('medias'),
          cardSubtitle: this.$t('share'),
          preventSubmit: false,
          isInModal: true,
          cardWidth: 800,
          action: 'share',
          contentChannelId: this.contentChannel.id,
          media,
          tabs: [
            {
              id: 0,
              label: this.$tc('contentChannelLabel', 2)
            }
          ]
        },
        events: {
          'share-cChannel': (channelList) => {
            const channelsId = channelList
            this.$axios
              .post(
                `contentchannel/${this.contentChannel.id}/MediaContext1/ContentChannelsToMedia`,
                {
                  contentChannelId: channelsId,
                  mediaEntityId: media.mediaEntityId
                }
              )
              .then((response) => {
                this.$buefy.toast.open({
                  message: this.$t('shareSuccess'),
                  type: 'is-success'
                })
              })
              .catch((err) => {
                this.toastError(err)
              })
          }
        },
        hasModalCard: true,
        trapFocus: true,
        canCancel: ['escape', 'x']
      })
    }
  }
}
</script>
<i18n>
{
  "en": {
    "rankingLabel": "Ranking",
    "socialMediaNameLabel": "Social Media Account Name",
    "destinationAppLabel": "Destination Application",
    "hostLabel": "Host",
    "portLabel": "Port",
    "destinationStreamLabel": "Destination Stream",
    "placeholderSelect": "Select a {key}...",
    "useSSLLabel": "SSL",
    "propertiesLabel": "Properties",
    "rankingLabel": "Ranking",
    "sourceLabel": "Source",
    "enabledLabel": "Enabled",
    "iconLabel": "Icon",
    "phoneNumberLabel": "Phone Number",
    "userNameLabel": "User Name",
    "custom": "Custom"
  },
  "es": {
    "rankingLabel": "Ranking",
    "ownerIdLabel": "Propietario",
    "socialMediaNameLabel": "Nombre de la cuenta de RS",
    "destinationAppLabel": "Aplicación de Destino",
    "hostLabel": "Host",
    "portLabel": "Puerto",
    "destinationStreamLabel": "Clave de Transmisión",
    "placeholderSelect": "Seleccione una {key}...",
    "useSSLLabel": "SSL",
    "propertiesLabel": "Propiedades",
    "rankingLabel": "Ranking",
    "sourceLabel": "Fuente",
    "enabledLabel": "Activo",
    "iconLabel": "Ícono",
    "phoneNumberLabel": "Número de teléfono",
    "userNameLabel": "Nombre de usuario",
    "custom": "Personalizado"
  }
}
</i18n>
