<template>
  <div class="incoming-streams-tab">
    <div v-if="!loading">
      <server-table-component
        ref="table"
        :data-url="getBasePath"
        :locale="$i18n.locale"
        v-bind="tableDefs"
        :custom-headers="true"
        @cleanFilters="cleanAllFilters"
        @available-records="(n) => $emit('items-available', n)"
        @open-column-filter="showFilterForm"
        @container-contextmenu="
          (ev) => {
            if (ev) ev.preventDefault()
            rowInCtx = null
            ctxOpen = !ctxOpen
          }
        "
        @contextmenu="
          (ev, row) => {
            if (ev) ev.preventDefault()
            rowInCtx = row
            ctxOpen = !ctxOpen
          }
        "
      >
        <template #extra-row-buttons="record">
          <div
            class="columns is-gapless is-mobile"
            style="display: inline-flex"
          >
            <div
              v-for="(button, key) in tableDefs.vbuttons.buttons"
              :key="key"
              class="column"
            >
              <b-tooltip
                v-if="button.show || hasCrudAccess"
                :type="button.tooltip.type"
                :label="button.tooltip.label"
                :position="button.tooltip.position"
              >
                <b-button
                  v-bind="button.props"
                  :class="tableDefs.vbuttons.class"
                  :rounded="tableDefs.vbuttons.roundedButtons"
                  :outlined="tableDefs.vbuttons.outlinedButtons"
                  :icon-left="button.icon"
                  :type="button.type"
                  :size="tableDefs.vbuttons.size"
                  @click="button.action(record)"
                />
              </b-tooltip>
            </div>
          </div>
        </template>
        <template #right-extra-header-content>
          <b-tooltip
            type="is-primary"
            :label="$t('filter')"
            size="is-small"
            class="filter-button"
          >
            <b-button
              class="table-buttons"
              :rounded="tableDefs.vbuttons.roundedButtons"
              :outlined="tableDefs.vbuttons.outlinedButtons"
              icon-left="filter"
              type="is-primary is-light"
              @click="showFilterForm"
            >
              <span v-show="filtersCount > 0" class="filter-badge">{{
                filtersCount
              }}</span>
            </b-button>
          </b-tooltip>
          <ctx />
        </template>
      </server-table-component>
    </div>
  </div>
</template>

<script>
import {
  AdvancedFilterComponent,
  DateColumnComponent,
  DynamicForm,
  MediaVisualizerColumnComponent,
  TYPE_FULLDATETIME,
  TYPE_TEXT
} from 'premium-tesh-ui-lib'

import streamedContentsMixin from '~/mixins/streamedContentsMixin'
import tableContextMenuMixin from '~/mixins/tableContextMenuMixin'
import genericFiltersMixin from '~/mixins/genericFiltersMixin'

export default {
  name: 'IncomingStreamsTab',
  mixins: [genericFiltersMixin, streamedContentsMixin, tableContextMenuMixin],
  inject: ['permissions'],
  props: {
    isLoading: {
      type: Boolean,
      default: false
    },
    editionMode: {
      type: Boolean,
      default: false
    },
    contentChannelId: {
      type: String,
      default: undefined
    }
  },
  data() {
    return {
      reload: false,
      loading: false,
      tableDefs: {
        vtable: {
          draggable: false,
          headers: [
            {
              text: 'Id',
              value: 'incomingStreamId',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'id'
              }
            },
            {
              text: this.$t('visualize'),
              value: 'playBackUrl',
              align: 'left',
              sortable: false,
              custom: true,
              render: {
                type: MediaVisualizerColumnComponent,
                props: {
                  showDisplayButton: true,
                  fallbackMimeType: 'application/x-mpegur',
                  locale: this.$i18n.locale,
                  basePath:
                    this.$store.state.APP_BASE_URL +
                    this.$store.state.API_DATA_PREFIX,
                  blankPageUrl: '/media-preview'
                },
                rendervalue: (v) => {
                  return v
                    ? {
                        title: v.incomingStreamName,
                        media: v.playBackUrl,
                        preview: require('static/video_media.png')
                      }
                    : ''
                }
              },
              filter: {
                useFilter: false
              }
            },
            {
              text: this.$t('nameLabel'),
              value: 'incomingStreamName',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'incomingStreamName'
              }
            },
            {
              text: this.$t('createdBy'),
              value: 'createdBy',
              align: 'left',
              sortable: true,
              custom: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'createdBy'
              }
            },
            {
              text: this.$t('createDateTime'),
              value: 'createdDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'createdDate'
              }
            },
            {
              text: this.$t('modifiedBy'),
              value: 'modifiedBy',
              align: 'left',
              sortable: true,
              custom: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'modifiedBy'
              }
            },
            {
              text: this.$t('modifyDateTime'),
              value: 'modifiedDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'modifiedDate'
              }
            },
            {
              text: this.$t('actions'),
              value: '',
              fixed: true,
              sortable: false,
              cellClass: 'actions-column',
              action: true,
              filter: {
                useFilter: false
              }
            }
          ]
        },
        vbtn: {
          create: {
            show: false
          }
        },
        vicon: {
          roundedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          edit: {
            show: false
          },
          delete: {
            show: false
          }
        },
        vbuttons: {
          roundedButtons: true,
          outlinedButtons: false,
          size: 'is-small',
          class: 'table-buttons',
          buttons: [
            {
              show: this.hasCrudAccess,
              icon: 'vector-combine',
              type: 'is-white',
              tooltip: {
                label: this.$t('associate', {
                  element: this.$tc('streamTargetLabel')
                }),
                type: 'is-white',
                position: 'is-left'
              },
              action: (record) => {
                this.associatetoStreamTarget(record.record)
              }
            }
          ]
        },
        title: this.$tc('incomingStreamLabel', 2),
        modalTitle: this.$tc('incomingStreamLabel', 2),
        headerIcon: 'cast-audio-variant',
        form: {}
      },
      filterForm: {
        IncomingFilter: {
          title: this.$tc('incomingStreamLabel'),
          icon: 'tag',
          fields: {
            Id: {
              fieldType: TYPE_TEXT,
              label: 'Id',
              placeholder: this.$t('placeholder', {
                key: 'id'
              }),
              activeOperator: '=='
            },
            Name: {
              fieldType: TYPE_TEXT,
              label: this.$t('nameLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('nameLabel').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            }
          }
        },
        UsersFilter: {
          title: this.$t('users'),
          icon: 'account-group',
          form: {
            CreatedBy: {
              fieldType: TYPE_TEXT,
              label: this.$t('createdBy'),
              placeholder: this.$t('placeholder', {
                key: this.$t('createdBy').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            ModifiedBy: {
              fieldType: TYPE_TEXT,
              label: this.$t('modifiedBy'),
              placeholder: this.$t('placeholder', {
                key: this.$t('modifiedBy').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            }
          }
        },
        DatesFilter: {
          title: this.$tc('date', 2),
          icon: 'calendar',
          form: {
            CreatedDate: {
              fieldType: TYPE_FULLDATETIME,
              label: this.$t('createDateTime'),
              placeholder: this.$t('placeholder', {
                key: this.$t('createDateTime').toLowerCase()
              }),
              value: null
            },
            ModifiedDate: {
              fieldType: TYPE_FULLDATETIME,
              label: this.$t('modifyDateTime'),
              placeholder: this.$t('placeholder', {
                key: this.$t('modifyDateTime').toLowerCase()
              }),
              value: null
            }
          }
        }
      },
      filters: '',
      filtersConstants: {
        Id: 'id',
        Name: 'incomingStreamName',
        CreatedDate: 'createdDate',
        ModifiedDate: 'modifiedDate',
        CreatedBy: 'createdBy',
        ModifiedBy: 'modifiedBy'
      },
      filtersCount: 0
    }
  },
  computed: {
    hasCrudAccess() {
      return (
        this.permissions.includes('DomainAdmin') ||
        this.permissions.includes('AccessAll') ||
        this.permissions.includes('ContentChannelIncomingStream')
      )
    },
    getBasePath() {
      return this.reload
        ? ''
        : this.filters !== ''
        ? `contentChannel/${this.contentChannelId}/IncomingStream?filters=${this.filters}`
        : `contentChannel/${this.contentChannelId}/IncomingStream`
    },
    ctxOptions() {
      const opt = [
        {
          id: 'associate',
          icon: 'vector-combine',
          name: this.$t('associate', {
            element: this.$tc('streamTargetLabel')
          })
        }
      ]

      return this.rowInCtx || this.hasCrudAccess ? opt : []
    }
  },
  watch: {
    isLoading(newVal) {
      this.loading = newVal
    }
  },
  mounted() {
    if (!this.ctxOptions.length > 0) this.tableDefs.vtable.headers.splice(-1, 1)
  },
  methods: {
    showFilterForm(field) {
      const ffield = field && field.useFilter ? field : null
      this.assignColumnFilterForm(ffield)

      this.$buefy.modal.open({
        parent: this,
        component: AdvancedFilterComponent,
        props: {
          form: ffield ? ffield.filterForm : this.filterForm,
          isInModal: true,
          filterType: 'incomingStream',
          stickyInside: true,
          locale: this.$i18n.locale,
          cardTitle: this.$tc('incomingStreamLabel', 2),
          cardSubtitle: this.$t('filter'),
          enableAdvancedSearch: false,
          modalWidth: ffield ? 500 : 850,
          simpleMode: !!ffield,
          utc: true
        },
        events: {
          'filters-updated': this.updateFilters,
          'count-results': (q) => this.countResults(q, this.getBasePath),
          'filters-count': (v) => (this.filtersCount = v)
        },
        hasModalCard: true,
        destroyOnHide: true,
        trapFocus: true
      })
    },
    associatetoStreamTarget(data = null) {
      this.streamTargetsForm.incomingStreamId.value =
        data.incomingStreamId || ''

      this.$buefy.modal.open({
        parent: this,
        component: DynamicForm,
        props: {
          form: this.streamTargetsForm,
          cardTitle: this.$tc('streamTargetLabel', 1),
          cardSubtitle: this.$t('associate', {
            element: this.$tc('incomingStreamLabel')
          }),
          preventSubmit: false,
          submitUrl: `contentchannel/${this.contentChannelId}/StreamTargetLocal`,
          editionMode: false,
          isInModal: true,
          locale: this.$i18n.locale
        },
        events: {
          'form-saved': (values) => {
            this.$buefy.toast.open({
              message: this.$t('associateSuccess'),
              type: 'is-success'
            })
            this.reload = true
            setTimeout(() => {
              this.reload = false
            }, 1000)
          }
        },
        hasModalCard: true,
        trapFocus: true,
        canCancel: ['escape', 'x']
      })
    },
    handleCtxMenuClicked(option, record) {
      if (option && this.$refs.table) {
        if (option.id === 'associate' && record)
          this.associatetoStreamTarget(record)
      }
    },
    cleanAllFilters() {
      this.reload = true
      this.filters = ''
      setTimeout(() => {
        this.reload = false
      }, 1000)
      this.filtersCount = 0
    }
  }
}
</script>
<i18n>
{
  "en": {
    "associateSuccess": "Stream target associated OK"
  },
  "es": {
    "associateSuccess": "Destino de transmisión asociado OK"
  }
}
</i18n>
