<template>
  <div class="members-tab">
    <div v-if="!loading">
      <server-table-component
        ref="table"
        :data-url="getBasePath"
        :locale="$i18n.locale"
        v-bind="tableDefs"
        :custom-headers="true"
        @cleanFilters="cleanAllFilters"
        @available-records="(n) => $emit('items-available', n)"
        @open-column-filter="showFilterForm"
        @container-contextmenu="
          (ev) => {
            if (ev) ev.preventDefault()
            rowInCtx = null
            ctxOpen = !ctxOpen
          }
        "
        @contextmenu="
          (ev, row) => {
            if (ev) ev.preventDefault()
            rowInCtx = row
            ctxOpen = !ctxOpen
          }
        "
      >
        <template #right-extra-header-content>
          <b-tooltip
            type="is-primary"
            :label="$t('filter')"
            size="is-small"
            class="filter-button"
          >
            <b-button
              class="table-buttons"
              :rounded="tableDefs.vbuttons.roundedButtons"
              :outlined="tableDefs.vbuttons.outlinedButtons"
              icon-left="filter"
              type="is-primary is-light"
              @click="showFilterForm"
            >
              <span v-show="filtersCount > 0" class="filter-badge">{{
                filtersCount
              }}</span>
            </b-button>
          </b-tooltip>
        </template>
        <template #extra-header-buttons>
          <b-tooltip
            v-if="hasCrudAccess"
            type="is-info"
            :label="$t('create', { element: '' })"
            size="is-small"
          >
            <b-button
              class="table-buttons"
              :rounded="tableDefs.vbuttons.roundedButtons"
              :outlined="true"
              icon-left="plus"
              type="is-info is-light"
              @click.stop="addCchannelUser()"
            />
          </b-tooltip>
        </template>
        <template #extra-row-buttons="record">
          <b-tooltip
            v-if="hasCrudAccess"
            type="is-primary"
            :label="$t('editButton')"
            size="is-small"
          >
            <b-button
              class="table-buttons"
              :rounded="tableDefs.vbuttons.roundedButtons"
              :outlined="false"
              icon-left="pencil"
              type="is-primary"
              @click.stop="updateRoles(record.record.id || record.record.email)"
            />
          </b-tooltip>
          <b-tooltip
            v-if="hasCrudAccess"
            type="is-danger"
            :label="$t('deleteButton')"
            size="is-small"
          >
            <b-button
              class="table-buttons"
              :rounded="tableDefs.vbuttons.roundedButtons"
              :outlined="false"
              icon-left="delete"
              type="is-danger"
              @click="
                deleteCchannelUser(
                  record.record.id || record.record.email,
                  record.record.fullName
                )
              "
            />
          </b-tooltip>
        </template>
      </server-table-component>
      <ctx />
    </div>
  </div>
</template>

<script>
import {
  AdvancedFilterComponent,
  AutocompleteInput,
  axiosToastErrorsMixin,
  CheckboxPicker,
  DynamicForm,
  ImageColumnComponent,
  TYPE_TEXT
} from 'premium-tesh-ui-lib'

import genericFiltersMixin from '~/mixins/genericFiltersMixin'
import tableContextMenuMixin from '~/mixins/tableContextMenuMixin'

export default {
  name: 'MembersTab',
  mixins: [genericFiltersMixin, tableContextMenuMixin, axiosToastErrorsMixin],
  inject: ['permissions'],
  props: {
    isLoading: {
      type: Boolean,
      default: false
    },
    editionMode: {
      type: Boolean,
      default: false
    },
    contentChannelId: {
      type: String,
      default: undefined
    }
  },
  data() {
    return {
      reload: false,
      loading: false,
      tableDefs: {
        vtable: {
          draggable: false,
          headers: [
            {
              text: 'Avatar',
              value: 'avatar',
              align: 'left',
              sortable: false,
              render: {
                type: ImageColumnComponent,
                props: { basePath: null }
              },
              filter: {
                useFilter: false
              }
            },
            {
              text: this.$t('nameLabel'),
              value: 'fullName',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'fullName'
              }
            },
            {
              text: this.$t('userNameLabel'),
              value: 'userName',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'userName'
              }
            },
            {
              text: this.$t('email'),
              value: 'email',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'email'
              }
            },
            {
              text: this.$t('actions'),
              value: '',
              fixed: true,
              sortable: false,
              cellClass: 'actions-column',
              action: true,
              filter: {
                useFilter: false
              }
            }
          ]
        },
        vbtn: { create: { show: false } },
        vicon: {
          roundedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          edit: {
            show: false
          },
          delete: {
            show: false
          }
        },
        vbuttons: {
          roundedButtons: true,
          outlinedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          buttons: []
        },
        idName: 'email',
        rowName: 'fullName',
        title: this.$tc('member', 2),
        modalTitle: this.$tc('member', 2),
        headerIcon: 'account-multiple',
        form: {
          id: {
            type: null,
            'field-wrapper': { style: 'display: none' },
            'field-input': {
              isRequired: false
            }
          },
          user: {
            type: AutocompleteInput,
            value: '',
            'field-wrapper': { class: 'is-12' },
            'field-input': {
              isRequired: true,
              label: this.$tc('userNameLabel'),
              expanded: true,
              placeholder: this.$t('placeholderSelect', {
                key: this.$tc('userNameLabel').toLowerCase()
              }),
              optionId: 'email',
              optionName: 'fullName',
              dataUrl: `/User?Filters=isDeleted==false`,
              allowAdd: false,
              openOnFocus: false,
              keepFirst: true
            },
            save: (v) => {
              return v && typeof v === 'object' ? v.email : v
            }
          },
          roles: {
            type: CheckboxPicker,
            default: [],
            'field-wrapper': {
              class: 'is-12 group-is-block'
            },
            'field-input': {
              label: this.$tc('roles'),
              horizontal: false,
              options: this.getCchannelRoles()
            }
          }
        }
      },
      filterForm: {
        MembersFilter: {
          title: this.$tc('member', 2),
          icon: 'account-multiple',
          fields: {
            Name: {
              fieldType: TYPE_TEXT,
              label: this.$t('nameLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('nameLabel').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            Username: {
              fieldType: TYPE_TEXT,
              label: this.$t('userNameLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('userNameLabel').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            Email: {
              fieldType: TYPE_TEXT,
              label: this.$t('email'),
              placeholder: this.$t('placeholder', {
                key: this.$t('email').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            }
          }
        }
      },
      filters: '',
      filtersConstants: {
        Name: 'fullName',
        Username: 'userName',
        Email: 'email',
        CreatedDate: 'createdDate',
        ModifiedDate: 'modifiedDate',
        CreatedBy: 'createdBy',
        ModifiedBy: 'modifiedBy'
      },
      filtersCount: 0,
      roleConfig: {
        type: CheckboxPicker,
        default: [],
        'field-wrapper': {
          class: 'is-12 group-is-block'
        },
        'field-input': {
          label: this.$tc('permission', 2),
          horizontal: false,
          options: this.getCchannelRoles()
        },
        save: (v) => {
          let error = false
          const deleteRoles = this.roleItems.filter(
            (element) => !v.includes(element)
          )
          const dataUrl = `contentchannel/${this.contentChannelId}/ContextedRole/user`

          if (deleteRoles.length > 0) {
            this.$axios
              .delete(dataUrl, {
                data: {
                  userEmailOrName: this.userId,
                  roleId: deleteRoles
                }
              })
              .then((response) => {})
              .catch((err) => {
                error = true
                this.toastError(err)
              })
          }
          if (!error) {
            const addRoles = v.filter(
              (element) => !this.roleItems.includes(element)
            )
            if (addRoles.length > 0) {
              this.$axios
                .post(dataUrl, {
                  userEmailOrName: [this.userId],
                  roleId: addRoles
                })
                .then((response) => {
                  this.$buefy.toast.open({
                    message: this.$t('editRolesSuccess'),
                    type: 'is-success'
                  })
                })
                .catch((err) => {
                  this.toastError(err)
                })
            } else
              this.$buefy.toast.open({
                message: this.$t('editRolesSuccess'),
                type: 'is-success'
              })
          }
        }
      }
    }
  },
  computed: {
    hasCrudAccess() {
      return (
        this.permissions.includes('DomainAdmin') ||
        this.permissions.includes('AccessAll')
      )
    },
    getBasePath() {
      return this.reload
        ? ''
        : this.filters !== ''
        ? `contentChannel/${this.contentChannelId}/ContextedRole/alluser?Filters=${this.filters}`
        : `contentChannel/${this.contentChannelId}/ContextedRole/alluser`
    },
    ctxOptions() {
      const opt = [
        { id: 'add', icon: 'plus', name: this.$t('addButton') },
        { id: 'edit', icon: 'pencil', name: this.$t('editButton') },
        { id: 'delete', icon: 'trash-can', name: this.$t('deleteButton') }
      ]

      if (!this.hasCrudAccess) {
        opt.splice(3, 1)
        opt.splice(2, 1)
        opt.splice(1, 1)
      }

      return this.rowInCtx ? opt : opt.slice(0, 1)
    }
  },
  watch: {
    isLoading(newVal) {
      this.loading = newVal
    }
  },
  created() {
    if (this.isReadonly) {
      this.tableDefs.vtable.headers.splice(-1, 1)
    }

    if (!this.ctxOptions.length > 0) this.tableDefs.vtable.headers.splice(-1, 1)
  },
  methods: {
    showFilterForm(field) {
      const ffield = field && field.useFilter ? field : null
      this.assignColumnFilterForm(ffield)

      this.$buefy.modal.open({
        parent: this,
        component: AdvancedFilterComponent,
        props: {
          form: ffield ? ffield.filterForm : this.filterForm,
          isInModal: true,
          filterType: 'members',
          stickyInside: true,
          locale: this.$i18n.locale,
          cardTitle: this.$tc('member', 2),
          cardSubtitle: this.$t('filter'),
          enableAdvancedSearch: false,
          modalWidth: ffield ? 500 : 850,
          simpleMode: !!ffield,
          utc: true
        },
        events: {
          'filters-updated': this.updateFilters,
          'count-results': (q) => this.countResults(q, this.getBasePath),
          'filters-count': (v) => (this.filtersCount = v)
        },
        hasModalCard: true,
        destroyOnHide: true,
        trapFocus: true
      })
    },
    handleCtxMenuClicked(option, record) {
      if (option && this.$refs.table) {
        if (option.id === 'add') this.addCchannelUser()
        else if (option.id === 'edit' && record)
          this.updateRoles(record.id || record.email)
        else if (option.id === 'delete' && record)
          this.deleteCchannelUser(record.email, record.fullname)
      }
    },
    updateRoles(userId) {
      this.roleItems = this.getUserRoles(userId)
      this.userId = userId
      this.roleConfig.value = this.getUserRoles(userId)

      // Show modal with data
      this.$buefy.modal.open({
        parent: this,
        component: DynamicForm,
        props: {
          form: { config: this.roleConfig },
          cardTitle: this.$tc('member', 2),
          cardSubtitle: this.$t('changePerms'),
          preventSubmit: true,
          isInModal: true,
          cardWidth: 700,
          locale: this.$i18n.locale
        },
        hasModalCard: true,
        trapFocus: true,
        canCancel: ['escape', 'x']
      })
    },
    getCchannelRoles() {
      const dataUrl = `Role?filters=permissionType==2`
      const options = {}
      this.$axios
        .get(dataUrl)
        .then((response) => {
          response.data.results.forEach((element, i) => {
            if (element.name !== 'Usuario') {
              const llave = element.id
              options[llave] = element.name
            }
          })
        })
        .catch((err) => {
          this.toastError(err)
        })
      return options
    },
    getUserRoles(userId) {
      const dataUrl = `contentchannel/${this.contentChannelId}/ContextedRole/user/${userId}`
      const roles = []
      this.$axios
        .get(dataUrl)
        .then((response) => {
          response.data.roles.forEach((element, i) => {
            if (element.name !== 'Usuario') {
              roles.push(element.id)
            }
          })
        })
        .catch((err) => {
          this.toastError(err)
        })
      return roles
    },
    deleteCchannelUser(userId, userName) {
      this.$refs.table.$refs.cdialog.confirm({
        title: this.$tc('member', 2),
        subtitle: this.$t('delete', { element: '' }),
        message: this.$t('confirmDelete', { key: userName }),
        type: 'is-danger',
        cancelText: this.$t('cancelButton'),
        confirmText: this.$t('deleteButton'),
        onConfirm: () => {
          this.$axios
            .delete(
              `contentchannel/${this.contentChannelId}/ContextedRole/userlist`,
              {
                data: [userId]
              }
            )
            .then(() => {
              this.reload = true
              this.$buefy.toast.open({
                message: this.$t('deleteSuccess'),
                type: 'is-success'
              })
              setTimeout(() => {
                this.reload = false
              }, 1000)
            })
            .catch((err) => {
              this.toastError(err)
            })
        }
      })
    },
    addCchannelUser() {
      this.$buefy.modal.open({
        parent: this,
        component: DynamicForm,
        props: {
          form: this.tableDefs.form,
          cardTitle: this.$tc('member', 2),
          cardSubtitle: this.$t('create', { element: '' }),
          preventSubmit: true,
          isInModal: true,
          cardWidth: 700,
          locale: this.$i18n.locale,
          closeOnSubmit: false
        },
        events: {
          onSubmit: (values, parent) => {
            const dataUrl = `contentchannel/${this.contentChannelId}/ContextedRole/user`

            this.$axios
              .post(dataUrl, {
                userEmailOrName: [values.user],
                roleId: values.roles
              })
              .then((response) => {
                this.reload = true
                parent.close()
                this.$buefy.toast.open({
                  message: this.$t('addCchannelUser', { key: values.user }),
                  type: 'is-success'
                })
                setTimeout(() => {
                  this.reload = false
                }, 1000)
              })
              .catch((err) => {
                this.toastError(err)
              })
          }
        },
        hasModalCard: true,
        trapFocus: true,
        canCancel: ['escape', 'x']
      })
    },
    cleanAllFilters() {
      this.reload = true
      this.filters = ''
      setTimeout(() => {
        this.reload = false
      }, 1000)
      this.filtersCount = 0
    }
  }
}
</script>
<i18n>
{
  "en": {
    "addCchannelUser": "User {key} added successfully"
  },
  "es": {
    "addCchannelUser": "Usuario {key} añadido satisfactoriamente"
  }
}
</i18n>
