<template>
  <div class="publications-tab">
    <publication-skeleton
      :active="loading"
      :publications-number="skeletonsNumber"
    />
    <div v-if="!editionMode && !loading" class="publications-tab-content">
      <infinite-loading-container
        :component="Item"
        :wrapper="{ class: 'columns is-multiline m-3' }"
        :to-load-size="itemsToLoad"
        :data-url="url"
        :items="items"
        class="has-custom-scroll"
        :max-height="maxHeight"
        :max-width="maxWidth"
        @items-available="(n) => $emit('items-available', n)"
      >
      </infinite-loading-container>
    </div>
    <div v-else-if="!loading">
      <server-table-component
        ref="table"
        :data-url="getBasePath"
        :locale="$i18n.locale"
        v-bind="tableDefs"
        :custom-headers="true"
        @cleanFilters="cleanAllFilters"
        @available-records="(n) => $emit('items-available', n)"
        @open-column-filter="showFilterForm"
        @container-contextmenu="
          (ev) => {
            if (ev) ev.preventDefault()
            rowInCtx = null
            ctxOpen = !ctxOpen
          }
        "
        @contextmenu="
          (ev, row) => {
            if (ev) ev.preventDefault()
            rowInCtx = row
            ctxOpen = !ctxOpen
          }
        "
      >
        <template #right-extra-header-content>
          <b-tooltip
            type="is-primary"
            :label="$t('filter')"
            size="is-small"
            class="filter-button"
          >
            <b-button
              class="table-buttons"
              :rounded="tableDefs.vbuttons.roundedButtons"
              :outlined="tableDefs.vbuttons.outlinedButtons"
              icon-left="filter"
              type="is-primary is-light"
              @click="showFilterForm"
            >
              <span v-show="filtersCount > 0" class="filter-badge">{{
                filtersCount
              }}</span>
            </b-button>
          </b-tooltip>
        </template>
        <template #extra-row-buttons="record">
          <b-tooltip
            v-if="hasCrudAccess"
            type="is-primary"
            :label="$t('editButton')"
            size="is-small"
          >
            <b-button
              class="table-buttons"
              :rounded="true"
              :outlined="false"
              icon-left="pencil"
              type="is-primary"
              @click="updatePublication(record.record)"
            />
          </b-tooltip>
          <b-tooltip
            v-if="hasCrudAccess"
            type="is-danger"
            :label="$t('deleteButton')"
            size="is-small"
          >
            <b-button
              class="table-buttons"
              :rounded="true"
              :outlined="false"
              icon-left="delete"
              type="is-danger"
              @click="deletePublication(record.record)"
            />
          </b-tooltip>
          <b-tooltip type="is-white" :label="$t('goTo')" size="is-small">
            <b-button
              class="table-buttons"
              :rounded="true"
              :outlined="false"
              icon-left="arrow-right-top"
              type="is-white"
              @click="goToPublication(record.record.id)"
            />
          </b-tooltip>
          <ctx />
        </template>
      </server-table-component>
      <ctx />
    </div>
  </div>
</template>

<script>
import {
  DateColumnComponent,
  ButtonColumnComponent,
  ObfuscateDetailComponent,
  ImageColumnComponent,
  MediaVisualizerColumnComponent,
  LargeTextColumnComponent,
  DynamicForm
} from 'premium-tesh-ui-lib'

import CardPublication from '~/components/Cards/CardPublication.vue'
import InfiniteLoadingContainer from '~/components/InfiniteLoadingContainer.vue'
import PublicationSkeleton from '~/components/Publications/PublicationSkeleton.vue'
import publicationMixin from '~/mixins/publicationMixin'
import tableContextMenuMixin from '~/mixins/tableContextMenuMixin'
import genericFiltersMixin from '~/mixins/genericFiltersMixin'
import mediaMixin from '~/mixins/mediaMixin'

export default {
  name: 'PublicationsTab',
  components: {
    PublicationSkeleton,
    InfiniteLoadingContainer
  },
  mixins: [
    publicationMixin,
    genericFiltersMixin,
    tableContextMenuMixin,
    mediaMixin
  ],
  inject: ['permissions', 'suscribeNotificationGoup'],
  props: {
    items: {
      type: Array,
      default: () => []
    },
    itemsToLoad: {
      type: Number,
      default: 10
    },
    showTitlesOnSide: {
      type: Boolean,
      default: false
    },
    isLoading: {
      type: Boolean,
      default: false
    },
    customClass: {
      type: [String, Object],
      default: ''
    },
    skeletonsNumber: {
      type: Number,
      default: 6
    },
    editionMode: {
      type: Boolean,
      default: false
    },
    maxHeight: {
      type: String,
      default: undefined
    },
    maxWidth: {
      type: String,
      default: undefined
    },
    url: {
      type: String,
      default: undefined
    },
    contentChannelId: {
      type: String,
      default: undefined
    }
  },
  data() {
    return {
      reload: false,
      loading: false,
      tableDefs: {
        vtable: {
          draggable: false,
          headers: [
            {
              text: 'Id',
              value: 'id',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'id'
              }
            },
            {
              text: this.$t('thumbnail'),
              value: 'presentationImagePath',
              align: 'left',
              sortable: false,
              render: {
                type: ImageColumnComponent,
                props: {
                  basePath:
                    this.$store.state.APP_BASE_URL +
                    this.$store.state.API_DATA_PREFIX
                }
              },
              filter: {
                useFilter: false
              }
            },

            {
              text: this.$t('tittleLabel'),
              value: 'title',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'title'
              }
            },
            {
              text: this.$t('descriptionLabel'),
              value: 'description',
              align: 'left',
              sortable: true,
              render: {
                type: LargeTextColumnComponent,
                props: {
                  showDisplayButton: true,
                  content: this.$t('descriptionLabel'),
                  locale: this.$i18n.locale,
                  textLenght: 30,
                  tooltipPosition: 'is-top'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'description'
              }
            },
            {
              text: this.$t('visualizeMedia'),
              value: '',
              align: 'left',
              sortable: false,
              custom: true,
              render: {
                type: MediaVisualizerColumnComponent,
                props: {
                  showDisplayButton: true,
                  fallbackMimeType: 'audio/ogg',
                  locale: this.$i18n.locale || 'es',
                  basePath: `${this.$store.state.APP_BASE_URL}${this.$store.state.API_DATA_PREFIX}`,
                  blankPageUrl: '/media-preview'
                },
                rendervalue: (v) => {
                  return v
                    ? {
                        title: v.mediaTitle,
                        media: v.mediaPatch,
                        preview:
                          v.thumbnail ||
                          this.getStaticMediaThumbnail(v.mediaType) ||
                          undefined
                      }
                    : ''
                }
              },
              filter: {
                useFilter: false
              }
            },
            {
              text: this.$t('details'),
              value: '',
              align: 'left',
              sortable: false,
              custom: true,
              cellClass: 'pr-5',
              render: {
                type: ButtonColumnComponent,
                props: {
                  icon: 'monitor',
                  tooltip: { label: this.$t('details'), type: 'is-white' },
                  content: 'mediaTitle'
                },
                events: {
                  confirm: (v) => this.showOfuscatedCols(v)
                }
              },
              filter: {
                useFilter: false
              }
            },
            {
              text: this.$tc('category', 2),
              value: 'categories',
              align: 'left',
              sortable: true,
              render: {
                type: LargeTextColumnComponent,
                props: {
                  showDisplayButton: true,
                  showCopyButton: false,
                  content: this.$tc('category', 2),
                  locale: this.$i18n.locale,
                  textLenght: 30,
                  tooltipPosition: 'is-top'
                },
                rendervalue: (val) => {
                  const tmp = document.createElement('DIV')
                  val.forEach((cat) => {
                    tmp.innerHTML =
                      tmp.innerHTML === ''
                        ? tmp.innerHTML + cat.contentChannelCategoryName
                        : tmp.innerHTML + ', ' + cat.contentChannelCategoryName
                  })

                  return tmp.textContent || tmp.innerText || ''
                }
              },
              filter: {
                useFilter: false
              }
            },
            {
              text: this.$tc('contentChannelLabel', 1),
              value: 'contentChannelName',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'contentChannelId'
              }
            },
            {
              text: this.$t('likesLabel'),
              value: 'likes',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'likes'
              }
            },
            {
              text: this.$t('dislikesLabel'),
              value: 'dislikes',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'dislikes'
              }
            },
            {
              text: this.$t('visitsLabel'),
              value: 'visitsCount',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'visitsCount'
              }
            },
            {
              text: this.$t('reproductions'),
              value: 'reproductionsCount',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'reproductionsCount'
              }
            },
            {
              text: this.$t('areViewingLabel'),
              value: 'areViewingCount',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'areViewingCount'
              }
            },
            {
              text: this.$t('createdBy'),
              value: 'createdBy',
              align: 'left',
              sortable: true,
              custom: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'createdBy'
              }
            },
            {
              text: this.$t('createDateTime'),
              value: 'createdDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'createdDate'
              }
            },
            {
              text: this.$t('modifiedBy'),
              value: 'modifiedBy',
              align: 'left',
              sortable: true,
              custom: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'modifiedBy'
              }
            },
            {
              text: this.$t('modifyDateTime'),
              value: 'modifiedDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'modifiedDate'
              }
            },
            {
              text: this.$t('actions'),
              value: '',
              fixed: true,
              sortable: false,
              cellClass: 'actions-column',
              action: true,
              filter: {
                useFilter: false
              }
            }
          ]
        },
        vbtn: {
          create: {
            show: true,
            type: 'is-info is-light',
            icon: 'plus',
            tooltip: this.$t('create', { element: '' }),
            tooltipType: 'is-info',
            props: {
              rounded: true,
              outlined: true,
              class: 'table-buttons'
            }
          }
        },
        vicon: {
          roundedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          edit: {
            show: false,
            name: 'pencil',
            type: 'is-primary',
            tooltip: {
              label: this.$t('edit', { element: null }),
              type: 'is-primary',
              position: 'is-top'
            }
          },
          delete: {
            show: false,
            name: 'delete',
            type: 'is-danger',
            tooltip: {
              label: this.$t('delete', { element: null }),
              type: 'is-danger',
              position: 'is-top'
            }
          }
        },
        vbuttons: {
          roundedButtons: true,
          outlinedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          buttons: []
        },
        rowName: 'title',
        title: this.$tc('publication', 2),
        modalWidth: 600,
        modalTitle: this.$tc('publication'),
        editModalTitle: this.$tc('publication'),
        headerIcon: 'postage-stamp',
        form: {},
        findOneUrl: `/Publication`
      }
    }
  },
  computed: {
    getBasePath() {
      return this.reload
        ? ''
        : this.filters !== ''
        ? `contentchannel/${this.contentChannelId}/Publication?filters=${this.filters}`
        : `contentchannel/${this.contentChannelId}/Publication`
    },
    ctxOptions() {
      const opt = [
        { id: 'add', icon: 'plus', name: this.$t('addButton') },
        { id: 'edit', icon: 'pencil', name: this.$t('editButton') },
        { id: 'delete', icon: 'trash-can', name: this.$t('deleteButton') },
        { id: 'goTo', icon: 'arrow-right-top', name: this.$t('goTo') }
      ]

      if (!this.hasCrudAccess) {
        opt.splice(3, 1)
        opt.splice(2, 1)
        opt.splice(1, 1)
      }

      return this.rowInCtx ? opt : opt.slice(0, 1)
    },
    Item() {
      return {
        type: CardPublication,
        props: {
          class: this.customClass,
          hasItemActions: this.editionMode && this.$auth.loggedIn,
          showTitlesOnSide: this.showTitlesOnSide
        },
        events: {
          edit: (item) => this.$emit('addOrEdit', item),
          delete: (item, index) => this.$emit('delete', item, index)
        }
      }
    }
  },
  watch: {
    isLoading(newVal) {
      this.loading = newVal
    }
  },
  created() {
    this.tableDefs.form = Object.assign({}, this.PublicationForm)
    this.tableDefs.form.presentationImagePath[
      'field-input'
    ].searchFromChannel = true
    this.tableDefs.form.presentationImagePath['field-input'].contentChannelId =
      this.contentChannelId
    this.tableDefs.form.presentationImagePath['field-input'].filtersDefs = {
      title: this.$t('mediasLabel'),
      isInModal: true,
      form: this.FilterFormMediaNoTypes
    }
    this.tableDefs.form.presentationImagePath['field-input'].filterResultsDefs =
      {
        title: this.$t('mediasLabel'),
        headerIcon: 'image',
        vtable: {
          headers: this.HeadersMedia.slice(0, -1)
        }
      }
    if (!this.hasCrudAccess) this.tableDefs.vbtn = { create: { show: false } }
  },
  methods: {
    hasCrudAccess() {
      return (
        this.permissions.includes('DomainAdmin') ||
        this.permissions.includes('AccessAll')
      )
    },
    handleCtxMenuClicked(option, record) {
      if (option && this.$refs.table) {
        if (option.id === 'add') this.$refs.table.formOpen(null)
        else if (option.id === 'edit' && record) this.updatePublication(record)
        else if (option.id === 'delete' && record)
          this.deletePublication(record)
        else if (option.id === 'goTo' && record) this.goToPublication(record.id)
      }
    },
    showOfuscatedCols(row) {
      let headers = this.HeadersMedia.slice(0, -6)
      if (row.mediaType !== 3)
        headers = headers.concat(this.AudioAndVideoHeaders.slice(-1))

      this.$buefy.modal.open({
        parent: this,
        component: ObfuscateDetailComponent,
        props: {
          locale: this.$i18n.locale,
          title: row.title,
          originalDataDefs: {
            title: this.$t('details'),
            headerIcon: 'text-box-outline',
            headers,
            records: [row]
          }
        },
        hasModalCard: true,
        destroyOnHide: true,
        trapFocus: true
      })
    },
    cleanAllFilters() {
      this.reload = true
      this.filters = ''
      setTimeout(() => {
        this.reload = false
      }, 1000)
      this.filtersCount = 0
    },
    updatePublication(record) {
      this.tableDefs.form.media['field-wrapper'].style = 'display: none'
      Object.keys(this.tableDefs.form).forEach((field) => {
        this.tableDefs.form[field].value = record[field]
      })
      this.$buefy.modal.open({
        parent: this,
        component: DynamicForm,
        props: {
          form: this.tableDefs.form,
          cardTitle: this.$t('cardTitle'),
          cardSubtitle: this.$t('edit', { element: '' }),
          preventSubmit: true,
          isInModal: true,
          cardWidth: 700,
          locale: this.$i18n.locale,
          closeOnSubmit: false
        },
        events: {
          onSubmit: (values, parent) => {
            this.$axios
              .put(`/contentchannel/${this.contentChannelId}/Publication`, {
                id: values.id,
                title: values.title,
                description: values.description,
                presentationImagePath: values.presentationImagePath,
                categories: values.categories
              })
              .then(() => {
                this.reload = true
                parent.close()
                this.$buefy.toast.open({
                  message: this.$t('editSuccess'),
                  type: 'is-success'
                })
                setTimeout(() => {
                  this.reload = false
                }, 1000)
              })
              .catch((err) => {
                this.toastError(err)
              })
          }
        },
        hasModalCard: true,
        trapFocus: true,
        canCancel: ['escape', 'x']
      })
    },
    deletePublication(record) {
      this.$refs.table.$refs.cdialog.confirm({
        title: this.$t('cardTitle'),
        subtitle: this.$t('delete', { element: '' }),
        message: this.$t('confirmMssg'),
        type: 'is-danger',
        cancelText: this.$t('cancelButton'),
        confirmText: this.$t('deleteButton'),
        onConfirm: () => {
          this.$axios
            .delete(
              `/contentchannel/${this.contentChannelId}/Publication/${record.id}`
            )
            .then(() => {
              this.reload = true
              this.$buefy.toast.open({
                message: this.$t('deleteSuccess'),
                type: 'is-success'
              })
              setTimeout(() => {
                this.reload = false
              }, 1000)
            })
            .catch((err) => {
              this.toastError(err)
            })
        }
      })
    }
  }
}
</script>
<i18n>
{
  "en": {
    "cardTitle": "Publication",
    "tittleLabel": "Tittle",
    "descriptionLabel": "Description",
    "likesLabel": "Likes",
    "dislikesLabel": "Dislikes",
    "visitsLabel": "Visits",
    "areViewingLabel": "Are Viewing",
    "presentationImageLabel": "Imagen",
    "mediaLabel": "Media",
    "propertiesLabel": "Properties",
    "reproductions": "Reproductions"
  },
  "es": {
    "cardTitle": "Publicación",
    "tittleLabel": "Título",
    "descriptionLabel": "Descripción",
    "likesLabel": "Le gusta",
    "dislikesLabel": "No le Gusta",
    "visitsLabel": "Visitas",
    "areViewingLabel": "Están Viendo",
    "presentationImageLabel": "Póster",
    "mediaLabel": "Media",
    "propertiesLabel": "Propiedades",
    "reproductions": "Reproducciones"
  }
}
</i18n>
