<template>
  <div>
    <text-searcher
      :value="filterText"
      grouped
      position="is-right"
      icon-right="filter"
      :icon-right-clickable="true"
      @icon-right-click="showFilters = !showFilters"
      @search="
        (t) => {
          if (t) {
            search = true
            filterText = t
          } else {
            search = false
            filterText = ''
          }
        }
      "
    />
    <publications-filter
      v-show="showFilters || search || filters || sorts"
      class="is-fullwidth"
      :show.sync="showFilters"
      :show-button="false"
      :base-url="`contentchannel/${contentChannel.id}/Publication`"
      @update:filters="(v) => (filters = v)"
      @update:sorts="(v) => (sorts = v)"
    >
      <template #publications-container="data">
        <div
          v-show="search || filters || sorts"
          class="is-fullwidth"
          style="height: 60vh"
        >
          <infinite-loading-container
            :component="Item"
            :wrapper="{
              class: {
                'columns is-multiline m-3': true
              }
            }"
            :to-load-size="$mq === 'mobile' ? 10 : 20"
            :data-url="data.searchUrl + textSearch"
            class="has-custom-scroll"
          />
        </div>
      </template>
    </publications-filter>
    <b-tabs
      v-show="!search && !sorts && !filters"
      v-model="activeTab"
      class="block section-tabs"
      :size="isMobileOrTablet ? '' : 'is-large'"
    >
      <b-tab-item :label="$tc('category', 2)">
        <section
          v-show="!categories || !categories.length"
          class="section column is-12 p-3"
        >
          <div class="content has-text-grey has-text-centered">
            <p>
              <b-icon icon="emoticon-sad" size="is-large"></b-icon>
            </p>
            <p>{{ $t('noDataMssg') }}</p>
          </div>
        </section>
        <div
          v-for="(category, index) in currentCategories"
          :key="category.id || index"
          class="columns is-mobile"
        >
          <div
            v-show="category.show || category.show === undefined"
            class="column is-12"
            :class="{ 'px-1': !isMobile }"
          >
            <h1 class="title is-3 has-text-light mt-4">
              {{ category.name }}
            </h1>
            <reel-hooper
              v-if="activeTab === 0"
              :data-url="`contentchannel/${contentChannel.id}/Publication?filters=categoryId==${category.id}`"
              :has-custom-navigation="true"
              buttons-size="is-large"
              class="py-0 my-3"
              style="height: 85%"
              @items-available="
                (n) => {
                  category.show = n > 0
                }
              "
            >
              <template #item="item">
                <card-publication
                  :has-item-actions="false"
                  :show-titles-on-side="false"
                  :item="item"
                  class="is-text-white is-in-carousel p-1"
                ></card-publication>
              </template>
            </reel-hooper>
          </div>
        </div>
      </b-tab-item>
      <b-tab-item :label="$tc('publication', 2)">
        <section
          v-show="pSections.filter((s) => s.show === true).length === 0"
          class="section column is-12 p-3"
        >
          <div class="content has-text-grey has-text-centered">
            <p>
              <b-icon icon="emoticon-sad" size="is-large"></b-icon>
            </p>
            <p>{{ $t('noDataMssg') }}</p>
          </div>
        </section>
        <div
          v-for="(section, index) in pSections"
          :key="index"
          class="columns is-mobile"
        >
          <div
            v-show="section.show"
            class="column is-12"
            :class="{ 'px-1': !isMobile }"
          >
            <h1 class="title is-3 has-text-light mt-4">
              {{ section.name }}
            </h1>
            <reel-hooper
              v-if="activeTab === 1"
              :data-url="`/contentchannel/${contentChannel.id}/publication?Filters=${section.urlFilters}`"
              :has-custom-navigation="true"
              buttons-size="is-large"
              class="py-0 my-3"
              style="height: 85%"
              @items-available="
                (n) => {
                  section.show = n > 0
                }
              "
            >
              <template #item="item">
                <card-publication
                  :has-item-actions="false"
                  :show-titles-on-side="false"
                  :item="item"
                  class="is-text-white is-in-carousel p-1"
                ></card-publication>
              </template>
            </reel-hooper>
          </div>
        </div>
      </b-tab-item>
    </b-tabs>
  </div>
</template>

<script>
import dayjs from 'dayjs'

import ReelHooper from '@/components/Reel'
import CardPublication from '~/components/Cards/CardPublication.vue'
import InfiniteLoadingContainer from '~/components/InfiniteLoadingContainer.vue'
import TextSearcher from '~/components/Inputs/TextSearcher.vue'
import PublicationsFilter from '~/components/Publications/PublicationsFilter.vue'
import utilitiesMixin from '~/mixins/utilitiesMixin'
const utc = require('dayjs/plugin/utc')
dayjs.extend(utc)

export default {
  name: 'ReadOnlyTabs',
  components: {
    ReelHooper,
    CardPublication,
    TextSearcher,
    InfiniteLoadingContainer,
    PublicationsFilter
  },
  mixins: [utilitiesMixin],
  props: {
    contentChannel: {
      type: Object,
      default: undefined
    }
  },
  data() {
    return {
      activeTab: 0,
      categories: [],
      pSections: [
        {
          show: true,
          name: this.$t('recent'),
          urlFilters: `createdDate>${dayjs().utc().format()}`
        },
        {
          show: true,
          name: this.$t('currentWeek'),
          urlFilters: `createdDate>=${dayjs()
            .subtract(7, 'day')
            .utc()
            .format()}`
        },
        {
          show: true,
          name: this.$t('currentMonth'),
          urlFilters: `createdDate>=${dayjs()
            .date(1)
            .utc()
            .format()},createdDate>=${dayjs()
            .date(dayjs().daysInMonth())
            .utc()
            .format()}`
        },
        {
          show: true,
          name: this.$t('longTime'),
          urlFilters: `createdDate<=${dayjs()
            .date(dayjs().daysInMonth())
            .month(dayjs().month() - 1)
            .utc()
            .format()}`
        }
      ],
      n: 0,
      filterText: '',
      search: false,
      showFilters: false,
      filters: '',
      sorts: ''
    }
  },
  computed: {
    isMobile() {
      return this.$mq === 'mobile'
    },
    publicationUrl() {
      return `/Publication`
    },
    customClass() {
      return {
        'column is-12 is-text-white': this.$mq === 'mobile',
        'column is-6 is-text-white': this.$mq === 'tablet',
        'column is-4 is-text-white': this.isDesktop,
        'column is-3 is-text-white': this.isFullHD
      }
    },
    currentCategories() {
      return this.categories
    },
    textSearch() {
      return `${
        this.filterText && this.search ? `&SearchText=${this.filterText}` : ''
      }`
    },
    Item() {
      return {
        type: CardPublication,
        props: {
          hasItemActions: false,
          class: this.customClass,
          showTitlesOnSide: false,
          itemPropNames: {
            image: 'presentationImagePath',
            subtitle: 'description'
          }
        }
      }
    }
  },
  watch: {
    filterText(newVal) {
      if (!newVal) {
        this.search = false
        this.categories.forEach((element) => {
          element.show = undefined
        })
      } else
        setTimeout(() => {
          this.search = true
        }, 1000)
    },
    search(newVal) {
      this.showFilters = newVal
    }
  },
  mounted() {
    this.loadCategory()
  },
  methods: {
    async loadCategory() {
      const responseCategory = await this.$axios.get(
        `/contentchannel/${this.contentChannel.id}/ContentChannelCategory?Filters=PublicationCount>0`
      )
      responseCategory.data.results.forEach((res) => {
        res.show = true
        this.categories.push(res)
      })
    },
    goToPublication(publicationId) {
      this.$router.push('/publication/' + publicationId)
    },
    goToContentsChannel(id) {
      this.$router.push('/contentChannel/' + id)
    }
  }
}
</script>
<i18n>
{
  "en": {
    "recent": "Recent",
    "currentWeek": "Current Week",
    "currentMonth": "Current Month",
    "longTime": "Long Time Ago"
  },
  "es": {
    "recent": "Recientes",
    "currentWeek": "Esta Semana",
    "currentMonth": "Este Mes",
    "longTime": "Hace Tiempo"
  }
}
</i18n>
