<template>
  <div class="social-networks-tab">
    <div v-if="!loading">
      <server-table-component
        ref="table"
        :data-url="getBasePath"
        :locale="$i18n.locale"
        v-bind="tableDefs"
        :custom-headers="true"
        @cleanFilters="cleanAllFilters"
        @available-records="(n) => $emit('items-available', n)"
        @before-form-open="checkIfEditing"
        @open-column-filter="showFilterForm"
        @container-contextmenu="
          (ev) => {
            if (ev) ev.preventDefault()
            rowInCtx = null
            ctxOpen = !ctxOpen
          }
        "
        @contextmenu="
          (ev, row) => {
            if (ev) ev.preventDefault()
            rowInCtx = row
            ctxOpen = !ctxOpen
          }
        "
      >
        <template #right-extra-header-content>
          <b-tooltip
            type="is-primary"
            :label="$t('filter')"
            size="is-small"
            class="filter-button"
          >
            <b-button
              class="table-buttons"
              :rounded="tableDefs.vbuttons.roundedButtons"
              :outlined="tableDefs.vbuttons.outlinedButtons"
              icon-left="filter"
              type="is-primary is-light"
              @click="showFilterForm"
            >
              <span v-show="filtersCount > 0" class="filter-badge">{{
                filtersCount
              }}</span>
            </b-button>
          </b-tooltip>
          <ctx />
        </template>
      </server-table-component>
    </div>
  </div>
</template>

<script>
import {
  AdvancedFilterComponent,
  AutocompleteInput,
  DateColumnComponent,
  IconColumnComponent,
  TextComponent,
  TYPE_FULLDATETIME,
  TYPE_TEXT
} from 'premium-tesh-ui-lib'

import tableContextMenuMixin from '~/mixins/tableContextMenuMixin'
import genericFiltersMixin from '~/mixins/genericFiltersMixin'

export default {
  name: 'SocialNetworksTab',
  mixins: [genericFiltersMixin, tableContextMenuMixin],
  inject: ['permissions'],
  props: {
    isLoading: {
      type: Boolean,
      default: false
    },
    editionMode: {
      type: Boolean,
      default: false
    },
    contentChannelId: {
      type: String,
      default: undefined
    }
  },
  data() {
    return {
      reload: false,
      loading: false,
      tableDefs: {
        vtable: {
          draggable: false,
          headers: [
            {
              text: 'Id',
              value: 'id',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'id'
              }
            },
            {
              text: this.$t('iconLabel'),
              value: 'socialMediaIcon',
              align: 'left',
              sortable: true,
              render: {
                type: IconColumnComponent,
                props: {
                  iconname: ''
                }
              },
              filter: {
                useFilter: false
              }
            },
            {
              text: this.$t('nameLabel'),
              value: 'socialMediaName',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'socialMediaName'
              }
            },
            {
              text: this.$tc('account'),
              value: 'account',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'account'
              }
            },
            {
              text: this.$t('createdBy'),
              value: 'createdBy',
              align: 'left',
              sortable: true,
              custom: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'createdBy'
              }
            },
            {
              text: this.$t('createDateTime'),
              value: 'createdDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'createdDate'
              }
            },
            {
              text: this.$t('modifiedBy'),
              value: 'modifiedBy',
              align: 'left',
              sortable: true,
              custom: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'modifiedBy'
              }
            },
            {
              text: this.$t('modifyDateTime'),
              value: 'modifiedDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'modifiedDate'
              }
            },
            {
              text: this.$t('actions'),
              value: '',
              fixed: true,
              sortable: false,
              cellClass: 'actions-column',
              action: true,
              filter: {
                useFilter: false
              }
            }
          ]
        },
        vbtn: {
          create: {
            show: true,
            type: 'is-info is-light',
            icon: 'plus',
            tooltip: this.$t('create', { element: '' }),
            tooltipType: 'is-info',
            props: {
              rounded: true,
              outlined: true,
              class: 'table-buttons'
            }
          }
        },
        vicon: {
          roundedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          edit: {
            show: this.hasCrudAccess,
            name: 'pencil',
            type: 'is-primary',
            tooltip: {
              label: this.$t('editButton'),
              type: 'is-primary',
              position: 'is-top'
            }
          },
          delete: {
            show: this.hasCrudAccess,
            name: 'delete',
            type: 'is-danger',
            tooltip: {
              label: this.$t('deleteButton'),
              type: 'is-danger',
              position: 'is-left'
            }
          }
        },
        vbuttons: {
          roundedButtons: true,
          outlinedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          buttons: []
        },
        title: this.$t('socialMediaProfiles'),
        modalTitle: this.$t('socialMediaProfiles'),
        headerIcon: 'account-box-multiple-outline',
        form: {
          id: {
            type: null,
            'field-wrapper': { style: 'display: none' },
            'field-input': {
              isRequired: false
            }
          },
          socialMediaId: {
            type: AutocompleteInput,
            value: '',
            'field-wrapper': { class: 'is-12' },
            'field-input': {
              isRequired: true,
              label: this.$tc('socialMedia'),
              expanded: true,
              placeholder: this.$t('placeholderSelect', {
                key: this.$tc('socialMedia').toLowerCase()
              }),
              optionId: 'id',
              optionName: 'name',
              dataUrl: `SocialMedia`,
              allowAdd: false,
              openOnFocus: true
            },
            save: (v) => {
              return v && typeof v === 'object' ? v.id : v
            }
          },
          account: {
            type: TextComponent,
            default: '',
            'field-wrapper': { class: 'is-12' },
            'field-input': {
              label: this.$tc('account'),
              placeholder: this.$t('placeholder', {
                key: this.$tc('account').toLowerCase()
              })
            },
            save: (v) => {
              if (v) {
                const snet = this.tableDefs.form.socialMediaId.value
                if (snet.urlBase) v = v.replace(snet.urlBase, '')
              }
              return v
            }
          }
        }
      },
      filterForm: {
        SocialMediaFilter: {
          title: this.$t('socialMediaProfiles'),
          icon: 'account-box-multiple-outline',
          fields: {
            Id: {
              fieldType: TYPE_TEXT,
              label: 'Id',
              placeholder: this.$t('placeholder', {
                key: 'id'
              }),
              activeOperator: '=='
            },
            SocialMediaName: {
              fieldType: TYPE_TEXT,
              label: this.$tc('socialMedia'),
              placeholder: this.$t('placeholder', {
                key: this.$tc('socialMedia').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            Account: {
              fieldType: TYPE_TEXT,
              label: this.$tc('account'),
              placeholder: this.$t('placeholder', {
                key: this.$tc('account').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            }
          }
        },
        UsersFilter: {
          title: this.$t('users'),
          icon: 'account-group',
          form: {
            CreatedBy: {
              fieldType: TYPE_TEXT,
              label: this.$t('createdBy'),
              placeholder: this.$t('placeholder', {
                key: this.$t('createdBy').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            ModifiedBy: {
              fieldType: TYPE_TEXT,
              label: this.$t('modifiedBy'),
              placeholder: this.$t('placeholder', {
                key: this.$t('modifiedBy').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            }
          }
        },
        DatesFilter: {
          title: this.$tc('date', 2),
          icon: 'calendar',
          form: {
            CreatedDate: {
              fieldType: TYPE_FULLDATETIME,
              label: this.$t('createDateTime'),
              placeholder: this.$t('placeholder', {
                key: this.$t('createDateTime').toLowerCase()
              }),
              value: null
            },
            ModifiedDate: {
              fieldType: TYPE_FULLDATETIME,
              label: this.$t('modifyDateTime'),
              placeholder: this.$t('placeholder', {
                key: this.$t('modifyDateTime').toLowerCase()
              }),
              value: null
            }
          }
        }
      },
      filters: '',
      filtersConstants: {
        Id: 'id',
        SocialMediaName: 'socialMediaName',
        Account: 'account',
        CreatedDate: 'createdDate',
        ModifiedDate: 'modifiedDate'
      },
      filtersCount: 0
    }
  },
  computed: {
    ctxOptions() {
      const opt = [
        { id: 'add', icon: 'plus', name: this.$t('addButton') },
        { id: 'edit', icon: 'pencil', name: this.$t('editButton') },
        { id: 'delete', icon: 'trash-can', name: this.$t('deleteButton') }
      ]

      if (!this.hasCrudAccess) {
        opt.splice(2, 1)
        opt.splice(1, 1)
      }

      return this.rowInCtx ? opt : opt.slice(0, 1)
    },
    getBasePath() {
      return this.reload
        ? ''
        : this.filters !== ''
        ? `contentChannel/${this.contentChannelId}/ContentChannelSocialMedia?filters=${this.filters}`
        : `contentChannel/${this.contentChannelId}/ContentChannelSocialMedia`
    }
  },
  watch: {
    isLoading(newVal) {
      this.loading = newVal
    },
    'socialNetworksDefs.form.socialMediaId.value'(newVal) {
      if (newVal && typeof newVal === 'object') {
        if (newVal.urlBase)
          this.tableDefs.form.account['field-input'].placeholder =
            newVal.urlBase
      }
    }
  },
  created() {
    this.$emit('before-form-open', this.form, 0)
    if (!this.hasCrudAccess) this.tableDefs.vbtn = { create: { show: false } }
    if (!this.ctxOptions.length > 0) this.tableDefs.vtable.headers.splice(-1, 1)
  },
  methods: {
    hasCrudAccess() {
      return (
        this.permissions.includes('DomainAdmin') ||
        this.permissions.includes('AccessAll') ||
        this.permissions.includes('SocialMedia') ||
        this.permissions.includes('ContentChannelSocialMedia')
      )
    },
    showFilterForm(field) {
      const ffield = field && field.useFilter ? field : null
      this.assignColumnFilterForm(ffield)

      this.$buefy.modal.open({
        parent: this,
        component: AdvancedFilterComponent,
        props: {
          form: ffield ? ffield.filterForm : this.filterForm,
          isInModal: true,
          filterType: 'socialN',
          stickyInside: true,
          locale: this.$i18n.locale,
          cardTitle: this.$tc('socialNetworks', 2),
          cardSubtitle: this.$t('filter'),
          enableAdvancedSearch: false,
          modalWidth: ffield ? 500 : 850,
          simpleMode: !!ffield,
          utc: true
        },
        events: {
          'filters-updated': this.updateFilters,
          'count-results': (q) => this.countResults(q, this.getBasePath),
          'filters-count': (v) => (this.filtersCount = v)
        },
        hasModalCard: true,
        destroyOnHide: true,
        trapFocus: true
      })
    },
    checkIfEditing(form, rowId) {
      if (rowId && form) {
        form.socialMediaId['field-wrapper'].style = 'display: none'
      } else if (form) {
        form.socialMediaId['field-wrapper'].style = 'display: initial'
      }
    },
    handleCtxMenuClicked(option, record) {
      if (option && this.$refs.table) {
        if (option.id === 'add') this.$refs.table.formOpen(null)
        else if (option.id === 'edit' && record)
          this.$refs.table.formOpen(record[this.$refs.table.idName])
        else if (option.id === 'delete' && record)
          this.$refs.table.deleteRecord(
            record[this.$refs.table.idName],
            record[this.$refs.table.rowName]
          )
      }
    },
    cleanAllFilters() {
      this.reload = true
      this.filters = ''
      setTimeout(() => {
        this.reload = false
      }, 1000)
      this.filtersCount = 0
    }
  }
}
</script>
<i18n>
{
  "en": {
    "iconLabel": "Icon"
  },
  "es": {
    "iconLabel": "Ícono"
  }
}
</i18n>
