<template>
  <div style="height: 100%">
    <section class="section is-main-section channel-view backimg">
      <b-loading
        v-model="loading"
        :is-full-page="false"
        :can-cancel="false"
      ></b-loading>
      <div class="columns is-multiline">
        <c-channel-portait
          :show-suscribe-button="loggedIn"
          :content-channel="contentChannel"
          class="column"
        >
          <template #top-contents>
            <div class="channel-detail-shadowed">
              <div class="card-image">
                <div class="image-cchannel-sm">
                  <b-image
                    :src="
                      presentationImgErr
                        ? require('@/static/noimage.jpg')
                        : parseServerURL(contentChannel.presentationImagePath)
                    "
                    class="image-overlay has-text-light"
                    placeholder=".png"
                    :lazy="true"
                    ratio="37by6"
                    @error="presentationImgErr = true"
                  ></b-image>
                  <div v-if="smCount > 0" class="box social-media-base">
                    <template>
                      <section>
                        <div class="buttons">
                          <template v-for="(socialMedia, indx) in socialMedias">
                            <a
                              :key="indx"
                              :href="socialMedia.socialMediaAccount"
                            >
                              <b-icon
                                class="icon-sm"
                                :icon="
                                  socialMedia.socialMediaIcon.split(
                                    'mdi mdi-'
                                  )[1]
                                "
                              >
                              </b-icon
                            ></a>
                          </template>
                        </div>
                      </section>
                    </template>
                  </div>
                </div>
              </div>
            </div>
          </template>
        </c-channel-portait>
        <!-- CChannel contents Section -->
        <div class="column is-12 is-channel-section">
          <read-only-tabs :content-channel="contentChannel"></read-only-tabs>
        </div>
      </div>
    </section>
    <custom-dialog ref="cdialog" />
  </div>
</template>

<script>
import CChannelPortait from '~/components/ContentChannelTabs/CChannelPortait.vue'
import ReadOnlyTabs from '~/components/ContentChannelTabs/ReadOnlyTabs.vue'
import utilitiesMixin from '~/mixins/utilitiesMixin'

export default {
  auth: false,
  name: 'ContentChannelView',
  components: {
    ReadOnlyTabs,
    CChannelPortait
  },
  mixins: [utilitiesMixin],
  // eslint-disable-next-line require-await
  async asyncData({ params, $axios, app }) {
    const contentChannel = await $axios
      .get(`/ContentChannel/` + params.id)
      .catch(() => {
        app.router.go(-1)
      })

    return {
      contentChannel: contentChannel.data
    }
  },
  data() {
    return {
      isTextExpanded: true,
      contentChannel: {},
      numberSuscribers: 0,
      itemsRecent: [],
      isShareActive: false,
      currentCategories: [],
      showLiveTV: true,
      showLiveRadio: true,
      activeDisLike: false,
      activeLike: false,
      valorationOff: false,
      categoryLoading: false,
      publicationLoading: false,
      disableSubscription: false,
      hideSubscription: false,
      subscribed: false,
      loading: false,
      presentationImgErr: false,
      logoImgErr: false,
      socialMedias: [],
      smCount: 0
    }
  },
  computed: {
    publicationUrl() {
      return `/contentchannel/${this.contentChannel.id}/Publication`
    },
    liveTvUrl() {
      return `${this.publicationUrl}?filters=mediaType==1,streamType==0`
    },
    liveRadioUrl() {
      return `${this.publicationUrl}?filters=mediaType==0,streamType==0`
    },
    hasRecents() {
      return !this.categoryLoading ? this.itemsRecent.length : true
    },
    permissions() {
      return this.getUserPermissionByDomain(this.contentChannel.id)
    }
  },
  mounted() {
    this.getCchannelSociaMedia()
  },
  methods: {
    getCchannelSociaMedia() {
      this.$axios
        .get(
          `contentchannel/${this.contentChannel.id}/ContentChannelSocialMedia`
        )
        .then((response) => {
          this.socialMedias = response.data.results
          this.smCount = this.socialMedias.length
        })
        .catch(() => {})
    }
  }
}
</script>
<i18n>
{
  "en": {
    "subscribeNotify": "subscribe notification | subscribe notifications",
    "unsubscribeSuccess": "Subscription canceled",
    "subscribed": "Subscription completed",
    "confirmUnsuscribe": "Do you want to unsubscribe?",
    "subscribers": "No suscribers yet | 1 suscriber | {n} suscribers"
  },
  "es": {
    "subscribeNotify": "notificación de suscripción | notificaciones de suscripción",
    "unsubscribeSuccess": "Suscripción cancelada",
    "subscribed": "Suscripción completada",
    "confirmUnsuscribe": "¿Quiere cancelar su suscripción?",
    "subscribers": "Ningún suscriptor | 1 suscriptor | {n} suscriptores"
  }
}
</i18n>
