<template>
  <div>
    <section
      class="section"
      :class="{ 'p-0': isReadonly, 'is-main-section': !checkable }"
    >
      <server-table-component
        ref="table"
        :data-url="getBasePath"
        :locale="$i18n.locale"
        v-bind="tableDefs"
        :show-filter="!isReadonly || checkable"
        :checked-rows-ids="checkedRows"
        :get-checked-rows="getCheckedRows"
        :custom-headers="true"
        :vbtn="vbtn"
        @cleanFilters="cleanAllFilters"
        @before-form-open="cleanForm()"
        @checkedRows="checkRows"
        @open-column-filter="showFilterForm"
        @container-contextmenu="
          (ev) => {
            if (ev) ev.preventDefault()
            rowInCtx = null
            ctxOpen = !ctxOpen
          }
        "
        @contextmenu="
          (ev, row) => {
            if (ev) ev.preventDefault()
            rowInCtx = row
            ctxOpen = !ctxOpen
          }
        "
      >
        <template v-if="isInModal" #header-extra-content>
          <b-button
            rounded
            outlined
            class="mx-5 my-5"
            type="is-light is-primary table-buttons"
            @click="modalClose"
          >
            <b-icon icon="close" size="is-small" />
          </b-button>
        </template>
        <template v-if="isInModal" #extra-content>
          <hr class="is-fullwidth my-3" />
          <b-field grouped position="is-right" style="padding: 0">
            <div class="control">
              <b-button
                outlined
                :disabled="!isAvailableShare && checkedRows.length === 0"
                icon-left="share"
                type="is-info is-light"
                @click="$emit('channels-to-share', checkedRowsItems)"
              >
                <span>{{
                  $t(checkedRowsItems.length ? 'share_some' : 'share', {
                    count: checkedRowsItems.length
                  })
                }}</span>
              </b-button>
              <b-button type="is-light is-primary" outlined @click="modalClose">
                <b-icon icon="close" size="is-small" />
                <span>{{ $t('closeButton') }}</span>
              </b-button>
            </div>
          </b-field>
        </template>
        <template #right-extra-header-content>
          <b-tooltip
            type="is-primary"
            :label="$t('filter')"
            size="is-small"
            class="filter-button"
          >
            <b-button
              class="table-buttons"
              :rounded="true"
              :outlined="true"
              icon-left="filter"
              type="is-primary is-light"
              @click="showFilterForm"
            >
              <span v-show="filtersCount > 0" class="filter-badge">{{
                filtersCount
              }}</span>
            </b-button>
          </b-tooltip>
        </template>
        <template #extra-row-buttons="record">
          <b-tooltip
            v-if="!isInModal"
            type="is-danger"
            :label="$t('deleteButton')"
            size="is-small"
          >
            <b-button
              class="table-buttons"
              :rounded="true"
              :outlined="false"
              icon-left="delete"
              type="is-danger"
              @click="deleteCchannel(record.record)"
            />
          </b-tooltip>
          <b-tooltip
            v-if="!isInModal"
            type="is-info"
            :label="$t('changeAdmins')"
            size="is-small"
          >
            <b-button
              class="table-buttons"
              :rounded="true"
              :outlined="false"
              icon-left="shield-account"
              type="is-info"
              @click="setAdmins(record.record)"
            />
          </b-tooltip>
          <b-tooltip type="is-white" :label="$t('goTo')" size="is-small">
            <b-button
              class="table-buttons"
              :rounded="true"
              :outlined="false"
              icon-left="arrow-right-top"
              type="is-white"
              @click="goToCChannel(record.record.id)"
            />
          </b-tooltip>
        </template>
      </server-table-component>
      <ctx v-if="!isReadonly" />
    </section>
    <b-modal v-model="isModalAdmins">
      <user
        :is-in-modal="true"
        :is-readonly="true"
        :checkable="true"
        :recovery="false"
        :approve="false"
        :assign-admins="true"
        :checked-rows="cChannelAdmins"
        @users-to-action="assigAdmins"
      />
    </b-modal>
  </div>
</template>

<script>
import { AdvancedFilterComponent, DynamicForm } from 'premium-tesh-ui-lib'

import contentChannelMixin from '~/mixins/contentChannelMixin'
import genericFiltersMixin from '~/mixins/genericFiltersMixin'
import tableContextMenuMixin from '~/mixins/tableContextMenuMixin'
import utilitiesMixin from '~/mixins/utilitiesMixin'
import User from '~/pages/users/index.vue'

export default {
  name: 'ContentChannel',
  components: { User },
  mixins: [
    contentChannelMixin,
    genericFiltersMixin,
    utilitiesMixin,
    tableContextMenuMixin
  ],
  meta: {
    requiresAdmin: true
  },
  props: {
    isReadonly: {
      type: Boolean,
      defaul: false
    },
    checkable: {
      type: Boolean,
      defaul: false
    },
    checkedRows: {
      type: Array,
      default: () => []
    },
    isInModal: {
      type: Boolean,
      defaul: false
    },
    isUserCchannels: {
      type: Boolean,
      defaul: false
    },
    checkedObjs: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      cChannelSelected: null,
      isModalAdmins: false,
      tableDefs: {
        vtable: {
          checkable: this.checkable,
          draggable: false,
          headers: []
        },
        vicon: {
          roundedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          edit: {
            show: false
          },
          delete: {
            show: false
          }
        },
        title: this.isInModal
          ? this.$tc('incomingStreamLabel', 2)
          : this.$tc('cardTitle'),
        modalTitle: this.isInModal
          ? this.$tc('incomingStreamLabel', 2)
          : this.$tc('cardTitle'),
        subtitle: this.isInModal ? this.$t('share') : '',
        headerIcon: 'movie',
        showFilter: !this.isReadonly,
        form: {}
      },
      vbtn: {
        create: {
          show: true,
          type: 'is-info is-light',
          icon: 'plus',
          tooltip: this.$t('create', { element: '' }),
          tooltipType: 'is-info',
          props: {
            rounded: true,
            outlined: true,
            class: 'table-buttons'
          }
        }
      },
      vrowButtons: {
        roundedButtons: true,
        outlinedButtons: false,
        size: 'is-small',
        class: 'table-buttons',
        buttons: [
          {
            show: true,
            type: 'is-white',
            icon: 'cog',
            tooltip: {
              label: this.$t('configuration'),
              type: 'is-white',
              position: 'is-left'
            },
            action: (record) => {
              this.showEditConfig(record.record)
            }
          }
        ]
      },
      filterForm: {},
      filters: '',
      filtersConstants: {
        Id: 'id',
        Name: 'name',
        Description: 'description',
        Subcribers: 'subcribersCount',
        AllowLikes: 'allowVisualizeLikes',
        AllowComments: 'allowVisualizeComments',
        AllowNotifications: 'allowVisualizeSubscribeNotifications',
        AllowSubcribers: 'allowVisualizeSubscribe',
        CreatedDate: 'createdDate',
        ModifiedDate: 'modifiedDate',
        Ranking: 'ranking',
        ChannelExclusiveBandwidth: 'channelExclusiveBandwidth'
      },
      filtersCount: 0,
      reload: false,
      isAvailableShare: false,
      checkedRowsItems: [],
      checkedRowsItemsByPage: [],
      firstLoad: true,
      cChannelAdmins: []
    }
  },
  head() {
    return {
      title: this.$config.appName
    }
  },
  computed: {
    titleStack() {
      return ['Admin', 'Tables']
    },
    getBasePath() {
      return this.reload
        ? ''
        : this.filters !== ''
        ? `/ContentChannel${
            this.isUserCchannels ? '/MyContentChannel' : ''
          }?filters=${this.filters}`
        : `/ContentChannel${this.isUserCchannels ? '/MyContentChannel' : ''}`
    },
    ctxOptions() {
      const opt = [
        { id: 'add', icon: 'plus', name: this.$t('addButton') },
        { id: 'delete', icon: 'trash-can', name: this.$t('deleteButton') },
        {
          id: 'changeAdmins',
          icon: 'shield-account',
          name: this.$t('changeAdmins')
        }
      ]

      if (this.isUserCchannels) {
        opt.splice(0, 1)
      }

      return this.rowInCtx ? opt : opt.slice(0, 1)
    }
  },
  watch: {
    isReadonly(newVal) {
      this.toggleActions(newVal)
    },
    checkedRows: {
      handler(newVal) {
        this.tableDefs.vtable.checkedRows = newVal || []
      },
      inmediate: true
    },
    cChannelSelected(newVal) {
      this.getCchannelAdminsEmails(newVal)
    }
  },
  created() {
    this.tableDefs.form = Object.assign({}, this.Form)
    this.tableDefs.vtable.headers =
      this.isReadonly || this.checkable
        ? [this.HeadersCChannel[1]].concat(
            this.HeadersCChannel.slice(3, 4).concat(
              this.HeadersCChannel.slice(10, -2).concat(
                this.HeadersCChannel.slice(-1)
              )
            )
          )
        : this.HeadersCChannel
    this.filterForm = Object.assign({}, this.FilterFormCChannel)
    this.toggleActions(this.isReadonly || this.isUserCchannels)
    if (this.isUserCchannels) {
      const buttonsCol = this.tableDefs.vtable.headers[12]
      if (
        buttonsCol.render.props.buttons &&
        buttonsCol.render.props.buttons.length
      ) {
        buttonsCol.render.props.buttons.splice(1, 1)
      }
      this.tableDefs.vtable.headers.splice(-2, 1)
    }
  },
  methods: {
    handleCtxMenuClicked(option, record) {
      if (option && this.$refs.table) {
        if (option.id === 'add') this.$refs.table.formOpen(null)
        else if (option.id === 'delete' && record) this.deleteCchannel(record)
        else if (option.id === 'changeAdmins' && record) this.setAdmins(record)
      }
    },
    toggleActions(isReadonly) {
      if (isReadonly) {
        this.tableDefs.vbtn = this.vbtn
      } else delete this.tableDefs.vbtn
    },
    showFilterForm(field) {
      const ffield = field && field.useFilter ? field : null
      this.assignColumnFilterForm(ffield)

      this.$buefy.modal.open({
        parent: this,
        component: AdvancedFilterComponent,
        props: {
          form: ffield ? ffield.filterForm : this.filterForm,
          isInModal: true,
          filterType: 'channel',
          stickyInside: true,
          locale: this.$i18n.locale,
          cardTitle: this.$tc('cardTitle', 2),
          cardSubtitle: this.$t('filter'),
          enableAdvancedSearch: false,
          modalWidth: ffield ? 500 : 850,
          simpleMode: !!ffield,
          utc: true
        },
        events: {
          'filters-updated': this.updateFilters,
          'count-results': (q) => this.countResults(q, this.getBasePath),
          'filters-count': (v) => (this.filtersCount = v)
        },
        hasModalCard: true,
        destroyOnHide: true,
        trapFocus: true
      })
    },
    async showEditConfig(cChannel, administration = false) {
      const permsConfig = {}
      if (administration) {
        let config
        await this.$axios
          .get(`contentchannel/${cChannel.id}/ContentChannelConfig`)
          .then((response) => {
            config = response.data
          })
          .catch((error) => {
            this.$buefy.toast.open({
              message: `Error: ${
                error.response.data ? error.response.data.message : 'Error'
              }`,
              type: 'is-danger'
            })
          })
        Object.assign(permsConfig, this.SystemConfigForm)
        this.loadFormData(permsConfig, config)
      } else {
        permsConfig.permissions = this.contentChannelConfig
        permsConfig.permissions.value = this.getCChannelPermsList(cChannel)
      }

      this.$buefy.modal.open({
        parent: this,
        component: DynamicForm,
        props: {
          form: permsConfig,
          isInModal: true,
          locale: this.$i18n.locale,
          cardTitle: this.$tc('cardTitle'),
          cardSubtitle: administration
            ? this.$t('configuration')
            : this.$tc('permission', 2),
          cardWidth: 700,
          preventSubmit: true,
          closeOnSubmit: false
        },
        events: {
          onSubmit: (data, parent) => {
            const record = {
              contentChannelId: cChannel.id,
              ranking: data.ranking,
              channelExclusiveBandwidth: data.channelExclusiveBandwidth
            }
            Object.assign(record, data.permissions)
            if (administration) this.submitConfigUpdate(record, parent)
            else {
              this.submitPermissionsUpdate(record, parent)
            }
          }
        },
        hasModalCard: true,
        destroyOnHide: true,
        trapFocus: true,
        canCancel: ['escape', 'x']
      })
    },
    getCChannelPermsList(cChannel) {
      const resList = []
      if (cChannel.allowVisualizeComments)
        resList.push('allowVisualizeComments')
      if (cChannel.allowVisualizeLikes) resList.push('allowVisualizeLikes')
      if (cChannel.allowVisualizeSubscribe)
        resList.push('allowVisualizeSubscribe')
      if (cChannel.allowVisualizeSubscribeNotifications)
        resList.push('allowVisualizeSubscribeNotifications')

      return resList
    },
    submitPermissionsUpdate(record, parent) {
      this.$axios
        .put(`/ContentChannel/${record.contentChannelId}/ConfigAllow`, record)
        .then((result) => {
          this.$buefy.toast.open({
            message: this.$t('editSuccess'),
            type: 'is-success'
          })
          this.reload = true
          parent.close()
          setTimeout(() => {
            this.reload = false
          }, 100)
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err && err.data ? err.data.message : 'Error',
            type: 'is-danger'
          })
        })
    },
    submitConfigUpdate(record, parent) {
      this.$axios
        .put(
          `/ContentChannel/${record.contentChannelId}/ContentChannelConfig`,
          record
        )
        .then((result) => {
          this.$buefy.toast.open({
            message: this.$t('editSuccess'),
            type: 'is-success'
          })
          this.reload = true
          parent.close()
          setTimeout(() => {
            this.reload = false
          }, 100)
        })
        .catch((err) => {
          this.$buefy.toast.open({
            message: err && err.data ? err.data.message : 'Error',
            type: 'is-danger'
          })
        })
    },
    checkRows(val, page, records) {
      if (!this.checkedRowsItemsByPage[page - 1]) {
        this.checkedRowsItemsByPage.push([page, val])
      } else this.checkedRowsItemsByPage[page - 1][1] = val

      const topush = this.checkedRowsItemsByPage.filter(function (el) {
        return el[1].length > 0
      })

      this.checkedRows.forEach((el) => {
        let add = true
        if (this.checkedRowsItems.length > 0) {
          this.checkedRowsItems.forEach((item) => {
            if (item === el) add = false
          })
        }
        if (add) this.checkedRowsItems.push(el)
      })

      topush.forEach((element) => {
        element[1].forEach((pushEl) => {
          if (!this.checkedRowsItems.includes(pushEl.id))
            this.checkedRowsItems.push(pushEl.id)
        })
      })

      this.checkedRowsItems.forEach((check, i) => {
        let deleteCheck = true
        topush.forEach((element) => {
          element[1].forEach((pushEl) => {
            if (check === pushEl.id) deleteCheck = false
          })
        })
        let isInPage = false
        records.forEach((element) => {
          if (check === element.id) isInPage = true
        })
        if (deleteCheck && isInPage) this.checkedRowsItems.splice(i, 1)
      })

      const equals = (a, b) => JSON.stringify(a) === JSON.stringify(b)
      if (!equals(this.checkedRowsItems, this.checkedRows))
        this.$emit('updated-checked', this.checkedRowsItems)

      if (this.checkedRowsItems.length !== 0) {
        this.isAvailableShare = true
      } else {
        this.isAvailableShare = false
      }
    },
    modalClose() {
      let parent = this.$parent
      let isClosed = false
      while (!isClosed) {
        try {
          parent.close()
          isClosed = true
        } catch (error) {
          parent = parent.$parent
        }
      }
      this.$emit('modalClose')
    },
    getCheckedRows(ids, records) {
      let data = []
      if (records && records.length) {
        data = data.concat(records.filter((item) => ids.includes(item.id)))
      }
      return data
    },
    assigAdmins(usersList) {
      this.isModalAdmins = false
      const usersEmailsOrName = usersList.map(function (user) {
        return user
      })

      this.$axios
        .post(`contentchannel/${this.cChannelSelected}/ContextedRole/user`, {
          userEmailOrName: usersEmailsOrName,
          roleId: ['0e76f543-82c2-4bcc-bf71-a881fb656162']
        })
        .then((response) => {
          this.$buefy.toast.open({
            message: this.$t('changeAdminsSuccess'),
            type: 'is-success'
          })
        })
        .catch((err) => {
          this.toastError(err)
        })
    },
    setAdmins(record) {
      this.isModalAdmins = true
      this.cChannelSelected = record.id
    },
    getCchannelAdminsEmails(cchannel) {
      this.cChannelAdmins = []
      this.$axios
        .get(`contentchannel/${cchannel}/ContextedRole/alluser`)
        .then((response) => {
          response.data.results.forEach((user) => {
            user.roles.forEach((role) => {
              if (role.id === '0e76f543-82c2-4bcc-bf71-a881fb656162') {
                this.cChannelAdmins.push(user.email)
              }
            })
          })
        })
    },
    editCchannel(record) {
      this.Form.id.value = record.id
      this.Form.logoPath.value = record.logoPath
      this.Form.presentationImagePath.value = record.presentationImagePath
      this.Form.name.value = record.name
      this.Form.description.value = record.description

      this.$buefy.modal.open({
        parent: this,
        component: DynamicForm,
        props: {
          form: this.Form,
          cardTitle: this.$tc('contentChannelLabel', 1),
          cardSubtitle: this.$tc('edit', {
            element: ''
          }),
          preventSubmit: true,
          isInModal: true,
          cardWidth: 700,
          locale: this.$i18n.locale,
          closeOnSubmit: false
        },
        events: {
          onSubmit: (values, parent) => {
            this.$axios
              .put(`ContentChannel/${record.id}`, {
                description: values.description,
                name: values.name,
                logoPath: values.logoPath,
                presentationImagePath: values.presentationImagePath
              })
              .then(() => {
                this.$buefy.toast.open({
                  message: this.$t('editSuccess'),
                  type: 'is-success'
                })
                this.reload = true
                parent.close()
                setTimeout(() => {
                  this.reload = false
                }, 1000)
              })
              .catch((err) => {
                this.toastError(err)
              })
          }
        },
        hasModalCard: true,
        trapFocus: true,
        canCancel: ['escape', 'x']
      })
    },
    deleteCchannel(record) {
      this.$refs.table.$refs.cdialog.confirm({
        title: this.$tc('cchannel', 1),
        subtitle: this.$t('delete', { element: '' }),
        message: this.$t('confirmDelete', { key: record.name }),
        type: 'is-danger',
        cancelText: this.$t('cancelButton'),
        confirmText: this.$t('deleteButton'),
        onConfirm: () => {
          this.$axios
            .delete(`ContentChannel/${record.id}`)
            .then(() => {
              this.reload = true
              this.$buefy.toast.open({
                message: this.$t('deleteSuccess'),
                type: 'is-success'
              })
              setTimeout(() => {
                this.reload = false
              }, 1000)
            })
            .catch((err) => {
              this.toastError(err)
            })
        }
      })
    },
    cleanForm() {
      this.tableDefs.form.id.default = ''
      this.tableDefs.form.logoPath.default = ''
      this.tableDefs.form.presentationImagePath.default = ''
      this.tableDefs.form.name.default = ''
      this.tableDefs.form.description.default = ''
    },
    cleanAllFilters() {
      this.reload = true
      this.filters = ''
      setTimeout(() => {
        this.reload = false
      }, 1000)
      this.filtersCount = 0
    }
  }
}
</script>
<i18n>
{
  "en": {
    "cardTitle": "Content Channel | Content Channels",
    "nameLabel": "Name",
    "descriptionLabel": "Description",
    "likesLabel": "Likes",
    "commentLabel": "Comments",
    "notificationLabel": "Notifications",
    "subcriberLabel": "Subcribers",
    "rankingLabel": "Ranking",
    "channelExclusiveBandwidthLabel": "Exclusive Bandwidth",
    "ownerIdLabel": "Owner Id",
    "subscribeNotify": "subscribe notification | subscribe notifications",
    "selectChannel": "Select Content Channel",
    "changeAdmins": "Assign admin",
    "changeAdminsSuccess": "Admin(s) assigned successfully"
  },
  "es": {
    "cardTitle": "Canal de Contenido | Canales de Contenido",
    "nameLabel": "Nombre",
    "descriptionLabel": "Descripción",
    "likesLabel": "Likes",
    "commentLabel": "Commentarios",
    "notificationLabel": "Notificaciones",
    "subcriberLabel": "Suscriptores",
    "rankingLabel": "Ranking",
    "channelExclusiveBandwidthLabel": "Ancho de Banda Exclusivo",
    "ownerIdLabel": "Id del Propietario",
    "subscribeNotify": "notificacion de suscripción | notificaciones de suscripción",
    "selectChannel": "Seleccione un Canal de Contenido",
    "changeAdmins": "Asignar administrador",
    "changeAdminsSuccess": "Administrador(es) asignado(s) satisfactoriamente"
  }
}
</i18n>
