<template>
  <section class="section is-main-section">
    <publications-filter
      :criteria="criteria"
      :class="{ 'mx-6': $mq !== 'mobile' }"
    >
      <template #publications-container="data">
        <publications-tab
          :url="data.searchUrl"
          :edition-mode="false"
          :show-titles-on-side="true"
          :items-to-load="$mq === 'mobile' ? 10 : 20"
          :custom-class="
            !$mq === 'mobile'
              ? 'column is-12 is-text-white'
              : 'column is-6 is-text-white'
          "
          max-height="80 vh"
          :class="{ 'px-6': $mq !== 'mobile' }"
        />
      </template>
    </publications-filter>
  </section>
</template>

<script>
import PublicationsTab from '~/components/ContentChannelTabs/PublicationsTab.vue'
import PublicationsFilter from '~/components/Publications/PublicationsFilter.vue'

export default {
  components: { PublicationsTab, PublicationsFilter },
  provide() {
    return {
      permissions: []
    }
  },
  computed: {
    criteria() {
      return this.$store.state.searchCriteria
    }
  },
  watch: {
    criteria(newVal) {
      if (!newVal) this.$router.go(-1)
    }
  },
  beforeDestroy() {
    this.$store.commit('basic', { key: 'searchCriteria', value: null })
  }
}
</script>
