// Import default theme of premium-tesh
@import '~premium-tesh-ui-lib/src/styles/scss/_theme-default.scss';
@import 'animate.css';

body {
  font-family: 'Helvetica' !important;
}

.navbar {
  background: linear-gradient(179deg, black, rgb(95, 94, 94)) !important;
}

// Customize colors
$primary: #71c837;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);
$page-background: linear-gradient(122deg, #03144a, rgba(0, 0, 0, 0)),
  linear-gradient(181deg, #00f6fa, transparent),
  linear-gradient(18deg, #69c836, rgba(0, 0, 0, 0.32157)),
  linear-gradient(22deg, #72ef2e, rgba(0, 0, 0, 0.32157));

// Links
$link: $primary;
$link-light: $primary-light;
$link-dark: $primary-dark;
$link-invert: $primary-invert;
$link-focus-border: $primary;
$link-hover: $white;
$link-hover-border: $primary;

strong {
  color: #ffffff !important;
}

// Loading color
$loading-background: rgba(206, 162, 170, 0);

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
  (
    'primary': (
      $primary,
      $primary-invert,
      $primary-light,
      $primary-dark
    ),
    'link': (
      $link,
      $link-invert,
      $link-light,
      $link-dark,
      $link-hover,
      $link-hover-border
    )
  ),
  $custom-colors
);

// Importing general styles from premium-tesh-ui-lib
@import '~premium-tesh-ui-lib/src/styles/scss/main.scss';

// Importing styles from custom components
@import '~bulma-timeline';

@mixin page-baground-degradeted {
  height: 100%;
  background: $page-background;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  scrollbar-width: thin; /* "auto" or "thin" Firefox */
  scrollbar-color: $primary transparent; /* scroll thumb and track Firefox*/

  /* width horizontal and vertical */
  ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 0px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 6px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $primary;
    transition-duration: 0.8s;
  }

  &.has-sidebar-left {
    &.has-sidebar-expanded {
      body {
        padding-left: 7rem;
      }
    }

    section.is-main-section {
      height: 100%;
      min-height: 92.5vh;
      overflow: hidden;
    }
    .share-color {
      color: #1b122d;
      &:hover {
        color: #71c837;
      }
    }
    .navbar-brand.is-logo {
      .navbar-tools-label {
        > figure {
          img {
            object-fit: contain;
          }
        }
      }
    }
    .navbar-menu {
      &.columns {
        width: 70%;
      }
    }
  }

  div#app {
    @include page-baground-degradeted;
    > footer {
      width: 100%;
      border: none;
      color: white;
    }
    &.has-aside-expanded {
      body {
        padding-left: 0rem;
      }
      nav.navbar {
        padding-left: 0.2rem;
      }
    }
  }

  .has-custom-scroll {
    scrollbar-width: thin;
    &.overflow-x-hidden {
      overflow-x: hidden;
    }
  }
}

@media screen and (max-width: 475px) {
  html.has-aside-mobile-transition body {
    padding-left: 0 !important;
    > div.b-sidebar {
      display: none;
    }
    section.is-main-section {
      max-width: 100%;
    }
  }
}

input[type='search'] {
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
}

input[type='search'].dark {
  background: #222;
  color: #fff;
}

input[type='search'].light {
  background: #fff;
  color: #222;
}

input[type='search']::-webkit-search-cancel-button {
  display: none;
}

// Slider's border
.b-slider.is-primary .b-slider-track {
  border: 1px solid #7957d5;
}

// Slider's thump border radius
.b-slider-thumb {
  border-radius: 25px !important;
}

// GSTC chart content
.gstc__chart-calendar-date {
  justify-content: center;
}
div.control.datepicker {
  z-index: 60;
  & .dropdown-menu {
    scrollbar-width: thin;
  }
}
.master-details__header {
  margin-bottom: 0.5rem;
}
.master-details__master {
  min-width: 28vw;
}
td.is-inline-flex {
  > span {
    display: inline-flex;
  }
}
div.obfuscate-detail-modal {
  div.card-section.table-container.no-header-container {
    div.card-content {
      border-radius: 2rem;
    }
  }
}
div.tree-scrolls-styled {
  > div.tree {
    scrollbar-width: thin;
  }
}

// Sidebar
.b-sidebar {
  &.collapsible {
    > .sidebar-content {
      max-width: 12rem;
    }
    &.collapsed {
      > .sidebar-content {
        max-width: 5rem;
        overflow: initial;
        section.b-tooltips {
          text-align: center;
        }
      }
    }
  }
  &.mini {
    .icon-sidebar .icon-text span:nth-child(2) {
      text-align: center;
    }
    .icon-sidebar .icon-text .icon {
      vertical-align: middle;
    }
  }
  &.mobile .sidebar-content:not(.collapsed) {
    max-width: 15rem;
    .icon-sidebar .icon-text span:nth-child(1) {
      display: inline;
      transition: display 0.5s ease-in;
    }
  }
  &.reduce
    .sidebar-content.is-fixed
    .icon-sidebar
    .icon-text
    span:nth-child(2) {
    display: none;
    transition: display 0.5s ease-in;
  }
  &.incremented {
    @media screen and (min-width: 2290px) {
      > div.sidebar-content {
        background: linear-gradient(
          179deg,
          #2a2a2a,
          black,
          black,
          black,
          black
        );
      }
    }
    @media screen and (min-width: 1710px) {
      > div.sidebar-content {
        background: linear-gradient(
          179deg,
          #303030,
          black,
          black,
          black,
          black
        );
      }
    }
    @media screen and (max-width: 1400px) {
      > div.sidebar-content {
        background: linear-gradient(
          179deg,
          #3b3b3b,
          black,
          black,
          black,
          black
        );
      }
    }
    @media screen and (max-width: 1350px) {
      > div.sidebar-content {
        background: linear-gradient(
          179deg,
          #3d3d3d,
          black,
          black,
          black,
          black
        );
      }
    }
    @media screen and (max-width: 1100px) {
      > div.sidebar-content {
        background: linear-gradient(
          179deg,
          #3f3f3f,
          black,
          black,
          black,
          black
        );
      }
    }
    @media screen and (max-width: 1021px) {
      > div.sidebar-content {
        background: linear-gradient(
          181deg,
          #494949,
          black,
          black,
          black,
          black
        );
      }
    }
    @media screen and (max-width: 620px) {
      > div.sidebar-content {
        background: linear-gradient(
          181deg,
          #4c4c4c,
          black,
          black,
          black,
          black
        );
      }
    }
    @media screen and (max-width: 550px) {
      > div.sidebar-content {
        background: linear-gradient(
          181deg,
          #505050,
          black,
          black,
          black,
          black
        );
      }
    }
    @media screen and (max-width: 400px) {
      > div.sidebar-content {
        background: linear-gradient(
          180.5deg,
          #525252,
          black,
          black,
          black,
          black
        );
      }
    }
    @media screen and (max-width: 310px) {
      > div.sidebar-content {
        background: linear-gradient(
          180.5deg,
          #535353,
          black,
          black,
          black,
          black
        );
      }
    }
  }
  > div.sidebar-content {
    top: 3.2rem !important;
    background: linear-gradient(179deg, #363636, black, black, black, black);
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
  .menu-list {
    padding-top: 10px;
  }
  .icon-sidebar .icon-text {
    &.is-active {
      .icon {
        color: $primary;
      }
    }
    .icon {
      vertical-align: middle;
      > i::before {
        font-size: xx-large;
      }
    }
  }
}

@media screen and (max-width: 475px) {
  html.has-aside-mobile-transition body > div.b-sidebar {
    display: initial;
  }
}

.overflow-ellipsis-5 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.overflow-ellipsis-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.overflow-ellipsis-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

div.navbar-tools {
  figure {
    max-width: 2.2rem;
  }
}
span.menu-item-divider {
  &.last-divider {
    &:last-of-type {
      display: none;
    }
  }
}
div.nav-bar-menu-inner {
  div#navbar-searcher {
    margin-top: 1.4rem;
  }
}
div#navbar-searcher {
  padding-top: 1rem;
  input {
    background-color: transparent;
    color: white;
    transition-duration: 0.5s;
    &::placeholder {
      color: whitesmoke;
    }
    &:focus {
      border-color: $primary;
    }
    &:hover {
      &::placeholder {
        color: white;
      }
    }
  }
  .control.has-icons-right {
    &.animate__animated {
      span.icon.is-right {
        > i {
          animation: pulse;
          animation-duration: 800ms;
        }
      }
    }
    &.has-active-criteria {
      span.icon.is-right {
        > i {
          color: $primary;
        }
      }
    }
  }
  .control.has-icons-right {
    span.icon.is-right {
      > i {
        color: white !important;
      }
      :hover {
        color: $primary !important;
      }
    }
  }
  .control.has-icons-left {
    span.icon.is-left {
      > i {
        color: white !important;
      }
    }
  }
}
#searcher.m-0 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#searcher {
  span.icon.is-right {
    > i {
      color: white;
    }
    :hover {
      color: $primary;
    }
  }
  span.icon.is-left {
    > i {
      color: white;
    }
  }
}

div.navbar-end {
  div.dropdown-trigger {
    a.navbar-item {
      &:hover {
        color: white;
      }
      span:not(.icon) {
        display: none;
      }
      span:first-child {
        border-radius: 50%;
        background: $primary;
        padding: 1rem;
        margin: 0 auto !important;
      }
    }
  }
}
//Navbar small screen
.navbar-dropdown-menu {
  @media (min-width: 50px) and (max-width: 1022px) {
    padding-bottom: 0;
  }
}
nav.navbar
  div.navbar-menu.fadeIn.animated.columns
  > div.navbar-dropdown-menu-content
  > div.column
  > a {
  white-space: nowrap;
}

.navbar-dropdown-menu-content {
  display: inline-flex;
  align-items: center;
  font-size: inherit;
  &.nav-bar-menu-inner {
    font-size: small;
    margin-bottom: 0;
    align-items: center;
    height: auto;
    padding-block: 0;
    > div.navbar-end > .navbar-item {
      border-right: none;
    }
  }
  > a {
    color: #6c6e86;
    text-transform: capitalize;
    font-weight: 400;
    &:hover {
      border-radius: 0.5rem;
      transition-duration: 0.4s;
    }
    &.nuxt-link-active {
      color: $primary;
      border-radius: 0.5rem;
      transition-duration: 0.4s;
    }
  }
}

// Reels
div.reel {
  .carousel-item-skeleton {
    > div.b-skeleton:first-child {
      > div.b-skeleton-item {
        min-height: 8vh;
      }
    }
  }
  &.fancy-arrows {
    div.carousel-list {
      div.carousel-arrow {
        > span {
          top: 40%;
          border-color: transparent;
          background-color: transparent;
          color: $primary;
          &.has-icons-left {
            left: 0;
            top: 40%;
          }
          &.has-icons-right {
            right: 0;
            top: 40%;
          }
        }
      }
    }
  }
  &.custom-media-reel {
    &:not(:hover) {
      button {
        &.is-show-on-hover {
          display: none;
          transition-duration: 300ms;
        }
      }
    }
    &.custom-controls-onside {
      > div.columns {
        > div.column:not(.carousel-list.media-reel) {
          display: flex;
          align-items: center;
          justify-content: center;
          > button {
            transform: translateY(-50%);
          }
        }
      }
    }
    button {
      &.custom-carousel-controls {
        &:not(.is-rounded) {
          &:focus {
            border: 0px;
            box-shadow: none;
          }
        }
        &:not(.is-outlined) {
          &:focus {
            border: 0px;
            box-shadow: none;
          }
        }
        &.is-rounded {
          span.icon {
            align-items: center;
            margin-top: 0.6rem;
          }
        }
        &.is-outlined {
          &:hover:not(:disabled) {
            border-color: $primary;
            background-color: transparent;
          }
          &:focus {
            border-color: $primary !important;
            background-color: transparent;
            span.icon {
              color: $primary;
            }
          }
        }
        span.icon {
          color: white;
        }
        &:not(:disabled) {
          &:hover {
            span.icon {
              color: $primary;
            }
          }
          &:focus {
            border-color: transparent;
          }
        }
        &:disabled {
          background-color: transparent;
          border-color: transparent;
          cursor: default;
        }
      }
    }
  }
  div.carousel-list {
    div.carousel-slide {
      &:hover {
        transform: scale3d(0.9, 0.9, 0.9);
        transition-duration: 0.3s;
      }
      width: 300.6px !important;
    }
  }
  .media-reel {
    div.card-image {
      &:not(:hover) {
        > span.item-shadow {
          display: none;
        }
      }
      > span.item-shadow {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        background: #2c2d3ad1;
        color: white;
        justify-content: center;
        display: flex;
        cursor: pointer;
      }
    }
  }
}
.right-actions {
  position: absolute;
  right: 0;
  transform: translateY(3.3rem);
  display: grid;
}

//Other customizations
div.filter-button {
  button.table-buttons {
    max-width: 80%;
    margin-right: 0;
    span.icon:first-child {
      margin: 0;
      display: contents;
    }
    span {
      span.filter-badge {
        margin: 0px;
        font-weight: bolder;
        font-size: smaller;
        right: -0.8rem;
        top: -0.4rem;
        position: absolute;
        border-radius: 50%;
        width: auto;
        min-width: 0.88rem;
        max-height: 0.9rem;
        /* padding: 0.1rem; */
        align-items: center;
        color: white;
        background: #48c774;
        justify-content: center;
        display: flex;
      }
      + span.icon {
        margin: 0;
        display: contents;
      }
    }
  }
}

div.field-mr-30 {
  div.field-label {
    margin-right: 30%;
  }
}
.custom-white-bkg {
  background-color: gainsboro;
  height: 0.18rem !important;
  opacity: 0.4;
  width: 100%;
}
.publicationData .custom-white-bkg {
  background-color: #1e9b59;
  height: 0.18rem !important;
  opacity: 0.4;
  width: 100%;
}
.is-text-white {
  color: white;
  strong {
    color: white;
  }
  p {
    color: white;
  }
  a {
    color: white;
  }
  label {
    color: white;
  }
}
.px-8 {
  padding-inline: 5rem !important;
}
.is-aligned-center {
  margin: 0 auto;
}
.is-justified-center {
  justify-content: center;
}
.is-fullwidth {
  width: 100%;
}
button {
  &.icon-only {
    padding: 0.2rem;
    &:hover {
      transition: display 0.8s;
    }
    > span.icon.is-small {
      font-size: medium;
      margin: 0 auto !important;
      + span {
        transition: display 0.8s;
        display: none;
      }
    }
    &.expand-hover {
      &:hover {
        > span.icon.is-small {
          + span {
            transition: display 0.8s;
            width: auto;
            display: initial;
          }
        }
      }
    }
  }
}
button.is-text {
  &.title {
    text-decoration: none;
    justify-content: flex-start;
    &:hover {
      background: transparent;
    }
    &:focus {
      background: transparent;
      box-shadow: none;
    }
  }
  &.has-text-wrapp {
    white-space: pre-wrap;
  }
}
button.suscribe {
  &.is-disabled {
    background-color: darkgray !important;
    transition-duration: 0.3s;
  }
}
div#searcher {
  input {
    background-color: transparent;
    color: white;
    &:focus {
      border-color: $primary;
    }
    &:hover {
      &::placeholder {
        color: white;
      }
    }
    &:not(:hover) {
      &::placeholder {
        color: rgb(180, 180, 180);
      }
    }
  }
}
.noShadows {
  .item-shadow {
    height: 0px !important;
  }
}
.transparent {
  background-color: transparent;
}
.span-flex {
  span {
    display: flex;
  }
}

// Publication/Channel views
@mixin publicationSkeletons {
  .item-skeleton-image {
    display: grid;
    > img:not(.is-rounded) {
      border-radius: 0.25rem;
    }
  }
  .item-skeleton-text {
    display: flex;
    align-content: flex-start;
    max-width: 22rem;
    flex-wrap: wrap;
    > p.subtitle {
      width: 100%;
    }
  }

  &.is-mobile-tablet {
    min-width: 6rem;
    .item-skeleton-image {
      min-height: 9rem;
    }
  }
  &.is-desktop {
    min-width: 20rem;
    max-width: 20rem;
    padding-left: 20px;
    .item-skeleton-image {
      min-height: 10rem;
    }
  }
  &.is-full-hd {
    min-width: 10rem;
    .item-skeleton-image {
      min-height: 12rem;
    }
  }
}
div.card-titled-picture {
  @include publicationSkeletons;
}

section.channel-view {
  div.is-channel-portait {
    overflow: hidden;
    > div.channel-detail-shadowed {
      background-color: #2c2d3ad1;
      border-radius: 0.25rem;
      padding: 0.8rem;
      height: max-content;
      min-height: 15vh;
      figure.image-overlay {
        overflow: hidden;
        margin: 0 auto;
        min-height: inherit;
      }
      p {
        position: absolute;
        transform: translateY(-15rem);
        width: 90%;
        text-align: center;
        max-height: 28rem;
        overflow: hidden;
      }
    }
    span.logo-title {
      > figure {
        max-width: 6rem;
        overflow: hidden;
        margin: 0 auto;
        align-self: center;
        > img {
          height: 100%;
          min-height: 6rem;
        }
      }
      span.titles {
        width: 100%;
      }
    }
  }
  div.is-channel-section {
    > div.columns {
      div.card-titled-picture {
        cursor: pointer;
        @include publicationSkeletons;
      }
    }
  }
}
div.b-tabs.section-tabs {
  &.edition-tabs {
    nav.tabs {
      scrollbar-width: thin;
      overflow-x: overlay;
      overflow-y: hidden;
    }
  }
  > nav.tabs {
    overflow-y: hidden;
    > ul {
      li {
        &:not(.is-active) {
          a {
            color: white;
          }
        }
      }
    }
  }
  > section.tab-content {
    flex-basis: min-content;
  }
}
article.category-card {
  > header {
    div {
      width: 100%;
      align-items: center;
      display: inline-flex;
      button {
        &:hover {
          > span.icon {
            color: $primary;
          }
        }
      }
    }
  }
}
div.section-right-scrollable {
  div.b-tabs {
    height: 100%;
    > nav.tabs {
      scrollbar-width: thin;
      overflow-x: overlay;
      overflow-y: hidden;
      > ul {
        border-bottom-color: transparent;
        li {
          &:not(.is-active) {
            a {
              color: white;
            }
          }
        }
      }
    }
    > section.tab-content {
      height: 100%;
      &.is-transitioning {
        div.section-contents {
          overflow: hidden !important;
        }
      }
    }
  }
  div.section-contents {
    &:not(.is-full-display) {
      overflow-y: auto;
      overflow-x: hidden !important;
      height: 100%;
      &:not(.is-mobile-tablet) {
        max-height: 50vh;
      }
      &.is-desktop {
        max-height: 65vh;
      }
      &.is-full-hd {
        max-height: 65vh;
      }
    }
    div.card-titled-picture {
      width: 100%;
      &.publication {
        &:hover {
          animation: bounce;
          animation-duration: 2s;
        }
        .publication-image {
          overflow: hidden;
        }
        button.is-text.title {
          font-size: initial;
          white-space: normal;
          justify-self: flex-start;
          > span {
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  div.section-right-scrollable {
    div.section-contents {
      &:not(.is-mobile-tablet) {
        max-height: 34vh;
      }
    }
  }
}

figure.image-overlay {
  overflow: hidden;
  &:hover {
    overflow: overlay !important;
    scrollbar-width: thin;
  }
}

#formCreateCategoryPub .card {
  border-radius: 0rem;
}

#formCreateCategoryPub {
  p.card-header-subtitle {
    font-weight: normal;
    font-size: 1rem !important;
    padding: 0.5rem 1rem 1.5rem;
  }
  p.card-header-title {
    padding-bottom: 0rem;
  }
}

// CardTitledPicture
div.card-titled-picture {
  > article {
    width: 100%;
  }
  div.max-logo {
    max-width: 35%;
    > figure {
      height: auto;
      width: 100%;
      &.publication-image {
        overflow: hidden;
        > img {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
          border-radius: 0.25rem;
        }
      }
      > img {
        height: auto;
        width: auto;
      }
    }
  }
  div.card-image {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: fit-content;
    &:not(:hover) {
      > span.item-shadow {
        display: none;
      }
    }
    > span.item-shadow {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      background: #2c2d3ad1;
      color: white;
      justify-content: center;
      display: flex;
      cursor: pointer;
    }
  }
}
div.card-titled-picture {
  min-width: 10rem;
  &.card {
    border-radius: 0.25rem;
    border: 0px transparent;
    background-color: transparent;
    > .card-image {
      &.is-rounded {
        background: transparent;
        box-shadow: none;
        width: 30%;
        img {
          border-radius: 9999px;
        }
      }
      img {
        border-radius: 0.3rem;
      }
    }
    > .card-content {
      border-radius: 0px transparent;
      background-color: transparent;
    }
    &.publication {
      &:not(.is-mobile):not(.is-tablet) {
        &:hover {
          animation: pulse;
          animation-duration: 0.7s;
        }
      }
      > .card-content {
        h2.title {
          margin-bottom: 0.3rem;
        }
        h2.channel-link {
          color: #ccc;
          &:hover {
            color: $primary-light;
          }
        }
      }
    }
  }
  &.is-in-carousel {
    .card-image {
      width: 88%;
    }
    .card-content {
      width: 88%;
    }
  }
  &.has-horizontal-contents {
    display: flex;
    .card-image {
      width: 50%;
      &.is-rounded {
        + .card-content {
          width: 70%;
          margin-top: 1rem;
        }
      }
    }
    > .card-content {
      width: 50%;
      margin-left: 0.5rem;
    }
  }
}
// Reel Hooper
.hooper-carousel {
  &.has-no-data {
    .hooper-track {
      display: none;
    }
  }
  > div.hooper-list {
    > .hooper-track {
      outline: none;
    }
    &:hover {
      button.custom-carousel-controls {
        &.is-show-on-hover {
          display: flex;
        }
      }
    }
    button.custom-carousel-controls {
      transition-duration: 0.5s;
      &.is-ghost:not(:hover) {
        i {
          color: white;
        }
      }
      &.is-show-on-hover {
        display: none;
      }
      &:focus {
        box-shadow: none;
      }

      &.right {
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(5rem);
      }
      &.left {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(5rem);
      }
    }
    > div.hooper-navigation {
      button {
        > .icon {
          transition: color 0.5s;
          height: 2rem;
          width: 2rem;
        }
        &:hover {
          > .icon {
            path:last-child {
              color: $primary;
            }
          }
        }
      }
      &.is-medium {
        button {
          > .icon {
            height: 2.5rem;
            width: 2.5rem;
          }
        }
      }
      &.is-large {
        button {
          > .icon {
            height: 3.2rem;
            width: 3.2rem;
          }
        }
      }
    }
  }
}

section.tab-content {
  div.publications-skeleton {
    position: fixed;
  }
}

// Infinite Loading Container
.infinite-loading-container {
  overflow: auto;
  min-height: 5rem;
  position: sticky;
  height: 100%;
  p.no-more-data {
    width: 100%;
    text-align: center;
    font-size: medium;
    color: darkgrey;
  }
}

// CarouselSearcher
div.carousel-searcher {
  > div.modal-card {
    > section.modal-card-body {
      padding: 0.2rem;
      > div.carousel {
        > div.carousel-items {
          > div.carousel-arrow.is-hovered {
            > span.icon {
              &.has-icons-left {
                left: 0.1rem;
                background-color: #fafaff;
              }
              &.has-icons-right {
                right: 0.1rem;
                background-color: #fafaff;
              }
            }
          }
        }
      }
    }
    > footer.modal-card-foot {
      margin-inline: 0;
      padding: 0.8rem;
    }
  }
}

// TabsComponent
.border-less {
  form {
    .card-section {
      .card {
        box-shadow: none !important;
        border-radius: 0 !important;
        border: 0px;
      }
    }
  }
}
.none-header-border {
  .section {
    min-height: auto !important;
    .card-section {
      .card {
        box-shadow: none !important;
        border-radius: 0 !important;
        border: 0px;
        header {
          display: none;
        }
      }
    }
  }
}

// InputSuggest
div.misc-item {
  &.search-header {
    background-color: #dbdbdb70;
  }
  .search-loading {
    animation: spinAround 0.5s infinite linear;
    border: 5px solid #dbdbdb;
    border-radius: 9999px;
    border-right-color: transparent;
    border-top-color: transparent;
    display: flex;
    position: relative;
    height: 40px;
    width: 40px;
  }
}

// UppyFileEditor
div.uppy-preview.custom-preview {
  section.uppy-contents {
    width: 100%;
    overflow: auto;
    max-height: 80%;
    display: flex;
    margin-block: 0rem;
  }
  section.edit-form-section {
    overflow: auto;
    max-height: 80%;
    div.gosht-card {
      div.card {
        background: transparent;
        border: 0px transparent;
        box-shadow: none;
        > div.card-content {
          background: none;
          label {
            color: #4a4a4a;
          }
        }
      }
    }
  }
  div.content.has-text-grey.has-text-centered {
    width: 100%;
    display: grid;
    align-content: center;
  }
  div.preview-container {
    align-content: start;
    justify-content: center;
    display: grid;
    > div.item-preview {
      justify-content: center;
      min-width: 10rem;
      .preview-image {
        height: 100%;
        display: flex;
        align-content: flex-end;
        padding-bottom: 0.7rem;
      }
      > span.icon {
        width: auto;
        height: min-content;
      }
      i.is-very-large::before {
        font-size: 8rem;
      }
    }
    > div.uppy-item-fileInfoAndButtons {
      display: inline-flex;
      align-content: center;
      justify-content: space-around;
      max-width: 12rem;
      text-overflow: overflow-ellipsis;
      span {
        word-break: break-all;
        word-wrap: anywhere;
      }
    }
  }
}

// UppyFileUploader
div.uppy-dashboard.custom-dashboard {
  div.uppy-dashboard-editor {
    display: flex;
    z-index: 1005;
    position: absolute;
    margin: 1.2rem;
    background-color: #fafafa;
    width: 96%;
    height: 72%;
    overflow: hidden;
    &.show-only-header {
      height: auto;
    }
  }
}

// Error
div.LayoutError {
  .content {
    box-sizing: inherit;
  }
  .footer {
    left: 0;
  }
  * {
    margin: 0;
    padding: 0;
  }
  body {
    background: #233142;
  }
  .whistle {
    width: 20%;
    fill: #f95959;
    margin: 100px 40%;
    text-align: left;
    transform: translate(-50%, -50%);
    transform: rotate(0);
    transform-origin: 80% 30%;
    animation: wiggle 0.2s infinite;
  }

  @keyframes wiggle {
    0% {
      transform: rotate(3deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(3deg);
    }
  }
  h1 {
    margin-top: -100px;
    margin-bottom: 10px;
    color: #facf5a;
    text-align: center;
    font-size: 90px;
    font-weight: 800;
  }
  h2 {
    color: #455d7a;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
  }
  div.navbar-menu {
    div.navbar-end {
      height: 2.7rem !important;
    }
  }
}

// Profile
div.profile-card {
  div.card {
    height: 100%;
  }
  hr:last-of-type {
    display: none;
  }
}

#profileButtons {
  .button,
  .mr-2 {
    background-color: $primary;

    &:hover {
      background-color: #69ba34;
    }
  }
}

// ResetPassword
/* ---- tsparticles container ---- */
$primary-dark: #1b122d;

// VideoPlayer
.video-player .video-js {
  border-radius: 0.25rem;
}
.video-player .video-js .vjs-tech {
  border-radius: 0.25rem;
}

.video-js {
  .vjs-big-play-button {
    height: 3.5em;
    width: 3.5em;
    border-radius: 50%;
    border: none;
    top: calc(50% - 1em);
    &:before {
      content: '' !important;
      display: none !important;
    }
    &:hover {
      opacity: 0.8;
    }
    .vjs-icon-placeholder:before {
      background: url('../../static/icon.webp') !important;
      background-size: 5.8rem !important;
      background-position: 50% !important;
      background-repeat: no-repeat !important;
      content: '';
    }
  }
}

// PublicationView
button.is-text {
  &.title {
    text-decoration: none;
    &:hover {
      background: transparent;
    }
    &:focus {
      background: transparent;
      box-shadow: none;
    }
  }
  &.has-text-wrapp {
    white-space: pre-wrap;
  }
}

// Recent
$primary: #71c737;
div#searcher {
  input {
    background-color: transparent;
    color: white;
    &:focus {
      border-color: $primary;
    }
    &:hover {
      &::placeholder {
        color: white;
      }
    }
    &:not(:hover) {
      &::placeholder {
        color: rgb(180, 180, 180);
      }
    }
  }
}

// Comments GRID Styles
.comments-grid {
  section.no-data {
    display: none;
  }
  > .user-comment-input {
    > div.field-body {
      width: 100%;
      .card-image {
        &.is-rounded {
          background: transparent;
          box-shadow: none;
          width: 5%;
          min-width: 2rem;
          img {
            border-radius: 9999px;
          }
        }
      }

      p.input-control {
        width: 90%;
        .comment-input {
          align-self: center;
          > textarea {
            background: transparent;
            color: white;
            transition: border 1s;
            resize: none;
            &::placeholder {
              color: #ffffffc1;
            }
            &:not(:focus) {
              border: 0px;
              + span.icon {
                color: transparent;
              }
            }
            &:focus {
              resize: vertical;
              width: 100%;
              + span.icon {
                animation: backInLeft;
                animation-duration: 1s;
              }
            }
          }
          > span.icon:hover {
            color: $primary;
          }
          &.is-focused {
            + .down-comment-area {
              display: inline;
            }
          }
        }
        .down-comment-area {
          &:not(:hover) {
            display: none;
          }
        }
      }
    }
  }
  div.comment-item {
    margin-bottom: 0px;
    &.has-text-light {
      .card-content {
        div.content {
          > .title {
            color: white;
            margin-bottom: 0.2rem;
          }
          > .subtitle {
            color: white;
            margin-bottom: 0.2rem;
          }
        }
      }
    }
    &.has-horizontal-contents {
      box-shadow: none;
      > div.card-image {
        width: 5%;
        min-width: 2rem;
        + div.card-content {
          width: 93%;
          margin-top: 0px;
          div.reply-input {
            width: 100%;
            > textarea {
              background: transparent;
              color: white;
              transition: border 1s;
              resize: none;
              &::placeholder {
                color: #ffffffc1;
              }
              &:not(:focus) {
                border: 0px;
                + span.icon {
                  color: transparent;
                }
              }
              &:focus {
                resize: vertical;
                width: 100%;
                + span.icon {
                  animation: backInLeft;
                  animation-duration: 1s;
                }
              }
            }
            > span.icon:hover {
              color: $primary;
            }
          }
        }
      }
    }
    figure {
      margin: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.filters-criterias {
  span.is-active {
    color: $primary;
  }
}

// Tab Border Bottom
.border-botton-less {
  nav {
    ul {
      border-bottom: none !important;
    }
  }
}
.border-botton-vertical-less {
  nav {
    ul {
      li[role='presentation'] {
        a {
          border-bottom: none !important;
        }
      }
    }
  }
}

// AdvacedCropper
.advanced-cropper {
  position: relative;
  text-align: center;
  div.advanced-cropper-container {
    min-height: 180px;
    background-color: black;
  }
  .uploader {
    > div.upload-draggable {
      display: grid;
    }
  }
  span.icon {
    cursor: pointer;
    transition: color 0.5s;
    &:hover {
      color: darkslategray !important;
    }
  }
  div.advanced-cropper-actions {
    position: absolute;
    justify-content: space-between;
    transform: translate(1rem, -2.5rem);
  }
  div.advanced-accesibility-actions {
    position: absolute;
    display: grid;
    left: 15px;
    bottom: 25%;
  }
  div.cropper-preview-circle {
    position: absolute;
    right: 10px;
    transform: translate(0rem, -10rem);
    border-radius: 250px;
  }
  .results {
    &__wrapper {
      display: flex;
      position: absolute;
      right: 15px;
      bottom: 15px;
      border: dashed 1px rgba(white, 0.5);
      max-width: 30%;
    }
    &__coordinates {
      background: rgba(black, 0.8);
      padding: 5px;
      font-size: xx-small;
      color: white;
      pointer-events: none;
      align-self: center;
    }
    &__coordinates-title {
      font-weight: bold;
    }
    &__coordinates-title,
    &__coordinates-value {
      margin-top: 2px;
      margin-bottom: 2px;
    }
    &__preview {
      max-width: 66%;
      height: auto;
      opacity: 0.8;
      pointer-events: none;
      &.preview_circle {
        img {
          border-radius: 50%;
        }
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
@media (max-width: 480px) {
  .advanced-cropper {
    .results {
      &__coordinates {
        display: none;
      }
      &__wrapper {
        max-width: 40%;
      }
      &__preview {
        max-width: 100%;
      }
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}
.add-option {
  &:hover {
    color: black;
  }
}
.no-data {
  display: grid;
  justify-content: center;
  text-align: center;
}

.button.is-white:focus,
.button.is-white.is-focused {
  box-shadow: 0.5px 0.5px 4px 0px black !important;
}

// Others
.ultra-file-uploader {
  > div.tag-list {
    > div.field-body {
      display: flex;
      .field:last-child:not(.has-addons) {
        p.control {
          display: contents;
        }
      }
    }
  }
}

.tabs-component {
  .modal-card-body {
    padding-bottom: 0px;
    .card-content {
      padding-bottom: 1rem;
    }
  }
}

.navbar-dropdown-menu-content span.menu-item-divider {
  height: 60%;
  width: 3px;
  background-color: #71c837;
  border-radius: 1.5rem;
  vertical-align: middle;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  @media (min-width: 50px) and (max-width: 1022px) {
    height: 85%;
    width: 3px;
    background-color: #71c837;
    border-radius: 1.5rem;
    vertical-align: middle;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

//SocialMediaView

.dropdown-content {
  padding-top: 0;
  @media screen and (min-width: 50px) and (max-width: 1022px) {
    position: fixed;
    left: inherit;
    width: 100%;
  }

  @media screen and (min-width: 1024px) and (max-width: 1380px) {
    position: fixed !important;
  }
  @media screen and (min-width: 1381px) and (max-width: 10000px) {
    // position: fixed !important;
    margin-left: -150px;
  }
}

.icon-arrow-left {
  color: white;
  margin-top: 1em;
  background-image: url('../../static/left-arrow-next.svg');
  display: none;
}

.icon-arrow-right {
  color: white;
  margin-top: 1em;
  background-image: url('../../static/right-arrow-next.svg');
  display: none;
}

@media screen and (min-width: 1024px) and (max-width: 1380px) {
  .icon-arrow-left,.icon-arrow-right{
    display: block;
  }
  .navbar-menu {
    overflow-y: hidden;
    justify-content: flex-start !important;
    scrollbar-width: none;
    scrollbar-color: transparent;
  }
  .navbar-menu::-webkit-scrollbar {
    height: 0px;
    width: 0px;
  }

  /* Track */
  .navbar-menu::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 0px;
  }

  /* Handle */
  .navbar-menu::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  /* Handle on hover */
  .navbar-menu::-webkit-scrollbar-thumb:hover {
    background: transparent;
    transition-duration: 0.8s;
  }
}

.dropdown-content > a {
  display: block !important;
}

.dropdown.is-hoverable:hover .dropdown-menu{
  display: block !important;
}  
.custom-shadow {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.custom-shadow-sm {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.preview-container {
  width: 100%;
  position: relative;
  bottom: 100%;
}
.previewer {
  position: relative;
  width: 100%;
  min-height: 50px;
  max-height: 120px;
  overflow: auto;
  background: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.icon-preview {
  width: 15%;
  padding-top: 20%;
  position: relative;

  @media (max-width: 800px) {
    width: 20%;
  }

  .icon-wrapper {
    position: absolute;
    height: 80%;
    width: 80%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: ease-in-out all 0.25s;

    i {
      font-size: 2.5vw;
      &:hover,
      &.selected {
        color: #67e671;
      }
      @media (max-width: 1024px) {
        font-size: 4vw;
      }
      @media (max-width: 800px) {
        font-size: 4vw;
      }
      @media (max-width: 650px) {
        font-size: 6vw;
      }
      @media (max-width: 450px) {
        font-size: 6vw;
      }
      @media (max-width: 300px) {
        font-size: 7vw;
      }
      @media (max-width: 200px) {
        font-size: 8vw;
      }
    }
  }
}

.social-media .field-body .field:last-child {
  max-width: min-content;
}

//Home Welcome
#welcome-wrap {
  margin: 10rem 0;
}
#welcome {
  color: white;
  text-align: center;

  @media (max-width: 486px) {
    font-size: 2.5rem;
  }
  @media (max-width: 415px) {
    font-size: 2rem;
  }
  @media (max-width: 343px) {
    font-size: 1.5rem;
  }
  @media (max-width: 272px) {
    font-size: 1rem;
  }
}

//CChannelMultimediaTab
div.multimediaTabs {
  flex-wrap: inherit !important;

  .tab-item {
    @media (max-width: 1471px) {
      max-width: 95%;
    }
    @media (max-width: 1393px) {
      max-width: 90%;
    }
    @media (max-width: 1341px) {
      max-width: 87%;
    }
    @media (max-width: 1307px) {
      max-width: 84%;
    }
    @media (max-width: 1286px) {
      max-width: 80%;
    }
    @media (max-width: 1226px) {
      max-width: 75%;
    }
    @media (max-width: 1164px) {
      max-width: 70%;
    }
    @media (max-width: 1104px) {
      max-width: 65%;
    }
    @media (max-width: 1052px) {
      max-width: 60%;
    }
    @media (max-width: 1023px) {
      max-width: 100%;
    }
  }
}

.publicationEye {
  vertical-align: text-bottom;
}

.notification-dropdown {
  > .dropdown-menu {
    min-width: 16vw;
    > .dropdown-content {
      text-align: center;
      article.notification {
        &.custom-notification {
          .media-left {
            margin-right: 0.5rem;
            .media-content {
              text-align: initial;
            }
            i {
              font-size: initial;
            }
          }
          .media-content {
            max-width: 20vw;
            overflow: hidden;
          }
          span.notification-content {
            justify-content: center;
            position: relative;
            min-height: 2rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            > div.progress-wrapper {
              position: relative;
              padding-inline: 0.3rem;
            }
          }
          button.delete {
            top: 2px;
            right: 0px;
          }
        }
      }
    }
  }
}

i.mdi-reload {
  margin-left: 0.1rem;
  margin-bottom: 0.1rem;
}

.card .card-header div.card-header-titles p.card-header-subtitle {
  padding: 1.5rem 1.5rem;
}

.modal-content .card .card-header div.card-header-titles p:not(:last-of-type) {
  padding-bottom: 0rem;
}

#table-ctx-menu .action-tooltip-menu.menu > .menu-list a:hover {
  background-color: $primary !important;
  color: white;
}

.image-cchannel-sm {
  position: relative;
  overflow: hidden;

  .social-media-base {
    width: fit-content;
    background: rgba(255, 255, 255, 0.267);
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin-top: auto;
    align-items: center;
    height: 40px;
    margin-right: 0.4rem;
    margin-bottom: 0.4rem;

    a {
      color: #2d333b;
    }
    .icon-sm {
      align-items: center;
      display: flex;
      height: 1em;
      justify-content: center;
      margin-right: 0.5em;
      margin-left: 0.5em;
    }
  }
}

.dropdown-menu {
  left: 0;
  padding-top: 4px;
  position: absolute;
  top: 100%;
  z-index: 20;
  @media (min-width: 50px) and (max-width: 1024px) {
    min-width: 12rem;
  }
  @media (min-width: 1024px) and (max-width: 10000px) {
    min-width: 0rem;
  }
}

.no-logged-bar {
  .navbar-dropdown-menu {
    display: none !important;
  }
}

.hide > span.is-right {
  display: none;
}

.show > span.is-right {
  display: flex;
}

.cleaner-add {
  margin-right: 1.5rem;
}

.option-item-table-config {
  font-size: 1rem;
  border-radius: 0;
  color: #6c6e86;
  z-index: 1000;
  float: left;
  min-width: 160px;
  width: -webkit-fill-available;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 0.9rem;
  a:hover {
    background-color: $primary;
    color: white;
  }
}

.options-table-config {
  .dropdown-content {
    width: -webkit-fill-available;
  }
  .bTable {
    padding-top: 2rem;
  }
}

div.tree {
  ul.tree-root {
    > li.tree-node {
      .tree-checkbox.checked,
      .tree-checkbox.indeterminate {
        background-color: $primary;
        border-color: initial;
      }
    }
  }
}

td.td-hidden {
  background-color: rgba(236, 236, 236, 0.507);
  border: 1px solid #ffffff;
}

.uppy-Dashboard-inner {
  height: 370px !important;
}

.config-cards {
  .field-label {
    label {
      color: white;
      // text-shadow: 0.1px 0 #000, -0.1px 0 #000, 0 0.1px #000, 0 -0.1px #000,
      //   0.1px 0.1px #000, -0.1px -0.1px #000, 0.1px -0.1px #000,
      //   -0.1px 0.1px #000;
      letter-spacing: 0.5px;
    }
  }
}

.section.is-main-section > .table-container,
.config-cards,
.edition-tabs {
  background-color: rgba(255, 255, 255, 0) !important;

  table.table {
    background-color: rgba(255, 255, 255, 0) !important;
  }

  .card {
    background-color: rgba(255, 255, 255, 0.15) !important;
  }

  header.card-header {
    background-color: rgba(255, 255, 255, 0.15) !important;

    .card-header-titles {
      .card-header-title {
        color: white;
        // text-shadow: 0.1px 0 #000, -0.1px 0 #000, 0 0.1px #000, 0 -0.1px #000,
        //   0.1px 0.1px #000, -0.1px -0.1px #000, 0.1px -0.1px #000,
        //   -0.1px 0.1px #000;
        letter-spacing: 0.5px;
      }
    }
  }

  .card-content {
    background-color: rgba(255, 255, 255, 0.15) !important;
  }

  .column.pt-4 {
    color: white;
    // text-shadow: 0.1px 0 #000, -0.1px 0 #000, 0 0.1px #000, 0 -0.1px #000,
    //   0.1px 0.1px #000, -0.1px -0.1px #000, 0.1px -0.1px #000, -0.1px 0.1px #000;
    letter-spacing: 0.5px;
  }

  thead {
    background: transparent !important;
  }

  tr {
    td {
      color: white;
      // text-shadow: 0.1px 0 #000, -0.1px 0 #000, 0 0.1px #000, 0 -0.1px #000,
      //   0.1px 0.1px #000, -0.1px -0.1px #000, 0.1px -0.1px #000,
      //   -0.1px 0.1px #000;
      letter-spacing: 0.5px;
    }
  }

  .column.is-narrow {
    color: white;
  }

  .table.is-striped.is-hoverable {
    background: transparent !important;
  }

  tr {
    background: transparent !important;
  }

  th {
    .column.pt-4 {
      color: #363636;
      text-shadow: unset;
    }
  }

  .top.level {
    background: transparent !important;

    p {
      label {
        color: white;
        // text-shadow: 0.1px 0 #000, -0.1px 0 #000, 0 0.1px #000, 0 -0.1px #000,
        //   0.1px 0.1px #000, -0.1px -0.1px #000, 0.1px -0.1px #000,
        //   -0.1px 0.1px #000;
        letter-spacing: 0.5px;
      }
    }

    .pagination__info {
      span {
        color: white;
        // text-shadow: 0.1px 0 #000, -0.1px 0 #000, 0 0.1px #000, 0 -0.1px #000,
        //   0.1px 0.1px #000, -0.1px -0.1px #000, 0.1px -0.1px #000,
        //   -0.1px 0.1px #000;
        letter-spacing: 0.5px;
      }
    }

    .pagination-input {
      small {
        color: white;
        // text-shadow: 0.1px 0 #000, -0.1px 0 #000, 0 0.1px #000, 0 -0.1px #000,
        //   0.1px 0.1px #000, -0.1px -0.1px #000, 0.1px -0.1px #000,
        //   -0.1px 0.1px #000;
        letter-spacing: 0.5px;
      }
    }
  }
}

.loading-overlay {
  background: transparent !important;
}

.modal-card-head {
  .modal-card-title {
    text-shadow: 0 0 0 !important;
  }
}

.tooltip-content {
  text-shadow: 0 0 0 !important;
}

.search-from-cchannel {
  float: right !important;
  width: 10%;
  left: 0 !important;
  bottom: 0 !important;
  position: absolute;
  margin-top: 2px !important;
  margin-right: 2px !important;
  border: transparent;
  background-color: transparent;
}

.mdi-bell-outline,
#navbar-expanded-user-dropdown .mdi-account-outline {
  color: #71c837;
}

.hooper-list {
  .tooltip-trigger {
    color: white;
  }
}

.box.privacy,
.terms {
  background-color: rgba(255, 255, 255, 0) !important;

  h1,
  p {
    color: white;
  }

  .card {
    p {
      color: black;
    }
  }
}
