<template>
  <section class="is-main-section is-content-center mt-0">
    <h1>404</h1>
    <h2>{{ $t('notFound') }}</h2>
  </section>
</template>
<script>
export default {
  name: 'Fallback',
  layout: 'default'
}
</script>
<style lang="scss" scoped>
.is-content-center {
  align-content: center;
  display: grid;
}
h1 {
  // margin-top: -100px;
  margin-bottom: 10px;
  color: #facf5a;
  text-align: center;
  font-size: 90px;
  font-weight: 800;
}
h2 {
  color: white;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}
</style>
<i18n>
{
  "en": {
    "notFound": "Upps, route not found!"
  },
  "es": {
    "notFound": "¡Upps, no hemos encontrado su destino!"
  }
}
</i18n>
