<template>
  <section>
    <b-notification :closable="false">
      Searching ...
      <b-loading
        :is-full-page="isFullPage"
        :active.sync="isLoading"
        :can-cancel="false"
      ></b-loading>
    </b-notification>
  </section>
</template>

<script>
export default {
  data() {
    return {
      isLoading: true,
      isFullPage: true
    }
  }
}
</script>
