<template>
  <section class="is-content-center mt-0">
    <h1>403</h1>
    <h2>{{ $t('forbidden') }}</h2>
  </section>
</template>
<script>
export default {
  name: 'Forbidden',
  layout: 'fallback'
}
</script>
<i18n>
{
  "en": {
    "forbidden": "Upps, you are not allowed!"
  },
  "es": {
    "forbidden": "¡Upps, no tiene permisos para acceder a ese contenido!"
  }
}
</i18n>
