<template>
  <section class="section is-main-section">
    <h1 v-show="media !== null" class="title is-3 has-text-light mt-4 ml-5">
      {{ media.title }}
    </h1>
    <media-visualizer
      v-if="media !== null"
      class="window-preview p-4"
      style="width: 85%; margin: 0 auto"
      :media="media.url"
      :media-mime-type="media.mimeType"
      :locale="$i18n.locale"
      :poster="media.preview"
    />
    <section v-else class="section no-data is-fullwidth p-4">
      <div class="content has-text-grey has-text-centered">
        <p>
          <b-icon icon="emoticon-sad" size="is-large"></b-icon>
        </p>
        <p>{{ $t('noDataMssg') }}</p>
      </div>
    </section>
  </section>
</template>

<script>
export default {
  data() {
    return {
      media: null
    }
  },
  created() {
    const media = this.$cookies.getCookie('media')
    if (media) {
      this.media = JSON.parse(media)
      this.$cookies.deleteCookie('media')
    }
  }
}
</script>
