<template>
  <div>
    <section class="section is-main-section">
      <b-loading
        v-model="loading"
        :is-full-page="false"
        :can-cancel="false"
      ></b-loading>
      <div class="columns is-mobile">
        <div
          :class="
            $mq !== 'mobile' && $mq !== 'tablet'
              ? 'column is-half is-offset-one-quarter'
              : 'column'
          "
        >
          <card-component
            :is-in-modal="false"
            :title="$t('Profile')"
            icon="account"
            class="profile-card"
            style="width: 100%; height: 100%"
          >
            <template #header-extra-content> </template>
            <b-image
              :src="$store.state.userAvatar || currentUserAvatar"
              alt="Profile Avatar"
              :rounded="true"
              placeholder=".png"
              class="column is-6 is-offset-3 is-aligned-center"
            ></b-image>

            <b-field expanded :label="$t('personNames')">
              <b-input
                v-model="profile.fullName"
                name="name"
                readonly
                custom-class="is-static"
              />
            </b-field>
            <hr />
            <b-field
              v-if="currentUser.lastName"
              expanded
              :label="$t('lastNames')"
            >
              <b-input
                v-model="currentUser.lastName"
                name="lastname"
                readonly
                custom-class="is-static"
              />
            </b-field>
            <hr v-if="currentUser.lastName" />
            <b-field
              v-if="currentUser.identityNumber"
              expanded
              :label="$t('identityNumber')"
            >
              <b-input
                v-model="currentUser.identityNumber"
                name="identityNumber"
                readonly
                custom-class="is-static"
              />
            </b-field>
            <hr v-if="currentUser.identityNumber" />
            <b-field
              v-if="profile.phoneNumber"
              expanded
              :label="$t('phoneNumber')"
            >
              <b-input
                v-model="profile.phoneNumber"
                name="phoneNumber"
                readonly
                custom-class="is-static"
              />
            </b-field>
            <hr v-if="profile.phoneNumber" />
            <b-field
              v-if="currentUser.userName"
              expanded
              :label="$t('userName')"
            >
              <b-input
                v-model="currentUser.userName"
                name="userName"
                readonly
                custom-class="is-static"
              />
            </b-field>
            <hr v-if="currentUser.userName" />
            <b-field v-if="currentUser.email" expanded :label="$t('email')">
              <b-input
                v-model="currentUser.email"
                name="email"
                type="email"
                readonly
                custom-class="is-static"
              />
            </b-field>
            <hr v-if="currentUser.email" />
            <template #footer>
              <b-field
                id="profileButtons"
                class="column"
                grouped
                position="is-right"
                style="padding: 0"
              >
                <b-button
                  type="is-primary"
                  icon-left="account-edit"
                  class="mr-2 m-1"
                  @click="openEdit"
                  >{{ $t('editProfile') }}</b-button
                >
                <b-button
                  type="is-primary"
                  icon-left="key-chain"
                  class="mr-2 m-1"
                  @click="changePassword"
                  >{{ $t('changePassword') }}</b-button
                >
              </b-field>
            </template>
          </card-component>
        </div>
      </div>

      <b-modal
        v-model="editUser"
        has-modal-card
        trap-focus
        :destroy-on-hide="true"
        :can-cancel="['escape', 'x']"
      >
        <dynamic-form
          :is-in-modal="true"
          card-icon="account-circle"
          class="full-height"
          :card-title="$t('Profile')"
          :card-subtitle="$t('editButton')"
          :locale="$i18n.locale"
          :edition-mode="false"
          :clear-on-close="true"
          :vbtn="vbtn"
          :form="userDefs.form"
          :submit-url="`/Account/UpdateUserRegistered?clientUri=${$store.state.APP_BASE_URL}/profile`"
          @form-saved="saveProfile"
        >
        </dynamic-form>
      </b-modal>
    </section>
  </div>
</template>

<script>
import {
  ChangePasswordForm,
  DynamicForm,
  EmailComponent,
  TextComponent
} from 'premium-tesh-ui-lib'

import PhoneNumberInput from '~/components/Inputs/PhoneNumberInput.vue'

// eslint-disable-next-line import/order
import AdvancedCropper from '../components/Inputs/AdvancedCropper.vue'

export default {
  name: 'Profile',
  components: {
    DynamicForm
  },
  async asyncData({ $axios, query, app }) {
    let profile = {}
    if (query && query.userEmailOrName && query.emailToken) {
      $axios
        .get('/Account/EmailConfirmationState', {
          params: {
            userEmailOrName: query.userEmailOrName,
            emailToken: query.emailToken
          }
        })
        .then(async (response) => {
          if (response.data.wasSucceed && response.data.isRegistered)
            profile = await $axios.get(`/Account/UserInfo`)
          return { profile: profile.data }
        })
        .catch(() => {
          app.router.go(-1)
        })
      return { profile: {} }
    } else {
      profile = await $axios.get(`/Account/UserInfo`)
      return { profile: profile.data }
    }
  },
  data() {
    return {
      editUser: false,
      showChangePassword: false,
      users: [],
      profile: {},
      loading: false,
      dataReadonly: true,
      userDefs: {
        form: {
          avatar: {
            type: AdvancedCropper,
            default:
              this.avatar ||
              this.$store.state.userAvatar ||
              this.$auth.user?.avatar,
            'field-wrapper': {
              class: 'is-12'
            },
            'field-input': {
              label: this.$t('avatar'),
              placeholder: this.$t('placeholder', {
                key: this.$t('avatar').toLowerCase()
              }),
              isUserAvatar: true,
              isRequired: false,
              expanded: true,
              aspectRatio: 4 / 4,
              imageRestriction: 'none',
              stencilComponent: 'circle-stencil',
              uploadWithUppy: false
            },
            save: (v) => {
              return v && v.replace('data:image/png;base64,', '')
            }
          },
          fullName: {
            type: TextComponent,
            default:
              (this.$store.state.user && this.$store.state.user.userName) ||
              this.$auth.user?.fullName,
            'field-wrapper': { class: 'is-12' },
            'field-input': {
              label: this.$t('personNames'),
              isUserName: false,
              placeholder: this.$t('placeholder', {
                key: this.$t('personNames').toLowerCase()
              })
            }
          },
          newUserName: {
            type: TextComponent,
            default: this.$auth.user?.userName,
            'field-wrapper': { class: 'is-12', style: 'display: none' },
            'field-input': {
              label: this.$t('userName'),
              isUserName: false,
              placeholder: this.$t('placeholder', {
                key: this.$t('userName').toLowerCase()
              })
            }
          },
          userName: {
            type: TextComponent,
            default: this.$auth.user?.userName,
            'field-wrapper': { class: 'is-12' },
            'field-input': {
              label: this.$t('userName'),
              isUserName: false,
              placeholder: this.$t('placeholder', {
                key: this.$t('userName').toLowerCase()
              }),
              isRequired: false
            },
            events: {
              input: (v) => (this.userDefs.form.newUserName.value = v)
            }
          },
          phoneNumber: {
            type: PhoneNumberInput,
            default: this.number,
            'field-wrapper': { class: 'is-12' },
            'field-input': {
              label: this.$t('phoneNumber')
            },
            save: (v) => {
              return v ? v.phoneNumber : ''
            }
          },
          email: {
            type: EmailComponent,
            default: this.$store.state.userEmail || this.$auth.user?.email,
            'field-wrapper': { class: 'is-12' },
            'field-input': {
              label: this.$t('email'),
              placeholder: this.$t('placeholder', {
                key: this.$t('email').toLowerCase()
              }),
              expanded: true,
              isRequired: false
            },
            disabled: true
          },
          password: {
            type: null,
            'field-wrapper': { style: 'display: none' }
          }
        }
      },
      showChangePasswordModal: false,
      userId: undefined,
      vbtn: {
        close: {
          icon: 'close',
          label: this.$t('cancelLabel'),
          props: {
            type: 'is-primary is-light'
          },
          show: true
        },
        save: {
          show: this.$auth.loggedIn,
          icon: 'content-save',
          label: this.$i18n.t('saveButton'),
          props: {
            type: 'is-primary'
          }
        }
      },
      avatar: '',
      number: ''
    }
  },
  head() {
    return {
      title: 'Profile — PremiumTesh'
    }
  },
  computed: {
    titleStack() {
      return ['Admin', 'Profile']
    },
    currentUser() {
      return this.profile
    },
    currentUserName() {
      return (
        this.currentUser.name ||
        this.currentUser.fullName ||
        this.currentUser.userName ||
        ''
      )
    },
    currentUserAvatar() {
      return (
        this.currentUser.avatar ||
        this.currentUser.avatarstr ||
        this.currentUser.picture ||
        this.currentUser.picturestr ||
        `https://avatars.dicebear.com/v2/human/${this.currentUserName}.svg?options[mood][]=happy`
      )
    },
    getBasePath() {
      return `/User/${this.$auth.user?.email}`
    }
  },
  mounted() {
    const user = JSON.parse(JSON.stringify(this.profile))
    this.avatar = user.avatar || ''
    this.number = user.phoneNumber || ''
    Object.keys(this.userDefs.form).forEach((key) => {
      if (key === 'name')
        this.userDefs.form[key].value =
          user[key] || user.fullName || user.userName || ''
      else this.userDefs.form[key].value = user[key] || null
    })
  },
  methods: {
    openEdit() {
      this.userDefs.form.phoneNumber.value = this.number
      this.userDefs.form.avatar.value = this.avatar
      this.editUser = true
    },
    changePassword() {
      this.$buefy.modal.open({
        parent: this,
        component: ChangePasswordForm,
        props: {
          isInModal: true,
          locale: this.$i18n.locale,
          title: this.$t('changePassword'),
          requiresCurrentPassword: true
        },
        events: {
          save: (values) => {
            values.newPassword = values.password
            this.$axios
              .post('Account/SetUserPassword', values)
              .then(() => {
                this.$buefy.toast.open({
                  message: this.$t('passwordChanged'),
                  type: 'is-success'
                })
              })
              .catch((err) => {
                this.$buefy.toast.open({
                  message: err && err.data ? err.data.message : 'Error',
                  type: 'is-danger'
                })
              })
          }
        },
        hasModalCard: true,
        destroyOnHide: true,
        trapFocus: true,
        canCancel: ['escape', 'x']
      })
    },
    getProfile() {
      this.loading = true
      this.$axios
        .get(this.getBasePath)
        .then((response) => {
          this.profile = response.data
          this.$store.commit('defineAppUser', response.data)
          this.$store.commit('defineAppUserAvatar', response.data.avatar)
          this.avatar = response.data.userAvatar || ''
          this.number = response.data.phoneNumber || ''
        })
        .finally(() => {
          this.loading = false
        })
    },
    saveProfile(value) {
      this.$emit('form-saved')
      this.$buefy.toast.open({
        message: this.$t('editSuccess'),
        type: 'is-success'
      })
      this.getProfile()
    },
    cleanForm() {
      if (this.userDefs.form)
        for (const key in this.userDefs.form) {
          if (Object.hasOwnProperty.call(this.userDefs.form, key)) {
            const element = this.userDefs.form[key]
            element.value = null
          }
        }
    }
  }
}
</script>
<i18n>
{
  "en": {
    "personNames": "Full Name",
    "lastNames": "Last Name",
    "lastNamesPlaceholder": "Put your last name here...",
    "phoneNumber": "Phone number",
    "email": "Email",
    "userName": "User Name",
    "identityNumber": "ID",
    "address": "Address",
    "picture": "Picture",
    "avatar": "Avatar",
    "field": "Field",
    "value": "Value",
    "productionRoles": "Production Roles",
    "editProfile": "Edit Profile",
    "deletePerson": "Delete Profile",
    "cancelLabel": "Cancel",
    "changePassword": "Change Password",
    "Profile": "Profile",
    "placeholder": "Enter a {key} here...",
    "currentPassword": "Current password"
  },
  "es": {
    "personNames": "Nombre y Apellidos",
    "lastNames": "Apellidos",
    "lastNamesPlaceholder": "Introduzca sus apellidos...",
    "phoneNumber": "Número teléfono",
    "email": "Correo",
    "userName": "Nombre Usuario",
    "identityNumber": "CI",
    "address": "Dirección",
    "picture": "Foto",
    "avatar": "Avatar",
    "field": "Campo",
    "value": "Valor",
    "productionRoles": "Roles de Producción",
    "editProfile": "Editar Perfil",
    "deletePerson": "Eliminar Perfil",
    "cancelLabel": "Cancelar",
    "changePassword": "Cambiar Contraseña",
    "Profile": "Perfil",
    "placeholder": "Introduzca un(a) {key}...",
    "currentPassword": "Contraseña actual"
  }
}
</i18n>
