<template>
  <section class="section">
    <div class="container" style="z-index: 1; max-width: 100%">
      <b-loading
        v-model="loading"
        :is-full-page="true"
        :can-cancel="false"
      ></b-loading>
      <div v-if="!loading" class="columns is-multiline">
        <div class="column is-1 is-offset-11">
          <b-select
            v-model="locale"
            rounded
            class="is-ghost is-white is-flex"
            style="justify-content: right"
            position="is-right"
          >
            <option value="en">EN</option>
            <option value="es">ES</option>
          </b-select>
        </div>
        <div class="column is-4 is-offset-4">
          <h2 class="title has-text-centered company-title">PremiumTesh</h2>
          <h2
            class="card-header is-fullwidth is-block p-2 is-login-subtitle"
            style="text-align: center; font-size: initial"
          >
            {{ $t('changePassword') }}
          </h2>
          <b-notification
            v-if="errorMessage"
            aria-close-label="Close notification"
            class="is-danger"
          >
            <div style="text-align: center">
              <span>{{ errorMessage }}</span>
            </div>
          </b-notification>

          <change-password-form
            class="ghost-card"
            :locale="$i18n.locale"
            :title="$t('changePassword')"
            :rounded-inputs="true"
            :expanded-inputs="true"
            :horizontal-inputs="false"
            inputs-size="is-medium"
            :vbtn="vbtn"
          >
            <template #form-extra-fields>
              <email-component
                v-model="email"
                :label="$t('User')"
                :horizontal="false"
                size="is-medium"
                :expanded="true"
                :rounded="true"
                :placeholder="$t('placeholder', { key: $t('User') })"
                :locale="$i18n.locale"
                class="is-ghost is-white"
              />
            </template>
          </change-password-form>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { ChangePasswordForm, EmailComponent } from 'premium-tesh-ui-lib'
import { tsParticles } from 'tsparticles'
tsParticles.load('tsparticles', {
  autoPlay: true,
  background: {
    color: {
      value: '#1b122d'
    },
    image: '',
    position: '',
    repeat: '',
    size: '',
    opacity: 1
  },
  fullScreen: {
    enable: true,
    zIndex: 0
  },
  particles: {
    number: {
      value: 63,
      density: {
        enable: true,
        value_area: 800
      }
    },
    color: {
      value: '#1b122d'
    },
    shape: {
      type: 'circle',
      stroke: {
        width: 2,
        color: '#ffffff'
      },
      polygon: {
        nb_sides: 5
      },
      image: {
        src: 'img/github.svg',
        width: 100,
        height: 100
      }
    },
    opacity: {
      value: 0.49716301422833176,
      random: false,
      anim: {
        enable: false,
        speed: 1,
        opacity_min: 0.1,
        sync: false
      }
    },
    size: {
      value: 3,
      random: true,
      anim: {
        enable: false,
        speed: 40,
        size_min: 0.1,
        sync: false
      }
    },
    line_linked: {
      enable: true,
      distance: 150,
      color: '#ffffff',
      opacity: 0.4,
      width: 1
    },
    move: {
      enable: true,
      speed: 3,
      direction: 'none',
      random: false,
      straight: false,
      out_mode: 'out',
      bounce: false,
      attract: {
        enable: false,
        rotateX: 600,
        rotateY: 1200
      }
    }
  },
  interactivity: {
    detect_on: 'window',
    events: {
      onhover: {
        enable: true,
        mode: 'repulse'
      },
      onclick: {
        enable: false,
        mode: 'push'
      },
      resize: true
    },
    modes: {
      grab: {
        distance: 400,
        line_linked: {
          opacity: 1
        }
      },
      bubble: {
        distance: 400,
        size: 40,
        duration: 2,
        opacity: 8,
        speed: 3
      },
      repulse: {
        distance: 90,
        duration: 0.4
      },
      push: {
        particles_nb: 4
      },
      remove: {
        particles_nb: 2
      }
    }
  },
  retina_detect: true
})

export default {
  name: 'ResetPassword',
  components: {
    ChangePasswordForm,
    EmailComponent
  },
  options: {
    auth: false
  },
  layout: 'login',
  data() {
    return {
      locale: 'en',
      email: '',
      password: '',
      errorMessage: null,
      particles: null,
      loading: true,
      buttonLoading: false,
      vbtn: {
        close: {
          icon: 'close',
          label: this.$i18n.t('closeButton'),
          props: {
            outlined: true,
            rounded: true,
            class: 'mr-3',
            size: 'is-medium'
          },
          show: false
        },
        save: {
          icon: 'key-chain',
          label: this.$i18n.t('accept'),
          props: {
            rounded: true,
            size: 'is-medium'
          },
          show: true
        }
      }
    }
  },
  computed: {
    changePasswordEndpoint() {
      return '/Account/ResetPasswordByEmailToken'
    }
  },
  watch: {
    locale(newVal) {
      this.$i18n.locale = newVal
    }
  },
  created() {
    document.getElementById('tsparticles').style = 'display: inherit'
    this.locale = this.$i18n.locale || 'en'
    this.particles = tsParticles.domItem(0)

    // play will start the animations, if the move is not enabled it won't enable it, it just updates the frame
    this.particles.start()
    this.loading = false
  },
  beforeDestroy() {
    this.particles.stop()
    document.getElementById('tsparticles').style = 'display: none'
  },
  methods: {
    login() {
      this.buttonLoading = true
      this.$auth
        .loginWith('refresh', {
          data: {
            user: this.email,
            password: this.password
          }
        })
        .then((response) => {
          this.loading = true
          this.$store.commit('defineAppUser', {
            userName: response.data.userName,
            email: response.data.email,
            fullName: response.data.fullName,
            avatar: response.data.avatar,
            roles: response.data.roles
          })
          this.$store.commit(
            'defineTokenExpiration',
            response.data.refreshTokenExpiration
          )
        })
        .catch((err) => {
          this.errorMessage = err.response.data.message || err.message
        })
        .finally(() => {
          this.buttonLoading = false
        })
    },
    changePassword() {
      this.buttonLoading = true
      this.$axios
        .post(this.changePasswordEndpoint, {
          user: this.email,
          password: this.password,
          confirmPassword: this.confirmPassword,
          emailToken: ``
        })
        .then((response) => {
          this.login()
        })
        .catch((err) => {
          this.errorMessage = err.response.data.message || err.message
        })
        .finally(() => {
          this.buttonLoading = false
        })
    }
  }
}
</script>
<i18n>
{
  "en": {
    "Login": "Login",
    "User": "User",
    "Email": "Email",
    "Password": "Password",
    "changePassword": "Change your password!",
    "sendEmail": "Send Email",
    "forgotTip": "We will send an email with confirmation data to restore your password.",
    "accept": "Accept"
  },
  "es": {
    "Login": "Iniciar sesión",
    "User": "Usuario",
    "Email": "Correo",
    "Password": "Contraseña",
    "changePassword": "¡Cambie su contraseña!",
    "sendEmail": "Enviar correo",
    "forgotTip": "Enviaremos un correo de confirmación con los datos necesarios para establecer una nueva contraseña.",
    "accept": "Aceptar"
  }
}
</i18n>
