<template>
  <div>
    <b-notification type="is-info" has-icon :closable="false">
      You have been signed out!
    </b-notification>
  </div>
</template>

<script>
export default {
  middleware: ['auth'],
  options: {
    auth: false
  }
}
</script>
