<template>
  <div id="app">
    <nav-bar-expanded
      :class="{ 'no-logged-bar': !$auth.loggedIn && isMobileOrTablet }"
      :app-name="appName"
      :app-logo="require('@/static/icon.webp')"
      :menu="menu"
      :show-auth-and-register="true"
      :locale="$i18n.locale"
      :custom-avatar="user ? true : false"
      :show-system-health="false"
      login-strategy="refresh"
      user-field="userEmailOrName"
      :user-is-email="true"
      :close-on-submit="closeOnSubmit"
      @register-data="registerUser"
      @user-forgot="recoveryPassword"
      @cancel-all="userFullName = null"
      @logout="logout"
    >
      <template #custom-avatar>
        <span
          v-if="isMobileOrTablet"
          class="is-inline-flex is-fullwidth"
          style="align-items: center; color: white"
        >
          <avatar
            :image="$store.state.userAvatar || user.avatar"
            :fullname="fullname"
            :size="32"
            color="#71c837"
          />
          {{ username }}
        </span>
        <avatar
          v-else
          :image="$store.state.userAvatar || user.avatar"
          :fullname="fullname"
          :size="32"
          color="#71c837"
        />
      </template>
      <template #register-extra-fields>
        <text-component
          v-model="userFullName"
          :label="$t('fullName')"
          :horizontal="false"
          :placeholder="$t('placeholder', { key: $t('fullName') })"
        />
      </template>
      <template #navbar-brand-left>
        <b-icon
          icon="menu"
          custom-size="mdi-36px"
          :class="isMobileOrTablet ? 'ml-1' : 'ml-3'"
          style="cursor: pointer"
          :type="reduce ? 'is-white' : 'is-primary'"
          @click.native="reduce = !reduce"
        />
      </template>
      <template #navbar-items>
        <notification-dropdown
          v-if="$auth.loggedIn"
          :notifications="notifications"
          class="mx-4 my-1"
        />
      </template>
      <template #custom-navbar-end-items>
        <a
          v-if="$route.path !== '/profile'"
          href="#"
          class="navbar-item"
          @click="changeProfileAvatar"
        >
          <b-icon icon="account" custom-size="mdi-18px" />
          <span>{{ $t('changeAvatar') }}</span>
        </a>
      </template>
      <template #sign-in-with>
        <sign-in-with
          :facebook="true"
          :google="true"
          :twitter="false"
          :twitch="true"
          :discord="true"
          :show-all="true"
        />
      </template>
    </nav-bar-expanded>
    <Sidebar
      class="fadeIn animated faster"
      :reduce="reduce"
      @close="reduce = true"
    />
    <nuxt :style="isMobileOrTablet ? '' : 'padding-left: 4.5rem'" />
    <FooterBar :style="isMobileOrTablet ? '' : 'padding-left: 5.0rem'" />
  </div>
</template>

<script>
import { computed, reactive } from '@vue/composition-api'
import Avatar from 'vue-avatar-component'
import { mapGetters } from 'vuex'

import FooterBar from '@/components/FooterBar.vue'
import Sidebar from '@/components/SidebarExpanded'
import SignInWith from '@/components/SignInWith'
import NotificationDropdown from '~/components/NotificationDropdown.vue'
import changeAvatar from '~/mixins/changeAvatar'
import utilitiesMixin from '~/mixins/utilitiesMixin'

const signalr = require('@microsoft/signalr')

// import {
//   registerApplication,
//   // unloadApplication,
//   start
// } from 'single-spa'
// import * as singleSpa from 'single-spa'

// const appNames = singleSpa.getAppNames()

export default {
  name: 'App',
  components: {
    Sidebar,
    FooterBar,
    Avatar,
    NotificationDropdown,
    SignInWith
  },
  mixins: [utilitiesMixin, changeAvatar],
  provide() {
    return { suscribeNotificationGoup: this.suscribeNotificationGoup }
  },
  setup(app, { root: { $store } }) {
    let connection = reactive({})
    const notifications = reactive([])
    const startConnect = () => {
      if (
        connection?.state === 'Disconnected' ||
        connection?.state === 'Closed'
      )
        connection
          .start()
          .then(() => {
            // eslint-disable-next-line no-console
            console.log('Started the Files HUB connection')
          })
          .catch(() => {
            // eslint-disable-next-line no-console
            console.log(
              'Fatal error starting connection with SignalR Files HUB.'
            )
            setTimeout(() => {
              // eslint-disable-next-line no-console
              console.log('Recconect with SignalR Files HUB')
              startConnect()
            }, 5000)
          })
    }

    try {
      const appBaseUrl = computed(() => $store.state.APP_BASE_URL)
      const apiDataPrefix = computed(() => $store.state.API_DATA_PREFIX)

      connection = new signalr.HubConnectionBuilder()
        .withUrl(`${appBaseUrl.value}${apiDataPrefix.value}/filesHub`)
        .configureLogging(signalr.LogLevel.Information)
        .build()

      // eslint-disable-next-line no-unused-vars
      connection.on('Disconnected', () => {
        // eslint-disable-next-line no-console
        console.log('Reconnecting with SignalR Files Hub')
        startConnect()
      })
      connection.on('Reconnected', () => {
        // eslint-disable-next-line no-console
        console.log('Reconnected with SignalR Files Hub')
      })

      connection.on('MediaNotification', (params) => {
        //   Add notification and increment badge
        notifications.push({
          id: `${params.fileId}_${params.jobResolution}`,
          progress: params.resume,
          type:
            params.status === 1
              ? 'is-success'
              : params.status === 0
              ? undefined
              : 'is-danger',
          text: `${params.jobResolution} - ${params.fileName}:`,
          fileName: params.fileName,
          username: params.createdBy
        })
      })
      // Start connection
      setTimeout(() => {
        startConnect()
      }, 10000)
    } catch (error) {
      // eslint-disable-next-line no-console
      console.log('Fatal error with SignalR Files HUB')
      // eslint-disable-next-line no-console
      console.log(error)
    }

    const suscribeNotificationGoup = (group) => {
      if (connection && connection.state === 'Connected') {
        connection.invoke('AddToGroup', group).catch((err) => {
          // eslint-disable-next-line no-console
          console.error(err)
          suscribeNotificationGoup(group)
        })
      } else {
        setTimeout(() => {
          suscribeNotificationGoup(group)
        }, 5000)
      }
    }

    return { suscribeNotificationGoup, notifications, startConnect }
  },
  data() {
    return {
      appName: this.$config.appName,
      appVersion: this.$config.appName,
      reduce: true,
      userFullName: '',
      closeOnSubmit: false
    }
  },
  computed: {
    ...mapGetters(['userIsAdmin', 'userRoles']),
    menu() {
      if (this.isSystemAdmin || this.isSystemGlobal) {
        return [
          [
            {
              label: this.$t('system'),
              props: { isHoverable: false },
              items: [
                {
                  to: '/users',
                  label: this.$t('users'),
                  icon: 'account-multiple-outline'
                },
                {
                  to: '/roles',
                  label: 'Roles',
                  icon: 'account-settings-outline'
                },
                {
                  to: '/configuration',
                  label: this.$t('configuration'),
                  icon: 'cog'
                },
                {
                  to: '/system-health',
                  label: this.$t('systemHealth'),
                  icon: 'hospital'
                }
              ]
            }
          ],
          [
            {
              label: this.$t('publicationLabel'),
              props: { isHoverable: false },
              items: [
                {
                  to: '/publication',
                  label: this.$tc('publication', 2),
                  icon: 'postage-stamp'
                },
                {
                  to: '/userComment',
                  label: this.$t('userCommentLabel'),
                  icon: 'comment-account-outline'
                }
              ]
            }
          ],
          [
            {
              label: this.$t('mediasLabel'),
              props: { isHoverable: false },
              items: [
                {
                  to: '/media',
                  label: this.$t('mediasLabel'),
                  icon: 'pump'
                }
              ]
            }
          ],
          [
            {
              label: 'WOWZA',
              props: { isHoverable: false },
              items: [
                {
                  to: '/incomingStream',
                  label: this.$tc('incomingStreamLabel', 2),
                  icon: 'cast-audio-variant'
                },
                {
                  to: '/incomingStreamJSON',
                  label: this.$t('incomingStreamXMLLabel'),
                  icon: 'layers-triple'
                },
                {
                  to: '/streamTargetRepl',
                  label: this.$tc('streamTargetReplLabel', 2),
                  icon: 'cast-connected'
                }
              ]
            }
          ],
          [
            {
              label: this.$tc('cchannel', 2),
              props: { isHoverable: false },
              items: [
                {
                  to: '/contentChannel',
                  label: this.$tc('channelLabel', 2),
                  icon: 'movie'
                },
                {
                  to: '/contentChannelRequest',
                  label: this.$t('contentChannelRequestLabel'),
                  icon: 'movie-edit'
                }
              ]
            }
          ],
          [
            {
              label: this.$tc('socialMedia', 2),
              props: { isHoverable: false },
              items: [
                {
                  to: '/socialMedia',
                  label: this.$tc('socialMedia', 2),
                  icon: 'web'
                },
                {
                  to: '/rtmpDestination',
                  label: this.$tc('rtmpDestination', 2),
                  icon: 'web'
                },
                {
                  to: '/channelsSocialMedia',
                  label: this.$tc('socialMediaProfiles', 2),
                  icon: 'account-box-multiple-outline'
                }
              ]
            }
          ],
          [
            {
              label: this.$tc('administration', 2),
              props: { isHoverable: false },
              items: [
                {
                  to: '/adminContext',
                  label: this.$t('adminContext'),
                  icon: 'web'
                }
              ]
            }
          ]
        ]
      } else if (this.$auth.loggedIn) {
        const menus = [
          [
            {
              label: this.$tc('cchannel', 2),
              props: { isHoverable: false },
              items: [
                {
                  to: '/contentChannel/mine',
                  label: this.$t('myChannels'),
                  icon: 'movie-filter-outline'
                },
                {
                  to: '/contentChannelRequest',
                  label: this.$t('contentChannelRequestLabel'),
                  icon: 'movie-edit'
                }
              ]
            }
          ]
        ]

        if (this.userSystemPermissions.length > 0)
          if (
            this.userSystemPermissions.includes('StreamTargetLocal') ||
            this.userSystemPermissions.includes('StreamTargetLocalStop') ||
            this.userSystemPermissions.includes('StreamTargetLocalPlay')
          ) {
            menus.push({
              to: '/streamTarget',
              label: this.$tc('streamTargetLabel', 2),
              icon: 'cast'
            })
          }
        return menus
      } else {
        return []
      }
    }
  },
  watch: {
    user: {
      handler(newVal) {
        this.$store.commit('defineAppUser', newVal)
        this.$store.commit('defineAppUserAvatar', newVal.avatar)
        this.$store.commit('defineUserRoles', newVal.roles)
        this.$store.commit('defineUserPermissions', newVal.permissions)
      },
      inmediate: true
    },
    '$root.isOnline'(newVal) {
      this.$buefy.snackbar.open({
        message: newVal
          ? this.$t('connectionStateOn')
          : this.$t('connectionStateOff'),
        type: newVal ? 'is-success' : 'is-danger',
        duration: 10000,
        position: this.$mq === 'mobile' ? 'is-bottom' : 'is-bottom-right',
        actionText: 'OK'
      })
    }
  },
  mounted() {
    document.documentElement.classList.add('has-aside-mobile-transition')
    document.documentElement.classList.add('has-navbar-fixed-top')

    window.addEventListener('focus', this.startConnect)
  },
  beforeDestroy() {
    window.removeEventListener('focus', this.startConnect())
  },
  methods: {
    logout() {
      this.$router.push('/')
      document.querySelector('.icon-arrow-right').style.display = 'none'
      document.querySelector('.icon-arrow-left').style.display = 'none'
    },
    changeProfileAvatar() {
      this.setAvatar()
    },
    menuClick(item) {
      if (item.action && item.action === 'dark-mode-toggle') {
        this.$store.commit('darkModeToggle')
      }
    },
    search(criteria) {
      this.$store.commit('basic', {
        key: 'searchCriteria',
        value: this.searchCriteria
      })
    },
    registerUser(data) {
      this.$axios
        .post('Account/RegisterUser', {
          username: data.user,
          email: data.user,
          newPassword: data.password,
          confirmPassword: data.confirmPassword,
          avatar: '',
          fullName: this.userFullName,
          clientURI: `${this.$store.state.APP_BASE_URL}/profile`
        })
        .then(() => {
          this.$buefy.toast.open({
            message: this.$t('registerSuccess'),
            type: 'is-success',
            duration: 10000
          })
          this.closeOnSubmit = true
        })
        .catch((err) => {
          // eslint-disable-next-line no-console
          console.log(err.response.data.message || err.message)
          this.toastError(err)
        })
        .finally(() => {
          this.userFullName = null
        })
    },
    recoveryPassword(email) {
      this.$axios
        .post('Account/ChangePasswordForBeingForgotten', {
          userEmailOrName: email,
          clientURI: `${this.$store.state.APP_BASE_URL}/reset-password`
        })
        .then((response) => {
          // eslint-disable-next-line no-console
          console.log(response)
        })
        .catch((err) => {
          // eslint-disable-next-line no-console
          console.log(err.response.data.message || err.message)
          this.toastError(err)
        })
    }
  }
}
</script>
