<template>
  <div id="__layout" class="LayoutError">
    <nav-bar-expanded
      :app-name="appName"
      :app-logo="require('@/static/icon.webp')"
      :menu="menu"
      :show-auth-and-register="true"
      :locale="$i18n.locale"
      :custom-avatar="user ? true : false"
      user-field="userEmailOrName"
      @register-data="registerUser"
      @user-forgot="recoveryPassword"
      @cancel-all="userFullName = null"
      @logout="
        () => {
          $router.push('/')
        }
      "
    >
      <template #custom-avatar>
        <span
          v-if="isMobileOrTablet"
          class="is-inline-flex is-fullwidth"
          style="align-items: center"
        >
          <avatar
            :image="user.avatar"
            :fullname="user.fullName"
            :size="32"
            color="#71c837"
          />
          {{ user.userName }}
        </span>
        <avatar
          v-else
          :image="user.avatar"
          :fullname="user.fullName"
          :size="32"
          color="#71c837"
        />
      </template>
      <template #register-extra-fields>
        <text-component
          v-model="userFullName"
          :label="$t('fullName')"
          :horizontal="false"
          :placeholder="$t('placeholder', { key: $t('fullName') })"
        />
      </template>
      <template #navbar-brand-left>
        <b-icon
          icon="menu"
          custom-size="mdi-36px"
          :class="isMobileOrTablet ? 'ml-1' : 'ml-3'"
          style="cursor: pointer"
          :type="reduce ? 'is-white' : 'is-primary'"
          @click.native="reduce = !reduce"
        />
      </template>
      <template v-if="$route.path === '/home'" #navbar-items>
        <b-field id="navbar-searcher" class="fadeIn animated faster">
          <b-input
            :placeholder="$t('search')"
            type="search"
            icon="magnify"
            expanded
            @keydown.enter="search"
          >
          </b-input>
        </b-field>
      </template>
    </nav-bar-expanded>
    <div class="block" style="display: grid">
      <svg
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 1000 1000"
        enable-background="new 0 0 1000 1000"
        xml:space="preserve"
        class="whistle"
      >
        <metadata>
          Svg Vector Icons : http://www.onlinewebfonts.com/icon
        </metadata>
        <g>
          <g
            transform="translate(0.000000,511.000000) scale(0.100000,-0.100000)"
          >
            <path
              d="M4295.8,3963.2c-113-57.4-122.5-107.2-116.8-622.3l5.7-461.4l63.2-55.5c72.8-65.1,178.1-74.7,250.8-24.9c86.2,61.3,97.6,128.3,97.6,584c0,474.8-11.5,526.5-124.5,580.1C4393.4,4001.5,4372.4,4001.5,4295.8,3963.2z"
            />
            <path
              d="M3053.1,3134.2c-68.9-42.1-111-143.6-93.8-216.4c7.7-26.8,216.4-250.8,476.8-509.3c417.4-417.4,469.1-463.4,526.5-463.4c128.3,0,212.5,88.1,212.5,224c0,67-26.8,97.6-434.6,509.3c-241.2,241.2-459.5,449.9-488.2,465.3C3181.4,3180.1,3124,3178.2,3053.1,3134.2z"
            />
            <path
              d="M2653,1529.7C1644,1445.4,765.1,850,345.8-32.7C62.4-628.2,22.2-1317.4,234.8-1960.8C451.1-2621.3,947-3186.2,1584.6-3500.2c1018.6-501.6,2228.7-296.8,3040.5,515.1c317.8,317.8,561,723.7,670.1,1120.1c101.5,369.5,158.9,455.7,360,553.3c114.9,57.4,170.4,65.1,1487.7,229.8c752.5,93.8,1392,181.9,1420.7,193.4C8628.7-857.9,9900,1250.1,9900,1328.6c0,84.3-67,172.3-147.4,195.3c-51.7,15.3-790.8,19.1-2558,15.3l-2487.2-5.7l-55.5-63.2l-55.5-61.3v-344.6V719.8h-411.7h-411.7v325.5c0,509.3,11.5,499.7-616.5,494C2921,1537.3,2695.1,1533.5,2653,1529.7z"
            />
          </g>
        </g>
      </svg>
      <Sidebar
        class="fadeIn animated faster"
        :reduce="reduce"
        @close-menu="reduce = true"
      />
      <!-- Customize your error messages here -->
      <nuxt />
    </div>
    <footer-bar
      :app-name="appName"
      :app-version="appVersion"
      style="left: 5rem"
    />
  </div>
</template>

<script>
import { NavBarExpanded } from 'premium-tesh-ui-lib'
import Avatar from 'vue-avatar-component'

import Sidebar from '@/components/SidebarExpanded'
import utilitiesMixin from '~/mixins/utilitiesMixin'

export default {
  name: 'Error',
  components: { NavBarExpanded, Sidebar, Avatar },
  mixins: [utilitiesMixin],
  data() {
    return {
      appName: this.$config.appName,
      appVersion: this.$config.appVersion,
      isAdmin: false,
      reduce: true
    }
  },
  computed: {
    menu() {
      return []
    }
  },
  methods: {
    registerUser(data) {
      this.$axios
        .post('Account/RegisterUser', {
          username: data.user,
          email: data.user,
          password: data.password,
          confirmPassword: data.confirmPassword,
          avatar: '',
          fullName: this.userFullName,
          clientURI: `${this.$store.state.APP_BASE_URL}/profile`
        })
        .then(() => {
          this.$buefy.toast.open({
            message: this.$t('registerSuccess'),
            type: 'is-success',
            duration: 5000
          })
        })
        .catch((err) => {
          // eslint-disable-next-line no-console
          console.log(err.response.data.message || err.message)
          this.toastError(err)
        })
    },
    recoveryPassword(email) {
      this.$axios
        .post('Account/ChangePasswordForBeingForgotten', {
          userEmailOrName: email,
          clientURI: `${this.$store.state.APP_BASE_URL}/reset-password`
        })
        .then((response) => {
          // eslint-disable-next-line no-console
          console.log(response)
        })
        .catch((err) => {
          // eslint-disable-next-line no-console
          console.log(err.response.data.message || err.message)
          this.toastError(err)
        })
    }
  }
}
</script>
