<template>
  <div>
    <section class="section is-main-section">
      <server-table-component
        ref="table"
        :data-url="getBasePath"
        :locale="$i18n.locale"
        v-bind="tableDefs"
        :custom-headers="true"
        @cleanFilters="cleanAllFilters"
        @open-column-filter="showFilterForm"
        @container-contextmenu="
          (ev) => {
            if (ev) ev.preventDefault()
            rowInCtx = null
            ctxOpen = !ctxOpen
          }
        "
        @contextmenu="
          (ev, row) => {
            if (ev) ev.preventDefault()
            rowInCtx = row
            ctxOpen = !ctxOpen
          }
        "
      >
        <template #right-extra-header-content>
          <b-tooltip
            type="is-primary"
            :label="$t('filter')"
            size="is-small"
            class="filter-button"
          >
            <b-button
              class="table-buttons"
              :rounded="tableDefs.vbuttons.roundedButtons"
              :outlined="tableDefs.vbuttons.outlinedButtons"
              icon-left="filter"
              type="is-primary is-light"
              @click="showFilterForm"
            >
              <span v-show="filtersCount > 0" class="filter-badge">{{
                filtersCount
              }}</span>
            </b-button>
          </b-tooltip>
        </template>
        <template v-if="isInModal" #header-extra-content>
          <b-button
            rounded
            outlined
            class="mx-5 my-5"
            type="is-light is-primary table-buttons"
            @click="modalClose"
          >
            <b-icon icon="close" size="is-small" />
          </b-button>
        </template>
        <template v-if="isInModal" #extra-content>
          <hr class="is-fullwidth my-3" />
          <b-field grouped position="is-right" style="padding: 0">
            <div class="control">
              <b-button type="is-light is-primary" outlined @click="modalClose">
                <b-icon icon="close" size="is-small" />
                <span>{{ $t('closeButton') }}</span>
              </b-button>
            </div>
          </b-field>
        </template>
      </server-table-component>
      <ctx v-if="!isReadonly" />
    </section>
  </div>
</template>

<script>
import {
  AdvancedFilterComponent,
  DateColumnComponent,
  TYPE_AUTOCOMPLETE,
  TYPE_FULLDATETIME,
  TYPE_TEXT
} from 'premium-tesh-ui-lib'

import dayjs from 'dayjs'

import genericFiltersMixin from '~/mixins/genericFiltersMixin'
import streamedContentsMixin from '~/mixins/streamedContentsMixin'
import tableContextMenuMixin from '~/mixins/tableContextMenuMixin'

const utc = require('dayjs/plugin/utc')
dayjs.extend(utc)

export default {
  name: 'ScheduleTransmission',
  mixins: [genericFiltersMixin, streamedContentsMixin, tableContextMenuMixin],
  middleware: 'guest',
  props: {
    contentChannelId: {
      type: String,
      default: null
    },
    streamTargetId: {
      type: String,
      default: null
    },
    isInModal: {
      type: Boolean,
      default: false
    },
    isReadonly: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      reload: false,
      tableDefs: {
        vtable: {
          draggable: false,
          headers: [
            {
              text: 'Id',
              value: 'id',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'id'
              }
            },
            {
              text: this.$t('streamTargetLabel'),
              value: 'streamTargetName',
              align: 'left',
              sortable: true,
              custom: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'streamTargetId'
              }
            },
            {
              text: this.$t('startTime'),
              value: 'transmissionDateTimeForEnable',
              align: 'left',
              sortable: true,
              rendervalue: (value) => {
                return dayjs(value).local().format('DD/M/YYYY hh:mm:ss A')
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'transmissionDateTimeForEnable'
              }
            },
            {
              text: this.$t('endTime'),
              value: 'transmissionDateTimeForDisable',
              align: 'left',
              sortable: true,
              rendervalue: (value) => {
                return dayjs(value).local().format('DD/M/YYYY hh:mm:ss A')
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'transmissionDateTimeForDisable'
              }
            },
            {
              text: this.$t('createdBy'),
              value: 'createdBy',
              align: 'left',
              sortable: true,
              custom: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'createdBy'
              }
            },
            {
              text: this.$t('createDateTime'),
              value: 'createdDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'createdDate'
              }
            },
            {
              text: this.$t('modifiedBy'),
              value: 'modifiedBy',
              align: 'left',
              sortable: true,
              custom: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'modifiedBy'
              }
            },
            {
              text: this.$t('modifyDateTime'),
              value: 'modifiedDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'modifiedDate'
              }
            },
            {
              text: this.$t('actions'),
              value: '',
              fixed: true,
              sortable: false,
              cellClass: 'actions-column',
              action: true,
              filter: {
                useFilter: false
              }
            }
          ]
        },
        vicon: {
          roundedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          edit: {
            show: !this.isReadonly,
            name: 'pencil',
            type: 'is-primary',
            tooltip: {
              label: this.$t('edit', { element: '' }),
              type: 'is-primary',
              position: 'is-top'
            }
          },
          delete: {
            show: !this.isReadonly,
            name: 'delete',
            type: 'is-danger',
            tooltip: {
              label: this.$t('delete', { element: '' }),
              type: 'is-primary',
              position: 'is-top'
            }
          }
        },
        vbuttons: {
          roundedButtons: true,
          outlinedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          buttons: []
        },
        rowName: 'streamTargetName',
        title: this.$t('cardTitle'),
        modalTitle: this.$t('cardTitle'),
        editModalTitle: this.$t('cardTitle'),
        headerIcon: 'cog-play-outline',
        form: {},
        findOneUrl: `/contentChannel/${this.contentChannelId}/ScheduleTransmission`,
        updateUrl: `/contentChannel/${this.contentChannelId}/ScheduleTransmission`,
        deleteUrl: `/contentChannel/${this.contentChannelId}/ScheduleTransmission`
      },
      filterForm: {
        ScheduleFilter: {
          title: this.$t('cardTitle'),
          icon: 'cog-play-outline',
          form: {
            Id: {
              fieldType: TYPE_TEXT,
              label: 'Id',
              placeholder: this.$t('placeholder', {
                key: 'id'
              }),
              activeOperator: '=='
            },
            transmissionDateTimeForEnable: {
              fieldType: TYPE_FULLDATETIME,
              label: this.$t('startTime'),
              placeholder: this.$t('placeholder', {
                key: this.$t('startTime').toLowerCase()
              }),
              value: null
            },
            transmissionDateTimeForDisable: {
              fieldType: TYPE_FULLDATETIME,
              label: this.$t('endTime'),
              placeholder: this.$t('placeholder', {
                key: this.$t('endTime').toLowerCase()
              }),
              value: null
            },
            StreamTargetName: {
              fieldType: TYPE_AUTOCOMPLETE,
              label: this.$tc('streamTargetLabel', 1),
              placeholder: this.$t('placeholder', {
                key: this.$tc('streamTargetLabel').toLowerCase()
              }),
              props: {
                optionId: 'id',
                optionName: 'streamTargetName',
                dataUrl: `StreamTargetLocal`,
                isRequired: false
              },
              save: (v) => {
                return v ? v.id : v
              },
              operators: ['==', '@=*'],
              activeOperator: '=='
            }
          }
        },
        UsersFilter: {
          title: this.$t('users'),
          icon: 'account-group',
          form: {
            CreatedBy: {
              fieldType: TYPE_TEXT,
              label: this.$t('createdBy'),
              placeholder: this.$t('placeholder', {
                key: this.$t('createdBy').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            ModifiedBy: {
              fieldType: TYPE_TEXT,
              label: this.$t('modifiedBy'),
              placeholder: this.$t('placeholder', {
                key: this.$t('modifiedBy').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            }
          }
        },
        DatesFilter: {
          title: this.$tc('date', 2),
          icon: 'calendar',
          form: {
            CreatedDate: {
              fieldType: TYPE_FULLDATETIME,
              label: this.$t('createDateTime'),
              placeholder: this.$t('placeholder', {
                key: this.$t('createDateTime').toLowerCase()
              }),
              value: null
            },
            ModifiedDate: {
              fieldType: TYPE_FULLDATETIME,
              label: this.$t('modifyDateTime'),
              placeholder: this.$t('placeholder', {
                key: this.$t('modifyDateTime').toLowerCase()
              }),
              value: null
            }
          }
        }
      },
      filters: '',
      filtersConstants: {
        Id: 'id',
        transmissionDateTimeForEnable: 'transmissionDateTimeForEnable',
        transmissionDateTimeForDisable: 'transmissionDateTimeForDisable',
        StreamTargetName: 'streamTargetId',
        CreatedBy: 'createdBy',
        CreatedDate: 'createdDate',
        ModifiedBy: 'modifiedBy',
        ModifiedDate: 'modifiedDate'
      },
      filtersCount: 0,
      vbtn: {
        create: {
          show: false
        }
      }
    }
  },
  head() {
    return {
      title: this.$config.appName
    }
  },
  computed: {
    titleStack() {
      return ['Admin', 'Tables']
    },
    getBasePath() {
      return this.reload
        ? ''
        : this.filters !== ''
        ? `/contentChannel/${this.contentChannelId}/ScheduleTransmission?filters=${this.filters}`
        : `/contentChannel/${this.contentChannelId}/ScheduleTransmission`
    },
    streamTargetUrl() {
      return `/StreamTargetLocal`
    }
  },
  created() {
    if (this.isReadonly) this.tableDefs.vbtn = this.vbtn
    this.autoTransmitionForm.streamTargetId.default = this.streamTargetId
    this.autoTransmitionForm.transmissionDateTimeForEnable[
      'field-input'
    ].minDateTime = new Date()
    this.autoTransmitionForm.transmissionDateTimeForDisable[
      'field-input'
    ].minDateTime = new Date()
    this.tableDefs.form = this.autoTransmitionForm
  },
  methods: {
    showFilterForm(field) {
      const ffield = field && field.useFilter ? field : null
      this.assignColumnFilterForm(ffield)

      this.$buefy.modal.open({
        parent: this,
        component: AdvancedFilterComponent,
        props: {
          form: ffield ? ffield.filterForm : this.filterForm,
          isInModal: true,
          filterType: 'schedule',
          stickyInside: true,
          locale: this.$i18n.locale,
          cardTitle: this.$t('cardTitle'),
          cardSubtitle: this.$t('filter'),
          enableAdvancedSearch: false,
          modalWidth: ffield ? 500 : 850,
          simpleMode: !!ffield,
          utc: true
        },
        events: {
          'filters-updated': this.updateFilters,
          'count-results': (q) => this.countResults(q, this.getBasePath),
          'filters-count': (v) => (this.filtersCount = v)
        },
        hasModalCard: true,
        destroyOnHide: true,
        trapFocus: true
      })
    },
    generateUrlFilters() {
      const array = []
      let str = ''

      // Spread date filters from normal ones
      const dateQueries = {}
      dateQueries.transmissionDateTimeForEnable = {
        ...this.queries.transmissionDateTimeForEnable
      }
      dateQueries.transmissionDateTimeForDisable = {
        ...this.queries.transmissionDateTimeForDisable
      }
      delete this.queries.transmissionDateTimeForEnable
      delete this.queries.transmissionDateTimeForDisable

      dateQueries.CreatedDate = { ...this.queries.CreatedDate }
      dateQueries.ModifiedDate = { ...this.queries.ModifiedDate }
      delete this.queries.CreatedDate
      delete this.queries.ModifiedDate

      // Generate standar filters
      str = this.urlFilters(this.queries, this.filtersConstants, 'table')
      array.push(str)

      Array.prototype.push.apply(
        array,
        this.specificDateFilter(
          'CreatedDate',
          'CreatedDate',
          dateQueries,
          this.filtersConstants
        )
      )
      Array.prototype.push.apply(
        array,
        this.specificDateFilter(
          'ModifiedDate',
          'ModifiedDate',
          dateQueries,
          this.filtersConstants
        )
      )

      Array.prototype.push.apply(
        array,
        this.specificDateFilter(
          'transmissionDateTimeForDisable',
          'transmissionDateTimeForDisable',
          dateQueries,
          this.filtersConstants
        )
      )

      Array.prototype.push.apply(
        array,
        this.specificDateFilter(
          'transmissionDateTimeForEnable',
          'transmissionDateTimeForEnable',
          dateQueries,
          this.filtersConstants
        )
      )

      return array.join(',')
    },
    modalClose() {
      let parent = this.$parent
      let isClosed = false
      while (!isClosed) {
        try {
          parent.close()
          isClosed = true
        } catch (error) {
          parent = parent.$parent
        }
      }
      this.$emit('modalClose')
    },
    cleanAllFilters() {
      this.reload = true
      this.filters = ''
      setTimeout(() => {
        this.reload = false
      }, 1000)
      this.filtersCount = 0
    }
  }
}
</script>
<i18n>
{
  "en": {
    "cardTitle": "Schedule Transmission",
    "transmissionDateTimeLabel": "Transmission Date Time",
    "placeholderSelect": "Select a {key}...",
    "streamTargetLabel": "Stream Target",
    "startTime": "Start Date Time",
    "endTime": "End Date Time"
  },
  "es": {
    "cardTitle": "Transmisiones Programadas",
    "transmissionDateTimeLabel": "Fecha y Hora de Transmisión",
    "placeholderSelect": "Seleccione una {key}...",
    "streamTargetLabel": "Destino de Transmisión",
    "startTime": "Fecha y hora de inicio",
    "endTime": "Fecha y hora de fin"
  }
}
</i18n>
