<template>
  <div>
    <div id="__subapp" key="subapp"></div>
  </div>
</template>
<script>
// This doesn't work either

import {
  registerApplication,
  // unloadApplication,
  start
} from 'single-spa'
import * as singleSpa from 'single-spa'

const appNames = singleSpa.getAppNames()

export default {
  name: 'User',
  created() {
    if (appNames) {
      if (!appNames.includes('users')) {
        registerApplication({
          name: 'users',
          app: async () => await import('../../users/_nuxt/subapp'),
          activeWhen: '/users'
        })
        start()
      }
    }
  },
  beforeUnmount() {
    singleSpa.unregisterApplication('users').then(() => {
      console.log('users is unmounted')
    })
  }
}
</script>
