<template>
  <publications-view-section :title="$t('titleLabel')" sorts="-createdDate" />
</template>

<script>
import PublicationsViewSection from '~/components/Publications/PublicationsViewSection.vue'

export default {
  auth: false,
  name: 'Recent',
  components: {
    PublicationsViewSection
  },
  data() {
    return {
      itemView: 'true',
      loading: false,
      error: false,
      searchText: null,
      search: false
    }
  },
  head() {
    return {
      title: this.$config.appName
    }
  },
  mounted() {
    const parents = document.querySelectorAll('div.is-fullwidth')
    parents.forEach((parent) => {
      if (parent.classList.length === 1) parent.style.height = 'unset'
    })
  }
}
</script>
<i18n>
{
  "en": {
    "titleLabel": "Recent"
  },
  "es": {
    "titleLabel": "Reciente"
  }
}
</i18n>
