<template>
  <div style="height: 100%">
    <section class="section is-main-section channel-view backimg">
      <div class="columns is-multiline">
        <div class="column is-12">
          <p class="title is-text-white is-3 pt-2">
            {{ $t('publicationLabel') }}
          </p>
          <p class="subtitle has-text-light is-5">
            {{
              $t(editionMode ? 'edit' : 'create', {
                element: $t('publicationLabel')
              })
            }}
          </p>
        </div>
        <hr class="custom-white-bkg my-3" />
        <div
          class="column"
          :class="{ 'is-10 is-aligned-center': !isMobileOrTablet }"
        >
          <p class="title is-text-white is-3">{{ $t('publicationInfo') }}</p>
          <dynamic-form
            :locale="$i18n.locale"
            :submit-url="baseUrl"
            :edition-mode="editionMode"
            :is-in-modal="false"
            :form="PublicationForm"
            :clear-on-close="false"
            :vbtn="formBtns"
            class="ghost-card is-text-white"
            @form-saved="publicationInfoUpdate"
            @form-close="goBack"
          />
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import mediaMixin from '@/mixins/mediaMixin'
import publicationMixin from '@/mixins/publicationMixin'
import utilitiesMixin from '~/mixins/utilitiesMixin'

export default {
  name: 'PublicationEdition',
  mixins: [publicationMixin, utilitiesMixin, mediaMixin],
  middleware: 'guest',
  async asyncData({ params, $axios, app }) {
    const publication = params.id
      ? app.store.getters.publicationOnEdition ||
        (await $axios.get(`/Publication/` + params.id))
      : {}
    return {
      publication: publication.data || publication,
      contentChannelId: params.contentChannelId
    }
  },
  data() {
    return {
      publication: {},
      saveChanges: false
    }
  },
  computed: {
    baseUrl() {
      return '/contentchannel/' + this.contentChannelId + '/publication'
    },
    editionMode() {
      return (
        this.$route.params &&
        this.$route.params.id !== null &&
        this.$route.params.id !== undefined
      )
    }
  },
  created() {
    this.loadFormData(this.PublicationForm, this.publication)
  },
  methods: {
    publicationInfoUpdate(data) {
      this.$buefy.toast.open({
        message: this.$t(this.editionMode ? 'editSuccess' : 'createSuccess'),
        type: 'is-success'
      })
      setTimeout(() => {
        this.$router.push(`/publication/` + data.id)
      }, 2000)
    }
  }
}
</script>
<i18n>
{
  "en": {
    "cardTitle": "Publication",
    "logoLabel": "Logo",
    "rankingLabel": "Ranking",
    "channelExclusiveBandwidthLabel": "Exclusive Bandwidth",
    "ownerIdLabel": "Owner",
    "subscribeNotify": "subscribe notification | subscribe notifications",
    "tooltipSaveMedia": "Select Media"
  },
  "es": {
    "cardTitle": "Publicación",
    "logoLabel": "Logo",
    "rankingLabel": "Ranking",
    "channelExclusiveBandwidthLabel": "Ancho de Banda Exclusivo",
    "ownerIdLabel": "Propietario",
    "subscribeNotify": "notificacion de suscripción | notificaciones de suscripción",
    "tooltipSaveMedia": "Selecciona una Media"
  }
}
</i18n>
