<template>
  <div style="height: 100%">
    <section class="section is-main-section backimg is-channel-section">
      <div>
        <div class="columns is-flex column is-12 m-0 p-0">
          <div class="p-3 column is-10">
            <p class="title is-text-white is-3 pt-2">
              {{ $t('titleLabel') }}
            </p>
          </div>
          <div class="p-3 column is-2 is-flex" style="align-items: end">
            <text-searcher
              icon-right="close"
              :icon-right-clickable="true"
              :has-icon-right="true"
              @search="(t) => (searchText = t)"
            />
            <!-- <div class="is-text-white is-align-items-center is-mobile is-flex">
              <b-icon
                class="is-clickable"
                :type="itemView ? 'is-primary' : ''"
                icon="view-module"
                size="is-medium"
                @click.native="viewChange(true)"
              >
              </b-icon>
              <b-icon
                class="is-clickable"
                :type="!itemView ? 'is-primary' : ''"
                icon="view-list"
                size="is-medium"
                @click.native="viewChange(false)"
              >
              </b-icon>
            </div> -->
          </div>
        </div>
        <hr class="custom-white-bkg my-3" />
      </div>
      <div v-if="itemView" class="columns is-multiline is-justified-center">
        <publication-skeleton :active="loading" :publications-number="10" />
        <div v-if="!loading" class="publications-content" style="width: 100%">
          <infinite-loading-container
            :component="Item"
            :wrapper="{ class: 'columns is-multiline m-3' }"
            :to-load-size="10"
            :data-url="contentChannelUrl"
            class="has-custom-scroll"
            max-height="80vh"
          />
        </div>
      </div>
      <div v-else>
        <content-channel :is-readonly="true" />
      </div>
    </section>
  </div>
</template>

<script>
import CardTitledPicture from '@/components/Cards/CardTitledPicture'
import InfiniteLoadingContainer from '~/components/InfiniteLoadingContainer.vue'
import TextSearcher from '~/components/Inputs/TextSearcher.vue'
import PublicationSkeleton from '~/components/Publications/PublicationSkeleton.vue'
import utilitiesMixin from '~/mixins/utilitiesMixin'
import ContentChannel from '~/pages/contentChannel/index.vue'

export default {
  auth: false,
  name: 'ContentChannelAll',
  components: {
    PublicationSkeleton,
    ContentChannel,
    InfiniteLoadingContainer,
    TextSearcher
  },
  mixins: [utilitiesMixin],
  data() {
    return {
      error: false,
      itemView: true,
      loading: false,
      itemsContentChannel: [],
      contentChannelListDefs: {
        vtable: {
          headers: [
            {
              text: this.$t('nameLabel'),
              value: 'name',
              align: 'left',
              sortable: true
            },
            {
              text: this.$t('descriptionLabel'),
              value: 'description',
              align: 'left',
              sortable: true
            }
          ]
        },
        vicon: {
          roundedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          edit: {
            show: false,
            name: 'pencil',
            type: 'is-primary',
            tooltip: {
              label: this.$t('editAudio'),
              type: 'is-primary',
              position: 'is-top'
            }
          },
          delete: {
            show: false,
            name: 'delete',
            type: 'is-danger',
            tooltip: {
              label: this.$t('deleteAudio'),
              type: 'is-primary',
              position: 'is-top'
            }
          }
        },
        vbuttons: {
          roundedButtons: true,
          outlinedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          buttons: []
        },
        title: this.$t('cardTitle'),
        modalTitle: this.$t('modalTitle'),
        editModalTitle: this.$t('editModalTitle'),
        headerIcon: 'pump',
        form: {}
      },
      searchText: null,
      search: false
    }
  },
  head() {
    return {
      title: this.$config.appName
    }
  },
  computed: {
    contentChannelUrl() {
      return this.searchText
        ? `/ContentChannel?SearchText=${this.searchText}`
        : `/ContentChannel`
    },
    customClass() {
      return {
        'column is-12 is-text-white': this.$mq === 'mobile',
        'column is-6 is-text-white': this.$mq === 'tablet',
        'column is-4 is-text-white': this.isDesktop,
        'column is-3 is-text-white': this.isFullHD
      }
    },
    Item() {
      return {
        type: CardTitledPicture,
        props: {
          showTitlesOnSide: true,
          isRounded: true,
          itemPropNames: {
            image: 'logoPath',
            subtitle: 'description',
            title: 'name'
          },
          fallbackItemImage: require('@/static/noimage.jpg'),
          class: this.customClass,
          onItemClick: this.goToContentChannel,
          onItemTitleClick: this.goToContentChannel
        }
      }
    }
  },
  beforeDestroy() {
    document.documentElement.classList.remove('has-white-footer')
  },
  methods: {
    searchData() {
      this.search = this.searchText && this.searchText !== ''
    },
    goToContentChannel(channelId) {
      this.$router.push('/contentChannel/' + channelId)
    },
    viewChange(val) {
      if (val) {
        this.itemView = true
      } else {
        this.itemView = false
      }
    }
  }
}
</script>
<i18n>
{
  "en": {
    "titleLabel": "Channels",
    "radioLabel": "Radio"
  },
  "es": {
    "titleLabel": "Canales",
    "radioLabel": "Radio"
  }
}
</i18n>
