<template>
  <div>
    <b-tooltip
      v-if="showButton"
      ref="tooltipToogle"
      :position="tooltipPosition"
      type="is-dark"
      :label="$t('openFilters')"
      class="filter-toogler"
    >
      <span class="is-inline-flex">
        <b-icon
          custom-size="mdi-18px"
          icon="filter"
          :type="filters || sorts ? 'is-primary' : 'is-light'"
          style="cursor: pointer"
          :class="{
            'animate__animated animate__rubberBand': enabledAnimation
          }"
          @click.native="showFilters = !showFilters"
        />
        <h1 v-if="showTooltipLabel" class="title is-4 has-text-light ml-1">
          {{ $t('filter') }}
        </h1>
      </span>
    </b-tooltip>
    <!-- Filter criterias -->
    <div
      class="filters-criterias my-1 px-3 columns"
      :class="{ 'is-flex': $mq !== 'mobile' }"
    >
      <template v-for="(fcriteria, i) in filtersCriterias">
        <div
          v-show="showFilters"
          :key="i"
          class="column has-text-light animate__animated"
        >
          {{ fcriteria.name.toUpperCase() }}
          <hr class="my-1" />
          <div v-for="(filter, y) in fcriteria.filters" :key="y">
            <span
              style="cursor: pointer"
              :class="{ 'is-active': filter.active }"
              @click="addFilter(fcriteria, filter)"
            >
              {{ filter.name }}
              <span class="ml-1" style="color: darkgray">
                {{ filter.active ? 'X' : '' }}
              </span>
            </span>
          </div>
        </div>
      </template>
    </div>
    <b-field
      v-show="showFilters && (filters || sorts)"
      grouped
      position="is-right"
      class="fadeIn animated faster p-0"
    >
      <b-button icon-right="broom" type="is-ghost" @click="clearAll">{{
        $t('cleanFilter')
      }}</b-button>
    </b-field>

    <!-- Publications filtered -->
    <hr v-show="searchUrl.length" class="custom-white-bkg mt-1" />
    <slot name="publications-container" :searchUrl="searchUrl" />
  </div>
</template>

<script>
import dayjs from 'dayjs'
require('dayjs/locale/es')
const relativeTime = require('dayjs/plugin/relativeTime')
const duration = require('dayjs/plugin/duration')
const utc = require('dayjs/plugin/utc')
dayjs.extend(duration)
dayjs.extend(relativeTime)
dayjs.extend(utc)

export default {
  name: 'PublicationsFilter',
  props: {
    baseUrl: {
      type: String,
      default: 'Publication'
    },
    staticFilters: {
      type: String,
      default: ''
    },
    criteria: {
      type: String,
      default: ''
    },
    defaultSorts: {
      type: String,
      default: ''
    },
    showTooltipLabel: {
      type: Boolean,
      default: true
    },
    tooltipPosition: {
      type: String,
      default: 'is-bottom'
    },
    showButton: {
      type: Boolean,
      default: true
    },
    show: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      filters: '',
      sorts: '',
      filtersCriterias: [
        {
          name: this.$t('createdDate'),
          param: 'createdDate',
          filters: [
            {
              name: this.$t('lastHour'),
              filterStr: `createdDate>=${dayjs()
                .second(0)
                .millisecond(0)
                .subtract(1, 'hour')
                .utc()
                .format(this.dateFormat)}`
            },
            {
              name: this.$t('today'),
              filterStr: `createdDate>=${dayjs()
                .hour(0)
                .minute(0)
                .second(0)
                .format(this.dateFormat)},createdDate<=${dayjs()
                .hour(23)
                .minute(59)
                .second(59)
                .utc()
                .format(this.dateFormat)}`
            },
            {
              name: this.$t('thisWeek'),
              filterStr: `createdDate>=${dayjs()
                .subtract(7, 'day')
                .format(this.dateFormat)}`
            },
            {
              name: this.$t('thisMonth'),
              filterStr: `createdDate>=${dayjs()
                .date(1)
                .format(this.dateFormat)},createdDate<=${dayjs()
                .date(dayjs().daysInMonth())
                .utc()
                .format(this.dateFormat)}`
            },
            {
              name: this.$t('thisYear'),
              filterStr: `createdDate>=${dayjs()
                .date(1)
                .month(0)
                .format(this.dateFormat)},createdDate<=${dayjs()
                .hour(23)
                .minute(59)
                .second(0)
                .millisecond(0)
                .date(30)
                .month(11)
                .utc()
                .format(this.dateFormat)}`
            }
          ]
        },
        {
          name: this.$t('type'),
          param: 'mediaType',
          filters: [
            { name: this.$tc('audio'), filterStr: 'mediaType==0' },
            { name: this.$tc('video'), filterStr: 'mediaType==1' }
          ]
        },
        {
          name: this.$t('duration'),
          param: 'mediaDuration',
          filters: [
            {
              name: this.$t('lestThan', {
                time: dayjs
                  .duration(5, 'minutes')
                  .locale(this.$i18n.locale)
                  .humanize()
              }),
              filterStr: `mediaDuration<${dayjs
                .duration(5, 'minutes')
                .asMilliseconds()}`
            },
            {
              name: this.$t('fromTo', {
                from: '5',
                time: `${dayjs
                  .duration(10, 'minutes')
                  .locale(this.$i18n.locale)
                  .humanize()}`
              }),
              filterStr: `mediaDuration>${dayjs
                .duration(5, 'minutes')
                .asMilliseconds()},mediaDuration<${dayjs
                .duration(10, 'minutes')
                .asMilliseconds()}`
            },
            {
              name: this.$t('fromTo', {
                from: '10',
                time: `${dayjs
                  .duration(30, 'minutes')
                  .locale(this.$i18n.locale)
                  .humanize()}`
              }),
              filterStr: `mediaDuration>${dayjs
                .duration(10, 'minutes')
                .asMilliseconds()},mediaDuration<${dayjs
                .duration(30, 'minutes')
                .asMilliseconds()}`
            },
            {
              name: this.$t('lestThan', {
                time: dayjs
                  .duration(1, 'hour')
                  .locale(this.$i18n.locale)
                  .humanize()
              }),
              filterStr: `mediaDuration<${dayjs
                .duration(1, 'hour')
                .asMilliseconds()}`
            }
          ]
        },
        {
          name: this.$t('sortBy'),
          param: 'Sorts',
          filters: [
            { name: this.$t('createdDate'), filterStr: '-createdDate' },
            { name: this.$t('viewCount'), filterStr: '-reproductionsCount' },
            { name: this.$t('visitsCount'), filterStr: '-visitsCount' }
          ]
        }
      ],
      showFilters: false,
      enabledAnimation: false
    }
  },
  computed: {
    dateFormat() {
      return this.$store.state.SERVER_DATE_FORMAT
    },
    searchUrl() {
      return `${
        this.baseUrl.includes('Filters=') || this.baseUrl.includes('filters=')
          ? this.baseUrl + ','
          : this.baseUrl
      }${this.staticFilters ? '?Filters=' + this.staticFilters + ',' : ''}${
        !this.staticFilters ? '?Filters=' + this.filters : this.filters
      }${this.criteria ? '&SearchText=' + this.criteria : ''}${
        this.sorts || this.defaultSorts
          ? '&Sorts=' + this.defaultSorts + ',' + this.sorts
          : ''
      }`
    }
  },
  watch: {
    show: {
      handler(newVal) {
        this.showFilters = newVal
      },
      inmediate: true
    },
    showFilters(newVal) {
      if (newVal) {
        this.enabledAnimation = true
        setTimeout(() => {
          this.enabledAnimation = false
        }, 1000)
      }
      this.$emit('update:show', newVal)
    },
    filters(newVal) {
      if (newVal) {
        this.enabledAnimation = true
        setTimeout(() => {
          this.enabledAnimation = false
        }, 1000)
      }
      this.$emit('update:filters', newVal)
    },
    sorts(newVal) {
      if (newVal) {
        this.enabledAnimation = true
        setTimeout(() => {
          this.enabledAnimation = false
        }, 1000)
      }
      this.$emit('update:sorts', newVal)
    }
  },
  created() {
    dayjs.locale(this.$i18n.locale)
    this.initialFilters()
  },
  methods: {
    addFilter(category, filter) {
      // Clear curret category activated filters
      category.filters.forEach((element) => {
        if (
          element !== filter &&
          !this.staticFilters.includes(element.filterStr) &&
          !this.defaultSorts.includes(element.filterStr)
        )
          element.active = false
      })
      // Get current active filters. Can disable if isn`t default filter or sort
      let filters = ''
      filter.active =
        filter.active &&
        !this.staticFilters.includes(filter.filterStr) &&
        !this.defaultSorts.includes(filter.filterStr)
          ? !filter.active
          : true
      const activeFilters = this.filtersCriterias.map((criteria) => {
        return criteria.filters.map((filter) => {
          // Get all active string if isn`t default filter or sort
          if (
            filter.active &&
            !this.defaultSorts.includes(filter.filterStr) &&
            !this.staticFilters.includes(filter.filterStr)
          )
            return filter.filterStr
          return ''
        })
      })
      // // Get active filter by Category
      // Spread active Sorts and other filters
      for (let index = 0; index < activeFilters.length; index++) {
        // Check sorts active
        if (index === activeFilters.length - 1)
          this.sorts = activeFilters[index]
            .filter((item) => item !== '')
            .join(',')
        else {
          filters += activeFilters[index]
            .filter((item) => item !== '')
            .join(',')
          if (index + 1 < activeFilters.length) filters += ','
          // Clean filter string
          filters = filters
            .replace(',,', ',')
            .replace(',&', '&')
            .replace('?,', '?')
        }
      }
      // }
      this.filters = filters
      if (this.filters === ',') this.filters = ''
      if (!this.filters && !this.sorts) this.showFilters = false
    },
    initialFilters() {
      let fArr = []
      if (this.staticFilters) {
        fArr = fArr.concat(this.staticFilters.split(','))
      }
      if (this.defaultSorts) {
        fArr = fArr.concat(this.defaultSorts.split(','))
      }
      fArr.forEach((element) => {
        this.filtersCriterias.map((item) => {
          item.filters.map((f) => {
            if (f.filterStr === element) f.active = true
            return f
          })
          return item
        })
      })
    },
    clearAll() {
      this.filtersCriterias.forEach((element) => {
        element.filters.forEach((filter) => {
          if (
            !this.defaultSorts.includes(filter.filterStr) &&
            !this.staticFilters.includes(filter.filterStr)
          )
            if (filter.active) filter.active = false
        })
      })
      this.showFilters = false
      this.filters = ''
      this.sorts = ''
    }
  }
}
</script>
<i18n>
{
    "en": {
        "createdDate": "Created Date",
        "lastHour": "Last hour",
        "today": "Today",
        "thisWeek": "This week",
        "thisMonth": "This month",
        "thisYear": "This year",
        "lestThan": "Less than {time}",
        "fromTo": "{from} to {time}",
        "viewCount": "Number of views",
        "areViewingCount": "Are Viewing",
        "visitsCount": "Number of visits",
        "type": "Type",
        "sortBy": "Sort By",
        "duration": "Duration",
        "openFilters": "Open search filters",
        "cleanFilter": "Clear all"
    },
    "es": {
        "createdDate": "Fecha de Creación",
        "lastHour": "Última hora",
        "today": "Hoy",
        "thisWeek": "Esta semana",
        "thisMonth": "Este mes",
        "thisYear": "Este año",
        "lestThan": "Menos de {time}",
        "fromTo": "{from} a {time}",
        "viewCount": "Cantidad de vistas",
        "areViewingCount": "Lo están Viendo",
        "visitsCount": "Cantidad de visitas",
        "type": "Tipo",
        "sortBy": "Ordenar Por",
        "duration": "Duración",
        "openFilters": "Abrir filtros de búsqueda",
        "cleanFilter": "Limpiar criterios"
    }
}
</i18n>
<style lang="scss" scoped>
.filter-toogler {
  align-items: center;
}
</style>
