<template>
  <div style="height: 100%">
    <section class="section is-main-section backimg is-channel-section">
      <div class="columns is-multiline">
        <div class="columns column is-12 m-0 p-0">
          <div class="p-3 column is-10">
            <p class="title is-text-white is-3 pt-2">
              {{ title }}
            </p>
          </div>
          <div
            class="heading-filters p-3 column is-2 is-mobile is-flex"
            style="align-items: center"
          >
            <text-searcher
              icon-right="filter"
              :icon-right-clickable="true"
              :class="{
                animate__animated: filters || sorts || showFilters,
                'has-active-criteria': filters || sorts
              }"
              @search="(t) => (searchText = t)"
              @icon-right-click="showFilters = !showFilters"
            />
          </div>
        </div>
      </div>
      <publications-filter
        ref="filter"
        :show.sync="showFilters"
        :show-button="false"
        :static-filters="filters"
        :criteria="searchText"
        :default-sorts="sorts"
        :show-tooltip-label="false"
        class="m-0"
      >
        <template #publications-container="data">
          <div class="is-fullwidth" style="height: 78vh">
            <infinite-loading-container
              :component="Item"
              :wrapper="{
                class: {
                  'columns is-multiline m-3': true
                }
              }"
              :to-load-size="$mq === 'mobile' ? 10 : 20"
              :data-url="data.searchUrl"
              class="has-custom-scroll"
              max-height="80vh"
            />
          </div>
        </template>
      </publications-filter>
    </section>
  </div>
</template>

<script>
import CardPublication from '@/components/Cards/CardPublication.vue'
import InfiniteLoadingContainer from '~/components/InfiniteLoadingContainer.vue'
import TextSearcher from '~/components/Inputs/TextSearcher.vue'
import PublicationsFilter from '~/components/Publications/PublicationsFilter.vue'
import utilitiesMixin from '~/mixins/utilitiesMixin'

export default {
  auth: false,
  name: 'PublicationsView',
  components: {
    InfiniteLoadingContainer,
    TextSearcher,
    PublicationsFilter
  },
  mixins: [utilitiesMixin],
  props: {
    title: {
      type: String,
      default: 'Publications'
    },
    sorts: {
      type: String,
      default: ''
    },
    filters: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      itemView: true,
      loading: false,
      error: false,
      searchText: null,
      search: false,
      showFilters: false
    }
  },
  computed: {
    customClass() {
      return {
        'column is-12 is-text-white': this.$mq === 'mobile',
        'column is-6 is-text-white': this.$mq === 'tablet',
        'column is-4 is-text-white': this.isDesktop,
        'column is-3 is-text-white': this.isFullHD
      }
    },
    Item() {
      return {
        type: CardPublication,
        props: {
          hasItemActions: false,
          class: this.customClass,
          showTitlesOnSide: false,
          itemPropNames: {
            image: 'presentationImagePath',
            subtitle: 'description'
          }
        }
      }
    }
  },
  watch: {
    searchText(newVal) {
      if (newVal === '' || !newVal) this.search = false
    }
  },
  created() {
    this.customizeHomeStyles()
  },
  beforeDestroy() {
    document.documentElement.classList.remove('has-white-footer')
  },
  methods: {
    customizeHomeStyles() {
      document.documentElement.classList.add('has-white-footer')
    },
    goToPublication(publicationId) {
      this.$router.push('/publication/' + publicationId)
    }
  }
}
</script>
