<template>
  <div
    v-show="active"
    class="publications-skeleton columns"
    :class="{
      'is-flex is-multiline': active
    }"
    style="width: 100%"
  >
    <div
      v-for="i in publications"
      :key="i"
      class="column pt-2"
      :class="{
        'is-4-mobile is-4-tablet is-2-desktop is-2-fullhd': horizontal,
        'is-flex is-12': !horizontal
      }"
    >
      <span
        class="column is-paddingless item-skeleton-image"
        :class="{
          'is-6': !horizontal,
          'is-12': horizontal
        }"
        style="display: grid; min-height: 10vh"
      >
        <b-skeleton height="95%"></b-skeleton>
      </span>
      <span
        class="column is-paddingless item-skeleton-text pt-1"
        :class="{
          'is-6 pl-2': !horizontal,
          'is-12': horizontal
        }"
      >
        <b-skeleton width="95%"></b-skeleton>
        <b-skeleton width="95%"></b-skeleton>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PublicationSkeleton',
  props: {
    active: {
      type: Boolean,
      default: false
    },
    publicationsNumber: {
      type: Number,
      default: 5
    },
    horizontal: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {}
  },
  computed: {
    publications() {
      const p = []
      for (let index = 0; index < this.publicationsNumber; index++) {
        p.push(index)
      }
      return p
    }
  }
}
</script>

<style></style>
