<template>
  <publications-view-section
    :title="$t('titleLabel')"
    filters="mediaType==0,streamType==0"
  />
</template>

<script>
import PublicationsViewSection from '~/components/Publications/PublicationsViewSection.vue'

export default {
  auth: false,
  name: 'RadioLive',
  components: {
    PublicationsViewSection
  },
  data() {
    return {
      itemView: 'true',
      loading: false,
      error: false,
      searchText: null,
      search: false
    }
  },
  head() {
    return {
      title: this.$config.appName
    }
  }
}
</script>
<i18n>
{
  "en": {
    "titleLabel": "Radio - Live"
  },
  "es": {
    "titleLabel": "Radio - En Vivo"
  }
}
</i18n>
