<template>
  <card-component
    :title="cardTitle.toUpperCase()"
    :title-class="titleClass"
    :subtitle="cardSubtitle"
    :subtitle-class="cardSubtitleClass"
    icon="filter"
    class="advanced-filter"
    :class="cardClass"
    :is-in-modal="isInModal"
    :modal-width="modalWidth"
  >
    <b-loading
      v-model="isLoading"
      :is-full-page="true"
      :can-cancel="false"
      class="advanced-loading"
    >
      <div
        class="columns d-flex is-vcentered is-multiline"
        style="z-index: 0; display: inline-grid"
      >
        <div class="column is-12" style="color: white">
          <span style="font-size: xx-large">{{ tr('loading') }}...</span>
          <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
          </div>
        </div>
        <div class="column is-12 is-flex" style="justify-content: center">
          <b-button
            id="search-cancel"
            size="is-medium"
            type="is-danger"
            @click.stop="isLoading = false"
            >{{ tr('cancellSearch') }}</b-button
          >
        </div>
      </div>
    </b-loading>
    <ValidationObserver ref="validator" v-slot="{ handleSubmit, valid }">
      <form
        novalidate
        :class="!cellView || 'is-cell-view'"
        @submit.prevent="handleSubmit(sendQuery)"
      >
        <div class="container">
          <div
            v-if="!simpleMode"
            class="column p-0 mb-5"
            :class="enableAdvancedSearch || 'is-offset-10 is-search-card'"
          >
            <card-component
              v-if="enableAdvancedSearch && showSearchFilter"
              :title="tr('advancedSearchLabel')"
              icon="magnify"
              class="no-footer"
            >
              <template #default>
                <div class="columns is-flex is-vcentered">
                  <div class="column">
                    <text-component
                      id="generic-searcher"
                      v-model.lazy="genericSearch"
                      type="text"
                      :placeholder="tr('advancedSearchPlaceholder')"
                      :horizontal="false"
                      :expanded="true"
                      :is-required="false"
                      :hide-validation="hideValidations"
                      :show-clear-icon="true"
                    />
                  </div>
                  <b-tooltip :label="tr('searchLabel')" position="is-top">
                    <b-button
                      id="search"
                      native-type="submit"
                      size="is-medium"
                      class="button-icon"
                      ><b-icon
                        icon="magnify"
                        class="bottom-action-icon"
                        custom-size="mdi-24px"
                    /></b-button>
                  </b-tooltip>
                </div>
              </template>
            </card-component>
            <div v-if="!enableAdvancedSearch && showSearchFilter" class="card">
              <div class="card-content pt-2 pb-2">
                <div
                  class="content is-flex"
                  style="align-items: center; justify-content: flex-end"
                >
                  <span id="search-label" class="mr-4">{{
                    tr('searchLabel')
                  }}</span>
                  <b-tooltip :label="tr('searchLabel')" position="is-left">
                    <b-button
                      id="search"
                      native-type="submit"
                      size="is-medium"
                      class="button-icon"
                      ><b-icon
                        icon="magnify"
                        class="bottom-action-icon"
                        custom-size="mdi-24px"
                    /></b-button>
                  </b-tooltip>
                </div>
              </div>
            </div>
          </div>
          <div class="column p-0">
            <div class="columns is-multiline">
              <template v-for="(card, key) in myForm">
                <div
                  :key="key"
                  class="column card-column"
                  :class="key === lastFormCard || cellView ? 'is-full' : 'f-h'"
                >
                  <card-component
                    :key="key"
                    :title="card.title.toUpperCase()"
                    :subtitle="card.subtitle || ''"
                    :subtitle-class="cardSubtitleClass"
                    :icon="card.icon"
                    class="no-footer"
                    :class="{ 'is-simple-mode': simpleMode }"
                  >
                    <div id="advanced-filter-container" class="container">
                      <div class="columns is-flex is-vcentered is-multiline">
                        <div class="column">
                          <template
                            v-for="(item, i) in card.form || card.fields"
                          >
                            <div
                              v-if="
                                (item.operators && item.operators.length) ||
                                (item.fieldType && item.fieldType.operators)
                              "
                              :key="`${i}-container`"
                              class="container is-fullwidth"
                            >
                              <div class="columns is-flex is-vcentered p-3">
                                <div class="column">
                                  <div class="column is-flex">
                                    <h3
                                      class="custom-label font-transform-uppercase"
                                      style="width: -webkit-fill-available"
                                    >
                                      {{
                                        item.label ||
                                        item['field-input'].label ||
                                        item['field-input'].name
                                      }}
                                    </h3>
                                    <b-icon
                                      v-show="
                                        inputIsSuccess(
                                          valid,
                                          item[item.activeOperator || '==']
                                        )
                                      "
                                      icon="check-circle"
                                      :custom-class="'pl-5'"
                                      custom-size="mdi-18px"
                                      type="is-info"
                                      class="success-check-blue"
                                    />
                                  </div>
                                  <b-tabs
                                    :key="`${i}-tab`"
                                    v-model="item.activeOperator"
                                    expanded
                                    multiline
                                    class="mb-0 no-content"
                                  >
                                    <b-tab-item
                                      v-for="operator in item.operators ||
                                      (item.fieldType &&
                                        item.fieldType.operators) ||
                                      []"
                                      :key="operator"
                                      :label="operatorName(operator)"
                                      class="mb-2"
                                      :value="operator"
                                    >
                                    </b-tab-item>
                                  </b-tabs>
                                  <div class="columns hide-inner-labels">
                                    <div
                                      class="column"
                                      v-bind="
                                        item['field-wrapper'] ||
                                        (item.fieldType &&
                                          item.fieldType.wrapper)
                                      "
                                    >
                                      <component
                                        :is="
                                          item.type ||
                                          (item.fieldType &&
                                            item.fieldType.component) ||
                                          null
                                        "
                                        :key="`${i}`"
                                        v-model="
                                          item[item.activeOperator || '==']
                                        "
                                        :name="`${i}`"
                                        v-bind="
                                          item['field-input'] ||
                                          item.props ||
                                          (item.fieldType
                                            ? item.fieldType.props
                                            : {})
                                        "
                                        :placeholder="
                                          item.placeholder ||
                                          (item['field-input'] &&
                                            item['field-input'].placeholder) ||
                                          ''
                                        "
                                        :horizontal="false"
                                        :expanded="true"
                                        :hide-validation="hideValidations"
                                        :locale="currentLocale"
                                        v-on="item.events"
                                      />
                                    </div>
                                    <div
                                      v-if="item.activeOperator === '[]'"
                                      class="column"
                                    >
                                      <component
                                        :is="
                                          item.type ||
                                          (item.fieldType &&
                                            item.fieldType.component) ||
                                          null
                                        "
                                        :key="`${i}-last`"
                                        v-model="item.lastValue"
                                        :name="null"
                                        :label="null"
                                        v-bind="
                                          item['field-input'] ||
                                          item.props ||
                                          (item.fieldType
                                            ? item.fieldType.props
                                            : {})
                                        "
                                        :horizontal="false"
                                        :expanded="true"
                                        :hide-validation="hideValidations"
                                        :locale="currentLocale"
                                        :placeholder="
                                          item.placeholder ||
                                          (item['field-input'] &&
                                            item['field-input'].placeholder) ||
                                          ''
                                        "
                                        v-on="item.events"
                                      />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div
                              v-else
                              :key="`${i}`"
                              v-bind="
                                item['field-wrapper'] ||
                                (item.fieldType && item.fieldType.wrapper)
                              "
                              class="column"
                            >
                              <component
                                :is="
                                  item.type ||
                                  (item.fieldType && item.fieldType.component)
                                "
                                :key="`${i}`"
                                v-model="item.value"
                                :name="`${i}`"
                                v-bind="
                                  item['field-input'] ||
                                  item.props ||
                                  (item.fieldType ? item.fieldType.props : {})
                                "
                                :horizontal="false"
                                :expanded="true"
                                :hide-validation="hideValidations"
                                :locale="currentLocale"
                                :placeholder="
                                  item.placeholder ||
                                  (item['field-input'] &&
                                    item['field-input'].placeholder) ||
                                  ''
                                "
                                :active-operator="
                                  item.activeOperator ||
                                  (item['field-input'] &&
                                    item['field-input'].activeOperator) ||
                                  undefined
                                "
                                v-on="item.events"
                                @operatorUpdated="
                                  (active) => {
                                    item.activeOperator = active
                                    if (item['field-input'])
                                      item['field-input'].activeOperator =
                                        active
                                  }
                                "
                              >
                                <template #input-label>
                                  <div class="column is-flex">
                                    <h3
                                      class="custom-label font-transform-uppercase"
                                      style="width: -webkit-fill-available"
                                    >
                                      {{
                                        item.label ||
                                        item['field-input'].label ||
                                        item['field-input'].name
                                      }}
                                    </h3>
                                    <b-icon
                                      v-show="inputIsSuccess(valid, item.value)"
                                      icon="check-circle"
                                      custom-class="pl-5"
                                      custom-size="mdi-18px"
                                      type="is-info"
                                      class="success-check-blue"
                                    />
                                  </div>
                                </template>
                              </component>
                            </div>
                          </template>
                        </div>
                      </div>
                    </div>
                  </card-component>
                </div>
              </template>
            </div>
          </div>
        </div>
        <div id="sticky-right" class="sticky-right">
          <div class="column p-1 m-0">
            <b-tooltip :label="tr('activeFilterLabel')" position="is-left"
              ><span class="filters-count">{{
                validatedFields
              }}</span></b-tooltip
            >
          </div>
          <div class="column p-1 m-0">
            <b-tooltip :label="tr('clearFiltersLabel')" position="is-left">
              <b-button
                size="is-small"
                class="button-only-icon"
                :disabled="
                  validatedFields === 0 &&
                  (!genericSearch || genericSearch.length === 0)
                "
                @click.stop="clearFilters"
              >
                <b-icon icon="broom" custom-size="mdi-24px" />
              </b-button>
            </b-tooltip>
          </div>
          <div class="column p-1 m-0">
            <b-tooltip :label="tr('countResultsLabel')" position="is-left">
              <b-button
                :disabled="
                  validatedFields === 0 &&
                  (!genericSearch || genericSearch.length === 0)
                "
                size="is-small"
                class="button-only-icon"
                @click.stop="askForResultsCount"
                ><b-icon icon="format-list-numbered" custom-size="mdi-24px"
              /></b-button>
            </b-tooltip>
          </div>
          <div
            v-if="!simpleMode"
            class="column is-flex pl-1 pt-1 pb-1 pr-0 m-0"
          >
            <b-tooltip :label="tr('limitSearchLabel')" position="is-left">
              <i v-if="searchLimit" class="limit-badge">{{ searchLimit }}</i>
              <b-select
                v-model="searchLimit"
                icon="format-align-middle"
                class="select-only-icon"
                :class="limitActive"
              >
                <option value="2">2</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </b-select>
            </b-tooltip>
          </div>
          <div class="column p-1 m-0">
            <b-tooltip :label="tr('searchLabel')" position="is-left">
              <b-button
                native-type="submit"
                size="is-small"
                class="button-only-icon"
                ><b-icon icon="magnify" custom-size="mdi-24px"
              /></b-button>
            </b-tooltip>
            <!-- <b-tooltip :label="tr('searchLabel')" position="is-left">
              <b-button
                size="is-small"
                class="button-only-icon"
                @click.stop="showSearchFilter = !showSearchFilter"
                ><b-icon icon="magnify" custom-size="mdi-24px"
              /></b-button>
            </b-tooltip> -->
          </div>
        </div>
        <div
          id="bottom-actions"
          class="sticky-right bottom-actions"
          :class="stickyView"
          style="display: none"
        >
          <b-button native-type="submit" size="is-medium" class="button-icon"
            ><b-icon
              icon="magnify"
              class="bottom-action-icon"
              custom-size="mdi-24px"
          /></b-button>
          <scroll-top-component
            :element="
              enableAdvancedSearch ? '#generic-searcher' : '#search-label'
            "
            :container="
              containerClassName
                ? `.${containerClassName}`
                : isInModal
                ? '.modal-card-body'
                : 'body'
            "
            :offset="isInModal ? -100 : -200"
            custom-class="button-icon"
          >
            <template #scroll>
              <b-icon
                icon="arrow-up"
                class="bottom-action-icon pl-0"
                custom-size="mdi-24px"
              />
            </template>
          </scroll-top-component>
        </div>
      </form>
    </ValidationObserver>
    <template v-if="isInModal" slot="footer" class="columns">
      <b-field class="column p-1 mr-1" grouped position="is-right">
        <div class="control">
          <b-button type="is-primary" outlined @click="sendQuery">
            <b-icon icon="magnify" size="is-small" />
            <span>{{ tr('filter') }}</span>
          </b-button>
          <b-button
            type="is-light is-primary"
            outlined
            @click="$parent.close()"
          >
            <b-icon icon="close" size="is-small" />
            <span>{{ tr('closeButton') }}</span>
          </b-button>
        </div>
      </b-field>
    </template>
  </card-component>
</template>

<script>
import {
  TextComponent,
  CardComponent,
  ScrollTopComponent
} from 'premium-tesh-ui-lib'
import { ValidationObserver } from 'vee-validate'
import Vue from 'vue'
import VueI18n from 'vue-i18n'
import Swal from 'sweetalert2'
import messages from './messages'

import cellViewMixin from '@/mixins/cellViewMixin'
// import TextComponent from "../InputComponents/TextComponent";
// import CardComponent from "../CardComponents/CardComponent";
import inputSuccessCheck from '@/mixins/inputSuccessCheckMixin.js'
// import ScrollTopComponent from "./ScrollTopComponent";

Vue.use(VueI18n)

const i18n = new VueI18n({
  locale: 'en',
  fallbackLocale: 'en',
  vueI18nLoader: true,
  silentTranslationWarn: true,
  silentFallbackWarn: true,
  messages
})

const state = {}
const getters = {
  filterType: (state) => (contest) => {
    if (typeof state[contest] === 'undefined') {
      Vue.set(state, contest, {})
    }
    if (typeof state[contest].filterType === 'undefined') {
      Vue.set(state[contest], 'filterType', '')
    }
    return state[contest].filterType
  },
  searchLimit: (state) => (contest) => {
    if (typeof state[contest] === 'undefined') {
      Vue.set(state, contest, {})
    }
    if (typeof state[contest].searchLimit === 'undefined') {
      Vue.set(state[contest], 'searchLimit', null)
    }
    return state[contest].searchLimit
  },
  genericSearch: (state) => (contest) => {
    if (typeof state[contest] === 'undefined') {
      Vue.set(state, contest, {})
    }
    if (typeof state[contest].genericSearch === 'undefined') {
      Vue.set(state[contest], 'genericSearch', {
        value: null,
        activeOperator: '@=*'
      })
    }
    return state[contest].genericSearch.value
  }
}
const mutations = {
  setFilterType: (state, contest, value) => {
    Vue.set(state[contest], 'filterType', value)
  },
  setDefaults: (state, contest) => {
    Vue.set(state, contest, {})
  },
  setSearchLimit: (state, contest, value) => {
    Vue.set(state[contest], 'searchLimit', value)
  },
  setGenericSearch: (state, contest, value) => {
    Vue.set(state[contest], 'genericSearch', value)
  }
}

export default {
  name: 'AdvancedFilterComponent',
  components: {
    CardComponent,
    ValidationObserver,
    TextComponent,
    ScrollTopComponent
  },
  mixins: [cellViewMixin, inputSuccessCheck],
  props: {
    // Form object to build AdvancedFilter form view
    form: {
      type: Object,
      default: () => {},
      required: true
    },
    // Title of AdvancedFilter outher card
    cardTitle: {
      type: String,
      default: 'ADVANCED FINDER'
    },
    // Sets custom class to Title of AdvancedFilter outher card
    titleClass: {
      type: String,
      default: 'is-size-4'
    },
    cardSubtitle: { type: String, default: null },
    cardSubtitleClass: { type: String, default: 'is-size-5' },
    // Puts outher card class in-modal
    isInModal: {
      type: Boolean,
      default: false
    },
    // *** Very important required prop identifies the dynamic store of the component ***
    // Is used in component events for interchange data with parent
    filterType: {
      type: String,
      default: '',
      required: true
    },
    // Defines the width of the outher card
    modalWidth: {
      type: Number,
      default: 400
    },
    // Define stycky right position in modal
    stickyInside: {
      type: Boolean,
      default: false
    },
    // Hides inner components visual validation effects
    hideValidations: {
      type: Boolean,
      default: true
    },
    // Show or hide advanced search card
    enableAdvancedSearch: {
      type: Boolean,
      default: true
    },
    // Locale string {en, es ...} for display language on component
    locale: {
      type: String,
      default: 'en'
    },
    closeOnclear: {
      type: Boolean,
      default: false
    },
    // Classname of the element that contains the AdvancedFilter
    containerClassName: {
      type: String,
      default: null
    },
    simpleMode: {
      type: Boolean,
      default: false
    },
    utc: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      isLoading: false,
      queryParams: {},
      validatedFields: 0,
      genericSearch: null,
      searchLimit: null,
      resultsCount: '',
      myForm: {},
      showSearchFilter: false
    }
  },
  computed: {
    // Return stored filterType variable
    getFilterType() {
      return getters.filterType(state)(this.filterType)
    },
    // Return stored searchLimit variable
    getSearchLimit() {
      return getters.searchLimit(state)(this.filterType)
    },
    // Return stored genericSearch text variable
    getGenericSearch() {
      return getters.genericSearch(state)(this.filterType)
    },
    // Return the key name of last form card
    lastFormCard() {
      return Object.keys(this.myForm)[Object.keys(this.myForm).length - 1]
    },
    // Adds a class to identify if searchLimit is active
    limitActive() {
      return this.searchLimit ? '--active' : '--inactive'
    },
    cardView() {
      return this.isInModal ? 'modal-card-view' : 'background-card-view'
    },
    stickyView() {
      return this.stickyInside ? 'sticky-inside' : 'sticky-out'
    },
    cardClass() {
      return `${this.isInModal ? '' : 'no-footer'} ${this.cardView} ${
        this.stickyView
      }`
    },
    currentLocale() {
      return this.locale
    }
  },
  watch: {
    // Watch if parent updates resultsCount prop to fire results showing
    resultsCount(value) {
      this.showResultsCount(value)
    }
  },
  created() {
    i18n.locale = this.locale
    this.myForm = Object.assign({}, this.form)
  },
  mounted() {
    this.$nuxt.$on('results-count', (value) => {
      this.resultsCount = value
    })
    this.genericSearch = this.getGenericSearch

    if (this.getSearchLimit !== 'null') this.searchLimit = this.getSearchLimit
    // Watch ValidationObserver for model changes to count activeFilters
    this.$watch(
      () => {
        return this.$refs.validator.fields
      },
      (fields) => {
        let actFilters = 0
        Object.keys(fields).forEach((item) => {
          if (
            fields[item].valid &&
            fields[item].name &&
            this.inputIsSuccess(
              true,
              this.$refs.validator.refs[fields[item].id].value
            )
          ) {
            actFilters++
          }
        })
        this.validatedFields = actFilters
      },
      { deep: false }
    )
    this.enableScrollTopAction()
  },
  methods: {
    isNullOrEmpty(value) {
      return (
        value === null || value === '' || value === 'null' || value === false
      )
    },
    // updateActiveFilters(value) {
    //   mutations.setActiveFilters(state, this.filterType, value)
    // },
    updateSearchLimit(value) {
      mutations.setSearchLimit(state, this.filterType, value)
    },
    updateGenericSearch(value) {
      mutations.setGenericSearch(state, this.filterType, value)
    },
    clearStore() {
      mutations.setDefaults(state, this.filterType)
    },
    sendQuery() {
      this.isLoading = true
      this.$emit('filters-count', this.validatedFields)
      // this.updateActiveFilters(this.validatedFields - this.defaultFiltersCount)
      this.updateSearchLimit(this.searchLimit)

      this.constructQuery()
      this.updateGenericSearch(this.queryParams.Generic)
      if (Object.entries(this.queryParams).length > 0) {
        this.$emit('filters-updated', this.queryParams, this.utc)
      }
      this.isLoading = false
      if (this.isInModal) {
        this.$parent.close()
      }
    },
    // Construct the query object with matching Form names, values and active operator selected
    constructQuery() {
      this.queryParams.Generic = {
        value: this.genericSearch,
        activeOperator: '@=*'
      }
      this.queryParams.MaxResults = this.searchLimit

      try {
        for (const element in this.myForm) {
          const fields =
            this.myForm[element].form || this.myForm[element].fields
          for (const key in fields) {
            let val = null
            if (fields[key].lastValue && fields[key].activeOperator === '[]') {
              val = [
                fields[key].save // Perform a save operation if required
                  ? fields[key].save(fields[key]['[]'])
                  : fields[key]['[]'],
                fields[key].save // Perform a save operation if required for 2nd val
                  ? fields[key].save(fields[key].lastValue)
                  : fields[key].lastValue
              ]
            } else if (
              fields[key].operators ||
              (fields[key].fieldType && fields[key].fieldType.operators)
            ) {
              // Gets current value if is false, 0
              const currentVal = this.inputIsSuccess(
                true,
                fields[key].activeOperator
              )
                ? fields[key].activeOperator
                : null
              // Perform save operation if needed
              val = fields[key].save
                ? fields[key].save(fields[key][currentVal || 'value'])
                : fields[key][currentVal || 'value']
            } else if (fields[key].save) {
              val = fields[key].save(fields[key].value)
            } else val = fields[key].value

            this.queryParams[key] = {
              value: val,
              activeOperator: fields[key].activeOperator || '=='
            }
          }
        }
      } catch (e) {
        // eslint-disable-next-line no-console
        // console.log(e);
        this.isLoading = false
        this.$buefy.snackbar.open({
          type: 'is-danger',
          message: this.tr('errorFiltering', { error: e }),
          queue: false
        })
      }
    },
    // Emits an event for parent clear stored values and update results
    clearFilters() {
      Object.keys(this.myForm).forEach((key) => {
        const fields = this.myForm[key].form || this.myForm[key].fields
        Object.keys(fields).forEach((item) => {
          fields[item].value = null

          if (
            fields[item].operators ||
            (fields[item].fieldType && fields[item].fieldType.operators)
          ) {
            fields[item].activeOperator = '=='
            if (fields[item].lastValue) {
              fields[item]['[]'] = null
              fields[item].lastValue = null
            }
            fields[item]['=='] = null
            fields[item]['<'] = null
            fields[item]['>'] = null
            fields[item]['@=*'] = null
          } else {
            if (!fields[item].events) fields[item].events = {}
            if (fields[item]['field-input']) {
              Object.assign(fields[item].events, {
                clearedOutValues: () => {
                  fields[item]['field-input'].clearValues = false
                }
              })
              fields[item]['field-input'].clearValues = true
            }
          }
        })
      })
      this.clearStore()

      this.$emit('clear-filters', this.filterType)
      if (this.isInModal && this.closeOnclear) {
        this.$parent.close()
      }
    },
    operatorName(operator) {
      let name = ''
      if (operator === '==') name = i18n.t('equalsOperator')
      else if (operator === '<') name = i18n.t('lessOperator')
      else if (operator === '>') name = i18n.t('greaterOperator')
      else if (operator === '[]') name = i18n.t('intervalOperator')
      else if (operator === '@=*') name = i18n.t('includesOperator')
      else {
        name = operator
      }

      return name
    },
    // Emits an event for parent generate a query to return results count
    askForResultsCount() {
      this.isLoading = true
      this.constructQuery()
      if (Object.entries(this.queryParams).length > 0) {
        this.$emit('count-results', this.queryParams, this.filterType)
      }
    },
    showResultsCount(count) {
      if (this.isLoading && count !== null) {
        this.isLoading = false
        this.resultsCount = null
        Swal.fire({
          title: '',
          text: `${i18n.tc('showResultsText', count === 1 ? 1 : count, {
            n: count
          })}`,
          icon: 'success',
          confirmButtonText: `${i18n.t('closeButton')}`,
          confirmButtonColor: '#5481bb'
        })
      } else if (this.isLoading && count === null) {
        this.isLoading = false
        Swal.fire({
          title: '',
          text: `${i18n.t('resultsErrorText')}`,
          icon: 'error',
          confirmButtonText: `${i18n.t('closeButton')}`,
          confirmButtonColor: '#f14668'
        })
      }
    },
    enableScrollTopAction() {
      let element = null
      if (this.containerClassName) {
        element = document.getElementsByClassName(this.containerClassName)[0]
      } else if (this.isInModal) {
        element = document.getElementsByClassName('modal-card-body')[0]
      } else {
        element = window
      }
      // Scrolling check for sticky right position
      if (element.scrollHeight > element.offsetHeight) {
        document
          .getElementById('sticky-right')
          .setAttribute('style', this.cellView ? 'right:9px' : 'right:16px')
      }
      element.addEventListener(
        'scroll',
        function () {
          // Scrolling check to enable scroll top button
          const item = document.getElementById('bottom-actions')
          if (item) {
            if (element.scrollTop > 120 || element.scrollY > 160) {
              item.setAttribute('style', 'display:block')
            } else {
              item.setAttribute('style', 'display:none')
            }
          }
        },
        false
      )
    },
    tr(key) {
      return i18n.t(key)
    }
  }
}
</script>
