<template>
  <div>
    <b-tooltip
      :label="labelValue"
      multilined
      :append-to-body="appendToBody"
      :position="tooltipPosition"
      :type="tooltipType"
      class="column"
      style="align-items: center; padding-left: 0"
    >
      <span ref="content" style="margin-right: 0.25rem; white-space: nowrap"
        >{{ formatValue }}
      </span>
    </b-tooltip>
    <!-- <span>
      {{ formatValue }}
    </span> -->
  </div>
</template>

<script>
import dayjs from 'dayjs'
// import { funcFileSizeValue } from '../helpers'

const duration = require('dayjs/plugin/duration')
dayjs.extend(duration)

const funcBitrateValue = ({ value = null, fallbackValue = '----' } = {}) => {
  if (value === null || value === 0) {
    return fallbackValue
  }
  const numberValue = typeof value === 'string' ? Number(value) : value
  let strFileSize

  if (numberValue >= 1000000000) {
    strFileSize = (numberValue / 1000000000).toFixed(2) + ' Gb/s'
  } else if (numberValue >= 1000000) {
    strFileSize = (numberValue / 1000000).toFixed(2) + ' Mb/s'
  } else if (numberValue >= 1000) {
    strFileSize = (numberValue / 1000).toFixed(2) + ' Kb/s'
  } else {
    strFileSize = numberValue + ' b/s'
  }
  return strFileSize
}

export default {
  name: 'BitrateColumnComponent',
  props: {
    value: {
      type: [Number, String, Object],
      default: () => {
        return null
      }
    },
    fallbackValue: {
      type: String,
      default: '----'
    },
    textLenght: {
      type: Number,
      default: 50
    },
    roundedButtons: {
      type: Boolean,
      default: true
    },
    modalTitleClass: {
      type: String,
      default: 'is-size-5 has-text-primary has-text-centered'
    },
    modalWidth: {
      type: Number,
      default: 400
    },
    content: {
      type: String,
      default: ''
    },
    appendToBody: {
      type: Boolean,
      default: false
    },
    tooltipPosition: {
      type: String,
      default: 'is-top'
    },
    tooltipType: {
      type: String,
      default: 'is-white'
    },
    // Locale string {en, es ...} for display language on component
    locale: {
      type: String,
      default: 'en'
    }
  },
  computed: {
    labelValue() {
      let value = 0
      if (this.value instanceof Object) value = this.value.format.bitRate
      else value = this.value

      if (value && value > 0) {
        return value + ' b/s'
      }
      return ''
    },
    formatValue() {
      let value = 0
      if (this.value instanceof Object) value = this.value.format.bitRate
      else value = this.value

      return funcBitrateValue({
        value,
        fallbackValue: this.fallbackValue
      })

      // if (value && value > 0) {
      //   return value + ' bit/s'
      // }
      // return '---'
    }
  }
}
</script>
