<template>
  <card-component
    ref="modalcard"
    :is-in-modal="isInModal"
    :title="cardTitle"
    title-class="is-size-5"
    :icon="cardIcon"
    class="carousel-searcher px-0"
    :class="customClass"
    :modal-width="cardWidth"
  >
    <b-carousel
      v-model="carousel"
      :animated="animated"
      :has-drag="drag"
      :autoplay="autoPlay"
      :pause-hover="pauseHover"
      :pause-info="pauseInfo"
      :pause-info-type="pauseType"
      :interval="interval"
      :repeat="repeat"
      indicator-style="is-lines"
      indicator-position="is-top"
      :arrow-hover="false"
      :arrow="false"
      @change="() => {}"
    >
      <b-carousel-item class="p-1">
        <advanced-filter-component
          ref="advanced-filter"
          :form="filterDefs.form"
          :is-in-modal="false"
          :filter-type="filterDefs.type"
          :sticky-inside="false"
          :locale="locale"
          :card-title="filterDefs.title"
          :enable-advanced-search="false"
          :utc="true"
          container-class-name="modal-card-body"
          @filters-updated="updateFilters"
          @clear-filters="clearResults"
          @count-results="countResults"
        />
      </b-carousel-item>
      <b-carousel-item class="p-5">
        <server-table-component
          ref="table"
          class="p-1"
          :data-url="resultsUrl"
          :locale="locale"
          :selectable="true"
          :selected.sync="selected"
          v-bind="resultsDefs"
        />
      </b-carousel-item>
    </b-carousel>
    <template v-if="isInModal" slot="footer" class="columns">
      <b-field class="column" grouped position="is-right" style="padding: 0">
        <div class="control">
          <b-button
            v-show="selected"
            type="is-primary"
            class="mr-3"
            :label="locale === 'es' ? 'Aceptar' : 'Accept'"
            @click="updateSelection(selected)"
          >
          </b-button>
          <b-button type="is-light" @click="modalClose">
            <b-icon icon="close" size="is-small" />
            <span>{{ closeButton }}</span>
          </b-button>
        </div>
      </b-field>
    </template>
  </card-component>
</template>

<script>
import { AdvancedFilterComponent } from 'premium-tesh-ui-lib'
import Vue from 'vue'
import VueI18n from 'vue-i18n'

import messages from './messages'

Vue.use(VueI18n)

const i18n = new VueI18n({
  locale: 'es',
  fallbackLocale: 'es',
  vueI18nLoader: true,
  silentTranslationWarn: true,
  silentFallbackWarn: true,
  messages
})

export default {
  name: 'CarouselSearcher',
  components: { AdvancedFilterComponent },
  props: {
    isInModal: {
      type: Boolean,
      default: true
    },
    cardTitle: {
      type: String,
      default: ''
    },
    cardIcon: {
      type: String,
      default: 'magnify'
    },
    customClass: {
      type: String,
      default: undefined
    },
    cardWidth: {
      type: Number,
      default: 500
    },
    // Locale string {en, es ...} for display language on component
    locale: {
      type: String,
      default: 'en'
    },
    isLoading: {
      type: Boolean,
      default: false
    },
    // Url for search data
    dataUrl: {
      type: String,
      default: undefined
    }
  },
  data() {
    return {
      carousel: 0,
      animated: 'slide',
      autoPlay: false,
      pauseHover: false,
      pauseInfo: false,
      pauseType: 'is-primary',
      interval: 3000,
      repeat: true,
      drag: true,
      filters: null,
      selected: null,
      filterDefs: {
        title: '',
        type: 'carouselFilter',
        form: {}
      },
      resultsDefs: {
        title: 'Results',
        icon: 'database-search',
        vtable: {
          headers: []
        },
        vicon: {
          edit: {
            show: false
          },
          delete: {
            show: false
          }
        },
        vbtn: {
          create: {
            show: false
          }
        },
        form: {}
      },
      vbtn: {
        save: {
          icon: 'content-save',
          label: i18n.t('saveLabel'),
          props: {
            type: 'is-primary'
          },
          show: true
        }
      },

      urlFilters: (queryParams, filterConstants) => {
        const srtArr = []
        let str = ''
        for (const field in queryParams) {
          if (field === 'MaxResults' && queryParams[field]) {
            if (this.$refs.table)
              this.$refs.table.pagination.itemsPerPage = queryParams[field]
          } else if (
            queryParams[field] &&
            (queryParams[field].value ||
              (field === 'MediaType' && queryParams[field].value === 0))
          ) {
            str = `${
              filterConstants ? filterConstants[field] : field // Add field name to filter
            }${queryParams[field].activeOperator}${queryParams[field].value}` // Add field operator and value for comparison
            srtArr.push(str)
          }
        }
        return srtArr.join(',')
      }
    }
  },
  computed: {
    resultsUrl() {
      return `${this.dataUrl}${this.filters ? '?filters=' + this.filters : ''}`
    },
    closeButton() {
      return this.locale === 'en' ? 'Close' : 'Cerrar'
    }
  },
  created() {
    this.filterDefs = Object.assign(
      this.filterDefs,
      this.$attrs.filtersDefs || {}
    )
    this.resultsDefs = Object.assign(
      this.resultsDefs,
      this.$attrs.resultsDefs || {}
    )
  },
  beforeDestroy() {
    if (this.$refs['advanced-filter'] && !this.filters)
      this.$refs['advanced-filter'].clearFilters()
  },
  methods: {
    updateFilters(queryParams) {
      this.filters = this.urlFilters(
        queryParams,
        this.filterDefs.filterConstants
      )
      this.carousel = 1
    },
    countResults(queryParams, filterType, filterConstants) {
      const url = `${this.dataUrl}?filters=${this.urlFilters(
        queryParams,
        filterConstants
      )}`
      this.$axios
        .get(url)
        .then((response) => {
          if (response.data && response.data.results) {
            this.$nuxt.$emit('results-count', response.data.records)
          } else if (Array.isArray(response.data)) {
            this.$nuxt.$emit('results-count', response.data.length)
          }
        })
        .catch(() => {
          this.$nuxt.$emit('results-count', null)
        })
    },
    clearResults() {
      this.filters = null
      this.$emit('clear-form')
    },
    updateSelection(items) {
      this.selected = items
      this.$emit('selected-results', this.selected)
      this.modalClose()
    },
    modalClose() {
      this.$refs.modalcard.modalClose()
    }
  }
}
</script>
