<template>
  <div>
    <b-tooltip
      :label="labelValue"
      multilined
      :append-to-body="appendToBody"
      :position="tooltipPosition"
      :type="tooltipType"
      class="column"
      style="align-items: center; padding-left: 0"
    >
      <span ref="content" style="margin-right: 0.25rem; white-space: nowrap"
        >{{ formatValue }}
      </span>
    </b-tooltip>
    <!-- <span>
      {{ formatValue }}
    </span> -->
  </div>
</template>

<script>
import dayjs from 'dayjs'
// import { funcFileSizeValue } from '../helpers'

const duration = require('dayjs/plugin/duration')
dayjs.extend(duration)

export default {
  name: 'DurationColumnComponent',
  props: {
    value: {
      type: [Number, String, Object],
      default: () => {
        return null
      }
    },
    fallbackValue: {
      type: String,
      default: '----'
    },
    textLenght: {
      type: Number,
      default: 50
    },
    roundedButtons: {
      type: Boolean,
      default: true
    },
    modalTitleClass: {
      type: String,
      default: 'is-size-5 has-text-primary has-text-centered'
    },
    modalWidth: {
      type: Number,
      default: 400
    },
    content: {
      type: String,
      default: ''
    },
    appendToBody: {
      type: Boolean,
      default: false
    },
    tooltipPosition: {
      type: String,
      default: 'is-top'
    },
    tooltipType: {
      type: String,
      default: 'is-white'
    },
    // Locale string {en, es ...} for display language on component
    locale: {
      type: String,
      default: 'en'
    }
  },
  computed: {
    labelValue() {
      let value = 0
      if (this.value instanceof Object)
        value =
          this.value.allMetaData === undefined
            ? this.value.duration
            : this.value.allMetaData.duration
      else value = this.value

      if (value && value > 0) {
        return value + ' ms'
      }
      return ''
    },
    formatValue() {
      let value = 0
      if (this.value instanceof Object)
        value =
          this.value.allMetaData === undefined
            ? this.value.duration
            : this.value.allMetaData.duration
      else value = this.value

      if (value && value > 0) {
        const time = dayjs.duration(value)
        return time.format('HH:mm:ss')
      }
      return '---'
    }
  }
}
</script>
