<template>
  <div>
    <b-tooltip
      :label="value + ' bytes'"
      multilined
      :append-to-body="appendToBody"
      :position="tooltipPosition"
      :type="tooltipType"
      class="column"
      style="align-items: center; padding-left: 0"
    >
      <span ref="content" style="margin-right: 0.25rem; white-space: nowrap"
        >{{ formatValue }}
      </span>
    </b-tooltip>
  </div>
</template>

<script>
// import { funcFileSizeValue } from '../helpers'

const funcFileSizeValue = ({ value = null, fallbackValue = '----' } = {}) => {
  if (value === null) {
    return fallbackValue
  }
  const numberValue = typeof value === 'string' ? Number(value) : value
  let strFileSize

  if (numberValue >= 1073741824) {
    strFileSize = (numberValue / 1073741824).toFixed(2) + ' GB'
  } else if (numberValue >= 1048576) {
    strFileSize = (numberValue / 1048576).toFixed(2) + ' MB'
  } else if (numberValue >= 1024) {
    strFileSize = (numberValue / 1024).toFixed(2) + ' KB'
  } else {
    strFileSize = numberValue + ' B'
  }
  return strFileSize
}

export default {
  name: 'FileSizeColumnComponent',
  props: {
    value: {
      type: [Number, String],
      default: () => {
        return null
      }
    },
    fallbackValue: {
      type: String,
      default: '----'
    },
    textLenght: {
      type: Number,
      default: 50
    },
    roundedButtons: {
      type: Boolean,
      default: true
    },
    modalTitleClass: {
      type: String,
      default: 'is-size-5 has-text-primary has-text-centered'
    },
    modalWidth: {
      type: Number,
      default: 400
    },
    content: {
      type: String,
      default: ''
    },
    appendToBody: {
      type: Boolean,
      default: false
    },
    tooltipPosition: {
      type: String,
      default: 'is-top'
    },
    tooltipType: {
      type: String,
      default: 'is-white'
    },
    // Locale string {en, es ...} for display language on component
    locale: {
      type: String,
      default: 'en'
    }
  },
  computed: {
    formatValue() {
      return funcFileSizeValue({
        value: this.value,
        fallbackValue: this.fallbackValue
      })
    }
  }
}
</script>
