<template>
  <footer class="is-text-white">
    <div class="footer-copyright p-3" style="text-align: center">
      <b>&copy; {{ year }}, PremiumTesh.com</b> &mdash; {{ appName }}
      <span class="tag">{{ appVersion }}</span>
      <span>
        {{ $t('readAboutLabel') }}
        <nuxt-link to="/privacyPolicy"
          ><b> {{ $t('privacyLabel') }} </b></nuxt-link
        >
        {{ $t('andThelabel') }}
        <nuxt-link to="/terms"
          ><b> {{ $t('termsLabel') }} </b></nuxt-link
        >
        {{ $t('ofThisService') }}
        <template v-if="twitter || facebook || telegram || youtube">
          {{ $t('followLabel') }}
          <a v-if="twitter" :href="twitter"><b>Twitter,</b></a>
          {{ $t('inLabel') }} <a :href="facebook"><b>Facebook,</b></a>
          {{ $t('inLabel') }} <a :href="youtube"><b>Youtube,</b></a>
          {{ $t('orinLabel') }} <a :href="telegram"><b>Telegram</b></a
          >.
        </template>
      </span>
    </div>
  </footer>
</template>

<script>
import dayjs from 'dayjs'
import { mapState } from 'vuex'

export default {
  name: 'FooterBar',
  props: {},
  data() {
    return {
      appName: this.$config.appName,
      appVersion: this.$config.appName,
      twitter: null,
      facebook: null,
      telegram: null,
      youtube: null
    }
  },
  computed: {
    year() {
      return dayjs().year()
    },
    ...mapState(['isFooterBarVisible'])
  },
  mounted() {
    this.loadAsyncData()
  },
  methods: {
    async loadAsyncData() {
      try {
        const { data } = await this.$axios.get('/config')
        // eslint-disable-next-line no-console
        if (data) {
          this.twitter = data.Twitter
          this.facebook = data.Facebook
          this.youtube = data.YouTube
          this.telegram = data.Telegram
        }
      } catch (e) {
        this.twitter = null
        this.facebook = null
        this.youtube = null
        this.telegram = null
      }
    }
  }
}
</script>
<i18n>
{
  "en": {
    "readAboutLabel": "Read about our",
    "privacyLabel": "Privacy Policy",
    "andThelabel": "and the",
    "termsLabel": "Terms and conditions of use",
    "followLabel": "Follow us in",
    "ofThisService": "of this service.",
    "inLabel": "in",
    "orinLabel": "or in"
  },
  "es": {
    "readAboutLabel": "Lea sobre nuestra",
    "privacyLabel": "Política de Privacidad",
    "andThelabel": "y los",
    "termsLabel": "Términos y Condiciones de Uso",
    "followLabel": "Síguenos en",
    "ofThisService": "de este servicio.",
    "inLabel": "en",
    "orinLabel": "o en"
  }
}
</i18n>
