<template>
  <div
    :id="containerId || `infinite-loading-${_uid}`"
    class="infinite-loading-container"
  >
    <slot />
    <section
      v-show="(!currentItems || !currentItems.length) && !loading"
      class="section no-data column is-12 p-3"
    >
      <div class="content has-text-grey has-text-centered">
        <p>
          <b-icon icon="emoticon-sad" size="is-large"></b-icon>
        </p>
        <p>{{ $t('noDataMssg') }}</p>
      </div>
    </section>
    <div v-if="component" v-bind="wrapper">
      <template v-for="(item, index) in currentItems">
        <component
          :is="component.type"
          :key="item.id || item.toString()"
          :item="item"
          :index="index"
          v-bind="component.props"
          v-on="component.events"
        />
      </template>
    </div>
    <div class="infinite-loading-footer">
      <b-loading
        v-show="!noMoreData"
        v-model="loading"
        :is-full-page="false"
        :can-cancel="false"
      ></b-loading>
    </div>
  </div>
</template>

<script>
export default {
  name: 'InfiniteLoadingContainer',
  props: {
    containerId: {
      type: String,
      default: undefined
    },
    component: {
      type: Object,
      default: undefined
    },
    wrapper: {
      type: Object,
      default: () => {}
    },
    maxWidth: {
      type: String,
      default: undefined
    },
    maxHeight: {
      type: String,
      default: undefined
    },
    dataUrl: {
      type: String,
      default: undefined
    },
    filterParam: {
      type: String,
      default: 'Filters'
    },
    searchParam: {
      type: String,
      default: 'SearchText'
    },
    items: {
      type: Array,
      default: () => []
    },
    loadRetries: {
      type: Number,
      default: 0
    },
    toLoadSize: {
      type: Number,
      default: 5
    },
    totalPagesProp: {
      type: String,
      default: 'total'
    },
    scrollHorizontal: {
      type: Boolean,
      default: false
    },
    pageSizeProp: {
      type: String,
      default: 'PageSize'
    },
    pageProp: {
      type: String,
      default: 'Page'
    },
    refresh: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      dataItems: [],
      loading: false,
      reloading: false,
      isFiltering: false,
      page: 0,
      totalPages: 1,
      totalElements: 0,
      retry: 0
    }
  },
  computed: {
    noMoreData() {
      return this.page >= this.pages && this.currentItems.length > 0
    },
    // Calculate total elements in pagination
    totalItems() {
      const count = this.dataUrl ? this.totalElements : this.items.length
      return count
    },
    pages() {
      return this.dataUrl
        ? this.totalPages
        : Math.ceil(this.items.length / this.toLoadSize)
    },
    currentItems() {
      let end = 0
      if (!this.dataUrl) {
        const page = this.page || 1
        end =
          this.totalItems > this.toLoadSize
            ? this.toLoadSize * page
            : this.toLoadSize
      }

      return this.dataUrl ? this.dataItems : this.items.slice(0, end)
    }
  },
  watch: {
    dataUrl(newVal, oldVal) {
      if (newVal) {
        this.reloading = oldVal === ''
        // If first normal url and then added filters or search text
        this.isFiltering =
          oldVal &&
          !(
            oldVal.includes(this.searchParam) &&
            oldVal.includes(this.filterParam)
          ) &&
          (newVal.includes(this.searchParam) ||
            newVal.includes(this.filterParam))

        if (oldVal && oldVal.includes(this.searchParam)) this.dataItems = []
        if (this.canLoad()) {
          this.loadMore()
        }
      }
    },
    toLoadSize(newVal) {
      if (newVal && this.canLoad()) this.loadMore()
    },
    refresh(newVal) {
      this.reloading = newVal
      if (newVal && this.canLoad()) {
        this.loadMore()
      }
    }
  },
  mounted() {
    this.retry = this.loadRetries
    const element = this.$el

    element.addEventListener('scroll', (e) => {
      if (element.scrollHeight - element.scrollTop === element.clientHeight)
        this.loadMore()
      if (element.scrollWidth - element.scrollLeft === element.clientWidth)
        this.loadMore()
    })

    // Initially load some items.
    if (this.canLoad()) {
      this.loadMore()
    }
  },
  methods: {
    loadMore() {
      if (
        this.dataUrl &&
        (!this.noMoreData || this.isFiltering || this.reloading)
      ) {
        if (!this.reloading) this.page++
        this.loading = true

        let url = `${this.dataUrl}${this.dataUrl.includes('?') ? '&' : '?'}${
          this.pageSizeProp
        }=${this.toLoadSize}`
        url += !this.isFiltering ? `&${this.pageProp}=${this.page}` : ''

        this.$axios
          .get(url)
          .then((response) => {
            this.totalPages = response.data[this.totalPagesProp] || 1
            this.totalElements = response.data.records || 0
            if (this.isFiltering || this.reloading) this.dataItems = []
            this.dataItems = this.dataItems.concat(
              response.data.results || response.data
            )
            this.retry = this.loadRetries
          })
          .catch((error) => {
            if (this.retry > 0) {
              this.retry--
              this.page--
              this.loading = true
              setTimeout(() => {
                this.loadMore()
              }, this.retry * 2000)
            }
            // eslint-disable-next-line no-console
            else console.log(error)
          })
          .finally(() => {
            this.loading = false
            if (this.isFiltering) {
              this.page = 0
            }
            this.$emit('items-available', this.totalElements)
            this.$emit('update:refresh', false)
          })
      }
    },
    canLoad() {
      let canLoad = false
      if (
        this.dataUrl.includes('Sorts') ||
        this.dataUrl.includes(this.searchParam) ||
        this.dataUrl.split('Filters=')[1] !== '' ||
        !this.dataUrl.includes('?')
      )
        canLoad = true
      return canLoad
    }
  }
}
</script>
