<template>
  <b-dropdown
    class="login"
    position="is-bottom-left"
    append-to-body
    aria-role="menu"
    trap-focus
  >
    <template #trigger>
      <div v-if="$auth.$state.loggedIn === false" style="height: 100%">
        <a class="navbar-item" role="button">
          <b-icon icon="account" />
          <span> {{ $t('toAccess') }} </span>
          <b-icon icon="menu-down"></b-icon>
        </a>
      </div>
      <div v-else style="height: 100%">
        <a class="navbar-item" role="button">
          <Avatar
            class="mx-2"
            style="background-color: #71c737"
            :fullname="user ? user.fullName : undefined"
            :size="30"
          ></Avatar>
          <span> {{ user ? user.userName : '' }} </span>
          <b-icon icon="menu-down"></b-icon>
        </a>
      </div>
    </template>

    <b-dropdown-item aria-role="menu-item" custom paddingless>
      <Notification v-if="error" :message="error" />
      <div v-if="$auth.$state.loggedIn === false">
        <div v-if="registerForm !== true">
          <form method="post">
            <div
              class="modal-card"
              style="width: 300px; border: none !important"
            >
              <section class="modal-card-body py-2">
                <b-field :label="$t('emailLabel')">
                  <b-input
                    v-model="userEmailOrName"
                    type="username"
                    :placeholder="$t('emailLabel')"
                    required
                  >
                  </b-input>
                </b-field>

                <b-field :label="$t('passwordLabel')">
                  <b-input
                    v-model="password"
                    type="password"
                    password-reveal
                    :placeholder="$t('passwordLabel')"
                    required
                    @keydown.enter="login"
                  >
                  </b-input>
                </b-field>
              </section>
              <footer class="modal-card-foot py-0">
                <div
                  class="has-text-centered navbar-item"
                  style="margin: 0 auto"
                >
                  {{ $t('notHaveAccount') }}
                  <a class="navbar-item" role="button">
                    <span @click="showRegister(true)">
                      {{ $t('signUp') }}
                    </span>
                  </a>
                </div>
              </footer>
            </div>
          </form>
        </div>
        <div v-else>
          <form method="post">
            <div
              class="modal-card"
              style="width: 300px; border: none !important"
            >
              <section class="modal-card-body py-2">
                <b-field :label="$t('emailLabel')">
                  <b-input
                    v-model="email"
                    type="email"
                    :placeholder="$t('emailLabel')"
                    required
                  >
                  </b-input>
                </b-field>

                <b-field :label="$t('passwordLabel')">
                  <b-input
                    v-model="password"
                    type="password"
                    password-reveal
                    :placeholder="$t('passwordLabel')"
                    required
                  >
                  </b-input>
                </b-field>

                <b-field :label="$t('confirmPassword')">
                  <b-input
                    v-model="confirmPassword"
                    type="password"
                    password-reveal
                    :placeholder="$t('confirmPassword')"
                    required
                  >
                  </b-input>
                </b-field>
              </section>
              <footer class="modal-card-foot py-0">
                <div
                  class="has-text-centered navbar-item"
                  style="margin: 0 auto"
                >
                  {{ $t('haveAccount') }}
                  <a class="navbar-item" role="button">
                    <span @click="showRegister(false)">{{
                      $t('toAccess')
                    }}</span>
                  </a>
                </div>
              </footer>
            </div>
          </form>
        </div>
      </div>
      <div v-else>
        <b-dropdown-item
          aria-role="menuitem"
          style="display: flex; align-items: center"
          @click="goProfile"
        >
          <b-icon icon="account" class="pr-2"></b-icon>
          {{ $t('profileLabel') }}
        </b-dropdown-item>
        <b-dropdown-item
          aria-role="menuitem"
          style="display: flex; align-items: center"
          @click="logout"
        >
          <b-icon icon="logout" class="pr-2"></b-icon>
          {{ $t('logout') }}
        </b-dropdown-item>
      </div>
    </b-dropdown-item>
    <div
      v-if="$auth.$state.loggedIn === false && registerForm !== true"
      class="pb-2 px-2"
    >
      <b-dropdown-item class="p-0">
        <button class="button is-primary is-fullwidth" @click="login">
          {{ $t('toAccess') }}
        </button>
      </b-dropdown-item>
    </div>
    <div
      v-if="$auth.$state.loggedIn === false && registerForm !== false"
      class="pb-2 px-2"
    >
      <b-dropdown-item class="p-0">
        <button class="button is-primary is-fullwidth" @click="register">
          {{ $t('signUp') }}
        </button>
      </b-dropdown-item>
    </div>
  </b-dropdown>
</template>

<script>
import Avatar from 'vue-avatar-component'

export default {
  name: 'Login',
  components: { Avatar },
  data() {
    return {
      registerForm: false,
      email: '',
      userEmailOrName: '',
      password: '',
      confirmPassword: '',
      error: null
    }
  },
  computed: {
    user() {
      return this.$auth.user
    }
  },
  methods: {
    login() {
      this.$auth
        .loginWith('refresh', {
          data: {
            userEmailOrName: this.userEmailOrName,
            password: this.password
          }
        })
        .then((response) => {
          this.loading = true
          this.$store.commit('defineAppUser', {
            userName: response.data.userName,
            email: response.data.email,
            fullName: response.data.fullName,
            avatar: response.data.avatar,
            roles: response.data.roles
          })
        })
        .catch((err) => {
          this.loginError = err.response.data
            ? err.response.data.message
            : 'Error'
          this.$buefy.toast.open({
            message: `Usuario o contraseña incorrectos`,
            type: 'is-danger'
          })
        })
        .finally(() => {
          this.loading = false
        })
    },
    async register() {
      try {
        await this.$axios.post('register', {
          email: this.email,
          password: this.password,
          confirmPassword: this.confirmPassword
        })

        this.$axios.setBaseURL(``)
        await this.$auth.loginWith('refresh', {
          data: {
            email: this.email,
            password: this.password
          }
        })
        this.$axios.setBaseURL(`api-data`)
      } catch (e) {
        if (e.message === 'Request failed with status code 404') {
          this.$buefy.toast.open({
            message: `Usuario o contraseña incorrectos`,
            type: 'is-danger'
          })
        }
        this.error = e.response.data ? e.response.data.message : 'Error'
      }
    },
    showRegister(v) {
      this.resetForm()
      this.registerForm = v
    },
    resetForm() {
      this.username = ''
      this.userEmailOrName = ''
      this.password = ''
      this.confirmPassword = ''
    },
    logout() {
      this.$auth.logout()
    },
    goProfile() {
      this.$router.push('/user-profile')
    }
  }
}
</script>
<i18n>
{
  "en": {
    "haveAccount": "I already have an account?",
    "toAccess": "To access",
    "notHaveAccount": "You do not have an account?",
    "signUp": "Sign up",
    "logout": "Logout",
    "emailLabel": "Your email",
    "passwordLabel": "Your Password",
    "confirmPassword": "Confirm Your Password",
    "userNameLabel": "Your User",
    "profileLabel": "Profile"
  },
  "es": {
    "haveAccount": "Ya tengo una cuenta?",
    "toAccess": "Acceder",
    "notHaveAccount": "No tienes cuenta?",
    "signUp": "Regístrate",
    "logout": "Cerrar Sesión",
    "emailLabel": "Correo Electrónico",
    "passwordLabel": "Contraseña",
    "confirmPassword": "Repita la Contraseña",
    "userNameLabel": "Nombre de Usuario",
    "profileLabel": "Perfil"
  }
}
</i18n>
