<template>
  <b-dropdown
    v-model="activeItem"
    :triggers="isHoverable ? ['hover'] : undefined"
    :mobile-modal="false"
    aria-role="menu"
    class="nav-bar-dropdown-menu condensed"
    :class="{ 'is-current': isActive && activeItem !== null }"
    @active-change="marginChange"
  >
    <template #trigger>
      <nav-bar-menu class="nav-bar-dropdown-menu-trigger ml-0 mr-0">
        <b-icon
          v-if="menuIcon"
          :icon="menuIcon"
          size="is-small"
          class="is-flex mr-2"
        />{{ activeTitle }}
      </nav-bar-menu>
    </template>
    <template v-for="(item, key) in dropdownItems">
      <p
        v-if="typeof item === 'string'"
        :key="key"
        class="nav-bar-dropdown-menu-label m-2"
        :class="{ 'is-current': isActive }"
      >
        {{ item }}
      </p>
      <b-dropdown-item
        v-else
        :key="key"
        :value="item"
        paddingless
        aria-role="listitem"
        class="nav-bar-dropdown-menu-item mb-1"
        :active="isActive && item.isActive"
      >
        <nuxt-link :to="item.to">
          <b-icon
            :icon="item.icon"
            size="is-small"
            class="dropdown-item-icon"
          />
          {{ item.label }}
        </nuxt-link>
      </b-dropdown-item>
    </template>
  </b-dropdown>
</template>

<script>
// import NavBarMenu from './NavBarMenu.vue'
import { NavBarMenu } from 'premium-tesh-ui-lib'
export default {
  name: 'NavBarDropdownMenu',
  components: { NavBarMenu },
  props: {
    isHoverable: {
      type: Boolean,
      default: false
    },
    menuTitle: {
      type: String,
      default: ''
    },
    menuIcon: {
      type: String,
      default: undefined
    },
    isActive: {
      type: Boolean,
      default: false
    },
    dropdownItems: {
      type: Array,
      default: () => [{ label: '---', to: '' }]
    }
  },
  data() {
    return {
      isDropdownActive: false,
      activeItem: null
    }
  },
  computed: {
    activeTitle() {
      return `${this.menuTitle}`
    }
  },
  watch: {
    isActive(newVal) {
      if (!newVal) this.activeItem = null
    },
    activeItem(newVal) {
      if (newVal) {
        this.$emit('selection', newVal)
        // newVal.isActive = false
      }
    },
    '$route.path'(newVal) {
      if (newVal) {
        const active = this.dropdownItems.filter(
          (item) => item.to === newVal || newVal.includes(item.to)
        )[0]
        if (active) this.activeItem = active
        else this.activeItem = null
      }
    }
  },
  created() {
    if (this.dropdownItems && this.dropdownItems.length) {
      let active = null
      active = this.dropdownItems.filter((item) => item.isActive === true)

      if (active && active.length > 0) {
        this.activeItem = active[0]
        // active[0].isActive = false
      }
    }
  },
  methods: {
    marginChange(a) {
      const dropdown = document.querySelectorAll('div.dropdown-content')
      const navbar = document.querySelectorAll('.nav-bar-dropdown-menu')

      if (a) {
        dropdown.forEach((element, i) => {
          if (
            window.matchMedia('(min-width: 50px) and (max-width: 1024px)')
              .matches
          ) {
            element.style.position = 'fixed'
            element.style.marginLeft = '0px'
          } else {
            if (navbar[i]) {
              const left =
                navbar[i].getBoundingClientRect().left + window.scrollX
              element.style.left = left < 0 ? `${left * -1}px` : `${left}px`
            }

            element.style.right = ''
            element.style.marginLeft = '0px'
            element.style.position = ''
          }
        })
      }
    }
  }
}
</script>
