<template>
  <div>
    <nav
      id="navbar-main"
      class="navbar is-fixed-top is-expanded"
      style="height: 0"
    >
      <div :class="isNarrowDevice ? 'pt-4 pl-1' : 'p-3'">
        <slot name="navbar-brand-left" />
      </div>
      <!-- Logo space -->
      <div class="navbar-brand is-logo">
        <div class="navbar-tools">
          <n-link to="/" class="navbar-tools-label is-flex">
            <b-icon
              v-if="appIcon"
              :icon="appIcon"
              custom-size="mdi-36px"
              class="mr-1"
            />
            <b-image
              v-else-if="appLogo"
              :src="menuLogo"
              alt="APP Logo"
              class="is-inline-flex mr-1"
              style="height: 2rem; max-width: 200px; width: 30px"
            ></b-image>
            <span>{{ appName }}</span>
          </n-link>
        </div>
      </div>
      <!-- All dropdown menu options -->
      <b-icon
        class="icon-arrow-left"
        :style="iconStyle"
        @click.native="toLeft"
      />

      <div
        class="navbar-menu fadeIn animated faster columns m-0"
        :class="{
          'is-active': isMenuNavBarActive,
          'is-inline-flex': !isNarrowDevice
        }"
        style="justify-content: flex-end"
      >
        <div
          v-if="!isNarrowDevice"
          id="navbar-content-menu"
          class="navbar-dropdown-menu-content column columns is-flex nav-bar-menu-inner"
          style="
            max-width: min-content;
            align-items: flex-end;
            margin-bottom: -2px;
          "
        >
          <template v-for="(item, key) in menu">
            <span
              v-if="key !== 0"
              :key="`${key}-divider`"
              class="menu-item-divider"
            ></span>
            <div v-if="Array.isArray(item)" :key="key" class="column">
              <template v-for="(dropdown, i) in item">
                <nav-bar-dropdown-menu
                  :key="`${key}-${i}`"
                  :menu-title="dropdown.label"
                  :menu-icon="dropdown.icon"
                  :dropdown-items="dropdown.items"
                  :is-active="menuActive === dropdown"
                  :is-hoverable="dropdown.props.isHoverable"
                  @selection="(selected) => menuSelected(dropdown, selected)"
                />
              </template>
            </div>
            <div v-else-if="typeof item === 'object'" :key="key" class="column">
              <nuxt-link
                :key="key"
                class="is-inline-flex"
                style="
                  align-items: baseline;
                  min-height: 2rem;
                  align-items: center;
                "
                :to="item.to"
                @click.native="menuItemActive = null"
                ><b-icon
                  :icon="item.icon"
                  size="is-small"
                  class="is-flex mr-2"
                />{{ item.label }}</nuxt-link
              >
            </div>
          </template>
          <span class="menu-item-divider last-divider"></span>
        </div>
      </div>

      <b-icon
        class="icon-arrow-right"
        :style="iconStyle"
        @click.native="toRight"
      />
      <div
        class="column extra-items is-flex"
        style="justify-content: flex-end; align-items: center"
      >
        <slot v-if="!isNarrowDevice" name="menu-items" />
        <slot name="navbar-items" />
      </div>

      <!-- NavBar end DropDown -->
      <!-- <div class="column" style="justify-content: flex-end"> -->
      <b-dropdown
        id="navbar-expanded-user-dropdown"
        ref="userDropdown"
        position="is-bottom-left"
        :mobile-modal="false"
        append-to-body
        aria-role="menu"
        trap-focus
        style="align-items: center"
        @active-change="changePositionDropdown"
      >
        <template #trigger>
          <div
            v-if="!customAvatar"
            class="is-user-name is-inline-flex"
            style="align-items: center"
          >
            <b-icon
              icon="account-outline"
              :type="$auth.$state.loggedIn ? 'is-light' : ''"
              class="is-flex mr-2"
            /><span :style="$auth.$state.loggedIn ? 'color: white' : ''">{{
              userName || ''
            }}</span>
          </div>
          <slot v-else name="custom-avatar" />
        </template>

        <b-dropdown-item
          aria-role="menu-item"
          :focusable="false"
          custom
          paddingless
          class="user-dropdown item"
        >
          <span
            v-if="!isNarrowDevice && customAvatar"
            class="user-name-header is-flex is-fullwidth px-1"
            >{{ userName }}</span
          >
          <!-- Optional LogIn and Register Forms in NavBar -->
          <div
            v-if="showAuthAndRegister"
            v-show="!$auth.$state.loggedIn"
            style="width: 24rem"
          >
            <form
              v-show="!register && !forgot"
              novalidate
              class="fadeIn animated faster p-4"
              @submit.prevent="login"
            >
              <div class="field">
                <label class="label" :class="{ 'is-light': isNarrowDevice }">{{
                  tr('User')
                }}</label>
                <div class="control">
                  <b-input
                    v-model="user"
                    :type="userIsEmail ? 'email' : 'text'"
                    :size="inputsSize"
                    :horizontal="horizontalInputs"
                    :label-inside="labelInsideInputs"
                    :label-on-border="labelOnBorderInputs"
                    :rounded="roundedInputs"
                    :expanded="expandedInputs"
                    :placeholder="
                      tr('placeholder', { key: tr('User').toLowerCase() })
                    "
                    name="user"
                  />
                </div>
              </div>
              <div class="field">
                <label class="label" :class="{ 'is-light': isNarrowDevice }">{{
                  tr('Password')
                }}</label>
                <div class="control">
                  <b-input
                    v-model="password"
                    type="password"
                    :size="inputsSize"
                    :horizontal="horizontalInputs"
                    :label-inside="labelInsideInputs"
                    :label-on-border="labelOnBorderInputs"
                    :rounded="roundedInputs"
                    :expanded="expandedInputs"
                    :placeholder="
                      tr('placeholder', {
                        key: tr('Password').toLowerCase()
                      })
                    "
                    name="password"
                    password-reveal
                  />
                </div>
              </div>
              <div class="column p-1">
                <span
                  class="is-flex mb-2"
                  style="vertical-align: super; justify-content: space-between"
                >
                  <b-checkbox
                    v-model="rememberMe"
                    :class="{ 'is-light': isNarrowDevice }"
                    :rounded="roundedInputs"
                    :outlined="false"
                    type="is-primary"
                    :size="inputsSize"
                    :left-label="false"
                    >{{ tr('rememberMe') }}</b-checkbox
                  >
                  <!-- Show forgot button -->
                  <b-button
                    :type="isNarrowDevice ? 'is-ghost' : 'is-text'"
                    class="mx-1 is-paddingless"
                    :class="{ 'is-dark': !isNarrowDevice }"
                    :label="tr('forgotPassword')"
                    size="is-small"
                    @click="showForgotPssw"
                  />
                </span>
                <!-- LogIn button -->
                <b-button
                  type="is-primary is-fullwidth"
                  :loading="buttonLoading"
                  native-type="submit"
                  >{{ tr('LogIn') }}</b-button
                >
                <!-- Register button -->
                <span
                  class="m-1 is-inline-flex is-fullwidth"
                  style="align-items: center; justify-content: center"
                >
                  <p :class="{ 'is-light': isNarrowDevice }">
                    {{ tr('notHaveAccount') }}
                  </p>
                  <b-button
                    :type="isNarrowDevice ? 'is-ghost' : 'is-text'"
                    class="mx-1 is-halfwidth is-paddingless"
                    :class="{
                      'is-dark': !isNarrowDevice
                    }"
                    @click="showRegistration"
                  >
                    {{ tr('register') }}
                  </b-button>
                </span>
              </div>
              <slot name="sign-in-with" />
            </form>
            <change-password-form
              v-if="register"
              class="ghost-card"
              :class="{ 'is-light': isNarrowDevice }"
              :is-in-modal="false"
              title=""
              :locale="$i18n.locale"
              :horizontal-inputs="horizontalInputs"
              :label-inside-inputs="labelInsideInputs"
              :label-on-border-inputs="labelOnBorderInputs"
              :rounded-inputs="roundedInputs"
              :expanded-inputs="expandedInputs"
              :inputs-size="inputsSize"
              :vbtn="vbtn"
              @save="userRegister"
              @form-close="cancelAll"
            >
              <template #form-extra-fields>
                <email-component
                  v-if="userIsEmail"
                  v-model="user"
                  :label="tr('User')"
                  :horizontal="horizontalInputs"
                  :label-inside="labelInsideInputs"
                  :label-on-border="labelOnBorderInputs"
                  :rounded="roundedInputs"
                  :expanded="expandedInputs"
                  :size="inputsSize"
                  :placeholder="
                    tr('placeholder', { key: tr('User').toLowerCase() })
                  "
                  :locale="locale"
                />
                <text-component
                  v-else
                  v-model="user"
                  :label="tr('User')"
                  :horizontal="horizontalInputs"
                  :label-inside="labelInsideInputs"
                  :label-on-border="labelOnBorderInputs"
                  :rounded="roundedInputs"
                  :expanded="expandedInputs"
                  :size="inputsSize"
                  :placeholder="
                    tr('placeholder', { key: tr('User').toLowerCase() })
                  "
                  :locale="locale"
                />
                <slot name="register-extra-fields" />
              </template>
              <template #form-extra-bottom-fields>
                <span
                  class="m-1 is-inline-flex is-fullwidth"
                  style="align-items: center; justify-content: center"
                >
                  <p :class="{ 'is-light': isNarrowDevice }">
                    {{ tr('alreadyHaveAccount') }}
                  </p>
                  <b-button
                    :type="isNarrowDevice ? 'is-ghost' : 'is-text'"
                    class="is-dark mx-1 is-halfwidth is-paddingless"
                    @click="cancelAll"
                  >
                    {{ tr('LogIn') }}
                  </b-button>
                </span>
              </template>
            </change-password-form>
            <form
              v-if="forgot"
              novalidate
              class="fadeIn animated faster p-4"
              @submit.prevent="forgotPassword"
            >
              <p :class="{ 'is-light': isNarrowDevice }">
                {{ tr('forgotTip') }}
              </p>
              <email-component
                v-model="user"
                :label="tr('Email')"
                :horizontal="horizontalInputs"
                :label-inside="labelInsideInputs"
                :label-on-border="labelOnBorderInputs"
                :rounded="roundedInputs"
                :expanded="expandedInputs"
                :placeholder="tr('placeholder', { key: tr('Email') })"
                :size="inputsSize"
                :locale="locale"
                :class="{ 'is-light': isNarrowDevice }"
              />
              <b-field position="is-right" class="mt-5">
                <b-button
                  type="is-primary"
                  v-bind="vbtn.save.props"
                  :disabled="buttonLoading"
                  :loading="buttonLoading"
                  native-type="submit"
                  class="mr-3"
                >
                  {{ tr('sendEmail') }}
                </b-button>

                <b-button
                  v-show="vbtn.close.show"
                  type="is-light is-primary"
                  v-bind="vbtn.close.props"
                  :disabled="buttonLoading"
                  @click="cancelAll"
                >
                  <b-icon :icon="vbtn.close.icon" size="is-small" />
                  <span>{{ vbtn.close.label }}</span>
                </b-button>
              </b-field>
            </form>
          </div>
          <div v-show="$auth.$state.loggedIn">
            <nuxt-link
              v-if="!logoutOnly && $auth.$state.loggedIn"
              to="/profile"
              class="navbar-item"
              exact-active-class="is-active"
              @click.native="menuSelected(null)"
            >
              <b-icon icon="account" custom-size="mdi-18px" />
              <span>{{ tr('Profile') }}</span>
            </nuxt-link>
            <nuxt-link
              v-if="!logoutOnly && showSystemHealth"
              to="/system-health"
              class="navbar-item"
              exact-active-class="is-active"
              @click.native="menuSelected(null)"
            >
              <b-icon icon="hospital" custom-size="mdi-18px" />
              <span>{{ tr('SystemHealth') }}</span>
            </nuxt-link>
            <a
              v-if="showUserManual"
              href="#"
              class="navbar-item"
              @click="openManual"
            >
              <b-icon
                icon="book-open-page-variant-outline"
                custom-size="mdi-18px"
              />
              <span>{{ tr('UserManual') }}</span>
            </a>
            <slot name="custom-navbar-end-items" />
            <hr class="navbar-divider" />
            <a class="navbar-item" @click="logout">
              <b-icon icon="logout" custom-size="mdi-18px" />
              <span>{{ tr('LogOut') }}</span>
            </a>
          </div>
        </b-dropdown-item>
      </b-dropdown>
      <!-- </div> -->
    </nav>
    <!-- NavBar subbar in mobile, table displayPorts -->
    <div
      v-if="isNarrowDevice"
      class="column is-flex is-fullwidth navbar-dropdown-menu"
    >
      <div class="navbar-dropdown-menu-content pt-0 pb-0 is-flex is-multiline">
        <template v-for="(item, key) in menu">
          <span
            v-if="key !== 0"
            :key="`${key}-divider`"
            class="menu-item-divider m-0"
          ></span>
          <div
            v-if="Array.isArray(item)"
            :key="key"
            class="column is-mobile is-flex"
            style="justify-content: center"
          >
            <template v-for="(dropdown, i) in item">
              <nav-bar-dropdown-menu
                :key="`${key}-${i}`"
                :menu-title="dropdown.label"
                :menu-icon="dropdown.icon"
                :dropdown-items="dropdown.items"
                :is-active="menuActive === dropdown"
                :is-hoverable="dropdown.props.isHoverable"
                @selection="(selection) => menuSelected(dropdown, selection)"
              />
            </template>
          </div>
          <nuxt-link
            v-else-if="typeof item === 'object'"
            :key="key"
            class="column is-inline-flex"
            style="align-items: baseline"
            :to="item.to"
            @click.native="menuItemActive = null"
            ><b-icon :icon="item.icon" size="is-small" class="is-flex mr-2" />{{
              item.label
            }}</nuxt-link
          >
        </template>
        <span class="menu-item-divider last-divider m-0"></span>
        <slot name="menu-items" />
      </div>
    </div>
  </div>
</template>

<script>
import 'hooper/dist/hooper.css'

// import {
//   Hooper,
//   // Navigation as HooperNavigation,
//   // Pagination as HooperPagination,
//   // Progress as HooperProgress,
//   Slide
// } from 'hooper'
import { mapState } from 'vuex'
import Vue from 'vue'
import VueI18n from 'vue-i18n'
import NavBarDropdownMenu from './NavBarDropdownMenu.vue'
import messages from './messages'

Vue.use(VueI18n)

const i18n = new VueI18n({
  locale: 'en',
  fallbackLocale: 'en',
  vueI18nLoader: true,
  silentTranslationWarn: true,
  silentFallbackWarn: true,
  messages
})

export default {
  name: 'NavBarExpanded',
  components: {
    // NavBarMenu
    NavBarDropdownMenu
    // Hooper,
    // Slide
  },
  props: {
    // The App name
    appName: {
      type: String,
      default: ''
    },
    // MDI Icon
    appIcon: {
      type: String,
      default: ''
    },
    // FavIcon image static path
    appLogo: {
      type: [String, Function],
      default: ''
    },
    logoutOnly: {
      type: Boolean,
      default: false
    },
    showSystemHealth: {
      type: Boolean,
      default: true
    },
    showUserManual: {
      type: Boolean,
      default: true
    },
    menu: {
      type: Array,
      default: () => []
    },
    customAvatar: {
      type: Boolean,
      default: false
    },
    showAuthAndRegister: {
      type: Boolean,
      default: false
    },
    loginStrategy: {
      type: String,
      default: 'refresh'
    },
    userIsEmail: {
      type: Boolean,
      default: true
    },
    userField: {
      type: String,
      default: 'user'
    },
    passwordField: {
      type: String,
      default: 'password'
    },
    horizontalInputs: {
      type: Boolean,
      default: false
    },
    expandedInputs: {
      type: Boolean,
      default: true
    },
    roundedInputs: {
      type: Boolean,
      default: false
    },
    inputsSize: {
      type: String,
      default: undefined
    },
    labelInsideInputs: {
      type: Boolean,
      default: false
    },
    labelOnBorderInputs: {
      type: Boolean,
      default: false
    },
    closeOnSubmit: {
      type: Boolean,
      default: false
    },
    // Locale string {en, es ...} for display language on component
    locale: { type: String, default: 'en' }
  },
  data() {
    return {
      isMenuNavBarActive: false,
      menuItemActive: null,
      menuActive: null,
      user: null,
      password: null,
      loginError: null,
      register: false,
      forgot: false,
      buttonLoading: false,
      rememberMe: false,
      vbtn: {
        close: {
          icon: 'close',
          label: i18n.t('cancelButton'),
          props: {
            outlined: true
          },
          show: true
        },
        save: {
          icon: 'content-save',
          label: i18n.t('registerLabel'),
          props: {},
          show: true
        }
      }
    }
  },
  computed: {
    iconStyle() {
      if (
        window.matchMedia('(min-width: 1024px) and (max-width: 1380px)').matches
      ) {
        return this.$auth.$state.loggedIn && this.menu.length > 6
          ? 'display: block;cursor: pointer'
          : 'display: none'
      }
      return ''
    },
    hooperSettings() {
      return {
        itemsToShow: this.itemsToShow || 1,
        itemsToSlide: this.itemsToSlide || 1,
        infiniteScroll: this.repeat,
        autoPlay: false,
        playSpeed: 2000,
        vertical: false,
        breakpoints: {
          350: {
            centerMode: false,
            itemsToShow: 2
          },
          800: {
            centerMode: false,
            itemsToShow: 3
          },
          1000: {
            itemsToShow: 4
          },
          1400: {
            itemsToShow: 5
          }
        }
      }
    },
    userName() {
      return this.$auth.$state.user
        ? this.$auth.$state.user.name || this.$auth.$state.user.userName
        : ''
    },
    menuLogo() {
      return this.appLogo
    },
    menuNavBarToggleIcon() {
      return this.isMenuNavBarActive ? 'close' : 'dots-vertical'
    },
    menuToggleMobileIcon() {
      return this.isAsideMobileExpanded ? 'backburger' : 'forwardburger'
    },
    darkModeToggleIcon() {
      return this.isDarkModeActive ? 'white-balance-sunny' : 'weather-night'
    },
    isNarrowDevice() {
      return (
        this.$mq !== 'desktop' &&
        this.$mq !== 'widescreen' &&
        this.$mq !== 'fullhd'
      )
    },
    ...mapState([
      // 'isNavBarVisible',
      // 'isAsideMobileExpanded',
      'isDarkModeActive'
    ])
  },
  watch: {
    '$auth.$state.loggedIn'(newVal) {
      if (newVal) {
        this.buttonLoading = false
      }
      if (this.$refs.userDropdown && this.$refs.userDropdown.isActive)
        this.$refs.userDropdown.toggle()
    },
    rememberMe(newVal) {
      try {
        if (newVal) this.$cookies.setCookie('rememberMe', true)
        else this.$cookies.deleteCookie('rememberMe')
      } catch (error) {
        // eslint-disable-next-line no-console
        console.log(error, 'Do you already add cookies plugin to the proyect?')
      }
    },
    closeOnSubmit(newVal) {
      if (newVal) {
        this.user = null
        this.password = null
        this.register = false
        this.forgot = false
        if (this.$refs.userDropdown && this.$refs.userDropdown.isActive)
          this.$refs.userDropdown.toggle()
      }
    }
  },
  created() {
    i18n.locale = this.locale
    this.updateButtonsText()
    this.vbtn = Object.assign(this.vbtn, this.$attrs.vbtn || {})
    try {
      const cookie = this.$cookies.getCookie('rememberMe') || ''
      this.rememberMe = cookie && cookie.includes('true')
    } catch (error) {
      // eslint-disable-next-line no-console
      console.log(error, 'Do you already add cookies plugin to the proyect?')
    }
  },
  methods: {
    toRight() {
      const navbar = document.getElementById('navbar-content-menu')
      navbar.style.marginLeft = '-350px'
      navbar.style.transition = '0.8s'
    },
    toLeft() {
      const navbar = document.getElementById('navbar-content-menu')
      navbar.style.marginLeft = '0px'
    },
    changePositionDropdown(toggle) {
      const dropdown = document.querySelectorAll('div.dropdown-content')
      if (toggle) {
        dropdown.forEach((element) => {
          element.style.marginLeft = '-150px'
        })
      }
      dropdown.forEach((element) => {
        if (
          window.matchMedia('(min-width: 50px) and (max-width: 1024px)').matches
        ) {
          if (!this.$auth.$state.loggedIn) {
            element.style.marginLeft = '-150px'
          } else {
            element.style.marginLeft = ''
          }
          element.style.position = 'fixed'
        } else {
          element.style.right = '0'
          element.style.top = '3em'
          element.style.position = 'fixed'
        }
      })
    },
    // @vuese
    // Used to show/hide the aside menu on mobile view
    // menuToggleMobile() {
    //   this.$store.commit('asideMobileStateToggle')
    // },
    // @vuese
    // Used to show/hide the nav bar menu on mobile view
    menuNavBarToggle() {
      this.isMenuNavBarActive = !this.isMenuNavBarActive
    },
    // @vuese
    // Used to toggle the dark theme
    darkModeToggle() {
      this.$store.commit('darkModeToggle')
    },
    cancelAll() {
      this.user = null
      this.password = null
      this.register = false
      this.forgot = false
      this.$emit('cancel-all')
    },
    showRegistration() {
      this.user = null
      this.password = null
      this.register = true
      this.forgot = false
    },
    showForgotPssw() {
      this.user = null
      this.password = null
      this.register = false
      this.forgot = true
    },
    login() {
      this.buttonLoading = true
      this.$auth
        .loginWith(this.loginStrategy || 'local', {
          data: {
            [this.userField]: this.user,
            [this.passwordField]: this.password
          }
        })
        .then((response) => {
          this.$emit('loggedIn', response.data)
        })
        .catch((err) => {
          this.loginError = err.response.data
            ? err.response.data.message
            : this.tr('badAuth')
          this.$buefy.toast.open({
            message: this.loginError,
            type: 'is-danger'
          })
        })
        .finally(() => {
          this.buttonLoading = false
          if (this.$refs.userDropdown && this.$refs.userDropdown.isActive)
            this.$refs.userDropdown.toggle()
        })
    },
    // @vuese
    // Used to logout
    logout() {
      if (!this.rememberMe) {
        localStorage.removeItem('auth._token.identity')
        localStorage.removeItem('auth._token.local')
        localStorage.removeItem('auth._id_token.identity')
        localStorage.removeItem('auth._refresh_token.identity')
        localStorage.removeItem('auth.identity.pkce_state')
      }
      this.$auth.logout() // 'identity'
      this.$emit('logout')
    },
    userRegister(data) {
      data.user = this.user
      this.$emit('register-data', { ...data })
    },
    forgotPassword() {
      this.$emit('user-forgot', { email: this.user })
    },
    menuSelected(menu, item) {
      this.menuItemActive = item
      this.menuActive = item ? menu : null
    },
    openManual() {
      window.open('UserManual.pdf', '_blank', 'fullscreen=yes')
      return false
    },
    tr(key, param = null) {
      return i18n.t(key, param)
    },
    updateButtonsText() {
      if (this.locale !== i18n.fallbackLocale) {
        Object.keys(this.vbtn).forEach((button) => {
          if (this.vbtn[button].tooltip) {
            this.vbtn[button].tooltip = i18n.t(`${button}Tooltip`)
          }
          if (this.vbtn[button].label && this.vbtn[button].label !== '') {
            this.vbtn[button].label = i18n.t(`${button}Label`)
          }
          if (
            this.vbtn[button].placeholder &&
            this.vbtn[button].placeholder !== ''
          ) {
            this.vbtn[button].placeholder = i18n.t(`${button}Placeholder`)
          }
        })
      }
    }
  }
}
</script>
