<template>
  <b-dropdown
    v-model="isOpen"
    v-bind="$attrs"
    :position="$attrs.position || 'is-bottom-left'"
    aria-role="menu"
    class="notification-dropdown"
    :scrollable="true"
    :max-height="maxHeight"
    @active-change="positionChange"
  >
    <template #trigger>
      <b-icon
        :type="activeGrouped && activeGrouped.length ? 'is-primary' : ''"
        :size="iconSize"
        :icon="
          activeGrouped && activeGrouped.length ? iconActive : iconInactive
        "
        :custom-size="customIconSize"
        :pack="$attrs.iconPack"
        custom-class="trigger"
      />
      <span
        v-show="activeGrouped && activeGrouped.length"
        class="custom-notification-badge"
      >
        {{ activeGrouped.length }}
      </span>
    </template>

    <b-dropdown-item custom aria-role="menuitem">
      {{ $tc('activeNotifications', activeGrouped.length || 0) }}
      <hr
        class="mt-1 mb-2 divider"
        style="background-color: #7a7a7a; height: 0.1rem"
      />
      <template v-for="(not, i) in activeGrouped">
        <b-notification
          :key="not.id || i"
          :has-icon="!!not.icon"
          :icon="not.icon || undefined"
          :closable="not.progress === 100"
          icon-size="is-small"
          aria-close-label="X"
          role="alert"
          :queue="false"
          class="custom-notification p-1 pr-4"
          :active.sync="not.active"
          @close="decreaseNotificationCount(not.id)"
        >
          <span class="notification-content">
            {{ not.text }}
            <b-progress
              v-if="not.progress"
              :key="not.id || i"
              :type="not.type"
              :value="not.progress"
              size="is-small"
              show-value
            ></b-progress>
          </span>
        </b-notification>
      </template>
      <slot v-bind="currentNotifications" />
    </b-dropdown-item>
  </b-dropdown>
</template>

<script>
export default {
  name: 'NotificationDropdown',
  props: {
    iconActive: {
      type: String,
      default: 'bell-badge-outline'
    },
    iconInactive: {
      type: String,
      default: 'bell-outline'
    },
    iconSize: {
      type: String,
      default: undefined
    },
    customIconSize: {
      type: String,
      default: undefined
    },
    notifications: {
      type: Array,
      default: () => []
    },
    open: {
      type: Boolean,
      default: false
    },
    maxHeight: {
      type: [String, Number],
      default: '20rem'
    }
  },
  data() {
    return {
      isOpen: false,
      currentNotifications: [],
      activeGrouped: [],
      connection: null
    }
  },
  computed: {
    activeNotifications() {
      return this.currentNotifications.filter(
        (not) =>
          (not.active === undefined || not.active === true) &&
          not.username === this.$store.$auth.user.userName
      )
    }
  },
  watch: {
    open(newVal) {
      this.isOpen = newVal
    },
    isOpen(newVal) {
      this.$emit('open:change', newVal)
    },
    notifications: {
      handler(newVal) {
        this.copyNotifications(newVal)
      },
      inmediate: true,
      deep: true
    }
  },
  created() {
    this.isOpen = this.open
    this.copyNotifications(this.notifications)
  },
  methods: {
    positionChange(toggle) {
      const dropdown = document.querySelectorAll('div.dropdown-content')
      if (toggle) {
        dropdown.forEach((element) => {
          if (
            window.matchMedia('(min-width: 50px) and (max-width: 1024px)')
              .matches
          ) {
            element.style.position = 'revert'
            element.style.marginLeft = ''
          } else {
            element.style.right = '0'
            element.style.position = 'fixed'
          }
        })
      }
    },
    copyNotifications(newNotifications) {
      if (newNotifications && Array.isArray(newNotifications)) {
        newNotifications.forEach((element) => {
          if (this.currentNotifications.length) {
            // Check if notification exist
            const found = this.currentNotifications.findIndex(
              (not) => not.id === element.id
            )

            if (found !== -1) {
              if (this.currentNotifications[found].active !== false)
                this.currentNotifications.splice(found, 1, element)
            } // Set new notification element
            else if (element.username === this.$store.$auth.user.userName)
              this.currentNotifications.push(element)
          } // Set new notification element
          else if (element.username === this.$store.$auth.user.userName)
            this.currentNotifications.push(element)
        })
        this.currentNotifications.forEach((element) => {
          const found = this.activeGrouped.findIndex(
            (not) => not.fileName === element.fileName
          )

          const same = this.currentNotifications.filter(
            (not) => not.fileName === element.fileName
          )
          let type = 'is-success'
          let progress = 0

          same.forEach((s) => {
            if (s.type === 'is-danger') type = s.type
            progress += s.progress
          })
          const el = {
            id: same[0].id.split('_')[0],
            progress: progress / same.length,
            type,
            text: same[0].fileName,
            fileName: same[0].fileName
          }
          if (found === -1) {
            this.activeGrouped.push(el)
          } else {
            this.activeGrouped.splice(found, 1, el)
          }
        })
      }
    },
    decreaseNotificationCount(notId) {
      const filtered = this.activeGrouped.filter((n) => n.id !== notId)
      this.activeGrouped = filtered
    }
  }
}
</script>

<style lang="scss" scoped>
.notification-dropdown {
  margin: 0.5rem;
  cursor: pointer;
  .custom-notification-badge {
    position: absolute;
    top: -10px;
    color: white;
    border-radius: 50%;
    min-width: 1.5rem;
    height: 1.5rem;
    text-align: center;
  }
}
</style>
<i18n>
{
    "en": {
        "activeNotifications": "You don't have any notifications | You have one notification | You have {n} notifications"
    },
    "es": {
        "activeNotifications": "No tiene notificaciones | Tiene una notificación  | Tiene {n} notificaciones"
    }
}
</i18n>
