<template>
  <hooper
    ref="carousel"
    class="hooper-carousel"
    :class="{
      'is-loading': loading && !dataItems.length,
      'has-no-data': !dataItems.length && !loading
    }"
    :settings="hooperSettings"
    @slide="updateCarousel"
  >
    <publication-skeleton
      v-if="customLoading"
      slot="hooper-addons"
      :active="loading && !dataItems.length"
      :publications-number="itemsToShow"
    />
    <slide v-else-if="loading && !dataItems.length">
      <b-loading
        v-model="loading"
        :is-full-page="false"
        :can-cancel="false"
      ></b-loading>
    </slide>
    <section
      v-if="!dataItems.length && !loading"
      slot="hooper-addons"
      class="section no-data is-fullwidth p-3"
    >
      <div class="content has-text-grey has-text-centered">
        <p>
          <b-icon icon="emoticon-sad" size="is-large"></b-icon>
        </p>
        <p>{{ $t('noDataMssg') }}</p>
      </div>
    </section>
    <b-button
      v-if="activeCarousel !== 0 && hasCustomNavigation && !isMobileOrTablet"
      slot="hooper-addons"
      class="custom-carousel-controls left is-paddingless"
      :class="{ 'is-show-on-hover': arrowsOnHover }"
      :size="buttonsSize"
      icon-left="chevron-left-circle-outline"
      v-bind="buttonProps"
      @click.prevent="slidePrev"
    />
    <slide v-for="(slide, indx) in dataItems" :key="indx" :index="indx">
      <slot :item="slide" :index="indx" />
    </slide>
    <b-button
      v-if="
        activeCarousel < totalSlides - 1 &&
        totalSlides > 1 &&
        hasCustomNavigation &&
        !isMobileOrTablet
      "
      slot="hooper-addons"
      class="custom-carousel-controls right is-paddingless"
      :class="{ 'is-show-on-hover': arrowsOnHover }"
      :size="buttonsSize"
      icon-left="chevron-right-circle-outline"
      v-bind="buttonProps"
      @click.prevent="slideNext"
    />
    <hooper-navigation
      v-if="!hasCustomNavigation"
      slot="hooper-addons"
      :class="buttonsSize"
    ></hooper-navigation>
    <hooper-pagination
      v-if="showSlides"
      slot="hooper-addons"
    ></hooper-pagination>
    <hooper-progress v-if="showProgress" slot="hooper-addons"></hooper-progress>
  </hooper>
</template>

<script>
// See documentation in https://baianat.github.io/hooper/api.html
import 'hooper/dist/hooper.css'

import {
  Hooper,
  Navigation as HooperNavigation,
  Pagination as HooperPagination,
  Progress as HooperProgress,
  Slide
} from 'hooper'

import PublicationSkeleton from '~/components/Publications/PublicationSkeleton.vue'

export default {
  name: 'ReelHooper',
  components: {
    Hooper,
    Slide,
    HooperProgress,
    HooperPagination,
    HooperNavigation,
    PublicationSkeleton
  },
  props: {
    items: {
      type: Array,
      default: () => []
    },
    itemsToShow: {
      type: Number,
      default: 5
    },
    itemsToSlide: {
      type: Number,
      default: 1
    },
    // Items to load from endpoint
    itemsToLoad: {
      type: Number,
      default: 10
    },
    loadRetries: {
      type: Number,
      default: 0
    },
    repeat: {
      type: Boolean,
      default: false
    },
    // Show Hooper progress bar at top
    showProgress: {
      type: Boolean,
      default: false
    },
    // Show the Hooper slides at bottom
    showSlides: {
      type: Boolean,
      default: false
    },
    // Class to customize Hooper default buttons. ['is-medium', 'is-large']
    buttonsSize: {
      type: String,
      default: 'is-medium'
    },
    hasCustomNavigation: {
      type: Boolean,
      default: false
    },
    arrowsOnHover: {
      type: Boolean,
      default: true
    },
    isLoading: {
      type: Boolean,
      default: false
    },
    customLoading: {
      type: Boolean,
      default: false
    },
    titleClass: {
      type: String,
      default: 'is-size-4'
    },
    title: {
      type: String,
      default: 'Title'
    },
    buttonProps: {
      type: Object,
      default: () => {
        return {
          rounded: false,
          size: 'is-default',
          class: 'table-buttons',
          outlined: false,
          type: 'is-ghost'
        }
      }
    },
    totalPagesProp: {
      type: String,
      default: 'total'
    },
    pageSizeProp: {
      type: String,
      default: 'PageSize'
    },
    pageProp: {
      type: String,
      default: 'Page'
    },
    dataUrl: {
      type: String,
      default: undefined
    }
  },
  data() {
    return {
      activeCarousel: 0,
      dataItems: [],
      loading: false,
      reloading: false,
      page: 0,
      totalPages: 1,
      totalElements: 0,
      totalSlides: 0,
      retry: 0
    }
  },
  computed: {
    hooperSettings() {
      return {
        itemsToShow: this.itemsToShow || 1,
        itemsToSlide: this.itemsToSlide || 1,
        infiniteScroll: this.repeat,
        autoPlay: false,
        playSpeed: 2000,
        vertical: false,
        wheelControl: false,
        breakpoints: {
          350: {
            centerMode: false,
            itemsToShow: 2
          },
          800: {
            centerMode: false,
            itemsToShow: 3
          },
          1000: {
            itemsToShow: 4
          },
          1400: {
            itemsToShow: 5
          }
        }
      }
    },
    isMobileOrTablet() {
      return this.$mq === 'mobile' || this.$mq === 'tablet'
    }
  },
  watch: {
    items(newVal) {
      if (newVal && newVal.length) this.loading = false
      this.dataItems = newVal
    },
    isLoading(newVal) {
      this.loading = newVal
    },
    itemsToLoad(newVal) {
      if (newVal) this.loadMore()
    },
    dataUrl(newVal, oldVal) {
      if (newVal) {
        this.reloading =
          oldVal === '' ||
          oldVal.includes('SearchText') ||
          newVal.includes('Filters') ||
          newVal.includes('filters') ||
          newVal.includes('Sorts') ||
          newVal.includes('sorts')
        if (this.reloading) this.page = 0
        this.loadMore()
      }
    },
    page(newVal, oldVal) {
      if (newVal > oldVal) this.loadMore()
    },
    activeCarousel(newVal, oldVal) {
      if (!this.reloading) {
        this.page =
          newVal + 1 >= this.totalSlides - this.itemsToSlide
            ? this.page + 1
            : this.page
      }
    }
  },
  created() {
    this.loading = this.isLoading
    this.dataItems = this.items !== undefined ? [...this.items] : []
    this.retry = this.loadRetries
    this.loadMore()
  },
  mounted() {
    this.$watch(
      () => {
        return this.$refs.carousel.slidesCount
      },
      (newVal) => {
        this.totalSlides = newVal || 0
      }
    )
  },
  methods: {
    slidePrev() {
      this.$refs.carousel.slidePrev()
    },
    slideNext() {
      this.$refs.carousel.slideNext()
    },
    updateCarousel(payload) {
      this.activeCarousel = payload.currentSlide || 0
    },
    loadMore() {
      if ((this.dataUrl && this.page < this.totalPages) || this.reloading) {
        // Clear data when filtering
        if (this.dataUrl.includes('SearchText') || this.reloading)
          this.dataItems = []

        this.loading = true

        const url = `${this.dataUrl}${this.dataUrl.includes('?') ? '&' : '?'}${
          this.pageSizeProp
        }=${this.itemsToLoad}&${this.pageProp}=${this.page + 1}`

        this.$axios
          .get(url)
          .then((response) => {
            this.totalPages = response.data[this.totalPagesProp] || 1
            this.totalElements = response.data.records || 0

            this.dataItems = this.dataItems.concat(
              response.data.results || response.data || []
            )
            this.retry = this.loadRetries
          })
          .catch((error) => {
            if (this.retry > 0) {
              this.retry--
              this.loading = true
              setTimeout(() => {
                this.loadMore()
              }, this.retry * 2000)
            }
            // eslint-disable-next-line no-console
            else console.log(error)
          })
          .finally(() => {
            this.$emit('items-available', this.totalElements)
            this.loading = false
          })
      } else {
        this.loading = true
        this.totalElements = this.dataItems.length || 0
        setTimeout(() => {
          this.loading = false
        }, 1000)
      }
    }
  }
}
</script>

<style></style>
