<template>
  <div class="columns is-multiline is-paddingless">
    <div
      v-for="(item, i) in socialMedias"
      :key="i"
      class="column"
      style="align-self: center"
    >
      <ShareNetwork
        class="column"
        style="text-align: center"
        :network="item.network"
        :url="url"
        :title="title"
        :description="description"
      >
        <span class="share-color column is-mobile">
          <b-icon
            v-if="item.icon === 'telegram'"
            style="margin: 0 auto; transform: rotate(305deg)"
            icon="send"
            size="is-medium"
            rotate="120"
          >
          </b-icon>
          <b-icon
            v-else
            style="margin: 0 auto"
            :icon="item.icon"
            size="is-medium"
          >
          </b-icon>
          <span class="pt-1">
            {{ item.name }}
          </span>
        </span>
      </ShareNetwork>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ShareComponent',
  props: {
    url: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    description: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      socialMedias: [
        {
          name: 'Facebook',
          network: 'facebook',
          icon: 'facebook'
        },
        {
          name: 'Twitter',
          network: 'twitter',
          icon: 'twitter'
        },
        {
          name: 'WhatsApp',
          network: 'whatsApp',
          icon: 'whatsapp'
        },
        {
          name: 'Telegram',
          network: 'telegram',
          icon: 'telegram'
        }
      ]
    }
  },
  head() {
    return {
      title: this.$config.appName
    }
  },
  computed: {},
  created() {},
  methods: {}
}
</script>
<i18n>
{
  "en": {
    "tvLabel": "TV-Life",
    "radioLabel": "Radio"
  },
  "es": {
    "tvLabel": "TV-En Vivo",
    "radioLabel": "Radio"
  }
}
</i18n>
