<template>
  <div class="sidebar-page">
    <section v-if="!isMobileOrTablet" class="sidebar-layout">
      <b-sidebar
        class="mini collapsible incremented"
        :class="{
          'reduce collapsed': reduce
        }"
        :position="position"
        :mobile="mobile"
        :reduce="reduce"
        :overlay="overlay"
        :fullheight="fullheight"
        :can-cancel="['outside']"
        :on-cancel="() => $emit('close')"
        open
      >
        <div class="p-1">
          <b-menu class="is-custom-mobile">
            <b-menu-list v-for="(item, index) in menu" :key="index">
              <section class="b-tooltips">
                <b-tooltip
                  :square="false"
                  :active="reduce"
                  :label="item.label"
                  position="is-right"
                  :type="item === selected ? 'is-primary' : 'is-white'"
                >
                  <b-menu-item
                    class="icon-sidebar"
                    :icon="item.icon"
                    :label="item.label"
                    size="is-default"
                    :active="item === selected"
                    tag="nuxt-link"
                    :to="item.to"
                    @click="
                      () => {
                        selected = item
                      }
                    "
                  >
                  </b-menu-item>
                </b-tooltip>
              </section>
            </b-menu-list>
          </b-menu>
        </div>
      </b-sidebar>
    </section>
    <section v-else>
      <b-sidebar
        v-model="open"
        class="mobile incremented"
        :fullheight="fullheight"
        :fullwidth="fullwidth"
        :overlay="overlay"
        :right="right"
        :can-cancel="['outside']"
        @close="$emit('close')"
      >
        <div class="p-1">
          <b-menu class="is-custom-mobile">
            <b-menu-list v-for="(item, index) in menu" :key="index">
              <b-menu-item
                class="icon-sidebar"
                :icon="item.icon"
                :label="item.label"
                size="is-default"
                :active="item === selected"
                tag="nuxt-link"
                :to="item.to"
                @click="
                  () => {
                    selected = item
                  }
                "
              >
              </b-menu-item>
            </b-menu-list>
          </b-menu>
        </div>
      </b-sidebar>
    </section>
  </div>
</template>

<script>
export default {
  name: 'Sidebar',
  props: {
    reduce: {
      type: Boolean,
      default: false
    },
    position: {
      type: String,
      default: 'fixed'
    },
    right: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      hover: true,
      expandWithDelay: false,
      mobile: 'reduce',
      menu: [
        {
          icon: 'home',
          to: '/home',
          label: this.$t('home'),
          items: null
        },
        {
          icon: 'movie',
          to: '/contentChannel/view-all',
          label: this.$t('channel'),
          items: null
        },
        {
          icon: 'new-box',
          to: '/recent',
          label: this.$t('recent'),
          items: null
        },
        {
          icon: 'playlist-check',
          to: '/recomendation',
          label: this.$t('recommended'),
          items: null
        },
        {
          icon: 'video',
          to: '/tvView',
          label: this.$t('tvLabel'),
          items: null
        },
        {
          icon: 'radio-tower',
          to: '/radioView',
          label: this.$t('radioLabel'),
          items: null
        }
      ],
      open: false,
      overlay: false,
      fullheight: true,
      fullwidth: false,
      selected: null
    }
  },
  computed: {
    isMobileOrTablet() {
      if (this.$mq === 'mobile' || this.$mq === 'tablet') {
        return true
      } else {
        return false
      }
    }
  },
  watch: {
    reduce(val) {
      if (val) {
        this.open = false
        document.documentElement.classList.remove('has-sidebar-expanded')
      } else {
        this.open = true
        if (this.$mq !== 'mobile') {
          document.documentElement.classList.add('has-sidebar-expanded')
        }
      }
    },
    '$route.path'(newVal) {
      if (this.selected) {
        if (this.selected.to !== newVal) {
          this.selected = null
          this.checkActiveMenu(newVal)
        }
      } else {
        this.checkActiveMenu(newVal)
      }
    }
  },
  mounted() {
    this.checkActiveMenu(this.$route.path)
    if (this.right) document.documentElement.classList.add('has-sidebar-right')
    else document.documentElement.classList.add('has-sidebar-left')
  },
  methods: {
    checkActiveMenu(route) {
      const active = this.menu.filter(
        (i) => i.to === route || i.to + '/' === route
      )
      if (active.length) this.selected = active[0]
      else this.$emit('close')
    }
  }
}
</script>

<i18n>
{
  "en": {
    "home": "Home",
    "recent": "Recent",
    "channel": "Channel",
    "recommended": "Recommended",
    "tvLabel": "TV-Live",
    "radioLabel": "Radio-Live"
  },
  "es": {
    "home": "Principal",
    "recent": "Reciente",
    "channel": "Canales",
    "recommended": "Recomendados",
    "tvLabel": "TV-En Vivo",
    "radioLabel": "Radio-En Vivo"
  }
}
</i18n>
