<template>
  <div v-if="showAll">
    <div class="line"></div>
    <div style="display: inline-block">{{ $t('or') }}</div>
    <div class="line"></div>

    <div style="padding: 10px">
      <span
        class="m-1 is-inline-flex is-fullwidth"
        style="align-items: center; justify-content: center"
        >{{ $t('sign') }}</span
      >
    </div>
    <div class="account-button">
      <b-tooltip type="is-primary" label="Google" size="is-small">
        <b-button
          v-if="google"
          type="is-primary"
          rounded
          size="is-medium"
          icon-left="google"
          @click="toSign('google')"
        ></b-button>
      </b-tooltip>
      <b-tooltip type="is-primary" label="Facebook" size="is-small">
        <b-button
          v-if="facebook"
          type="is-primary"
          rounded
          size="is-medium"
          icon-left="facebook"
          @click="toSign('facebook')"
        ></b-button>
      </b-tooltip>
      <b-tooltip type="is-primary" label="Twitter" size="is-small">
        <b-button
          v-if="twitter"
          type="is-primary"
          rounded
          size="is-medium"
          icon-left="twitter"
        ></b-button>
      </b-tooltip>
      <b-tooltip type="is-primary" label="Twitch" size="is-small">
        <b-button
          v-if="twitch"
          type="is-primary"
          rounded
          size="is-medium"
          icon-left="twitch"
          @click="toSign('twitch')"
        ></b-button>
      </b-tooltip>
      <b-tooltip type="is-primary" label="Discord" size="is-small">
        <b-button
          v-if="discord"
          type="is-primary"
          rounded
          size="is-medium"
          icon-left="discord"
          @click="toSign('discord')"
        ></b-button>
      </b-tooltip>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SignInWith',
  props: {
    facebook: {
      type: Boolean,
      default: true
    },
    google: {
      type: Boolean,
      default: true
    },
    twitter: {
      type: Boolean,
      default: true
    },
    twitch: {
      type: Boolean,
      default: true
    },
    discord: {
      type: Boolean,
      default: true
    },
    showAll: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      locale: 'en'
    }
  },
  watch: {
    locale(newVal) {
      this.$i18n.locale = newVal
    }
  },
  created() {
    this.locale = this.$i18n.locale || 'en'
  },
  methods: {
    async toSign(type) {
      const res = await this.$auth.loginWith(type)
      console.log('login result: ' + res)
    }
  }
}
</script>

<style lang="scss">
.sign-or {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 0.8rem;
  padding: 15px;
  font-weight: 400;
  color: black;
}

.account-button {
  text-align: center;
}

.line {
  width: 45%;
  height: 0;
  border: 1px solid rgb(222, 224, 224);
  margin: 3px;
  display: inline-block;
}
</style>

<i18n>
{
  "en": {
    "or": "or",
    "sign": "Sign in with"
  },
  "es": {
    "or": "o",
    "sign": "Iniciar sesión con"
  }
}
</i18n>
