<template>
  <server-table-component
    ref="table"
    :data-url="getBasePath"
    :locale="$i18n.locale"
    v-bind="tableDefs"
    :custom-headers="true"
    @cleanFilters="cleanAllFilters"
    @before-form-open="checkIfEditing"
    @available-records="(n) => $emit('items-available', n)"
    @open-column-filter="showFilterForm"
    @container-contextmenu="
      (ev) => {
        if (ev) ev.preventDefault()
        rowInCtx = null
        ctxOpen = !ctxOpen
      }
    "
    @contextmenu="
      (ev, row) => {
        if (ev) ev.preventDefault()
        rowInCtx = row
        ctxOpen = !ctxOpen
      }
    "
  >
    <template #right-extra-header-content>
      <b-tooltip
        type="is-primary"
        :label="$t('filter')"
        size="is-small"
        class="filter-button"
      >
        <b-button
          class="table-buttons"
          :rounded="tableDefs.vbuttons.roundedButtons"
          :outlined="tableDefs.vbuttons.outlinedButtons"
          icon-left="filter"
          type="is-primary is-light"
          @click="showFilterForm"
        >
          <span v-show="filtersCount > 0" class="filter-badge">{{
            filtersCount
          }}</span>
        </b-button>
      </b-tooltip>
      <ctx />
    </template>
    <template #extra-row-buttons="record">
      <b-tooltip
        v-if="hasCrudAccess"
        type="is-primary"
        :label="$t('editButton')"
        position="is-top"
      >
        <b-button
          class="table-buttons"
          :rounded="true"
          :outlined="false"
          icon-left="pencil"
          type="is-primary"
          size="is-small"
          @click="editRTMPAccount(record.record)"
        />
      </b-tooltip>
      <b-tooltip
        v-if="hasCrudAccess"
        type="is-danger"
        :label="$t('deleteButton')"
        position="is-top"
      >
        <b-button
          class="table-buttons"
          :rounded="true"
          :outlined="false"
          icon-left="delete"
          type="is-danger"
          size="is-small"
          @click="deleteRTMPAccount(record.record)"
        />
      </b-tooltip>
      <b-tooltip
        v-if="hasCrudAccess"
        type="is-white"
        :label="$t('associatedTransmitions')"
        position="is-left"
      >
        <b-button
          class="table-buttons"
          :rounded="true"
          :outlined="false"
          icon-left="vector-combine"
          type="is-white"
          size="is-small"
          @click="showAccountAssociations(record.record)"
        />
      </b-tooltip>
    </template>
  </server-table-component>
</template>

<script>
import {
  AdvancedFilterComponent,
  BoolToTextColumnComponent,
  DateColumnComponent,
  DynamicForm,
  LargeTextColumnComponent,
  RadioPicker,
  TYPE_FULLDATETIME,
  TYPE_NUMBER,
  TYPE_TEXT
} from 'premium-tesh-ui-lib'

import StreamTargets from '~/components/StreamTargets.vue'
import genericFiltersMixin from '~/mixins/genericFiltersMixin'
import streamedContentsMixin from '~/mixins/streamedContentsMixin'
import tableContextMenuMixin from '~/mixins/tableContextMenuMixin'

export default {
  name: 'SocialMediaRTMPAccounts',
  mixins: [streamedContentsMixin, genericFiltersMixin, tableContextMenuMixin],
  middleware: 'guest',
  props: {
    contentChannelId: {
      type: String,
      default: undefined
    },
    url: {
      type: String,
      default: undefined
    },
    reload: {
      type: Boolean,
      default: false
    },
    permissions: {
      type: Array,
      default: () => []
    },
    rtmpDestinations: {
      type: Array,
      default: () => []
    }
  },
  setup({ permissions }) {
    const hasCrudAccess =
      permissions.includes('DomainAdmin') ||
      permissions.includes('AccessAll') ||
      permissions.includes('SystemAdmin') ||
      permissions.includes('SocialMediaAccountForRtmp') ||
      permissions.includes('ContentChannelSocialMediaAccountForRtmp')

    return { hasCrudAccess }
  },
  data() {
    return {
      reloadInner: false,
      tableDefs: {
        vtable: {
          draggable: false,
          headers: [
            {
              text: 'Id',
              value: 'id',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'id'
              }
            },
            {
              text: this.$t('socialMediaNameLabel'),
              value: 'name',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'name'
              }
            },
            {
              text: this.$t('destinationAppLabel'),
              value: 'rtmpDestinationApplication',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'rtmpDestinationApplication'
              }
            },
            {
              text: this.$t('hostLabel'),
              value: 'rtmpDestinationHost',
              align: 'left',
              sortable: true,
              render: {
                type: LargeTextColumnComponent,
                props: {
                  showDisplayButton: true,
                  content: this.$t('rtmpDestinationHost'),
                  locale: this.$i18n.locale,
                  textLenght: 30,
                  tooltipPosition: 'is-top'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'rtmpDestinationHost'
              }
            },
            {
              text: this.$t('portLabel'),
              value: 'rtmpDestinationPort',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'rtmpDestinationPort'
              }
            },
            {
              text: this.$t('useSSLLabel'),
              value: 'rtmpDestinationUseSSL',
              align: 'left',
              sortable: true,
              render: {
                type: BoolToTextColumnComponent,
                props: {
                  trueText: this.$t('trueText'),
                  falseText: this.$t('falseText')
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'rtmpDestinationUseSSL'
              }
            },
            {
              text: this.$t('destinationStreamLabel'),
              value: 'streamKey',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'streamKey'
              }
            },
            {
              text: this.$t('rankingLabel'),
              value: 'socialMediaRanking',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'socialMediaRanking'
              }
            },
            {
              text: this.$t('createdBy'),
              value: 'createdBy',
              align: 'left',
              sortable: true,
              custom: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'createdBy'
              }
            },
            {
              text: this.$t('createDateTime'),
              value: 'createdDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'createdDate'
              }
            },
            {
              text: this.$t('modifiedBy'),
              value: 'modifiedBy',
              align: 'left',
              sortable: true,
              custom: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'modifiedBy'
              }
            },
            {
              text: this.$t('modifyDateTime'),
              value: 'modifiedDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'modifiedDate'
              }
            },
            {
              text: this.$t('actions'),
              value: '',
              fixed: true,
              sortable: false,
              cellClass: 'actions-column',
              action: true,
              filter: {
                useFilter: false
              }
            }
          ]
        },
        vbtn: {
          create: {
            show: true,
            type: 'is-info is-light',
            icon: 'plus',
            tooltip: this.$t('create', { element: '' }),
            tooltipType: 'is-info',
            props: {
              rounded: true,
              outlined: true,
              class: 'table-buttons'
            }
          }
        },
        vicon: {
          roundedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          edit: {
            show: false,
            name: 'pencil',
            type: 'is-primary',
            tooltip: {
              label: this.$t('editButton'),
              type: 'is-primary',
              position: 'is-top'
            }
          },
          delete: {
            show: false,
            name: 'delete',
            type: 'is-danger',
            tooltip: {
              label: this.$t('deleteButton'),
              type: 'is-danger',
              position: 'is-top'
            }
          }
        },
        vbuttons: {
          roundedButtons: true,
          outlinedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          buttons: []
        },
        rowName: 'socialMediaName',
        title: this.$tc('rtmpAccount', 2),
        modalTitle: this.$tc('rtmpAccount', 2),
        headerIcon: 'account-group-outline',
        form: {}
      },
      filterForm: {
        SocialMediaFilter: {
          title: this.$t('cardTitle'),
          icon: 'account-group-outline',
          form: {
            Id: {
              fieldType: TYPE_TEXT,
              label: 'Id',
              placeholder: this.$t('placeholder', {
                key: 'id'
              }),
              activeOperator: '=='
            },
            SocialMediaName: {
              fieldType: TYPE_TEXT,
              label: this.$t('socialMediaNameLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('socialMediaNameLabel').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            DestinationApplicationName: {
              fieldType: TYPE_TEXT,
              label: this.$t('destinationAppLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('destinationAppLabel').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            DestinationStreamName: {
              fieldType: TYPE_TEXT,
              label: this.$t('destinationStreamLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('destinationStreamLabel').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            }
          }
        },
        PropertiesFilter: {
          title: this.$t('propertiesLabel'),
          icon: 'newspaper-variant-outline',
          form: {
            DestinationHost: {
              fieldType: TYPE_TEXT,
              label: this.$t('hostLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('hostLabel').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            DestinationPort: {
              fieldType: TYPE_NUMBER,
              label: this.$t('portLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('portLabel').toLowerCase()
              }),
              activeOperator: '=='
            },
            SocialMediaRanking: {
              fieldType: TYPE_NUMBER,
              label: this.$t('rankingLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('rankingLabel').toLowerCase()
              }),
              activeOperator: '=='
            },
            UseSSL: {
              type: RadioPicker,
              default: null,
              'field-wrapper': { class: 'is-12' },
              'field-input': {
                label: this.$t('useSSLLabel'),
                options: {
                  true: this.$t('trueText'),
                  false: this.$t('falseText'),
                  null: this.$t('anyLabel')
                },
                customClass: 'group-is-block'
              },
              save: (v) => {
                return v !== 'null' ? v : null
              }
            }
          }
        },
        UsersFilter: {
          title: this.$t('users'),
          icon: 'account-group',
          form: {
            CreatedBy: {
              fieldType: TYPE_TEXT,
              label: this.$t('createdBy'),
              placeholder: this.$t('placeholder', {
                key: this.$t('createdBy').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            ModifiedBy: {
              fieldType: TYPE_TEXT,
              label: this.$t('modifiedBy'),
              placeholder: this.$t('placeholder', {
                key: this.$t('modifiedBy').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            }
          }
        },
        DatesFilter: {
          title: this.$tc('date', 2),
          icon: 'calendar',
          form: {
            CreatedDate: {
              fieldType: TYPE_FULLDATETIME,
              label: this.$t('createDateTime'),
              placeholder: this.$t('placeholder', {
                key: this.$t('createDateTime').toLowerCase()
              }),
              value: null
            },
            ModifiedDate: {
              fieldType: TYPE_FULLDATETIME,
              label: this.$t('modifyDateTime'),
              placeholder: this.$t('placeholder', {
                key: this.$t('modifyDateTime').toLowerCase()
              }),
              value: null
            }
          }
        }
      },
      filters: '',
      filtersConstants: {
        Id: 'id',
        SocialMediaName: 'name',
        DestinationApplicationName: 'rtmpDestinationApplication',
        DestinationHost: 'rtmpDestinationHost',
        DestinationPort: 'rtmpDestinationPort',
        DestinationStreamName: 'streamKey',
        UseSSL: 'rtmpDestinationUseSSL',
        CreatedDate: 'createdDate',
        ModifiedDate: 'modifiedDate',
        SocialMediaRanking: 'socialMediaRanking'
      },
      filtersCount: 0
    }
  },
  head() {
    return {
      title: this.$config.appName
    }
  },
  computed: {
    titleStack() {
      return ['Admin', 'Tables']
    },
    getBasePath() {
      let defFilters = this.url && this.url.split('?Filters=')
      defFilters =
        defFilters && defFilters.length > 0
          ? defFilters[1] && defFilters[1].replace('?Filters=', ',')
          : ''

      return this.reload || this.reloadInner
        ? ''
        : this.filters !== ''
        ? this.url
          ? `${this.url.split('?Filters=')[0]}?Filters=${this.filters}${
              defFilters ? ',' + defFilters : ''
            }`
          : `contentChannel/${this.contentChannelId}/SocialMediaAccountForRtmp?Filters=${this.filters}`
        : this.url ||
          `contentChannel/${this.contentChannelId}/SocialMediaAccountForRtmp`
    },
    ctxOptions() {
      const opt = [
        { id: 'add', icon: 'plus', name: this.$t('addButton') },
        { id: 'edit', icon: 'pencil', name: this.$t('editButton') },
        { id: 'delete', icon: 'trash-can', name: this.$t('deleteButton') },
        {
          id: 'associatedTransm',
          icon: 'vector-combine',
          name: this.$t('associatedTransmitions')
        }
      ]

      if (!this.hasCrudAccess) {
        opt.splice(3, 1)
        opt.splice(2, 1)
        opt.splice(1, 1)
      }

      return this.rowInCtx ? opt : opt.slice(0, 1)
    }
  },
  watch: {
    reload(newVal) {
      this.reloadInner = newVal
    }
  },
  created() {
    this.tableDefs.form = this.rtmpAccountsForm
    if (!this.hasCrudAccess) this.tableDefs.vbtn = { create: { show: false } }
    if (!this.ctxOptions.length > 0) this.tableDefs.vtable.headers.splice(-1, 1)
  },
  methods: {
    showFilterForm(field) {
      const ffield = field && field.useFilter ? field : null
      this.assignColumnFilterForm(ffield)

      this.$buefy.modal.open({
        parent: this,
        component: AdvancedFilterComponent,
        props: {
          form: ffield ? ffield.filterForm : this.filterForm,
          isInModal: true,
          filterType: 'audioStream',
          stickyInside: true,
          locale: this.$i18n.locale,
          cardTitle: this.$tc('rtmpAccount', 2),
          cardSubtitle: this.$t('filter'),
          enableAdvancedSearch: false,
          modalWidth: ffield ? 500 : 850,
          simpleMode: !!ffield,
          utc: true
        },
        events: {
          'filters-updated': this.updateFilters,
          'count-results': (q) => this.countResults(q, this.getBasePath),
          'filters-count': (v) => (this.filtersCount = v)
        },
        hasModalCard: true,
        destroyOnHide: true,
        trapFocus: true
      })
    },
    checkIfEditing(form, rowId) {
      if (rowId && form) {
        form.socialMediaRanking['field-wrapper'].style = 'display: initial'
      } else if (form) {
        form.socialMediaRanking['field-wrapper'].style = 'display: none'
      }
    },
    showAccountAssociations(account) {
      if (account)
        this.$buefy.modal.open({
          parent: this,
          component: StreamTargets,
          props: {
            isInModal: true,
            isReadonly: true,
            contentChannelId: this.contentChannelId || account.contentChannelId,
            accountId: account.id
          },
          hasModalCard: true,
          destroyOnHide: true,
          trapFocus: true
        })
    },
    handleCtxMenuClicked(option, record) {
      if (option && this.$refs.table) {
        if (option.id === 'add') this.$refs.table.formOpen(null)
        else if (option.id === 'edit' && record) this.editRTMPAccount(record)
        else if (option.id === 'delete' && record)
          this.deleteRTMPAccount(record)
        else if (option.id === 'associatedTransm' && record)
          this.showAccountAssociations(record)
      }
    },
    cleanAllFilters() {
      this.reloadInner = true
      this.filters = ''
      setTimeout(() => {
        this.reloadInner = false
      }, 1000)
      this.filtersCount = 0
    },
    editRTMPAccount(record) {
      if (record.rtmpDestinationPersonalized) {
        this.rtmpAccountsForm.rtmpDestinationId.value = '---'

        Object.keys(this.rtmpAccountsForm).forEach((field) => {
          if (field === 'id') this.rtmpAccountsForm[field].value = record.id
          else if (field === 'rtmpDestinationId') {
            // return
          } else this.rtmpAccountsForm[field].value = record[field]
        })
      } else {
        this.rtmpAccountsForm.rtmpDestinationId.value = record.rtmpDestinationId
        this.rtmpAccountsForm.name.value = record.name
        this.rtmpAccountsForm.id.value = record.id
        this.rtmpAccountsForm.streamKey.value = record.streamKey
        this.rtmpAccountsForm.socialMediaRanking.value =
          record.socialMediaRanking
      }

      const urlAction = this.contentChannelId
        ? `contentChannel/${this.contentChannelId}/SocialMediaAccountForRtmp`
        : 'SocialMediaAccountForRtmp'

      this.$buefy.modal.open({
        parent: this,
        component: DynamicForm,
        props: {
          form: this.rtmpAccountsForm,
          cardTitle: this.$t('cardTitle'),
          cardSubtitle: this.$t('edit', { element: null }),
          isInModal: true,
          preventSubmit: true,
          cardWidth: 700,
          locale: this.$i18n.locale,
          editionMode: true,
          closeOnSubmit: false
        },
        events: {
          onSubmit: (values, parent) => {
            this.$axios
              .put(urlAction, {
                id: values.id,
                name: values.name,
                streamKey: values.streamKey,
                rtmpDestinationId:
                  values.rtmpDestinationId != null
                    ? values.rtmpDestinationId
                    : record.rtmpDestinationId,
                rtmpDestinationName: values.rtmpDestinationName,
                rtmpDestinationApplication: values.rtmpDestinationApplication,
                rtmpDestinationHost: values.rtmpDestinationHost,
                rtmpDestinationPort: values.rtmpDestinationPort,
                rtmpDestinationUseSSL: values.rtmpDestinationUseSSL,
                socialMediaRanking: values.socialMediaRanking
              })
              .then(() => {
                this.reloadInner = true
                parent.close()
                this.$buefy.toast.open({
                  message: this.$t('editSuccess'),
                  type: 'is-success'
                })
                setTimeout(() => {
                  this.reloadInner = false
                }, 1000)
              })
              .catch((err) => {
                this.toastError(err)
              })
          },
          'form-close': () => {
            Object.keys(this.rtmpAccountsForm).forEach((field) => {
              this.rtmpAccountsForm[field].value = null
            })
          }
        },
        hasModalCard: true,
        trapFocus: true,
        canCancel: ['escape', 'x']
      })
    },
    deleteRTMPAccount(record) {
      const urlAction = this.contentChannelId
        ? `contentChannel/${this.contentChannelId}/SocialMediaAccountForRtmp`
        : 'SocialMediaAccountForRtmp'
      this.$refs.table.$refs.cdialog.confirm({
        title: this.$t('cardTitle'),
        subtitle: this.$t('delete', { element: '' }),
        message: this.$t('confirmMssg'),
        type: 'is-danger',
        cancelText: this.$t('cancelButton'),
        confirmText: this.$t('deleteButton'),
        onConfirm: () => {
          this.$axios
            .delete(`${urlAction}/${record.id}`)
            .then(() => {
              this.reloadInner = true
              this.$buefy.toast.open({
                message: this.$t('deleteSuccess'),
                type: 'is-success'
              })
              setTimeout(() => {
                this.reloadInner = false
              }, 1000)
            })
            .catch((err) => {
              this.toastError(err)
            })
        }
      })
    }
  }
}
</script>
<i18n>
{
  "en": {
    "cardTitle": "Social Media Account",
    "socialMediaNameLabel": "Social Media Account Name",
    "destinationAppLabel": "Destination Application",
    "hostLabel": "Host",
    "portLabel": "Port",
    "destinationStreamLabel": "Destination Stream",
    "placeholderSelect": "Select a {key}...",
    "useSSLLabel": "SSL",
    "propertiesLabel": "Properties",
    "rankingLabel": "Ranking",
    "associatedTransmitions": "Associated Transmitions",
    "custom": "Custom",
    "destinationType": "Destination",
    "destinationName": "Destination Name"
  },
  "es": {
    "cardTitle": "Cuenta de Redes Sociales",
    "socialMediaNameLabel": "Nombre de la cuenta de RS",
    "destinationAppLabel": "Aplicación de Destino",
    "hostLabel": "Host",
    "portLabel": "Puerto",
    "destinationStreamLabel": "Clave de Transmisión",
    "placeholderSelect": "Seleccione una {key}...",
    "useSSLLabel": "SSL",
    "propertiesLabel": "Propiedades",
    "rankingLabel": "Ranking",
    "associatedTransmitions": "Transmisiones Asociadas",
    "custom": "Personalizado",
    "destinationType": "Destino",
    "destinationName": "Nombre del Destino"
  }
}
</i18n>
