<template>
  <span class="social-media-field">
    <b-image
      v-if="socialIcon"
      :src="icon"
      alt="Social-Media-Logo"
      placeholder=".png"
      rounded
      ratio="64by64"
    ></b-image>
    <b-icon
      v-else
      class="is-aligned-center"
      :type="iconType"
      :icon="socialMDI"
      :size="iconSize"
    />
    <span class="pt-1 overflow-ellipsis-2"> {{ socialName }} </span>
  </span>
</template>

<script>
export default {
  name: 'SocialMediaField',
  props: {
    mdiIcon: {
      type: String,
      default: 'account-supervisor-circle-outline'
    },
    iconSize: {
      type: String,
      default: 'is-medium'
    },
    iconType: {
      type: String,
      default: 'is-white'
    },
    icon: {
      type: String,
      default: undefined
    },
    name: {
      type: String,
      default: undefined
    },
    value: {
      type: [Object, String],
      default: () => {}
    }
  },
  data() {
    return {
      socialMedia: null
    }
  },
  computed: {
    socialIcon() {
      return (this.socialMedia && this.socialMedia.icon) || this.icon
    },
    socialMDI() {
      return (this.socialMedia && this.socialMedia.mdiIcon) || this.mdiIcon
    },
    socialName() {
      return (this.socialMedia && this.socialMedia.name) || this.name
    }
  },
  watch: {
    value(newVal) {
      this.socialMedia = newVal
    }
  },
  created() {
    this.socialMedia = this.value
  }
}
</script>
<style lang="scss" scoped>
span.social-media-field {
  display: grid;
  max-width: 10rem;
  width: auto;
  align-content: center;
  justify-content: center;
  > span:last-of-type {
    color: white;
  }
}
</style>
