<template>
  <server-table-component
    ref="table"
    :data-url="getBasePath"
    :locale="$i18n.locale"
    v-bind="tableDefs"
    :custom-headers="true"
    @cleanFilters="cleanAllFilters"
    @before-form-open="checkIfEditing"
    @available-records="(n) => $emit('items-available', n)"
    @open-column-filter="showFilterForm"
    @container-contextmenu="
      (ev) => {
        if (ev) ev.preventDefault()
        rowInCtx = null
        ctxOpen = !ctxOpen
      }
    "
    @contextmenu="
      (ev, row) => {
        if (ev) ev.preventDefault()
        rowInCtx = row
        ctxOpen = !ctxOpen
      }
    "
  >
    <template v-if="isInModal" #header-extra-content>
      <b-button
        rounded
        outlined
        class="mx-5 my-5"
        type="is-light is-primary table-buttons"
        @click="modalClose"
      >
        <b-icon icon="close" size="is-small" />
      </b-button>
    </template>
    <template v-if="isInModal" #extra-content>
      <hr class="is-fullwidth my-3" />
      <b-field grouped position="is-right" style="padding: 0">
        <div class="control">
          <b-button type="is-light is-primary" outlined @click="modalClose">
            <b-icon icon="close" size="is-small" />
            <span>{{ $t('closeButton') }}</span>
          </b-button>
        </div>
      </b-field>
    </template>
    <template #extra-row-buttons="record">
      <template v-for="(button, key) in vrowButtons.buttons">
        <b-tooltip
          v-if="button.show"
          :key="key"
          :type="button.tooltip.type"
          :label="
            button.tooltip.label ||
            (record.record.enabled ? $tc('stop') : $tc('play'))
          "
          :position="button.tooltip.position"
        >
          <b-button
            v-bind="button.props"
            class="p-1"
            :class="vrowButtons.class"
            :rounded="vrowButtons.roundedButtons"
            :outlined="vrowButtons.outlinedButtons"
            :icon-left="
              button.icon || (record.record.enabled ? 'stop' : 'play')
            "
            :type="button.type"
            :size="vrowButtons.size"
            :loading="record.record.loading && loading && button.id === 'play'"
            @click="button.action(record)"
          />
        </b-tooltip>
      </template>
    </template>
    <template #right-extra-header-content>
      <b-tooltip
        type="is-primary"
        :label="$t('filter')"
        size="is-small"
        class="filter-button"
      >
        <b-button
          class="table-buttons"
          :rounded="vrowButtons.roundedButtons"
          :outlined="true"
          icon-left="filter"
          type="is-primary is-light"
          @click="showFilterForm"
        >
          <span v-show="filtersCount > 0" class="filter-badge">{{
            filtersCount
          }}</span>
        </b-button>
      </b-tooltip>
      <ctx v-if="!isReadonly" />
    </template>
  </server-table-component>
</template>

<script>
import {
  AdvancedFilterComponent,
  axiosToastErrorsMixin,
  BoolToTextColumnComponent,
  DateColumnComponent,
  RadioPicker,
  TYPE_AUTOCOMPLETE,
  TYPE_FULLDATETIME,
  TYPE_TEXT
} from 'premium-tesh-ui-lib'

import genericFiltersMixin from '~/mixins/genericFiltersMixin'
import streamedContentsMixin from '~/mixins/streamedContentsMixin'
import tableContextMenuMixin from '~/mixins/tableContextMenuMixin'
import ScheduleTransmission from '~/pages/scheduleTransmission/index.vue'

export default {
  name: 'StreamTarget',
  mixins: [
    genericFiltersMixin,
    streamedContentsMixin,
    axiosToastErrorsMixin,
    tableContextMenuMixin
  ],
  middleware: 'guest',
  props: {
    contentChannelId: {
      type: String,
      default: undefined
    },
    accountId: {
      type: String,
      default: undefined
    },
    url: {
      type: String,
      default: undefined
    },
    reload: {
      type: Boolean,
      default: false
    },
    isInModal: {
      type: Boolean,
      default: false
    },
    isReadonly: {
      type: Boolean,
      default: false
    },
    permissions: {
      type: Array,
      default: () => []
    }
  },
  setup({ permissions }) {
    const isTransmissor =
      permissions.includes('DomainAdmin') ||
      permissions.includes('AccessAll') ||
      permissions.includes('ContentChannelStreamTargetLocal') ||
      permissions.includes('StreamTargetLocal') ||
      permissions.includes('StreamTargetLocalPlay') ||
      permissions.includes('StreamTargetLocalStop') ||
      permissions.includes('SystemAdmin') ||
      permissions.includes('ContentChannelStreamTargetLocalPlay') ||
      permissions.includes('ContentChannelStreamTargetLocalStop')

    const hasCrudAccess =
      permissions.includes('DomainAdmin') ||
      permissions.includes('AccessAll') ||
      permissions.includes('SystemAdmin') ||
      permissions.includes('StreamTargetLocal') ||
      permissions.includes('ContentChannelStreamTargetLocal')

    return { isTransmissor, hasCrudAccess }
  },
  data() {
    return {
      reloadInner: false,
      tableDefs: {
        vtable: {
          draggable: false,
          headers: [
            {
              text: 'Id',
              value: 'id',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'id'
              }
            },
            {
              text: this.$t('nameLabel'),
              value: 'streamTargetName',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'streamTargetName'
              }
            },
            {
              text: this.$tc('rtmpAccount'),
              value: 'socialMediaName',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'socialMediaAccountRtmpId'
              }
            },
            {
              text: this.$t('sourceLabel'),
              value: 'sourceStreamName',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'sourceStreamName'
              }
            },
            {
              text: this.$t('enabledLabel'),
              value: 'enabled',
              align: 'left',
              sortable: true,
              render: {
                type: BoolToTextColumnComponent,
                props: {
                  trueText: this.$t('trueText'),
                  falseText: this.$t('falseText')
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'enabled'
              }
            },
            {
              text: this.$t('createdBy'),
              value: 'createdBy',
              align: 'left',
              sortable: true,
              custom: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'createdBy'
              }
            },
            {
              text: this.$t('createDateTime'),
              value: 'createdDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'createdDate'
              }
            },
            {
              text: this.$t('modifiedBy'),
              value: 'modifiedBy',
              align: 'left',
              sortable: true,
              custom: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'modifiedBy'
              }
            },
            {
              text: this.$t('modifyDateTime'),
              value: 'modifiedDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'modifiedDate'
              }
            },
            {
              text: this.$t('actions'),
              value: '',
              fixed: true,
              sortable: false,
              cellClass: 'actions-column',
              action: true,
              filter: {
                useFilter: false
              }
            }
          ]
        },
        vbtn: {
          create: {
            show: true,
            type: 'is-info is-light',
            icon: 'plus',
            tooltip: this.$t('create', { element: '' }),
            tooltipType: 'is-info',
            props: {
              rounded: true,
              outlined: true,
              class: 'table-buttons'
            }
          }
        },
        vicon: {
          roundedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          edit: {
            show: !this.isReadonly && this.hasCrudAccess,
            name: 'pencil',
            type: 'is-primary',
            tooltip: {
              label: this.$t('editButton'),
              type: 'is-primary',
              position: 'is-top'
            }
          },
          delete: {
            show: !this.isReadonly && this.hasCrudAccess,
            name: 'delete',
            type: 'is-danger',
            tooltip: {
              label: this.$t('deleteButton'),
              type: 'is-danger',
              position: 'is-top'
            }
          }
        },
        rowName: 'streamTargetName',
        title: this.$t('cardTitle'),
        modalTitle: this.$t('cardTitle'),
        editModalTitle: this.$t('cardTitle'),
        headerIcon: 'cast',
        form: {}
      },
      vrowButtons: {
        roundedButtons: true,
        outlinedButtons: false,
        size: 'is-small',
        class: 'table-buttons icon-only',
        buttons: [
          {
            id: 'play',
            show: !this.isReadonly && this.hasCrudAccess && this.isTransmissor,
            type: 'is-white',
            tooltip: {
              type: 'is-white',
              position: 'is-top'
            },
            action: (record) => {
              this.playOrPause(record.record)
            }
          },
          {
            id: 'autoplay',
            show:
              !this.isReadonly &&
              !this.permissions.includes('SystemAdmin') &&
              (this.permissions.includes('DomainAdmin') ||
                this.permissions.includes('StreamTargetLocalStop') ||
                this.permissions.includes('StreamTargetLocalPlay') ||
                this.permissions.includes(
                  'ContentChannelStreamTargetLocalPlay'
                ) ||
                this.permissions.includes(
                  'ContentChannelStreamTargetLocalStop'
                ) ||
                this.permissions.includes('ContentChannelStreamTargetLocal') ||
                this.permissions.includes('StreamTargetLocal')),
            type: 'is-white',
            tooltip: {
              type: 'is-white',
              position: 'is-left',
              label: this.$t('autoTransmitionCog')
            },
            icon: 'cog-play-outline',
            action: (record) => {
              if (record.autoTransmition) {
                this.vrowButtons.buttons[1].icon = 'cog-play-outline'
              }
              this.configAutoTransm(record.record)
            }
          }
        ]
      },
      filterForm: {
        StreamTargetLocalFilter: {
          title: this.$t('cardTitle'),
          icon: 'cast',
          form: {
            Id: {
              fieldType: TYPE_TEXT,
              label: 'Id',
              placeholder: this.$t('placeholder', {
                key: 'id'
              }),
              activeOperator: '=='
            },
            StreamTargetName: {
              fieldType: TYPE_TEXT,
              label: this.$t('nameLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('nameLabel').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            SocialMediaName: {
              fieldType: TYPE_AUTOCOMPLETE,
              label: this.$tc('rtmpAccount', 1),
              placeholder: this.$t('placeholder', {
                key: this.$tc('rtmpAccount').toLowerCase()
              }),
              props: {
                optionId: 'id',
                optionName: 'socialMediaName',
                dataUrl: `SocialMediaAccountForRtmp`,
                isRequired: false
              },
              save: (v) => {
                return v ? v.id : v
              },
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            SourceStreamName: {
              fieldType: TYPE_AUTOCOMPLETE,
              label: this.$tc('sourceLabel', 1),
              placeholder: this.$t('placeholder', {
                key: this.$tc('sourceLabel').toLowerCase()
              }),
              props: {
                optionId: 'name',
                optionName: 'name',
                dataUrl: `IncomingStream`,
                isRequired: false
              },
              save: (v) => {
                return v ? v.name : v
              },
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            videoStreamTitle: {
              fieldType: TYPE_AUTOCOMPLETE,
              label: this.$tc('videoStreamLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$tc('videoStreamLabel').toLowerCase()
              }),
              props: {
                optionId: 'id',
                optionName: 'title',
                dataUrl: `VideoStream`,
                isRequired: false
              },
              save: (v) => {
                return v ? v.id : v
              },
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            Enabled: {
              type: RadioPicker,
              default: null,
              'field-wrapper': { class: 'is-12' },
              'field-input': {
                label: this.$t('enabledLabel'),
                options: {
                  true: this.$t('trueText'),
                  false: this.$t('falseText'),
                  null: this.$t('anyLabel')
                },
                customClass: 'group-is-block'
              },
              save: (v) => {
                return v !== 'null' ? v : null
              }
            }
          }
        },
        UsersFilter: {
          title: this.$t('users'),
          icon: 'account-group',
          form: {
            CreatedBy: {
              fieldType: TYPE_TEXT,
              label: this.$t('createdBy'),
              placeholder: this.$t('placeholder', {
                key: this.$t('createdBy').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            ModifiedBy: {
              fieldType: TYPE_TEXT,
              label: this.$t('modifiedBy'),
              placeholder: this.$t('placeholder', {
                key: this.$t('modifiedBy').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            }
          }
        },
        DatesFilter: {
          title: this.$tc('date', 2),
          icon: 'calendar',
          form: {
            CreatedDate: {
              fieldType: TYPE_FULLDATETIME,
              label: this.$t('createDateTime'),
              placeholder: this.$t('placeholder', {
                key: this.$t('createDateTime').toLowerCase()
              }),
              value: null
            },
            ModifiedDate: {
              fieldType: TYPE_FULLDATETIME,
              label: this.$t('modifyDateTime'),
              placeholder: this.$t('placeholder', {
                key: this.$t('modifyDateTime').toLowerCase()
              }),
              value: null
            }
          }
        }
      },
      filters: '',
      filtersConstants: {
        Id: 'id',
        StreamTargetName: 'streamTargetName',
        SourceStreamName: 'sourceStreamName',
        videoStreamTitle: 'videoStreamId',
        SocialMediaName: 'socialMediaAccountRtmpId',
        Enabled: 'enabled',
        CreatedBy: 'createdBy',
        ModifiedBy: 'modifiedBy',
        CreatedDate: 'createdDate',
        ModifiedDate: 'modifiedDate'
      },
      filtersCount: 0,
      loading: false
    }
  },
  head() {
    return {
      title: this.$config.appName
    }
  },
  computed: {
    titleStack() {
      return ['Admin', 'Tables']
    },
    ctxOptions() {
      const opt = [
        { id: 'add', icon: 'plus', name: this.$t('addButton') },
        { id: 'edit', icon: 'pencil', name: this.$t('editButton') },
        { id: 'delete', icon: 'trash-can', name: this.$t('deleteButton') },
        {
          id: 'play',
          icon: this.rowInCtx
            ? this.rowInCtx.enabled
              ? 'stop'
              : 'play'
            : 'play',
          name: this.rowInCtx
            ? this.rowInCtx.enabled
              ? this.$tc('stop')
              : this.$tc('play')
            : this.$tc('play')
        }
      ]

      if (
        !this.isReadonly &&
        !this.permissions.includes('SystemAdmin') &&
        (this.permissions.includes('DomainAdmin') ||
          this.permissions.includes('StreamTargetLocalStop') ||
          this.permissions.includes('StreamTargetLocalPlay') ||
          this.permissions.includes('ContentChannelStreamTargetLocalPlay') ||
          this.permissions.includes('ContentChannelStreamTargetLocalStop') ||
          this.permissions.includes('ContentChannelStreamTargetLocal') ||
          this.permissions.includes('StreamTargetLocal'))
      ) {
        opt.push({
          id: 'autoplay',
          icon: 'cog-play-outline',
          name: this.$t('autoTransmitionCog')
        })
      }
      if (!this.hasCrudAccess || !this.isTransmissor) {
        opt.splice(4, 1)
        opt.splice(3, 1)
      } else if (!this.hasCrudAccess) {
        opt.splice(3, 1)
        opt.splice(2, 1)
        opt.splice(1, 1)
        opt.splice(0, 1)
      }

      return this.rowInCtx ? opt : opt.slice(0, 1)
    },
    getBasePath() {
      return this.reload || this.reloadInner
        ? ''
        : this.filters !== '' || this.accountId
        ? this.url
          ? `${this.url}?filters=${this.filters}`
          : `contentChannel/${
              this.contentChannelId
            }/StreamTargetLocal?filters=${
              this.filters ? this.filters + ',' : ''
            }${
              this.accountId
                ? 'socialMediaAccountRtmpId==' + this.accountId
                : ''
            }`
        : this.url ||
          `contentChannel/${this.contentChannelId}/StreamTargetLocal`
    },
    streamTargetUrl() {
      return (
        this.url || `contentChannel/${this.contentChannelId}/StreamTargetLocal`
      )
    }
  },
  watch: {
    reload(newVal) {
      this.reloadInner = newVal
    }
  },
  created() {
    this.tableDefs.form = this.streamTargetsForm
    if (this.isReadonly) {
      this.tableDefs.vbtn = { create: { show: false } }
      this.tableDefs.vtable.headers.splice(-1, 1)
    }
    if (!this.hasCrudAccess) this.tableDefs.vbtn = { create: { show: false } }

    if (!this.ctxOptions.length > 0) this.tableDefs.vtable.headers.splice(-1, 1)
  },
  methods: {
    successfullOperation(opKey) {
      this.$buefy.toast.open({
        message: this.$t(opKey + 'Sucess'),
        type: 'is-success'
      })
    },
    playOrPause(target) {
      target.loading = true
      this.loading = true
      this.$axios
        .post(
          this.streamTargetUrl +
            '/' +
            target.id +
            `/${target.enabled ? 'disable' : 'enable'}`
        )
        .then((response) => {
          this.$buefy.toast.open({
            message: target.enabled
              ? this.$tc('pause', 2)
              : this.$tc('play', 2),
            type: 'is-success'
          })
          this.reloadInner = true
          setTimeout(() => {
            this.reloadInner = false
          }, 100)
        })
        .catch((err) => {
          this.toastError(err)
        })
        .finally(() => {
          target.loading = false
          this.loading = false
        })
    },
    showFilterForm(field) {
      const ffield = field && field.useFilter ? field : null
      this.assignColumnFilterForm(ffield)

      this.$buefy.modal.open({
        parent: this,
        component: AdvancedFilterComponent,
        props: {
          form: ffield ? ffield.filterForm : this.filterForm,
          isInModal: true,
          filterType: 'streamTargets',
          stickyInside: true,
          locale: this.$i18n.locale,
          cardTitle: this.$t('cardTitle'),
          cardSubtitle: this.$t('filter'),
          enableAdvancedSearch: false,
          modalWidth: ffield ? 500 : 850,
          simpleMode: !!ffield,
          utc: true
        },
        events: {
          'filters-updated': this.updateFilters,
          'count-results': (q) => this.countResults(q, this.getBasePath),
          'filters-count': (v) => (this.filtersCount = v)
        },
        hasModalCard: true,
        destroyOnHide: true,
        trapFocus: true
      })
    },
    checkIfEditing(form, rowId) {
      if (rowId && form) {
        form.enabled['field-wrapper'].style = 'display: initial'
      } else if (form) {
        form.enabled['field-wrapper'].style = 'display: none'
      }
    },
    modalClose() {
      let parent = this.$parent
      let isClosed = false
      while (!isClosed) {
        try {
          parent.close()
          isClosed = true
        } catch (error) {
          parent = parent.$parent
        }
      }
      this.$emit('modalClose')
    },
    configAutoTransm(record) {
      this.$buefy.modal.open({
        parent: this,
        component: ScheduleTransmission,
        props: {
          streamTargetId: record.id,
          contentChannelId: record.contentChannelId || this.contentChannelId,
          isInModal: true
        },
        hasModalCard: true,
        destroyOnHide: true,
        trapFocus: true
      })
    },
    handleCtxMenuClicked(option, record) {
      if (option && this.$refs.table) {
        if (option.id === 'add') this.$refs.table.formOpen(null)
        else if (option.id === 'edit' && record)
          this.$refs.table.formOpen(record[this.$refs.table.idName])
        else if (option.id === 'delete' && record)
          this.$refs.table.deleteRecord(
            record[this.$refs.table.idName],
            record[this.$refs.table.rowName]
          )
        else if (option.id === 'play' && record) this.playOrPause(record)
        else if (option.id === 'autoplay' && record)
          this.configAutoTransm(record)
      }
    },
    cleanAllFilters() {
      this.reloadInner = true
      this.filters = ''
      setTimeout(() => {
        this.reloadInner = false
      }, 1000)
      this.filtersCount = 0
    }
  }
}
</script>
<i18n>
{
  "en": {
    "cardTitle": "Stream Target",
    "nameLabel": "Name",
    "sourceLabel": "Stream Source",
    "enabledLabel": "Enabled",
    "disabledLabel": "Disabled",
    "placeholderSelect": "Select a {key}...",
    "dates": "Dates",
    "userId": "User ID",
    "socialMediaLabel": "Account",
    "playOrPauseLabel": "Play or Pause",
    "activate": "Activate",
    "disable": "Disable",
    "autoTransmitionCog": "Automatic Transmition Config"
  },
  "es": {
    "cardTitle": "Destinos de Transmisión",
    "nameLabel": "Nombre",
    "sourceLabel": "Flujo de Entrada",
    "enabledLabel": "Activo",
    "disabledLabel": "Desactivado",
    "placeholderSelect": "Seleccione una {key}...",
    "dates": "Fechas",
    "userId": "Usuario ID",
    "socialMediaLabel": "Cuenta",
    "playOrPauseLabel": "Play o Pausa",
    "activate": "Activar",
    "disable": "Desactivar",
    "autoTransmitionCog": "Configurar transmisión automática"
  }
}
</i18n>
