<template>
  <section class="tabs-component">
    <card-component
      :icon="cardIcon"
      :title="cardTitle"
      :subtitle="cardSubtitle"
      :title-class="cardTitleClass"
      :is-in-modal="isInModal"
      :modal-width="cardWidth"
      :class="cardCustomClass"
      class="no-footer"
    >
      <b-tabs position="is-centered" class="block">
        <b-tab-item v-for="item in tabs" :key="item.id" :label="item.label">
          <div v-if="action === 'share' && item.id === 0">
            <content-channel
              :is-readonly="true"
              :checkable="true"
              :is-in-modal="true"
              :checked-rows="cchannelsChecked"
              class="none-header-border"
              @channels-to-share="emitCChannel"
              @updated-checked="updateChecked"
            />
          </div>
          <div v-if="action === 'association' && item.id === 0">
            <DynamicForm
              :is-in-modal="false"
              :locale="$i18n.locale"
              :form="PublicationForm"
              :vbtn="vbtnAssoc"
              :submit-url="`/contentchannel/${contentChannelId}/Publication`"
              class="border-less"
              @form-saved="(data) => $emit('form-saved', data)"
              @form-close="$emit('close')"
            ></DynamicForm>
          </div>
        </b-tab-item>
      </b-tabs>
    </card-component>
  </section>
</template>

<script>
import { DynamicForm } from 'premium-tesh-ui-lib'

import publicationMixin from '~/mixins/publicationMixin'
import streamedContentsMixin from '~/mixins/streamedContentsMixin'
import ContentChannel from '~/pages/contentChannel/index.vue'

export default {
  name: 'TabsComponent',
  components: {
    DynamicForm,
    ContentChannel
  },
  mixins: [publicationMixin, streamedContentsMixin],
  props: {
    isInModal: { type: Boolean, default: true },
    cardIcon: { type: String, default: '' },
    cardTitle: { type: String, default: '' },
    cardSubtitle: { type: String, default: '' },
    cardTitleClass: { type: String, default: 'is-size-4' },
    cardSubtitleClass: { type: String, default: 'is-size-5' },
    editionMode: { type: Boolean, default: false },
    cardWidth: { type: Number, default: 400 },
    cardCustomClass: { type: String, default: '' },
    tabs: {
      type: Array,
      default: null
    },
    action: { type: String, default: '' },
    contentChannelId: { type: String, default: '' },
    media: { type: Object, default: null },
    searchFromChannel: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      cchannelsChecked: [],
      vbtnShare: {
        close: {
          icon: 'close',
          label: this.$t('closeButton'),
          props: {
            outlined: true
          },
          show: true
        },
        save: {
          icon: 'share',
          label: this.$t('share'),
          props: {
            type: 'is-info is-light',
            outlined: true
          },
          show: true
        }
      },
      vbtnAssoc: {
        close: {
          icon: 'close',
          label: this.$t('closeButton'),
          props: {
            outlined: true
          },
          show: true
        },
        save: {
          icon: 'vector-combine',
          label: this.$t('associationLabel'),
          props: {
            type: 'is-info is-light',
            outlined: true
          },
          show: true
        }
      }
    }
  },
  created() {
    this.PublicationForm.media.value = this.media.id
    this.PublicationForm.presentationImagePath.value = this.media.thumbnail
    this.PublicationForm.presentationImagePath[
      'field-input'
    ].searchFromChannel = this.searchFromChannel
    this.PublicationForm.presentationImagePath['field-input'].contentChannelId =
      this.contentChannelId
    this.PublicationForm.presentationImagePath['field-input'].filtersDefs =
      this.PublicationForm.media['field-input'].filtersDefs
    this.PublicationForm.presentationImagePath[
      'field-input'
    ].filterResultsDefs =
      this.PublicationForm.media['field-input'].filterResultsDefs
    this.PublicationForm.mediaType.value = this.media.mediaType
    this.PublicationForm.mediaId.value = this.media.mediaEntityId
    this.cchannelsChecked =
      typeof this.media === 'object' && this.media?.contenChannelShared !== null
        ? this.media?.contenChannelShared.map((ch) => {
            return ch.contentChannelId
          })
        : []
  },
  methods: {
    updateChecked(list) {
      this.cchannelsChecked = list
    },
    emitCChannel(val) {
      this.$emit('share-cChannel', val)
      this.$emit('close')
    },
    emitUsers(val) {
      this.$emit('share-to-users', val)
      this.$emit('close')
    },
    streamTargetAssociatErr(err) {
      this.$buefy.toast.open({
        message: this.$t('genericError', {
          error: err.data ? err.data.message : err.message
        }),
        type: 'is-danger'
      })
    }
  }
}
</script>
