<template>
  <div style="height: 100%" class="publicationData">
    <section class="section is-main-section publication-view backimg">
      <div class="columns is-multiline is-flex">
        <div class="column" :class="{ 'is-8': related === 0 }">
          <VideoPlayer
            class="video-player"
            :poster="
              parseServerURL(publication.presentationImagePath) ||
              require('@/static/teveoLogo_white.webp')
            "
            :media="parseServerURL(publication.mediaPatch)"
            :locale="$i18n.locale"
            :mime-type="
              publication.mediaType === 0
                ? 'audio/ogg'
                : 'application/x-mpegURL'
            "
            :liveui="isLive"
            @playing="updateHeartBeat(publication.id)"
            @pause="updateHeartBeat(publication.id, true)"
          />
          <div class="columns m-0">
            <div class="column p-0 mb-1 is-10">
              <span
                :style="
                  isMobileOrTablet
                    ? 'display: inline-flex; align-items: center'
                    : 'display: -webkit-inline-box; align-items: center; padding-top: 1rem'
                "
              >
                <span class="title has-text-light is-3 p-1 m-0 mr-1">
                  {{ publication.title }}
                </span>
                <span v-if="isLive" class="is-flex p-1 live-indicator">
                  <b-icon icon="broadcast" type="is-danger" class="mr-1" />
                  {{ $t('live').toUpperCase() }}
                </span>
              </span>
              <p
                class="subtitle is-text-large has-text-light is-5 m-0 p-1"
                style="margin-left: 1rem; margin-top: 0.5rem"
                :class="{
                  'overflow-ellipsis-2': !isTextExpanded
                }"
              >
                {{ publication.description }}
              </p>
              <p
                v-show="descriptionIsOverflowing"
                class="show-more-toogle has-text-light is-5 p-1 is-clickable"
                @click="isTextExpanded = !isTextExpanded"
              >
                {{ $t(isTextExpanded ? 'showLess' : 'showMore').toUpperCase() }}
              </p>
            </div>
          </div>
          <hr class="custom-white-bkg my-3" />
          <div class="columns is-mobile mb-0">
            <div
              class="column is-7"
              style="align-self: center; display: grid; padding-left: 0.2rem"
            >
              <span v-show="publication.areViewingCount">
                <b-icon
                  type="is-white"
                  icon="play"
                  size="is-default"
                  class="ml-3 mr-1"
                >
                </b-icon>
                <b-tooltip
                  :label="publicatedAt"
                  type="is-dark"
                  class="is-text-white"
                  style="font-size: initial"
                >
                  {{ areViewing }}
                </b-tooltip>
              </span>

              <b-tooltip
                :label="publicatedAt"
                type="is-dark"
                class="is-text-white"
                style="font-size: initial"
              >
                <b-icon
                  type="is-white"
                  :icon="
                    publication.reproductionsCount
                      ? 'eye-outline'
                      : 'eye-off-outline'
                  "
                  size="is-default"
                  class="ml-3 mr-1 publicationEye"
                />
                {{ reproductions }}
              </b-tooltip>
            </div>
            <!-- Actions about Publication -->
            <div
              class="column is-5"
              :style="isMobileOrTablet && 'display: contents'"
            >
              <div class="buttons is-pulled-right px-2">
                <b-tooltip
                  v-if="
                    cchannel.allowVisualizeLikes &&
                    userSystemPermissions.includes('UserLike')
                  "
                  :label="$t(!loggedIn ? 'askLoggin' : 'likeLabel')"
                  position="is-top"
                >
                  <b-button
                    type="is-ghost"
                    size="is-medium"
                    :icon-left="activeLike ? 'thumb-up' : 'thumb-up-outline'"
                    :style="
                      !loggedIn
                        ? 'cursor: default; box-shadow: none'
                        : 'box-shadow: none'
                    "
                    :class="{
                      'animate__animated animate__jello':
                        activeLike || enableLikeAnim
                    }"
                    @click="sendLike(true)"
                  >
                    {{ likes || 0 }}
                  </b-button>
                </b-tooltip>
                <b-tooltip
                  v-if="
                    cchannel.allowVisualizeLikes &&
                    userSystemPermissions.includes('UserLike')
                  "
                  :label="$t(!loggedIn ? 'askLoggin' : 'dislikeLabel')"
                  position="is-top"
                >
                  <b-button
                    type="is-ghost"
                    size="is-medium"
                    :icon-left="
                      activeDisLike ? 'thumb-down' : 'thumb-down-outline'
                    "
                    :style="!loggedIn ? 'cursor: default' : ''"
                    :class="{
                      'animate__animated animate__jello':
                        activeDisLike || enableDisLikeAnim
                    }"
                    @click="sendLike(false)"
                  >
                    {{ dislikes || 0 }}
                  </b-button>
                </b-tooltip>
                <b-button
                  type="is-ghost"
                  size="is-medium"
                  icon-left="share"
                  @click="isShareActive = true"
                >
                  {{ $t('share') }}
                </b-button>
                <!-- Share Modal -->
                <b-modal
                  :active="isShareActive"
                  has-modal-card
                  trap-focus
                  aria-role="dialog"
                  aria-modal
                  @close="isShareActive = false"
                >
                  <card-component
                    :title="publication.title"
                    :subtitle="$t('share')"
                    title-class="is-size-4"
                    :is-in-modal="true"
                    @modalClose="isShareActive = false"
                  >
                    <div class="columns is-multiline is-paddingless">
                      <share-component
                        :url="'https://teveo.premiumtesh.nat.cu' + $route.path"
                        :title="publication.title"
                        :description="publication.description"
                      />
                    </div>
                    <template #footer>
                      <b-field class="column p-0" grouped position="is-right">
                        <div class="control">
                          <b-button
                            type="is-light is-primary"
                            @click="isShareActive = false"
                          >
                            <b-icon icon="close" size="is-small" />
                            <span>{{ $t('closeButton') }}</span>
                          </b-button>
                        </div>
                      </b-field>
                    </template>
                  </card-component>
                </b-modal>
              </div>
            </div>
          </div>
          <hr class="custom-white-bkg mt-1 mb-0" />
          <section class="channel-view">
            <c-channel-portait
              :show-suscribe-button="
                loggedIn && userSystemPermissions.includes('SubscribedUser')
              "
              :content-channel="cchannel"
              class="column is-paddingless"
            />
          </section>
          <section
            v-if="
              cchannel.allowVisualizeComments &&
              userSystemPermissions.includes('PublicationUserComment')
            "
            v-show="(!comments && $auth.loggedIn) || comments"
            class="comments mb-6"
          >
            <card-grid-comments
              text-prop="comment"
              date-time-prop="modifiedDate"
              user-name-prop="createdBy"
              :url="commentsURL"
              :on-comment="onUserComment"
              :on-load-replys="onLoadCommentReplys"
              :style="comments > 0 ? 'height: 44vh' : 'height: 10vh'"
              @aviable-comments="(v) => (comments = v)"
            >
              <template #down-comment-area>
                {{ $t('accepting-terms-conditions') }}
                <n-link to="/terms">{{ $t('terms-conditions') }}</n-link>
              </template>
            </card-grid-comments>
            <hr v-show="$mq === 'mobile'" class="custom-white-bkg my-3" />
          </section>
        </div>
        <!-- Other Publications -->
        <div
          class="column is-4-fullhd is-4-desktop is-12-mobile is-12-tablet section-right-scrollable"
          style="max-height: 90vh"
        >
          <infinite-loading-container
            :component="Item"
            :wrapper="{
              class: {
                'columns is-multiline m-3': true
              }
            }"
            :to-load-size="10"
            :data-url="publicationsRecomendedUrl"
            class="has-custom-scroll overflow-x-hidden"
            @items-available="(n) => (recomended = n)"
          />
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import dayjs from 'dayjs'
import { VideoPlayer } from 'premium-tesh-ui-lib'

import CardGridComments from '~/components/Cards/CardGridComments.vue'
import CardPublication from '~/components/Cards/CardPublication.vue'
import CChannelPortait from '~/components/ContentChannelTabs/CChannelPortait.vue'
import InfiniteLoadingContainer from '~/components/InfiniteLoadingContainer.vue'
import ShareComponent from '~/components/ShareComponent.vue'
import utilitiesMixin from '~/mixins/utilitiesMixin'

require('dayjs/locale/es')
const relativeTime = require('dayjs/plugin/relativeTime')
dayjs.extend(relativeTime)

export default {
  auth: false,
  name: 'PublicationView',
  components: {
    VideoPlayer,
    CChannelPortait,
    InfiniteLoadingContainer,
    ShareComponent,
    CardGridComments
  },
  mixins: [utilitiesMixin],
  // eslint-disable-next-line require-await
  async asyncData({ params, $axios, app }) {
    let cchannel = null
    let publication = {}

    await $axios
      .get(`/Publication/` + params.id)
      .then(async (response) => {
        publication = response.data
        cchannel = await $axios.get(
          `/ContentChannel/` + response.data.contentChannelId
        )
      })
      .catch(() => {
        app.router.go(-1)
      })
    return {
      publication,
      contentChannelId: params.contentChannelId,
      cchannel: cchannel.data
    }
  },
  data() {
    return {
      height: 0,
      currentCategories: [],
      isShareActive: false,
      activeDisLike: false,
      activeLike: false,
      enableLikeAnim: false,
      enableDisLikeAnim: false,
      related: 1,
      recomended: 1,
      likes: 0,
      dislikes: 0,
      comments: 1,
      textEl: null,
      isTextExpanded: false
    }
  },
  head() {
    return {
      title: this.publication
        ? `${this.publication.title}${
            this.isLive ? ` - ${this.$t('live')}` : ''
          }`
        : 'TeVeo'
    }
  },
  computed: {
    descriptionIsOverflowing() {
      return (
        this.textEl &&
        (this.textEl.clientWidth < this.textEl.scrollWidth ||
          this.textEl.clientHeight < this.textEl.scrollHeight)
      )
    },
    publicationsRelatedUrl() {
      return `/Publication/?filters=categoryId==${this.getPublicationCategories().join(
        '|'
      )},id!=${this.publication.id}`
    },
    publicationsRecomendedUrl() {
      return `/Publication?Sorts=-reproductionsCount,-visitsCount`
    },
    commentsURL() {
      return `/publicationUserComment?Filters=publicationId==${this.publication.id},publicationUserCommentParentId==null&Sorts=-createdDate`
    },
    Item() {
      return {
        type: CardPublication,
        props: {
          hasItemActions: false,
          showTitlesOnSide: this.$mq !== 'mobile',
          itemPropNames: {
            image: 'presentationImagePath',
            subtitle: 'description'
          },
          class: this.customClass
        }
      }
    },
    customClass() {
      return {
        'column is-6 is-text-white': this.$mq === 'mobile',
        'column is-12 is-text-white': this.$mq === 'tablet',
        'column is-12 mb-0 is-text-white': this.isDesktop || this.isFullHD
      }
    },
    isLive() {
      return this.publication.streamType === 0
    },
    areViewing() {
      return this.publication.areViewingCount >= 1000000
        ? this.$t('viewingM', {
            n: Math.round(this.publication.areViewingCount / 1000000)
          })
        : this.publication.areViewingCount >= 1000
        ? this.$t('viewingK', {
            n: Math.round(this.publication.areViewingCount / 1000)
          })
        : this.$tc('viewing', this.publication.areViewingCount)
    },
    reproductions() {
      return this.publication.reproductionsCount >= 1000000
        ? this.$t('viewedM', {
            n: Math.round(this.publication.reproductionsCount / 1000000)
          }) +
            ' - ' +
            this.createdFromNow
        : this.publication.reproductionsCount >= 1000
        ? this.$t('viewedK', {
            n: Math.round(this.publication.reproductionsCount / 1000)
          }) +
          ' - ' +
          this.createdFromNow
        : this.$tc('viewed', this.publication.reproductionsCount) +
          ' - ' +
          this.createdFromNow
    },
    createdFromNow() {
      return this.isLive
        ? `${this.$t('broadcastingFrom', {
            time: dayjs(this.publication.createdDate).fromNow()
          })}`
        : dayjs(this.publication.createdDate).fromNow()
    },
    publicatedAt() {
      return this.$t('publicated', {
        date: dayjs(this.publication.createdDate).format('D MMMM YYYY H:m:s a')
      })
    }
  },
  created() {
    dayjs.locale(this.$i18n.locale)
  },
  mounted() {
    this.getUserLikeDislike()
    // Check channel configs
    if (this.cchannel.allowVisualizeLikes) {
      // Init Counters
      this.likes = this.publication.likes
      this.dislikes = this.publication.dislikes
      // Connect Publication notifications
      // Update likes and dislikes
      this.$nuxt.$on('publication-likes-dislikes', (payload) => {
        if (payload.publicationId === this.publication.id) {
          setTimeout(() => {
            // Update if not match values
            if (this.likes !== payload.likes) {
              this.likes = payload.likes
              this.fireLikeAnimation(true)
            }
            if (this.dislikes !== payload.dislikes) {
              this.dislikes = payload.dislikes
              this.fireLikeAnimation(false)
            }
          }, 1000)
        }
      })
    }
    // Update publication Views
    this.$nuxt.$on('publication-reproductions', (payload) => {
      if (payload.publicationId === this.publication.id) {
        this.publication.reproductionsCount = payload.views
      }
    })
    // Update publication Viewing
    this.$nuxt.$on('publication-are-viewing', (payload) => {
      if (payload.publicationId === this.publication.id) {
        this.publication.areViewingCount = payload.areViewing
      }
    })

    this.textEl = document.querySelector('p.subtitle.is-text-large')
  },
  beforeDestroy() {
    if (this.heartbeatTimer) clearInterval(this.heartbeatTimer)
  },
  methods: {
    sendLike(val) {
      if (this.loggedIn) {
        this.$axios
          .post('UserLike', {
            like: val,
            publicationId: this.publication.id
          })
          .then((response) => {
            if (response.data.id) {
              if (response.data.like) {
                this.likes++
                if (this.activeDisLike) this.dislikes--
              } else {
                this.dislikes++
                if (this.activeLike) this.likes--
              }
            } else if (val) this.likes--
            else this.dislikes--

            this.activeDisLike =
              !response.data.like && !this.activeDisLike && response.data.id
            this.activeLike = response.data.like && !this.activeLike
          })
          .catch((err) => {
            // eslint-disable-next-line no-console
            console.error(err.message)
            this.toastError(err)
          })
      } else {
        this.$buefy.toast.open({
          duration: 5000,
          message: this.$t('askLoggin'),
          type: 'is-info'
        })
      }
    },
    getUserLikeDislike() {
      if (this.loggedIn) {
        this.$axios
          .get('UserLike/' + this.publication.id)
          .then((response) => {
            this.activeLike = response.data.like
            this.activeDisLike = response.data.dislike || !response.data.like
          })
          .catch((err) => {
            if (err.message.includes('status code 404'))
              // eslint-disable-next-line no-console
              console.log('User has no valoration about this publication.')
          })
      }
    },
    getPublicationCategories() {
      const list = []
      if (this.publication && this.publication.categories) {
        this.publication.categories.forEach((element) => {
          if (element.contentChannelCategoryId)
            list.push(element.contentChannelCategoryId)
        })
      }
      return list
    },
    fireLikeAnimation(like) {
      this.enableDisLikeAnim = !like
      this.enableLikeAnim = like
      setTimeout(() => {
        this.enableDisLikeAnim = false
        this.enableLikeAnim = false
      }, 1000)
    },
    onLoadCommentReplys(item, parentId, page, toLoad) {
      const url = `${
        this.commentsURL.split('?')[0]
      }?Filters=publicationUserCommentParentId==${parentId}&Sorts=-modifiedDate&Page=${page}&PageSize=${toLoad}`
      return this.$axios.get(url)
    },
    onUserComment(item, parentId, newComment) {
      return this.$axios.post(this.commentsURL.split('?')[0], {
        comment: newComment,
        publicationId: this.publication.id,
        publicationUserCommentParentId: parentId
      })
    }
  }
}
</script>
<style lang="scss" scoped>
.live-indicator {
  white-space: nowrap;
  color: #f14668;
  box-shadow: 0px 0px 2px 1px #f14668;
  margin-top: 0.4rem;
}
</style>
<i18n>
{
  "en": {
    "visits": "Visits",
    "share": "Share",
    "comments": "Comments",
    "cancel": "Cancel",
    "comment": "Comment",
    "recentPosts": "Most Recent Posts",
    "data": "Data",
    "paramLabel": "Param",
    "addElement": "Add template",
    "editElement": "Edit template",
    "deleteElement": "Delete template",
    "colorLabel": "Element Color",
    "codeLabel": "Element Code",
    "viewsCount": "Views",
    "likeLabel": "Like",
    "dislikeLabel": "Dislike",
    "viewing": "0 viewing | 1 is viewing | {n} are viewing",
    "viewingK": "{n} K are viewing",
    "viewingM": "{n} M are viewing",
    "viewed": "0 views | 1 view | {n} views",
    "viewedK": "{n} K views",
    "viewedM": "{n} M of views",
    "lastView": "a {t} ago | {n} {t} ago",
    "broadcastingFrom": "Broadcasting from {time}",
    "publicated": "Publicated {date}",
    "askLoggin": "Please LogIn to commit this action",
    "accepting-terms-conditions": "With this action you should attach to ",
    "terms-conditions": "Terms and conditions",
    "showMore": "Show More",
    "showLess": "Show Less"
  },
  "es": {
    "visits": "Visitas",
    "share": "Compartir",
    "comments": "Comentarios",
    "cancel": "Cancelar",
    "comment": "Comentar",
    "recentPosts": "Publicaciones Recientes",
    "data": "Datos",
    "paramLabel": "Parámetro",
    "addElement": "Insertar plantilla",
    "editElement": "Editar plantilla",
    "deleteElement": "Eliminar plantilla",
    "colorLabel": "Color del Elemento",
    "codeLabel": "Código del Elemento",
    "viewsCount": "Visto por",
    "likeLabel": "Me gusta",
    "dislikeLabel": "No me gusta",
    "viewing": "0 viendo | 1 lo está viendo | {n} lo están viendo",
    "viewingK": "{n} K lo están viendo",
    "viewingM": "{n} M lo están viendo",
    "viewed": "0 vistas | 1 vista | {n} vistas",
    "viewedK": "{n} K vistas",
    "viewedM": "{n} M de vistas",
    "lastView": "hace 1 {t} | hace {n} {t}",
    "broadcastingFrom": "Transmitiendo {time}",
    "publicated": "Publicado {date}",
    "askLoggin": "Por favor, autentíquese para realizar esta acción",
    "accepting-terms-conditions": "Al realizar esta acción debe respetar los ",
    "terms-conditions": "Términos y condiciones de uso",
    "showMore": "Mostrar Más",
    "showLess": "Mostrar Menos"
  }
}
</i18n>
