<template>
  <div>
    <section class="section is-main-section">
      <server-table-component
        ref="table"
        :data-url="getBasePath"
        :locale="$i18n.locale"
        v-bind="tableDefs"
        :custom-headers="true"
        @cleanFilters="cleanAllFilters"
        @open-column-filter="showFilterForm"
        @container-contextmenu="
          (ev) => {
            if (ev) ev.preventDefault()
            rowInCtx = null
            ctxOpen = !ctxOpen
          }
        "
        @contextmenu="
          (ev, row) => {
            if (ev) ev.preventDefault()
            rowInCtx = row
            ctxOpen = !ctxOpen
          }
        "
      >
        <template v-if="isInModal" #header-extra-content>
          <b-button
            rounded
            outlined
            class="mx-5 my-5"
            type="is-light is-primary table-buttons"
            @click="modalClose"
          >
            <b-icon icon="close" size="is-small" />
          </b-button>
        </template>
        <template v-if="isInModal" #extra-content>
          <hr class="is-fullwidth my-3" />
          <b-field grouped position="is-right" style="padding: 0">
            <div class="control">
              <b-button type="is-light is-primary" outlined @click="modalClose">
                <b-icon icon="close" size="is-small" />
                <span>{{ $t('closeButton') }}</span>
              </b-button>
            </div>
          </b-field>
        </template>
        <template #right-extra-header-content>
          <b-tooltip
            type="is-primary"
            :label="$t('filter')"
            size="is-small"
            class="filter-button"
          >
            <b-button
              class="table-buttons"
              :rounded="tableDefs.vbuttons.roundedButtons"
              :outlined="tableDefs.vbuttons.outlinedButtons"
              icon-left="filter"
              type="is-primary is-light"
              @click="showFilterForm"
            >
              <span v-show="filtersCount > 0" class="filter-badge">{{
                filtersCount
              }}</span>
            </b-button>
          </b-tooltip>
        </template>
        <template #extra-row-buttons="record">
          <b-tooltip
            v-if="!isReadonly"
            type="is-danger"
            :label="$t('deleteButton')"
            size="is-small"
          >
            <b-button
              class="table-buttons"
              :rounded="true"
              :outlined="false"
              icon-left="delete"
              type="is-danger"
              @click="deletePublication(record.record)"
            />
          </b-tooltip>
          <b-tooltip
            v-if="!isReadonly"
            type="is-white"
            :label="$t('goTo')"
            size="is-small"
          >
            <b-button
              class="table-buttons"
              :rounded="true"
              :outlined="false"
              icon-left="arrow-right-top"
              type="is-white"
              @click="goToPublication(record.record.id)"
            />
          </b-tooltip>
        </template>
      </server-table-component>
      <custom-dialog ref="cdialog" />
      <ctx />
    </section>
  </div>
</template>

<script>
import {
  axiosToastErrorsMixin,
  ButtonColumnComponent,
  DateColumnComponent,
  MediaVisualizerColumnComponent,
  LargeTextColumnComponent,
  ObfuscateDetailComponent
} from 'premium-tesh-ui-lib'

import mediaMixin from '~/mixins/mediaMixin'
import publicationMixin from '~/mixins/publicationMixin'
import tableContextMenuMixin from '~/mixins/tableContextMenuMixin'
import genericFiltersMixin from '~/mixins/genericFiltersMixin'

export default {
  name: 'Publication',
  mixins: [
    genericFiltersMixin,
    mediaMixin,
    publicationMixin,
    axiosToastErrorsMixin,
    tableContextMenuMixin
  ],
  middleware: 'guest',
  props: {
    isReadonly: {
      type: Boolean,
      default: false
    },
    category: {
      type: Number,
      default: null
    },
    isInModal: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      tableDefs: {
        vtable: {
          draggable: false,
          headers: [
            {
              text: 'Id',
              value: 'id',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'id'
              }
            },
            {
              text: this.$t('thumbnail'),
              value: 'presentationImagePath',
              align: 'left',
              sortable: false,
              render: {
                type: MediaVisualizerColumnComponent,
                props: {
                  showDisplayButton: true,
                  fallbackMimeType: 'application/x-mpegur',
                  locale: this.$i18n.locale,
                  basePath: `${this.$store.state.APP_BASE_URL}${this.$store.state.API_DATA_PREFIX}`,
                  blankPageUrl: '/media-preview'
                },
                rendervalue: (v) => {
                  return v
                    ? {
                        title: '',
                        media: v,
                        preview: v || undefined
                      }
                    : ''
                }
              },
              filter: {
                useFilter: false
              }
            },
            {
              text: this.$t('tittleLabel'),
              value: 'title',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'title'
              }
            },
            {
              text: this.$t('descriptionLabel'),
              value: 'description',
              align: 'left',
              sortable: true,
              render: {
                type: LargeTextColumnComponent,
                props: {
                  showDisplayButton: true,
                  content: this.$t('descriptionLabel'),
                  locale: this.$i18n.locale,
                  textLenght: 30,
                  tooltipPosition: 'is-top'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'description'
              }
            },
            {
              text: this.$t('visualizeMedia'),
              value: '',
              align: 'left',
              sortable: false,
              custom: true,
              render: {
                type: MediaVisualizerColumnComponent,
                props: {
                  showDisplayButton: true,
                  fallbackMimeType: 'audio/ogg',
                  locale: this.$i18n.locale || 'es',
                  basePath: `${this.$store.state.APP_BASE_URL}${this.$store.state.API_DATA_PREFIX}`,
                  blankPageUrl: '/media-preview'
                },
                rendervalue: (v) => {
                  return v
                    ? {
                        title: v.mediaTitle,
                        media: v.mediaPatch,
                        preview:
                          v.thumbnail ||
                          this.getStaticMediaThumbnail(v.mediaType) ||
                          undefined
                      }
                    : ''
                }
              },
              filter: {
                useFilter: false
              }
            },
            {
              text: this.$tc('category', 2),
              value: 'categories',
              align: 'left',
              sortable: true,
              render: {
                type: LargeTextColumnComponent,
                props: {
                  showDisplayButton: true,
                  showCopyButton: false,
                  content: this.$tc('category', 2),
                  locale: this.$i18n.locale,
                  textLenght: 30,
                  tooltipPosition: 'is-top'
                },
                rendervalue: (val) => {
                  const tmp = document.createElement('DIV')
                  val.forEach((cat) => {
                    tmp.innerHTML =
                      tmp.innerHTML === ''
                        ? tmp.innerHTML + cat.contentChannelCategoryName
                        : tmp.innerHTML + ', ' + cat.contentChannelCategoryName
                  })

                  return tmp.textContent || tmp.innerText || ''
                }
              },
              filter: {
                useFilter: false
              }
            },
            {
              text: this.$tc('contentChannelLabel', 1),
              value: 'contentChannelName',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'contentChannelId'
              }
            },
            {
              text: this.$t('likesLabel'),
              value: 'likes',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'likes'
              }
            },
            {
              text: this.$t('dislikesLabel'),
              value: 'dislikes',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'dislikes'
              }
            },
            {
              text: this.$t('visitsLabel'),
              value: 'visitsCount',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'visitsCount'
              }
            },
            {
              text: this.$t('reproductions'),
              value: 'reproductionsCount',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'reproductionsCount'
              }
            },
            {
              text: this.$t('areViewingLabel'),
              value: 'areViewingCount',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'areViewingCount'
              }
            },
            {
              text: this.$t('mediaDetails'),
              value: '',
              align: 'left',
              sortable: false,
              custom: true,
              cellClass: 'pr-5',
              render: {
                type: ButtonColumnComponent,
                props: {
                  icon: 'monitor',
                  tooltip: { label: this.$t('mediaDetails'), type: 'is-white' },
                  content: 'mediaTitle'
                },
                events: {
                  confirm: (v) => this.showOfuscatedCols(v)
                }
              },
              filter: {
                useFilter: false
              }
            },
            {
              text: this.$t('createdBy'),
              value: 'createdBy',
              align: 'left',
              sortable: true,
              custom: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'createdBy'
              }
            },
            {
              text: this.$t('createDateTime'),
              value: 'createdDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'createdDate'
              }
            },
            {
              text: this.$t('modifiedBy'),
              value: 'modifiedBy',
              align: 'left',
              sortable: true,
              custom: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'modifiedBy'
              }
            },
            {
              text: this.$t('modifyDateTime'),
              value: 'modifiedDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'modifiedDate'
              }
            },
            {
              text: this.$t('actions'),
              value: '',
              fixed: true,
              sortable: false,
              cellClass: 'actions-column',
              action: true,
              filter: {
                useFilter: false
              }
            }
          ]
        },
        vbtn: {
          create: {
            show: false
          }
        },
        vicon: {
          roundedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          edit: {
            show: false,
            name: 'pencil',
            type: 'is-primary',
            tooltip: {
              label: this.$t('editAccount'),
              type: 'is-primary',
              position: 'is-top'
            }
          },
          delete: {
            show: false,
            name: 'delete',
            type: 'is-danger',
            tooltip: {
              label: this.$t('deleteAccount'),
              type: 'is-primary',
              position: 'is-top'
            }
          }
        },
        vbuttons: {
          roundedButtons: true,
          outlinedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          buttons: []
        },
        rowName: 'title',
        title: this.$t('cardTitle'),
        modalTitle: this.$t('cardTitle'),
        editModalTitle: this.$t('cardTitle'),
        headerIcon: 'postage-stamp',
        form: {}
      },
      reload: false
    }
  },
  head() {
    return {
      title: this.$config.appName
    }
  },
  computed: {
    titleStack() {
      return ['Admin', 'Tables']
    },
    getBasePath() {
      return this.reload
        ? ''
        : this.filters !== ''
        ? this.category
          ? `/Publication?filters=${this.filters},categoryId==${this.category}`
          : `/Publication?filters=${this.filters}`
        : this.category
        ? `/Publication?filters=categoryId==${this.category}`
        : `/Publication`
    },
    ctxOptions() {
      const opt = [
        { id: 'delete', icon: 'trash-can', name: this.$t('deleteButton') },
        { id: 'goTo', icon: 'arrow-right-top', name: this.$t('goTo') }
      ]
      return this.rowInCtx ? opt : []
    }
  },
  created() {
    if (this.isReadonly) this.tableDefs.vtable.headers.splice(-1, 1)
  },
  methods: {
    deletePublication(publication) {
      this.$refs.cdialog.confirm({
        title: this.$t('cardTitle'),
        subtitle: this.$t('delete', { element: '' }),
        message: this.$t('confirmDelete', { key: publication.title }),
        type: 'is-danger',
        cancelText: this.$t('cancelButton'),
        confirmText: this.$t('deleteButton'),
        onConfirm: () => {
          this.$axios
            .delete(
              `contentchannel/${publication.contentChannelId}/Publication/${publication.id}`
            )
            .then((response) => {
              this.$buefy.toast.open({
                message: this.$t('deleteSuccess'),
                type: 'is-success'
              })
              this.reload = true
              setTimeout(() => {
                this.reload = false
              }, 100)
            })
            .catch((err) => {
              this.toastError(err)
            })
          this.saveChanges = true
        }
      })
    },
    handleCtxMenuClicked(option, record) {
      if (option && this.$refs.table) {
        if (option.id === 'delete' && record) this.deletePublication(record)
        else if (option.id === 'goTo' && record) this.goToPublication(record.id)
      }
    },
    modalClose() {
      let parent = this.$parent
      let isClosed = false
      while (!isClosed) {
        try {
          parent.close()
          isClosed = true
        } catch (error) {
          parent = parent.$parent
        }
      }
      this.$emit('modalClose')
    },
    showOfuscatedCols(row) {
      let headers = this.HeadersMedia.slice(0, -6)
      if (row.mediaType !== 3)
        headers = headers.concat(this.AudioAndVideoHeaders.slice(-1))

      this.$buefy.modal.open({
        parent: this,
        component: ObfuscateDetailComponent,
        props: {
          locale: this.$i18n.locale,
          title: row.title,
          originalDataDefs: {
            title: this.$t('mediaDetails'),
            headerIcon: 'text-box-outline',
            headers,
            records: [row]
          }
        },
        hasModalCard: true,
        destroyOnHide: true,
        trapFocus: true
      })
    },
    cleanAllFilters() {
      this.reload = true
      this.filters = ''
      setTimeout(() => {
        this.reload = false
      }, 1000)
      this.filtersCount = 0
    }
  }
}
</script>
<i18n>
{
  "en": {
    "cardTitle": "Publications",
    "tittleLabel": "Tittle",
    "descriptionLabel": "Description",
    "likesLabel": "Likes",
    "dislikesLabel": "Dislikes",
    "visitsLabel": "Visits",
    "areViewingLabel": "Are Viewing",
    "presentationImageLabel": "Imagen",
    "mediaLabel": "Media",
    "propertiesLabel": "Properties",
    "reproductions": "Reproductions",
    "thumbnail": "Thumbnail"
  },
  "es": {
    "cardTitle": "Publicaciones",
    "tittleLabel": "Título",
    "descriptionLabel": "Descripción",
    "likesLabel": "Le gusta",
    "dislikesLabel": "No le Gusta",
    "visitsLabel": "Visitas",
    "areViewingLabel": "Están Viendo",
    "presentationImageLabel": "Póster",
    "mediaLabel": "Media",
    "propertiesLabel": "Propiedades",
    "reproductions": "Reproducciones",
    "thumbnail": "Portada"
  }
}
</i18n>
