<template>
  <div style="height: 100%">
    <section class="section is-main-section home">
      <text-searcher
        :value="searchText"
        grouped
        position="is-right"
        icon-right="filter"
        :icon-right-clickable="true"
        @icon-right-click="showFilters = !showFilters"
        @search="
          (t) => {
            if (t) {
              search = true
              searchCriteria = t
            } else {
              searchCriteria = ''
              search = false
              searchText = ''
            }
          }
        "
      />
      <publications-filter
        v-show="showFilters || search || filters || sorts"
        class="is-fullwidth"
        :show.sync="showFilters"
        :show-button="false"
        :show-tooltip-label="false"
        tooltip-position="is-left"
        @update:filters="(v) => (filters = v)"
        @update:sorts="(v) => (sorts = v)"
      >
        <template #publications-container="data">
          <div
            v-show="search || filters || sorts"
            class="is-fullwidth"
            style="height: 78vh"
          >
            <infinite-loading-container
              :component="Item"
              :wrapper="{
                class: {
                  'columns is-multiline m-3': true
                }
              }"
              :to-load-size="$mq === 'mobile' ? 10 : 20"
              :data-url="data.searchUrl + textSearch"
              class="has-custom-scroll"
              max-height="80vh"
            />
          </div>
        </template>
      </publications-filter>
      <div
        v-if="!search && !filters && !sorts"
        v-show="!search && !filters && !sorts"
        class="columns is-mobile is-multiline"
      >
        <h1 v-show="showTv" class="title is-3 has-text-light mt-4">
          {{ $t('liveTv') }}
        </h1>
        <reel-hooper
          v-show="showTv"
          :data-url="liveTvUrl"
          :has-custom-navigation="true"
          :custom-loading="true"
          :items-to-show="itemsToShow"
          :load-retries="3"
          buttons-size="is-large"
          class="column is-12 py-0 my-3"
          style="height: 50%"
          @items-available="(n) => (showTv = n !== 0)"
        >
          <template v-slot="slotProps">
            <card-publication
              :has-item-actions="false"
              :show-titles-on-side="false"
              :item="slotProps.item"
              :lazy-loading="slotProps.index > itemsToShow"
              class="is-text-white is-in-carousel p-1"
            ></card-publication>
          </template>
        </reel-hooper>
        <h1 v-show="showRadio" class="title is-3 has-text-light mt-4">
          {{ $t('liveRadio') }}
        </h1>
        <reel-hooper
          v-show="showRadio"
          :data-url="liveRadioUrl"
          :has-custom-navigation="true"
          :custom-loading="true"
          :items-to-show="itemsToShow"
          :load-retries="3"
          buttons-size="is-large"
          class="column is-12 py-0 my-3"
          style="height: 50%"
          @items-available="(n) => (showRadio = n !== 0)"
        >
          <template v-slot="slotProps">
            <card-publication
              :has-item-actions="false"
              :show-titles-on-side="false"
              :item="slotProps.item"
              :lazy-loading="slotProps.index > itemsToShow"
              class="is-text-white is-in-carousel p-1"
            ></card-publication>
          </template>
        </reel-hooper>
        <!-- recommended Publications Section -->
        <h1 v-show="showRecomendations" class="title is-3 has-text-light mt-4">
          {{ $t('recommended') }}
        </h1>
        <reel-hooper
          v-show="showRecomendations"
          :data-url="recomendationsUrl"
          :has-custom-navigation="true"
          :custom-loading="true"
          :items-to-show="itemsToShow"
          :load-retries="1"
          buttons-size="is-large"
          class="column is-12 py-0 my-3"
          style="height: 50%"
          @items-available="(n) => (showRecomendations = n !== 0)"
        >
          <template v-slot="slotProps">
            <card-publication
              :has-item-actions="false"
              :show-titles-on-side="false"
              :item="slotProps.item"
              :lazy-loading="slotProps.index > itemsToShow"
              class="is-text-white is-in-carousel p-1"
            ></card-publication>
          </template>
        </reel-hooper>
      </div>
      <div v-if="!havePublications">
        <div class="columns is-mobile is-centered">
          <div id="welcome-wrap" class="column is-half">
            <b-image
              id=""
              :src="require('@/static/icon.webp')"
              alt="Profile Avatar"
              :rounded="true"
              placeholder=".webp"
              class="column is-4 is-offset-4 is-aligned-center"
            ></b-image>
            <h1 id="welcome" class="title is-1 is-offset-4 is-aligned-center">
              {{ $t('welcome') }}
            </h1>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { unregisterApplication } from 'single-spa'
import * as singleSpa from 'single-spa'

import CardPublication from '~/components/Cards/CardPublication.vue'
import InfiniteLoadingContainer from '~/components/InfiniteLoadingContainer.vue'
import TextSearcher from '~/components/Inputs/TextSearcher.vue'
import PublicationsFilter from '~/components/Publications/PublicationsFilter.vue'
import ReelHooper from '~/components/Reel.vue'
import utilitiesMixin from '~/mixins/utilitiesMixin'

const appNames = singleSpa.getAppNames()

export default {
  auth: false,
  name: 'Home',
  components: {
    ReelHooper,
    CardPublication,
    PublicationsFilter,
    InfiniteLoadingContainer,
    TextSearcher
  },
  mixins: [utilitiesMixin],
  data() {
    return {
      pauseInfo: false,
      error: true,
      interval: 9000,
      indicatorPosition: 'is-top',
      itemsPublication: [],
      itemsRecomendations: [],
      itemsTV: [],
      itemsRadio: [],
      showTv: true,
      showRadio: true,
      showRecomendations: true,
      showFilters: false,
      searchCriteria: '',
      searchText: '',
      filters: '',
      sorts: '',
      search: false
    }
  },
  head() {
    return {
      title: this.$config.appName
    }
  },
  computed: {
    publicationUrl() {
      return `/Publication`
    },
    textSearch() {
      return `${
        this.searchCriteria && this.search
          ? `&SearchText=${this.searchCriteria}`
          : ''
      }`
    },
    liveTvUrl() {
      return `${this.publicationUrl}?Filters=mediaType==1,streamType==0`
    },
    liveRadioUrl() {
      return `${this.publicationUrl}?Filters=mediaType==0,streamType==0`
    },
    recomendationsUrl() {
      return `${this.publicationUrl}?Sorts=-reproductionsCount,-visitsCount`
    },
    isMobile() {
      return this.$mq === 'mobile'
    },
    isTablet() {
      return this.$mq === 'tablet'
    },
    itemsToShow() {
      return this.isMobile ? 2 : this.isTablet ? 3 : 5
    },
    havePublications() {
      return this.showTv || this.showRadio || this.showRecomendations
    },
    customClass() {
      return {
        'column is-12 is-text-white': this.isMobile,
        'column is-6 is-text-white': this.isTablet,
        'column is-4 is-text-white': this.isDesktop,
        'column is-3 is-text-white': this.isFullHD
      }
    },
    Item() {
      return {
        type: CardPublication,
        props: {
          hasItemActions: false,
          class: this.customClass,
          showTitlesOnSide: false,
          itemPropNames: {
            image: 'presentationImagePath',
            subtitle: 'description'
          }
        }
      }
    }
  },
  watch: {
    search(newVal) {
      this.showFilters = newVal
    }
  },
  created() {
    this.customizeHomeStyles()
    this.searchCriteria = this.$store.state.searchCriteria
    if (appNames.includes('subapp')) {
      unregisterApplication('subapp').then(() => {
        console.log('subapp is unmounted')
      })
    }
  },
  beforeDestroy() {
    document.documentElement.classList.remove('has-white-footer')
  },
  methods: {
    customizeHomeStyles() {
      document.documentElement.classList.add('has-custom-scroll-right')
      document.documentElement.classList.add('has-white-footer')
    }
  }
}
</script>
<i18n>
{
  "en": {
    "publicationsRecommended": "The Most Recommended",
    "publicationsRecent": "The Most Recent",
    "tvLabel": "TV-Live",
    "radioLabel": "Radio-Live",
    "recommended": "Recommended",
    "openFilters": "Open search filters"
  },
  "es": {
    "publicationsRecommended": "Lo más Recomendado",
     "publicationsRecent": "Lo más Reciente",
    "tvLabel": "TV-En Vivo",
    "radioLabel": "Radio-En Vivo",
    "recommended": "Recomendadas",
    "openFilters": "Abrir filtros de búsqueda"
  }
}
</i18n>
