<template>
  <div>
    <section class="section is-main-section">
      <server-table-component
        ref="table"
        :data-url="getBasePath"
        :locale="$i18n.locale"
        v-bind="rolesDefs"
        :modal-width="500"
        :custom-headers="true"
        :is-detailed="true"
        @before-form-open="checkIfEditing"
        @cleanFilters="cleanAllFilters"
        @detailsOpen="getRolePermissions"
        @open-column-filter="showFilterForm"
        @container-contextmenu="
          (ev) => {
            if (ev) ev.preventDefault()
            rowInCtx = null
            ctxOpen = !ctxOpen
          }
        "
        @contextmenu="
          (ev, row) => {
            if (ev) ev.preventDefault()
            rowInCtx = row
            ctxOpen = !ctxOpen
          }
        "
      >
        <template #right-extra-header-content>
          <b-tooltip type="is-primary" :label="$t('filter')" size="is-small">
            <b-button
              class="table-buttons"
              :rounded="rolesDefs.vbuttons.roundedButtons"
              :outlined="rolesDefs.vbuttons.outlinedButtons"
              icon-left="filter"
              type="is-primary is-light"
              @click="showFilterForm"
            />
          </b-tooltip>
        </template>
        <template #detail="props">
          <table-component
            header-icon="account-settings-outline"
            :locale="$i18n.locale"
            :title="props.row.name"
            :subtitle="$tc('permission', 2)"
            :records="detailDefs.records[props.row.id]"
            :headers="detailDefs.headers"
            :paginated="true"
            :pagination-simple="true"
            :per-page="5"
            :is-loading="detailLoading === props.row.id"
          />
        </template>
      </server-table-component>
    </section>
    <ctx />
  </div>
</template>

<script>
import {
  AdvancedFilterComponent,
  axiosToastErrorsMixin,
  DateColumnComponent,
  LargeTextColumnComponent,
  SelectComponent,
  TextAreaComponent,
  TextComponent,
  TYPE_FULLDATETIME,
  TYPE_TEXT
} from 'premium-tesh-ui-lib'

import TreeNodeSelector from '~/components/Inputs/TreeNodeSelector.vue'
import tableContextMenuMixin from '~/mixins/tableContextMenuMixin'
import genericFiltersMixin from '~/mixins/genericFiltersMixin'

export default {
  name: 'Roles',
  mixins: [genericFiltersMixin, axiosToastErrorsMixin, tableContextMenuMixin],
  middleware: 'guest',
  meta: {
    requiresAdmin: true
  },
  data() {
    return {
      reload: false,
      rolesDefs: {
        vtable: {
          draggable: false,
          headers: [
            {
              text: 'Id',
              value: 'id',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'id'
              }
            },
            {
              text: this.$t('nameLabel'),
              value: 'name',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'name'
              }
            },
            {
              text: this.$t('descriptionLabel'),
              value: 'description',
              align: 'left',
              sortable: true,
              render: {
                type: LargeTextColumnComponent,
                props: {
                  showDisplayButton: true,
                  content: this.$t('descriptionLabel'),
                  locale: this.$i18n.locale,
                  textLenght: 30
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'description'
              }
            },
            {
              text: this.$t('roleContext'),
              value: 'permissionType',
              align: 'left',
              sortable: true,
              rendervalue: (v) => {
                if (v === 1) return this.$tc('system')
                else if (v === 2) return this.$tc('channelLabel', 1)
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'permissionType'
              }
            },
            {
              text: this.$t('createdBy'),
              value: 'createdBy',
              align: 'left',
              sortable: true,
              custom: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'createdBy'
              }
            },
            {
              text: this.$t('createDateTime'),
              value: 'createdDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'createdDate'
              }
            },
            {
              text: this.$t('modifiedBy'),
              value: 'modifiedBy',
              align: 'left',
              sortable: true,
              custom: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'modifiedBy'
              }
            },
            {
              text: this.$t('modifyDateTime'),
              value: 'modifiedDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'modifiedDate'
              }
            },
            {
              text: this.$t('actions'),
              value: '',
              fixed: true,
              sortable: false,
              cellClass: 'actions-column',
              action: true,
              filter: {
                useFilter: false
              }
            }
          ]
        },
        vicon: {
          roundedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          edit: {
            show: true,
            name: 'pencil',
            type: 'is-primary',
            tooltip: {
              label: this.$t('editButton'),
              type: 'is-primary',
              position: 'is-top'
            }
          },
          delete: {
            show: true,
            name: 'delete',
            type: 'is-danger',
            tooltip: {
              label: this.$t('deleteButton'),
              type: 'is-danger',
              position: 'is-left'
            }
          }
        },
        vbtn: {
          create: {
            show: true,
            type: 'is-info is-light',
            icon: 'plus',
            tooltip: this.$t('create', { element: '' }),
            tooltipType: 'is-info',
            props: {
              rounded: true,
              outlined: true,
              class: 'table-buttons'
            }
          }
        },
        vbuttons: {
          roundedButtons: true,
          outlinedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          buttons: []
        },
        title: this.$t('cardTitle'),
        modalTitle: this.$t('cardTitle'),
        editModalTitle: this.$t('cardTitle'),
        headerIcon: 'account-settings-outline',
        form: {}
      },
      vrowButtons: {
        roundedButtons: true,
        outlinedButtons: false,
        size: 'is-small',
        class: 'table-buttons',
        buttons: [
          {
            label: this.$t('editButton'),
            icon: 'pencil',
            type: 'is-primary',
            tooltip: {
              label: this.$t('editButton'),
              type: 'is-primary'
            },
            action: this.editRole
          },
          {
            label: this.$t('deleteButton'),
            icon: 'delete',
            type: 'is-danger',
            tooltip: {
              label: this.$t('deleteButton'),
              type: 'is-danger'
            },
            action: this.deleteRole
          }
        ]
      },
      filterForm: {
        rolesFilter: {
          title: this.$t('cardTitle'),
          icon: 'account-question-outline',
          fields: {
            Id: {
              fieldType: TYPE_TEXT,
              label: 'Id',
              placeholder: this.$t('placeholder', {
                key: 'id'
              }),
              activeOperator: '=='
            },
            Name: {
              fieldType: TYPE_TEXT,
              label: this.$t('nameLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('nameLabel').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            Description: {
              fieldType: TYPE_TEXT,
              label: this.$t('descriptionLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('descriptionLabel').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            Context: {
              type: SelectComponent,
              default: '',
              'field-wrapper': { class: 'is-12' },
              'field-input': {
                isRequired: false,
                label: this.$t('roleContext'),
                expanded: true,
                placeholder: this.$t('placeholder', {
                  key: this.$t('roleContext').toLowerCase()
                }),
                optionId: 'id',
                optionName: 'name',
                optionItems: [
                  { id: 1, name: this.$tc('system') },
                  { id: 2, name: this.$tc('channelLabel', 1) }
                ],
                showClearIcon: true
              }
            }
          }
        },
        UsersFilter: {
          title: this.$t('users'),
          icon: 'account-group',
          form: {
            CreatedBy: {
              fieldType: TYPE_TEXT,
              label: this.$t('createdBy'),
              placeholder: this.$t('placeholder', {
                key: this.$t('createdBy').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            ModifiedBy: {
              fieldType: TYPE_TEXT,
              label: this.$t('modifiedBy'),
              placeholder: this.$t('placeholder', {
                key: this.$t('modifiedBy').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            }
          }
        },
        DatesFilter: {
          title: this.$tc('date', 2),
          icon: 'calendar',
          form: {
            CreatedDate: {
              fieldType: TYPE_FULLDATETIME,
              label: this.$t('createDateTime'),
              placeholder: this.$t('placeholder', {
                key: this.$t('createDateTime').toLowerCase()
              }),
              value: null
            },
            ModifiedDate: {
              fieldType: TYPE_FULLDATETIME,
              label: this.$t('modifyDateTime'),
              placeholder: this.$t('placeholder', {
                key: this.$t('modifyDateTime').toLowerCase()
              }),
              value: null
            }
          }
        }
      },
      filters: '',
      filtersConstants: {
        Id: 'id',
        Name: 'name',
        Description: 'description',
        Context: 'permissionType',
        CreatedDate: 'createdDate',
        ModifiedDate: 'modifiedDate',
        CreatedBy: 'createdBy',
        ModifiedBy: 'modifiedBy'
      },
      rolesSelect: false,
      detailDefs: {
        headers: [
          { text: this.$tc('permission'), value: 'permissionName' },
          {
            text: this.$t('descriptionLabel'),
            value: 'description',
            render: {
              type: LargeTextColumnComponent,
              props: {
                showDisplayButton: true,
                content: this.$t('descriptionLabel'),
                locale: this.$i18n.locale,
                textLenght: 30
              }
            }
          },
          { text: this.$t('groupName'), value: 'groupName' }
        ],
        records: {}
      },
      detailLoading: null,
      editing: false
    }
  },
  head() {
    return {
      title: this.$config.appName
    }
  },
  computed: {
    titleStack() {
      return ['Admin', 'Tables']
    },
    getBasePath() {
      return this.reload
        ? ''
        : this.filters !== ''
        ? `/Role?filters=${this.filters}`
        : `/Role`
    },
    ctxOptions() {
      const opt = [
        { id: 'add', icon: 'plus', name: this.$t('addButton') },
        { id: 'edit', icon: 'pencil', name: this.$t('editButton') },
        { id: 'delete', icon: 'trash-can', name: this.$t('deleteButton') }
      ]
      return this.rowInCtx ? opt : opt.slice(0, 1)
    },
    roleForm() {
      return {
        id: {
          type: null,
          'field-wrapper': { style: 'display: none' },
          render: (v) => {
            if (v && this.editing)
              this.roleForm.permissionNames['field-input'].treeData =
                this.getRolePermissionNames(v)
            return v
          }
        },
        name: {
          type: TextComponent,
          value: '',
          default: '',
          'field-wrapper': { class: 'is-12' },
          'field-input': {
            label: this.$t('nameLabel'),
            placeholder: this.$t('placeholder', {
              key: this.$t('nameLabel').toLowerCase()
            })
          }
        },
        description: {
          type: TextAreaComponent,
          value: '',
          default: '',
          'field-wrapper': { class: 'is-12' },
          'field-input': {
            label: this.$t('descriptionLabel'),
            placeholder: this.$t('placeholder', {
              key: this.$t('descriptionLabel').toLowerCase()
            })
          }
        },
        permissionType: {
          type: SelectComponent,
          default: 2,
          value: 2,
          'field-wrapper': { class: 'is-12' },
          'field-input': {
            label: this.$t('roleContext'),
            expanded: true,
            placeholder: this.$t('placeholderSelect', {
              key: this.$t('roleContext').toLowerCase()
            }),
            optionId: 'id',
            optionName: 'typeName',
            optionItems: [
              {
                id: 1,
                typeName: this.$tc('system')
              },
              {
                id: 2,
                typeName: this.$tc('channelLabel', 1)
              }
            ],
            showClearIcon: false
          },
          events: {
            input: (v) => {
              if (!this.editing)
                this.rolesDefs.form.permissionNames['field-input'].treeData =
                  this.getPermissions(v)
            }
          }
        },
        permissionNames: {
          type: TreeNodeSelector,
          default: [],
          'field-wrapper': {
            class: 'is-12 group-is-block'
          },
          'field-input': {
            label: this.$tc('permission', 3),
            horizontal: true,
            isRequired: true,
            checkbox: true,
            multipleSelection: true,
            treeData: []
          },
          events: {
            onNodeChecked: (n, checked) => {
              this.rolesDefs.form.permissionNames.value = checked
            },
            onNodeUnchecked: (n, checked) => {
              this.rolesDefs.form.permissionNames.value = checked
            }
          },
          save: (checked) => {
            const names = []
            const getName = (item) => {
              const name = item.data ? item.data.text : ''

              return name
            }
            checked.forEach((el) => {
              const n = getName(el)
              if (el.children && el.children.length > 0) {
                el.children.forEach((ch) => {
                  const n = getName(ch)
                  if (!names.includes(n)) names.push(n)
                })
              } else if (!names.includes(n)) names.push(n)
            })
            return names
          }
        }
      }
    }
  },
  created() {
    this.rolesDefs.form = this.roleForm
  },
  methods: {
    showFilterForm(field) {
      const ffield = field && field.useFilter ? field : null
      this.assignColumnFilterForm(ffield)

      this.$buefy.modal.open({
        parent: this,
        component: AdvancedFilterComponent,
        props: {
          form: ffield ? ffield.filterForm : this.filterForm,
          isInModal: true,
          filterType: 'roles',
          stickyInside: true,
          locale: this.$i18n.locale,
          cardTitle: this.$t('cardTitle'),
          cardSubtitle: this.$t('filter'),
          enableAdvancedSearch: false,
          modalWidth: ffield ? 500 : 850,
          simpleMode: !!ffield,
          utc: true
        },
        events: {
          'filters-updated': this.updateFilters,
          'count-results': (q) => this.countResults(q, this.getBasePath),
          'clear-filters': this.resetForm,
          'filters-count': (v) => (this.filtersCount = v)
        },
        hasModalCard: true,
        destroyOnHide: true,
        trapFocus: true
      })
    },
    updateFilters(queries) {
      this.queries = { ...this.queries, ...queries }
      this.filters = this.generateUrlFilters()
    },
    generateUrlFilters() {
      const array = []
      let str = ''

      // Spread date filters from normal ones
      const dateQueries = {}
      dateQueries.CreatedDate = { ...this.queries.CreatedDate }
      dateQueries.ModifiedDate = { ...this.queries.ModifiedDate }
      delete this.queries.CreatedDate
      delete this.queries.ModifiedDate

      // Generate standar filters
      str = this.urlFilters(this.queries, this.filtersConstants, 'text')
      array.push(str)

      Array.prototype.push.apply(
        array,
        this.specificDateFilter(
          'CreatedDate',
          'CreatedDate',
          dateQueries,
          this.filtersConstants
        )
      )

      Array.prototype.push.apply(
        array,
        this.specificDateFilter(
          'ModifiedDate',
          'ModifiedDate',
          dateQueries,
          this.filtersConstants
        )
      )
      return array.join(',')
    },
    resetForm() {
      this.filters = ''
    },
    getRolePermissions(role) {
      this.detailLoading = role.id
      this.$axios
        .get(`role/${role.id}`)
        .then((response) => {
          this.detailDefs.records[role.id] = [
            ...response.data.permissionsWithSelect.filter(
              (r) => r.selected === true
            )
          ]
        })
        .catch((err) => this.toastError(err))
        .finally(() => (this.detailLoading = null))
    },
    getRolePermissionNames(roleId) {
      const permissions = []
      this.$axios
        .get(`role/${roleId}`)
        .then((response) => {
          // Group permissions by groupName
          const groups = []
          const data = response.data.permissionsWithSelect
          data.forEach((element) => {
            if (!groups.includes(element.groupName))
              groups.push(element.groupName)
          })
          groups.forEach((element) => {
            const groupItems = data.filter((p) => p.groupName === element)
            // Create a node element
            let group = { text: element, children: [] }
            if (groupItems.length > 1) {
              groupItems.forEach((item) => {
                // Insert group children items
                group.children.push({
                  text: item.permissionName,
                  state: { checked: item.selected }
                })
              })
              // Reasign permission with no other group
            } else
              group = {
                text: groupItems[0].permissionName,
                state: { checked: groupItems[0].selected }
              }
            permissions.push(group)
          })
        })
        .catch((err) => this.toastError(err))
      return permissions
    },
    getPermissions(context) {
      const dataUrl = `Role/Permissions${
        context ? `?permissionType=${context}` : ''
      }`
      const options = []
      this.$axios
        .get(dataUrl)
        .then((response) => {
          // Group permissions by groupName
          const groups = []
          response.data.forEach((element) => {
            if (!groups.includes(element.groupName))
              groups.push(element.groupName)
          })
          groups.forEach((element) => {
            const groupItems = response.data.filter(
              (p) => p.groupName === element
            )
            // Create a node element
            let group = { text: element, children: [] }
            if (groupItems.length > 1) {
              groupItems.forEach((item) => {
                // Insert group children items
                group.children.push({
                  text: item.permissionName,
                  state: { checked: item.selected }
                })
              })
              // Reasign permission with no other group
            } else
              group = {
                text: groupItems[0].permissionName,
                state: { checked: groupItems[0].selected }
              }
            options.push(group)
          })
        })
        .catch((err) => this.toastError(err))

      return options
    },
    checkIfEditing(form, id) {
      if (id) {
        this.editing = true
        this.rolesDefs.form.permissionType['field-wrapper'].style =
          'display: none'
      } else {
        this.rolesDefs.form.name.value = ''
        this.rolesDefs.form.description.value = ''
        this.rolesDefs.form.permissionNames.value = ''
        this.rolesDefs.form.permissionType['field-wrapper'].style = ''
        this.editing = false
      }
    },
    cleanAllFilters() {
      this.reload = true
      this.filters = ''
      setTimeout(() => {
        this.reload = false
      }, 1000)
      this.filtersCount = 0
    }
  }
}
</script>
<i18n>
{
  "en": {
    "cardTitle": "Rols",
    "nameLabel": "Name",
    "urlLabel": "Base Url",
    "iconLabel": "Icon",
    "propertiesLabel": "Properties",
    "permissionType": "Permission Type",
    "isActiveLabel": "Active",
    "uploadLabel": "Upload Icon",
    "deleteLabel": "Delete Icon",
    "permission": "Permission | Permission | Permissions",
    "groupName": "Group Name",
    "details": "Details",
    "invalidPermissions": "Invalid permissions for the selected role type",
    "roleContext": "Role Context"
  },
  "es": {
    "cardTitle": "Roles",
    "nameLabel": "Nombre",
    "urlLabel": "Url Base",
    "iconLabel": "Ícono",
    "propertiesLabel": "Propiedades",
    "permissionType": "Tipo de permiso",
    "isActiveLabel": "Activo",
    "uploadLabel": "Subir Ícono",
    "deleteLabel": "Eliminar Ícono",
    "permission": "Permiso | Permiso | Permisos",
    "groupName": "Nombre del grupo",
    "details": "Detalles",
    "invalidPermissions": "Permisos inválidos para el tipo de rol seleccionado",
    "roleContext": "Contexto del Rol"
  }
}
</i18n>
