<template>
  <div>
    <section class="section is-main-section">
      <server-table-component
        ref="table"
        :data-url="getBasePath"
        :locale="$i18n.locale"
        v-bind="tableDefs"
        :custom-headers="true"
        @cleanFilters="cleanAllFilters"
        @open-column-filter="showFilterForm"
        @container-contextmenu="
          (ev) => {
            if (ev) ev.preventDefault()
            rowInCtx = null
            ctxOpen = !ctxOpen
          }
        "
        @contextmenu="
          (ev, row) => {
            if (ev) ev.preventDefault()
            rowInCtx = row
            ctxOpen = !ctxOpen
          }
        "
      >
        <template #right-extra-header-content>
          <b-tooltip
            type="is-primary"
            :label="$t('filter')"
            size="is-small"
            class="filter-button"
          >
            <b-button
              class="table-buttons"
              :rounded="tableDefs.vbuttons.roundedButtons"
              :outlined="tableDefs.vbuttons.outlinedButtons"
              icon-left="filter"
              type="is-primary is-light"
              @click="showFilterForm"
            >
              <span v-show="filtersCount > 0" class="filter-badge">{{
                filtersCount
              }}</span>
            </b-button>
          </b-tooltip>
        </template>
        <template #extra-header-buttons>
          <b-tooltip
            type="is-info"
            :label="$t('manualSync')"
            position="is-right"
            size="is-small"
          >
            <b-button
              class="table-buttons"
              :rounded="tableDefs.vbuttons.roundedButtons"
              :outlined="false"
              icon-left="sync"
              :class="{
                'animate__animated animate__bounceIn': enabledManualSyncAnim
              }"
              :loading="reload"
              type="is-info is-light"
              @click="requestManualSync"
            />
          </b-tooltip>
        </template>
        <template #extra-row-buttons="record">
          <b-tooltip type="is-info" :label="$t('share')" size="is-small">
            <b-button
              class="table-buttons"
              :rounded="tableDefs.vbuttons.roundedButtons"
              :outlined="false"
              icon-left="share"
              :loading="reload"
              type="is-info"
              @click="prepareToShare(record.record.id)"
            />
          </b-tooltip>
        </template>
      </server-table-component>
      <ctx />
      <b-modal v-model="isModalActive">
        <content-channel
          :is-readonly="true"
          :checkable="true"
          :is-in-modal="true"
          :checked-rows="cChannelsChecked"
          @channels-to-share="shareIncomingStream"
          @updated-checked="updateChecked"
        />
      </b-modal>
    </section>
  </div>
</template>

<script>
import {
  AdvancedFilterComponent,
  axiosToastErrorsMixin,
  BoolToTextColumnComponent,
  DateColumnComponent,
  GenericFiltersMixin,
  MediaVisualizerColumnComponent,
  RadioPicker,
  SwitchComponent,
  TextComponent,
  TYPE_FULLDATETIME,
  TYPE_NUMBER,
  TYPE_TEXT
} from 'premium-tesh-ui-lib'

import contentChannelMixin from '~/mixins/contentChannelMixin'
import ContentChannel from '~/pages/contentChannel/index.vue'
import tableContextMenuMixin from '~/mixins/tableContextMenuMixin'

export default {
  name: 'IncomingStream',
  components: { ContentChannel },
  mixins: [
    GenericFiltersMixin,
    axiosToastErrorsMixin,
    contentChannelMixin,
    tableContextMenuMixin
  ],
  meta: { requiresAdmin: true },
  data() {
    return {
      tableDefs: {
        vtable: {
          draggable: false,
          headers: [
            {
              text: 'Id',
              value: 'id',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'id'
              }
            },
            {
              text: this.$t('visualize'),
              value: 'sourceIp',
              align: 'left',
              sortable: true,
              custom: true,
              render: {
                type: MediaVisualizerColumnComponent,
                props: {
                  showDisplayButton: true,
                  mediaMimeType: 'application/x-mpegurl',
                  locale: this.$i18n.locale,
                  basePath:
                    this.$store.state.APP_BASE_URL +
                    this.$store.state.API_DATA_PREFIX,
                  blankPageUrl: '/media-preview'
                },
                rendervalue: (v) => {
                  return v
                    ? {
                        title: v.name,
                        media: v.playBackUrl,
                        preview: this.getStaticMediaThumbnail(1) || undefined
                      }
                    : ''
                }
              },
              filter: {
                useFilter: false
              }
            },
            {
              text: this.$t('nameLabel'),
              value: 'name',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'name'
              }
            },
            {
              text: this.$t('applicationInstanceLabel'),
              value: 'applicationInstance',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'applicationInstance'
              }
            },
            {
              text: this.$t('isRecordingSetLabel'),
              value: 'isRecordingSet',
              align: 'left',
              sortable: true,
              render: {
                type: BoolToTextColumnComponent,
                props: {
                  trueText: this.$t('trueText'),
                  falseText: this.$t('falseText')
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'isRecordingSet'
              }
            },
            {
              text: this.$t('isManagerLabel'),
              value: 'isStreamManagerStream',
              align: 'left',
              sortable: true,
              render: {
                type: BoolToTextColumnComponent,
                props: {
                  trueText: this.$t('trueText'),
                  falseText: this.$t('falseText')
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'isStreamManagerStream'
              }
            },
            {
              text: this.$t('isPublishedLabel'),
              value: 'isPublishedToVOD',
              align: 'left',
              sortable: true,
              render: {
                type: BoolToTextColumnComponent,
                props: {
                  trueText: this.$t('trueText'),
                  falseText: this.$t('falseText')
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'isPublishedToVOD'
              }
            },
            {
              text: this.$t('isConnectedLabel'),
              value: 'isConnected',
              align: 'left',
              sortable: true,
              render: {
                type: BoolToTextColumnComponent,
                props: {
                  trueText: this.$t('trueText'),
                  falseText: this.$t('falseText')
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'isConnected'
              }
            },
            {
              text: this.$t('isPTZEnableLabel'),
              value: 'isPTZEnabled',
              align: 'left',
              sortable: true,
              render: {
                type: BoolToTextColumnComponent,
                props: {
                  trueText: this.$t('trueText'),
                  falseText: this.$t('falseText')
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'isPTZEnabled'
              }
            },
            {
              text: this.$t('ptzPollingIntervalLabel'),
              value: 'ptzPollingInterval',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'ptzPollingInterval'
              }
            },
            {
              text: this.$t('ptzPollingIntervalMinLabel'),
              value: 'ptzPollingIntervalMinimum',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'ptzPollingIntervalMinimum'
              }
            },
            {
              text: this.$t('createdBy'),
              value: 'createdBy',
              align: 'left',
              sortable: true,
              custom: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'createdBy'
              }
            },
            {
              text: this.$t('createDateTime'),
              value: 'createdDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'createdDate'
              }
            },
            {
              text: this.$t('modifiedBy'),
              value: 'modifiedBy',
              align: 'left',
              sortable: true,
              custom: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'modifiedBy'
              }
            },
            {
              text: this.$t('modifyDateTime'),
              value: 'modifiedDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'modifiedDate'
              }
            },
            {
              text: this.$t('actions'),
              value: '',
              fixed: true,
              sortable: false,
              cellClass: 'actions-column',
              action: true,
              filter: {
                useFilter: false
              }
            }
          ]
        },
        vbtn: {
          create: {
            show: false
          }
        },
        vicon: {
          roundedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          edit: {
            show: false,
            name: 'pencil',
            type: 'is-primary',
            tooltip: {
              label: this.$t('editIncoming'),
              type: 'is-primary',
              position: 'is-top'
            }
          },
          delete: {
            show: false,
            name: 'delete',
            type: 'is-danger',
            tooltip: {
              label: this.$t('deleteIncoming'),
              type: 'is-primary',
              position: 'is-top'
            }
          }
        },
        vbuttons: {
          roundedButtons: true,
          outlinedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          buttons: []
        },
        title: this.$t('cardTitle'),
        modalTitle: this.$t('cardTitle'),
        editModalTitle: this.$t('cardTitle'),
        headerIcon: 'cast-audio-variant',
        form: {
          id: {
            type: null,
            'field-wrapper': { style: 'display: none' },
            'field-input': {
              isRequired: false
            }
          },
          name: {
            type: TextComponent,
            value: '',
            default: '',
            'field-wrapper': { class: 'is-12' },
            'field-input': {
              label: this.$t('nameLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('nameLabel').toLowerCase()
              })
            }
          },
          applicationInstance: {
            type: TextComponent,
            value: '',
            default: '',
            'field-wrapper': { class: 'is-12' },
            'field-input': {
              label: this.$t('applicationInstanceLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('applicationInstanceLabel').toLowerCase()
              })
            }
          },
          sourceIp: {
            type: TextComponent,
            value: '',
            default: '',
            'field-wrapper': { class: 'is-12' },
            'field-input': {
              label: this.$t('sourceIpLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('sourceIpLabel').toLowerCase()
              })
            }
          },
          isRecordingSet: {
            type: SwitchComponent,
            default: '',
            'field-wrapper': { class: 'is-12' },
            'field-input': {
              isRequired: false,
              label: this.$t('isRecordingSetLabel'),
              trueObject: {
                value: true,
                label: '',
                tooltip: this.$t('isRecordingSetLabel')
              },
              falseObject: {
                value: false,
                tooltip: this.$t('isRecordingSetLabel')
              }
            },
            save: (v) => {
              if (v === true) {
                return true
              } else {
                return false
              }
            }
          },
          isStreamManagerStream: {
            type: SwitchComponent,
            default: '',
            'field-wrapper': { class: 'is-12' },
            'field-input': {
              isRequired: false,
              label: this.$t('isManagerLabel'),
              trueObject: {
                value: true,
                label: '',
                tooltip: this.$t('isManagerLabel')
              },
              falseObject: {
                value: false,
                tooltip: this.$t('isManagerLabel')
              }
            },
            save: (v) => {
              if (v === true) {
                return true
              } else {
                return false
              }
            }
          },
          isPublishedToVOID: {
            type: SwitchComponent,
            default: '',
            'field-wrapper': { class: 'is-12' },
            'field-input': {
              isRequired: false,
              label: this.$t('isPublishedLabel'),
              trueObject: {
                value: true,
                label: '',
                tooltip: this.$t('isPublishedLabel')
              },
              falseObject: {
                value: false,
                tooltip: this.$t('isPublishedLabel')
              }
            },
            save: (v) => {
              if (v === true) {
                return true
              } else {
                return false
              }
            }
          },
          isConnected: {
            type: SwitchComponent,
            default: '',
            'field-wrapper': { class: 'is-12' },
            'field-input': {
              isRequired: false,
              label: this.$t('isConnectedLabel'),
              trueObject: {
                value: true,
                label: '',
                tooltip: this.$t('isConnectedLabel')
              },
              falseObject: {
                value: false,
                tooltip: this.$t('isConnectedLabel')
              }
            },
            save: (v) => {
              if (v === true) {
                return true
              } else {
                return false
              }
            }
          },
          isPTZEnable: {
            type: SwitchComponent,
            default: '',
            'field-wrapper': { class: 'is-12' },
            'field-input': {
              isRequired: false,
              label: this.$t('isPTZEnableLabel'),
              trueObject: {
                value: true,
                label: '',
                tooltip: this.$t('isPTZEnableLabel')
              },
              falseObject: {
                value: false,
                tooltip: this.$t('isPTZEnableLabel')
              }
            },
            save: (v) => {
              if (v === true) {
                return true
              } else {
                return false
              }
            }
          }
        }
      },
      filterForm: {
        IncomingFilter: {
          title: this.$t('cardTitle'),
          icon: 'cast-audio-variant',
          form: {
            Id: {
              fieldType: TYPE_TEXT,
              label: 'Id',
              placeholder: this.$t('placeholder', {
                key: 'id'
              }),
              activeOperator: '=='
            },
            Name: {
              fieldType: TYPE_TEXT,
              label: this.$t('nameLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('nameLabel').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            ApplicationInstance: {
              fieldType: TYPE_TEXT,
              label: this.$t('applicationInstanceLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('applicationInstanceLabel').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            SourceIp: {
              fieldType: TYPE_TEXT,
              label: this.$t('sourceIpLabel'),
              placeholder: this.$t('placeholder', {
                key: this.$t('sourceIpLabel').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            PTZPollingInterval: {
              fieldType: TYPE_NUMBER,
              default: 0,
              label: this.$t('ptzPollingIntervalLabel'),
              operators: ['==', '<', '>'],
              activeOperator: '=='
            },
            PTZPollingIntervalMin: {
              fieldType: TYPE_NUMBER,
              default: 0,
              label: this.$t('ptzPollingIntervalMinLabel'),
              operators: ['==', '<', '>'],
              activeOperator: '=='
            }
          }
        },
        PropertiesFilter: {
          title: this.$t('propertiesLabel'),
          icon: 'newspaper-variant-outline',
          form: {
            IsRecordingSet: {
              type: RadioPicker,
              default: null,
              'field-wrapper': { class: 'is-12' },
              'field-input': {
                label: this.$t('isRecordingSetLabel'),
                options: {
                  true: this.$t('trueText'),
                  false: this.$t('falseText'),
                  null: this.$t('anyLabel')
                },
                customClass: 'group-is-block'
              },
              save: (v) => {
                return v !== 'null' ? v : null
              }
            },
            IsStreamManagerStream: {
              type: RadioPicker,
              default: null,
              'field-wrapper': { class: 'is-12' },
              'field-input': {
                label: this.$t('isManagerLabel'),
                options: {
                  true: this.$t('trueText'),
                  false: this.$t('falseText'),
                  null: this.$t('anyLabel')
                },
                customClass: 'group-is-block'
              },
              save: (v) => {
                return v !== 'null' ? v : null
              }
            },
            IsPublishedToVOID: {
              type: RadioPicker,
              default: null,
              'field-wrapper': { class: 'is-12' },
              'field-input': {
                label: this.$t('isPublishedLabel'),
                options: {
                  true: this.$t('trueText'),
                  false: this.$t('falseText'),
                  null: this.$t('anyLabel')
                },
                customClass: 'group-is-block'
              },
              save: (v) => {
                return v !== 'null' ? v : null
              }
            },
            IsConnected: {
              type: RadioPicker,
              default: null,
              'field-wrapper': { class: 'is-12' },
              'field-input': {
                label: this.$t('isConnectedLabel'),
                options: {
                  true: this.$t('trueText'),
                  false: this.$t('falseText'),
                  null: this.$t('anyLabel')
                },
                customClass: 'group-is-block'
              },
              save: (v) => {
                return v !== 'null' ? v : null
              }
            },
            IsPTZEnable: {
              type: RadioPicker,
              default: null,
              'field-wrapper': { class: 'is-12' },
              'field-input': {
                label: this.$t('isPTZEnableLabel'),
                options: {
                  true: this.$t('trueText'),
                  false: this.$t('falseText'),
                  null: this.$t('anyLabel')
                },
                customClass: 'group-is-block'
              },
              save: (v) => {
                return v !== 'null' ? v : null
              }
            }
          }
        },
        UsersFilter: {
          title: this.$t('users'),
          icon: 'account-group',
          form: {
            CreatedBy: {
              fieldType: TYPE_TEXT,
              label: this.$t('createdBy'),
              placeholder: this.$t('placeholder', {
                key: this.$t('createdBy').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            ModifiedBy: {
              fieldType: TYPE_TEXT,
              label: this.$t('modifiedBy'),
              placeholder: this.$t('placeholder', {
                key: this.$t('modifiedBy').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            }
          }
        },
        DatesFilter: {
          title: this.$tc('date', 2),
          icon: 'calendar',
          form: {
            CreatedDate: {
              fieldType: TYPE_FULLDATETIME,
              label: this.$t('createDateTime'),
              placeholder: this.$t('placeholder', {
                key: this.$t('createDateTime').toLowerCase()
              }),
              value: null
            },
            ModifiedDate: {
              fieldType: TYPE_FULLDATETIME,
              label: this.$t('modifyDateTime'),
              placeholder: this.$t('placeholder', {
                key: this.$t('modifyDateTime').toLowerCase()
              }),
              value: null
            }
          }
        }
      },
      filters: '',
      filtersConstants: {
        Id: 'id',
        Name: 'name',
        ApplicationInstance: 'applicationInstance',
        SourceIp: 'sourceIp',
        IsRecordingSet: 'isRecordingSet',
        IsStreamManagerStream: 'isStreamManagerStream',
        IsPublishedToVOID: 'isPublishedToVOD',
        IsConnected: 'isConnected',
        IsPTZEnable: 'isPTZEnabled',
        PTZPollingInterval: 'ptzPollingInterval',
        PTZPollingIntervalMin: 'ptzPollingIntervalMinimum',
        CreatedBy: 'createdBy',
        CreatedDate: 'createdDate',
        ModifiedBy: 'modifiedBy',
        ModifiedDate: 'modifiedDate'
      },
      filtersCount: 0,
      reload: false,
      isModalActive: false,
      enabledManualSyncAnim: false,
      incomingSelected: null,
      filtersDefsCChannel: {
        title: this.$tc('contentChannelLabel', 1),
        form: {}
      },
      resultsDefs: {
        title: this.$tc('contentChannelLabel', 1),
        headerIcon: 'television-classic',
        vtable: {
          headers: []
        }
      },
      cChannelsChecked: [],
      channelsCheckedObjs: []
    }
  },
  head() {
    return {
      title: this.$config.appName
    }
  },
  computed: {
    titleStack() {
      return ['Admin', 'Tables']
    },
    getBasePath() {
      return this.reload
        ? ''
        : this.filters !== ''
        ? `/IncomingStream?filters=${this.filters}`
        : `/IncomingStream`
    },
    ctxOptions() {
      const opt = [
        { id: 'sync', icon: 'sync', name: this.$t('manualSync') },
        { id: 'share', icon: 'share', name: this.$t('share') }
      ]
      return this.rowInCtx ? opt : opt.slice(0, 1)
    }
  },
  created() {
    this.filtersDefsCChannel.form = Object.assign({}, this.FilterFormCChannel)
    this.resultsDefs.vtable.headers = Object.assign({}, this.HeadersCChannel)
  },
  methods: {
    updateChecked(list) {
      this.cChannelsChecked = list
    },
    showFilterForm(field) {
      const ffield = field && field.useFilter ? field : null
      this.assignColumnFilterForm(ffield)

      this.$buefy.modal.open({
        parent: this,
        component: AdvancedFilterComponent,
        props: {
          form: ffield ? ffield.filterForm : this.filterForm,
          isInModal: true,
          filterType: 'audioStream',
          stickyInside: true,
          locale: this.$i18n.locale,
          cardTitle: this.$t('cardTitle'),
          cardSubtitle: this.$t('filter'),
          enableAdvancedSearch: false,
          modalWidth: ffield ? 500 : 850,
          simpleMode: !!ffield,
          utc: true
        },
        events: {
          'filters-updated': this.updateFilters,
          'count-results': (q) => this.countResults(q, this.getBasePath),
          'filters-count': (v) => (this.filtersCount = v)
        },
        hasModalCard: true,
        destroyOnHide: true,
        trapFocus: true
      })
    },
    handleCtxMenuClicked(option, record) {
      if (option && this.$refs.table) {
        if (option.id === 'sync') this.requestManualSync()
        if (option.id === 'edit' && record)
          this.$refs.table.formOpen(record[this.$refs.table.idName])
        else if (option.id === 'share' && record) this.prepareToShare(record.id)
      }
    },
    requestManualSync() {
      this.enabledManualSyncAnim = true
      setTimeout(() => {
        this.enabledManualSyncAnim = false
      }, 1000)
      this.$axios
        .post('/IncomingStream/ManualSynchronization')
        .then(() => {
          this.reload = true
          setTimeout(() => {
            this.reload = false
          }, 1000)
        })
        .catch((err) => {
          this.toastError(err)
        })
    },
    prepareToShare(IncomingStreamId) {
      this.incomingSelected = IncomingStreamId
      this.$axios
        .get(
          `ContextedIncomingStream?Filters=incomingStreamId==${IncomingStreamId}`
        )
        .then((response) => {
          if (response.data.results && response.data.results.length)
            this.cChannelsChecked = response.data.results.map(function (
              channel
            ) {
              return channel.entityId
            })
          this.isModalActive = true
        })
        .catch((err) => {
          this.toastError(err)
        })
    },
    shareIncomingStream(channelList) {
      this.isModalActive = false
      const channelsId = channelList

      this.$axios
        .post('ContextedIncomingStream/contentchannel', {
          entityId: channelsId,
          incomingStreamId: this.incomingSelected
        })
        .then((response) => {
          this.$buefy.toast.open({
            message: this.$t('shareSuccess'),
            type: 'is-success'
          })
        })
        .catch((err) => {
          this.toastError(err)
        })
    },
    cleanAllFilters() {
      this.reload = true
      this.filters = ''
      setTimeout(() => {
        this.reload = false
      }, 1000)
      this.filtersCount = 0
    }
  }
}
</script>
<i18n>
{
  "en": {
    "cardTitle": "Incoming Stream",
    "applicationInstanceLabel": "Application Instance",
    "sourceIpLabel": "Source Ip",
    "isRecordingSetLabel": "Recording Set",
    "isManagerLabel": "Stream Manager",
    "isPublishedLabel": "Published To VOD",
    "isConnectedLabel": "Connected",
    "isPTZEnableLabel": "PTZ Enable",
    "ptzPollingIntervalLabel": "PTZ Polling Interval",
    "ptzPollingIntervalMinLabel": "PTZ Polling Interval Min",
    "editIncoming": "Edit Incoming",
    "deleteIncoming": "Delete Incoming",
    "propertiesLabel": "Properties"
  },
  "es": {
    "cardTitle": "Flujo de Entrada",
    "applicationInstanceLabel": "Instancia de la Aplicación",
    "sourceIpLabel": "IP Origen",
    "isRecordingSetLabel": "Set de Grabación",
    "isManagerLabel": "Flujo Administrativo",
    "isPublishedLabel": "Publicado en VOD",
    "isConnectedLabel": "Conectado",
    "isPTZEnableLabel": "Activar PTZ",
    "ptzPollingIntervalLabel": "Intervalo de Sondeo PTZ",
    "ptzPollingIntervalMinLabel": "Intervalo de Sondeo Mínimo PTZ",
    "editIncoming": "Editar Entrada",
    "deleteIncoming": "Eliminar Entrada",
    "propertiesLabel": "Propiedades"
  }
}
</i18n>
