<template>
  <div>
    <section class="section is-main-section">
      <server-table-component
        ref="table"
        :data-url="getBasePath"
        :locale="$i18n.locale"
        v-bind="tableDefs"
        :custom-headers="true"
        @cleanFilters="cleanAllFilters"
        @open-column-filter="showFilterForm"
        @container-contextmenu="
          (ev) => {
            if (ev) ev.preventDefault()
            rowInCtx = null
            ctxOpen = !ctxOpen
          }
        "
        @contextmenu="
          (ev, row) => {
            if (ev) ev.preventDefault()
            rowInCtx = row
            ctxOpen = !ctxOpen
          }
        "
      >
        <template #extra-header-buttons>
          <b-tooltip
            type="is-info"
            :label="$t('manualSync')"
            position="is-right"
            size="is-small"
          >
            <b-button
              class="table-buttons"
              :rounded="tableDefs.vbuttons.roundedButtons"
              :outlined="false"
              icon-left="sync"
              :class="{
                'animate__animated animate__bounceIn': enabledManualSyncAnim
              }"
              :loading="reload"
              type="is-info is-light"
              @click="requestManualSync"
            />
          </b-tooltip>
        </template>
        <template #right-extra-header-content>
          <b-tooltip
            type="is-primary"
            :label="$t('filter')"
            size="is-small"
            class="filter-button"
          >
            <b-button
              class="table-buttons"
              :rounded="tableDefs.vbuttons.roundedButtons"
              :outlined="tableDefs.vbuttons.outlinedButtons"
              icon-left="filter"
              type="is-primary is-light"
              @click="showFilterForm"
            >
              <span v-show="filtersCount > 0" class="filter-badge">{{
                filtersCount
              }}</span>
            </b-button>
          </b-tooltip>
        </template>
        <template #extra-row-buttons="record">
          <b-tooltip
            type="is-white"
            :label="$t('visualizeIncomingStreamJson')"
            size="is-small"
            position="is-top"
          >
            <b-button
              class="table-buttons"
              :rounded="true"
              :outlined="false"
              icon-left="monitor"
              type="is-white"
              @click.stop="visualizeIncomingStreamJson(record.record.json)"
            />
          </b-tooltip>
          <b-tooltip
            type="is-success"
            :label="$t('download')"
            size="is-small"
            position="is-left"
          >
            <b-button
              class="table-buttons"
              :rounded="true"
              :outlined="false"
              icon-left="download"
              type="is-success"
              @click.stop="downloadIncomingStreamJson(record.record)"
            />
          </b-tooltip>
        </template>
      </server-table-component>
      <ctx />
    </section>
    <b-modal
      ref="modalcard"
      :active="showModal"
      has-modal-card
      trap-focus
      aria-role="dialog"
      aria-modal
      :destroy-on-hide="false"
      :can-cancel="['escape', 'x']"
    >
      <card-component
        ref="modalcard"
        :is-in-modal="true"
        :title="$t('cardTitle')"
        title-class="is-size-5"
        :modal-width="500"
        @modalClose="closeModal"
      >
        <div style="min-height: 280px !important">
          <TreeView
            root-object-key="Incoming Stream Json"
            :limit-render-depth="true"
            :data="json"
          />
        </div>
        <template #footer>
          <b-field
            class="column"
            grouped
            position="is-right"
            style="padding: 0"
          >
            <b-button type="is-primary is-light" outlined @click="closeModal">
              <b-icon icon="close" size="is-small" />
              <span>{{ $t('closeButton') }}</span>
            </b-button>
          </b-field>
        </template>
      </card-component>
    </b-modal>
  </div>
</template>

<script>
import {
  AdvancedFilterComponent,
  DateColumnComponent,
  FileSizeColumnComponent,
  LargeTextColumnComponent,
  TYPE_FULLDATETIME,
  TYPE_NUMBER,
  TYPE_TEXT
} from 'premium-tesh-ui-lib'
import { TreeView } from 'vue-json-tree-view'
import downloadMixin from '~/mixins/downloadMixin'
import tableContextMenuMixin from '~/mixins/tableContextMenuMixin'
import genericFiltersMixin from '~/mixins/genericFiltersMixin'

export default {
  name: 'IncomingStreamJSON',
  components: {
    TreeView
  },
  mixins: [genericFiltersMixin, downloadMixin, tableContextMenuMixin],
  meta: { requiresAdmin: true },
  data() {
    return {
      tableDefs: {
        vtable: {
          draggable: false,
          headers: [
            {
              text: 'Id',
              value: 'id',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'id'
              }
            },
            {
              text: this.$t('checksum'),
              value: 'checksum',
              align: 'left',
              sortable: true,
              render: {
                type: LargeTextColumnComponent,
                props: {
                  textLenght: 30,
                  content: 'Checksum'
                }
              },
              filter: {
                useFilter: false
              }
            },
            {
              text: this.$t('fileSize'),
              value: 'fileSize',
              align: 'left',
              sortable: true,
              render: {
                type: FileSizeColumnComponent
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'fileSize'
              }
            },
            {
              text: this.$t('incomingCount'),
              value: 'incomingCount',
              align: 'left',
              sortable: true,
              filter: {
                useFilter: true,
                isActive: false,
                field: 'incomingCount'
              }
            },
            {
              text: this.$t('createdBy'),
              value: 'createdBy',
              align: 'left',
              sortable: true,
              custom: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'createdBy'
              }
            },
            {
              text: this.$t('createDateTime'),
              value: 'createdDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'createdDate'
              }
            },
            {
              text: this.$t('modifiedBy'),
              value: 'modifiedBy',
              align: 'left',
              sortable: true,
              custom: true,
              rendervalue: (value) => {
                return value || '---'
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'modifiedBy'
              }
            },
            {
              text: this.$t('modifyDateTime'),
              value: 'modifiedDate',
              align: 'left',
              sortable: true,
              render: {
                type: DateColumnComponent,
                props: { serverFormat: this.$store.state.SERVER_DATE_FORMAT },
                rendervalue: (value) => {
                  return value || '---'
                }
              },
              filter: {
                useFilter: true,
                isActive: false,
                field: 'modifiedDate'
              }
            },
            {
              text: this.$t('jsonActions'),
              value: '',
              fixed: true,
              sortable: false,
              cellClass: 'actions-column',
              action: true,
              filter: {
                useFilter: false
              }
            }
          ]
        },
        vbtn: {
          create: {
            show: false
          }
        },
        vicon: {
          roundedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          edit: {
            show: false
          },
          delete: {
            show: false
          }
        },
        vbuttons: {
          roundedButtons: true,
          outlinedButtons: true,
          size: 'is-small',
          class: 'table-buttons',
          buttons: []
        },
        title: this.$t('cardTitle'),
        modalTitle: this.$t('cardTitle'),
        editModalTitle: this.$t('cardTitle'),
        headerIcon: 'layers-triple',
        form: {}
      },
      filterForm: {
        IncomingFilter: {
          title: this.$t('cardTitle'),
          icon: 'cast-audio-variant',
          form: {
            Id: {
              fieldType: TYPE_TEXT,
              label: 'Id',
              placeholder: this.$t('placeholder', {
                key: 'id'
              }),
              activeOperator: '=='
            },
            fileSize: {
              fieldType: TYPE_NUMBER,
              label: this.$t('fileSize'),
              placeholder: this.$t('placeholder', {
                key: this.$t('fileSize').toLowerCase()
              }),
              activeOperator: '=='
            },
            incomingCount: {
              fieldType: TYPE_NUMBER,
              label: this.$t('incomingCount'),
              placeholder: this.$t('placeholder', {
                key: this.$t('incomingCount').toLowerCase()
              }),
              activeOperator: '=='
            }
          }
        },
        UsersFilter: {
          title: this.$t('users'),
          icon: 'account-group',
          form: {
            CreatedBy: {
              fieldType: TYPE_TEXT,
              label: this.$t('createdBy'),
              placeholder: this.$t('placeholder', {
                key: this.$t('createdBy').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            },
            ModifiedBy: {
              fieldType: TYPE_TEXT,
              label: this.$t('modifiedBy'),
              placeholder: this.$t('placeholder', {
                key: this.$t('modifiedBy').toLowerCase()
              }),
              operators: ['==', '@=*'],
              activeOperator: '=='
            }
          }
        },
        DatesFilter: {
          title: this.$tc('date', 2),
          icon: 'calendar',
          form: {
            CreatedDate: {
              fieldType: TYPE_FULLDATETIME,
              label: this.$t('createDateTime'),
              placeholder: this.$t('placeholder', {
                key: this.$t('createDateTime').toLowerCase()
              }),
              value: null
            },
            ModifiedDate: {
              fieldType: TYPE_FULLDATETIME,
              label: this.$t('modifyDateTime'),
              placeholder: this.$t('placeholder', {
                key: this.$t('modifyDateTime').toLowerCase()
              }),
              value: null
            }
          }
        }
      },
      filters: '',
      filtersConstants: {
        Id: 'id',
        Checksum: 'checksum',
        FileSize: 'fileSize',
        IncomingCount: 'incomingCount',
        CreatedBy: 'createdBy',
        CreatedDate: 'createdDate',
        ModifiedBy: 'modifiedBy',
        ModifiedDate: 'modifiedDate'
      },
      filtersCount: 0,
      reload: false,
      showModal: false,
      json: null,
      enabledManualSyncAnim: false
    }
  },
  head() {
    return {
      title: this.$config.appName
    }
  },
  computed: {
    titleStack() {
      return ['Admin', 'Tables']
    },
    getBasePath() {
      return this.reload
        ? ''
        : this.filters !== ''
        ? `/IncomingStreamJson?filters=${this.filters}`
        : `/IncomingStreamJson`
    },
    ctxOptions() {
      const opt = [
        { id: 'sync', icon: 'sync', name: this.$t('manualSync') },
        {
          id: 'visualize',
          icon: 'monitor',
          name: this.$t('visualizeIncomingStreamJson')
        },
        { id: 'download', icon: 'download', name: this.$t('download') }
      ]
      return this.rowInCtx ? opt : opt.slice(0, 1)
    }
  },
  methods: {
    handleCtxMenuClicked(option, record) {
      if (option) {
        if (option.id === 'sync') this.requestManualSync()
        if (option.id === 'visualize' && record)
          this.visualizeIncomingStreamJson(record.json)
        else if (option.id === 'download' && record)
          this.downloadIncomingStreamJson(record)
        else if (option.id === 'sync' && record) this.requestManualSync()
      }
    },
    showFilterForm(field) {
      const ffield = field && field.useFilter ? field : null
      this.assignColumnFilterForm(ffield)

      this.$buefy.modal.open({
        parent: this,
        component: AdvancedFilterComponent,
        props: {
          form: ffield ? ffield.filterForm : this.filterForm,
          isInModal: true,
          filterType: 'audioStream',
          stickyInside: true,
          locale: this.$i18n.locale,
          cardTitle: this.$t('cardTitle'),
          cardSubtitle: this.$t('filter'),
          enableAdvancedSearch: false,
          modalWidth: ffield ? 500 : 850,
          simpleMode: !!ffield,
          utc: true
        },
        events: {
          'filters-updated': this.updateFilters,
          'count-results': (q) => this.countResults(q, this.getBasePath),
          'filters-count': (v) => (this.filtersCount = v)
        },
        hasModalCard: true,
        destroyOnHide: true,
        trapFocus: true
      })
    },
    visualizeIncomingStreamJson(jsonContent) {
      this.json = JSON.parse(jsonContent)
      this.showModal = true
    },
    downloadIncomingStreamJson(record) {
      this.saveRecord(record.json, `checksum ${record.checksum}.json`)
    },
    closeModal() {
      this.showModal = false
    },
    requestManualSync() {
      this.enabledManualSyncAnim = true
      setTimeout(() => {
        this.enabledManualSyncAnim = false
      }, 1000)
      this.$axios
        .post('/IncomingStream/ManualSynchronization')
        .then(() => {
          this.reload = true
          setTimeout(() => {
            this.reload = false
          }, 1000)
        })
        .catch((err) => {
          this.toastError(err)
        })
    },
    cleanAllFilters() {
      this.reload = true
      this.filters = ''
      setTimeout(() => {
        this.reload = false
      }, 1000)
      this.filtersCount = 0
    }
  }
}
</script>
<i18n>
{
  "en": {
    "cardTitle": "Incoming Stream JSON",
    "applicationInstanceLabel": "Application Instance",
    "sourceIpLabel": "Source Ip",
    "visualizeIncomingStreamJson": "Visualize Incoming Stream",
    "incomingStreamJson": "Incoming Stream Json",
    "checksum": "Check Sum",
    "fileSize": "File Size",
    "incomingCount": "Incoming Count",
    "editIncoming": "Edit Incoming",
    "deleteIncoming": "Delete Incoming",
    "propertiesLabel": "Properties",
    "download": "JSON download"
  },
  "es": {
    "cardTitle": "JSON de Flujo de Entrada",
    "applicationInstanceLabel": "Instancia de la Aplicación",
    "sourceIpLabel": "IP Origen",
    "visualizeIncomingStreamJson": "Visualizar Flujo de Entrada",
    "incomingStreamJson": "Json de flujo entrante",
    "checksum": "Suma de Comprobación",
    "fileSize": "Tamaño del Archivo",
    "incomingCount": "Cantidad de Flujos de Entrada",
    "editIncoming": "Editar Entrada",
    "deleteIncoming": "Eliminar Entrada",
    "propertiesLabel": "Propiedades",
    "download": "Descargar JSON"
  }
}
</i18n>
